<div class="patternWrap">	
	<form name="frm_list" id="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "100px"/>
				<col width = "25%"/>
				<col width = "100px"/>
				<col width = "25%"/>
				<col width = "90px"/>
				<col width = "25%"/>
				<col width = "5px"/>
				<col width = "50px"/>
			</colgroup>
			<tbody>
				<tr>
					<td>
						$!comCode.getComboComCode("DATE_GB", "vrSrchDateGb", "", false, "", "", "","class='selectbox'")
					</td>
					<td>		
						<input type = "text" class = "text" style="width:34%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
						 ~
						<input type = "text" class = "text" style="width:34%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)">	
					</td>
					<th>$!lang.getText('화주')</th>
					#if($adminInfo.getCustId() == $ss_user_gb)
						<td>
							<input type="text" class = "readOnly" style="width: 44%" name="vrSrchCustCd" id="vrSrchCustCd" readonly="readonly" value="$ss_cmpy_code">
							<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
							<input type="text" class = "readOnly" style="width: 44%" name="vrSrchCustNm" id="vrSrchCustNm" readonly="readonly" value="$ss_cmpy_name">
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id">
						</td>
					#else
						<td>
							<input type="text" class = "text" style="width: 44%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
							<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch" name="btnSrchCustPop" id="btnSrchCustPop"/>
							<input type="text" class = "text" style="width: 44%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
						</td>
					#end
					<th></th>
					<td></td>
					<td></td>
					<th class="btnSearch" rowspan="3" style="cursor:pointer;" onClick="fn_search();">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"  title="검색" 	role="button" aria-disabled="false"/>
					</th>
				</tr>
				<tr>
					<th>$!lang.getText('배송상태')</th>
					<td colspan="1">
						<input type="checkbox" 	name="chkDlvStat99" 	id="chkDlvStat99">
						<input type="hidden" 	name="vrDlvStat99" 		id="vrDlvStat99"   value="99"/>
						<input id="textDlvStat99" value="$!lang.getText('배송완료')" size="7" readOnly="readOnly" style="border:none;">
					</td>
					<td></td>
					<td></td>
					<th></th>
					<td>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>$!lang.getText('등록구분')</th>
					<td colspan="1">
						<input type="checkbox"	name="chkInsertGb00" 	id="chkInsertGb00">
						<input type="hidden" 	name="vrInsertGb00" 	id="vrInsertGb00"   value="00"/>
						<input id="textInsertGb00" value="$!lang.getText('출고')" size="7" readOnly="readOnly" style="border:none;">
					</td>
					<td></td>
					<td></td>
					<th></th>
					<td>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
    <div class="btnArea">
        <div class="btnAreaLeft">
        </div>
        <div class="btnAreaRight">
			<input type="button" class="EXC_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()" role="button" aria-disabled="false"/>
        </div>    
	</div>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<form id="moveForm" name="moveForm" method="post" action="/WINUS/WMSSP010.action">
		<input type="hidden" name="mvBUYED_DT" 			id="mvBUYED_DT" />
		<input type="hidden" name="mvDLV_ORD_ID" 		id="mvDLV_ORD_ID" />
		<input type="hidden" name="mvDLV_CUSTOMER_NM" 	id="mvDLV_CUSTOMER_NM" />
		<input type="hidden" name="mvCUST_CD" 			id="mvCUST_CD" />
		<input type="hidden" name="mvCUST_NM" 			id="mvCUST_NM" />
		<input type="hidden" name="mvCUST_ID" 			id="mvCUST_ID" />
	</form>
</div>

<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>