<div class="patternWrap">
	<div class="row">
	</div>
	<div>
		<a id="aTagLabel" style="font-size:15px;"></a>
		<br>
		<a onClick="fn_getStatusPop()" style="cursor:pointer;font-size:13px;color:blue;">(현황 새창열기)</a>
	</div>
</div>