<div class="patternWrap">
	<input type="hidden" name="GRID_ID_E3" id="GRID_ID_E3">
	<form name="frm_list" id="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "100px"/>
				<col width = "30%"/>
				<col width = "100px"/>
				<col width = "30%"/>
				<col width = "*"/>
				<col width = "50px"/>
			</colgroup>
			<tbody>
				<tr>
					<th class="thBar">$!lang.getText('상품코드')</th>
					<td>
						<input type="text" class = "text" style="width: 49%" name="S_ITEM_CD" id="S_ITEM_CD" onChange="txtSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 49%" name="S_ITEM_NM" id="S_ITEM_NM" onChange="txtSrchItemNm_OnKillFocus()"> 
						<input type="hidden" name="S_ITEM_ID" id="S_ITEM_ID"> 
					</td>
					<th class="thBar">$!lang.getText('부품군')</th>
					<td>
						<select name='S_ITEM_GRP_ID' id='S_ITEM_GRP_ID' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					<td></td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" />	
					</th>
				</tr>
			</tbody>
		</table>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
    <div class="btnArea">
        <div class="btnAreaLeft">
        </div>
        <div class="btnAreaRight">
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave" name="btn_write" value="$!lang.getText('저장')" onClick="fn_save();" /> 
			<input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('신규')" onclick="fn_new()" /> 
			<input type="button" class="DEL_AUTH btnDelete" 		name="btn_write" value="$!lang.getText('삭제')" onClick="fn_delete();" />				
			<input type="button" class="EXC_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()" />
        </div>    
	</div>
	
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
</div>

<script type="text/javascript">
	jQuery("input:button").button();


	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>