<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="90px"/>
				<col width="30%"/>	
				<col width="100px"/>
				<col width="30%"/>	
				<col width="90px"/>
				<col width="33%"/>
<!-- 				<col width="40px"/>		 -->
				<col width="40px"/>		
			</colgroup>
			<tr>
			#if($adminInfo.getCustId() == $ss_user_gb)
				<th>$!lang.getText("화주")</th>
				<td>
					<input type="text" class="readOnly" name="txtSrchCustCd" id="txtSrchCustCd" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="hdnCustId" id="hdnCustId" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="txtSrchCustNm" id="txtSrchCustNm" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
				</td>
			#else
				<th>$!lang.getText("화주")</th>
				<td>
					<input type="text" class="text" name="txtSrchCustCd" id="txtSrchCustCd" style="width:40%" onChange="vrSrchCustCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM011');return false;" class="imgSearch">
					<input type="hidden" name="hdnCustId" id="hdnCustId"/>
					<input type="text" class="text" name="txtSrchCustNm" id="txtSrchCustNm" style="width:40%" onChange="vrSrchCustNm_OnKillFocus()"/>
				</td>
			#end
				<th class="thBar">$!lang.getText("로케이션")</th>
				<td>
					<input type="text" class="text" name="txtSrchLocId" id="txtSrchLocId" style="width:40%" onChange="vrSrchLocId_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM080');return false;" class="imgSearch">
					<input type="text" class="text" name="txtSrchLocCd" id="txtSrchLocCd" style="width:40%" onChange="vrSrchLocCd_OnKillFocus()"/>
				</td>
				<th class="thBar">$!lang.getText("상품")</th>
				<td>
					<input type="text" class="text" name="txtSrchItemCd" id="txtSrchItemCd" style="width:40%" onChange="txtSrchItemCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM091');return false;" class="imgSearch">
					<input type="text" class="text" name="txtSrchItemNm" id="txtSrchItemNm" style="width:40%" onChange="txtSrchItemNm_OnKillFocus()"/>
				</td>
<!-- 				<th class="btnReset"> -->
<!-- 					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_initSer();" title="Reset" role="button" aria-disabled="false"/> -->
<!-- 				</th> -->
				<th class="btnSearch">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>					
			</tr>
			
		</table>
		
	</form>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<div class="list_box">
		<table id="detail"></table>
		<div id="detail_pjmap"></div>
	</div>	
</div>