#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">
////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직 
// 
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();
var detailGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	
	
	
	//************************************************************************************************
	//신영에스디 하드코딩!! sysd 하기 해당 계정 일 경우 @@ 수정 개발 완료 시 삭제 요망 2019-02-28
	//신영에스디 하드코딩!! sysd 하기 해당 계정 일 경우 @@ 수정 개발 완료 시 삭제 요망 2019-02-28
	//신영에스디 하드코딩!! sysd 하기 해당 계정 일 경우 @@ 수정 개발 완료 시 삭제 요망 2019-02-28
	if(    '$!ss_user_id' == "sysd04"
		|| '$!ss_user_id' == "sysd05"
		|| '$!ss_user_id' == "sysd13"
		|| '$!ss_user_id' == "sysd14"
		|| '$!ss_user_id' == "sysd01"
		|| '$!ss_user_id' == "sysd08"){
		
		jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val("SYSD").attr('readOnly', 'readOnly');
		jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val("신영에스디").attr('readOnly', 'readOnly');
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("0000020641");
		jQuery("#btnSrchCustPop").removeAttr('onClick');
	}
	//************************************************************************************************
	
	
	
	
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;

	if(true){
		vrSrchCustCd_OnStart();
	}
	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	jQuery("input[name='today']").val((new Date()).getFormattedString("YYYY-MM-DD"));
	
	// button
	jQuery("input:button").button();

	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
		              'CHK_BOX',
		              'ST_GUBUN',
		              '',
		              'FLAG',
		              
		              '$!lang.getText("코드")',
		              '$!lang.getText("화주명")',
		              '$!lang.getText("창고명")',
		              '$!lang.getText("$LANG_GB_TXET_POOL군")',
		              '$!lang.getText("코드")',
		              '$!lang.getText("용기명")',
		              
		              '$!lang.getText("전일재고")',
		              '$!lang.getText("입고")',
		              '$!lang.getText("일반출고")',
		              '$!lang.getText("이벤트출고")',
		              '$!lang.getText("정상재고")',
		              
		              '$!lang.getText("불량재고")',
		              '$!lang.getText("AS재고")',
		              '$!lang.getText("적정재고")',
		              
		              '$!lang.getText("개체재고")',
		              '$!lang.getText("매핑재고")',
		              '$!lang.getText("매핑")'+'<br>'+'$!lang.getText("가용재고")',
		              
		              '$!lang.getText("비고")',
		        
		              'PROP_CHK',
		              'UOM_ID',
		              'RITEM_ID',
		              'WH_ID',
		              'CUST_ID',
		              'RITEM_ID'
			          ];
	// 그리드 컬럼 정의
	var colModelArray = [
						 {name:'CHK_BOX'			,index:'CHK_BOX'			,hidden:true}
						,{name:'ST_GUBUN'			,index:'ST_GUBUN'			,hidden:true}
						,{name:'ST_GUBUN_IMG'		,index:'ST_GUBUN_IMG'		,width:20		,align:"center"}
						,{name:'FLAG'				,index:'FLAG'				,hidden:true}
			
						,{name:'CUST_CD'			,index:'CUST_CD'			,width:120		,align:"center"	,hidden:true}
						,{name:'CUST_NM'			,index:'CUST_NM'			,width:120		,hidden:true}
						,{name:'WH_NM'				,index:'WH_NM'				,width:140}
						,{name:'ITEM_GRP_NM'		,index:'ITEM_GRP_NM'		,width:80	}
						,{name:'RITEM_CD'			,index:'RITEM_CD'			,width:180		,align:"left"}
						,{name:'RITEM_NM'			,index:'RITEM_NM'			,width:180	}
			
						,{name:'BEFORE_STOCK_QTY'	,index:'BEFORE_STOCK_QTY'	,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name:'IN_QTY'				,index:'IN_QTY'				,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name:'OUT_QTY'			,index:'OUT_QTY'			,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name:'EVENT_QTY'			,index:'EVENT_QTY'			,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name:'STOCK_QTY'			,index:'STOCK_QTY'			,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
			
						,{name:'BAD_QTY'			,index:'BAD_QTY'			,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name:'AS_QTY'				,index:'AS_QTY'				,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name:'PROP_QTY'			,index:'PROP_QTY'			,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						
						,{name:'EPC_STOCK_QTY'		,index:'EPC_STOCK_QTY'		,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name:'MAPPING_QTY'		,index:'MAPPING_QTY'		,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name:'EMPTY_PLT_QTY'		,index:'EMPTY_PLT_QTY'		,width:80		,align:"right"		,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						
						,{name:'REMARK'				,index:'REMARK'				,editable:true }
			
						,{name:'PROP_CHK'			,index:'PROP_CHK'			,hidden:true} 
						,{name:'UOM_ID'				,index:'UOM_ID'				,hidden:true} 
						,{name:'RITEM_ID'			,index:'RITEM_ID'			,hidden:true} 
						,{name:'WH_ID'				,index:'WH_ID'				,hidden:true} 
						,{name:'CUST_ID'			,index:'CUST_ID'			,hidden:true}
						,{name:'RITEM_ID'			,index:'RITEM_ID'			,hidden:true}  
						];
		
	var option = {
				   'title' 			: '$!lang.getText("$LANG_GB_TXET_POOL리스트")'
				  ,'height' 		: 180
				  ,'width' 			: '98%'
				  ,'colName' 		: colNameArray
				  ,'colModel' 		: colModelArray
				  ,'pager' 			: jQuery("#pjmap")
				  ,'autowidth' 		: true
				  ,'multiselect' 	: true
				  ,'viewrecords' 	: true
				  ,'gridview' 		: true
				  ,'sortable' 		: false
				  ,'shrinkToFit' 	: false
		          #if($ss_gird_num != "")
				  ,'rowList' 		: [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4]
		          #else
		          ,'rowList' 		: [200,300,400]
		          #end
		          ,'rownumbers' 	: true
		          ,'rownumWidth' 	: 40
		          ,'footerrow' 		: true
				  ,'userDataOnFooter' : true
				};
	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST140/list.action?"+param;
	
	function loadCompleteEventCallback (data){
		var grid = jQuery("#list");
		var gridData = grid.getRowData();

		/* 합계처리 변수 */
		var SUM_BEFORE_STOCK_QTY = 0;
		var SUM_IN_QTY = 0;
		var SUM_OUT_QTY = 0;
		var SUM_EVENT_QTY = 0;
		var SUM_STOCK_QTY = 0;
		var SUM_BAD_QTY = 0;
		var SUM_AS_QTY = 0;
		var SUM_PROP_QTY = 0;
		var SUM_EPC_STOCK_QTY = 0;
		var SUM_MAPPING_QTY = 0;
		var SUM_EMPTY_PLT_QTY = 0;

		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_BEFORE_STOCK_QTY = SUM_BEFORE_STOCK_QTY + Number(gridData[i].BEFORE_STOCK_QTY);
			SUM_IN_QTY = SUM_IN_QTY + Number(gridData[i].IN_QTY);
			SUM_OUT_QTY = SUM_OUT_QTY + Number(gridData[i].OUT_QTY);
			SUM_EVENT_QTY = SUM_EVENT_QTY + Number(gridData[i].EVENT_QTY);
			SUM_STOCK_QTY = SUM_STOCK_QTY + Number(gridData[i].STOCK_QTY);
			SUM_BAD_QTY = SUM_BAD_QTY + Number(gridData[i].BAD_QTY);
			SUM_AS_QTY = SUM_AS_QTY + Number(gridData[i].AS_QTY);
			SUM_PROP_QTY = SUM_PROP_QTY + Number(gridData[i].PROP_QTY);
			SUM_EPC_STOCK_QTY = SUM_EPC_STOCK_QTY + Number(gridData[i].EPC_STOCK_QTY);
			SUM_MAPPING_QTY = SUM_MAPPING_QTY + Number(gridData[i].MAPPING_QTY);
			SUM_EMPTY_PLT_QTY = SUM_EMPTY_PLT_QTY + Number(gridData[i].EMPTY_PLT_QTY);
		}

		/* 합계처리 변수 셋업 */
		var footData = {
				CUST_CD : "$!lang.getText('합계')"
			  , BEFORE_STOCK_QTY : SUM_BEFORE_STOCK_QTY
			  , IN_QTY : SUM_IN_QTY
			  , OUT_QTY : SUM_OUT_QTY
			  , EVENT_QTY : SUM_EVENT_QTY
			  , STOCK_QTY : SUM_STOCK_QTY
			  , BAD_QTY : SUM_BAD_QTY
			  , AS_QTY : SUM_AS_QTY
			  , PROP_QTY : SUM_PROP_QTY
			  , EPC_STOCK_QTY : SUM_EPC_STOCK_QTY
			  , MAPPING_QTY : SUM_MAPPING_QTY
			  , EMPTY_PLT_QTY : SUM_EMPTY_PLT_QTY
		};
		grid.jqGrid('footerData','set', footData);
	};
		
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);
		
	/* 그리드 셀선택 이벤트 */
	listGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#list");
		
		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid.setStatus(id, " ");

	 			detailGrid.clear();
	 			return false;
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true); 
				grid.setCell(id, 'CHK_BOX', "Yes"); 
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}	
		var ritem_id 	= grid.getCell(id, 'RITEM_ID');
		var uom_id 		= grid.getCell(id, 'UOM_ID');
		var wh_id 		= grid.getCell(id, 'WH_ID');
		
		var param 		= "vrRitemId="+ritem_id +"&vrUomId=" +uom_id +"&vrWhId=" +wh_id;
		var url 		= "/WMSST140/listSub.action?"+param;
		detailGrid.search(param, url);			
	});	
	/* 그리드 공통화 적용 끝- listGrid */
	
	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명 
	var colNameArray_detail = [
	                            'CHK_BOX'
	         	               ,'ST_GUBUN'
	         	               ,''
	         	               ,'FLAG'
	         	              
	         	               ,'$!lang.getText("작업일자")'
	         	               ,'$!lang.getText("로케이션")'
	         	               ,'$!lang.getText("코드")'
	         	               ,'$!lang.getText("상품명")'
	         	               ,'$!lang.getText("재고수량")'
	         	               
	         	               ,'UOM'
	         	               ,'$!lang.getText("PLT수량")'
	         	               
	         	               ,'$!lang.getText("B/L번호")'
	         	               ,'$!lang.getText("창고")'
	         	               ,'$!lang.getText("LOT번호")'
	         	               ,'$!lang.getText("제품등급")'
	         	               ,'$!lang.getText("제조일자")'
	         	               ,'STOCK_ID'
	                          ];
	// 그리드 컬럼 정의		          
	var colModelArray_detail = [
								 {name : 'CHK_BOX'		,index : 'CHK_BOX'		,hidden : true}
								,{name : 'ST_GUBUN'		,index : 'ST_GUBUN'		,hidden : true}
								,{name : 'ST_GUBUN_IMG'	,index : 'ST_GUBUN_IMG'	,hidden : true}
								,{name : 'FLAG'			,index : 'FLAG'			,hidden : true}
								
								,{name : 'WORK_DT'		,index : 'WORK_DT'		,width : 80	,align:"center"}
								,{name : 'LOC_NM'		,index : 'LOC_NM'		,width : 140	,align:"center"}
								,{name : 'RITEM_CD'		,index : 'RITEM_CD'		,width : 180	,align:"left"}
								,{name : 'RITEM_NM'		,index : 'RITEM_NM'		,width : 180}
								,{name : 'STOCK_QTY'	,index : 'STOCK_QTY'	,width : 80		,align : "right"	,formatter : 'integer'	,formatoptions : {thousandsSeparator : ","	,decimalPlaces : 0}}
								
								,{name : 'UOM_NM'		,index : 'UOM_NM'		,hidden : true}
								,{name : 'REAL_PLT_QTY'	,index : 'REAL_PLT_QTY'	,hidden : true}	
								
								,{name : 'BL_NO'		,index : 'BL_NO'		,width : 100}
								,{name : 'WH_NM'		,index : 'WH_NM'		,width : 180}
								,{name : 'CUST_LOT_NO'	,index : 'CUST_LOT_NO'	,width : 140}
								,{name : 'ITEM_CLASS'	,index : 'ITEM_CLASS'	,hidden : true}
								,{name : 'MAKE_DT'		,index : 'MAKE_DT'		,width : 140}
								,{name : 'STOCK_ID'		,index : 'STOCK_ID'		,width : 100 ,hidden : true}
							   ];
	
	var option_detail = {
						  'title' 		: '$!lang.getText("상세로케이션정보")'
						 ,'height' 		: 180
						 ,'width' 		: '980'
						 ,'colName' 	: colNameArray_detail
						 ,'colModel' 	: colModelArray_detail
						 ,'pager' 		: jQuery("#detail_pjmap")
						 ,'autowidth' 	: true
						 ,'multiselect' : false
						 ,'viewrecords' : true
						 ,'gridview' 	: true
						 ,'sortable' 	: false
				         #if($ss_gird_num != "")
						 ,'rowList' 	: [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4]
				         #else
				         ,'rowList' 	: [200,300,400]
				         #end
						 ,'rownumbers' 	: true
						 ,'shrinkToFit' : false
						 ,'rownumWidth' : 40
						};

	detailGrid.init(jQuery("#detail"), option_detail);
	// 그리드 셀선택 이벤트
	detailGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#detail");
		
		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_detail_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				detailGrid.setStatus(id, " ");
			}else{
				jQuery("#jqg_detail_"+id).attr("checked",true); 
				grid.setCell(id, 'CHK_BOX', "Yes"); 
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					detailGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					detailGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}		
	});	

	/* 그리드 공통화 적용 끝- detailGrid */
	
	/* 헤더 그룹처리 */
	jQuery("#list").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [ 
		                  {startColumnName : 'CUST_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("화주")'},
		                  {startColumnName : 'RITEM_CD', numberOfColumns : 2	,titleText : '$!lang.getText("$LANG_GB_TXET_POOL")'}
		               
						]	 
	});
	/* 헤더 그룹처리 */
	jQuery("#detail").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [ 
		                  {startColumnName : 'RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("상품")'},
						]	 
	});
});

/* 검색 */
function fn_search(op,op1) {
	var param 	= jQuery("form[name='frm_list']").serialize();
	var url 	= "/WMSST140/list.action?"+param;
	listGrid.search(param, url, op, op1);
	detailGrid.clear();
}

/* 현재고 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="frm_list"] input[type="text"], form[name="frm_list"] input[type="hidden"]').val('');
	jQuery('form[name="frm_list"] select[name="vrSrchItemGrpId"]').val('').attr("selected", 'selected');
	jQuery("input:checkbox[id='chkEmptyStock']").attr('checked',false);
}



/* 창고 코드입력 */
function vrSrchWhCd_OnKillFocus(){
	var vrSrchWhCd = jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val();
	if( vrSrchWhCd != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd=" + vrSrchWhCd;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				var width 	= "800";
				var height 	= "560";
				var param 	= "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSMS040/pop.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val("").focus();
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val("");
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{	//없을경우
		jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val("");
		jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val("");
		jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val("");
	}
}


/* 창고명 입력 */
function vrSrchWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val("").focus();
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val("");
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{	//없을경우
		jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val("");
		jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val("");
		jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val("");
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}


/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";
	
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSMS011";
			url = "/WMSCM011.action" + param;
			break;
		case 'WH':		//창고
			param = '?func=fn_setWMSMS040&strParameter='+strParameter;
			url = "/WMSMS040/pop.action" + param;
			break;
		case 'POOL'	: //물류용기 아이템			
			if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val()){
				var custCd_Text = "$!lang.getText('화주정보')";
				alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
				fn_Popup('CUST');
				return false;
			}else{
				strParameter.push('');
				strParameter.push('');
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
				strParameter.push('Y');
				param = '?func=fn_setWMSCM162&strParameter='+strParameter;
				url = "/WMSCM162.action" + param;
				break;
			}
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 물류용기 팝업 후 처리 */
function fn_setWMSCM162(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchPoolCd"]').val(info.pool_code);
	jQuery('form[name="frm_list"] input[name="vrSrchPoolNm"]').val(info.pool_nm);
}

/* 창고코드 팝업 후 처리 */
function fn_setWMSMS040(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(info.wh_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(info.wh_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(info.wh_id);
}

/* 그리드 유효성 검사 (현재고 리스트 비고) */
function fn_listValidation(){
	var grid 		= jQuery("#list");
	var ids 		= grid.getDataIDs();
	var selectIds	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});		
	
	if(selectIds != ""){
		var tmpText = ["$!lang.getText('비고')"];
		var tmpId 	= ["REMARK"];
		var tmpVal;
		var tmpLeng = [600];
		
		for(var i=0; i<selectIds.length; i++){
			var REMARK = jQuery.trim(jQuery("#"+selectIds[i] + "_REMARK","#list").val());
			
			tmpVal = [REMARK];

			/* 비고 최대 길이 */
			if(REMARK.byteLength() > 600){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[0]+"','" + tmpLeng[0]+"')");
				jQuery("#"+selectIds[i]+"_REMARK", "#list").focus();
				return false;
			}
		}
	}
	return true;
}

/* 저장 */
function fn_save(){
	var grid 		= jQuery("#list");
	var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var tmpCnt 		= 0;
	var isProcess   = false;
	
	if(selectIds == ""){
		alert(strings['grid.no_check_data_for_save']);
		return false;
	}	
	
	/* 현재고리스트 비고 저장 유효성 체크  */
	if(!fn_listValidation()){return;}
	
	if(confirm(strings['grid.confirm_save'])){
		jQuery("#formData").html("");
		if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
        }
		
		for(var i = 0 ; i < selectIds.length ; i++){
			if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                 jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                 isProcess = true;
            }else{  
                 isProcess = false;
            }
			
			if(isProcess){
				if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) ){
					jQuery("#formData").append("<input type='text' name='REMARK"	+ tmpCnt + "'value='" + jQuery("#"+selectIds[i] + "_REMARK", "#list").val() + "'/>");
					jQuery("#formData").append("<input type='text' name='RITEM_ID"	+ tmpCnt + "'value='" + cfn_trim(grid.getCell(selectIds[i], "RITEM_ID"))	+ "'/>");
					tmpCnt ++;
				}
			}
		}	
		jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
		
		var param 	= jQuery("form[name='frm_data']").serialize();
		var url 	= "/WMSST140/save.action";
		
		jQuery.post(url, param, function(data) {
			alert(data.MSG);
			if(data.errCnt <= 0 ){
				var param 	= jQuery("form[name='frm_list']").serialize();
				var url 	= "/WMSST140/list.action?"+param;
				listGrid.search(param, url);
				detailGrid.clear();
			}
		}).fail(function(xhr, textStatus){
			if(xhr.status == 404){	
				location.href=('/index.html');
			}
		});
	}
}

/* 엑셀 */
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	
	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST140/excel.action"+param;
		fm.method="post";
		fm.submit();
	}
}
function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}
</script>

<div id="tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">원부자재(부품/용기)재고조회</a></li>			
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
	
	<div id="tabs-1">
		#parse("winus/wmsst/WMSST140E1.vm")
	</div>
</div>	

#parse("winus/common/footer.vm")