<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
				<input type = "button" name = "btnTem" 		 class="INS_AUTH"	value = "$!lang.getText('템플릿입력')"			onclick = "fn_upload();"	 	role="button" aria-disabled="false"/>
	    	</div>
		</div>
	</div>	
</div>

<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="100px"/> 
				<col width="33%"/>
				<col width="100px"/>
				<col width="33%"/>
				<col width="100px"/>
				<col width="33%"/>
<!-- 				<col width="40px"/>	 -->
				<col width="40px"/>	
			</colgroup>
			<tr>
				<th class="thBar">$!lang.getText('화주')</th>
				#if($adminInfo.getCustId() == $ss_user_gb)
					<td>
						<input type="text" class = "readOnly" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" readonly="readonly" value="$ss_cmpy_code">
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
						<input type="text" class = "readOnly" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" readonly="readonly" value="$ss_cmpy_name">
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id">
					</td>
				#else
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()">
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
					</td>
				#end
				<th>$!lang.getText("작업일자")</th>
				<td>		
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> ~
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				<th class="thBar">$!lang.getText('출고창고')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchWhId" id="vrSrchWhId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
				</td>
				
<!-- 				<th class="btnReset"> -->
<!-- 						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_initSer();" title="Reset" role="button" aria-disabled="false"/> -->
<!-- 				</th> -->
				<th class="btnSearch">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>	
		</table>
	</form>
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('신규')" 		class="INS_AUTH btnSave"	name="btn_write" onclick="fn_new();" 			role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" 		class="EXC_AUTH btnExcel"	name="btn_write" onclick="fn_excelDown();" 		role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('통합조회')" 	class="INS_AUTH btnEtc"		name="btn_write" onclick="fn_totalSearchPop();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('작업상태조회')" 	class="INS_AUTH btnEtc"		name="btn_write" onclick="fn_workStatPop();" 	role="button" aria-disabled="false"/>
		</div>
	</div>	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<div class="list_box">
		<table id="detail"></table>
		<div id="detail_pjmap"></div>
	</div>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>				