<div class="popupWrap">
	<div class="popupHeader">
    	<div class="pageBtnGroup">
    		<div class="btnArea">
	            <div class="btnAreaRight">
	            	<input type="button" class = "btnEtc" value="$!lang.getText('닫기')" onclick="javascript:self.close();"	 role="button" aria-disabled="false" />
	            </div>
	        </div>
    	</div>
	</div>
	
    <div class="popupMap">
    	<div class="list_box" style="margin: 10px 0px 0px 15px;">
			<table id="PoplistA"></table>
			<div id="pjmap"></div>
		</div>
		<div class="list_box" style="margin: 10px 0px 0px 15px;">
			<table id="PoplistB"></table>
			<div id="detail_pjmap"></div>
		</div>
	</div>
</div>