<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width="80px"/>
				<col width="25%"/>
				<col width="80px"/>
				<col width="25%"/>
				<col width="80px"/>
				<col width="25%"/>		
				<col width="40px"/>	
			</colgroup>
			<tr>
				<th>$!lang.getText("작업일자")</th>
				<td>		
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> ~
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				#if($adminInfo.getCustId() == $ss_user_gb)
				<th class="thBar">$!lang.getText("화주")</th>
				<td colspan="1">
					<input type="text" class="readOnly" name="vrSrchCustCd" id="vrSrchCustCd" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="vrSrchCustNm" id="vrSrchCustNm" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
				</td>
				#else
				<th class="thBar">$!lang.getText('화주')</th>
				<td colspan="1">
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
				</td>
				#end
				<th class="thBar">$!lang.getText('창고')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchWhId" id="vrSrchWhId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
				</td>
				<th class="btnSearch" rowspan="4">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			<tr>
				<th>$!lang.getText('LOT번호')</th>
				<td>
					<input type = "text" class = "text" style="width: 85%" name="vrSrchCustLotNo" id="vrSrchCustLotNo">
				</td>
				<th>$!lang.getText("로케이션")</th>
				<td>
					<input type="text" class="text" name="vrSrchLocCd" id="vrSrchLocCd" style="width:40%" onChange="vrSrchLocCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM080');return false;" class="imgSearch">
					<input type="text" class="text" name="vrSrchLocNm" id="vrSrchLocNm" style="width:40%" onChange="vrSrchLocNm_OnKillFocus()"/>
					<input type="hidden" class="text" name="vrSrchLocId" id="vrSrchLocId"/>
				</td>
				<th class="thBar">$!lang.getText('상품')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchItemId" id="vrSrchItemId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
				</td>				
			</tr>
			<tr>
				<th>$!lang.getText('임가공상품여부')</th>
				<td>
					$!comCode.getComboComCode("SETITEM_YN", "vrSrchSetItemYn", "", true, "$!lang.getText('전체')", "onChange", "vrSrchPoint_OnChange();","class='selectbox' style='width:85.5%;'")
				</td>
				<th class="thBar">$!lang.getText('구분')</th>
				<td>
					$!comCode.getComboComCode("ITM15", "vrSrchPoolYn", "", true, "$!lang.getText('전체')", "", "","class='selectbox' style='width:86%;'")
				</td>
			</tr>	
			<tr>
				<th>$!lang.getText('조회조건')</th>
				<td colspan="3">

						<input type="checkbox" name="chViewGrn"     id="chViewGrn"> 
						<input value="$!lang.getText('입하')" size="7" readOnly="readOnly" style="border: none; vertical-align: middle; line-height: 15px; width: 40px;">
						
						<input type="checkbox" name="chViewIn"      id="chViewIn">
						<input value="$!lang.getText('입고')" size="7" readOnly="readOnly"style="border: none; vertical-align: middle; line-height: 15px; width: 40px;">
						
						<input type="checkbox" name="chViewPicking"      id="chViewPicking">
						<input value="$!lang.getText('피킹')" size="7" readOnly="readOnly"style="border: none; vertical-align: middle; line-height: 15px; width: 40px;">

						<input type="checkbox" name="chViewOut"     id="chViewOut">
						<input value="$!lang.getText('출고')" size="7" readOnly="readOnly"style="border: none; vertical-align: middle; line-height: 15px; width: 40px;">

						<input type="checkbox" name="chViewEtc"     id="chViewEtc"> 
						<input value="$!lang.getText('재고관리')" size="7" readOnly="readOnly"style="border: none; vertical-align: middle; line-height: 15px; width: 60px;">

						<input type="checkbox" name="chViewDlv"     id="chViewDlv"> 
						<input value="$!lang.getText('배송')" size="7" readOnly="readOnly"style="border: none; vertical-align: middle; line-height: 15px; width: 40px;">

						<input type="checkbox" name="chViewrtnIn"     id="chViewrtnIn"> 
						<input value="$!lang.getText('반품입고')" size="7" readOnly="readOnly"style="border: none; vertical-align: middle; line-height: 15px;">
						
						<input type="checkbox" name="chViewrtnOut"     id="chViewrtnOut">
						<input value="$!lang.getText('반품출고')" size="7" readOnly="readOnly"style="border: none; vertical-align: middle; line-height: 15px;"> 
						
						<input type="checkbox" name="chViewSet"     id="chViewSet"> 
						<input value="$!lang.getText('셋트상품해체적용')" size="7" readOnly="readOnly"style="border: none; vertical-align: middle; line-height: 15px; width: 100px;"> 
				</td>
			</tr>
		</table>
		<input type="hidden" name="vrSrchBarcode" id ="vrSrchBarcode">
		<input type="hidden" name="vrSrchBlNo" id ="vrSrchBlNo">
		
	</form>
	<div class="btnArea" style="margin-bottom:0;">
		<div class = "btnAreaLeft">
    		<div id='countBox'>
	    		<span>$!lang.getText('전체작업수량 ') :  </span>
	  			<span id='totalQty'>0</span>
  			</div>	
    	</div>
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnSave" name="btn_write" onclick="fn_save();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"   		 name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>		