#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직
//
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();
var detailGrid = new ULNSI_jQGrid();
var fromdate ;
var todate ;

jQuery(document).ready(function(){

	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery( "input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	} );
	
	// 날자 셋팅	
	var vrSrchReqDt = localStorage.LocalTime;
	var mydate = new Date(vrSrchReqDt);
	
	
	
	// 여기부터 조회하는 from Date를 구하는 로직. 2018-04-11 MonkeySeok
	var from_date = new Date(Date.parse(mydate) - 70 * 1000 * 60 * 60 * 24);
	
	Date.prototype.formattedDate = function (pattern) {
	    formattedDate = pattern.replace('yyyy', this.getFullYear().toString());
	    var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based
	    mm = mm.length > 1 ? mm : '0' + mm;
	    formattedDate = formattedDate.replace('mm', mm);
	    var dd = this.getDate().toString();
	    dd = dd.length > 1 ? dd : '0' + dd;
	    formattedDate = formattedDate.replace('dd', dd);
	    return formattedDate;
	};
	
	pattern = 'yyyymmdd';
	from_date.formattedDate(pattern); // 
	
	//alert("formattedDate:"+from_date.formattedDate(pattern));
		
	get_Date(formattedDate);
	
	function get_Date(obj) {
		var year = obj.substring(1,4);
		var month = obj.substring(4,6);
		var day = obj.substring(6,8);
		var week = new Array("일", "월", "화", "수", "목", "금", "토");
		
		var vn_day1 = new Date(year, month-1, day);

		var i = vn_day1.getDay();
		if((i > 0 ) && (i < 7)) {
			aa = 1 - i;
			bb = 6 - i;
			
		} else if(i == 0){
			return false;
		}
		
		var Cal_st = new Date(vn_day1.getYear(), vn_day1.getMonth(),vn_day1.getDate() + aa);
		
		fromdate = DateFormat(Cal_st);
		
		function DateFormat(obj){
			var yy = obj.getYear();
			if(String(obj.getMonth()+1).length == 1){
				var mm = "0" + (obj.getMonth() + 1);
			} else {
				var mm = obj.getMonth() + 1;
			}
			
			if(String(obj.getDate()).length == 1) {
				var dd = "0" + obj.getDate();
			} else {
				var dd = obj.getDate();
			}
			
			var date = String("20") + String(yy) + String("-") + String(mm) + String("-") + String(dd);
			return date;
		}
		
		
	}	
	
	// 여기부터 조회하는 to Date를 구하는 로직. 2018-04-11 MonkeySeok
	var to_date = new Date(Date.parse(mydate) + 14 * 1000 * 60 * 60 * 24);
	
	Date.prototype.formattedDate = function (pattern) {
	    formattedDate = pattern.replace('yyyy', this.getFullYear().toString());
	    var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based
	    mm = mm.length > 1 ? mm : '0' + mm;
	    formattedDate = formattedDate.replace('mm', mm);
	    var dd = this.getDate().toString();
	    dd = dd.length > 1 ? dd : '0' + dd;
	    formattedDate = formattedDate.replace('dd', dd);
	    return formattedDate;
	};
	
	pattern = 'yyyymmdd';
	to_date.formattedDate(pattern); // 
		
	get_toDate(to_date.formattedDate(pattern));
	
	function get_toDate(obj2) {
		var year2 = obj2.substring(1,4);
		var month2 = obj2.substring(4,6);
		var day2 = obj2.substring(6,8);
		var week2 = new Array("일", "월", "화", "수", "목", "금", "토");
		
		var vn_day2 = new Date(year2, month2-1, day2);
		//alert("vn_day2:"+vn_day2);

		var s = vn_day2.getDay();
		if((s > 0 ) && (s < 7)) {
			cc = 1 - s;
			dd = 7 - s;
			
		} else if(s == 0){
			return false;
		}
		
		var Cal_st2 = new Date(vn_day2.getYear(), vn_day2.getMonth(),vn_day2.getDate() + dd);
		//alert("Cal_st2:"+Cal_st2);
		
		todate = DateFormat(Cal_st2);
		
		function DateFormat(obj2){
			var yy = obj2.getYear();
			if(String(obj2.getMonth()+1).length == 1){
				var mm = "0" + (obj2.getMonth() + 1);
			} else {
				var mm = obj2.getMonth() + 1;
			}
			
			if(String(obj2.getDate()).length == 1) {
				var dd = "0" + obj2.getDate();
			} else {
				var dd = obj2.getDate();
			}
			
			var todate = String("20") + String(yy) + String("-") + String(mm) + String("-") + String(dd);
			return todate;
		}
				
	}
	
	
	
//	//오늘이 몇번째 주인지 조회하는 로직 start =============== 오늘이 몇번째 주인지 조회하는 로직(참고용)
//	var splitDay = vrSrchReqDt.split("-");
//
//    var startYearDay = '1/1/'+splitDay[0];
//    var today = splitDay[1] + '/' + splitDay[2] + '/' + splitDay[0];
//
//    var dt = new Date(startYearDay);
//    var tDt = new Date(today);
//
//    var diffDay = (tDt-dt) / 86400000;    // Date 함수 기준 하루를 뭔 초로 나눴는지 모르겠음.
//    
//    // 1월 1일부터 현재날자까지 차이에서 7을 나눠서 몇주가 지났는지 확인을 함
//    var weekDay = parseInt(diffDay / 7) + 1;
//	//alert("weekDay:"+weekDay);
//  //오늘이 몇번째 주인지 조회하는 로직 end
	
	
	
	jQuery("input[name='vrSrchReqDtFrom']").val(fromdate);
	jQuery("input[name='vrSrchReqDtTo']").val(todate);
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	jQuery("input[name='today']").val((new Date()).getFormattedString("YYYY-MM-DD"));

	// button
	jQuery("input:button").button();

	// local system 날짜 계산
	fn_getDate();
	
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명
	fn_mainGridSearch();
	/* 그리드 공통화 적용 끝- listGrid */

	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명
	var colNameArray_detail = [
	                           'CHK_BOX',
	         	              'ST_GUBUN',
	         	              '',
	         	              'FLAG',

	         	              '$!lang.getText("작업일자")',
	         	              '$!lang.getText("로케이션")',
	         	              '$!lang.getText("코드")',
	         	              '$!lang.getText("상품명")',
	         	              '$!lang.getText("재고수량")',
	         	              'UOM',

	         	              '$!lang.getText("PLT수량")',
	         	              '$!lang.getText("B/L번호")',
	         	              '$!lang.getText("창고")',
	         	              '$!lang.getText("LOT번호")',
	         	              '$!lang.getText("제품등급")',
	         	              '$!lang.getText("제조일자")',
	         	              'STOCK_ID',
	         	              '$!lang.getText("유효기간만료일")',
	         	              'STOCK_RANK',
	         	              'GAP_RANK',
	         	              '$!lang.getText("무게")'
	                           ];
		// 그리드 컬럼 정의
	var colModelArray_detail = [
		{name:'CHK_BOX',		index:'CHK_BOX',					align:"left",	hidden:true},
		{name:'ST_GUBUN',		index:'ST_GUBUN',					align:"left",	hidden:true},
		{name:'ST_GUBUN_IMG',	index:'ST_GUBUN_IMG',	width:20,	align:"left"},
		{name:'FLAG',			index:'FLAG',						align:"left",	hidden:true},

		{name:'WORK_DT',		index:'WORK_DT',		width:80,	align:"center"},
		{name:'LOC_NM',			index:'LOC_NM',			width:100,	align:"center"},
		{name:'RITEM_CD',		index:'RITEM_CD',		width:100,	align:"center"},
		{name:'RITEM_NM',		index:'RITEM_NM',		width:200,	align:"left"},

		{name:'STOCK_QTY',		index:'STOCK_QTY',		width:80,	align:"right",  formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
		{name:'UOM_NM',			index:'UOM_NM',			width:80,	align:"center"},
		{name:'REAL_PLT_QTY',	index:'REAL_PLT_QTY',	width:80,	align:"right", editable : true, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}, cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_REAL_PLT_QTY\')"' }},

		{name:'BL_NO',			index:'BL_NO',			width:100,	align:"left"},
		{name:'WH_NM',			index:'WH_NM',			width:140,	align:"left"},
		{name:'CUST_LOT_NO',	index:'CUST_LOT_NO',	width:140,	align:"left"},
		{name:'ITEM_CLASS',		index:'ITEM_CLASS',		width:100,	align:"left"},
		{name:'MAKE_DT',		index:'MAKE_DT',		width:100,	align:"center"},
		{name:'STOCK_ID',		index:'STOCK_ID',		width:100,	align:"left", hidden:true},
		{name:'ITEM_BEST_DATE_END',		index:'ITEM_BEST_DATE_END',		width:100,	align:"center"},
		{name:'STOCK_RANK',		index:'STOCK_RANK',		width:100,	hidden:true},
		{name:'GAP_RANK',		index:'GAP_RANK',		width:100,	hidden:true},
		{name:'STOCK_WEIGHT',	index:'STOCK_WEIGHT',	width:80,	align:"right",  formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 2}}
		];

	var option_detail = {
		'title' : '$!lang.getText("상세현재고조회")',
		'height' : 180,
		'width' : '980',
		'colName' : colNameArray_detail,
		'colModel' : colModelArray_detail,
	    'pager' : jQuery("#detail_pjmap"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
	    #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
        #else
        'rowList' : [200,300,400],
        #end
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40,
	    'footerrow'  : true
	};

	detailGrid.init(jQuery("#detail"), option_detail, "",loadCompleteEventCallback2);
	// 그리드 셀선택 이벤트
	detailGrid.setSelectCellEventCallback(function(id, col){
	var grid = jQuery("#detail");

		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_detail_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				detailGrid.setStatus(id, " ");
			}else{
				jQuery("#jqg_detail_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					detailGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					detailGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
	});
	
	function loadCompleteEventCallback2 (data){
		var grid     = jQuery("#detail");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
		/* 합계처리 변수 */
		var SUM_STOCK_QTY    = 0;
		var SUM_REAL_PLT_QTY = 0;
		
		// 색상 넣기 = 빨강 
		///var css 	= {'color' : 'blue', 'cursor' : 'pointer'};
		var css2 	= {'color' : 'red' , 'cursor' : 'pointer'};
		
		for(var i = 0 ; i < gridData.length; i++){
			if(gridData[i].STOCK_RANK == "0"){
				grid.jqGrid('setCell', ids[i], 'WORK_DT', '', css2);
				grid.jqGrid('setCell', ids[i], 'LOC_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'RITEM_CD', '', css2);
				grid.jqGrid('setCell', ids[i], 'RITEM_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'STOCK_QTY', '', css2);

				grid.jqGrid('setCell', ids[i], 'UOM_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'REAL_PLT_QTY', '', css2);
				grid.jqGrid('setCell', ids[i], 'BL_NO', '', css2);
				grid.jqGrid('setCell', ids[i], 'WH_NM', '', css2);
				grid.jqGrid('setCell', ids[i], 'CUST_LOT_NO', '', css2);
				
				grid.jqGrid('setCell', ids[i], 'ITEM_CLASS', '', css2);
				grid.jqGrid('setCell', ids[i], 'MAKE_DT', '', css2);
				grid.jqGrid('setCell', ids[i], 'ITEM_BEST_DATE_END', '', css2);
			}
			
			//합계처리 변수 연산
			SUM_STOCK_QTY    = SUM_STOCK_QTY    + Number(gridData[i].STOCK_QTY);
			SUM_REAL_PLT_QTY = SUM_REAL_PLT_QTY + Number(gridData[i].REAL_PLT_QTY);
		}
		
		/* 합계처리 변수 셋업 */
		var footData = {
				RITEM_NM     : "$!lang.getText('합계')"
			  , STOCK_QTY    : SUM_STOCK_QTY
			  , REAL_PLT_QTY : SUM_REAL_PLT_QTY
		};
		grid.jqGrid('footerData','set', footData);
	}

	detailGrid.setDblClickRowEventCallback(function(rowid, iRow, iCol, e) {
		/* 재고 입출고내역 조회 화면으로 이동 */

    	var ritem_cd = jQuery("#detail").getCell(rowid,'RITEM_CD');
    	var work_dt  = jQuery("#detail").getCell(rowid,'WORK_DT');

    	var frm = jQuery("#moveForm");

    	jQuery.cookie("jstree_select", "#WMSST020", "");

    	jQuery("#vrSrchItemCd").val(ritem_cd);
		jQuery("#vrSrchReqDtFrom2").val(work_dt);
		jQuery("#vrSrchReqDtTo2").val(work_dt);

		frm.submit();
	});
	/* 그리드 공통화 적용 끝- detailGrid */


	/* 헤더 그룹처리 */
	jQuery("#detail").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("상품")'},
						]
	});
});

//mainGrid set
function fn_mainGridSearch() {
	//그리드 초기화
	jQuery("#list").jqGrid('GridUnload');
	jQuery("#detail").clearGridData();
	jQuery("#excelBtn").hide();
	
	jQuery(document).ready(function () {
		var colNameArray  = [];
	  	var colModelArray = [];
	  	
	  	jQuery("#srchKey").val("MAIN");
	  	var paramInit = jQuery("form[name='frm_list']").serialize();
	  	var url       = "/WMSST220/list.action";

	  	jQuery.post(url, paramInit, function(data){
	  		var data = data.MAIN;
	  		var cnt  = data.size();
	  		var colCnt = 0;
	  		
	  		colCnt = cnt / data[cnt-1].NROW;
	  		for(var i = 0 ; i < colCnt; i++){
	  			//헤더컬럼
	  			if(i == 0){
	  				colNameArray.push('$!lang.getText("상품코드")');
	  				colNameArray.push('$!lang.getText("상품명")');
	  				colNameArray.push('$!lang.getText("기준일자")');
	  				colNameArray.push('$!lang.getText("상품별")'+'<br>'+'$!lang.getText("합계")');
	  			}
	  			
	  			//colNameArray.push('<font color="#B1B1B1">'+'( '+data[i].WEEK_START_VIEW+' )'+'</font><br>' + LPAD(String((Number(data[i].WEEK_OF_YEAR_ISO)+5)),"0",2) + '$!lang.getText("주")');
	  			colNameArray.push(data[i].WEEK_START_VIEW.substring(0,5) + "<br>" + data[i].WEEK_START_VIEW.substring(5,10));
	  			
	  			if(i == (colCnt-1)){
	  				//hidden col 셋팅
	  				colNameArray.push('RITEM_ID');
	  				colNameArray.push('LC_ID');
	  				colNameArray.push('UOM_ID');
	  				
	  				colNameArray.push('CHK_BOX');
	  				colNameArray.push('ST_GUBUN');
	  				colNameArray.push('ST_GUBUN_IMG');
	  				colNameArray.push('FLAG');
	  			}
	  			
	  			
	  			
	  			
	  			
	  			//바디컬럼
	  			if(i == 0){
	  				var setColModelRITEM_CD       = {name:1,	index:1,	width:120,		align:"center"};
	  				var setColModelRITEM_NM       = {name:2,	index:2,	width:200,		align:"left"};
	  				var setColModelSTD_DATE       = {name:3,	index:3,	width:80,		align:"center"};
	  				var setColModelRITEM_LINE_SUM = {name:4,	index:4,	width:70,		align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0} };
	  				
	  				colModelArray.push(setColModelRITEM_CD);
	  				colModelArray.push(setColModelRITEM_NM);
	  				colModelArray.push(setColModelSTD_DATE);
	  				colModelArray.push(setColModelRITEM_LINE_SUM);
	  			}
	  			
	  			var setColModel = {name:i+5,	index:i+5,	width:70,	align:"center", align:"right", editable : false, editoptions : {maxlength : 10}, formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}};
	  			colModelArray.push(setColModel);
	  			
	  			if(i == (colCnt-1)){
	  			//hidden col 셋팅
	  				var setColModelRITEM_ID = {name:"RITEM_ID",	index:"RITEM_ID",	hidden:true};
	  				var setColModelLC_ID    = {name:"LC_ID",	index:"LC_ID",		hidden:true};
	  				var setColModelUOM_ID   = {name:"UOM_ID",	index:"UOM_ID",		hidden:true};
	  				
	  				var setColModelCHK_BOX      = {name:"CHK_BOX",		index:"CHK_BOX",		hidden:true};
	  				var setColModelST_GUBUN     = {name:"ST_GUBUN",		index:"ST_GUBUN",		hidden:true};
	  				var setColModelST_GUBUN_IMG = {name:"ST_GUBUN_IMG",	index:"ST_GUBUN_IMG",	hidden:true};
	  				var setColModelFLAG         = {name:"FLAG",			index:"FLAG",			hidden:true};
	  				
	  				colModelArray.push(setColModelRITEM_ID);
	  				colModelArray.push(setColModelLC_ID);
	  				colModelArray.push(setColModelUOM_ID);
	  				
	  				colModelArray.push(setColModelCHK_BOX);
	  				colModelArray.push(setColModelST_GUBUN);
	  				colModelArray.push(setColModelST_GUBUN_IMG);
	  				colModelArray.push(setColModelFLAG);
	  			}
	  			
	  		}
	  		
	  		//mainGrid dataInit
	  		var mydata = [];
	  		jQuery("#list").jqGrid({
                datatype: "local",
                data: mydata,
                colNames:colNameArray,
                colModel:colModelArray,
                //rowNum:10,
                //rowList:[10,20,30],
                pager: jQuery("#pjmap"),
                sortname: 'id',
                viewrecords: true,
                altRows:true,
                sortorder: "desc",
                caption:"$!lang.getText('현재고리스트')",
                //title : '$!lang.getText("현재고리스트")',
                height: "280",
                width : "98%",
                autowidth : true,
                multiselect : false,
                gridview : true,
                sortable : false,
                shrinkToFit : false,
                rowList : '',
                rownumbers : true,
                rownumWidth : 40,
                footerrow 	: true,
                userDataOnFooter : true,
                onCellSelect : function(rowid, iCol, cellcontent, e) {setSelectCellEventCallback(rowid, iCol);},
    			ondblClickRow : function(rowid, iCol, cellcontent, e) {setDblClickRowEventCallback(rowid, iCol);}
    			//loadComplete : function() {loadCompleteEventCallback();}
            });
	  		
	  		var selDatas     = {};
	  		var ritemLineSum = 0;
	  		for(var j = 0 ; j < cnt; j++){
	  			selDatas[data[j].NROW_RK+4] = data[j].SUM_STOCK_QTY;
	  			ritemLineSum = ritemLineSum + data[j].SUM_STOCK_QTY;
	  			
	  			if(cnt == (j+1)){
	  				selDatas["1"] = data[j].RITEM_CD;
	  				selDatas["2"] = data[j].RITEM_NM;
	  				selDatas["3"] = jQuery("#vrSrchReqDtFrom").val();
	  				selDatas["4"] = ritemLineSum;
	  				selDatas["RITEM_ID"] = data[j].RITEM_ID;
	  				selDatas["LC_ID"] = data[j].LC_ID;
	  				selDatas["UOM_ID"] = data[j].UOM_ID;
	  				jQuery("#list").jqGrid('addRowData', data[j].NROW, selDatas);
	  				ritemLineSum = 0;
	  			}else{
	  				if(data[j].NROW != data[j+1].NROW){
	  					selDatas["1"] = data[j].RITEM_CD;
	  					selDatas["2"] = data[j].RITEM_NM;
	  					selDatas["3"] = jQuery("#vrSrchReqDtFrom").val();
	  					selDatas["4"] = ritemLineSum;
	  					selDatas["RITEM_ID"] = data[j].RITEM_ID;
	  					selDatas["LC_ID"] = data[j].LC_ID;
	  					selDatas["UOM_ID"] = data[j].UOM_ID;
	  					jQuery("#list").jqGrid('addRowData', data[j].NROW, selDatas);
	  					ritemLineSum = 0;
	  				}
	  			}
	  		}
	  		
	  		/* 헤더 그룹처리 
	  		jQuery("#list").jqGrid('setGroupHeaders', {
	  			 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
	  			 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
	  			,groupHeaders : [
	  			                  {startColumnName : 'RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("상품")'}
	  							]
	  		});*/
	  		
	  		jQuery("#excelBtn").show();
	  	}).fail(function(xhr, textStatus){
     		if(xhr.status == 404){
     			location.href=('/index.html');
     		}
	    });
    });
}

function setSelectCellEventCallback(rowid, iCol){
	var grid            = jQuery("#list");
	var uom_id          = grid.getCell(rowid, 'UOM_ID');
	var ritem_id        = grid.getCell(rowid, 'RITEM_ID');
	var vrSrchReqDtFrom = jQuery("input[name='vrSrchReqDtFrom']").val();
	var vrSrchReqDtTo   = jQuery("input[name='vrSrchReqDtTo']").val();
	
	var param = "vrRitemId="+ritem_id+"&vrUomId="+uom_id+"&vrSrchReqDtFrom="+vrSrchReqDtFrom+"&vrSrchReqDtTo="+vrSrchReqDtTo;
	var url = "/WMSST220/sublist.action?"+param;
	detailGrid.search(param, url);
}

function setDblClickRowEventCallback(rowid, iCol){
	var ritem_cd = jQuery("#list").getCell(rowid,'RITEM_CD');
	var frm      = jQuery("#moveForm2");

	jQuery.cookie("jstree_select", "#WMSST051", "");
	jQuery("#vrSrchItemCd2").val(ritem_cd);
	frm.submit();
}


function loadCompleteEventCallback(){
	var grid     = jQuery("#list");
	var ids 	 = grid.getDataIDs();
	var gridData = grid.getRowData();

	var cssBgc  = {'background' : '#FFF2E6'};

	for(var i = 0 ; i < gridData.length; i++){
		grid.jqGrid('setCell', ids[i], 'RITEM_LINE_SUM',  '', cssBgc);

	}
}

//검색
function fn_search(op,op1) {
	fn_getDate();
	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSST220/list.action?"+param;

	listGrid.search(param, url, op, op1);
	detailGrid.clear();
}

//local system 날짜 계산
function fn_getDate() {
	var localDate = new Date();
	var year = LPAD((localDate.getFullYear()).toString(),'0',2);
	var month = LPAD((localDate.getMonth()+1).toString(),'0',2);
	var date = LPAD((localDate.getDate()).toString(),'0',2);       
	var hour = LPAD((localDate.getHours()).toString(),'0',2);
	var min = LPAD((localDate.getMinutes()).toString(),'0',2);
	var sec = LPAD((localDate.getSeconds()).toString(),'0',2);
	var dataVal = year + "/" + month + "/" + date + " " + hour + ":" + min + ":" + sec;
	jQuery('form[name="frm_list"] input[name="localDate"]').val(dataVal);
}

//왼쪽에서부터 채운다는 의미
function LPAD(s, c, n) {    
if (! s || ! c || s.length >= n) {
return s;
}

var max = (n - s.length)/c.length;
for (var i = 0; i < max; i++) {
s = c + s;
}

return s;
}
	
/* 현재고 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="frm_list"] input[type="text"], form[name="frm_list"] input[type="hidden"]').val('');
	jQuery('form[name="frm_list"] select[name="vrSrchItemGrpId"]').val('').attr("selected", 'selected');
	jQuery("input:checkbox[id='chkEmptyStock']").attr('checked',false);
}

/* 창고 코드입력 */
function vrSrchWhCd_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchWhCd = jQuery('form[name="frm_list"] input[name="txtSrchWhCd"]').val();
	//창고코드 값이 있으면 실행한다
	if( vrSrchWhCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd=" + vrSrchWhCd;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.WH;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				var width 	= "800";
				var height 	= "560";
				var param 	= "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSMS040/pop.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="hdnWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="txtSrchWhNm"]').val(data[0].NAME);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchWhCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='hdnWhId']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='hdnWhId']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchWhNm']").val("");
	}
}


/* 창고명 입력 */
function vrSrchWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('form[name="frm_list"] input[name="txtSrchWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="hdnWhId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="txtSrchWhNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchWhCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='hdnWhId']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='hdnWhId']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchWhNm']").val("");
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="hdnCustId"]').val("");
	}
}


/* 상품코드 입력 */
function txtSrchItemCd_OnKillFocus(){
 	//입력한 상품코드를 가져온다
 	var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());
 	var vrSrchItemCd = cfn_trim(jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val());

 	//null이 아닐경우 검색한다.
 	if(vrSrchItemCd != ""){
 		jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val('');
 		var srchKey = "ITEM";
 		var param 	= "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
 		var url = "/selectMngCode.action"
 		jQuery.post(url,param,function(data){
 			//검색후 결과 갯수를 가져온다.
 			//없을경우는 없다고 띄우고 input 초기화
 			//1가지일경우 바로 이름과 코드를 셋팅해준다.
 			//2가지 이상일경우 팝얼띄어서 조회된 결과를 보여준다.
			var data = data.ITEM;
			var cnt  = data.size();
 			if (cnt > 1){	//2가지 이상일경우
 				var strParameter = [];
 				strParameter.push(vrSrchItemCd);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
 				var url = "/WMSCM091.action" + param;

 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){ //1가지 일경우
 				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val(data[0].CODE);
 				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val(data[0].NAME);
 				jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val(data[0].ID);
 			}else{	//없을경우
 				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
 				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
 				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
 				jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val("").focus();
 				return;
 			}
 		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
 	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val("");
	}
 }

/* 상품명 자동팝업생성 */
function txtSrchItemNm_OnKillFocus(){
	//입력한 상품코드를 가져온다
	var vrSrchItemNm = cfn_trim(jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val());
	var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());

	//null이 아닐경우 검색한다.
	if(vrSrchItemNm != ""){
		jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val('');
		var srchKey = "ITEM";
		var param 	= "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url = "/selectMngCode.action"
		jQuery.post(url,param,function(data){
			//검색후 결과 갯수를 가져온다.
			//없을경우는 없다고 띄우고 input 초기화
			//1가지일경우 바로 이름과 코드를 셋팅해준다.
			//2가지 이상일경우 팝얼띄어서 조회된 결과를 보여준다.
			var data = data.ITEM;
			var cnt  = data.size();
			if (cnt > 1){	//2가지 이상일경우
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width = "800";
				var height = "560";
				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				var url = "/WMSCM091.action" + param;

				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}else if (cnt == 1){ //1가지 일경우
				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val(data[0].CODE);
				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val(data[0].NAME);
				jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val(data[0].ID);
			}else{	//없을경우
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val("").focus();
				return;
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchItemNm']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchItemId']").val("");
	}
}

//팝업 호출
function fn_Popup(pop, id){
	var strParameter = [];
	var param = "";
	var url = "";
	var width = "800";
	var height = "560";

	switch(pop){

	case 'WMSCM011' : // 화주조회
		param = "?func=fn_setWMSCM011&custType=12";
		url = "/WMSCM011.action" + param;
		break;

	case 'WMSCM091' : // 상품조회
		var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());

		strParameter.push('');
		strParameter.push('');
		strParameter.push(cfn_trim(jQuery('form[name="frm_list"] input[name="hdnCustId"]').val()));
		param = '?func=fn_setWMSCM091&strParameter='+strParameter;
		url = "/WMSCM091.action" + param;
		break;

	case 'WMSCM040' : // 창고조회
		param = "?func=fn_setWMSMS040";
		url = "/WMSMS040/pop.action" + param;
		break;

	case 'WMSST220E2' : // 셋트상품 조회
		strParameter.push(jQuery("#list").getCell(id, "CUST_CD"));
		strParameter.push(jQuery("#list").getCell(id, "CUST_NM"));
		strParameter.push(jQuery("#list").getCell(id, "RITEM_CD"));
		strParameter.push(jQuery("#list").getCell(id, "RITEM_NM"));

		width = "810";
		height = "800";
		param = "?func=fn_setWMSST220&strParameter="+strParameter;
		url = "/WMSST220/pop.action" + param;
		break;
	}

	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 셋트상품 */
function fn_setWMSST220(arr){
	var info = arr[0];
	/* 재고 입출고내역 조회 화면으로 이동 */

	var ritem_cd = info.ritem_cd;
	var work_dt = jQuery("input[name='today']").val();

	var frm = jQuery("#moveForm");

	jQuery.cookie("jstree_select", "#WMSST020", "");

	jQuery("#vrSrchItemCd").val(ritem_cd);
	jQuery("#vrSrchReqDtFrom2").val(work_dt);
	jQuery("#vrSrchReqDtTo2").val(work_dt);

	frm.submit();
}

/* 화주 */
function fn_setWMSCM011(arr){
	var info = arr[0];
	jQuery("#txtSrchCustCd").val(info.cust_cd);
	jQuery("#hdnCustId").val(info.cust_id);
	jQuery("#txtSrchCustNm").val(info.cust_nm);
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="hdnCustId"]').val(info.cust_id);
}

/* 상품 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery("#txtSrchItemCd").val(info.item_code);
	jQuery("#txtSrchItemNm").val(info.item_kor_nm);
	jQuery("#txtSrchItemId").val(info.ritem_id);

}
/* 창고 */
function fn_setWMSMS040(arr){
	var info = arr[0];
	jQuery("#txtSrchWhCd").val(info.wh_cd);
	jQuery("#hdnWhId").val(info.wh_id);
	jQuery("#txtSrchWhNm").val(info.wh_nm);
}

//엑셀
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;

	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST220/excel.action"+param;
		fm.method="post";
		fm.submit();
	}
}

//엑셀
function fn_excelDown2(){
	var id = jQuery("#GridId").val()
	var grid = jQuery("#detail");
	var grid2 = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var uom_id = grid2.getCell(id, 'UOM_ID');
	var ritem_id = grid2.getCell(id, 'RITEM_ID');
	var param = "?sidx="+sidx+"&sord="+sord+"&vrRitemId="+ritem_id+"&vrUomId="+uom_id;
	var fm = document.frm_list;
	var countRow = jQuery("#detail").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST220/excel2.action"+param;
		fm.method="post";
		fm.submit();
	}
}

//왼쪽에서부터 채운다는 의미
function LPAD(s, c, n) {    
	if (! s || ! c || s.length >= n) {
		return s;
	}
	var max = (n - s.length)/c.length;
	for (var i = 0; i < max; i++) {
		s = c + s;
	}
	return s;
}

//화주에따라 바뀌는 히든그리드의 샘플데이터를 컬럼명(한글), 컬럼model(영문), 샘플데이터 를가지고 excel을 그려서 다운받는다
function fn_sampleDown(){
	var grid     = jQuery("#list");
	var ids      = grid.jqGrid('getDataIDs');
	var gridData = grid.getRowData();
	
	var col_name   = grid.jqGrid('getGridParam', 'colNames');
	var col_model  = grid.jqGrid('getGridParam', 'colModel');
	var isEmptyCol = ["CHK_BOX","ST_GUBUN","ST_GUBUN_IMG","FLAG","RITEM_ID","LC_ID","UOM_ID"];
	var col_size   = col_name.size() - isEmptyCol.length; //hidden col 뒷단에 놓고 그만큼 제거
	
	jQuery("#formSample").html("");
	jQuery("#formSample").append("<input type='text' name='Col_Size'  value='" + col_size + "'/><br/>");	//사이즈
	jQuery("#formSample").append("<input type='text' name='Row_Size'  value='" + gridData.length + "'/><br/>");	//사이즈
	
	for(var k = 0 ; k < gridData.length ; k++){
		if(k == 0){
			for(var i = 0 ; i < col_size ; i++){
				jQuery("#formSample").append("<input type='text' name='Name_"+i+"'         value='" + col_name[i] + "'/>");									// 컬럼명(한글 화면에보여주는이름)
				jQuery("#formSample").append("<input type='text' name='Col_" +i+"'         value='" + col_model[i].name + "'/>");								// 컬럼명(영어 db컬럼명같은)
				jQuery("#formSample").append("<input type='text' name='"+k+ "_Row_" +i+"'  value='" + grid.getCell(ids[k], col_model[i].name) + "'/><br/>");	// 샘플데이터	
			}
		}else{
			for(var i = 0 ; i < col_size ; i++){
				jQuery("#formSample").append("<input type='text' name='"+k+ "_Row_" +i+"'  value='" + grid.getCell(ids[k], col_model[i].name) + "'/><br/>");	// 샘플데이터
			}
		}
	}	
	var param = jQuery("form[name='frm_sample']").serialize();

	var fm 	  = document.frm_sample;
    fm.action = "/WMSST220/sampleExcelDown.action";
    fm.method = "post";
    fm.submit();
}

</script>

<div id="tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("현재고조회")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>

	<div id="tabs-1">
#parse("winus/wmsst/WMSST220E1.vm")
	</div>
</div>


<div id="jqContextMenu" style="display:none">
	<div id="myMenu1">
		<ul>
			<li id="menu1" style="display:;">
				<a href='#'><span>$!lang.getText("세트상품조회")</span></a>
			</li>
		</ul>
	</div>
</div>

#parse("winus/common/footer.vm")