<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>$!lang.getText("세트상품조회")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>
<script type="text/javascript" src="/js/jquery/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/highlight.pack.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/layout.js"></script>

</head>
<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))
#set($ss_cmpy_code = $!session.getAttribute("SS_CMPY_CODE"))
#set($ss_cmpy_id = $!session.getAttribute("SS_CMPY_ID"))
#set($ss_cmpy_name = $!session.getAttribute("SS_CMPY_NAME"))
<script type="text/javascript">


//////////////////////////////////////////////////////
//
//   추후수정부분
//   vrViewInZone 구별 (입고존, 출고존) 및 SQL 사용안함(미구현)
//
//////////////////////////////////////////////////////


/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();
var detailGrid = new ULNSI_jQGrid();

var strCustCd = "";
var strCustNm = "";
var strItemCd = "";
var strItemNm = "";

jQuery(document).ready(function(){
	// Tabs
	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	// console.log(arrParameter);
	strCustCd = (arrParameter[0] == undefined) ? "" : arrParameter[0];
	strCustNm = (arrParameter[1] == undefined) ? "" : arrParameter[1];
	strItemCd = (arrParameter[2] == undefined) ? "" : arrParameter[2];
	strItemNm = (arrParameter[3] == undefined) ? "" : arrParameter[3];

	jQuery('form[name="formDetl"] input[name="vrSrchCustCd"]').val(strCustCd);
	jQuery('form[name="formDetl"] input[name="vrSrchCustNm"]').val(strCustNm);
	jQuery('form[name="formDetl"] input[name="vrSrchItemCd"]').val(strItemCd);
	jQuery('form[name="formDetl"] input[name="vrSrchItemNm"]').val(strItemNm);

	jQuery("#tab1").tabs({
		show: function(event, ui) {resizeGrid();}
	});


	// button
	jQuery("input:button").button();

	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명
	var colNameArray = [
	                    'CHK_BOX',
	  	                'ST_GUBUN',
	  	                '',
	  	                'FLAG',

	  	                '$!lang.getText("화주명")',
	  	                '$!lang.getText("코드")',
	  	                '$!lang.getText("상품명")',
	  	                '$!lang.getText("수량")',
	  	                'UOM',

	  	                '/',
	  	                '$!lang.getText("코드")',
	  	                '$!lang.getText("상품명")',
	  	                'QTY',
	  	                'UOM',

	  	                'RITEM_ID',
	  	                'UOM_ID'
	  		           ];

	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'CHK_BOX',				index:'CHK_BOX',					align:"left", hidden:true },
			{name:'ST_GUBUN',				index:'ST_GUBUN',					align:"left", hidden:true },
			{name:'ST_GUBUN_IMG',			index:'ST_GUBUN_IMG',	width:20,	align:"left", hidden:true},
			{name:'FLAG',					index:'FLAG',						align:"left", hidden:true },

			{name:'CUST_NM',				index:'CUST_NM',					align:"left"},
			{name:'RITEM_CD',				index:'RITEM_CD',					align:"left"},
			{name:'RITEM_NM',				index:'RITEM_NM',					align:"left"},
			{name:'STOCK_QTY',				index:'STOCK_QTY',					align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'UOM_NM',					index:'UOM_NM',						align:"left"},

			{name:'M',						index:'M',				width:40,	align:"center"},
			{name:'PART_RITEM_CD',			index:'PART_RITEM_CD',				align:"left"},
			{name:'PART_RITEM_NM',			index:'PART_RITEM_NM',				align:"left"},
			{name:'PART_QTY',				index:'PART_QTY',					align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'PART_UOM_NM',			index:'PART_UOM_NM',				align:"left"},

			{name:'RITEM_ID',				index:'RITEM_ID',					align:"left", hidden:true },
			{name:'UOM_ID',					index:'UOM_ID',						align:"left", hidden:true }

		];

	var option = {
			'title' : '$!lang.getText("세트상품내역")',
			'height' : 220,
			'width' : '100%',
			'colName' : colNameArray,
			'colModel' : colModelArray,
	        'pager' : jQuery("#pjmap"),
	        'autowidth' : true,
	        'multiselect' : true,
	        'viewrecords' : true,
	        'gridview' : true,
	        'sortable' : true,
	        #if($ss_gird_num != "")
	        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
	        #else
	        'rowList' : [100,200,300],
	        #end
	        'rownumbers' : true,
	        'rownumWidth': 40,
	        'shrinkToFit' : true,
	        'footerrow' 	: true, // 합계
			'userDataOnFooter' : true // 합계
		};
	var param = jQuery("form[name='formDetl']").serialize();
	var url ="/WMSST260/poplist.action?"+param;

	function loadCompleteEventCallback (data){
		var grid = jQuery("#list");
		var gridData = grid.getRowData();

		/* 합계처리 변수 */
		var SUM_STOCK_QTY = 0;
		var SUM_PART_QTY = 0;
		var SUM_M = 0;
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_STOCK_QTY = SUM_STOCK_QTY + Number(gridData[i].STOCK_QTY);
			SUM_PART_QTY = SUM_PART_QTY + Number(gridData[i].PART_QTY);
			SUM_M = SUM_M + Number(gridData[i].M);
		}

		/* 합계처리 변수 셋업 */
		var footData = {
				CUST_NM	: "$!lang.getText('합계')"
 			  , RITEM_CD : "$!lang.getText('세트상품수량')"
			  , STOCK_QTY : SUM_STOCK_QTY
			  , M : SUM_M
			  , PART_RITEM_CD: "$!lang.getText('부분품수량')"
			  , PART_QTY : SUM_PART_QTY
		};
		
		grid.jqGrid('footerData','set', footData);
	};

	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			javascript:self.close(); // 팝업창 닫기
		}
	};

	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback, loadErrorCallback);

	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#list");
		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid.setStatus(id, " ");
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}

		var ritem_id = grid.getCell(id, 'RITEM_ID');
 		var uom_id = grid.getCell(id, 'UOM_ID');

 		var param = "vrRitemId="+ritem_id+"&vrUomId="+uom_id+"&vrBlNo=";
 		var url = "/WMSST260/popdetail.action?"+param;
 			detailGrid.search(param, url);
	});

	/* 그리드 공통화 적용 끝- listGrid */

	/* 그리드 공통화 적용 시작- detailGrid */

	// 그리드 컬럼명
	var colNameArray_detail = [
	                           'CHK_BOX',
	         	              'ST_GUBUN',
	         	              '',
	         	              'FLAG',

	         	              '$!lang.getText("로케이션")',
	         	              '$!lang.getText("코드")',
	         	              '$!lang.getText("상품명")',
	         	              '$!lang.getText("재고수량")',
	         	              'UOM',

	         	              '$!lang.getText("PLT수량")',
	         	              '$!lang.getText("B/L번호")',
	         	              '$!lang.getText("창고")',
	         	              '$!lang.getText("LOT번호")',
	         	              '$!lang.getText("제품등급")',
	         	              'STOCK_ID'
	                           ];
		// 그리드 컬럼 정의
	var colModelArray_detail = [
		{name:'CHK_BOX',		index:'CHK_BOX',					align:"left",	hidden:true},
		{name:'ST_GUBUN',		index:'ST_GUBUN',					align:"left",	hidden:true},
		{name:'ST_GUBUN_IMG',	index:'ST_GUBUN_IMG',	width:20,	align:"left",	hidden:true},
		{name:'FLAG',			index:'FLAG',						align:"left",	hidden:true},

		{name:'LOC_NM',			index:'LOC_NM',			width:100,	align:"left"},
		{name:'RITEM_CD',		index:'RITEM_CD',		width:100,	align:"left"},
		{name:'RITEM_NM',		index:'RITEM_NM',		width:100,	align:"left"},
		{name:'STOCK_QTY',		index:'STOCK_QTY',		width:100,	align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
		{name:'UOM_NM',			index:'UOM_NM',			width:100,	align:"left"},

		{name:'REAL_PLT_QTY',	index:'REAL_PLT_QTY',	width:100,	align:"right",	formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
		{name:'',				index:'',				width:100,	align:"left"},
		{name:'WH_NM',			index:'WH_NM',			width:100,	align:"left"},
		{name:'CUST_LOT_NO',	index:'CUST_LOT_NO',	width:100,	align:"left"},
		{name:'ITEM_CLASS',		index:'ITEM_CLASS',		width:100,	align:"left"},
		{name:'STOCK_ID',		index:'STOCK_ID',		width:100,	align:"left"}

		];

	var option_detail = {
		'title' : '$!lang.getText("부분품내역")',
		'height' : 160,
		'width' : '980',
		'colName' : colNameArray_detail,
		'colModel' : colModelArray_detail,
	    'pager' : jQuery("#detail_pjmap"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
	    #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
        #else
        'rowList' : [100,200,300],
        #end
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40
	};



	detailGrid.init(jQuery("#detail"), option_detail);

	detailGrid.setDblClickRowEventCallback(function(rowid, iRow, iCol, e) {
		/* 재고입출고 이동 */
		jQuery("#detail_ritem_cd").val(jQuery("#detail").getCell(rowid,'RITEM_CD'));
		var frm = document.formDetl;
		var arg_func 	= frm.func.value;
		// console.log(arg_func);
		var opnr_func = eval("opener." + arg_func);
		var arr 	= new Array();
		var info	= new Object();

		if(frm.detail_ritem_cd.value != ""){
			info.ritem_cd	= frm.detail_ritem_cd.value;
			// console.log(info.ritem_cd);
			arr[0]= info;

	    	if(arr != null){
	    		opnr_func(arr);
	    	}
		}
	});

	/* 헤더 그룹처리 */
	jQuery("#list").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("세트상품")'},
		                  {startColumnName : 'PART_RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("부분품")'},


						]
	});

	/* 헤더 그룹처리 */
	jQuery("#detail").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("상품")'},
						]
	});

	/* 그리드 공통화 적용 끝- detailGrid */
	 // 검색조건 enter검색
	Event.observe('srchBox', 'keydown', cfn_search, false);

});

//검색
function fn_search(op, op1) {

	var param = jQuery("form[name='formDetl']").serialize();
	var url = "/WMSST260/poplist.action?"+param;

	listGrid.search(param, url, op, op1);

}

//엑셀
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;

	var fm = document.formDetl;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSST260/popexcel.action"+param;
		fm.method="post";
		fm.submit();
	}
}

/* 팝업 호출 */
function fn_Popup(type, id){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "530"
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;
		case 'ITEM':	//검색 상품코드
			var vrSrchCustId = cfn_trim(jQuery('form[name="formDetl"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push(vrSrchCustId);
			strParameter.push('');
			strParameter.push('Y');
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
		case 'ITEM2':	//검색 상품코드
			var vrSrchCustId = cfn_trim(jQuery('form[name="formDetl"] input[name="vrSrchCustId"]').val());
			strParameter.push('');
			strParameter.push('');
			strParameter.push(vrSrchCustId);
			param = '?func=fn_setWMSCM091_2&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup3", width, height);
	asppop.focus();
}


/* 팝업 적용 (LOC) */
function fn_setWMSCM080(arr){
	var info = arr[0];
	//그리드에적용
	var grid = jQuery("#list");
	var rowid = jQuery("form[name='formDetl'] input[name='MAIN_ID']").val();
	grid.setCell(rowid, 'TO_LOC_CD', info.loc_cd);
	grid.setCell(rowid, 'TO_LOC_ID', info.loc_id);
}




/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];
	jQuery('form[name="formDetl"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="formDetl"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="formDetl"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery('form[name="formDetl"] input[name="vrSrchItemCd"]').val(info.item_code);
	jQuery('form[name="formDetl"] input[name="vrSrchItemId"]').val(info.ritem_id);
	jQuery('form[name="formDetl"] input[name="vrSrchItemNm"]').val(info.item_kor_nm);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091_2(arr){
	var info = arr[0];
	jQuery('form[name="formDetl"] input[name="vrSrchPartCd"]').val(info.item_code);
	jQuery('form[name="formDetl"] input[name="vrSrchPartId"]').val(info.ritem_id);
	jQuery('form[name="formDetl"] input[name="vrSrchPartNm"]').val(info.item_kor_nm);
}

/* 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="formDetl"] input[type="text"]').val('');
	jQuery('#vrSrchCustId').val('');
	jQuery('#vrSrchItemId').val('');
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="formDetl"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup4", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="formDetl"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="formDetl"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="formDetl"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='formDetl'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='formDetl'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="formDetl"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='formDetl'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="formDetl"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="formDetl"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup4", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="formDetl"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="formDetl"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="formDetl"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='formDetl'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='formDetl'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="formDetl"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='formDetl'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="formDetl"] input[name="vrSrchCustId"]').val("");
	}
}


/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('form[name="formDetl"] input[name="vrSrchItemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup4", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="formDetl"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="formDetl"] input[name="vrSrchItemId"]').val(data[0].ID);
				jQuery('form[name="formDetl"] input[name="vrSrchItemNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='formDetl'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='formDetl'] input[name='vrSrchItemId']").val("");
				jQuery("form[name='formDetl'] input[name='vrSrchItemNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='formDetl'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchItemId']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchItemNm']").val("");
	}
}



/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	var vrSrchItemNm = jQuery('form[name="formDetl"] input[name="vrSrchItemNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup4", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="formDetl"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="formDetl"] input[name="vrSrchItemId"]').val(data[0].ID);
				jQuery('form[name="formDetl"] input[name="vrSrchItemNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='formDetl'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='formDetl'] input[name='vrSrchItemId']").val("");
				jQuery("form[name='formDetl'] input[name='vrSrchItemNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='formDetl'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchItemId']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchItemNm']").val("");
	}
}


/* 상품코드 입력2 */
function vrSrchPartCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('form[name="formDetl"] input[name="vrSrchPartCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup4", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="formDetl"] input[name="vrSrchPartCd"]').val(data[0].CODE);
				jQuery('form[name="formDetl"] input[name="vrSrchPartId"]').val(data[0].ID);
				jQuery('form[name="formDetl"] input[name="vrSrchPartNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='formDetl'] input[name='vrSrchPartCd']").val("").focus();
				jQuery("form[name='formDetl'] input[name='vrSrchPartId']").val("");
				jQuery("form[name='formDetl'] input[name='vrSrchPartNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='formDetl'] input[name='vrSrchPartCd']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchPartId']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchPartNm']").val("");
	}
}


/* 상품명 입력2 */
function vrSrchPartNm_OnKillFocus(){
	var vrSrchItemNm = jQuery('form[name="formDetl"] input[name="vrSrchPartNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup4", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="formDetl"] input[name="vrSrchPartCd"]').val(data[0].CODE);
				jQuery('form[name="formDetl"] input[name="vrSrchPartId"]').val(data[0].ID);
				jQuery('form[name="formDetl"] input[name="vrSrchPartNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='formDetl'] input[name='vrSrchPartCd']").val("").focus();
				jQuery("form[name='formDetl'] input[name='vrSrchPartId']").val("");
				jQuery("form[name='formDetl'] input[name='vrSrchPartNm']").val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{	//없을경우
		jQuery("form[name='formDetl'] input[name='vrSrchPartCd']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchPartId']").val("");
		jQuery("form[name='formDetl'] input[name='vrSrchPartNm']").val("");
	}
}

//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}

var strings = new Array();
strings['grid.no_selected_data_for_delete'] = "$!lang.getText('삭제할데이터를선택해주세요')";
strings['grid.no_check_data_for_save'] = "$!lang.getText('저장할데이터를선택해주세요')";
strings['grid.confirm_save'] = "$!lang.getText('저장하시겠습니까')";
strings['grid.no_selected_data_for_save'] = "$!lang.getText('저장할데이터를선택해주세요')";


var message_list = {
	    'no_selected_data_for_delete': '$!lang.getText('삭제할데이터를선택해주세요', $ss_lang_type)',
	    'no_check_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)',
	    'confirm_save': '$!lang.getText('저장하시겠습니까', $ss_lang_type)',
	    'no_selected_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)'
	}

</script>
<div class="popupWrap">
    <div class="popupHeader">
    	<form name="formDetl" action="" method="post">
			<input type="hidden" id="func" name="func" value="$!request.getParameter('func')"/>

    		<input type="hidden" name="MOVE_DT" id="MOVE_DT"/>
    		<input type="hidden" name="WORK_CD" id="WORK_CD"/>
    		<input type="hidden" name="WORK_ID" id="WORK_ID"/>

    		<input type="hidden" name="detail_ritem_cd" id="detail_ritem_cd"/>

    		<input type="hidden" name="strNewGb" id="strNewGb"/>
    		<input type="hidden" name="MAIN_ID" id="MAIN_ID"/>

    		<div class="btnArea marB10">
                <div class="btnAreaLeft">
                  $!lang.getText("세트상품조회")
                </div>
    	    </div>

    		<table class="search" id="srchBox">
    			<colgroup>
    				<col width="70px"/> 
					<col width="33%"/>
					<col width="70px"/> 
					<col width="33%"/>
					<col width="70px"/> 
					<col width="33%"/>
<!-- 					<col width="40px"/> -->
					<col width="40px"/>
    			</colgroup>
    			<tr>
    			#if($adminInfo.getCustId() == $ss_user_gb)
					<th class="thBar">$!lang.getText("화주")</th>
					<td>
						<input type="text" class="readOnly" name="vrSrchCustCd" id="vrSrchCustCd" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
						<img src="/img/exam/btn/ico_search.gif">
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"/>
						<input type="text" class="readOnly" name="vrSrchCustNm" id="vrSrchCustNm" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
					</td>
				#else
					<th>$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style="width: 35%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" id="btnSrchCustPop" onClick='fn_Popup("CUST");' />
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"/>
						<input type="text" class = "text" style="width: 35%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"/>
					</td>
				#end
					<th class="thBar">$!lang.getText('세트상품')</th>
					<td>
						<input type="text" class = "text" style="width: 35%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" id="btnSrchItemPop" onClick='fn_Popup("ITEM");'/>
						<input type="hidden"name="vrSrchItemId" id="vrSrchItemId"/>
						<input type="text" class = "text" style="width: 35%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus()"/>
					</td>

					<th class="thBar">$!lang.getText('부분품')</th>
					<td>
						<input type="text" class = "text" style="width: 35%" name="vrSrchPartCd" id="vrSrchPartCd" onChange="vrSrchPartCd_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" id="btnSrchWhPop" onClick='fn_Popup("ITEM2");' />
						<input type="hidden"name="vrSrchPartId" id="vrSrchPartId"/>
						<input type="text" class = "text" style="width: 35%" name="vrSrchPartNm" id="vrSrchPartNm" onChange="vrSrchPartNm_OnKillFocus()"/>
					</td>
<!-- 					<th class="btnReset"> -->
<!-- 						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_initSer();" title="Reset" role="button" aria-disabled="false"/> -->
<!-- 					</th> -->
					<th class="btnSearch">
						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
					</th>
		    	</tr>
		    </table>
		    <div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
    	</form>
    	<div class="btnArea">
	    	<div class="btnAreaRight">
	    		<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/>
				<input type="button" value='$!lang.getText("닫기")' class="btnEtc" onclick="javascript:self.close();"/>
			</div>
		</div>
    </div>

    <div class="popupContent">
	    <div class="list_box">
	    	<table id="list"></table>
	    	<div id="pjmap"></div>
	    </div>

		<div class="list_box">
			<table id="detail"></table>
			<div id="detail_pjmap"></div>
		</div>
	</div>

</div>
</body>
</html>