<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('상세페이지')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var PoplistAGridA = new ULNSI_jQGrid();
var PoplistAGridB = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	//공통팝업 parameter받는 방법 (배열로 받아서 처리)
	//winus로직 반영
	var arrParameter 	= "$!request.getParameter('strParameter')".split(',');
	var vrEpcCd  	 	= (arrParameter[0] == undefined) ? "" : arrParameter[0];		//상품코드
	
	jQuery('form[name="frm_list"] input[name="vrEpcCd"]').val(vrEpcCd);
	
	// button
	jQuery("input:button").button();
	
	/* 상품정보목록 시작 */
	// 그리드 컬럼명
	var colNameArray = [
	                     '$!lang.getText("물류센터")'					//LC_NM
						,'$!lang.getText("화주ID")'					//CUST_ID
						,'$!lang.getText("상품명")'					//RITEM_NM
						,'$!lang.getText("매핑 수량")'					//CHILD_QTY
						,'$!lang.getText("물류용기번호")'				//RTI_EPC_CD
						,'$!lang.getText("주문번호")'					//ORD_ID
						,'$!lang.getText("등록일")'					//REG_DT
						,'$!lang.getText("등록자")'					//REG_NO
		                ,'$!lang.getText("수정일")'					//UPD_DT
		                ,'$!lang.getText("수정자")'					//UPD_NO
		                    
		                ,'$!lang.getText("기기명")'					//PDA_NO                    
		                ,'$!lang.getText("생성일")'					//EVENT_DT
		                ,'RITEM_ID'
	                   ];
	                    
	// 그리드 컬럼 정의		          
	var colModelArray = [					
	                 	  {name : 'LC_NM'				,index : 'LC_NM'				,width : 140}
						 ,{name : 'CUST_NM'				,index : 'CUST_NM'				,width : 120}
						 ,{name : 'RITEM_NM'			,index : 'RITEM_NM'				,width : 160}
						 ,{name : 'CHILD_QTY'			,index : 'CHILD_QTY'			,width : 60			,align : "right"}
						 ,{name : 'RTI_EPC_CD'			,index : 'RTI_EPC_CD'			,width : 260} 
						 ,{name : 'ORD_ID'				,index : 'ORD_ID'				,width : 80}
						 ,{name : 'REG_DT'				,index : 'REG_DT'				,width : 140		,align : "center"}
						 ,{name : 'REG_NO'				,index : 'REG_NO'				,width : 80}
						 ,{name : 'UPD_DT'				,index : 'UPD_DT'				,width : 140		,align : "center"}
						 ,{name : 'UPD_NO'				,index : 'UPD_NO'				,width : 80}
						 
						 ,{name : 'PDA_NO'				,index : 'PDA_NO'				,hidden : true		,width : 80}				
						 ,{name : 'EVENT_DT'			,index : 'EVENT_DT'				,hidden : true		,width : 140}
						 ,{name : 'RITEM_ID'			,index : 'RITEM_ID'				,hidden : true}
 						];

	// 그리드 옵션	
	var option = {
			 		'title'		: "$!lang.getText('입고 (IN)')"
				  ,'height'		: 160
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  #if($ss_gird_num != "")				  
			      	  ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
			      #else
			     	  ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'shrinkToFit' : false
				  ,'jsonReader'	: {repeatitems : false}
				 };
	
	url = "/WMSST180/DetailPop.action?vrEpcCd="+vrEpcCd+"&vrOrdType=I";	
	var loadCompleteEventCallback = "";
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_close(err);
			javascript:self.close();
		}
	};
	// 그리드 셋팅
	PoplistAGridA.init(jQuery("#PoplistA"), option, url, loadCompleteEventCallback, loadErrorCallback);
	
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
});



jQuery(document).ready(function(){
	//공통팝업 parameter받는 방법 (배열로 받아서 처리)
	//winus로직 반영
	var arrParameter 	= "$!request.getParameter('strParameter')".split(',');
	var vrEpcCd  	 	= (arrParameter[0] == undefined) ? "" : arrParameter[0];		//상품코드
	
	jQuery('form[name="frm_list"] input[name="vrEpcCd"]').val(vrEpcCd);
	
	// button
	jQuery("input:button").button();
	
	/* 상품정보목록 시작 */
	// 그리드 컬럼명
	var colNameArray = [
	                     '$!lang.getText("물류센터")'					//LC_NM
						,'$!lang.getText("화주ID")'					//CUST_ID
						,'$!lang.getText("상품명")'					//RITEM_NM
						,'$!lang.getText("매핑 수량")'					//CHILD_QTY
						,'$!lang.getText("물류용기번호")'				//RTI_EPC_CD
						,'$!lang.getText("주문번호")'					//ORD_ID
						,'$!lang.getText("등록일")'					//REG_DT
						,'$!lang.getText("등록자")'					//REG_NO
			            ,'$!lang.getText("수정일")'					//UPD_DT
			            ,'$!lang.getText("수정자")'					//UPD_NO
			                    
			            ,'$!lang.getText("기기명")'					//PDA_NO                    
			            ,'$!lang.getText("생성일")'					//EVENT_DT
			            ,'RITEM_ID'
	                   ];
	                    
	// 그리드 컬럼 정의		          
	var colModelArray = [					
	                 	  {name : 'LC_NM'				,index : 'LC_NM'				,width : 140}
						 ,{name : 'CUST_NM'				,index : 'CUST_NM'				,width : 120}
						 ,{name : 'RITEM_NM'			,index : 'RITEM_NM'				,width : 160}
						 ,{name : 'CHILD_QTY'			,index : 'CHILD_QTY'			,width : 60			,align : "right"}
						 ,{name : 'RTI_EPC_CD'			,index : 'RTI_EPC_CD'			,width : 260} 
						 ,{name : 'ORD_ID'				,index : 'ORD_ID'				,width : 80}
						 ,{name : 'REG_DT'				,index : 'REG_DT'				,width : 140		,align : "center"}
						 ,{name : 'REG_NO'				,index : 'REG_NO'				,width : 80}
						 ,{name : 'UPD_DT'				,index : 'UPD_DT'				,width : 140		,align : "center"}
						 ,{name : 'UPD_NO'				,index : 'UPD_NO'				,width : 80}
						 
						 ,{name : 'PDA_NO'				,index : 'PDA_NO'				,hidden : true		,width : 80}				
						 ,{name : 'EVENT_DT'			,index : 'EVENT_DT'				,hidden : true		,width : 140}
						 ,{name : 'RITEM_ID'			,index : 'RITEM_ID'				,hidden : true}
 						];

	// 그리드 옵션	
	var option = {
			 		'title'		: "$!lang.getText('출고 (OUT)')"
				  ,'height'		: 160
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#detail_pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  #if($ss_gird_num != "")
				      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
			      #else
				      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'shrinkToFit' : false
				  ,'jsonReader'	: {repeatitems : false}
				 };
	
	url = "/WMSST180/DetailPop.action?vrEpcCd="+vrEpcCd+"&vrOrdType=O";	
	var loadCompleteEventCallback = "";
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_close(err);
			javascript:self.close();
		}
	};
	// 그리드 셋팅
	PoplistAGridB.init(jQuery("#PoplistB"), option, url, loadCompleteEventCallback, loadErrorCallback);
	
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
});

</script>


<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
           		 <th>$!lang.getText('[이력추적상세]')</th>
	             <div class="btnAreaRight">    			
				 	<input type="button" class = "btnEtc" value="$!lang.getText('닫기')" onclick="javascript:self.close();"	 role="button" aria-disabled="false" />
            	 </div>
            </div> 
        </div>
         
        <form name="frm_list">
         	<input type='hidden' name='func'			id='func'	value='$!request.getParameter("func")'/>
			<input type='hidden' name='vrEpcCd' 	id='vrEpcCd' />
			<input type='hidden' name='vrOrdType' 	id='vrOrdType' />
		</form>
	</div>
	
    <div class="popupContent">	
		<div class="list_box">
			<table id="PoplistA"></table>
			<div id="pjmap"></div>
		</div>
		
		<div class="list_box">
			<table id="PoplistB"></table>
			<div id="detail_pjmap"></div>
		</div>
    </div>
</div>

</body>
</html>