<div class="patternWrap">
	<form name="frm_list" id="frm_list_2">
		<table class="search" id="srchBox_2" border='0'>
			<colgroup>
				<col width="15%"/>
				
				<col width="27px"/>
				<col width="20%"/>	
				
				<col width="27px"/>
				<col width="20%"/>
				
				<col width="27px"/>
				<col width="20%"/>
				
				<col width="27px"/>
				<col width="20%"/>
				
				<col width="27px"/>
				<col width="20%"/>
				
				<col width="2%"/>
					
				<col width="50px"/>	
			</colgroup>
			<tr>
				
				<th>$!lang.getText("조회기간")</th>
				<td colspan="5">		
					<input type = "text" class = "text" style="width:40%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom_2" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom_2)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom_2)">~
					<input type = "text" class = "text" style="width:40%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo_2"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo_2)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo_2)">	
					<select id="vrSrchDtType_2" name="vrSrchDtType" style="width: 20%;" onChange="fn_chageDtType();">
						<option value="day" selected>일별</option>
						<option value="month">월별</option>
					</select>
					<input type="hidden" id="dtLength_2" name="dtLength" value="8" />
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<th class="btnSearch" rowspan="4">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search_2();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			<tr>
				<th>$!lang.getText('화주')</th>
				<td colspan="2">
					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd_2" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop_2" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm_2" onChange="vrSrchCustNm_OnKillFocus()"> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId_2">
				</td>
				<td></td>
				<th>$!lang.getText('배송기사')</th>
				<td colspan="2">
					<input type="text" class = "text" style = "width: 45%" name="vrSrchDrvTel" id="vrSrchDrvTel_2" onChange="vrSrchDrvTel_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchTelPop_2" onClick='fn_Popup("DRIVER");' class="imgSearch"/> 
					<input type="text" class = "text" style = "width: 45%" name="vrSrchDrvNm" id="vrSrchDrvNm_2" onChange="vrSrchDrvNm_OnKillFocus()"> 
					<input type="hidden" name="vrSrchDrvId" id="vrSrchDrvId_2">
				</td>
				<td></td>
				<td></td>
				<td></td>
				
			
			</tr>
			<tr>
				<th>$!lang.getText("물류센터순서")</th>
				<th>$!lang.getText("1)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME01' id='LC_NAME01_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME01');">
							
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
							<option value="ESS">$!lang.getText("필수입력")</option>
						</select>
					#else
						<select name='LC_NAME01' id='LC_NAME01_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME01');">
							
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
							<option value="ESS">$!lang.getText("필수입력")</option>
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL01' id='LC_NAME_VAL01_2'/>
				</td>
				<th>$!lang.getText("2)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME02' id='LC_NAME02_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME02');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME02' id='LC_NAME02_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME02');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL02' id='LC_NAME_VAL02_2'/>
				</td>
				<th>$!lang.getText("3)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME03' id='LC_NAME03_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME03');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME03' id='LC_NAME03_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME03');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL03' id='LC_NAME_VAL03_2'/>
				</td>
				<th>$!lang.getText("4)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME04' id='LC_NAME04_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME04');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME04' id='LC_NAME04_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME04');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL04' id='LC_NAME_VAL04_2'/>
				</td>
				<th>$!lang.getText("5)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME05' id='LC_NAME05_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME05');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME05' id='LC_NAME05_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME05');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL05' id='LC_NAME_VAL05_2'/>
				</td>
				<td></td>
			</tr>
			<tr>
				<th></th>
				<th>$!lang.getText("6)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME06' id='LC_NAME06_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME06');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME06' id='LC_NAME06_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME06');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL06' id='LC_NAME_VAL06_2'/>
				</td>
				<th>$!lang.getText("7)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME07' id='LC_NAME07_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME07');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME07' id='LC_NAME07_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME07');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL07' id='LC_NAME_VAL07_2'/>
				</td>
				<th>$!lang.getText("8)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME08' id='LC_NAME08_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME08');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME08' id='LC_NAME08_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME08');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL08' id='LC_NAME_VAL08_2'/>
				</td>
				<th>$!lang.getText("9)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME09' id='LC_NAME09_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME09');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME09' id='LC_NAME09_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME09');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL09' id='LC_NAME_VAL09_2'/>
				</td>
				<th>$!lang.getText("10)")</th>
				<td colspan='1'>
					#if($ss_lang_type == 0)
						<select name='LC_NAME10' id='LC_NAME10_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME10');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
							#end
						</select>
					#else
						<select name='LC_NAME10' id='LC_NAME10_2' class="selectbox lcSelect" onChange="vrSrchcmbLcList_OnChange('LC_NAME10');">
							<option value="NDF">$!lang.getText("미지정")</option>
							#foreach($row in $LCLIST)
							<option value="$row.LC_ID">$!lang.getText($row.LC_ENG_NM)</option>
							#end
						</select>
					#end
					<input type="hidden" name='LC_NAME_VAL10' id='LC_NAME_VAL10_2'/>
				</td>
				<td></td>
			</tr>
			
		</table>
	</form>
	
	<form name = 'frm_data'>
		<div id = "formData_2" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
   	
    <div class = "btnArea">
    	<div class = "btnAreaLeft">
    	</div>
    	<div class = "btnAreaRight" id="btnArea">
    		<input type="button" class="EXC_AUTH btnExcel" name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()" role="button" aria-disabled="false" /> 
    	</div>
    </div>
	
	<div id="divPanel_SpdList_2" style="padding-top:50px;">
		<div id="spdList_2" style="height:550px;"></div>
	</div>
	
	<div id="spdListTable_2" style="display:none;"></div>


</div>

<div id="dataTable_2"></div>
</html>

<script type="text/javascript">
	//jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>