<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("접수")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<style>
	.loadingImg_css{position: absolute; display:none; top:60%; left:60%;}
</style>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
#set($ss_user_gb 	= $!session.getAttribute("SS_USER_GB")	)
#set($ss_user_no = $!session.getAttribute("SS_USER_NO"))
#set($ss_user_name = $!session.getAttribute("SS_USER_NAME"))
#set($ss_cmpy_code 	= $!session.getAttribute("SS_CMPY_CODE"))
#set($ss_cmpy_id 	= $!session.getAttribute("SS_CMPY_ID")	)
#set($ss_cmpy_name 	= $!session.getAttribute("SS_CMPY_NAME"))
#set($ss_lang_type 	= $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_svc_no = $!session.getAttribute("SS_SVC_NO"))
#set($ss_svc_nm = $!session.getAttribute("SS_SVC_NAME"))


#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

/* 화면크기 변경시 그리드 크기 변경 */
jQuery(window).resize(function() {
	resizeGrid(null);
});

var listGrid1 = new ULNSI_jQGrid();
var listGrid2 = new ULNSI_jQGrid();

var vrSalesCustId = "";    	//주문고객id
var vrSalesCustNo = "";    	//고객No
var vrOrgOrdId = "";
var vrBuyCustNm = "";
var vrBuyPhone1 = "";
var vrBuyPhone2 = "";
var vrSalesCustNm = "";
var vrPhone1 = "";
var vrPhone2 = "";
var vrAddr = "";
var vrZip = "";
var vrBuyedDt = "";
var vrProduct = "";
var vrProductNm = "";
var vrProductCd = "";
var vrWindowPopGb = "";
var vrAscsSeq = "";

var detailGdWidth = 0;

jQuery(document).ready(function() {
	/* Tabs */
	jQuery("#tab1").tabs({show: function(event, ui) {resizeGrid();}});
	jQuery("#tab2").tabs({show: function(event, ui) {resizeGrid();}});
	
	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);	
	
	/* datepicker */
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrSrchReqDtFrom']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 날짜 셋팅 */
	var vrSrchReqDt = localStorage.LocalTime;
	//var getReqDtFrom = dateReckon(new Date(vrSrchReqDt),7,"M");
	//jQuery("input[name='vrSrchReqDtFrom']").val(vrSrchReqDt);
	//jQuery("input[name='vrSrchReqDtTo']").val(vrSrchReqDt);
	
	/* 파라미터 처리 */
	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	vrSalesCustId = (arrParameter[0] == undefined) ? "" : arrParameter[0]
	vrSalesCustNo = (arrParameter[1] == undefined) ? "" : arrParameter[1]
	vrOrgOrdId    = (arrParameter[2] == undefined) ? "" : arrParameter[2]
	vrBuyCustNm   = (arrParameter[3] == undefined) ? "" : arrParameter[3]
	vrBuyPhone1   = (arrParameter[4] == undefined) ? "" : arrParameter[4]
	vrBuyPhone2   = (arrParameter[5] == undefined) ? "" : arrParameter[5]
	vrSalesCustNm = (arrParameter[6] == undefined) ? "" : arrParameter[6]
	vrPhone1  	  = (arrParameter[7] == undefined) ? "" : arrParameter[7]
	vrPhone2  	  = (arrParameter[8] == undefined) ? "" : arrParameter[8]
	vrAddr  	  = (arrParameter[9] == undefined) ? "" : arrParameter[9]
	vrZip  	      = (arrParameter[10] == undefined) ? "" : arrParameter[10]
	vrBuyedDt     = (arrParameter[11] == undefined) ? "" : arrParameter[11]
	vrProduct     = (arrParameter[12] == undefined) ? "" : arrParameter[12]
	vrProductNm   = (arrParameter[13] == undefined) ? "" : arrParameter[13]
	vrProductCd   = (arrParameter[14] == undefined) ? "" : arrParameter[14]
	vrWindowPopGb = (arrParameter[15] == undefined) ? "" : arrParameter[15]
	vrAscsSeq     = (arrParameter[16] == undefined) ? "" : arrParameter[16]
	
	/* 최초 접근 tabs-1 초기값 셋팅 부분 C/S */
	jQuery("form[name='frm_list_E2'] input[name='vrSalesCustId']").val(vrSalesCustId);
	jQuery("form[name='frm_list_E2'] input[name='vrSalesCustNo']").val(vrSalesCustNo);
	jQuery("#vrSelectTabsId").val("tabs-1");
	jQuery("#vrSelectListId").val("list1");
	jQuery("#vrSelectTabsGb").val("CS");
	jQuery("#vrSrchAsCsType").val("CS");
	jQuery("#ST_GUBUN").val("INSERT");
	jQuery("#vrSrchComType").val("N");
	jQuery("#vrAscsSeq").val(vrAscsSeq);
	fn_hideFormEdit("CS");
	
	/* 파라미터 값 셋팅 E2 E3 */
	jQuery("form[name='frm_list_E2'] input[name='vrSrchOrgOrdId']").val(vrOrgOrdId);
	jQuery("form[name='frm_list_E2'] input[name='vrSrchBuyCustNm']").val(vrBuyCustNm);
	jQuery("form[name='frm_list_E2'] input[name='vrSrchBuyPhone1']").val(vrBuyPhone1);
	jQuery("form[name='frm_list_E2'] input[name='vrSrchBuyPhone2']").val(vrBuyPhone2);
	jQuery("form[name='frm_list_E2'] input[name='vrSrchSalesCustNm']").val(vrSalesCustNm);
	jQuery("form[name='frm_list_E2'] input[name='vrSrchPhone1']").val(vrPhone1);
	jQuery("form[name='frm_list_E2'] input[name='vrSrchPhone2']").val(vrPhone2);
	jQuery("form[name='frm_list_E2'] input[name='vrSrchAddr']").val(vrAddr);
	jQuery("form[name='frm_list_E2'] input[name='vrSrchZip']").val(vrZip);
	jQuery("form[name='frm_list_E2'] input[name='vrSrchBuyDt']").val(vrBuyedDt);
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val(vrProductCd);
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val(vrProductNm);
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val(vrProduct);
	
	//var w = jQuery("#tabs-2").width() - 200;
	//jQuery("#list2").jqGrid('setGridWidth', w, true);
	
	//jQuery("#list_box2").hide();
	//jQuery("#list_box3").hide();
	
	fn_getTypicalCust();
	
	/* 고객관리 시작 */
	var colNameArray = [
	                     'CHK_BOX'
	                    ,'FLAG'
	                    ,'ST_GUBUN'
	                    ,' '
						
	                    ,"$!lang.getText('#')"
	                    ,"$!lang.getText('접수번호')"
	                    ,"$!lang.getText('구분')"
	                    ,"$!lang.getText('접수내역')"
	                    ,"$!lang.getText('처리내역')"
	                    ,"$!lang.getText('상품')"
	                    ,"$!lang.getText('접수센터')"
	                    
	                    
	                    ,"ASCS_ID"
	                    ,"ASCS_SEQ"
	                    ,"SALES_CUST_ID"
	                    ,"SALES_CUST_NO"
	                    ,"AS_ENGINEER_NO"
	                    ,"MEMO"
	                    ,"REQ_COST"
	                    ,"BUY_DT"
	                    ,"REG_DT"
	                    ,"REG_NO"
	                    ,"UPD_DT"
	                    
	                    ,"RITEM_CD"
	                    ,"RITEM_NM"
	                    ,"REG_NAME"
	                    ,"AS_REG_SITE_NM"
	                    
	                    ,"COM_TYPE"
	                    ,"INOUT_BOUND"
	                    
	                    ,"AS_SALES_CUST_ID"
	                    ,"PAY_REQ_YN"
	                    ,"DLV_PRODUCT"
	                    ,"ORD_OPTION"
	                    ,"DLV_DT"
	                    ,"REQ_DRIVER_NM"
	                    ,"DLV_SET_DT"
	                    
	                    ,"DELIVERY_INFO"
	                    ,"COST_TYPE"
	                    
	                    ,"KAO_SEND_CUSTCD"
	                    ,"KAO_SEND_CUSTNM"
	                    ,"KAO_SEND_NUM"
	                   ]
	
	var colModelArray = [
						 {name : 'CHK_BOX'			,index : 'CHK_BOX'			,hidden : true, frozen:false}
						,{name : 'FLAG'				,index : 'FLAG'				,hidden : true}
						,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'			,hidden : true}
						,{name : 'ST_GUBUN_IMG'		,index : 'ST_GUBUN_IMG'		,width : 10		,align : "center"	,hidden : true}

						,{name : 'SELECT_N_ROW'		,index : 'SELECT_N_ROW'		,width : 10		,align : "center"}
						,{name : 'ASCS_NO'			,index : 'ASCS_NO'			,width : 100	,align : "center"}
						,{name : 'ASCS_TYPE'		,index : 'ASCS_TYPE'		,width : 30		,align : "center"}
						,{name : 'REG_CONTENTS'		,index : 'REG_CONTENTS'		,width : 150	,align : "left"}
						,{name : 'RESULT'			,index : 'RESULT'			,width : 150	,align : "left"}
						,{name : 'RITEM_NM'			,index : 'RITEM_NM'			,width : 70		,align : "center"}
						,{name : 'AS_REG_SITE_NM'	,index : 'AS_REG_SITE_NM'	,width : 100	,align : "center"	,hidden : true}
						
						
						,{name : 'ASCS_ID'			,index : 'ASCS_ID'				,hidden : true}
						,{name : 'ASCS_SEQ'			,index : 'ASCS_SEQ'				,hidden : true}
						,{name : 'SALES_CUST_ID'	,index : 'SALES_CUST_ID'		,hidden : true}
						,{name : 'SALES_CUST_NO'	,index : 'SALES_CUST_NO'		,hidden : true}
						,{name : 'AS_ENGINEER_NO'	,index : 'AS_ENGINEER_NO'		,hidden : true}
						,{name : 'MEMO'				,index : 'MEMO'					,hidden : true}
						,{name : 'REQ_COST'			,index : 'REQ_COST'				,hidden : true}
						,{name : 'BUY_DT'			,index : 'BUY_DT'				,hidden : true}
						,{name : 'REG_DT'			,index : 'REG_DT'				,hidden : true}
						,{name : 'REG_NO'			,index : 'REG_NO'				,hidden : true}
						,{name : 'UPD_DT'			,index : 'UPD_DT'				,hidden : true}
						
						,{name : 'RITEM_CD'			,index : 'RITEM_CD'				,hidden : true}
						,{name : 'RITEM_ID'			,index : 'RITEM_ID'				,hidden : true}
						,{name : 'REG_NAME'			,index : 'REG_NAME'				,hidden : true}
						,{name : 'AS_REG_SITE'		,index : 'AS_REG_SITE'			,hidden : true}
						
						,{name : 'COM_TYPE'			,index : 'COM_TYPE'				,hidden : true}
						,{name : 'INOUT_BOUND'		,index : 'INOUT_BOUND'			,hidden : true}
						
						,{name : 'AS_SALES_CUST_ID'	,index : 'AS_SALES_CUST_ID'		,hidden : true}
						,{name : 'PAY_REQ_YN'		,index : 'PAY_REQ_YN'			,hidden : true}
						,{name : 'DLV_PRODUCT'		,index : 'DLV_PRODUCT'			,hidden : true}
						,{name : 'ORD_OPTION'		,index : 'ORD_OPTION'			,hidden : true}
						,{name : 'DLV_DT'			,index : 'DLV_DT'				,hidden : true}
						,{name : 'REQ_DRIVER_NM'	,index : 'REQ_DRIVER_NM'		,hidden : true}
						,{name : 'DLV_SET_DT'		,index : 'DLV_SET_DT'			,hidden : true}
						
						,{name : 'DELIVERY_INFO'	,index : 'DELIVERY_INFO'		,hidden : true}
						,{name : 'COST_TYPE'		,index : 'COST_TYPE'			,hidden : true}
						
						,{name : 'KAO_SEND_CUSTCD'	,index : 'KAO_SEND_CUSTCD'		,hidden : true}
						,{name : 'KAO_SEND_CUSTNM'	,index : 'KAO_SEND_CUSTNM'		,hidden : true}
						,{name : 'KAO_SEND_NUM'		,index : 'KAO_SEND_NUM'			,hidden : true}
						]

	var option1 = {
				   'title'		: "$!lang.getText('이력정보 (CS)')"
				  ,'height'		: 130
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap1')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num, $ss_gird_num, $ss_gird_num]
			      #else
			      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': false
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				  ,'shrinkToFit' : true
				 };
	
	//첫 자동조회
	var url1  = "/WMSCT020/list.action?vrAsCsType=CS&vrSalesCustId="+vrSalesCustId;
	listGrid1.init(jQuery("#list1"), option1, url1, loadCompleteEventCallback1);
	
	// 그리드 셀선택 이벤트
	listGrid1.setSelectCellEventCallback(function(id, col){
		fn_setDetail(id);
    });
	
	function loadCompleteEventCallback1 (data){
		var grid     = jQuery("#list1");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
		jQuery("#ui-id-2").text("CS"+" ("+ids.length+")");
		
		if(gridData.length > 0){
			fn_setDetail_init(1, 1);
		}else{
			if(vrWindowPopGb != "AS"){
				//alert("ss");
				fn_editInit();
			}
		}
		
		for(var i = 0 ; i < gridData.length; i++){
			var checkThisRow      = cfn_trim(grid.getCell(ids[i], "SALES_CUST_ID"))+cfn_trim(grid.getCell(ids[i], "ASCS_SEQ"));
			var checkThisRowParam = cfn_trim(vrSalesCustId)+cfn_trim(vrAscsSeq);
			var cssFont = {'color' : 'red', 'font-weight': 'bold'};
			
			if(checkThisRow == checkThisRowParam){
				//grid.jqGrid('setCell', ids[i], 'SELECT_N_ROW', 'V', cssFont);
				fn_setDetail(i+1);
			}
		}
	};
	
	var option2 = {
				   'title'		: "$!lang.getText('이력정보 (AS)')"
				  ,'height'		: 130
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap2')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num, $ss_gird_num, $ss_gird_num]
			      #else
			      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': false
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				  ,'shrinkToFit' : true
				 };
	
	//첫 자동조회
	var url2  = "/WMSCT020/list.action?vrAsCsType=AS&vrSalesCustId="+vrSalesCustId;
	listGrid2.init(jQuery("#list2"), option2, url2, loadCompleteEventCallback2);
	
	// 그리드 셀선택 이벤트
	listGrid2.setSelectCellEventCallback(function(id, col){
		fn_setDetail(id);
    });
	
	function loadCompleteEventCallback2 (data){
		var grid     = jQuery("#list2");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
		jQuery("#ui-id-3").text("AS"+" ("+ids.length+")");
		
		if(gridData.length > 0){
			fn_setDetail_init(2, 1);
		}
		
		if(vrWindowPopGb == "AS"){
			jQuery("#gTbLi-1").removeClass("ui-state-default ui-corner-top ui-tabs-active ui-state-active");
			jQuery("#gTbLi-1").addClass("ui-state-default ui-corner-top");
			jQuery("#gTbLi-1").attr("tabindex", -1);
			jQuery("#gTbLi-1").attr("aria-selected", "false");
			
			jQuery("#gTbLi-2").removeClass("ui-state-default ui-corner-top");
			jQuery("#gTbLi-2").addClass("ui-state-default ui-corner-top ui-tabs-active ui-state-active");
			jQuery("#gTbLi-2").attr("tabindex", 0);
			jQuery("#gTbLi-2").attr("aria-selected", "true");
			
			fn_tabsOnload('tabs-2', 'list2');
			jQuery("#gTbLi-2 a").click();
		}
		
		for(var i = 0 ; i < gridData.length; i++){
			var checkThisRow      = cfn_trim(grid.getCell(ids[i], "SALES_CUST_ID"))+cfn_trim(grid.getCell(ids[i], "ASCS_SEQ"));
			var checkThisRowParam = cfn_trim(vrSalesCustId)+cfn_trim(vrAscsSeq);
			var cssFont = {'color' : 'red', 'font-weight': 'bold'};
			
			if(checkThisRow == checkThisRowParam){
				//grid.jqGrid('setCell', ids[i], 'SELECT_N_ROW', 'V', cssFont);
				fn_setDetail(i+1);
			}
		}
	};
});

//디테일 그리드 클릭 시 상단 입력 부분 셋팅
function fn_setDetail(id){
	
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='ST_GUBUN']").val("UPDATE");
	
	var grid     = jQuery("#"+jQuery("#vrSelectListId").val());
	var ids 	 = grid.getDataIDs();
	var gridData = grid.getRowData();
	
	var vrSrchOrdItemTop = jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] select[name='vrSrchOrdItem'] option:eq(1)").val() || '';
	
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val(grid.getCell(id, 'RITEM_CD'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val(grid.getCell(id, 'RITEM_NM'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val(grid.getCell(id, 'RITEM_ID'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchAsCsType"]').val(grid.getCell(id, 'ASCS_TYPE'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchAsCsLc"]').val(grid.getCell(id, 'AS_REG_SITE'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchReqNm"]').val(grid.getCell(id, 'REG_NAME'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchReqId"]').val(grid.getCell(id, 'REG_NO'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchAsCsNo"]').val(grid.getCell(id, 'ASCS_NO'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchDrivers"]').val(grid.getCell(id, 'AS_ENGINEER_NO'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="TextReqContents"]').val(grid.getCell(id, 'REG_CONTENTS'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="TextResult"]').val(grid.getCell(id, 'RESULT'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="vrSrchReqMemo"]').val(grid.getCell(id, 'MEMO'));
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrAsCsSeq']").val(grid.getCell(id, 'ASCS_SEQ'));
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRegDt']").val(grid.getCell(id, 'REG_DT'));
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchUpdDt']").val(grid.getCell(id, 'UPD_DT'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchComType"]').val(grid.getCell(id, 'COM_TYPE'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchInOutBound"]').val(grid.getCell(id, 'INOUT_BOUND'));
	
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchReqCost']").val(grid.getCell(id, 'REQ_COST'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="AS_SALES_CUST_ID"]').val(grid.getCell(id, 'AS_SALES_CUST_ID'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchOrdBill"]').val(grid.getCell(id, 'PAY_REQ_YN'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchOrdItem"]').val(grid.getCell(id, 'DLV_PRODUCT'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchOrdOption"]').val(grid.getCell(id, 'ORD_OPTION'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchComDt"]').val(grid.getCell(id, 'DLV_DT'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchDrivers"]').val(grid.getCell(id, 'REQ_DRIVER_NM'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchReqDtFrom"]').val(grid.getCell(id, 'DLV_SET_DT'));
	
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchDlvrInfo"]').val(grid.getCell(id, 'DELIVERY_INFO'));
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchCostType"]').val(grid.getCell(id, 'COST_TYPE'));
	
	jQuery('#vrKaoSendGbId').val(grid.getCell(id, 'ASCS_ID'));
	jQuery('#vrKaoSendCustCd').val(grid.getCell(id, 'KAO_SEND_CUSTCD'));
	jQuery('#vrKaoSendCustNm').val(grid.getCell(id, 'KAO_SEND_CUSTNM'));
	jQuery('#vrKaoSendNum').val(grid.getCell(id, 'KAO_SEND_NUM'));
	
	if(grid.getCell(id, 'DLV_PRODUCT') == vrSrchOrdItemTop){
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchOrdOption']").removeAttr('disabled');
	}
	
	var cssFont = {'color' : 'red', 'font-weight': 'bold'};
	for(var i = 0 ; i < gridData.length; i++){
		grid.jqGrid('setCell', ids[i], 'SELECT_N_ROW', ' ');
	}
	grid.jqGrid('setCell', id, 'SELECT_N_ROW', 'V', cssFont);
}
function fn_setDetail_init(tabId, id){
	//fn_tabsOnload('tabs-1', 'list1');
	jQuery("div[id=tabs-" + tabId + "] form[name='frm_list_E3'] input[name='ST_GUBUN']").val("UPDATE");
	
	var grid     = jQuery("#list"+tabId);
	var ids 	 = grid.getDataIDs();
	var gridData = grid.getRowData();
	
	var vrSrchOrdItemTop = jQuery("div[id='tab-" + tabId + "'] form[name='frm_list_E3'] select[name='vrSrchOrdItem'] option:eq(1)").val() || '';
	
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val(grid.getCell(id, 'RITEM_CD'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val(grid.getCell(id, 'RITEM_NM'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val(grid.getCell(id, 'RITEM_ID'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchAsCsType"]').val(grid.getCell(id, 'ASCS_TYPE'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] select[name="vrSrchAsCsLc"]').val(grid.getCell(id, 'AS_REG_SITE'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchReqNm"]').val(grid.getCell(id, 'REG_NAME'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchReqId"]').val(grid.getCell(id, 'REG_NO'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchAsCsNo"]').val(grid.getCell(id, 'ASCS_NO'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchDrivers"]').val(grid.getCell(id, 'AS_ENGINEER_NO'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] textarea[name="TextReqContents"]').val(grid.getCell(id, 'REG_CONTENTS'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] textarea[name="TextResult"]').val(grid.getCell(id, 'RESULT'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] textarea[name="vrSrchReqMemo"]').val(grid.getCell(id, 'MEMO'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrAsCsSeq"]').val(grid.getCell(id, 'ASCS_SEQ'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchRegDt"]').val(grid.getCell(id, 'REG_DT'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchUpdDt"]').val(grid.getCell(id, 'UPD_DT'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] select[name="vrSrchComType"]').val(grid.getCell(id, 'COM_TYPE'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] select[name="vrSrchInOutBound"]').val(grid.getCell(id, 'INOUT_BOUND'));
	
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchReqCost"]').val(grid.getCell(id, 'REQ_COST'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="AS_SALES_CUST_ID"]').val(grid.getCell(id, 'AS_SALES_CUST_ID'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] select[name="vrSrchOrdBill"]').val(grid.getCell(id, 'PAY_REQ_YN'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] select[name="vrSrchOrdItem"]').val(grid.getCell(id, 'DLV_PRODUCT'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchOrdOption"]').val(grid.getCell(id, 'ORD_OPTION'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchComDt"]').val(grid.getCell(id, 'DLV_DT'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchDrivers"]').val(grid.getCell(id, 'REQ_DRIVER_NM'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchReqDtFrom"]').val(grid.getCell(id, 'DLV_SET_DT'));
	
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] input[name="vrSrchDlvrInfo"]').val(grid.getCell(id, 'DELIVERY_INFO'));
	jQuery('div[id="tabs-' + tabId +'"] form[name="frm_list_E3"] select[name="vrSrchCostType"]').val(grid.getCell(id, 'COST_TYPE'));
	
	jQuery('#vrKaoSendGbId').val(grid.getCell(id, 'ASCS_ID'));
	jQuery('#vrKaoSendCustCd').val(grid.getCell(id, 'KAO_SEND_CUSTCD'));
	jQuery('#vrKaoSendCustNm').val(grid.getCell(id, 'KAO_SEND_CUSTNM'));
	jQuery('#vrKaoSendNum').val(grid.getCell(id, 'KAO_SEND_NUM'));
	
	if(grid.getCell(id, 'DLV_PRODUCT') == vrSrchOrdItemTop){
		jQuery("div[id='tabs-" + tabId +"'] form[name='frm_list_E3'] input[name='vrSrchOrdOption']").removeAttr('disabled');
	}
	
	var cssFont = {'color' : 'red', 'font-weight': 'bold'};
	for(var i = 0 ; i < gridData.length; i++){
		grid.jqGrid('setCell', ids[i], 'SELECT_N_ROW', ' ');
	}
	grid.jqGrid('setCell', id, 'SELECT_N_ROW', 'V', cssFont);
}

//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){	
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}
//팝업 3개이상 일때 세션 소멸 처리
function fn_pop_err(arr){
	var info = arr[0];	
	if(info.err != ""){
		var opnr_func = eval("opener.fn_pop_err");
		var arr2 	= new Array();
		var info2 = new Object();
		info2.err = info.err;
		arr2[0]= info2;
		if(arr2 != null){
 		opnr_func(arr2);
 	}
		javascript:self.close();
	}
}

function fn_tabsOnload(tabsId, listId){
	//QA/AS/CS 탭 구분 값 셋팅
	jQuery("#vrSelectTabsId").val(tabsId);
	jQuery("#vrSelectListId").val(listId);
	
	var grid     = jQuery("#"+listId);
	var ids 	 = grid.getDataIDs();
	var gridData = grid.getRowData();
	if(gridData.length > 0){
		fn_setDetail(1);	
	}else{
		//AS 탭 이동 시 이력정보가 없을 경우
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchComType"]').val('N');
	}
	
	switch(tabsId){
		case 'tabs-1': jQuery("#vrSelectTabsGb").val("CS"); fn_hideFormEdit("CS"); break;
		case 'tabs-2': jQuery("#vrSelectTabsGb").val("AS"); fn_hideFormEdit("AS"); break;
	}
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchAsCsType']").val(jQuery("#vrSelectTabsGb").val());
	//jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val(vrProductCd);
	//jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val(vrProductNm);
	//jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val(vrProduct);
	
	var StGubun = jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='ST_GUBUN']").val();
	if(StGubun != "UPDATE"){
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='ST_GUBUN']").val("INSERT");	
	}
	
	//디테일 그리드 전역변수 사이즈 자동 조정
	if(detailGdWidth == 0){
		detailGdWidth = jQuery('#list1').parent().width();	
	}
	jQuery('#'+listId).setGridWidth(detailGdWidth);
	
}

function fn_hideFormEdit(gb){
	if(gb == "CS"){
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchReqDtFrom']").attr('disabled', 'true');
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] td img[class='ui-datepicker-trigger']").hide();
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchDrivers']").attr('disabled', 'true');
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchComDt']").attr('disabled', 'true');
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchReqCost']").attr('disabled', 'true');
		
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] select[name='vrSrchOrdItem']").attr('disabled', 'true');
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchOrdOption']").attr('disabled', 'true');
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] select[name='vrSrchOrdBill']").attr('disabled', 'true');
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] select[name='vrSrchCostType']").attr('disabled', 'true');
		
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="vrSrchReqMemo"]').attr('disabled', 'true');
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchDlvCompNm"]').val("").attr('disabled', 'true');
	}	
}

function fn_editInit(){
	if(!confirm("$!lang.getText('신규등록 및 초기화 하시겠습니까?')")){return;}
	
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[type='text']").val('');
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[type='hidden']").val('');
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] textarea").val('');
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] select").val('');
	
	//초기화 시 기본값 셋팅
	var vrSrchReqDt      = localStorage.LocalTime;
	var vrSrchOrdItemTop = jQuery("#vrSrchOrdItem option:eq(0)").val();
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchAsCsType']").val(jQuery("#vrSelectTabsGb").val());
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchReqNm']").val("$ss_user_name");
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchReqId']").val("$ss_user_no");
	//jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchReqDtFrom']").val(vrSrchReqDt);
	//jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchReqDtTo']").val(vrSrchReqDt);
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='ST_GUBUN']").val("INSERT");
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchComType"]').val("N");
	
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val(vrProductCd);
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val(vrProductNm);
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val(vrProduct);
	
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchOrdBill"]').val("C");
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchCostType"]').val("");
	
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrAsCsSeq"]').val("");
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="AS_SALES_CUST_ID"]').val("");
	
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchComDt"]').val("");
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchDrivers"]').val("");
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchDlvrInfo"]').val("");
	
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchOrdItem"]').val(vrSrchOrdItemTop);
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchOrdOption"]').val("");
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchOrdOption']").attr('disabled', 'true');
	
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchAsCsLc"]').val("$ss_svc_no");
	
	if(jQuery("#vrSelectTabsGb").val() == "AS"){
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchDlvCompNm"]').val("KPP");	
	}else{
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchDlvCompNm"]').val("").attr('disabled', 'true');
	}
	
}

function fn_search(op,op1) {
	//var param = jQuery("form[name='frm_list_E2']").serialize();
	//var url1 = "/WMSCT020/list1.action?"+param;
	//var url2 = "/WMSCT020/list2.action?"+param;
	//var url2 = "/WMSCT020/list3.action?"+param;
	
	var TabGb = jQuery("#vrSelectTabsGb").val();
	var vrSalesCustId = jQuery("form[name='frm_list_E2'] input[name='vrSalesCustId']").val();
	var param = "";
	if(TabGb == "CS"){
		var url1  = "/WMSCT020/list.action?vrAsCsType=CS&vrSalesCustId="+vrSalesCustId;
		listGrid1.search(param, url1, op, op1);
	}
	if(TabGb == "AS"){
		var url2  = "/WMSCT020/list.action?vrAsCsType=AS&vrSalesCustId="+vrSalesCustId;
		listGrid2.search(param, url2, op, op1);
	}
}




function fn_Popup(type, id){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";

	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'ITEM':	//검색 상품코드
			strParameter.push('');
			strParameter.push('');
			strParameter.push('');
			strParameter.push('');
			strParameter.push('');
			strParameter.push('Y');
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val(data[0].CODE);
				jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val(data[0].NAME);
				jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemCd']").val("").focus();
				jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemNm']").val("");
				jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemCd']").val("");
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemNm']").val("");
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val("");
	}
}

/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	var vrSrchItemNm = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val(data[0].CODE);
				jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val(data[0].NAME);
				jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemCd']").val("").focus();
				jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemNm']").val("");
				jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemId']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemCd']").val("");
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemNm']").val("");
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchRitemId']").val("");
	}
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val(info.item_code);
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val(info.item_kor_nm);
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val(info.ritem_id);
}

/* 저장 */
function fn_save(){
    /* 유효성검사 */
	if(!fn_listValidation()){return;}
    
    if(confirm("$!lang.getText('update.confirm')")){
    	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] div[id='formDataE3']").html("");
    	
    	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] div[id='formDataE3']").append("<input type='text' name='vrSalesCustId' value='" + jQuery("#vrSalesCustId").val() +"'/>");
    	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] div[id='formDataE3']").append("<input type='text' name='vrSalesCustNo' value='" + jQuery("#vrSalesCustNo").val() +"'/>");
    	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] div[id='formDataE3']").append("<input type='text' name='vrSrchBuyDt'   value='" + jQuery("#vrSrchBuyDt").val() +"'/>");
    	
        var param = jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3']").serialize();
        var url = "/WMSCT020T1/saveE3.action";
        jQuery.post(url, param, function(data) {
        	alert(data.MSG);
        	if(data.errCnt <= 0 ){
	            //var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
	            //var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
	            fn_search();
	            
	            //저장 후 edit 재조정
	            jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="ST_GUBUN"]').val("UPDATE");
	            if(jQuery("#vrSelectTabsGb").val() == "CS"){
	            	
	            }else if(jQuery("#vrSelectTabsGb").val() == "AS"){
	            	jQuery("#gTbLi-2 a").click();	
	            }
            }
        }).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
    }
}

/* 입력값 유효성 검사 */
function fn_listValidation(){
	var grid = jQuery("#"+jQuery("#vrSelectListId").val());
	var vrSrchRitemId   = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val();
	var vrSrchAsCsLc    = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchAsCsLc"]').val();
	var vrSrchReqDtFrom = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchReqDtFrom"]').val();
	var TextReqContents = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="TextReqContents"]').val();
	
	var vrSrchOrdItem   = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchOrdItem"]').val();
	var vrSrchOrdOption = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchOrdOption"]').val();
	
	if(vrSrchRitemId.length == 0){
		alert("$!lang.getText('상품을 선택하여 주십시오.')");
		return false;
	}
	if(vrSrchAsCsLc.length == 0){
		alert("$!lang.getText('접수센터를 선택하여 주십시오.')");
		return false;
	}
	if(TextReqContents.length == 0){
		alert("$!lang.getText('접수내역을 입력하여 주십시오.')");
		return false;
	}
	/*
	if(vrSrchOrdItem.length > 0){
		if(vrSrchOrdOption.length == 0){
			alert("$!lang.getText('주문상품 선택 시 옵션(출고상품)은 필수 입력 입니다.')");
			return false;	
		}
	}
	*/
	return true;
}

function fn_chkPickProduct(){
	//var chk_stat = jQuery("#chkPickProduct").prop('checked');
	var chk_stat = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="chkPickProduct"]').prop('checked');
	
	if(chk_stat == true){
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val(vrProductCd);
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val(vrProductNm);
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val(vrProduct);
	}else if(chk_stat == false){
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemCd"]').val("");
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemNm"]').val("");
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchRitemId"]').val("");
	}
}

function tfn_onChangeDateFld(){
	var seleteDate = jQuery("input[name='vrSrchReqDtFrom']").val();
	jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchReqDtFrom"]').val(seleteDate);
}

function vrSrchOrdBill_OnKillFocus(){
	var chkVal = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchOrdBill"]').val();
	if(chkVal == "F"){
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchCostType"]').val("");
	}
}

function vrSrchReqMemo_onkeydown(){
	var chkVal  = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="vrSrchReqMemo"]').val();
	var reqText = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="TextReqContents"]').val();
	
	if(chkVal == "상동."){
		if(reqText.length > 300){
			alert("$!lang.getText('글자수는 300자로 제한됩니다.')");
			jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="vrSrchReqMemo"]').val(reqText.substring(0,300));
		}else{
			jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="vrSrchReqMemo"]').val(reqText);	
		}
	}
	
	if(chkVal.length > 300){
		alert("$!lang.getText('글자수는 300자로 제한됩니다.')");
		var setVal = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="vrSrchReqMemo"]').val().substring(0,300);
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] textarea[name="vrSrchReqMemo"]').val(setVal);
	}
}

function vrSrchOrdItem_OnKillFocus(objIndex){
	if(objIndex == 0){
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] input[name="vrSrchOrdOption"]').val("");
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchOrdOption']").attr('disabled', 'true');
	}else{
		jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchOrdOption']").removeAttr('disabled');
	}
}

/* 저장 */
function fn_custInfoSave(){
    /* 유효성검사 */
	if(!fn_listValidation2()){return;}
    
    if(confirm("$!lang.getText('update.confirm')")){
    	jQuery("form[name='frm_list_E2'] div[id='formDataE2']").html("");
    	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] div[id='formDataE3']").append("<input type='text' name='vrSalesCustId' value='" + jQuery("#vrSalesCustId").val() +"'/>");
    	
        var param = jQuery("form[name='frm_list_E2']").serialize();
        var url = "/WMSCT020T1/custInfoSave.action";
        jQuery.post(url, param, function(data) {
        	alert(data.MSG);
        	if(data.errCnt <= 0 ){
	            //var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
	            //var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
	            var arg_func = jQuery("input[name='func']").val();
	         	var opnr_func = eval("opener." + arg_func);
	         	opnr_func();
            }
        }).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
    }
}

/* SMS 전송 / 카카오비즈톡  수신번호 선택*/
function fn_kaotToNumSelpop(){
	var initToNum = jQuery("#vrSrchPhone1").val();
	var winL = (window.screen.width - 280)/2;
	var winT = (window.screen.height - 150)/5;
	var pp = window.open("","","width=280, height=150, left="+winL+", top="+winT+", toolbar=no, status=no, location=no");
	
	pp.document.open();
	pp.document.write("<table border='0' width='100%' style='padding:10px 20px 10px 20px'>");
	pp.document.write("<form ='frm1'>");
	
	pp.document.write("<colgroup>");
	pp.document.write("<col width = '5%'/>");
	pp.document.write("<col width = '30%'/>");
	pp.document.write("<col width = '60%'/>");
	pp.document.write("</colgroup>");
	pp.document.write("<tbody>");

	pp.document.write("<tr align='center'>");
	pp.document.write("<td>");
	pp.document.write("<input type='radio' name='pageGb' value='1' checked='1' onclick=\"document.getElementById('vrRadioPageGb').value=1;\"/>");
	pp.document.write("<input type='hidden' name='vrRadioPageGb' id='vrRadioPageGb' value='1'>");
	pp.document.write("</td>");
	pp.document.write("<td style='text-align:right;'>수취인 :</td>");
	pp.document.write("<td>");
	pp.document.write("<input type='text' class ='text' name= 'kaoSelparamToNum1' id ='kaoSelparamToNum1' style='width: 100%;' value='"+initToNum+"' readonly='readonly'/>");
	pp.document.write("</td>");
	pp.document.write("</tr>");
	
	pp.document.write("<tr align='center'>");
	pp.document.write("<td>");
	pp.document.write("<input type='radio' name='pageGb' value='4' onclick=\"document.getElementById('vrRadioPageGb').value=2;\"/>");
	pp.document.write("</td>");
	pp.document.write("<td style='text-align:right;'>기타 :</td>");
	pp.document.write("<td>");
	pp.document.write("<input type='text' class ='text' name= 'kaoSelparamToNum2' id ='kaoSelparamToNum2' style='width: 100%;'/>");
	pp.document.write("</td>");
	pp.document.write("</tr>");
	
	pp.document.write("<tr align='center' height='50'><td colspan=3>");
	pp.document.write("<input type='button' name='btn_confirm' value='   ok   ' onClick=\"opener.fn_sendUrlKao(document.getElementById('vrRadioPageGb').value,document.getElementById('kaoSelparamToNum1').value,document.getElementById('kaoSelparamToNum2').value); window.close();\">&nbsp;&nbsp;&nbsp;");
	pp.document.write("<input type='button' name='btn_cancle'  value='cancel' onClick=window.close();>");
	pp.document.write("</td></tr>");
	
	pp.document.write("</form>");
	pp.document.write("<tbody>");
	pp.document.write("</table>");
}
/* SMS 전송 / 카카오비즈톡 */
function fn_sendUrlKao(toNumGb, paramToNum1, paramToNum2){
	var toNum = "";
	if(toNumGb == 1){
		if(paramToNum1.length == 0){alert("$!lang.getText('수취인 전화번호를 확인하여 주십시오.')"); return false;}
		toNum = paramToNum1;
	}else if(toNumGb == 2){
		if(paramToNum2.length == 0){alert("$!lang.getText('기타 전화번호를 확인하여 주십시오.')"); return false;}
		toNum = paramToNum2;
	}
	
	var tmpCnt = 0 ;
	var sendGbId = jQuery("#vrKaoSendGbId").val();
    var custCd   = jQuery("#vrKaoSendCustCd").val();
	var custNm   = jQuery("#vrKaoSendCustNm").val();
	var sendNum  = jQuery("#vrKaoSendNum").val();
	
    //if(confirm("$!lang.getText('update.confirm')")){
    	try{
    		if(toNum != ""){
               	//json dataSet
           	    var parseArray = new Array();
      	        var dataArr    = new Object();
      	        dataArr.BIZ_SND_NUM     = sendNum.replace(/-/gi, ""); //FROM
      	        dataArr.BIZ_RCV_NUM     = toNum.replace(/-/gi, "");  //TO
      	        dataArr.BIZ_MSG_SUBJECT = custNm;
      	        
      	        dataArr.BIZ_MSG_BODY  = "[신영에스디 첨부등록]\n";
      	        dataArr.BIZ_MSG_BODY += "http://winus.logisall.com/uf.html?1="+custCd+"&2="+sendGbId;
      	        
      	        dataArr.BIZ_USER_CODE   = "WINUS";
      	        dataArr.BIZ_TEMPLET_KEY = "WINUS001"; //템플릿 구분코드
      	        dataArr.BIZ_CST_PRG_KEY = sendGbId;
      	   	  	dataArr.BIZ_TRAN_TYPE   = "KAO"; // 카카오메시지로 보내기

      	        parseArray.push(dataArr);
      	        
      	        var strJsonArr = JSON.stringify(parseArray);
          	    var strSetData = '{"VALUE":'+strJsonArr.substring(1, strJsonArr.length-1).replace(/\\\\/g, "\\").replace(/\\"/g, "\"")+'}';
          	    
          	    jQuery.ajax({url:"https://sms.logisall.com/kpo_net.asp"
          	            ,dataType:"jsonp"
          	            ,data:{"jsonData": strSetData}
          	            ,type:"POST"
          	            ,jsonp:"kakaoCallback"
          		});
          	    
          	 	tmpCnt++;
            }else{
                if(tmpCnt == 0){
                    alert("$!lang.getText('값을확인해주세요')");
                    return false;
                }
            }

    		if(tmpCnt > 0){
    			alert("$!lang.getText('저장되었습니다.')");
   	            //var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
   	            //var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
   		        //fn_search(page,page_check);
    		}
        }catch(err){
        	alert("$!lang.getText('처리 중 오류.')");
        }
    //}
}

function kakaoCallback(data){
	var rtnCode = data.RTN_COD;
	var rtnKey  = data.RTN_KEY
    var tmpCnt  = 1;
    
	jQuery("#formData").html("");
    jQuery("#formData").append("<input type='text' name='vrRtnCode"+tmpCnt+"'   	value='" + rtnCode +"'/>");
    jQuery("#formData").append("<input type='text' name='vrRtnKey"+tmpCnt+"'   	value='" + rtnKey +"'/>");
     	
    var param = jQuery("form[name='frm_data']").serialize();
    var url   = "/WMSSP010/smsInfoSave.action";
    jQuery.post(url, param, function(data) {
    	if(data.errCnt <= 0 ){
            var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
            var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
        }
    }).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
 	});
}

/* 고객정보수정 */
function fn_listValidation2(){
	var grid = jQuery("#"+jQuery("#vrSelectListId").val());
	var vrSrchAddr        = jQuery('form[name="frm_list_E2"] input[name="vrSrchAddr"]').val();
	var vrSrchSalesCustNm = jQuery('form[name="frm_list_E2"] input[name="vrSrchSalesCustNm"]').val();
	var vrSrchPhone1      = jQuery('form[name="frm_list_E2"] input[name="vrSrchPhone1"]').val();
	var vrSrchPhone2      = jQuery('form[name="frm_list_E2"] input[name="vrSrchPhone2"]').val();
	
	if(vrSrchAddr.length == 0){
		alert("$!lang.getText('주소는 필수입력 입니다.')");
		return false;
	}
	if(vrSrchSalesCustNm.length == 0){
		alert("$!lang.getText('수취인명은 필수입력 입니다.')");
		return false;
	}
	if((vrSrchPhone1.length + vrSrchPhone2.length) == 0){
		alert("$!lang.getText('수취인 전화번호는 필수입력 입니다.')");
		return false;
	}
	return true;
}

function vrSrchComType_OnKillFocus(){
	var stat = jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchComType"]').val();
	if(jQuery("#vrSelectTabsGb").val() == "AS" && stat == "C"){
		alert("$!lang.getText('취소처리는 배송관리에서 가능합니다.')");
		jQuery('div[id='+jQuery("#vrSelectTabsId").val()+'] form[name="frm_list_E3"] select[name="vrSrchComType"]').val("N");
		return false;
	}
}

function fn_uFileDownload(){
	var strParameter = [];
	strParameter.push(jQuery("form[name='frm_list_E2'] input[name='vrSalesCustId']").val());
	strParameter.push(jQuery("#vrKaoSendCustCd").val());
	strParameter.push(jQuery("#vrKaoSendGbId").val());
	
	var param = '?strParameter='+strParameter;
	var url    = "/WMSCT020Q1/custAttchDown.action" + param;
	var width  = "600";
	var height = "320";
	var asppop = cfn_openPop2(url, "custAttchDownPop", width, height);
	asppop.focus();
}

/* 신규 */
function fn_newOrd(){
	alert("지원하지않습니다.");
}

function vrSrchAsCsLc_OnClick(){
	alert("변경 할 수 없습니다.");
	jQuery("div[id="+jQuery("#vrSelectTabsId").val()+"] form[name='frm_list_E3'] input[name='vrSrchAsCsType']").focus();
	return false;
}

function fn_getTypicalCust(){
	/* 대표화주코드 가져오기, AS저장 시 화주값 가지고 들어감 */
	var srchKey = "TYPICALCUST";
	var param   = "srchKey=" + srchKey;
	var url     = "/WMSCM011/getTypicalCust.action";
	jQuery.post(url, param, function(data){
		var data = data.TYPICALCUST;
		var cnt  = data.size();
		if(cnt > 0){
			jQuery('div[id="tabs-2"] form[name="frm_list_E3"] input[name="typicalCustId"]').val(data[0].CUST_ID);
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

</script>

</head>
<body>
<input type="hidden" name="func" id="func" value="$!request.getParameter('func')"/>

<div id = "tab1" class="tab1_1" >
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("고객정보")</a></li>	
		</ul>
	</div>
    <div id = "tabs-1">
       #parse("winus/wmsct/WMSCT020E2.vm")
    </div>
</div>
<div id = "tab2" class="tab1_1" >
    <div class="tabHistoryWrap" id="tabHistoryWrapDiv">
		<ul>
			<li id="gTbLi-1"><a href = "#tabs-1" onClick="fn_tabsOnload('tabs-1', 'list1')">$!lang.getText("CS")</a></li>	
			<li id="gTbLi-2"><a href = "#tabs-2" onClick="fn_tabsOnload('tabs-2', 'list2')">$!lang.getText("AS")</a></li>
		</ul>
	</div>
    <div id = "tabs-1"> <!-- C/S -->
        #parse("winus/wmsct/WMSCT020E3.vm")
        <div class="popupContent">
	        <div class="list_box" id="list_box1">
				<table id="list1"></table>
				<div id="pjmap1"></div>
		    </div>
	    </div>
    </div>
    <div id = "tabs-2"> <!-- A/S -->
        #parse("winus/wmsct/WMSCT020E3.vm")
        <div class="popupContent">
	        <div class="list_box" id="list_box2">
				<table id="list2"></table>
				<div id="pjmap2"></div>
			</div>
		</div>
    </div>
</div>

</body>