#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>

<script type="text/javascript">

var SPDCOL_SELECT			= 0;
var SPDCOL_COMPANY_CD		= 1;
var SPDCOL_ORD_NO			= 2;
var SPDCOL_ORD_DETAIL_NO	= 3;
var SPDCOL_PLANT_CD		= 4;
var SPDCOL_TEMP_TYPE    = 5;
var SPDCOL_ITEM_CD		= 6;
var SPDCOL_NM_ITEM		= 7;
var SPDCOL_QT 			= 8;
var SPDCOL_UM 			= 9;
var SPDCOL_AM 			= 10;
var SPDCOL_VAT 			= 11;
var SPDCOL_TOT 			= 12;
var SPDCOL_RMKS 			= 13;
var SPDCOL_LINK_YN		= 14;
var SPDCOL_QTIO_TP		= 15;
var SPDCOL_CC_CD			= 16;
var SPDCOL_WMS_LINK_YN	= 17;
var SPDCOL_INSERT_DTS		= 18;
var SPDCOL_INSERT_ID		= 19;
var SPDCOL_UPDATE_DTS		= 20;
var SPDCOL_UPDATE_ID		= 21;
var SPDCOL_ORD_DT			= 22;
var SPDCOL_DLV_DT			= 23;
var SPDCOL_END			= 24;

var SPDCOL_CS_SELECT = 0;
var SPDCOL_CS_COM_TYPE_NM = 1;
var SPDCOL_CS_REG_CONTENTS = 2;
var SPDCOL_CS_RESULT = 3;
var SPDCOL_CS_ASCS_ID = 4;
var SPDCOL_CS_ASCS_SEQ = 5;

var SPDCOL_CS_REG_NO = 6;
var SPDCOL_CS_REG_NM = 7;

var SPDCOL_CS_REG_DT = 8;
var SPDCOL_CS_ASCS_NO = 9;

var SPDCOL_CS_COM_TYPE = 10;
var SPDCOL_CS_DLV_CLAIM_TYPE = 11;

var SPDCOL_CS_END	= 12;

var spdSheet;
var spdList;

var spdCsSheet;
var spdCsList;

var arrMC_SPD_CHK_SET_D = [];
var BKC_FRC_D = "#FFFBF7";
var BKC_DEF = "#FFFBF7";

var sidIndex = -1;
var sidOrder = true;
var arrMC_SPD_CHK_SET = [];
jQuery(document).ready(function(){
	/* 세션 timeout 유지  15 mins */
	timeoutHnd = setTimeout('OnTimeoutReached();', logouTimeInterval);
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	timeoutHnd = setTimeout('OnTimeoutReached();', logouTimeInterval);
	
	/* Tabs */
	jQuery("#tab1").tabs({activate:function(event, ui){resizeGrid();}});
	
	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	/* datepicker */
	//한국어 일본어만 현재 지원됨 
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true,
		onSelect: function(dateText) {
			btnDisable();
			var date = new Date(dateText);
			date.setDate(date.getDate() + 1);
			jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").datepicker( "setDate", date);

			
		}
	});
	
	var date = new Date();
	date.setDate(date.getDate() + 1);
	jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").datepicker( "setDate", date);
	
	/* 화면이동 변수 참조 */
	#set($paramPtnrCd = $!request.getParameter('paramPtnrCd'))
	#set($paramDlvDt = $!request.getParameter('paramDlvDt'))
	#if($!paramPtnrCd && $!paramDlvDt)
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("$!paramPtnrCd");
		jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val("$!paramDlvDt");
		vrSrchPtnrCd_OnKillFocus();
	#else
	#end

	/* 그리드 공통화 적용 끝- Header */
	
	/* 그리드 공통화 적용 시작- Detail */
    /* Initspd SheetDetail */
    spdSheet = new GC.Spread.Sheets.Workbook(document.getElementById('spdList'), { sheetCount: 1 });
	ps_setSpreadSheet_init(spdSheet, false);
	spdList = spdSheet.getActiveSheet(0);
		
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(spdList, 1, SPDCOL_END, 0, SPDCOL_ORD_NO);
	
	/* colModel */
	ps_setSpreadCol_CHECKBOX_Property(spdList, SPDCOL_SELECT		,'CENTER'	,'CENTER'	,8	,false	,false	,""); //BKC_FRC
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_NO			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_COMPANY_CD		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_DETAIL_NO	,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_PLANT_CD		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_TEMP_TYPE		,'CENTER'	,'CENTER'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ITEM_CD			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_NM_ITEM			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_QT				,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_UM				,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_AM				,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_VAT				,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_TOT				,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_RMKS			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_LINK_YN			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_QTIO_TP			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_CC_CD			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_WMS_LINK_YN		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_INSERT_DTS		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_INSERT_ID		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_UPDATE_DTS		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_UPDATE_ID		,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_ORD_DT			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_DLV_DT			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_END			,'CENTER'	,'LEFT'	,8	,true	,false	,"");

	ps_setSpreadStyleDetail();
	
	gfn_forceEventResize();
	
	spdList.bind(GC.Spread.Sheets.Events.CellClick, function (sender, args) {
		if(sidIndex === args.col){
			sidOrder = !sidOrder;
		}else{
			sidOrder = true;
			sidIndex = args.col;
		}
		if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader && args.col === 0) {
	    	ps_setSelectALL(0, args);
	    	return false;
	    }else if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader){
	    	spdList.sortRange(0, 0, spdList.getRowCount(), spdList.getColumnCount(), true, 
	    	[{index:args.col, ascending:sidOrder}]);
	    	
	    }else{
			jQuery("#vrSrchRitemCd").val(spdList.getValue(args.row, SPDCOL_ITEM_CD));
	    	
	    }
	});
	
    spdCsSheet = new GC.Spread.Sheets.Workbook(document.getElementById('spdCsList'), { sheetCount: 1 });
	ps_setSpreadSheet_init(spdCsSheet, false);
	spdCsList = spdCsSheet.getActiveSheet(0);
	
	/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
	ps_setSpreadList_init(spdCsList, 1, SPDCOL_CS_END, 0, SPDCOL_CS_REG_CONTENTS);
	
	ps_setSpreadCol_CHECKBOX_Property(spdCsList, SPDCOL_CS_SELECT		,'CENTER'	,'LEFT'	,8	,false	,false	,""); //BKC_FRC
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_COM_TYPE_NM		,'CENTER'	,'CENTER'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_REG_CONTENTS		,'CENTER'	,'LEFT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_RESULT			,'CENTER'	,'LEFT'	,8	,false	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_ASCS_ID			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_ASCS_SEQ			,'CENTER'	,'LEFT'	,8	,true	,false	,"");

	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_REG_NO			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_REG_NM			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_REG_DT			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_ASCS_NO			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_COM_TYPE			,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	ps_setSpreadCol_TEXT_Property(spdCsList	,SPDCOL_CS_DLV_CLAIM_TYPE	,'CENTER'	,'LEFT'	,8	,true	,false	,"");
	
	
	ps_setSpreadStyleCs();
	
	/* grid bindding */
	spdCsList.bind(GC.Spread.Sheets.Events.CellClick, function (sender, args) {
		jQuery("form[name='frm_list_E3'] input[name='ST_GUBUN']").val("UPDATE");
		jQuery("form[name='frm_list_E3'] input[name='ST_CS_ID']").val(spdCsList.getValue(args.row, SPDCOL_CS_ASCS_ID));
		jQuery("form[name='frm_list_E3'] input[name='ST_CS_SEQ']").val(spdCsList.getValue(args.row, SPDCOL_CS_ASCS_SEQ));
		
		jQuery('form[name="frm_list_E3"] textarea[name="TextReqContents"]').val(spdCsList.getValue(args.row, SPDCOL_CS_REG_CONTENTS)).removeAttr('disabled');
		jQuery('form[name="frm_list_E3"] textarea[name="TextResult"]').val(spdCsList.getValue(args.row, SPDCOL_CS_RESULT)).removeAttr('disabled');
		
		jQuery('form[name="frm_list_E3"] input[name="vrSrchReqNm"]').val(spdCsList.getValue(args.row, SPDCOL_CS_REG_NM));
		jQuery('form[name="frm_list_E3"] input[name="vrSrchRegDt"]').val(spdCsList.getValue(args.row, SPDCOL_CS_REG_DT));
		jQuery('form[name="frm_list_E3"] input[name="vrSrchAsCsNo"]').val(spdCsList.getValue(args.row, SPDCOL_CS_ASCS_NO));
		
		jQuery('form[name="frm_list_E3"] select[name="vrSrchComType"]').val(spdCsList.getValue(args.row, SPDCOL_CS_COM_TYPE));
		jQuery('form[name="frm_list_E3"] select[name="vrSrchDlvClaim"]').val(spdCsList.getValue(args.row, SPDCOL_CS_DLV_CLAIM_TYPE));
		
		
	});
	
	/* html force event window resizing */
    gfn_forceEventResize();
    
	/* 그리드 공통화 적용 끝- Detail */
});

function csBoxInit(){
	jQuery("form[name='frm_list_E3'] input[name='ST_GUBUN']").val("UPDATE");
	jQuery("form[name='frm_list_E3'] input[name='ST_CS_ID']").val("");
	jQuery("form[name='frm_list_E3'] input[name='ST_CS_SEQ']").val("");
	
	jQuery('form[name="frm_list_E3"] textarea[name="TextReqContents"]').val("");
	jQuery('form[name="frm_list_E3"] textarea[name="TextResult"]').val("");
	
	jQuery('form[name="frm_list_E3"] input[name="vrSrchReqNm"]').val("");
	jQuery('form[name="frm_list_E3"] input[name="vrSrchRegDt"]').val("");
	jQuery('form[name="frm_list_E3"] input[name="vrSrchAsCsNo"]').val("");
	
	jQuery('form[name="frm_list_E3"] select[name="vrSrchComType"]').val("");
	jQuery('form[name="frm_list_E3"] input[name="vrSrchOrdNo"]').val("");
	jQuery('form[name="frm_list_E3"] input[name="vrSrchDlvClaim"]').val("");
	
}

function ps_setSpreadStyleDetail(){
	/* colName */
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_SELECT			,'선택'				,35		,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_COMPANY_CD		,'회사코드'		,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_NO			,'주문번호'			,180	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_DETAIL_NO		,'주문상세번호'	,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_PLANT_CD			,'PLANT_CD'			,130	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_TEMP_TYPE			,'품온구분'			,130	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ITEM_CD			,'상품코드'			,170	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_NM_ITEM			,'상품명'			,340	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_QT				,'수량'				,50	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_UM				,'단가'				,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_AM				,'공급가'				,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_VAT				,'부가세'				,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_TOT				,'합계'				,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_RMKS				,'RMKS'				,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_LINK_YN			,'LINK_YN'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_QTIO_TP			,'QTIO_TP'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_CC_CD				,'CC_CD'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_WMS_LINK_YN		,'WMS_LINK_YN'		,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_INSERT_DTS		,'INSERT_DTS'		,180	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_INSERT_ID			,'INSERT_ID'		,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_UPDATE_DTS		,'UPDATE_DTS'		,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_UPDATE_ID			,'UPDATE_ID'		,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_ORD_DT			,'ORD_DT'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_DLV_DT			,'DLV_DT'			,100	,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_END			,'END'			,100	,false);
}


function ps_setSpreadStyleCs(){
	/* colName */
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_SELECT			,''			,35		,true);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_COM_TYPE_NM		,'처리상태'	 ,100	,true);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_REG_CONTENTS		,'접수내역'		,400	,true);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_RESULT			,'처리내역'		,400	,true);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_ASCS_ID			,'CS_ID'	,100	,false);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_ASCS_SEQ			,'CS_SEQ'	,100	,false);

	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_REG_NO			,'접수자'	,100	,false);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_REG_NM			,'접수자'	,100	,false);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_REG_DT			,'접수일시'	,100	,false);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_ASCS_NO			,'접수번호'	,100	,false);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_COM_TYPE			,'처리상태코드'	,100	,false);
	ps_setSpreadTitle_Named(spdCsList	,0	,SPDCOL_CS_DLV_CLAIM_TYPE	,'배송클레임'	,100	,false);
	
	

}


/* 조회상세 */
function fn_search(){
		
	var vrCalDlvDt = jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val(); 
	var vrSrchPtnrCd = jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val();
	var vrSrchTelCd = jQuery("form[name='frm_list'] input[name='vrSrchTelCd']").val();
	var vrSrchItemCd = jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val();
	
	if(cfn_isEmpty(vrSrchPtnrCd)){
		if(cfn_isEmpty(vrSrchTelCd)){
			alert("검색 조건이 부족합니다.");
			return;
		}else{
			vrSrchPtnrCd = vrSrchTelCd;
		}
	}else if(!cfn_isEmpty(vrSrchTelCd) && vrSrchPtnrCd !== vrSrchTelCd){
		alert('연락처와 거래처가 일치하지 않습니다.');
		return;
	}
		
	var param 	= {"vrCalDlvDt": vrCalDlvDt, "vrSrchPtnrCd": vrSrchPtnrCd, "vrSrchItemCd": vrSrchItemCd};
	
	var carUrl = "/WMSOM010/listCar.action";
	
	var strUrl 	= "/WMSOM010/listTelDetail.action";
	
	//console.log(param);
	csBoxInit();
	jQuery.ajax({
		url: carUrl,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			//alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			//console.log(data);
			setRST(data);
		}
		//beforeSend	: function() {cfn_loadingModalOpen1();},
		//complete	: function() {cfn_loadingModalClose1();}
	});
	
	
	
	jQuery.ajax({
		url: strUrl,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			//console.log(data);
			setRST_Detail(data);
		}
		//beforeSend	: function() {cfn_loadingModalOpen1();},
		//complete	: function() {cfn_loadingModalClose1();}
	});
}


function setRST(ds){
	
	arrBind = [];
    arrBind = JSON.parse(ds);
    arrBind	= arrBind.rows;
    if(arrBind.length > 0){
    	var arrData = arrBind[0];
    	jQuery('#divPanel_SpdList input[name="crMeet"]').val(arrData.MEET);
    	jQuery('#divPanel_SpdList input[name="crRoutdesc"]').val(arrData.ROUTDESC);
    	jQuery('#divPanel_SpdList input[name="crDvnm"]').val(arrData.DVNM);
    	jQuery('#divPanel_SpdList input[name="crDrmobile"]').val(arrData.DRMOBILE);
    	jQuery('#divPanel_SpdList input[name="crDprtTime"]').val(arrData.DPRT_TIME);
    	
    	if(arrData.DEPART_YN === 'N'){
    		jQuery('#divPanel_SpdList input[name="crDprtYn"]').addClass('red');
    		jQuery('#divPanel_SpdList input[name="crDprtYn"]').val('미배송');
    	}else{
    		jQuery('#divPanel_SpdList input[name="crDprtYn"]').removeClass('red');
    		jQuery('#divPanel_SpdList input[name="crDprtYn"]').val('배송');
    	}
    	
    }else{
    	jQuery('#divPanel_SpdList input[name="crMeet"]').val('');
    	jQuery('#divPanel_SpdList input[name="crRoutdesc"]').val('');
    	jQuery('#divPanel_SpdList input[name="crDvnm"]').val('');
    	jQuery('#divPanel_SpdList input[name="crDrmobile"]').val('');
    	jQuery('#divPanel_SpdList input[name="crDprtTime"]').val('');
    	jQuery('#divPanel_SpdList input[name="crDprtYn"]').val('');
    	
    	
    	fn_recent_order_list();
    }
	
	
}

function fn_recent_order_list(){
	var url = "/WMSCT101/recentOrderList.action";
	var vrCalDlvDt = jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val(); 
	var vrSrchPtnrCd = jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val();
	var vrSrchTelCd = jQuery("form[name='frm_list'] input[name='vrSrchTelCd']").val();
	var vrSrchItemCd = jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val();
	
	if(cfn_isEmpty(vrSrchPtnrCd)){
		vrSrchPtnrCd = vrSrchTelCd;
	}
	
	var param 	= {"vrCalDlvDt": vrCalDlvDt, "vrSrchPtnrCd": vrSrchPtnrCd, "vrSrchItemCd": vrSrchItemCd};
	jQuery.ajax({
		url: url,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			//alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			//alert(data);
			
			var parseData = JSON.parse(data);
			
			var rows = parseData.rows;
			var rowsCount = rows.length;
			
			if(rowsCount > 0){
				var recentOrderlayer = jQuery("#recentOrderlayer");
				recentOrderlayer.empty();
				for(var i = 0; i < rowsCount; i++){
					var ordNo = rows[i].ORD_NO;
					var dlvDt = rows[i].DLV_DT;
					recentOrderlayer.append("<div style='background-color: #FFFFEE; cursor: Pointer; border: 1px solid grey; margin-bottom: 0.5em;' onClick='cfn_loadingModalClose2(); setRecentDate(\"" + dlvDt +  "\");'>" + ordNo + "[" + dlvDt + "]</div>");
				}
				cfn_loadingModalOpen2();
			}else{
				alert("$!lang.getText('검색일 기준 일주일치 주문정보가 존재하지 않습니다.')");
			}
			
		}
	});
}

function setRecentDate(ordDate){
	jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").datepicker( "setDate", ordDate);
	fn_search();
}


/* 조회 callback */
function setRST_Detail(ds){
	spdList.deleteRows(0, spdList.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    arrBind	= arrBind.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck

    spdList.suspendPaint();
    
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
    if(arrBind.length != 0){
    	spdList.setDataSource(arrBind);
    	spdList.bindColumn(SPDCOL_SELECT			,false);
    	spdList.bindColumn(SPDCOL_COMPANY_CD		,"COMPANY_CD");
    	spdList.bindColumn(SPDCOL_ORD_NO			,"ORD_NO");
    	spdList.bindColumn(SPDCOL_ORD_DETAIL_NO		,"ORD_DETAIL_NO");
    	spdList.bindColumn(SPDCOL_PLANT_CD			,"PLANT_CD");
    	spdList.bindColumn(SPDCOL_TEMP_TYPE			,"TEMP_TYPE");
    	spdList.bindColumn(SPDCOL_ITEM_CD			,"ITEM_CD");
    	spdList.bindColumn(SPDCOL_NM_ITEM			,"NM_ITEM");
    	spdList.bindColumn(SPDCOL_QT				,"QT");
    	spdList.bindColumn(SPDCOL_UM				,"UM");
    	spdList.bindColumn(SPDCOL_AM				,"AM");
    	spdList.bindColumn(SPDCOL_VAT				,"VAT");
    	spdList.bindColumn(SPDCOL_TOT				,"TOT");
    	spdList.bindColumn(SPDCOL_RMKS				,"RMKS");
    	spdList.bindColumn(SPDCOL_LINK_YN			,"LINK_YN");
    	spdList.bindColumn(SPDCOL_QTIO_TP			,"QTIO_TP");
    	spdList.bindColumn(SPDCOL_CC_CD				,"CC_CD");
    	spdList.bindColumn(SPDCOL_WMS_LINK_YN		,"WMS_LINK_YN");
    	spdList.bindColumn(SPDCOL_INSERT_DTS		,"INSERT_DTS");
    	spdList.bindColumn(SPDCOL_INSERT_ID			,"INSERT_ID");
    	spdList.bindColumn(SPDCOL_UPDATE_DTS		,"UPDATE_DTS");
    	spdList.bindColumn(SPDCOL_UPDATE_ID			,"UPDATE_ID");
    	spdList.bindColumn(SPDCOL_ORD_DT			,"ORD_DT");
    	spdList.bindColumn(SPDCOL_DLV_DT			,"DLV_DT");
    }else{
    	spdList.clear();
    }
    
    if(arrBind.length == 0){
    	jQuery("#vrSrchOrgOrdNo option").remove();
    	jQuery("#vrSrchOrgOrdNoNew option").remove();
    }
    
    if(arrBind.length != 0){
    	jQuery("#vrSrchOrgOrdNo option").remove();
    	jQuery("#vrSrchOrgOrdNoNew option").remove();
    	
    	var ordNoArr  = [];
    	
    	
    	var grid = spdList;
    	for (var i = 0; i < grid.getRowCount(); i++) {
    		if (ordNoArr.indexOf(spdList.getValue(i, SPDCOL_ORD_NO)) == -1){
    			ordNoArr.push(spdList.getValue(i, SPDCOL_ORD_NO));
    			jQuery('#vrSrchOrgOrdNo').append("<option value='"+ordNoArr[i]+"'>"+ordNoArr[i]+"</option>");
    			jQuery('#vrSrchOrgOrdNoNew').append("<option value='"+ordNoArr[i]+"'>"+ordNoArr[i]+"</option>");
    		}
    	}
    	jQuery('#vrSrchOrgOrdNo option:first').attr("selected",true);
    	
        
    	//ps_setSpreadControl(spdList, arrBind);
    	var ordNo = spdList.getValue(0, SPDCOL_ORD_NO);
    	var dlvDt = spdList.getValue(0, SPDCOL_DLV_DT);
        
    	var vrSrchPtnrCd = jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val();
    	var vrCalDlvDt = jQuery('form[name="frm_list"] input[name="vrCalDlvDt"]').val();
    	
    	jQuery('#crOrdNo').text('(주문번호 : ' + ordNo + ')');
    	
    	if(ordNoArr.length > 1){
    		jQuery('#crOrdNoEtc').text(' (외  ' + (ordNoArr.length-1) + ')');
    	}
    	
    	//주문번호 셋팅
        jQuery("#vrSrchOrdNo").val(ordNo);
//     	alert(ordNo);
        jQuery("#vrSrchOrdDt").val(dlvDt);
        
    	//cs내역 조회
        fn_listCsInfo(ordNo,vrSrchPtnrCd,vrCalDlvDt);
    	
    	
    }else {
    	setRST_Cs_Empty();
    	jQuery('#crOrdNo').text('');
    }
    ps_setSpreadStyleDetail();
    spdList.resumePaint();
}

//상세그리드 푸터 합계
function ps_setSpreadControl(pobjspdList, arrBind) {
    ps_setSpreadTOT_ROW(pobjspdList, 1, "합계", "");
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_QT, "SUM(" + "H1" + ":" + "H" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_UM, "SUM(" + "I1" + ":" + "I" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_AM, "SUM(" + "J1" + ":" + "J" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_VAT, "SUM(" + "K1" + ":" + "K" + (pobjspdList.getRowCount() - 1) + ")" );
    ps_setSpreadCOL_FormulaSUM(pobjspdList, SPDCOL_TOT, "SUM(" + "L1" + ":" + "L" + (pobjspdList.getRowCount() - 1) + ")" );
    
    
  	
}

//EVENT : checkBox all selection
function ps_setSpreadEvents_CellClick (args){
}

//EVENT : cell data change
function ps_setSpreadEvents_CellChanged (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell button click
function ps_setSpreadEvents_ButtonClicked(args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell lostfocus
function ps_setSpreadEvents_LostFocus (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell duble click
function ps_setSpreadEvents_CellDoubleClick (args){
	//alert("더블클릭");
}

/* 거래처코드 입력 */
function vrSrchPtnrCd_OnKillFocus(){
	btnDisable();
	var vrSrchPtnrCd = jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val();
	if( vrSrchPtnrCd != "" ){
		var srchKey = "PARTNER";
		var param   = "srchKey=" + srchKey + "&S_CD_PARTNER=" + vrSrchPtnrCd;
		var url     = "/selectMngCode.action";
		jQuery.post(url, param, function(data){
			var data = data.PARTNER;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchPtnrCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS200&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM200.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(data[0].CD_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(data[0].LN_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val(data[0].CD_PARTNER);
				fn_search();
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
	}
}

/* 거래처명 입력 */
function vrSrchPtnrNm_OnKillFocus(){
	btnDisable();
	var vrSrchPtnrNm = jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val();
	if( vrSrchPtnrNm != "" ){
		var srchKey = "PARTNER";
		var param   = "srchKey=" + srchKey + "&S_LN_PARTNER=" + vrSrchPtnrNm ;
		var url     = "/selectMngCode.action";
		jQuery.post(url, param, function(data){
			var data = data.PARTNER;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchPtnrNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS200&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM200.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(data[0].CD_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(data[0].LN_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val(data[0].CD_PARTNER);
				fn_search();
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchPtnrNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchPtnrId"]').val("");
	}
}


/* 전화번호코드 입력 */
function vrSrchTel_OnKillFocus(){
	btnDisable();
	var vrSrchTel = jQuery('form[name="frm_list"] input[name="vrSrchTel"]').val();
	if( vrSrchTel != "" ){
		var srchKey = "TEL";
		var param   = "srchKey=" + srchKey + "&S_TEL=" + vrSrchTel;
		var url     = "/selectMngCode.action";
		jQuery.post(url, param, function(data){
			var data = data.TEL;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchTel);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS201&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM201.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchTel"]').val(data[0].TEL);
				jQuery('form[name="frm_list"] input[name="vrSrchTelNm"]').val(data[0].LN_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchTelCd"]').val(data[0].CD_PARTNER);
				fn_search();
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchTel']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchTelNm']").val("");
				jQuery("form[name='frm_list'] input[name='vrSrchTelCd']").val("");

			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchTel']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchTelNm']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchTelCd']").val("");

	}
}

/* 거래처명으로 전화번호코드 입력 */
function vrSrchTelNm_OnKillFocus(){
	btnDisable();
	var vrSrchTelNm = jQuery('form[name="frm_list"] input[name="vrSrchTelNm"]').val();
	if( vrSrchTelNm != "" ){
		var srchKey = "TEL";
		var param   = "srchKey=" + srchKey + "&S_LN_PARTNER=" + vrSrchTelNm;
		var url     = "/selectMngCode.action";
		jQuery.post(url, param, function(data){
			var data = data.TEL;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchTelNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS201&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM201.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchTel"]').val(data[0].TEL);
				jQuery('form[name="frm_list"] input[name="vrSrchTelNm"]').val(data[0].LN_PARTNER);
				jQuery('form[name="frm_list"] input[name="vrSrchTelCd"]').val(data[0].CD_PARTNER);
				fn_search();
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchTel']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchTelNm']").val("");
				jQuery("form[name='frm_list'] input[name='vrSrchTelCd']").val("");
		
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchTel']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchTelNm']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchTelCd']").val("");

	}
}


/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){
	btnDisable();
	var vrSrchItemCd = jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEMIF";
		var param   = "srchKey=" + srchKey + "&S_CD_ITEM=" + vrSrchItemCd;
		var url     = "/selectMngCode.action";
		jQuery.post(url, param, function(data){
			var data = data.ITEMIF;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS201&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM202.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CD_ITEM);
				jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NM_ITEM);
				
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");

			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");

	}
}

/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	btnDisable();
	var vrSrchItemNm = jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEMIF";
		var param   = "srchKey=" + srchKey + "&S_NM_ITEM=" + vrSrchItemNm;
		var url     = "/selectMngCode.action";
		jQuery.post(url, param, function(data){
			var data = data.ITEMIF;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchTelNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS201&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM202.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val(data[0].CD_ITEM).focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val(data[0].NM_ITEM);
				
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
		
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");

	}
}

/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";
	var popupNm      = "fn_Popup";
	
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'TEL':	//전화번호 
			popupNm = "fn_Popup";
			param = "?func=fn_setWMSMS201";
			url = "/WMSCM201.action" + param;
			break;
		case 'PARTNER':	//검색 파트너 
			popupNm = "fn_Popup";
			param = "?func=fn_setWMSMS200";
			url = "/WMSCM200.action" + param;
			break;
		case 'ITEMIF':	//검색 파트너 
			popupNm = "fn_Popup";
			param = "?func=fn_setWMSMS202";
			url = "/WMSCM202.action" + param;
			break;
		case 'DELIVERY':
			popupNm = "fn_Popup";
			param = "?func=fn_setWMSMS202";
			url = "/WMSCM202.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, popupNm, width, height);
	asppop.focus();
}


/* 거래처 팝업 후 처리 */
function fn_setWMSMS200(arr){
	btnDisable();
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchPtnrCd"]').val(info.cd_partner);
	jQuery('form[name="frm_list"] input[name="vrSrchPtnrNm"]').val(info.ln_partner);
	fn_search();
}

/* 전화번호 팝업 후 처리 */
function fn_setWMSMS201(arr){
	btnDisable();
	var info = arr[0];
	
	jQuery('form[name="frm_list"] input[name="vrSrchTel"]').val(info.tel);
	jQuery('form[name="frm_list"] input[name="vrSrchTelNm"]').val(info.ln_partner);
	jQuery('form[name="frm_list"] input[name="vrSrchTelCd"]').val(info.cd_partner);
	fn_search();
}

/* 상품 팝업 후 처리 */
function fn_setWMSMS202(arr){
	btnDisable();
	var info = arr[0];
	
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(info.cd_item);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(info.nm_item);
	}



/* 주문확정 */
function fn_ordConfirm(){
	alert("개발 중 입니다. (관리자 문의)");
}

function vrSrchRoutDescNoExtendedBtnOnClick(){
	
	jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNo2"]').val("");
	var vrSrchRoutDescNoExtendedOn = jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNoExtendedOn"]').val();
	
	if(vrSrchRoutDescNoExtendedOn === "false") {
		jQuery('#vrSrchRoutDescNoExtendedBox').show();
		jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNoExtendedOn"]').val("true");
	}else{
		jQuery('#vrSrchRoutDescNoExtendedBox').hide();
	 	jQuery('form[name="frm_list"] input[name="vrSrchRoutDescNoExtendedOn"]').val("false");
	}
	
} 

function btnDisable(obj){
	
	var btnOnOff = jQuery('.btnArea input[name="btn_on_off"]').val();
	
	if(btnOnOff === 'on'){
		alert('거래명세서를 다운받으시려면 재검색을 해주십시오.');
		jQuery('.btnArea input[name="btn_on_off"]').val("off");
	}
	
	jQuery('.btnArea input[name="btn_pdf"]').attr('disabled', true);
	jQuery('.btnArea input[name="btn_pdf_all"]').attr('disabled', true);
	jQuery('.btnArea input[name="btn_pdf"]').addClass("btnDisabled");
	jQuery('.btnArea input[name="btn_pdf_all"]').addClass("btnDisabled");
	jQuery('.btnArea input[name="btn_pdf"]').removeClass("btnEtc");
	jQuery('.btnArea input[name="btn_pdf_all"]').removeClass("btnEtc");
}

function btnAble(obj){
	jQuery('.btnArea input[name="btn_on_off"]').val("on");
	jQuery('.btnArea input[name="btn_pdf"]').attr('disabled', false);
	jQuery('.btnArea input[name="btn_pdf_all"]').attr('disabled', false);
	jQuery('.btnArea input[name="btn_pdf"]').removeClass("btnDisabled");
	jQuery('.btnArea input[name="btn_pdf_all"]').removeClass("btnDisabled");
	jQuery('.btnArea input[name="btn_pdf"]').addClass("btnEtc");
	jQuery('.btnArea input[name="btn_pdf_all"]').addClass("btnEtc");
}

function fn_editInit(){
	if(jQuery("#vrSrchOrdNo").val().length == 0){
		alert("$!lang.getText('주문번호가 없습니다. 차량정보/거래명세서 정보를 조회해 주십시오.')");
		return false;
	}
	
	//if(!confirm("$!lang.getText('신규등록 및 초기화 하시겠습니까?')")){return;}
	jQuery("form[name='frm_list_E3'] input[name='ST_GUBUN']").val("INSERT");
	jQuery("form[name='frm_list_E3'] input[name='ST_CS_ID']").val("");
	jQuery("form[name='frm_list_E3'] input[name='ST_CS_SEQ']").val("");
	jQuery('form[name="frm_list_E3"] select[name="vrSrchComType"]').val("N");
	jQuery('form[name="frm_list_E3"] select[name="vrSrchDlvClaim"]').val("10");
	jQuery('form[name="frm_list_E3"] textarea[name="TextReqContents"]').removeAttr('disabled').val('');
	jQuery('form[name="frm_list_E3"] textarea[name="TextResult"]').removeAttr('disabled').val('');
	
	jQuery('form[name="frm_list_E3"] input[name="vrSrchReqNm"]').val('$ss_user_name');
	jQuery('form[name="frm_list_E3"] input[name="vrSrchRegDt"]').val('>자동입력.');
	jQuery('form[name="frm_list_E3"] input[name="vrSrchAsCsNo"]').val('>자동입력.');
	
	jQuery('form[name="frm_list_E3"] textarea[name="TextReqContents"]').focus();
}

/* 저장 */
function fn_save(){
    /* 유효성검사 */
	if(!fn_listValidation()){return;}
    
    if(confirm("$!lang.getText('update.confirm')")){
    	jQuery("form[name='frm_list_E3'] div[id='formDataE3']").html("");
    	jQuery("form[name='frm_list_E3'] div[id='formDataE3']").append("<input type='text' name='vrSrchPtnrCd' value='" + jQuery("#vrSrchPtnrCd").val() +"'/>");
    	jQuery("form[name='frm_list_E3'] div[id='formDataE3']").append("<input type='text' name='vrSrchOrgOrdNoNew' value='" + jQuery("#vrSrchOrgOrdNoNew").val() +"'/>");
    	
        var param = jQuery("form[name='frm_list_E3']").serialize();
        
        var url = "/WMSCT101/save.action";
        jQuery.post(url, param, function(data) {
        	alert(data.MSG);
        	fn_search();
        	if(data.errCnt <= 0 ){
	            //var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
	            //var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
	            //fn_search();
            }
        }).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
    }
}

/* 입력값 유효성 검사 */
function fn_listValidation(){
	var TextReqContents = jQuery('form[name="frm_list_E3"] textarea[name="TextReqContents"]').val();
	var textDlvClaim = jQuery('form[name="frm_list_E3"] select[name="vrSrchDlvClaim"]').val();
	if(TextReqContents.length == 0){
		alert("$!lang.getText('접수내역을 입력하여 주십시오.')");
		return false;
	}else if(cfn_isEmpty(textDlvClaim)){
		alert("$!lang.getText('배송클레임유형을 선택하여 주십시오.')");
		return false;
	}
	return true;
}

function fn_listCsInfo(ordNo,ptnrCd,calDlvDt){
	//CS내역조회
	var param = {"vrSrchOrdNo": ordNo,  "vrSrchPtnrCd":ptnrCd , "vrCalDlvDt":calDlvDt.replace(/-/gi, '')};
	var url	  = "/WMSCT101/listCsInfo.action";
	jQuery.ajax({
		url: url,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
		},
		success		: function(data) {
			setRST_Cs(data);
		}
	});
}

function setRST_Cs_Empty(){
	spdCsList.deleteRows(0, spdCsList.getRowCount());
	spdCsList.suspendPaint();
	spdCsList.clear();
	ps_setSpreadStyleCs();
    spdCsList.resumePaint();
}

/* 조회 callback */
function setRST_Cs(ds){
	spdCsList.deleteRows(0, spdCsList.getRowCount());
    arrBind = [];
    arrBind = JSON.parse(ds);
    arrBind	= arrBind.rows;
    
    if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck

    spdCsList.suspendPaint();
    
    //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
    if(arrBind.length != 0){
    	spdCsList.setDataSource(arrBind);
    	spdCsList.bindColumn(SPDCOL_CS_SELECT			,false);
    	spdCsList.bindColumn(SPDCOL_CS_COM_TYPE_NM		,"COM_TYPE_NM");
    	spdCsList.bindColumn(SPDCOL_CS_REG_CONTENTS		,"REG_CONTENTS");
    	spdCsList.bindColumn(SPDCOL_CS_RESULT			,"RESULT");
    	spdCsList.bindColumn(SPDCOL_CS_ASCS_ID			,"ASCS_ID");
    	spdCsList.bindColumn(SPDCOL_CS_ASCS_SEQ			,"ASCS_SEQ");

    	spdCsList.bindColumn(SPDCOL_CS_REG_NO			,"REG_NO");
    	spdCsList.bindColumn(SPDCOL_CS_REG_NM			,"REG_NM");
    	spdCsList.bindColumn(SPDCOL_CS_REG_DT			,"REG_DT");
    	spdCsList.bindColumn(SPDCOL_CS_ASCS_NO			,"ASCS_NO");
    	spdCsList.bindColumn(SPDCOL_CS_COM_TYPE			,"COM_TYPE");
    	spdCsList.bindColumn(SPDCOL_CS_DLV_CLAIM_TYPE	,"DLV_CLAIM_TYPE");
    	
    	
    }else{
    	spdCsList.clear();
    }
    
    ps_setSpreadStyleCs();
    spdCsList.resumePaint();
}

/* 미배송내역조회  */
function fn_checkDeliveryYet() {
	var strParameter = [];
	strParameter.push(vrSrchItemCd);
	var width  = "800";
	var height = "530";
	var param  = "?func=fn_setWMSMS201&strParameter=" + strParameter + "&stBtnYn=N";
	var url    = "/WMSCM202.action" + param;
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}


/* 리얼패킹 영상  */
function fn_viewRealPacking(){
	var itemCd = jQuery("#vrSrchRitemCd").val();
	//var ordNo = jQuery("#vrSrchOrdNo").val();
	var ordNo = jQuery("#vrSrchOrgOrdNo").val();
	var dt = jQuery("#vrSrchOrdDt").val();
	
	var param = "?vrSrchOrdNo=" + ordNo + "&vrSrchRitemCd=" + itemCd + "&vrSrchOrdDt=" + dt;//{"vrSrchOrdNo": jQuery("#vrSrchOrdNo").val(),};
	var url    = "/WMSCT101pop2.action" + param;
	
	var width  = "1200";
	var height = "680";
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
	
	
	
}

function cfn_loadingModalOpen2(){
	jQuery('#loadingModalView2').bPopup({
		escClose: 0,
		modalClose: true,
        opacity: 0.6,
        positionStyle: 'fixed' //'fixed' or 'absolute'
    });
}
function cfn_loadingModalClose2(){
	setTimeout(function(){
	    // 반복 타이머 종료
		jQuery("#loadingModal_close2").click();
	}, 500);
}
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("CS운영")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsct/WMSCT101E1.vm")
    </div>
</div>

<div id="loadingModalView2" style="display: none; background-color: white; width: 25%; height: 250px; border-radius: 8px; vertical-align: middle; text-align: center; ">
	<div class="button b-close" id="loadingModal_close2" style="float:right; margin: 0.3em; background-color: #DDDD13; width:1.4em; visibility : hidden;" >X</div>
	
	<div style="padding-top: 1em; text-align:center; font-size: 1.5em; font-weight: 600;">최근 일주일 주문목록</div>
	<div id="recentOrderlayer" position="absolute" style="width: 90%; margin: 1em auto; padding: 0.2em; text-align:center; font-size: 1.4em; font-weight: 400;"></div>
</div>
#parse("winus/common/footer.vm")