<div class="popupWrap">
	<table class="search" style="height:45px; font-size:12px; margin-top:10px;">		
		<colgroup>	
			<col width="90px"/>
			<col width="35%"/>
			<col width="80px"/>
			<col width="55%"/>
			<col width="80px"/>
			<col width="35%"/>
			<col width="20px"/>
		</colgroup>
		<tr>
			<th>$!lang.getText("고객명")</th>
			<td>
				<input type="text" class="text" name="vrPopCustomerNm" id="vrPopCustomerNm" style="text-align:center; height:20px; ime-mode:disabled;font-family: auto;" disabled/>
			</td>
			<th>$!lang.getText("고객주문번호")</th>
			<td>
				<input type="text" class="text" name="vrPopOrgOrdIdView" id="vrPopOrgOrdIdView" style="text-align:center; height:20px; ime-mode:active; font-family: auto;" disabled/>
			</td>
			<th>$!lang.getText("사진정보")</th>
			<td>
				<input type="text" class="text" name="descMainPop" id="descMainPop" style="background:#ffa; text-align:center; height:20px; ime-mode:active; font-family: auto;" disabled/>
			</td>
		</tr>
	</table>
	<div id="veiwHtable">
		<table id="imgBox" border='0' style='height: 100px; width: 90%; margin: 1% 0% 0% 5%;'>
			<colgroup>
			<col width = "14%"/>
			<col width = "14%"/>
			<col width = "14%"/>
			<col width = "14%"/>
			<col width = "14%"/>
			</colgroup>
			<tr>
				<td id="file0"   	class="imgTableCss" onClick="fn_setImgVal('file0')"></td>
				<td id="file1" 		class="imgTableCss" onClick="fn_setImgVal('file1')"></td>
				<td id="file2" 		class="imgTableCss" onClick="fn_setImgVal('file2')"></td>
				<td id="file3" 		class="imgTableCss" onClick="fn_setImgVal('file3')"></td>
				<td id="file4" 		class="imgTableCss" onClick="fn_setImgVal('file4')"></td>
			</tr>
		</table>
	</div>

	<h2 class="first" id="fullpath_screen"></h2>
    <form name="frm_list_pop">
    	<input type="hidden" name="vrPopGb"	   		id="vrPopGb"/>
		<input type="hidden" name="srchKey"	   		id="srchKey"/>
		<input type="hidden" name="vrDlvOrdId" 		id="vrDlvOrdId"/>
	</form>
</div>
<div id="veiwVer01" align="center">
<!-- 	<div id="descMain" class="divImgCss">$!lang.getText('날인')(sign)</div> -->
	<div style="height:700px; overflow:scroll; cursor:pointer;">
		<img style="width:50%;" id="mainImg" onClick="fn_reSizeImg();"></img>
	</div>
	<!-- <div style="height:600px;"></div> -->
</div>