<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('일괄처리')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>
<script type="text/javascript" src="/js/jquery/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/js/layout.js"></script>
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/highlight.pack.js"></script>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))	
</head>
<body style='min-width:450px;'>

#set($ss_user_gb 	= $!session.getAttribute("SS_USER_GB")	)
#set($ss_cmpy_code 	= $!session.getAttribute("SS_CMPY_CODE"))
#set($ss_cmpy_id 	= $!session.getAttribute("SS_CMPY_ID")	)
#set($ss_cmpy_name 	= $!session.getAttribute("SS_CMPY_NAME"))
#set($ss_lang_type 	= $!session.getAttribute("SS_LANG_TYPE"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end

<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

var stBtnYn  = "";  // 버튼클릭여부
var strCode  = "";  // 코드(검색조건)
var strName  = "";  // 코드명(검색조건)
var editChk  = "";

jQuery(document).ready(function(){
	/* datepicker */
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='eventDlvSetDtFrom'] , input[name='eventDlvDtFrom'] , input[name='eventDlvInReqDtFrom']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});

	var arrParameter = "$request.getParameter('strParameter')".split(',');
	strCode  = (arrParameter[0] == undefined) ? "" : arrParameter[0];			//코드(검색조건)
	strName  = (arrParameter[1] == undefined) ? "" : arrParameter[1];			//코드명(검색조건)	
	
	stBtnYn = "$request.getParameter('stBtnYn')";
	
	// button
	jQuery("input:button").button();
	
	//값 초기화
	fn_editInit();
});

//부모창으로 값 보내기
function fn_close(err){
	if(!confirm("$!lang.getText('※주의 !! 일괄 입력 시 데이터를 다시한번 확인하여 주십시오.')")){return;}
	
	var frm      = document.frm_list;
	var arg_func = frm.func.value;

	var opnr_func = eval("opener." + arg_func );
	var arr 	= new Array();
	var hitCnt 	= 0;

	if(frm.ID.value != ""){		
		
        var info = new Object();
        info.eventDlvSetDt   = jQuery("#eventDlvSetDtFrom").val();
        info.eventDlvDt      = jQuery("#eventDlvDtFrom").val();
        info.eventDlvInReqDt = jQuery("#eventDlvInReqDtFrom").val();
        info.eventDlvOrdStat = jQuery("#eventDlvOrdStat").val();
        info.eventEtc2       = jQuery("#eventEtc2").val();
        info.eventEtc1       = jQuery("#eventEtc1").val();
        info.eventAsnLc      = jQuery("#eventAsnLc").val();

        arr[0]= info;

    	if(arr != null){
    		opnr_func(arr);
    	}
    	
        self.close();  
	}else{	
		if(err != null){
			var opnr_func = eval("opener.fn_pop_err");
			var info = new Object();
			info.err = err;
			arr[0]= info;
			if(arr != null){
	    		opnr_func(arr);
	    	}
		}else{
			alert("$!lang.getText('일괄처리 할 값을 입력하여 주십시오.')");
			return;
		}
	}
}

function fn_editInit(){
	jQuery("#DIV_eventDlvSetDtFrom").hide();
	jQuery("#DIV_eventDlvDtFrom").hide();
	jQuery("#DIV_eventDlvInReqDtFrom").hide();
	jQuery("#DIV_eventDlvOrdStat").hide();
	jQuery("#DIV_eventEtc2").hide();
	jQuery("#DIV_eventEtc1").hide();
	jQuery("#DIV_eventAsnLc").hide();
	jQuery("#eventDlvSetDtFrom").val("");
	jQuery("#eventDlvDtFrom").val("");
	jQuery("#eventDlvInReqDtFrom").val("");
	jQuery("#eventDlvOrdStat").val("");
	jQuery("#eventEtc2").val("");
	jQuery("#eventEtc1").val("");
	jQuery("#eventAsnLc").val("");
}

function onChangeloadFn(gb){
	var chkGb = gb;
	if(gb == 3){chkGb = "eventDlvOrdStat";}
	
	var eventDlvOrdStatVal = jQuery("#eventDlvOrdStat").val();
	if(eventDlvOrdStatVal == "90"){
		jQuery("#eventDlvOrdStat").val("89");
	}
	
	//jQuery("#DIV_eventDlvSetDtFrom").show();
	if(jQuery("#"+chkGb).val().length != 0){
		jQuery("#DIV_"+chkGb).show();
	}else{
		jQuery("#DIV_"+chkGb).hide();
	}
	
	editChk = jQuery("#eventDlvSetDtFrom").val()
	        + jQuery("#eventDlvDtFrom").val()
	        + jQuery("#eventDlvInReqDtFrom").val()
			+ jQuery("#eventDlvOrdStat").val()
			+ jQuery("#eventEtc2").val()
			+ jQuery("#eventEtc1").val()
			+ jQuery("#eventAsnLc").val();
	jQuery("form[name='frm_list'] input[name='ID']").val(editChk);
}


</script>
<div class="popupWrap">
	<div class="popupHeader">
		<div class="btnArea">
	        <div class="btnAreaLeft">
	        	<div class="btnArea marB10">
				<div class="btnAreaLeft">
					$!lang.getText("일괄처리 입력")
				</div>
			</div>
	        </div>
	        <div class="btnAreaRight">
	        	<input type = "button" name = "btnNewItem"	class = "EXC_AUTH btnExcel" value = "$!lang.getText('초기화')" onClick ="fn_editInit()"	role="button" aria-disabled="false" />
	        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('입력')" onClick="fn_close();" 		role="button" aria-disabled="false"/>
	        </div>    
		</div>
		<form>
			<table class="search" id="srchBox" border="0">
				<colgroup>	
					<col width="10px"/>
					<col width="90px"/>
					<col width="100%"/>
				</colgroup>
				<tr>
					<td><div id="DIV_eventDlvSetDtFrom" style="color:red;"><b>&nbsp&nbspV</b></div></td>
					<th>$!lang.getText('배송요청일')</th>
					<td>					
						<input type = "text" class = "text" style="width:50%" name="eventDlvSetDtFrom" id="eventDlvSetDtFrom" maxlength="10" onkeydown="cfn_setDateFld(eventDlvSetDtFrom)" onChange="cfn_onChangeDateFld(eventDlvSetDtFrom), onChangeloadFn('eventDlvSetDtFrom')"> 
						<input type="hidden" class = "text" style="width:34%" name="eventDlvSetDtTo"   id="eventDlvSetDtTo"   maxlength="10" onkeydown="cfn_setDateFld(eventDlvSetDtTo)" onChange="cfn_onChangeDateFld(eventDlvSetDtTo)">
					</td>
				</tr>
				<tr>
					<td><div id="DIV_eventDlvDtFrom" style="color:red;"><b>&nbsp&nbspV</b></div></td>
					<th>$!lang.getText('배송완료일')</th>
					<td>					
						<input type = "text" class = "text" style="width:50%" name="eventDlvDtFrom" id="eventDlvDtFrom" maxlength="10" onkeydown="cfn_setDateFld(eventDlvDtFrom)" onChange="cfn_onChangeDateFld(eventDlvDtFrom), onChangeloadFn('eventDlvDtFrom')"> 
						<input type="hidden" class = "text" style="width:34%" name="eventDlvDtTo"   id="eventDlvDtTo"   maxlength="10" onkeydown="cfn_setDateFld(eventDlvDtTo)" onChange="cfn_onChangeDateFld(eventDlvDtTo)">
					</td>
				</tr>
				<tr>
					<td><div id="DIV_eventDlvInReqDtFrom" style="color:red;"><b>&nbsp&nbspV</b></div></td>
					<th>$!lang.getText('입고예정일')</th>
					<td>					
						<input type = "text" class = "text" style="width:50%" name="eventDlvInReqDtFrom" id="eventDlvInReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(eventDlvInReqDtFrom)" onChange="cfn_onChangeDateFld(eventDlvInReqDtFrom), onChangeloadFn('eventDlvInReqDtFrom')"> 
						<input type="hidden" class = "text" style="width:34%" name="eventDlvInReqDtTo"   id="eventDlvInReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(eventDlvInReqDtTo)" onChange="cfn_onChangeDateFld(eventDlvInReqDtTo)">
					</td>
				</tr>
				<tr>
					<td><div id="DIV_eventDlvOrdStat" style="color:red;"><b>&nbsp&nbspV</b></div></td>
					<th>$!lang.getText('배송상태')</th>
					<td>					
						$!comCode.getComboComCode("DLV_STAT", "eventDlvOrdStat", "", true, "$!lang.getText('선택')", "onChange", "onChangeloadFn(3);","class='selectbox' style='width:50%'")
					</td>
				</tr>
				<tr>
					<td><div id="DIV_eventEtc2" style="color:red;"><b>&nbsp&nbspV</b></div></td>
					<th>$!lang.getText('취소사유')</th>
					<td>					
						<input type="text" class ="text" name= "eventEtc2" id ="eventEtc2" onChange="onChangeloadFn('eventEtc2')"/>
					</td>
				</tr>
				<tr>
					<td><div id="DIV_eventEtc1" style="color:red;"><b>&nbsp&nbspV</b></div></td>
					<th>$!lang.getText('기타1')</th>
					<td>					
						<input type="text" class ="text" name= "eventEtc1" id ="eventEtc1" onChange="onChangeloadFn('eventEtc1')"/>
					</td>
				</tr>
				<tr>
					<td><div id="DIV_eventAsnLc" style="color:red;"><b>&nbsp&nbspV</b></div></td>
					<th>$!lang.getText('물류센터이관')</th>
					<td>
						<select name='eventAsnLc' id='eventAsnLc' class="selectbox" style="width:100%;" onChange="onChangeloadFn('eventAsnLc')">
							<option value="">$!lang.getText('선택')</option>
							#foreach($row in $ASNLC)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<form name="frm_list">
		<input type='hidden' name='func'	id='func' class="text"	value='$!request.getParameter("func")'/>	
		<input type="hidden" name="ID" class="text"/>
	</form>
</div>
</body>
</html>