<script>
function gfn_reportProcess(reportGb, objGrid) {
	var grid      = objGrid;
	var ids       = grid.getDataIDs();
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var html      = "";
	var nullVal   = " ";
	
	var printDate = "";
	var date = new Date();
	printDate = date.getFullYear()+"-"+(date.getMonth() + 1)+"-"+date.getDate()+" "+
	date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();

	var qrSize = 0;
	
	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");	
		return false;
	}
	
    for(var i = 0 ; i < selectIds.length ; i++){
    	if(grid.getCell(selectIds[i],  "DLV_ORD_TYPE")=="999"){alert("$!lang.getText('취소 건은 출력 할 수 없습니다.')"); return false;}
    	var chkBoxStat  =  jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
    	
    	if(chkBoxStat != undefined){
   			//인쇄 페이징 처리 구분
       		if(i == 0){
       			html += "<div style='page-break-before:avoid; font-size:14px;'>";		
       		}else{
       			html += "<div style='page-break-before:always'>";
       		}
   			
       		//** 화주별 report 분기 영역 ******************************************************************************************************************************************//
    		//** 화주별 report 분기 영역 ******************************************************************************************************************************************//
    		//** 화주별 report 분기 영역 ******************************************************************************************************************************************//
       		switch(reportGb){
       			//1. SYSD 신영에스디
	    		case 'SYSD':
	    			qrSize = 100;
	    			
	    			html += " <p style='text-align: center; font-size:20px;'><span style='text-decoration: underline;'><strong>가전제품 배송 설치 제품 인수증</strong></span></p>";
	        		//html += " <p>&nbsp;</p>";
	        		html += " <table style='height: 65px; width: 100%;'>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 90px;'>주문등록일</td>";
	        		html += " <td style='width: 150px;'>: "+grid.getCell(selectIds[i],  "BUYED_DT")+"</td>";
	        		html += " <td style='width: 120px;'>매출처주문번호</td>";
	        		html += " <td style='width: 290px;'>: "+grid.getCell(selectIds[i],  "ORG_ORD_ID")+"</td>";
	        		html += " <td style='width: 100px;'>페이지</td>";
	        		html += " <td style='width: 120px;'>: "+(i+1)+"/"+selectIds.length+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 90px;'>송장번호</td>";
	        		html += " <td style='width: 150px;'>: "+grid.getCell(selectIds[i],  "DLV_ORD_ID")+"</td>";
	        		html += " <td style='width: 120px;'>출력일자</td>";
	        		html += " <td style='width: 290px;'>: "+printDate+"</td>";
	        		html += " <td style='width: 100px;'>지정일자</td>";
	        		html += " <td style='width: 120px;'>: "+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		
	        		//테이블
	        		html += " <table style='height: 166px; width: 100%;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>인수고객</td>";
	        		html += " <td style='width: 300px;'>"+grid.getCell(selectIds[i],  "DLV_CUSTOMER_NM")+"</td>";
	        		html += " <td style='width: 80px; text-align: center;'>설치자</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+"</td>";
	        		html += " <td style='width: 160px; text-align: center;' colspan='2'>쇼핑몰</td>";
	        		html += " <td style='width: 130px; text-align: center;' colspan='2'>"+grid.getCell(selectIds[i],  "SALES_COMPANY_NM")+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>전화번호</td>";
	        		html += " <td style='width: 300px;'>"+grid.getCell(selectIds[i],  "DLV_PHONE_1") + " (" +grid.getCell(selectIds[i],  "DLV_PHONE_2")+")"+"</td>";
	        		html += " <td style='width: 80px; text-align: center;'>전화번호</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "REQ_DRIVER_TL")+"</td>";
	        		html += " <td style='width: 160px;' colspan='2'>&nbsp;</td>";
	        		html += " <td style='width: 130px;' colspan='2'>&nbsp;</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>주소</td>";
	        		html += " <td style='width: 850px;' colspan='7'>"+grid.getCell(selectIds[i],  "DLV_ADDR")+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>제품명</td>";
	        		html += " <td style='width: 560px;' colspan='3'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+") " +grid.getCell(selectIds[i],  "REPORT_RITEM_NM")+grid.getCell(selectIds[i],  "REPORT_RITEM_CD")+ "</td>";
	        		html += " <td style='width: 80px; text-align: center;'>상담유형</td>";
	        		html += " <td style='width: 80px; text-align: center;'>"+grid.getCell(selectIds[i],  "TRN_DLV_ORD_TYPE")+"</td>";
	        		html += " <td style='width: 70px; text-align: center;'>수량</td>";
	        		html += " <td style='width: 60px; text-align: center;'>"+grid.getCell(selectIds[i],  "DLV_QTY")+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>배송<br />메시지</td>";
	        		html += " <td style='width: 560px;' colspan='3'>"+jQuery("#"+selectIds[i] + "_MEMO","#list").val()+"</td>";
	        		//html += " <td style='width: 290px;' align='center' colspan='4' rowspan='2'><div style='text-align: center;' id='bc_salseId_"+i+"'></div></td>";
	        		html += " <td style='width: 290px;' align='center' colspan='4' rowspan='3'><div id='qrItem_"+i+"'><img id='qrItemImg_"+i+"'></div></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>주문옵션</td>";
	        		html += " <td style='width: 560px; text-align: center;' colspan='3'>"+jQuery("#"+selectIds[i] + "_ORD_OPTION","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>통화메모</td>";
	        		html += " <td style='width: 560px; text-align: left;' colspan='3'>"+jQuery("#"+selectIds[i] + "_HAPPY_CALL_MEMO","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
        			html += " <td style='width: 80px; text-align: center;'>설치일자</td>";
	        		html += " <td style='width: 300px; border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(년.월.일)</td>";
	        		html += " <td style='width: 80px; text-align: center;'>지불형태</td>";
	        		if(grid.getCell(selectIds[i],  "PAY_REQ_YN") == "C"){
	        			html += " <td style='width: 180px; text-align: center;'>"+grid.getCell(selectIds[i],  "PAY_REQ_YN_NM") +" ("+grid.getCell(selectIds[i],  "COST_TYPE_NM")+")"+"</td>";	
	        		}else{
	        			html += " <td style='width: 180px; text-align: center;'>"+grid.getCell(selectIds[i],  "PAY_REQ_YN")+"</td>";	
	        		}

	        		html += " <td style='width: 160px; text-align: center;' colspan='2'>비용</td>";
	        		if(grid.getCell(selectIds[i],  "COST_TYPE") == "IN"){
	        			html += " <td style='width: 130px; text-align: right;' colspan='2'>"+SetComma(grid.getCell(selectIds[i],  "REQ_COST"))+"원</td>";	
	        		}else{
	        			html += " <td style='width: 130px; text-align: right;' colspan='2'>-</td>";	
	        		}
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p>*운송 설치자는 제품 인수시 고객을 대신하여 점검하고 인수합니다.</p>";
	        		html += " <p>*운송 설치자는 출고 이후부터 생기는 파손, 분실등의 문제는 책임을 져야 합니다.</p>";
	        		//// 설치확인서
	        		html += " <p style='text-align: center;'><span style='text-decoration: underline;'>설 치 완 료 확 인 서</span></p>";
	        		html += " <table style='height: 168px; width: 100%;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		
	        		html += " <tr>";
	        		html += " <td style='width: 278px; text-align: center;' colspan='1'>설치 시 체크사항<br>(내용확인 후 v표시)</td>";
	        		html += " <td style='width: 630px;' colspan='3'> □ 1. 제품 외관 및 구성품 확인<br> □ 2. 작동 방법 및 사용설명 안내<br> □ 3. 도어방향 교체 및 배수 호스 연결 안내<br> □ 4. 고객이 원하는 장소 설치 유무</td>";
	        		html += " </tr>";
	        		
	        		html += " <tr>";
	        		html += " <td style='width: 908px;' colspan='4'>○ 고객의견 (하자 및 A/S 요청) - 하자 미발견으로 설치 후 또는 교환 요청 후에는 A/S만 가능하며 취소는 불가능함</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 278px; text-align: center;' colspan='2'>제품에 이상이 없음</td>";
	        		html += " <td style='width: 393px; text-align: center;'>상품 이상 교환요청 (취소는 불가능함)</td>";
	        		html += " <td style='width: 225px; text-align: center;'>상품 이상 취소 회수요청</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 278px;' colspan='2'>&nbsp;</td>";
	        		html += " <td style='width: 393px;'>&nbsp;</td>";
	        		html += " <td style='width: 225px;'>&nbsp;</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 116px; text-align: center;' rowspan='2'>고객확인<br>수취인성명</td>";
	        		html += " <td style='width: 156px; text-align: center;  border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' rowspan='2'></td>";
	        		html += " <td style='width: 624px; text-align: center;' colspan='2'>서 명 (설치 후 하자 발생 시 취소는 불가능하며 A/S는 가능함을 확인함)</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		//html += " <td style='width: 136px; text-align: center;'>&nbsp;</td>";
	        		html += " <td style='width: 624px; text-align: center;' colspan='2'>&lt;대리인이 서명하실 경우도 취소는 불가능합니다.&gt;</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 278px; text-align: center;' colspan='2' rowspan='2'>상품 이상없음 고객 자필</td>";
	        		html += " <td style='width: 312px; background:url(http://winus.logisall.com/img/noneText.png); background-repeat:no-repeat; background-size:60% 100%;' rowspan='2'>&nbsp;</td>";
	        		html += " <td style='width: 312px; text-align: center; border-top:3px solid; border-right:3px solid; border-left:3px solid;'>시리얼번호 기입</td>";
	        		html += " </tr>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 312px; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;'>&nbsp;</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p style='text-align: center;'>----------------------------------------------------------------------------------------------------------------------------------------</p>";
	        		html += " <table style='height: 24px; width: 910px;'>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 340px;'>&lt; 알고 계십니까! &gt;</td>";
	        		html += " <td style='width: 556px;'></td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p><strong><span style='text-decoration: underline;'>설치 후 취소가 불가능 합니다. (교환 A/S 요청 시 설치 완료로 봅니다) 배송기사님 방문 시 꼼꼼히 확인하시기 바랍니다.</span></strong><br>";
	        		html += " <strong><span style='text-decoration: underline;'>꼭 취소해야 할 때는 왕복 배송비용을 고객님께서 부담하셔야 합니다.</span></strong></p>";
	        		html += " <p>1. 당사의 제품을 구매하여 주셔서 대단히 감사합니다.<br>";
	        		html += " 2. 고객님께서 위 사항을 기재해 주시면 설치 시 발생되는 문제를 신속히 처리 받으실 수 있습니다.<br>";
	        		html += " <strong><span style='text-decoration: underline;'>3. 전기 가전제품은 설치 후 (교환요청도 설치완료로 봅니다) 취소가 불가능하며 부득이 취소 할 경우 별도의 배송비가 부가 됩니다. 또한 교환요청 후 취소 할 경우도 배송비가 부담되오니 유념하시기 바랍니다.</span></strong><br>";
	        		html += " 4. 전기 가전제품은 제품 업그레이드로 인한 기존 모델 단종이 될 수 있으므로 교환 및 A/S 요청시 동일한 상품이 제공되지 않을 수도 있습니다.<br>";
	        		html += " 5. 상품의 정상적인 사용 용도 외에 임의 이동설치나 고객 부주의에 의한 하자는 유상 A/S로 지원해 드립니다.<br>";
	        		html += " 6. 제품 사용고객 특히, 어린이나 유아는 모서리나 기타 상품에 다치지 않도록 주의하고 위험한 부분은 별도 코너대 같은 안전용품을 사용하시기 바랍니다.<br>";
	        		html += " 7. 제품의 특성상 화기(불)나 화학약품(신나 등 휘발성 및 탈색제 등)등에 오염된 섬유의 사용시 화재발생의 원인이 될 수 있으니 사용을 금지하여 주시기 바랍니다.<br>";
	        		html += " 8. 기타, 정상적인 사용에 어긋난 용도의 사용은 당사가 책임을 지지 않습니다. (사다리 비용 발생 시 고객 부담)</p>";
	        		html += " <table style='height: 95px; width: 100%;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 818px;' colspan='4'>※ 각종 A/S나 문의는 "+jQuery('#vrSrchCustNm').val()+" 으로 연락주십시오. 신속히 처리 됩니다.</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 199px; text-align: center;'>A/S 및 상담전화</td>";
	        		html += " <td style='width: 318px; text-align: center;'>"+jQuery('#vrSrchCustTel').val()+"</td>";
	        		html += " <td style='width: 81px; text-align: center;' rowspan='2'>제품명</td>";
	        		html += " <td style='width: 202px;' rowspan='2'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+")"+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 199px; text-align: center;'>설치기사</td>";
	        		html += " <td style='width: 318px; text-align: center;'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p>※ 제품 설치 완료 후 구매하신 쇼핑몰에 반드시 수취 확인(구매결정)을 꼭 부탁드립니다.</p>";
	    			break;
	    		
	    		//2. iRunner
	    		case 'KGK':
	    			qrSize = 100;
	    			html += " <div style='border:2px solid #000000; padding:10px;'>";
	    			html += " <table style='height: 40px; width: 100%; font-size:12px;' border=0; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 160px;' valign='bottom'><b>[등록구분: "+grid.getCell(selectIds[i],  "TRN_DLV_ORD_TYPE")+"]</b><br><br><br><br>NO. "+grid.getCell(selectIds[i],  "DLV_ORD_ID")+"<br>　</td>";
	        		html += " <td style='width: 280px; text-align: center; font-size:24px;'><b>설 치 확 인 서</b></td>";        		
	        		html += " <td style='width: 100px;' align='center'><div id='qrItemA_"+i+"'><img id='qrItemImgA_"+i+"'></div></td>";
	        		html += " <td style='width: 60px; text-align: right;' valign='bottom'>"+(i+1)+"/"+selectIds.length+"<br>(고객용)<br>　</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </tr>";
	    			html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>주　문　일</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "BUYED_DT") + "&nbsp&nbsp&nbsp&nbsp(배송예정일 : "+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+")</td>";
	        		html += " <td style='width: 60px;' align='center'>설　치　일</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>계　약　자</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_CUSTOMER_NM")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>연　락　처</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_PHONE_1") + " (" +grid.getCell(selectIds[i],  "DLV_PHONE_2")+")"+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>설치장소</td>";
	        		html += " <td style='width: 420px;' colspan='3'>"+grid.getCell(selectIds[i],  "DLV_ADDR")+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>제품명 / 수량</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" / "+grid.getCell(selectIds[i],  "DLV_QTY")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>구매방식</td>";
	        		html += " <td style='width: 180px;'>□홈쇼핑 □온라인 □오프라인 □기타</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>제품코드</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>색　　상</td>";
	        		html += " <td style='width: 180px;'>□빨강 □노랑 □흰색 □파랑 □블랙</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' rowspan='2' align='center'>시리얼번호<br>기　　　입</td>";
	        		html += " <td style='width: 180px; border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' rowspan='2'></td>";
	        		html += " <td style='width: 60px;' align='center'>서비스기간</td>";
	        		html += " <td style='width: 180px;'>□무상(　　)년 □무상48개월 □유상36개월</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>사　은　품</td>";
	        		html += " <td style='width: 180px;'>□유 □무 품명 :</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
					html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>NO</td>";
	        		html += " <td style='width: 190px;' align='center'>설치 시 확인사항</td>";
	        		html += " <td style='width: 30px;' align='center'>확인</td>";
	        		html += " <td style='width: 250px;' rowspan='6'>";
	        		html += " <table style='width: 100%; font-size:12px;' border=0; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px; border-top:3px solid; border-right:3px solid; border-left:3px solid;' align='center' colspan='5'>상기와 같이 정상 설치 되었음을 확인합니다.</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' align='center' colspan='5'>배송일자 : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(년.월.일)</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " <td style='width: 60px;'>설치담당자</td>";
	        		html += " <td style='width: 30px;'>성명 :</td>";
	        		html += " <td style='width: 100px;' align='right'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "REQ_DRIVER_TL")+")"+"</td>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " <td style='width: 60px; border-bottom:1px solid;'>계　약　자</td>";
	        		html += " <td style='width: 30px; border-bottom:1px solid;'>성명 :</td>";
	        		html += " <td style='width: 100px; border-bottom:1px solid;' align='right'><font color='#BDBDBD'>성명　　/　　날인　　　</font></td>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>1</td>";
	        		html += " <td style='width: 190px;'>제품 외관의 이상 유무를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>2</td>";
	        		html += " <td style='width: 190px;'>제품의 동작, 구동장치를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>3</td>";
	        		html += " <td style='width: 190px;'>제품의 각 기능별 이상유무를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>4</td>";
	        		html += " <td style='width: 190px;'>제품의 주문색상을 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>5</td>";
	        		html += " <td style='width: 190px;'>정상 제품임을 계약자에게 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
					html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center' rowspan='2'>특이사항</td>";
	        		html += " <td style='width: 280px; white-space:nowrap; overflow-x:hidden;' rowspan='2'>"+jQuery("#"+selectIds[i] + "_MEMO","#list").val()+"</td>";
	        		html += " <td style='width: 140px;' align='center'>i-Runner 제품/서비스 문의</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 140px;' align='center'>"+jQuery('#vrSrchCustTel').val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </div>";
	        		html += " <p style='text-align: center;'>----------------------------------------------------------------------------------------------------------------------</p>";
	        		html += " <div style='border:2px solid #000000; padding:10px;'>";
	    			html += " <table style='height: 40px; width: 100%; font-size:12px;' border=0; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 160px;' valign='bottom'><b>[등록구분: "+grid.getCell(selectIds[i],  "TRN_DLV_ORD_TYPE")+"]</b><br><br><br><br>NO. "+grid.getCell(selectIds[i],  "DLV_ORD_ID")+"<br>　</td>";
	        		html += " <td style='width: 280px; text-align: center; font-size:24px;'><b>설 치 확 인 서</b></td>";        		
	        		html += " <td style='width: 100px;' align='center'><div id='qrItemB_"+i+"'><img id='qrItemImgB_"+i+"'></div></td>";
	        		html += " <td style='width: 60px; text-align: right;' valign='bottom'>"+(i+1)+"/"+selectIds.length+"<br>(회사용)<br>　</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </tr>";
	    			html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>주　문　일</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "BUYED_DT") + "&nbsp&nbsp&nbsp&nbsp(배송예정일 : "+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+")</td>";
	        		html += " <td style='width: 60px;' align='center'>설　치　일</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>계　약　자</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_CUSTOMER_NM")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>연　락　처</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_PHONE_1") + " (" +grid.getCell(selectIds[i],  "DLV_PHONE_2")+")"+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>설치장소</td>";
	        		html += " <td style='width: 420px;' colspan='3'>"+grid.getCell(selectIds[i],  "DLV_ADDR")+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>제품명 / 수량</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" / "+grid.getCell(selectIds[i],  "DLV_QTY")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>구매방식</td>";
	        		html += " <td style='width: 180px;'>□홈쇼핑 □온라인 □오프라인 □기타</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>제품코드</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>색　　상</td>";
	        		html += " <td style='width: 180px;'>□빨강 □노랑 □흰색 □파랑 □블랙</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' rowspan='2' align='center'>시리얼번호<br>기　　　입</td>";
	        		html += " <td style='width: 180px; border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' rowspan='2'></td>";
	        		html += " <td style='width: 60px;' align='center'>서비스기간</td>";
	        		html += " <td style='width: 180px;'>□무상(　　)년 □무상48개월 □유상36개월</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>사　은　품</td>";
	        		html += " <td style='width: 180px;'>□유 □무 품명 :</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
					html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>NO</td>";
	        		html += " <td style='width: 190px;' align='center'>설치 시 확인사항</td>";
	        		html += " <td style='width: 30px;' align='center'>확인</td>";
	        		html += " <td style='width: 250px;' rowspan='6'>";
	        		html += " <table style='width: 100%; font-size:12px;' border=0; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px; border-top:3px solid; border-right:3px solid; border-left:3px solid;' align='center' colspan='5'>상기와 같이 정상 설치 되었음을 확인합니다.</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' align='center' colspan='5'>배송일자 : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(년.월.일)</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " <td style='width: 60px;'>설치담당자</td>";
	        		html += " <td style='width: 30px;'>성명 :</td>";
	        		html += " <td style='width: 100px;' align='right'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "REQ_DRIVER_TL")+")"+"</td>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " <td style='width: 60px; border-bottom:1px solid;'>계　약　자</td>";
	        		html += " <td style='width: 30px; border-bottom:1px solid;'>성명 :</td>";
	        		html += " <td style='width: 100px; border-bottom:1px solid;' align='right'><font color='#BDBDBD'>성명　　/　　날인　　　</font></td>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>1</td>";
	        		html += " <td style='width: 190px;'>제품 외관의 이상 유무를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>2</td>";
	        		html += " <td style='width: 190px;'>제품의 동작, 구동장치를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>3</td>";
	        		html += " <td style='width: 190px;'>제품의 각 기능별 이상유무를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>4</td>";
	        		html += " <td style='width: 190px;'>제품의 주문색상을 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>5</td>";
	        		html += " <td style='width: 190px;'>정상 제품임을 계약자에게 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
					html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center' rowspan='2'>특이사항</td>";
	        		html += " <td style='width: 280px; white-space:nowrap; overflow-x:hidden;' rowspan='2'>"+jQuery("#"+selectIds[i] + "_MEMO","#list").val()+"</td>";
	        		html += " <td style='width: 140px;' align='center'>i-Runner 제품/서비스 문의</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 140px;' align='center'>"+jQuery('#vrSrchCustTel').val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </div>";
	    			break;
	    			
	    		//3. BDFD 바디프랜드
	    		case 'BDFD':
	    			qrSize = 100;
	    			
	    			html += " <p style='text-align: center; font-size:20px;'><span style='text-decoration: underline;'><strong>가전제품 배송 설치 제품 인수증</strong></span></p>";
	        		//html += " <p>&nbsp;</p>";
	        		html += " <table style='height: 65px; width: 100%;'>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 90px;'>주문등록일</td>";
	        		html += " <td style='width: 150px;'>: "+grid.getCell(selectIds[i],  "BUYED_DT")+"</td>";
	        		html += " <td style='width: 120px;'>매출처주문번호</td>";
	        		html += " <td style='width: 290px;'>: "+grid.getCell(selectIds[i],  "ORG_ORD_ID")+"</td>";
	        		html += " <td style='width: 100px;'>페이지</td>";
	        		html += " <td style='width: 120px;'>: "+(i+1)+"/"+selectIds.length+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 90px;'>송장번호</td>";
	        		html += " <td style='width: 150px;'>: "+grid.getCell(selectIds[i],  "DLV_ORD_ID")+"</td>";
	        		html += " <td style='width: 120px;'>출력일자</td>";
	        		html += " <td style='width: 290px;'>: "+printDate+"</td>";
	        		html += " <td style='width: 100px;'>지정일자</td>";
	        		html += " <td style='width: 120px;'>: "+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		
	        		//테이블
	        		html += " <table style='height: 166px; width: 100%;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>인수고객</td>";
	        		html += " <td style='width: 300px;'>"+grid.getCell(selectIds[i],  "DLV_CUSTOMER_NM")+"</td>";
	        		html += " <td style='width: 80px; text-align: center;'>설치자</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+"</td>";
	        		html += " <td style='width: 160px; text-align: center;' colspan='2'>쇼핑몰</td>";
	        		html += " <td style='width: 130px; text-align: center;' colspan='2'>"+grid.getCell(selectIds[i],  "SALES_COMPANY_NM")+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>전화번호</td>";
	        		html += " <td style='width: 300px;'>"+grid.getCell(selectIds[i],  "DLV_PHONE_1") + " (" +grid.getCell(selectIds[i],  "DLV_PHONE_2")+")"+"</td>";
	        		html += " <td style='width: 80px; text-align: center;'>전화번호</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "REQ_DRIVER_TL")+"</td>";
	        		html += " <td style='width: 160px;' colspan='2'>&nbsp;</td>";
	        		html += " <td style='width: 130px;' colspan='2'>&nbsp;</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>주소</td>";
	        		html += " <td style='width: 850px;' colspan='7'>"+grid.getCell(selectIds[i],  "DLV_ADDR")+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>제품명</td>";
	        		html += " <td style='width: 560px;' colspan='3'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+") " +grid.getCell(selectIds[i],  "REPORT_RITEM_NM")+grid.getCell(selectIds[i],  "REPORT_RITEM_CD")+ "</td>";
	        		html += " <td style='width: 80px; text-align: center;'>상담유형</td>";
	        		html += " <td style='width: 80px; text-align: center;'>"+grid.getCell(selectIds[i],  "TRN_DLV_ORD_TYPE")+"</td>";
	        		html += " <td style='width: 70px; text-align: center;'>수량</td>";
	        		html += " <td style='width: 60px; text-align: center;'>"+grid.getCell(selectIds[i],  "DLV_QTY")+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>배송<br />메시지</td>";
	        		html += " <td style='width: 560px;' colspan='3'>"+jQuery("#"+selectIds[i] + "_MEMO","#list").val()+"</td>";
	        		//html += " <td style='width: 290px;' align='center' colspan='4' rowspan='2'><div style='text-align: center;' id='bc_salseId_"+i+"'></div></td>";
	        		html += " <td style='width: 290px;' align='center' colspan='4' rowspan='3'><div id='qrItem_"+i+"'><img id='qrItemImg_"+i+"'></div></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>주문옵션</td>";
	        		html += " <td style='width: 560px; text-align: center;' colspan='3'>"+jQuery("#"+selectIds[i] + "_ORD_OPTION","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>통화메모</td>";
	        		html += " <td style='width: 560px; text-align: left;' colspan='3'>"+jQuery("#"+selectIds[i] + "_HAPPY_CALL_MEMO","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>설치일자</td>";
	        		html += " <td style='width: 300px; border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(년.월.일)</td>";
	        		html += " <td style='width: 80px; text-align: center;'>지불형태</td>";
	        		if(grid.getCell(selectIds[i],  "PAY_REQ_YN") == "C"){
	        			html += " <td style='width: 180px; text-align: center;'>"+grid.getCell(selectIds[i],  "PAY_REQ_YN_NM") +" ("+grid.getCell(selectIds[i],  "COST_TYPE_NM")+")"+"</td>";	
	        		}else{
	        			html += " <td style='width: 180px; text-align: center;'>"+grid.getCell(selectIds[i],  "PAY_REQ_YN")+"</td>";	
	        		}

	        		html += " <td style='width: 160px; text-align: center;' colspan='2'>비용</td>";
	        		if(grid.getCell(selectIds[i],  "COST_TYPE") == "IN"){
	        			html += " <td style='width: 130px; text-align: right;' colspan='2'>"+SetComma(grid.getCell(selectIds[i],  "REQ_COST"))+"원</td>";	
	        		}else{
	        			html += " <td style='width: 130px; text-align: right;' colspan='2'>-</td>";	
	        		}
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p>*운송 설치자는 제품 인수시 고객을 대신하여 점검하고 인수합니다.</p>";
	        		html += " <p>*운송 설치자는 출고 이후부터 생기는 파손, 분실등의 문제는 책임을 져야 합니다.</p>";
	        		//// 설치확인서
	        		html += " <p style='text-align: center;'><span style='text-decoration: underline;'>설 치 완 료 확 인 서</span></p>";
	        		html += " <table style='height: 168px; width: 100%;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 908px;' colspan='4'>○ 고객의견 (하자 및 A/S 요청) - 하자 미발견으로 설치 후 또는 교환 요청 후에는 A/S만 가능하며 취소는 불가능함</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 278px; text-align: center;' colspan='2'>제품에 이상이 없음</td>";
	        		html += " <td style='width: 393px; text-align: center;'>상품 이상 교환요청 (취소는 불가능함)</td>";
	        		html += " <td style='width: 225px; text-align: center;'>상품 이상 취소 회수요청</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 278px;' colspan='2'>&nbsp;</td>";
	        		html += " <td style='width: 393px;'>&nbsp;</td>";
	        		html += " <td style='width: 225px;'>&nbsp;</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 116px; text-align: center;' rowspan='2'>고객확인<br>수취인성명</td>";
	        		html += " <td style='width: 156px; text-align: center;  border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' rowspan='2'></td>";
	        		html += " <td style='width: 624px; text-align: center;' colspan='2'>서 명 (설치 후 하자 발생 시 취소는 불가능하며 A/S는 가능함을 확인함)</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		//html += " <td style='width: 136px; text-align: center;'>&nbsp;</td>";
	        		html += " <td style='width: 624px; text-align: center;' colspan='2'>&lt;대리인이 서명하실 경우도 취소는 불가능합니다.&gt;</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 278px; text-align: center;' colspan='2' rowspan='2'>상품 이상없음 고객 자필</td>";
	        		html += " <td style='width: 312px; background:url(http://winus.logisall.com/img/noneText.png); background-repeat:no-repeat; background-size:60% 100%;' rowspan='2'>&nbsp;</td>";
	        		html += " <td style='width: 312px; text-align: center; border-top:3px solid; border-right:3px solid; border-left:3px solid;'>시리얼번호 기입</td>";
	        		html += " </tr>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 312px; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;'>&nbsp;</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p style='text-align: center;'>----------------------------------------------------------------------------------------------------------------------------------------</p>";
	        		html += " <table style='height: 24px; width: 910px;'>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 340px;'>&lt; 알고 계십니까! &gt;</td>";
	        		html += " <td style='width: 556px;'></td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p><strong><span style='text-decoration: underline;'>설치 후 취소가 불가능 합니다. (교환 A/S 요청 시 설치 완료로 봅니다) 배송기사님 방문 시 꼼꼼히 확인하시기 바랍니다.</span></strong></p>";
	        		html += " <p><strong><span style='text-decoration: underline;'>꼭 취소해야 할 때는 왕복 배송비용을 고객님께서 부담하셔야 합니다.</span></strong></p>";
	        		html += " <p>1. 당사의 제품을 구매하여 주셔서 대단히 감사합니다.</p>";
	        		html += " <p>2. 고객님께서 위 사항을 기재해 주시면 설치 시 발생되는 문제를 신속히 처리 받으실 수 있습니다.</p>";
	        		html += " <p><strong><span style='text-decoration: underline;'>3. 전기 가전제품은 설치 후 (교환요청도 설치완료로 봅니다) 취소가 불가능하며 부득이 취소 할 경우 별도의 배송비가 부가 됩니다. 또한 교환요청 후 취소 할 경우도 배송비가 부담되오니 유념하시기 바랍니다.</span></strong></p>";
	        		html += " <p>4. 전기 가전제품은 제품 업그레이드로 인한 기존 모델 단종이 될 수 있으므로 교환 및 A/S 요청시 동일한 상품이 제공되지 않을 수도 있습니다.</p>";
	        		html += " <p>5. 상품의 정상적인 사용 용도 외에 임의 이동설치나 고객 부주의에 의한 하자는 유상 A/S로 지원해 드립니다.</p>";
	        		html += " <p>6. 제품 사용고객 특히, 어린이나 유아는 모서리나 기타 상품에 다치지 않도록 주의하고 위험한 부분은 별도 코너대 같은 안전용품을 사용하시기 바랍니다.</p>";
	        		html += " <p>7. 제품의 특성상 화기(불)나 화학약품(신나 등 휘발성 및 탈색제 등)등에 오염된 섬유의 사용시 화재발생의 원인이 될 수 있으니 사용을 금지하여 주시기 바랍니다.</p>";
	        		html += " <p>8. 기타, 정상적인 사용에 어긋난 용도의 사용은 당사가 책임을 지지 않습니다. (사다리 비용 발생 시 고객 부담)</p>";
	        		html += " <table style='height: 95px; width: 100%;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 818px;' colspan='4'>※ 각종 A/S나 문의는 "+jQuery('#vrSrchCustNm').val()+" 으로 연락주십시오. 신속히 처리 됩니다.</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 199px; text-align: center;'>A/S 및 상담전화</td>";
	        		html += " <td style='width: 318px; text-align: center;'>"+jQuery('#vrSrchCustTel').val()+"</td>";
	        		html += " <td style='width: 81px; text-align: center;' rowspan='2'>제품명</td>";
	        		html += " <td style='width: 202px;' rowspan='2'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+")"+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 199px; text-align: center;'>설치기사</td>";
	        		html += " <td style='width: 318px; text-align: center;'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p>※ 제품 설치 완료 후 구매하신 쇼핑몰에 반드시 수취 확인(구매결정)을 꼭 부탁드립니다.</p>";
	    			break;
	    			
	    		//4. SYSD_AS	
	    		case 'SYSD_AS':
	    			qrSize = 100;
	    			
	    			html += " <p style='text-align: center; font-size:20px;'><span style='text-decoration: underline;'><strong>가전제품 배송 설치 제품 인수증</strong></span></p>";
	        		//html += " <p>&nbsp;</p>";
	        		html += " <table style='height: 65px; width: 100%;'>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 90px;'>주문등록일</td>";
	        		html += " <td style='width: 150px;'>: "+grid.getCell(selectIds[i],  "BUYED_DT")+"</td>";
	        		html += " <td style='width: 120px;'>매출처주문번호</td>";
	        		html += " <td style='width: 290px;'>: "+grid.getCell(selectIds[i],  "ORG_ORD_ID")+"</td>";
	        		html += " <td style='width: 100px;'>페이지</td>";
	        		html += " <td style='width: 120px;'>: "+(i+1)+"/"+selectIds.length+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 90px;'>송장번호</td>";
	        		html += " <td style='width: 150px;'>: "+grid.getCell(selectIds[i],  "DLV_ORD_ID")+"</td>";
	        		html += " <td style='width: 120px;'>출력일자</td>";
	        		html += " <td style='width: 290px;'>: "+printDate+"</td>";
	        		html += " <td style='width: 100px;'>지정일자</td>";
	        		html += " <td style='width: 120px;'>: "+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		
	        		//테이블
	        		html += " <table style='height: 166px; width: 100%;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>인수고객</td>";
	        		html += " <td style='width: 300px;'>"+grid.getCell(selectIds[i],  "DLV_CUSTOMER_NM")+"</td>";
	        		html += " <td style='width: 80px; text-align: center;'>설치자</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+"</td>";
	        		html += " <td style='width: 160px; text-align: center;' colspan='2'>쇼핑몰</td>";
	        		html += " <td style='width: 130px; text-align: center;' colspan='2'>"+grid.getCell(selectIds[i],  "SALES_COMPANY_NM")+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>전화번호</td>";
	        		html += " <td style='width: 300px;'>"+grid.getCell(selectIds[i],  "DLV_PHONE_1") + " (" +grid.getCell(selectIds[i],  "DLV_PHONE_2")+")"+"</td>";
	        		html += " <td style='width: 80px; text-align: center;'>전화번호</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "REQ_DRIVER_TL")+"</td>";
	        		html += " <td style='width: 160px;' colspan='2'>&nbsp;</td>";
	        		html += " <td style='width: 130px;' colspan='2'>&nbsp;</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>주소</td>";
	        		html += " <td style='width: 850px;' colspan='7'>"+grid.getCell(selectIds[i],  "DLV_ADDR")+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>제품명</td>";
	        		html += " <td style='width: 560px;' colspan='3'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+") " +grid.getCell(selectIds[i],  "REPORT_RITEM_NM")+grid.getCell(selectIds[i],  "REPORT_RITEM_CD")+ "</td>";
	        		html += " <td style='width: 80px; text-align: center;'>상담유형</td>";
	        		html += " <td style='width: 80px; text-align: center;'>"+grid.getCell(selectIds[i],  "TRN_DLV_ORD_TYPE")+"</td>";
	        		html += " <td style='width: 70px; text-align: center;'>수량</td>";
	        		html += " <td style='width: 60px; text-align: center;'>"+grid.getCell(selectIds[i],  "DLV_QTY")+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>배송<br />메시지</td>";
	        		html += " <td style='width: 560px;' colspan='3'>"+jQuery("#"+selectIds[i] + "_MEMO","#list").val()+"</td>";
	        		//html += " <td style='width: 290px;' align='center' colspan='4' rowspan='2'><div style='text-align: center;' id='bc_salseId_"+i+"'></div></td>";
	        		html += " <td style='width: 290px;' align='center' colspan='4' rowspan='3'><div id='qrItem_"+i+"'><img id='qrItemImg_"+i+"'></div></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>주문옵션</td>";
	        		html += " <td style='width: 560px; text-align: center;' colspan='3'>"+jQuery("#"+selectIds[i] + "_ORD_OPTION","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 80px; text-align: center;'>통화메모</td>";
	        		html += " <td style='width: 560px; text-align: left;' colspan='3'>"+jQuery("#"+selectIds[i] + "_HAPPY_CALL_MEMO","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
        			html += " <td style='width: 80px; text-align: center;'>설치일자</td>";
	        		html += " <td style='width: 300px; border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(년.월.일)</td>";
	        		html += " <td style='width: 80px; text-align: center;'>지불형태</td>";
	        		if(grid.getCell(selectIds[i],  "PAY_REQ_YN") == "C"){
	        			html += " <td style='width: 180px; text-align: center;'>"+grid.getCell(selectIds[i],  "PAY_REQ_YN_NM") +" ("+grid.getCell(selectIds[i],  "COST_TYPE_NM")+")"+"</td>";	
	        		}else{
	        			html += " <td style='width: 180px; text-align: center;'>"+grid.getCell(selectIds[i],  "PAY_REQ_YN")+"</td>";	
	        		}

	        		html += " <td style='width: 160px; text-align: center;' colspan='2'>비용</td>";
	        		if(grid.getCell(selectIds[i],  "COST_TYPE") == "IN"){
	        			html += " <td style='width: 130px; text-align: right;' colspan='2'>"+SetComma(grid.getCell(selectIds[i],  "REQ_COST"))+"원</td>";	
	        		}else{
	        			html += " <td style='width: 130px; text-align: right;' colspan='2'>-</td>";	
	        		}
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p>*운송 설치자는 제품 인수시 고객을 대신하여 점검하고 인수합니다.</p>";
	        		html += " <p>*운송 설치자는 출고 이후부터 생기는 파손, 분실등의 문제는 책임을 져야 합니다.</p>";
	        		//// 설치확인서
	        		html += " <p style='text-align: center;'><span style='text-decoration: underline;'>설 치 완 료 확 인 서</span></p>";
	        		html += " <table style='height: 168px; width: 100%;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 908px;' colspan='4'>○ 고객의견 (하자 및 A/S 요청) - 하자 미발견으로 설치 후 또는 교환 요청 후에는 A/S만 가능하며 취소는 불가능함</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 278px; text-align: center;' colspan='2'>제품에 이상이 없음</td>";
	        		html += " <td style='width: 393px; text-align: center;'>상품 이상 교환요청 (취소는 불가능함)</td>";
	        		html += " <td style='width: 225px; text-align: center;'>상품 이상 취소 회수요청</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 278px;' colspan='2'>&nbsp;</td>";
	        		html += " <td style='width: 393px;'>&nbsp;</td>";
	        		html += " <td style='width: 225px;'>&nbsp;</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 116px; text-align: center;' rowspan='2'>고객확인<br>수취인성명</td>";
	        		html += " <td style='width: 156px; text-align: center;  border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' rowspan='2'></td>";
	        		html += " <td style='width: 624px; text-align: center;' colspan='2'>서 명 (설치 후 하자 발생 시 취소는 불가능하며 A/S는 가능함을 확인함)</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		//html += " <td style='width: 136px; text-align: center;'>&nbsp;</td>";
	        		html += " <td style='width: 624px; text-align: center;' colspan='2'>&lt;대리인이 서명하실 경우도 취소는 불가능합니다.&gt;</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 278px; text-align: center;' colspan='2' rowspan='2'>상품 이상없음 고객 자필</td>";
	        		html += " <td style='width: 312px; background:url(http://winus.logisall.com/img/noneText.png); background-repeat:no-repeat; background-size:60% 100%;' rowspan='2'>&nbsp;</td>";
	        		html += " <td style='width: 312px; text-align: center; border-top:3px solid; border-right:3px solid; border-left:3px solid;'>시리얼번호 기입</td>";
	        		html += " </tr>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 312px; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;'>&nbsp;</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p style='text-align: center;'>----------------------------------------------------------------------------------------------------------------------------------------</p>";
	        		html += " <table style='height: 24px; width: 910px;'>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 340px;'>&lt; 알고 계십니까! &gt;</td>";
	        		html += " <td style='width: 556px;'></td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p><strong><span style='text-decoration: underline;'>설치 후 취소가 불가능 합니다. (교환 A/S 요청 시 설치 완료로 봅니다) 배송기사님 방문 시 꼼꼼히 확인하시기 바랍니다.</span></strong></p>";
	        		html += " <p><strong><span style='text-decoration: underline;'>꼭 취소해야 할 때는 왕복 배송비용을 고객님께서 부담하셔야 합니다.</span></strong></p>";
	        		html += " <p>1. 당사의 제품을 구매하여 주셔서 대단히 감사합니다.</p>";
	        		html += " <p>2. 고객님께서 위 사항을 기재해 주시면 설치 시 발생되는 문제를 신속히 처리 받으실 수 있습니다.</p>";
	        		html += " <p><strong><span style='text-decoration: underline;'>3. 전기 가전제품은 설치 후 (교환요청도 설치완료로 봅니다) 취소가 불가능하며 부득이 취소 할 경우 별도의 배송비가 부가 됩니다. 또한 교환요청 후 취소 할 경우도 배송비가 부담되오니 유념하시기 바랍니다.</span></strong></p>";
	        		html += " <p>4. 전기 가전제품은 제품 업그레이드로 인한 기존 모델 단종이 될 수 있으므로 교환 및 A/S 요청시 동일한 상품이 제공되지 않을 수도 있습니다.</p>";
	        		html += " <p>5. 상품의 정상적인 사용 용도 외에 임의 이동설치나 고객 부주의에 의한 하자는 유상 A/S로 지원해 드립니다.</p>";
	        		html += " <p>6. 제품 사용고객 특히, 어린이나 유아는 모서리나 기타 상품에 다치지 않도록 주의하고 위험한 부분은 별도 코너대 같은 안전용품을 사용하시기 바랍니다.</p>";
	        		html += " <p>7. 제품의 특성상 화기(불)나 화학약품(신나 등 휘발성 및 탈색제 등)등에 오염된 섬유의 사용시 화재발생의 원인이 될 수 있으니 사용을 금지하여 주시기 바랍니다.</p>";
	        		html += " <p>8. 기타, 정상적인 사용에 어긋난 용도의 사용은 당사가 책임을 지지 않습니다. (사다리 비용 발생 시 고객 부담)</p>";
	        		html += " <table style='height: 95px; width: 100%;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 818px;' colspan='4'>※ 각종 A/S나 문의는 "+jQuery('#vrSrchCustNm').val()+" 으로 연락주십시오. 신속히 처리 됩니다.</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 199px; text-align: center;'>A/S 및 상담전화</td>";
	        		html += " <td style='width: 318px; text-align: center;'>"+jQuery('#vrSrchCustTel').val()+"</td>";
	        		html += " <td style='width: 81px; text-align: center;' rowspan='2'>제품명</td>";
	        		html += " <td style='width: 202px;' rowspan='2'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+")"+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 199px; text-align: center;'>설치기사</td>";
	        		html += " <td style='width: 318px; text-align: center;'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <p>※ 제품 설치 완료 후 구매하신 쇼핑몰에 반드시 수취 확인(구매결정)을 꼭 부탁드립니다.</p>";
	    			break;
	    		//2. iRunner
	    		case 'HUFIT':
	    			qrSize = 100;
	    			html += " <div style='border:2px solid #000000; padding:10px;'>";
	    			html += " <table style='height: 40px; width: 100%; font-size:12px;' border=0; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 160px;' valign='bottom'><b>[등록구분: "+grid.getCell(selectIds[i],  "TRN_DLV_ORD_TYPE")+"]</b><br><br><br><br>NO. "+grid.getCell(selectIds[i],  "DLV_ORD_ID")+"<br>　</td>";
	        		html += " <td style='width: 280px; text-align: center; font-size:24px;'><b>설 치 확 인 서</b></td>";        		
	        		html += " <td style='width: 100px;' align='center'><div id='qrItemA_"+i+"'><img id='qrItemImgA_"+i+"'></div></td>";
	        		html += " <td style='width: 60px; text-align: right;' valign='bottom'>"+(i+1)+"/"+selectIds.length+"<br>(고객용)<br>　</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </tr>";
	    			html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>주　문　일</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "BUYED_DT") + "&nbsp&nbsp&nbsp&nbsp(배송예정일 : "+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+")</td>";
	        		html += " <td style='width: 60px;' align='center'>설　치　일</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>계　약　자</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_CUSTOMER_NM")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>연　락　처</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_PHONE_1") + " (" +grid.getCell(selectIds[i],  "DLV_PHONE_2")+")"+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>설치장소</td>";
	        		html += " <td style='width: 420px;' colspan='3'>"+grid.getCell(selectIds[i],  "DLV_ADDR")+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>제품명 / 수량</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" / "+grid.getCell(selectIds[i],  "DLV_QTY")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>구매방식</td>";
	        		html += " <td style='width: 180px;'>□홈쇼핑 □온라인 □오프라인 □기타</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>제품코드</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>색　　상</td>";
	        		html += " <td style='width: 180px;'>□빨강 □노랑 □흰색 □파랑 □블랙</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' rowspan='2' align='center'>시리얼번호<br>기　　　입</td>";
	        		html += " <td style='width: 180px; border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' rowspan='2'></td>";
	        		html += " <td style='width: 60px;' align='center'>서비스기간</td>";
	        		html += " <td style='width: 180px;'>□무상(　　)년 □무상48개월 □유상36개월</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>사　은　품</td>";
	        		html += " <td style='width: 180px;'>□유 □무 품명 :</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
					html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>NO</td>";
	        		html += " <td style='width: 190px;' align='center'>설치 시 확인사항</td>";
	        		html += " <td style='width: 30px;' align='center'>확인</td>";
	        		html += " <td style='width: 250px;' rowspan='6'>";
	        		html += " <table style='width: 100%; font-size:12px;' border=0; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px; border-top:3px solid; border-right:3px solid; border-left:3px solid;' align='center' colspan='5'>상기와 같이 정상 설치 되었음을 확인합니다.</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' align='center' colspan='5'>배송일자 : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(년.월.일)</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " <td style='width: 60px;'>설치담당자</td>";
	        		html += " <td style='width: 30px;'>성명 :</td>";
	        		html += " <td style='width: 100px;' align='right'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "REQ_DRIVER_TL")+")"+"</td>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " <td style='width: 60px; border-bottom:1px solid;'>계　약　자</td>";
	        		html += " <td style='width: 30px; border-bottom:1px solid;'>성명 :</td>";
	        		html += " <td style='width: 100px; border-bottom:1px solid;' align='right'><font color='#BDBDBD'>성명　　/　　날인　　　</font></td>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>1</td>";
	        		html += " <td style='width: 190px;'>제품 외관의 이상 유무를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>2</td>";
	        		html += " <td style='width: 190px;'>제품의 동작, 구동장치를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>3</td>";
	        		html += " <td style='width: 190px;'>제품의 각 기능별 이상유무를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>4</td>";
	        		html += " <td style='width: 190px;'>제품의 주문색상을 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>5</td>";
	        		html += " <td style='width: 190px;'>정상 제품임을 계약자에게 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
					html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center' rowspan='2'>특이사항</td>";
	        		html += " <td style='width: 280px; white-space:nowrap; overflow-x:hidden;' rowspan='2'>"+jQuery("#"+selectIds[i] + "_MEMO","#list").val()+"</td>";
	        		html += " <td style='width: 140px;' align='center'>i-Runner 제품/서비스 문의</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 140px;' align='center'>"+jQuery('#vrSrchCustTel').val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </div>";
	        		html += " <p style='text-align: center;'>----------------------------------------------------------------------------------------------------------------------</p>";
	        		html += " <div style='border:2px solid #000000; padding:10px;'>";
	    			html += " <table style='height: 40px; width: 100%; font-size:12px;' border=0; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 160px;' valign='bottom'><b>[등록구분: "+grid.getCell(selectIds[i],  "TRN_DLV_ORD_TYPE")+"]</b><br><br><br><br>NO. "+grid.getCell(selectIds[i],  "DLV_ORD_ID")+"<br>　</td>";
	        		html += " <td style='width: 280px; text-align: center; font-size:24px;'><b>설 치 확 인 서</b></td>";        		
	        		html += " <td style='width: 100px;' align='center'><div id='qrItemB_"+i+"'><img id='qrItemImgB_"+i+"'></div></td>";
	        		html += " <td style='width: 60px; text-align: right;' valign='bottom'>"+(i+1)+"/"+selectIds.length+"<br>(회사용)<br>　</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </tr>";
	    			html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>주　문　일</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "BUYED_DT") + "&nbsp&nbsp&nbsp&nbsp(배송예정일 : "+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+")</td>";
	        		html += " <td style='width: 60px;' align='center'>설　치　일</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_DLV_REQ_DT","#list").val()+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>계　약　자</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_CUSTOMER_NM")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>연　락　처</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_PHONE_1") + " (" +grid.getCell(selectIds[i],  "DLV_PHONE_2")+")"+"</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>설치장소</td>";
	        		html += " <td style='width: 420px;' colspan='3'>"+grid.getCell(selectIds[i],  "DLV_ADDR")+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>제품명 / 수량</td>";
	        		html += " <td style='width: 180px;'>"+jQuery("#"+selectIds[i] + "_DLV_PRODUCT_NM","#list").val()+" / "+grid.getCell(selectIds[i],  "DLV_QTY")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>구매방식</td>";
	        		html += " <td style='width: 180px;'>□홈쇼핑 □온라인 □오프라인 □기타</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>제품코드</td>";
	        		html += " <td style='width: 180px;'>"+grid.getCell(selectIds[i],  "DLV_PRODUCT_CD")+"</td>";
	        		html += " <td style='width: 60px;' align='center'>색　　상</td>";
	        		html += " <td style='width: 180px;'>□빨강 □노랑 □흰색 □파랑 □블랙</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' rowspan='2' align='center'>시리얼번호<br>기　　　입</td>";
	        		html += " <td style='width: 180px; border-top:3px solid; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' rowspan='2'></td>";
	        		html += " <td style='width: 60px;' align='center'>서비스기간</td>";
	        		html += " <td style='width: 180px;'>□무상(　　)년 □무상48개월 □유상36개월</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center'>사　은　품</td>";
	        		html += " <td style='width: 180px;'>□유 □무 품명 :</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
					html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>NO</td>";
	        		html += " <td style='width: 190px;' align='center'>설치 시 확인사항</td>";
	        		html += " <td style='width: 30px;' align='center'>확인</td>";
	        		html += " <td style='width: 250px;' rowspan='6'>";
	        		html += " <table style='width: 100%; font-size:12px;' border=0; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px; border-top:3px solid; border-right:3px solid; border-left:3px solid;' align='center' colspan='5'>상기와 같이 정상 설치 되었음을 확인합니다.</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px; border-right:3px solid; border-bottom:3px solid; border-left:3px solid;' align='center' colspan='5'>배송일자 : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(년.월.일)</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " <td style='width: 60px;'>설치담당자</td>";
	        		html += " <td style='width: 30px;'>성명 :</td>";
	        		html += " <td style='width: 100px;' align='right'>"+jQuery("#"+selectIds[i] + "_REQ_DRIVER_NM","#list").val()+" ("+grid.getCell(selectIds[i],  "REQ_DRIVER_TL")+")"+"</td>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 210px;' align='center' colspan='5'></td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " <td style='width: 60px; border-bottom:1px solid;'>계　약　자</td>";
	        		html += " <td style='width: 30px; border-bottom:1px solid;'>성명 :</td>";
	        		html += " <td style='width: 100px; border-bottom:1px solid;' align='right'><font color='#BDBDBD'>성명　　/　　날인　　　</font></td>";
	        		html += " <td style='width: 10px;'></td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>1</td>";
	        		html += " <td style='width: 190px;'>제품 외관의 이상 유무를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>2</td>";
	        		html += " <td style='width: 190px;'>제품의 동작, 구동장치를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>3</td>";
	        		html += " <td style='width: 190px;'>제품의 각 기능별 이상유무를 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>4</td>";
	        		html += " <td style='width: 190px;'>제품의 주문색상을 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 20px;' align='center'>5</td>";
	        		html += " <td style='width: 190px;'>정상 제품임을 계약자에게 확인한다.</td>";
	        		html += " <td style='width: 30px;' align='center'>□</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
					html += " <br>";
	        		html += " <table style='width: 100%; font-size:12px;' border=1; cellspacing=0;>";
	        		html += " <tbody>";
	        		html += " <tr>";
	        		html += " <td style='width: 60px;' align='center' rowspan='2'>특이사항</td>";
	        		html += " <td style='width: 280px; white-space:nowrap; overflow-x:hidden;' rowspan='2'>"+jQuery("#"+selectIds[i] + "_MEMO","#list").val()+"</td>";
	        		html += " <td style='width: 140px;' align='center'>i-Runner 제품/서비스 문의</td>";
	        		html += " </tr>";
	        		html += " <tr>";
	        		html += " <td style='width: 140px;' align='center'>"+jQuery('#vrSrchCustTel').val()+"</td>";
	        		html += " </tr>";
	        		html += " </tbody>";
	        		html += " </table>";
	        		html += " </div>";
	    			break;
	    	}
       		
       		//**************************************************************************************************************************************************************//
    		//**************************************************************************************************************************************************************//
    		//**************************************************************************************************************************************************************//
    	}
    }
    

    
    
    
    document.all.dataTable.innerHTML = html;
    
  	//QR 코드 생성 후 DIV 셋팅 (QR 코드가 이미지 코드이기 때문에 이미지 생성 후 재배치가 필요하여 for문 재 실행)
  	//바코드 주석처리
	//var salesCustId = grid.getCell(selectIds[i],  "SALES_CUST_ID");
	//jQuery("#bc_salseId_"+i).barcode(salesCustId, "codabar");
    //    바코드 타입    
    //    codabar
    //    code11 (code 11)
    //    code39 (code 39)
    //    code93 (code 93)
    //    code128 (code 128)
    //    ean8 (ean 8)
    //    ean13 (ean 13)
    //    std25 (standard 2 of 5 - industrial 2 of 5)
    //    int25 (interleaved 2 of 5)
    //    msi
    //    datamatrix (ASCII + extended)
	var googleChtUrl = "http://chart.apis.google.com/chart?cht=qr&chs="+qrSize+"&choe=UTF-8&chldL|9px";
	for(var i = 0 ; i < selectIds.length ; i++){
    	var chkBoxStat = jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
    	if(chkBoxStat != undefined){
    		switch(reportGb){
   			//1. SYSD 신영에스디
    		case 'SYSD':
    			var qrItemImgUrl  = googleChtUrl + "&chl=" + grid.getCell(selectIds[i],  "DLV_ORD_ID");
            	var imgTag = document.createElement("img"); //imgTag set 영역 초기화
            	imgTag.setAttribute("id", "qrItemImg_"+i);
            	imgTag.setAttribute("src", qrItemImgUrl);
            	document.getElementById("qrItem_"+i).removeChild(document.getElementById("qrItemImg_"+i));
            	document.getElementById("qrItem_"+i).appendChild(imgTag);
    			break;
    		//2. iRunner
    		case 'KGK':
    			var qrItemImgUrlA  = googleChtUrl + "&chl=" + grid.getCell(selectIds[i],  "DLV_ORD_ID");
            	var imgTagA = document.createElement("img"); //imgTag set 영역 초기화
            	imgTagA.setAttribute("id", "qrItemImgA_"+i);
            	imgTagA.setAttribute("src", qrItemImgUrlA);
            	document.getElementById("qrItemA_"+i).removeChild(document.getElementById("qrItemImgA_"+i));
            	document.getElementById("qrItemA_"+i).appendChild(imgTagA);
            	var qrItemImgUrlB  = googleChtUrl + "&chl=" + grid.getCell(selectIds[i],  "DLV_ORD_ID");
            	var imgTagB = document.createElement("img"); //imgTag set 영역 초기화
            	imgTagB.setAttribute("id", "qrItemImgB_"+i);
            	imgTagB.setAttribute("src", qrItemImgUrlB);
            	document.getElementById("qrItemB_"+i).removeChild(document.getElementById("qrItemImgB_"+i));
            	document.getElementById("qrItemB_"+i).appendChild(imgTagB);
    			break;
    		//3. BDFD 바디프랜드
    		case 'BDFD':
    			var qrItemImgUrl  = googleChtUrl + "&chl=" + grid.getCell(selectIds[i],  "DLV_ORD_ID");
            	var imgTag = document.createElement("img"); //imgTag set 영역 초기화
            	imgTag.setAttribute("id", "qrItemImg_"+i);
            	imgTag.setAttribute("src", qrItemImgUrl);
            	document.getElementById("qrItem_"+i).removeChild(document.getElementById("qrItemImg_"+i));
            	document.getElementById("qrItem_"+i).appendChild(imgTag);
    			break;
    		//4. SYSD_AS 신영에스디_AS
    		case 'SYSD_AS':
    			var qrItemImgUrl  = googleChtUrl + "&chl=" + grid.getCell(selectIds[i],  "DLV_ORD_ID");
            	var imgTag = document.createElement("img"); //imgTag set 영역 초기화
            	imgTag.setAttribute("id", "qrItemImg_"+i);
            	imgTag.setAttribute("src", qrItemImgUrl);
            	document.getElementById("qrItem_"+i).removeChild(document.getElementById("qrItemImg_"+i));
            	document.getElementById("qrItem_"+i).appendChild(imgTag);
    			break;
    		}
    	}
    }
	
	//식별표 Table/Div 생성 완료 후 인쇄 window 실행
    if(navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("Trident") > 0 ){
	    //IE 일때
	    previewIe_print(html); 
    }else if(navigator.userAgent.indexOf("Chrome") > 0){
    	alert("출력물이 짤리는 경우 InternetExplorer를 사용해 주세요.(Chrome은 비율 기능을 지원하지 않습니다.)");
	    //크롬 일때	   	 
	    //프린트 출력 부분 div 셋팅
	    html += "<div></div>";
		//document.all.dataTable.innerHTML = html;
	    
	    var runPrint;
	    var printContent =  document.getElementById("dataTable");
	    var windowUrl    = '';
		var uniqueName   = new Date();
		var windowName   = 'Print' + uniqueName.getTime();
		var printWindow  = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1");
		
	    printWindow.document.write(printContent.innerHTML);	   
	    
	    var wait;
		wait = 2000;

	    runPrint = setTimeout(function(){printWindow.window.print();}, wait);
	    
	    //프린트 출력 부분 div 초기화 (삭세)
		document.all.dataTable.innerHTML  = "";
	}
}

function previewIe_print(html){
	//프린트 출력 부분 div 셋팅
	//document.all.dataTable.innerHTML  = html;

	var printContent = document.getElementById("dataTable");
	var windowUrl    = '';
	var uniqueName   = new Date();
	var windowName   = 'Print' + uniqueName.getTime();
	var printWindow  = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1");
	var printPreviewObject = '<object id="printPreviewElement" width=0 height=0 classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></object>';

	printWindow.document.write(printContent.innerHTML);
	printWindow.document.write(printPreviewObject);
	printWindow.document.write('<script language=JavaScript>');
	printWindow.document.write('window.print();');
	//printWindow.document.write('printPreviewElement.ExecWB(7, 1);');
	//printWindow.document.write('printPreviewElement.outerHTML = "";');
	printWindow.document.write('</'+'script>'); 
	printWindow.document.close();
	//printWindow.focus();
	//printWindow.close();

	//프린트 출력 부분 div 초기화 (삭세)
	document.all.dataTable.innerHTML  = "";
}

</script>
