#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
#parse("winus/wmsct/WMSSP_REPORT_V3.vm")
#parse("winus/wmsct/WMSSP_REPORT_V4.vm")
<script type="text/javascript" src="/js/jquery-barcode-2.0.2.min.js"></script>
<script type="text/javascript">
	var activeTab;
	var arrMC_SPD_CHK_SET= [];
	var combos= {};
	var prevent = false;
	var timer = 0;
	var delay = 200;
	
	jQuery(document).ready(function(){
		jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
		jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
		
		jQuery('#tab1 ul li').each(function(idx, item){
			if(idx > 0){
				jQuery('#tabs-' + (idx + 1)).hide();
			}
		});
		
		parseComboString("DLV_STAT", {$!comCode.getGridComboComCode("DLV_STAT", false, "$!lang.getText('선택')")}.value);
		parseComboString("DLV_STAT3", {$!comCode.getGridComboComCode("DLV_STAT3", false, "$!lang.getText('선택')")}.value);
		parseComboString("CITY01", {$!comCode.getGridComboComCode("CITY01", false, "$!lang.getText('선택')")}.value);
		parseComboString("DLV_SET_TY", {$!comCode.getGridComboComCode("DLV_SET_TY", false, "$!lang.getText('선택')")}.value);
		parseComboString("DLV_SET_T2", {$!comCode.getGridComboComCode("DLV_SET_T2", false, "$!lang.getText('선택')")}.value);
		parseComboString("DLV_SET_AS", {$!comCode.getGridComboComCode("DLV_SET_AS", false, "$!lang.getText('선택')")}.value);
		parseComboString("DLV_OPCN01", {$!comCode.getGridComboComCode("DLV_OPCN01", false, "$!lang.getText('선택')")}.value);
		parseComboString("COM09", {$!comCode.getGridComboComCode("COM09", false, "$!lang.getText('선택')")}.value);
	});
	
	
	//EVENT : checkBox all selection
	function ps_setSpreadEvents_ValueChanged(args) {
		activeTab.ps_setSpreadEvents_ValueChanged(args);
	}
	
	//EVENT : checkBox all selection
	function ps_setSpreadEvents_CellClick(args) {
		activeTab.ps_setSpreadEvents_CellClick(args);
	}

	//EVENT : cell data change
	function ps_setSpreadEvents_CellChanged(args) {
		activeTab.ps_setSpreadEvents_CellChanged(args);
	}

	//EVENT : cell button click
	function ps_setSpreadEvents_ButtonClicked(args) {
		activeTab.ps_setSpreadEvents_ButtonClicked(args);
	}

	//EVENT : cell lostfocus
	function ps_setSpreadEvents_LostFocus(args) {
		activeTab.ps_setSpreadEvents_LostFocus(args);
	}

	//EVENT : cell duble click
	function ps_setSpreadEvents_CellDoubleClick(args) {
		activeTab.ps_setSpreadEvents_CellDoubleClick(args);
	}
	
	//EVENT : row changed
	function ps_setSpreadEvents_RowChanged(args){
		activeTab.ps_setSpreadEvents_RowChanged(args);
	}
	
	/* 배송사 컬럼 클릭 팝업 후 처리 (완) */
	function fn_setWMSSP010Q7(arr) {
		activeTab.fn_setWMSSP010Q7(arr);
	}
	
	/* 지도 조회 후 기사 설정 팝업 */
	function fn_setWMSSP010Q8(arr) {
		activeTab.fn_setWMSSP010Q8(arr);
	}
	
	/* event 일괄처리 (완) */
	function fn_setWMSSP010Q5(arr) {
		activeTab.fn_setWMSSP010Q5(arr);
	}
		
	/* 배송기사 및 배송예정일 처리 (완) */
	function fn_setWMSSP010Q4(arr) {
		activeTab.fn_setWMSSP010Q4(arr);
	}
	
	
	/* 배송처 팝업 후 처리 (완) */
	function fn_setWMSSP010Q1(arr) {
		activeTab.fn_setWMSSP010Q1(arr);
	}
	
	/* 상품 팝업 후 처리 */
	function fn_setWMSCM091(arr) {
		activeTab.fn_setWMSCM091(arr);
	}
	
	/* 배송사 컬럼 클릭 팝업 후 처리 (완) */
	function fn_setWMSSP010Q2(arr) {
		activeTab.fn_setWMSSP010Q2(arr);
	}
	
	/* 배송사 컬럼 클릭 팝업 후 처리 (완) */
	function fn_setWMSSP010Q3(arr) {
		activeTab.fn_setWMSSP010Q3(arr);
	}
	
	/* 상품명 컬럼 클릭 팝업 후 처리 (완) */
	function fn_setWMSSP010Q6(arr) {
		activeTab.fn_setWMSSP010Q6(arr);
	}
	
	/* 상품 팝업 후 처리 */
	function fn_setWMSCM810M1(arr) {
		activeTab.fn_setWMSCM810M1(arr);
	}
	
	/* 화주 팝업 후 처리 */
	function fn_setWMSCM011(arr) {
		activeTab.fn_setWMSCM011(arr);
	}
	
	/* 검색 */
	function fn_search() {
		activeTab.fn_search();
	}
	
	
	function fn_setWMSCM811M1(arr){
		activeTab.fn_setWMSCM811M1(arr);
	}
	

	/* 거래처 팝업 후 처리 */
	function fn_setWMSCM011_2(arr){
		activeTab.fn_setWMSCM011_2(arr);
	}
	
	function parseComboString(name, arg){
		var all = []
		var keys = []
		var values = []
		
		var comboStringList = arg.split(';');
		for(var i = 0; i < comboStringList.length; i++) {
			var comboArr = comboStringList[i].split(':');
			all.push([cfn_trim(comboArr[0]), cfn_trim(comboArr[1])]);
			keys.push(cfn_trim(comboArr[0]));
			values.push(cfn_trim(comboArr[1]));
		}
		combos[name] = {}
		combos[name].all = all;
		combos[name].keys = keys;
		combos[name].values = values;
	}
	
	function fn_checkedList(orGrid) {
		var grid = orGrid;
		var selectIds = [];	
	
		for(var i = 0; i < grid.getRowCount(); i++){
	        if(grid.getValue(i, 0)){
	        	selectIds.push(i + '');
	        }
	    }
		return selectIds;
	}
	
	function SetComma(str) {
		var retValue = "";
		//str
		str = String(str).replace(/,/g, "");

		for (i = 1; i <= str.length; i++) {
			if (i > 1 && (i % 3) == 1) {
				retValue = str.charAt(str.length - i) + "," + retValue;
			} else {
				retValue = str.charAt(str.length - i) + retValue;
			}
		}
		return retValue;
	}
	
	function fn_reload(){
		activeTab.fn_reload();
	}
	
	function kakaoCallback(data){
		activeTab.kakaoCallback(data);
	}
	
	function unescapeHtml(data){
		return data.replace(/&amp;/g, "&").replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g, "\\\"");
	}
	

	
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1" onClick="WMSSP019E1.openTab()">$!lang.getText('배송라우팅')</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
       #parse("winus/wmsct/WMSSP019E1.vm")
    </div>
</div>
<div id="spdListTable" style="display: none"></div>
<input type="hidden" id="spdDatePannel">
<div id="dataTable"></div>

#parse("winus/common/footer.vm")