<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("label")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

#set($ss_user_no = $!session.getAttribute("SS_USER_NO"))
#set($ss_svc_no  = $!session.getAttribute("SS_SVC_NO"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>
<script type="text/javascript">

/* 화면크기 변경시 그리드 크기 변경 */
jQuery(window).resize(function() {
	resizeGrid(null);
});

var vrCustCd		= "";
var vrSS_SVC_NO 	= "";
var vrDlvOrdId 		= "";

jQuery(document).ready(function() {

	//jsp 실행 경로
	var url = "/jsp/OZReport8.jsp";
	//jsp 보낼 form 셋팅
	var frm = jQuery('form[name="frm_oz"]')[0];
	frm.target="DivOzViewer"; 
	frm.action = url;
	//jsp target iframe
	var iframe = jQuery('#DivOzViewer')[0];
	iframe.src = url;

	//post로 받은 데이터 파라미터 form에 저장
	#foreach($key in $!request.getParameter('arrKey').split(','))
		var frmValue = document.createElement("input");
		frmValue.setAttribute("type","hidden");
		frmValue.setAttribute("name", "$key");
		frmValue.setAttribute("value","$!request.getParameter($key)");
		frm.appendChild(frmValue);
	#end
	frm.submit();

});

function fn_confPrintEnd(vrDlvOrdId){
    var param = "DLV_ORD_ID=" + vrDlvOrdId;
    var url = "/WMSSP010/confPrintByOne.action";

    jQuery.post(url, param, function(data) {
    	alert(data.MSG);
    	if(data.errCnt <= 0 ){
			//부모창 함수 실행
			opener.fn_search();
        }
    }).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

</script>

</head>
<body>
	<input type='button' id='confBtn' value='$!lang.getText('출력확인')' onClick="fn_confPrintEnd('$!request.getParameter('vrDlvOrdId')');" style='background-color:#ee3837; border:solid 1px #b81919; color:#fff; font-weight:bold; font-size:20px; height: 40px; width : 100% !important;cursor:pointer;'>
	<div id='pdfView' style="height:790px; width:100%;">
		<section class="content" style="height:100%">
		<div class="container-fluid" style="height:100%">
			<form name="frm_oz" method="POST" target="DivOzViewer">
				<input type="hidden" name="fileName" value="$!request.getParameter('fileName')">
				<input type="hidden" name="reportName" value="$!request.getParameter('reportName')">
				<input type="hidden" name="odiName" value="$!request.getParameter('odiName')">
				<input type="hidden" name="arrKey" value="$!request.getParameter('arrKey')">
			</form>

			<iframe id="DivOzViewer" name="DivOzViewer" frameBorder="0" scrolling="no" style="padding:0px;width:100%;height:100%;overflow:hidden;">
			</iframe>
		</div>
		</section>
	</div>
</body>