#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//#list
//   추후수정부분
//   필수 값 및 각 항목 체크 로직 
// 
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		

	// Tabs	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	
	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	
	
	// datepicker
	/*
	jQuery( "input[name='vrSrchReqDtFrom']").datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	} );
	*/
	// datepicker
	jQuery("form[name='frm_list'] input[name='vrSrchDateVrSrchGb']").val(0);
	
	// 날자 셋팅
	//var vrSrchReqDt = localStorage.LocalTime;
	jQuery("input[name='vrSrchReqDtFrom']").val('2020-01-01');
	jQuery("input[name='vrSrchReqDtTo']").val('2020-01-01');
	
	//myLcList get
	var values = jQuery.map(jQuery('#vrSrchMyLcList option'), function(e) { return e.value; }); 
	values.join(',');
	jQuery("#myLcListVal").val(values);
	jQuery("#myLcListValHD").val(values);
	
	// 검색조건 enter검색
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	// button
	jQuery("input:button").button();
		
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
	               'CHK_BOX'
                  ,'FLAG'
                  ,'ST_GUBUN'
	               
	           	  ,'$!lang.getText("물류센터명")'
	              ,'$!lang.getText("화주명")'
	              ,'$!lang.getText("상품코드")'
	              ,'$!lang.getText("상품명")'
	              
	              ,'$!lang.getText("배송")<br>$!lang.getText("주문수량")'
	              ,'$!lang.getText("재고수량")'
	              ,'$!lang.getText("차이수량")'
	              
	              ,'ORD_QTY'
	              ,'LC_ID'
	              ,'CUST_CD'
	              ,'ORD_TYPE'
	              ,'ORD_SUBTYPE'
	              ,'CUST_ID'
	              ,'RITEM_ID'
		          ];

	
	// 그리드 컬럼 정의
	var colModelArray = [
			 {name:'CHK_BOX'			,index:'CHK_BOX'			,hidden:true}
			,{name:'FLAG'				,index:'FLAG'				,hidden:true}
			,{name:'ST_GUBUN'			,index:'ST_GUBUN'			,hidden:true}
			
			,{name:'LC_NM'				,index:'LC_NM'				,width:70		,align:"center"}
			,{name:'CUST_NM'			,index:'CUST_NM'			,width:80		,align:"center"}
			,{name:'RITEM_CD'			,index:'RITEM_CD'			,width:100		,align:"left"}
			,{name:'RITEM_NM'			,index:'RITEM_NM'			,width:120		,align:"left"}
			
			,{name:'REQ_DLV_CNT'		,index:'REQ_DLV_CNT'		,width:40		,align:"right"	,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
			,{name:'STOCK_QTY'			,index:'STOCK_QTY'			,width:40		,align:"right"	,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
			,{name:'REQURE_RCV_QTY'		,index:'REQURE_RCV_QTY'		,width:40		,align:"right"	,formatter:'integer'	,formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
			
			,{name:'ORD_QTY'			,index:'ORD_QTY'			,hidden:true}
			,{name:'LC_ID'				,index:'LC_ID'				,hidden:true}
			,{name:'CUST_CD'			,index:'CUST_CD'			,hidden:true}
			,{name:'ORD_TYPE'			,index:'ORD_TYPE'			,hidden:true}
			,{name:'ORD_SUBTYPE'		,index:'ORD_SUBTYPE'		,hidden:true}
			,{name:'CUST_ID'			,index:'CUST_ID'			,hidden:true}
			,{name:'RITEM_ID'			,index:'RITEM_ID'			,hidden:true}
		];
	var option = {
		'title' : '$!lang.getText("배송재고보충관리(화주별)")',
		'height' : 600,
		'width' : '100%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
        'autowidth' : true,
        'rowNum'		: 20,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : true,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*3,$ss_gird_num*4,$ss_gird_num*5],
        #else
        'rowList' : [300,400,500],
        #end
        'rownumbers' : true,
        'rownumWidth' : 30,
        'footerrow' 	: true,     // 합계
		'userDataOnFooter' : true   // 합계
	};
	
	//if(true) {		
	var vrSrchCustCd = jQuery("#vrSrchCustCd").val();		
	if(vrSrchCustCd == ""){
		fn_getTypicalCust();
	}
	//}
	
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSSP061/list.action?"+param;
	
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);

	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
		
		var cssFont	 = {'color' : 'red', 'font-weight' : 'bold'};
		for(var i=0 ; i<gridData.length; i++){
			var requreRcvQty = cfn_trim(grid.getCell(ids[i], "REQURE_RCV_QTY"));
			
			if(Number(requreRcvQty) < 0){
				grid.jqGrid('setCell', ids[i], 'REQURE_RCV_QTY', '', cssFont);
			}
		}
		
		/* grid colspan */
		cfn_gridRowspan(grid);
	}
	
	// 그리드 전체셀선택 이벤트
	listGrid.setSelectAllEventCallback(function(id , status){
		var grid = jQuery("#list");
		var ids  = grid.jqGrid('getDataIDs');
		if(ids != ''){
			for(var i = 0; i< ids.length; i ++){
				var idx = ids[i];
				
				if(status){
					grid.setCell(idx, 'CHK_BOX', "Yes");
					var rowdata = grid.getRowData(idx);
					if(rowdata.FLAG == "S"){
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
					}else{
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
					}
					grid.editRow(idx);
					if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid.setStatus(idx, "INSERT");
					}else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid.setStatus(idx, "UPDATE");
					}
				}else{
					grid.setCell(idx, 'CHK_BOX', 'No');
					grid.restoreRow(idx);
					listGrid.setStatus(idx, " ");
				}
			}
		}
	});
	
	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
        var grid = jQuery("#list");
        if(col == 1){
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                jQuery("#jqg_list_"+id).attr("checked",false);
                grid.setCell(id, 'CHK_BOX', "No");
                grid.restoreRow(id);
                listGrid.setStatus(id, " ");
            }else{
                jQuery("#jqg_list_"+id).attr("checked",true);
                grid.setCell(id, 'CHK_BOX', "Yes");
                grid.editRow(id);
                if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "INSERT");
                }else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "UPDATE");
                }
            }
        }else{
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                grid.setCell(id, 'CHK_BOX', 'Yes');
                grid.setSelection(id, false);
            }else{
                grid.setCell(id, 'CHK_BOX', 'NO');
                grid.setSelection(id, true);
            }
        }
    });
});

//--------------------------------------------------------------------------------화면로딩-------------------------------------------------------------------------------------//
/*
	그리드rowspan			: 	cfn_gridRowspan();
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/* 주문번호 rowspan 된것처럼보이도록하는 로직 */
function cfn_gridRowspan(grid){
	var ids = grid.getDataIDs();
	var subMinCss = {'border-bottom':'0px'};
	var subMidCss = {'color':'blue','font-size':'0px'};
	var subMaxCss = {'border-bottom':'3px solid #ABABAB'}
	
	/************* Span Column명 정의 부분 (해당 컬럼명 변수 수정 부분, 복수가능) *************/
	// 그룹 key : Column Span 2단계가 있을 경우  필수 선언
	var groupKey  = "LC_NM"; 
	// Column Span 1단계 : Select Grid의 컬럼순으로 정의 (ORDER BY 순)
	var colSpan01 = ["LC_NM"]; //"CUST_NM","PDA_NO","ORD_TYPE",
	// Column Span 2단계 : 그룹 key 컬럼 이하 , Select Grid의 컬럼순으로 정의 (ORDER BY 순)
	var colSpan02 = ["CUST_NM"]; //"RTI_CODE","RTI_EPC_CD"
	/***********************************************************************/
	
	// Column Span 1단계 시작 (colSpan01)
	for(var k = 0 ; k < colSpan01.length ; k++){
		for(var i = 0 ; i < ids.size() ; i++){
			if(grid.getCell(ids[i], colSpan01[k]) == grid.getCell(ids[i+1], colSpan01[k])){
				grid.setCell(ids[i+1], colSpan01[k], "" , subMidCss);
				grid.setCell(ids[i], colSpan01[k], "" , subMinCss);
				
				// Column Span 2단계 시작 (colSpan02), 그룹 Key와 colSpan02가 있을 경우
				if(colSpan01[k] == groupKey && colSpan02[0].length != 0){
					for(var l = 0 ; l < colSpan02.length ; l++){
						if(grid.getCell(ids[i], colSpan02[l]) == grid.getCell(ids[i+1], colSpan02[l])){
							grid.setCell(ids[i+1], colSpan02[l], "" , subMidCss);
							grid.setCell(ids[i], colSpan02[l], "" , subMinCss);
							
							// Column Span 2단계 컬럼이 갯수가 복수일 경우 Sub Span 경계선 추가  
							if(colSpan02[0] != colSpan02[l] && grid.getCell(ids[i], colSpan02[l-1]) != grid.getCell(ids[i+1], colSpan02[l-1])){
								grid.setCell(ids[i], colSpan02[l], "" , subMaxCss);
							}
						}
					}
					// 체크박스 삭제하기 (그룹 Key로 묶어)
					//jQuery("tr[id='"+ids[i+1]+"'] td input[class='cbox']").remove();
				}
			}else{
				if(colSpan01[k] == groupKey && colSpan02[0].length != 0){
					// 그룹 Key 으로 정의 된 컬럼의 Span 경계선 추가
					grid.setCell(ids[i], colSpan01[k], "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "RITEM_CD", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "RITEM_NM", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "REQ_DLV_CNT", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "STOCK_QTY", "" , subMaxCss);
					/*end line*/grid.setCell(ids[i], "REQURE_RCV_QTY", "" , subMaxCss);
					for(var l = 0 ; l < colSpan02.length ; l++){
						grid.setCell(ids[i], colSpan02[l], "" , subMaxCss);
					}
				}
			}
		}
	}
}

//검색
function fn_search(op,op1) {
	//작업일자 앞 뒤날짜 비교
	var validator = new Validator("frm_list");	
	// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):"); 
	validator.addItem("vrSrchReqDtTo"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('작업일자'):");
	if(!validator.validateForm("frm_list")){
		return false;
	}	

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSSP061/list.action?"+param;
	listGrid.search(param, url, op, op1);	
}

//저장
function fn_save(){
	var grid		= jQuery("#list");
	var selectIds	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var ids			= grid.getDataIDs();
	var isProcess = false;
	var totCnt = 0 ;	//선택된거 총갯수
	var delCnt = 0 ;	//삭제될거 갯수
	var insCnt = 0 ;	//등록수정될거 갯수
	var tmpCnt = 0 ;	//등록수정될거 갯수
	
	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");	
		return false;
	}
	
	if(confirm("※$!lang.getText('차이수량이 0 이하인 상품만 처리됩니다.')\n\n$!lang.getText('저장하시겠습니까?')")){
		jQuery("#formData").html("");

        if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
        }
			
        for(var i = 0 ; i < selectIds.length ; i++){
        	
        	if(Number(grid.getCell(selectIds[i], "REQURE_RCV_QTY")) < 0){
        		jQuery("#formData").append("<input type='text' name='LC_ID"			+ tmpCnt +"'  value='"+grid.getCell(selectIds[i], "LC_ID")		+"'/>");
            	jQuery("#formData").append("<input type='text' name='CUST_ID"		+ tmpCnt +"'  value='"+grid.getCell(selectIds[i], "CUST_ID")	+"'/>");
            	jQuery("#formData").append("<input type='text' name='CUST_CD"		+ tmpCnt +"'  value='"+grid.getCell(selectIds[i], "CUST_CD")	+"'/>");
    			jQuery("#formData").append("<input type='text' name='RITEM_ID"		+ tmpCnt +"'  value='"+grid.getCell(selectIds[i], "RITEM_ID")	+"'/>");
    			jQuery("#formData").append("<input type='text' name='RITEM_CD"		+ tmpCnt +"'  value='"+grid.getCell(selectIds[i], "RITEM_CD")	+"'/>");
    			jQuery("#formData").append("<input type='text' name='ORD_QTY"		+ tmpCnt +"'  value='"+grid.getCell(selectIds[i], "ORD_QTY")	+"'/>");
    			
    			jQuery("#formData").append("<input type='text' name='ORD_TYPE"		+ tmpCnt +"'  value='"+grid.getCell(selectIds[i], "ORD_TYPE")	+"'/>");
    			jQuery("#formData").append("<input type='text' name='ORD_SUBTYPE"	+ tmpCnt +"'  value='"+grid.getCell(selectIds[i], "ORD_SUBTYPE")+"'/>");
    			tmpCnt ++;
        	}
		}
        
		jQuery("form[name='frm_data'] input[name='selectIds']").val(tmpCnt);
		
		var param	= jQuery("form[name='frm_data']").serialize();
        var url 	= "/WMSSP061/save.action";
        
        cfn_loadingModalOpen1(); //loading modal open
        
		jQuery.post(url, param, function(data){
			var  page_check = 1;
			var  page = jQuery("#list").jqGrid().getGridParam("page");
			if(data.errCnt <= 0 ){
				alert(data.MSG);
				fn_search();
				cfn_loadingModalClose1(); //loading modal close
			}else{
				cfn_loadingModalClose1(); //loading modal close
			}
     	}).fail(function(xhr, textStatus){
 			if(xhr.status == 404){	
 				location.href=('/index.html');
 			}
 		});
    }
}

//엑셀
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	
	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSSP061/excel.action"+param;
		fm.method="post";
		fm.submit();
	}
}

/* 대표화주코드 가져오기 */
function fn_getTypicalCust(){
	var srchKey = "TYPICALCUST";
	var param   = "srchKey=" + srchKey;
	var url     = "/WMSCM011/getTypicalCust.action";
	jQuery.ajax({
		url			: url,
        method		: "post",
        async	    : false, 
        data		: param,
        error		: function(_, textStatus, errorThrown) {
            alert("Error");
        },
        success		: function(data) {
        	var data = data.TYPICALCUST;
    		var cnt  = data.size();
    		if(cnt > 0){
    			jQuery("#vrSrchCustCd").val(data[0].CUST_CD).attr("class", "readOnly").attr("readonly", "readonly");
    			jQuery("#vrSrchCustNm").val(data[0].CUST_NM).attr("class", "readOnly").attr("readonly", "readonly");
    			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].CUST_ID);
    			jQuery("#vrSrchCustTel").val(data[0].TEL);
    			jQuery('form[name="frm_data"] input[name="vrSrchCustId"]').val(data[0].CUST_ID);
    			jQuery("#btnSrchCustPop").removeAttr("onclick");
    			
    			
    			jQuery("#vrSrchCustCdHD").val(data[0].CUST_CD).attr("class", "readOnly").attr("readonly", "readonly");
    			jQuery("#vrSrchCustNmHD").val(data[0].CUST_NM).attr("class", "readOnly").attr("readonly", "readonly");
    			jQuery('form[name="frm_pp_list"] input[name="vrSrchCustIdHD"]').val(data[0].CUST_ID);
    			jQuery("#vrSrchCustTelHD").val(data[0].TEL);
    			jQuery('form[name="frm_data0"] input[name="vrSrchCustIdHD"]').val(data[0].CUST_ID);
    			jQuery("#btnSrchCustPop").removeAttr("onclick");
    			
    			//조회가능 여부
    			searchYn = "Y";
    			return true;
    		}else{
    			fn_Popup("CUST");
    			return false;
    		}
        }
	});
}

function fn_searchInitValid(){
	//화주
	if(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val() == "" || jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val().length == 0){
		fn_Popup("CUST");
		return false;
	}
	//조회가능여부
	if(searchYn == "N"){
		alert("$!lang.getText('배송(화주) 물류센터가 아닐경우 조회가 불가능합니다.')\n$!lang.getText('상단의 물류센터를 배송(화주) 물류샌터로 변경해 주십시오.')");
		return false;
	}
	//판매처
	/*
	if(jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val() == "" || jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val().length == 0){
		fn_Popup("CUST_2");
		return false;
	}
	*/
	return true;
}

//팝업 호출
function fn_Popup(pop, id){
	var strParameter = [];
	var param = "";
	var url = "";
	var width = "800";
	var height = "560";

	switch(pop){
	case 'CUST':	//검색 화주
		param = "?func=fn_setWMSCM011";
		url = "/WMSCM011.action" + param;
		break;
	case 'CUST_HD':	//검색 화주
		param = "?func=fn_setWMSCM011_HD";
		url = "/WMSCM011.action" + param;
		break;
//	case 'WMSCM091' : // 상품조회
//		var vrSrchCust = cfn_trim(jQuery("form[name='frm_list'] input[name='hdnCustId']").val());
//		strParameter.push('');
//		strParameter.push('');
//		strParameter.push(cfn_trim(jQuery('form[name="frm_list"] input[name="hdnCustId"]').val()));
//		param = '?func=fn_setWMSCM091&strParameter='+strParameter;
//		url = "/WMSCM091.action" + param;
//		break;
	case 'CUST_2':		//검색 거래처
		if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val()){
			alert('$!lang.getText("화주정보가없습니다")');
			fn_Popup("CUST");
			return false;
		}else{
			strParameter.push("");
			strParameter.push("");
			strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
			param = "?func=fn_setWMSCM011_2&strParameter=" + strParameter+"&stBtnYn=Y";
			url = "/WMSCM011.action" + param;
			break;	
		}
	}

	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}


/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}
function vrSrchCustCd_OnKillFocus_HD(){
	var vrSrchCustCd = jQuery('form[name="frm_pp_list"] input[name="vrSrchCustCdHD"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011_HD&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_pp_list"] input[name="vrSrchCustCdHD"]').val(data[0].CODE);
				jQuery('form[name="frm_pp_list"] input[name="vrSrchCustNmHD"]').val(data[0].NAME);
				jQuery('form[name="frm_pp_list"] input[name="vrSrchCustIdHD"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_pp_list'] input[name='vrSrchCustCdHD']").val("").focus();
				jQuery("form[name='frm_pp_list'] input[name='vrSrchCustNmHD']").val("");
				jQuery('form[name="frm_pp_list"] input[name="vrSrchCustIdHD"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_pp_list'] input[name='vrSrchCustCdHD']").val("");
		jQuery("form[name='frm_pp_list'] input[name='vrSrchCustNmHD']").val("");
		jQuery('form[name="frm_pp_list"] input[name="vrSrchCustIdHD"]').val("");
	}
}


/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}
function vrSrchCustNm_OnKillFocus_HD(){
	var vrSrchCustNm = jQuery('form[name="frm_pp_list"] input[name="vrSrchCustNmHD"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011_HD&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_pp_list"] input[name="vrSrchCustCdHD"]').val(data[0].CODE);
				jQuery('form[name="frm_pp_list"] input[name="vrSrchCustNmHD"]').val(data[0].NAME);
				jQuery('form[name="frm_pp_list"] input[name="vrSrchCustIdHD"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_pp_list'] input[name='vrSrchCustCdHD']").val("").focus();
				jQuery("form[name='frm_pp_list'] input[name='vrSrchCustNmHD']").val("");
				jQuery('form[name="frm_pp_list"] input[name="vrSrchCustIdHD"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_pp_list'] input[name='vrSrchCustCdHD']").val("");
		jQuery("form[name='frm_pp_list'] input[name='vrSrchCustNmHD']").val("");
		jQuery('form[name="frm_pp_list"] input[name="vrSrchCustIdHD"]').val("");
	}
}
/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
	jQuery('form[name="frm_list"] input[name="vrSrchCustTel"]').val(info.tel);
}
function fn_setWMSCM011_HD(arr){
	var info = arr[0];	
	jQuery('form[name="frm_pp_list"] input[name="vrSrchCustCdHD"]').val(info.cust_cd);
	jQuery('form[name="frm_pp_list"] input[name="vrSrchCustNmHD"]').val(info.cust_nm);
	jQuery('form[name="frm_pp_list"] input[name="vrSrchCustIdHD"]').val(info.cust_id);
	jQuery('form[name="frm_pp_list"] input[name="vrSrchCustTelHD"]').val(info.tel);
}



</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("배송재고보충관리(화주별)")</a></li>.
			<li><a href = "#tabs-2">$!lang.getText("배송재고보충관리(H/D화주별)")</a></li>
		</ul>
		
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    
    <div id = "tabs-1">
        #parse("winus/wmsct/WMSSP061E1.vm")
    </div>
    
    <div id = "tabs-2">
        #parse("winus/wmsct/WMSSP061E2.vm")
    </div>
    
</div>	
#parse("winus/common/footer.vm")