@charset "utf-8";
/* CSS Document */
/* =goods   ---------------------------------------------------------------------------------------------------------------*/ 


#wrap {height:100%;  width:100%; min-width:1000px; position:relative; overflow:visible; _overflow-y:auto;_overflow-x:auto; }

 
body {background-color:#ffffff; background-image: url(/img/common/bg_aside.gif); background-repeat:repeat-y; min-width:1024px;}
 

/* =header */ 
#layout_header {clear:both;position:relative;width:100%;height:57px; _overflow:hidden; border-top:solid 1px #d7d7d7; background:#4b5c76;  z-index:90;}
#layout_header h1{position:absolute;top:0;left:0;width:210px;height:57px;font-size:0; line-height:57px; text-align:center; background: none; }
#layout_header h1 a{display:inline-block; width:210px;height:57px; line-height:57px; text-align:center; background:url(/img/common/logo.png) center center no-repeat;}



#layout_header .bookmarkTab {position:absolute; left:232px; bottom:0; }
#layout_header .bookmarkTab ul {overflow:hidden;}
#layout_header .bookmarkTab ul li {font-weight:bold;  float:left; margin-right:6px;}
#layout_header .bookmarkTab ul li a {color:#83909d; padding:0 12px 0 10px;  line-height:32px; background:#4b5c6c; display:inline-block; border-top-left-radius:3px; border-top-right-radius:3px; border-bottom-left-radius:0; border-bottom-right-radius:0;  }
#layout_header .bookmarkTab ul li a span {background:url(/img/common/sp_common.png) -176px 0 scroll; width:14px; height:14px; margin-right:6px; display:inline-block;}
#layout_header .bookmarkTab ul li a:hover {color:#4a5b75; padding:0 12px 0 10px;   line-height:32px; background:#ffffff;  display:inline-block; border-top-left-radius:3px; border-top-right-radius:3px; border-bottom-left-radius:0; border-bottom-right-radius:0; }
#layout_header .bookmarkTab ul li a:hover span {background:url(/img/common/sp_common.png) -176px 0 scroll; width:14px; height:14px; margin-right:6px; display:inline-block;}
#layout_header .bookmarkTab ul li.on a {color:#4a5b75; padding:0 12px 0 10px;  line-height:32px; background:#ffffff;  display:inline-block; border-top-left-radius:3px; border-top-right-radius:3px; border-bottom-left-radius:0; border-bottom-right-radius:0; }
#layout_header .bookmarkTab ul li.on a span {background:url(/img/common/sp_common.png) -161px 0 scroll; width:14px; height:14px; margin-right:6px; display:inline-block;}
#layout_header .bookmarkTab ul li.on a:hover {color:#4a5b75; padding:0 12px 0 10px; line-height:32px; background:#ffffff;  display:inline-block; border-top-left-radius:3px; border-top-right-radius:3px; border-bottom-left-radius:0; border-bottom-right-radius:0; }
#layout_header .bookmarkTab ul li.on a:hover span {background:url(/img/common/sp_common.png) -161px 0 scroll; width:14px; height:14px; margin-right:6px; display:inline-block;}

#layout_header .utilMenu {position:absolute; right:0; left:133px; white-space: nowrap; top:12px; vertical-align:middle; height:32px; padding-right:12px; text-align:right;}
#layout_header .utilMenu * {vertical-align:middle;}
#layout_header .utilMenu div {display:inline-block;}

.btnHome {background:url(/img/common/sp_common.png) 0 -100px scroll; width:32px; height:32px; display:inline-block;}
.btnHome:hover {background:url(/img/common/sp_common.png) 0 -133px scroll; width:32px; height:32px; display:inline-block;}
.btnUserInfo {background:url(/img/common/sp_common.png) -33px -100px scroll; width:32px; height:32px; display:inline-block;}
.btnUserInfo:hover {background:url(/img/common/sp_common.png) -33px -133px scroll; width:32px; height:32px; display:inline-block;}
.btnLogout {background:url(/img/common/sp_common.png) -66px -100px scroll; width:32px; height:32px; display:inline-block;}
.btnLogout:hover {background:url(/img/common/sp_common.png) -66px -133px scroll; width:32px; height:32px; display:inline-block;}
.timeHome {margin-right:50px; text-align:right; width:50%; font-size:160%; color:#FFFFFF; font-weight:bold; letter-spacing:-1px; font-family :'italic', sans-serif;}
.timeHome:hover {margin-right:50px; text-align:right; width:50%; font-size:160%; color:#FF0000; font-weight:bold; letter-spacing:-1px; font-family :'italic', sans-serif;}
.nameHome {pointer-events:none; color:#FFFFFF; font-size:160%; width:50%;font-weight:bold;letter-spacing:-1px;font-family:'italic',sans-serif;}
.btnSetupBar {background:url(/img/common/setupBarBtnN.png); margin-left:6px; margin-right:6px; width:19px; height:19px; display:inline-block; background-size:100% 100%;}
.btnSetupBar:hover {background:url(/img/common/setupBarBtnN.png); margin-left:6px; margin-right:6px; width:19px; height:19px; display:inline-block; background-size:100% 100%;}
#topNav {display:inline-block;}
#cpRight {display:inline-block;}

.tabHistoryWrap {position:relative; z-index: 111;}
.tabHistoryWrap ul {}
.tabHistoryWrap h2 {position:absolute; right:0; top:5px; display: none;}

/* =navi */ 
/*#pane_left.pane_close .menu_title span {display:none;}
#pane_left.pane_close div.accordion {display:block; background-image: none;}
#pane_left.pane_close div.accordion span.icon {margin-top:9px;}
#pane_left.pane_close div.accordion span.text {display:none;}
#pane_left.pane_close #left_menu  ul {display:none;}


#pane_left.pane_close #left_menu ul {background:#2e3f4f; display:block; width:210px; position: absolute; left:57px; z-index:1000;}
#pane_left.pane_close #left_menu ul li a {border-top: none; border-bottom: none; font-weight: normal;  display: block;  padding: 0 0 0 40px;  height: 25px;  line-height: 26px;  font-size: 12px; color: #b8c4d0;}
#pane_left.pane_close #left_menu ul li a:hover {border-top:none; border-bottom:none; background:#1e2c39; color:#fff; display:block; padding:0 0 0 40px; height:25px; line-height:26px; font-weight:bold;}


#left_menu {}

.accordion {background:#405365 url(/img/common/arrow_open.png) 95% center no-repeat; border-top:solid 1px #576d82; border-bottom:solid 1px #263645; display:block;  font-weight:normal; color:#b8c4d0;  padding:0 0 0 10px; height:40px; line-height:40px; cursor: pointer; font-size:1.15em;}
.accordion.accordion-open {background:#ee3837 url(/img/common/arrow_close.png) 95% center no-repeat; border-top:solid 1px #576d82; border-bottom:solid 1px #263645; display:block;  font-weight:bold; color:#fff;  padding:0 0 0 10px; height:40px; line-height:40px;  cursor: pointer;}

.accordion span.text {height:40px; line-height:40px;  cursor: pointer;}
.accordion span.icon {width:22px; height:22px; margin-right:7px; display:inline-block;}
.accordion span.icon {background-image:url(/img/common/sp_common.png); background-repeat:no-repeat; background-attachment:scroll; }


.accordion#WMSOP span.icon{background-position:0 0;}
.accordion#WMSST span.icon{background-position:-23px 0;}
.accordion#WMSTG span.icon{background-position:-45px 0;}
.accordion#WMSMS span.icon{background-position:-68px 0;}
.accordion#TMSYS span.icon{background-position:-91px 0;}
.accordion#WMSKP span.icon{background-position:-114px 0;}
.accordion#WMSAC span.icon{background-position:-137px 0;}

.accordion#WMSOP span.icon{background-position:0 -23px;}
.accordion#WMSST span.icon{background-position:-23px -23px;}
.accordion#WMSTG span.icon{background-position:-45px -23px;}
.accordion#WMSMS span.icon{background-position:-68px -23px;}
.accordion#TMSYS span.icon{background-position:-91px -23px;}
.accordion#WMSKP span.icon{background-position:-114px -23px;}
.accordion#WMSAC span.icon{background-position:-137px -23px;}

.accordion.accordion-open#WMSOP span.icon{background-position:0 -23px;}
.accordion.accordion-open#WMSST span.icon{background-position:-23px -23px;}
.accordion.accordion-open#WMSTG span.icon{background-position:-45px -23px;}
.accordion.accordion-open#WMSMS span.icon{background-position:-68px -23px;}
.accordion.accordion-open#TMSYS span.icon{background-position:-91px -23px;}
.accordion.accordion-open#WMSKP span.icon{background-position:-114px -23px;}
.accordion.accordion-open#WMSAC span.icon{background-position:-137px -23px;}

.accordion.accordion-open#WMSOP span.icon{background-position:0 -23px;}
.accordion.accordion-open#WMSST span.icon{background-position:-23px -23px;}
.accordion.accordion-open#WMSTG span.icon{background-position:-45px -23px;}
.accordion.accordion-open#WMSMS span.icon{background-position:-68px -23px;}
.accordion.accordion-open#TMSYS span.icon{background-position:-91px -23px;}
.accordion.accordion-open#WMSKP span.icon{background-position:-114px -23px;}
.accordion.accordion-open#WMSAC span.icon{background-position:-137px -23px;}


#left_menu ul {background:#2e3f4f;}
#left_menu ul li a {border-top: none; border-bottom: none; font-weight: normal;  display: block;  padding: 0 0 0 40px;  height: 25px;  line-height: 26px;  font-size: 12px; color: #b8c4d0;}
#left_menu ul li a:hover {border-top:none; border-bottom:none; background:#1e2c39; color:#fff; display:block; padding:0 0 0 40px; height:25px; line-height:26px; font-weight:bold;}
#left_menu ul li.current {border-top:none; border-bottom:none; background:#1e2c39; color:#fff; display:block; padding:0 0 0 40px; height:25px; line-height:26px; font-weight:bold; text-align:left;}
*/
/*
#navi {z-index:70; width:210px; line-height:normal; border:0!important; overflow:visible; display:block;  float:left; position:relative; *zoom:1; padding-top:57px; padding-bottom:29px; _padding-bottom:100px;}
*/
.navi {width:210px;}
.navi li {}
.navi li a {background:#405365 url(../../image/common/arrow_open.png) 95% center no-repeat; border-top:solid 1px #576d82; border-bottom:solid 1px #263645; display:block;  font-weight:normal; color:#b8c4d0;  padding:0 0 0 10px; height:40px; line-height:40px;}
.navi li a span {width:22px; height:22px; margin-right:5px; display:inline-block;}
.navi li a span.icon { background-image:url(../../image/common/sp_common.png); background-repeat:no-repeat; background-attachment:scroll; }
.navi li a:hover {background:#ee3837  url(../../image/common/arrow_openOver.png) 95% center no-repeat; border-top:solid 1px #576d82; border-bottom:solid 1px #263645; display:block; font-weight:normal; color:#fff; padding:0 0 0 10px; height:40px; line-height:40px;}
.navi li a:hover span {width:22px; height:22px; margin-right:5px; display:inline-block;}
.navi li a:hover span.icon { background-image:url(../../image/common/sp_common.png); background-repeat:no-repeat; background-attachment:scroll; }

.navi li ul {padding:10px 0; display:none;}
.navi li ul li {background:none;}
.navi li ul li a {border-top:none; border-bottom:none; font-weight:normal; color:#9ba8b5; background:#2e3f4f; display:block; padding:0 0 0 28px; height:23px; line-height:23px;}
.navi li ul li a:hover {border-top:none; border-bottom:none; background:#1e2c39; color:#fff; display:block; padding:0 0 0 28px; height:23px; line-height:23px;}

.navi li.current {}
.navi li.current a {background:#ee3837 url(../../image/common/arrow_close.png) 95% center no-repeat; border-top:solid 1px #576d82; border-bottom:solid 1px #263645; display:block;  font-weight:bold; color:#fff;  padding:0 0 0 10px; height:40px; line-height:40px;}
.navi li.current a:hover span {width:22px; height:22px; margin-right:5px; display:inline-block;}
.navi li.current a span.icon { background-image:url(../../image/common/sp_common.png); background-repeat:no-repeat; background-attachment:scroll;}
.navi li.current a:hover {background:#ee3837 url(../../image/common/arrow_close.png) 95% center no-repeat; border-top:solid 1px #576d82; border-bottom:solid 1px #263645; display:block; font-weight:bold; color:#fff; padding:0 0 0 10px; height:40px; line-height:40px;}
.navi li.current a:hover span {width:22px; height:22px; margin-right:5px; display:inline-block;}
.navi li.current a:hover span.icon { background-image:url(../../image/common/sp_common.png); background-repeat:no-repeat; background-attachment:scroll;}


.navi li.current ul {padding:10px 0; display:block; background:#2e3f4f;}
.navi li.current ul li {background:none;}
.navi li.current ul li a {border-top:none; border-bottom:none; font-weight:normal; color:#9ba8b5; background:#2e3f4f; display:block; padding:0 0 0 23px; height:25px; line-height:26px; font-size:12px;}
.navi li.current ul li a span {width:12px !important; height:12px !important; margin-right:5px !important; display:inline-block; margin-top:-3px;}
.navi li.current ul li a span.icon { background-image:url(../../image/common/sp_common.png); background-repeat:no-repeat; background-attachment:scroll; }
.navi li.current ul li a:hover {border-top:none; border-bottom:none; background:#1e2c39; color:#fff; display:block; padding:0 0 0 23px; height:25px; font-weight:bold; text-decoration:none; line-height:26px;}
.navi li.current ul li a:hover span {width:12px !important; height:12px !important; margin-right:5px !important; display:inline-block; margin-top:-3px;}
.navi li.current ul li a:hover span.icon { background-image:url(../../image/common/sp_common.png); background-repeat:no-repeat; background-attachment:scroll; }
.navi li.current ul li ul {padding:5px 0;  display:none;}

.navi li.current ul li.current a {border-top:none; border-bottom:none; background:#1e2c39; color:#fff; display:block; padding:0 0 0 23px; height:25px; font-weight:bold; text-decoration:none; line-height:26px;}
.navi li.current ul li.current ul {padding:5px 0;  display:block; background:#1e2c39;}
.navi li.current ul li.current ul li {background:none;}
.navi li.current ul li.current ul li a {border-top:none; border-bottom:none; font-weight:normal; color:#fff; background:#1e2c39; display:block; padding:0 0 0 33px; height:20px; line-height:21px; font-size:11px;}
.navi li.current ul li.current ul li a span {width:12px !important; height:12px !important; margin-right:5px !important; display:inline-block; margin-top:-3px;}
.navi li.current ul li.current ul li a span.icon { background-image:url(../../image/common/sp_common.png); background-repeat:no-repeat; background-attachment:scroll; }

.navi li.current ul li.current ul li a:hover {border-top:none; border-bottom:none; background:#000; color:#fff; display:block; padding:0 0 0 33px; height:20px; font-weight:normal; text-decoration:none; line-height:21px; font-size:11px;}
.navi li.current ul li.current ul li a:hover span {width:12px !important; height:12px !important; margin-right:5px !important; display:inline-block;  margin-top:-3px;}
.navi li.current ul li.current ul li a:hover span.icon { background-image:url(../../image/common/sp_common.png); background-repeat:no-repeat; background-attachment:scroll; }
.navi li.current ul li.current ul li.current a {border-top:none; border-bottom:none; background:#000; color:#fff; display:block; padding:0 0 0 33px; height:20px; font-weight:normal; text-decoration:none; line-height:21px; font-size:11px;}

/*
.menuOpen {background:#3e4c58; display:block;  font-weight:bold; color:#b8c4d0;  padding:0 0 0 10px; height:40px; line-height:40px; position:relative;}
.menuOpen .btnClose {background:url(/img/common/sp_common.png) 0 -59px scroll; width:40px; height:40px; border:none; cursor:pointer; position:absolute; right:3px; top:4px;}  
*/

.navi li.menu01 a span.icon{background-position:0 0;}
.navi li.menu02 a span.icon{background-position:-23px 0;}
.navi li.menu03 a span.icon{background-position:-45px 0;}
.navi li.menu04 a span.icon{background-position:-68px 0;}
.navi li.menu05 a span.icon{background-position:-91px 0;}
.navi li.menu06 a span.icon{background-position:-114px 0;}
.navi li.menu07 a span.icon{background-position:-137px 0;}

.navi li.menu01 a:hover span.icon{background-position:0 -23px;}
.navi li.menu02 a:hover span.icon{background-position:-23px -23px;}
.navi li.menu03 a:hover span.icon{background-position:-45px -23px;}
.navi li.menu04 a:hover span.icon{background-position:-68px -23px;}
.navi li.menu05 a:hover span.icon{background-position:-91px -23px;}
.navi li.menu06 a:hover span.icon{background-position:-114px -23px;}
.navi li.menu07 a:hover span.icon{background-position:-137px -23px;}

.navi li.menu01.current a span.icon{background-position:0 -23px;}
.navi li.menu02.current a span.icon{background-position:-23px -23px;}
.navi li.menu03.current a span.icon{background-position:-45px -23px;}
.navi li.menu04.current a span.icon{background-position:-68px -23px;}
.navi li.menu05.current a span.icon{background-position:-91px -23px;}
.navi li.menu06.current a span.icon{background-position:-114px -23px;}
.navi li.menu07.current a span.icon{background-position:-137px -23px;}

.navi li.menu01.current a:hover span.icon{background-position:0 -23px;}
.navi li.menu02.current a:hover span.icon{background-position:-23px -23px;}
.navi li.menu03.current a:hover span.icon{background-position:-45px -23px;}
.navi li.menu04.current a:hover span.icon{background-position:-68px -23px;}
.navi li.menu05.current a:hover span.icon{background-position:-91px -23px;}
.navi li.menu06.current a:hover span.icon{background-position:-114px -23px;}
.navi li.menu07.current a:hover span.icon{background-position:-137px -23px;}

.navi li.current ul li a span.icon {background-position:0 -46px  !important;}
.navi li.current ul li a:hover span.icon {background-position:0 -46px  !important;}
.navi li.current ul li.current a span.icon {background-position:-14px -46px !important;}
.navi li.current ul li.current a:hover span.icon {background-position:-14px -46px !important;}


/* =history */
.history { background:#f3f3f3; height:43px; padding-left:24px; line-height:43px; border-bottom:solid 1px #d7d7d7; position:relative; z-index:120;}


.mainContent {background:url(../../image/common/bg_logo.png) 60% center no-repeat;  min-height:500px;}


#footer {clear:both; float:none; width:100%; height:43px; text-align:center; }
#footer address {padding:20px 0; color:#405365;}


.select{ position:relative; line-height:normal; display:inline-block; *display:inline; vertical-align:middle; background:#fff; *zoom:1;}
.select *{ margin:0; padding:0; cursor:pointer; font-size:12px; font-family:“ＭＳ Ｐゴシック”, “MS PGothic”, Gulim, AppleGothic, Arial, Verdana, sans-serif; }
.select .myValue{ position:relative; z-index:2; left:0; top:0; border:1px solid #bababa; color:#666; line-height:19px; _line-height:normal; text-align:left; overflow:visible; background:transparent;}
.select .myValue.selected{ font-weight:bold;}
.select .myValue{ height:21px; width:100%; text-indent:5px; *text-indent:0; *padding-left:5px;}
.select .ctrl{ position:absolute; top:0; right:0; width:18px; height:19px; border:1px solid #bababa; border-left:1px solid #eaeaea; background:#fff;}
.select .arrow{ position:absolute; width:0; height:0; top:9px; right:6px; line-height:0; font-size:0; border-top:3px solid #999; border-left:3px solid #fff; border-right:3px solid #fff;}
.select ul{ top:20px; left:0; width:100%; list-style:none; border:0; border-top:1px solid #bababa; border-bottom:1px solid #bababa; background:#fff; overflow:hidden;}
.select ul.aList{ display:none;}
.select li{ position:relative; overflow:hidden; white-space:nowrap; height:18px; border-left:1px solid #bababa; border-right:1px solid #bababa;}
.select li a{ display:block; text-indent:8px; *text-indent:6px; height:18px; line-height:18px; color:#767676; background:#fff; text-decoration:none;}
.select li:hover *{ background:#999; color:#fff;}