﻿@charset "utf-8";
/* CSS Document */


html, body {height:100%;   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; padding:0; margin:0;}
body {color:#696b6f; }

header, footer, section, article, nav, aside, hgroup, address, time, blockquote {display: block;}
body { font-size:0.75em;}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, th, caption, menu {margin:0; padding:0;}
ul, ol, menu {list-style:none;}
img {border:0;}

a, a:link, a:visited {color:#666; text-decoration:none;}
a:hover, a:active, a:focus {color:#333; text-decoration:none;}

fieldset {border:0;}
legend {display:none;}

input, textarea, form, fieldset, legend, button {font-family: “ＭＳ Ｐゴシック”, “MS PGothic”, Gulim, AppleGothic, Arial, Verdana, sans-serif; color:#666; vertical-align:middle; margin:0; padding:0;}

select * {vertical-align:middle;}
select {font-family: “ＭＳ Ｐゴシック”, “MS PGothic”, Gulim, AppleGothic, Arial, Verdana, sans-serif; line-height:180%; vertical-align:middle; height:22px;border-radius:0;  }


th img, td img {vertical-align:middle;}
img, form, input, label, fieldset, span, button  * {vertical-align:middle; margin:0; padding:0;}
em, address {font-style:normal;}
div,p filedset {margin:0;padding:0;}
button {background:transparent; overflow:visible;}
table {width:100%; border-collapse:collapse; border:0; font-size:1em;}
table caption {display:none;}
td, th  {}
*:first-child+html td, *:first-child+html th  {line-height:16px;}
embed, object {vertical-align:bottom}

label {cursor:pointer}
img, fieldset {border:0}
option, x:-moz-any-link {padding-right:6px}
option, x:-moz-any-link, x:default {padding-right:0}
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0}

output {color:#202020; background:#ececec; border-top:1px solid #8b8b8b;
	border-left:1px solid #8b8b8b;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc; width:150px; height:22px; line-height:22px; text-indent:4px; font-weight:bold;}
.png24 {tmp:expression(setPng24(this));}