<style type="text/css">
	    .overDialogSt {
	        position: absolute;
	        top: 20%;
	        left: 38%;
	        width:500px;
	        height:430px;
	        background: #FFFFFF;
	        border: 3px solid #8C8C8C;
	        z-index: 999;
	        font-family: arial, serif;
	        visibility: hidden;
	        font-family:KoPubDotumLeft;
	        z-index: 9999;
	    	text-align:center;
	    }
</style>
	
<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width="100px"/> 
				<col width="33%"/>
				<col width="100px"/>
				<col width="33%"/>
				<col width="100px"/>
				<col width="33%"/>
				<col width="50px"/>	
			</colgroup>
			<tbody>
			<tr>
				<th>$!lang.getText("로케이션")</th>
				<td>
					<input type="text" class="text" name="txtSrchLocCd" id="txtSrchLocCd" style="width:70%" onChange="vrSrchLocCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM080');return false;" class="imgSearch">
					<input type="hidden" class="text" name="txtSrchLocId" id="txtSrchLocId" style="width:45%" onChange="vrSrchLocId_OnKillFocus()"/>
				</td>
				
				<th>$!lang.getText("창고")</th>
				<td>
					<input type="text" class="text" name="txtSrchWhCd" id="txtSrchWhCd" style="width:45%" onChange="vrSrchWhCd_OnKillFocus()"/>
					<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM040');return false;" class="imgSearch">
					<input type="hidden" name="txtSrchWhId" id="txtSrchWhId"/>
					<input type="text" class="text" name="txtSrchWhNm" id="txtSrchWhNm" style="width:45%" onChange="vrSrchWhNm_OnKillFocus()"/>
				</td>
				<th></th>
				<td></td>
				<th class="btnSearch" rowspan="3">
					<input type="button" class="SER_AUTH" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			<tr>
				<th>($!lang.getText('코드옵션'))</th>
				<td>
					<input type="text" size="2" class="text" style="width:15%; text-transform: uppercase;" id="LOC_OP3_1" name="LOC_OP3_1"/>-
					<input type="text" size="2" class="text" style="width:15%; text-transform: uppercase;" id="LOC_OP3_2" name="LOC_OP3_2"/>-
					<input type="text" size="2" class="text" style="width:15%; text-transform: uppercase;" id="LOC_OP3_3" name="LOC_OP3_3"/>
				</td>
				<th>$!lang.getText('사용상태')</th>
				<td>
					$!comCode.getComboComCode("LOC04", "vrSrchLocStat", "", true, "$!lang.getText('전체')", "", "","class='selectbox' style='width:100px'")
				</td>	
				<th></th>
				<td></td>			
			</tr>
			<tr>
				<th>($!lang.getText('코드옵션'))</th>
				<td>
					<select name="LOC_OP4_1" id="LOC_OP4_1" class="selectbox" style="width:16%;">
						<option value="">$!lang.getText("전체")</option>
						<option value="1">$!lang.getText("홀수")</option>
						<option value="0">$!lang.getText("짝수")</option>
					</select> -
					<select name="LOC_OP5_1" id="LOC_OP5_1" class="selectbox" style="width:16%;">
						<option value="">$!lang.getText("전체")</option>
						<option value="1">$!lang.getText("홀수")</option>
						<option value="0">$!lang.getText("짝수")</option>
					</select> -
					<select name="LOC_OP6_1" id="LOC_OP6_1" class="selectbox" style="width:16%;">
						<option value="">$!lang.getText("전체")</option>
						<option value="1">$!lang.getText("홀수")</option>
						<option value="0">$!lang.getText("짝수")</option>
					</select>
<!-- 					<input type="text" size="2" class="text" style="width:15%; " id="LOC_OP3_1" name="LOC_OP3_1"/>- -->
<!-- 					<input type="text" size="2" class="text" style="width:15%; " id="LOC_OP3_2" name="LOC_OP3_2"/>- -->
<!-- 					<input type="text" size="2" class="text" style="width:15%; " id="LOC_OP3_3" name="LOC_OP3_3"/> -->
				</td>
				<th>$!lang.getText('LOC구분')</th>
				<td>$!comCode.getComboComCode("LOC01", "vrSrchLocType", "", true, "$!lang.getText('전체')", "", "","class='selectbox' style='width:100px'")</td>
				<th></th>
				<td></td>				
			</tr>
			</tbody>
		</table>	
	</form>
	
	<div class = "btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀입력(간편)')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload('SV2');" role="button" aria-disabled="false"/>	
			<input type="button" value="$!lang.getText('엑셀입력')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload('N');" role="button" aria-disabled="false"/>	
			<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnSave" name="btn_write" onclick="fn_save();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('신규')" class="INS_AUTH btnEtc"          name="btn_write" onclick="fn_new();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete"          name="btn_write" onclick="fn_delete();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel" name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="detail_box column_2">
		<div class="fl" style="width:40%;">
			<div class="btnArea">
				<div class = "btnAreaRight">
					<input type="button" value="$!lang.getText('로케이션재등록')" 	class="INS_AUTH btnEtc"		 name="btn_reinsert" onclick="fn_reinsert();" role="button" aria-disabled="false"/>
					<input type="button" value="$!lang.getText('바코드출력')" 	class="btnEtc"		 name="btn_write" onclick="fn_contextWorkModal('O');" role="button" aria-disabled="false"/>	
				</div>
			</div>
			<form name="frm_list2" id="frm_list2">
				<div id = "formData2" style = "visibility : hidden ; width : 0 ; height : 0"></div>
			</form>
			<div class = "list_box">
				<table id="list" style="width:100%;"></table>
				<div id="pjmap"></div>
			</div>
		</div>
		<div class="fr" style="width:59%">
			<form name="frm_detail" id="frm_detail">
				<div class="detailViewWrap">
					<div class="detailViewTitle">$!lang.getText("로케이션정보")</div>
					<table class="contentView">
						<colgroup>
							<col width="20%">
	                   		<col width="30%">
	                 		<col width="20%">
	                    	<col width="30%">			
						</colgroup>
						
						<tbody>
							<tr>			
								<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText("창고")</th>
								<td colspan='3'>
								<input type="text" class="text" name="WH_CD" id="WH_CD" style="width:37%" onChange="vrSrchWhCd_OnKillFocus2()"/>
								<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM0402');return false;" class="imgSearch"> 
								<input type="hidden" name="WH_ID" id="WH_ID" onblur="fn_setDataGrid('WH_ID')"/>
								<input type="text" class="text" name="WH_NM" id="WH_NM" style="width:37%" onChange="vrSrchWhNm_OnKillFocus2()"/>
								</td>
							</tr>
									
							<tr>
								<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText("로케이션코드")</th>
								<td><input type="text" class="text" id="LOC_CD" name="LOC_CD" onblur="fn_setDataGrid('LOC_CD')" maxlength="20"></td>
								
								
								<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText("적재량(PLT)")</th>
								<td><input type="text" class="text" id="CARRY_PLT_QTY" name="CARRY_PLT_QTY" style="width:75%; text-align:right" onblur="fn_setDataGrid('CARRY_PLT_QTY')" onkeyPress="cfn_setFldToFigureFld(CARRY_PLT_QTY)" maxlength="5">PLT</td>
							</tr>
									
							<tr>
								<th>$!lang.getText("적재구분")</th>
								<td>
									$!comCode.getComboComCode("ITM05", "CARRY_TYPE", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("CARRY_TYPE", "sel")',"class='selectbox'")
								</td>
								<td id="note" colspan="2"></td>
							</tr>
									
							<tr>
								<th>$!lang.getText("적정재고수량")</th>
								<td>
									<input type="text" class="text" style="text-align:right" id="OP_QTY" name="OP_QTY" onblur="fn_setDataGrid('OP_QTY')" onkeyPress="cfn_setFldToNumberFld(OP_QTY)" maxlength="10">
								</td>
								<th>$!lang.getText("RACK보충수량")</th>
								<td>
									<input type="text" class="text" style="text-align:right" id="RS_QTY" name="RS_QTY" onblur="fn_setDataGrid('RS_QTY')" onkeyPress="cfn_setFldToNumberFld(RS_QTY)" maxlength="10">
								</td>
							</tr>
							
							<tr>
								<th>$!lang.getText("화주")</th>
								<td>
									<input type="text" class="text" name="CUST_CD" id="CUST_CD" style="width:37%" onChange="vrSrchCustCd_OnKillFocus()"/>
									<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('WMSCM011');return false;" class="imgSearch">
									<input type="hidden" name="CUST_ID" id="CUST_ID"/>
									<input type="text" class="text" name="CUST_NM" id="CUST_NM" style="width:37%" onChange="vrSrchCustNm_OnKillFocus()"/>
								</td>
								<th>$!lang.getText("가로") (m)</th>
								<td>
									<input type="text" class="text" style="text-align:right" id="CELL_W" name="CELL_W" onblur="fn_setDataGrid('CELL_W')" onkeyPress="cfn_setFldToNumberFld(CELL_W)" maxlength="10">
								</td>
							</tr>
									
							<tr>
								<th>$!lang.getText("LOC구분")</th>
								<td>
									$!comCode.getComboComCode("LOC01", "LOC_TYPE", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("LOC_TYPE", "sel")',"class='selectbox'")
								</td>
								<th>$!lang.getText("세로") (m)</th>
								<td>
									<input type="text" class="text" style="text-align:right" id="CELL_L" name="CELL_L" onblur="fn_setDataGrid('CELL_L')" onkeyPress="cfn_setFldToNumberFld(CELL_L)" maxlength="10">
								</td>
							</tr>
									
							<tr>									
								<th>$!lang.getText("상품군")</th>
								<td >
									<select name="ITEM_GRP" id="ITEM_GRP" class="selectbox" onblur="fn_setDataGrid('ITEM_GRP','sel')">
										<option value=" ">$!lang.getText("전체")</option>
										#foreach($row in $ITEMGRP)
										<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
										#end
									</select>
								</td>
								<th>$!lang.getText("높이") (m)</th>
								<td>
									<input type="text" class="text" style="text-align:right" id="CELL_H" name="CELL_H" onblur="fn_setDataGrid('CELL_H')" onkeyPress="cfn_setFldToNumberFld(CELL_H)" maxlength="10">
								</td>
							</tr>
							
							<tr>
								<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText("사용상태")</th>
								<td>
									$!comCode.getComboComCode("LOC04", "LOC_STAT", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("LOC_STAT", "sel")',"class='selectbox'")			
								</td>
								<th>$!lang.getText("상품용기구분")</th>
								<td>
									$!comCode.getComboComCode("ITM15", "LOC_ITEM_TYPE", "", false, "", "onchange", 'fn_setDataGrid("LOC_ITEM_TYPE", "sel")',"class='selectbox'")
								</td>
							</tr>
							
							<tr>
								<th>$!lang.getText("TAG PREFIX")</th>
								<td>
									<input type="text" class="text" id="TAG_PREFIX" name="TAG_PREFIX" onblur="fn_setDataGrid('TAG_PREFIX')" maxlength="20">
								</td>
								<th>$!lang.getText("X축")</th>
								<td>
									<input type="text" class="text" id="POSITION_X" name="POSITION_X" onblur="fn_setDataGrid('POSITION_X')" maxlength="20">
								</td>
							</tr>					
							
							<tr>
								<th>$!lang.getText("GLN코드")</th>
								<td>
									<input type="text" class="text" id="LC_GLN_CD" name="LC_GLN_CD" onblur="fn_setDataGrid('LC_GLN_CD')" maxlength="100">
								</td>
								<th>$!lang.getText("Y축")</th>
								<td>
									<input type="text" class="text" id="POSITION_Y" name="POSITION_Y" onblur="fn_setDataGrid('POSITION_Y')" maxlength="20">
								</td>
							</tr>			
							
							<tr>
								<th>$!lang.getText("바코드")</th>
								<td>
									<input type="text" class="text" id="LC_BARCODE_CD" name="LC_BARCODE_CD" onblur="fn_setDataGrid('LC_BARCODE_CD')" maxlength="100">
								</td>
								<th>$!lang.getText("Z축")</th>
								<td>
									<input type="text" class="text" id="POSITION_Z" name="POSITION_Z" onblur="fn_setDataGrid('POSITION_Z')" maxlength="20">
								</td>
							</tr>
							
							<tr>
								<th></th>
								<td></td>
								<th>$!lang.getText("랙방향")</th>
								<td>
									$!comCode.getComboComCode("RACK01", "RACK_DIRECTION", "", false, "", "onchange", 'fn_setDataGrid("RACK_DIRECTION", "sel")',"class='selectbox'")
								</td>
							</tr>
							
							<input type="hidden" class="text" id="LOC_ID" name="LOC_ID" onblur="fn_setDataGrid('LOC_ID')" maxlength="20">
						</tbody>
					</table>
					<input type="hidden" id="MAIN_ID" name="MAIN_ID">
				</div>
			
				<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
					
				<div class="detailViewWrap marT10">
					<div class="detailViewTitle">$!lang.getText("출고통제정보")</div>
					<table class="contentInFrom">
						<colgroup>
							<col width="25%"/> 
							<col width="25%"/>
							<col width="25%"/>
							<col width="25%"/>
						</colgroup>
							
						<tbody>	
							<tr>
								<th>$!lang.getText("출고통제")</th>
									<td>
										$!comCode.getComboComCode("COM09", "DLV_CNTL", "", true, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("DLV_CNTL", "sel")',"class='selectbox'")
									</td>
									<td colspan="2">
				<!-- 							<input type="button" id="new_pop" value="$!lang.getText('신규')" class="INS_AUTH"          name="btn_write" onclick="fn_Popup('WMSMS080E2');return false;"/> -->
								</td>
							</tr>
						</tbody>
					</table>
					<table id="detail"></table>
					<div id="detail_pjmap"></div>		
					<div id="dataTable"></div>	
				</div>
			</form>
		</div>
	</div>
</div>

<div id="jqContextMenu" class="overDialogSt">
	<div style='text-align:right; font-size:14px; cursor:pointer; background-color:#BCE55C; height:20px; padding-top : 5px; padding-right : 5px;' onClick='fn_contextWorkModal("C");'> 닫기 X </div>
	<br>
	<b>※)화살표방향:
	<label><input type="checkbox" id="arrowRedL" name="arrowRedL" value="arrowRedL"><b>(←좌)</b></label>
	<label><input type="checkbox" id="arrowRedR" name="arrowRedR" value="arrowRedR"><b>(→우)</b></label>
	<br>
	<br><b>1) 세로 / 2분할 / A4 (최대 n단)</b>
	<input type="button" value="(2단)" 	class="btnEtc"	style="width:30%; height:60px; margin:5px 0px 15px 0px;"	 name="btn_write" onclick="fn_totalLabelPrint(2);"	role="button" aria-disabled="false"/>
	<input type="button" value="(4단)" 	class="btnEtc"	style="width:30%; height:60px; margin:5px 0px 15px 0px;"	 name="btn_write" onclick="fn_totalLabelPrint(4);"	role="button" aria-disabled="false"/>
	<input type="button" value="(6단)" 	class="btnEtc"	style="width:30%; height:60px; margin:5px 0px 15px 0px;"	 name="btn_write" onclick="fn_totalLabelPrint(6);"	role="button" aria-disabled="false"/>
	<br><b>2) 세로 / 낱장 / 라벨 (n비율)</b>
	<input type="button" value="100%" 	class="btnEtc"	style="width:45%; height:60px; margin:5px 0px 15px 0px;"	 name="btn_write" onclick="fn_newBarcodeEA1();" 		role="button" aria-disabled="false"/>	
	<input type="button" value="50%:50%"class="btnEtc"	style="width:45%; height:60px; margin:5px 0px 15px 0px;"	 name="btn_write" onclick="fn_newBarcodeEA2();" 		role="button" aria-disabled="false"/>
	<br><b>3) 세로 / 3x9 / A4</b>
	<input type="button" value="3x9" 	class="btnEtc"	style="width:90%; height:60px; margin:5px 0px 15px 0px;"	 name="btn_write" onclick="fn_newBarcode();" 		role="button" aria-disabled="false"/>
	<br><b>4) 가로 / 3분할 / A4 (최대 n단)</b>
	<input type="button" value="(2단)" 	class="btnEtc"	style="width:30%; height:60px; margin:5px 0px 15px 0px;"	 name="btn_write" onclick="fn_newBarcodeSimple(2);" 	role="button" aria-disabled="false"/>
	<input type="button" value="(3단)" 	class="btnEtc"	style="width:30%; height:60px; margin:5px 0px 15px 0px;"	 name="btn_write" onclick="fn_newBarcodeSimple(3);" 	role="button" aria-disabled="false"/>
	<input type="button" value="(4단)" 	class="btnEtc"	style="width:30%; height:60px; margin:5px 0px 15px 0px;"	 name="btn_write" onclick="fn_newBarcodeSimple(4);" 	role="button" aria-disabled="false"/>
</div>