<div class="patternWrap">
    <form name="frm_list" id="frm_list">
	<table class="search" id="srchBox">
        <colgroup>
			<col width = "100px"/>
			<col width = "30%"/>
			<col width = "*"/>
			<col width = "50px"/>
        </colgroup>
        <tbody>
			<tr>
				<th>$!lang.getText('도크장코드')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchDockNo" id="vrSrchDockNo" onChange="vrSrchDockNo_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("DOCK");'  class="imgSearch"/> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchDockNm" id="vrSrchDockNm" onChange="vrSrchDockNm_OnKillFocus()"> 
					<input type="hidden" name="vrSrchDockCd" id="vrSrchDockCd"> 
				</td>
				<th>
					&nbsp;
				</th>			
				<th class="btnSearch">
					<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 		 role="button" aria-disabled="false" />	
				</th>
			</tr>
        </tbody>
    </table>
    <div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
    </form>
  
    <div class="btnArea">
        <div class="btnAreaLeft"></div>
        <div class="btnAreaRight">
        	<input type="button" value="$!lang.getText('엑셀입력')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload();" role="button" aria-disabled="false"/>
			<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('저장')" onClick="fn_save();" 	role="button" aria-disabled="false" /> 
			<input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('신규')" onclick="fn_new()" 		role="button" aria-disabled="false" /> 
			<input type="button" class="DEL_AUTH btnDelete" 		name="btn_write" value="$!lang.getText('삭제')" onClick="fn_delete();" 	role="button" aria-disabled="false" />				
			<input type="button" class="EXC_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()" role="button" aria-disabled="false" />
        </div>
    </div>
    
    <div class="detail_box column_2">
    	<div class="fl" style="width:39%">
			<table id="list" style="width:100%;"></table>
			<div id="pjmap"></div>
        </div>
        
        <div class="fr" style="width:59%">
        	<div class="detailViewWrap">
        		<div class="detailViewTitle">&nbsp;</div>	
                <form name='frm_detail'>
					<input type="hidden" name="GRID_ID" id="GRID_ID"/>
					<table class="contentView">
						<col width = "40%"/>
						<col width = "60%"/>
						<tr>
							<th>$!lang.getText("창고코드")</th>
							<td>
								<input type="text" class = "text" style="width: 40%" name = "WH_CD" id = "WH_CD" onChange="vrSrchWhCd_OnKillFocus()"/>
								<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
								<input type="hidden" name = "WH_ID" id = "WH_ID"/>
								<input type="text" class = "text" style="width: 40%" name = "WH_NM" id = "WH_NM" onChange="vrSrchWhNm_OnKillFocus()"/>
							</td>
						</tr>
						<tr>
							<th><span class="required">*</span>$!lang.getText("도크장코드")</th>
							<td>
								<input type="text" class = "text" name = "DOCK_CD" id = "DOCK_CD" onblur="fn_setDataGrid('DOCK_CD')"/>
							</td>
						</tr>
						<tr>
							<th><span class="required">*</span>$!lang.getText("도크장명")</th>
							<td>
								<input type="text" class = "text" name = "DOCK_NM" id = "DOCK_NM" onblur="fn_setDataGrid('DOCK_NM')"/>
							</td>
						</tr>
						<tr>
							<th>$!lang.getText("도크장순번")</th>
							<td>
								<input type="text" class = "text" name = "SEQ" id = "SEQ" onblur="fn_setDataGrid('SEQ')" maxlength="3"/>
							</td>
						</tr>
						<tr>
							<th>$!lang.getText("진입가능톤수")</th>
							<td>
								$!comCode.getComboComCode('CAR02', 'IN_TON', '', true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("IN_TON", "sel")', 'class="selectbox"')
							</td>
						</tr>
						<tr>  
							<th>$!lang.getText("차량번호")</th>	
							<td>
								<input type="text" class = "text" style="width: 80%" name = "CAR_CD" id = "CAR_CD" onblur="fn_setDataGrid('CAR_CD')"/>
								<input type="hidden" name = "CAR_ID" id = "CAR_ID" onblur="fn_setDataGrid('CAR_ID')"/>
								<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CAR");' class="imgSearch"/> 
							</td>
						</tr>
						<tr>
							<th>$!lang.getText("비고")</th>
							<td>
								<input type="text" class = "text" name = "REMARK" id = "REMARK" onblur="fn_setDataGrid('REMARK')"/>
							</td>
						</tr>
						<tr>
							<td style="height:325px;" colspan="2"></td>
						</tr>
					</table>
            	</form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>