<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
	            <col width = "100px">
	            <col width = "24%">
	            <col width = "100px">
	            <col width = "20%">
	            <col width = "100px">
	            <col width = "24%">
	            <col width = "50px">
			</colgroup>
			<tbody>
				<tr>
					#if($adminInfo.getCustId() == $ss_user_gb)
						<th>$!lang.getText("화주")</th>
						<td>
							<input type="text" class="readOnly" name="S_CUST_CD" id="S_CUST_CD" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
							<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
							<input type="text" class="readOnly" name="S_CUST_NM" id="S_CUST_NM" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
							<input type="hidden" name="S_CUST_ID" id="S_CUST_ID" value="$ss_cmpy_id"/>
						</td>
					#else
						<th>$!lang.getText("화주")</th>
							<td>
							<input type="text" class = "text" style="width: 42%" name="S_CUST_CD" id="S_CUST_CD" onChange="txtSrchCustCd_OnKillFocus()"> 
							<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch" /> 
							<input type="text" class = "text" style="width: 42%" name="S_CUST_NM" id="S_CUST_NM" onChange="txtSrchCustNm_OnKillFocus()"> 
							<input type="hidden" name="S_CUST_ID" id="S_CUST_ID"> 
						</td>
					#end
					<th class="thBar">$!lang.getText('상품군')</th>
					<td>
						<select name='S_ITEM_GRP_ID' id='S_ITEM_GRP_ID' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					<th class="thBar">$!lang.getText('상품코드')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="S_ITEM_CD" id="S_ITEM_CD" onChange="txtSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="S_ITEM_NM" id="S_ITEM_NM" onChange="txtSrchItemNm_OnKillFocus()"> 
					</td>
					<th class="btnSearch" rowspan="2">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" />	
					</th>
				</tr>
				<tr>
					<th>$!lang.getText("임가공여부")</th>
					<td>
						$!comCode.getComboComCode("COM09", "S_SET_ITEM_YN", "", true, "$!lang.getText('전체')", "", "","class='selectbox' style='width:80px'")
					</td>
					<th></th>
					<td>
					</td>
					<th>$!lang.getText("색상")</th>
					<td> 
						<input type = "text"  style="width: 40%"class = "text" name="ITEM_SHORT_NM" id="ITEM_SHORT_NM" >
					</td>
				</tr>
			</tbody>
		</table>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		<div id = "formData5" style = "visibility : hidden ; width : 0 ; height : 0"></div>  
	</form>
    <div class="btnArea">
        <div class="btnAreaLeft">      	
        </div>
        <table>
			<tr>
				<td>
			        <div class="btnAreaRight" id="btnAreaRight">
			        	<!-- PAH HUB센터 일 경우 -->
			        	<input type="button" value="$!lang.getText('중복바코드')"	class="INS_AUTH btnEtc"				name="btnDuplicatePop"	 onclick="fn_getDuplicateBarcd();"		role="button" aria-disabled="false"/>
						<input type="button" value="$!lang.getText('센터동기화')"	class="INS_AUTH btnEtc"				name="btnSync"	 onclick="fn_lcSync('WMSMS090');"		role="button" aria-disabled="false"/>
			        	<input type="button" value="$!lang.getText('엑셀입력')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload();" role="button" aria-disabled="false"/>
			           	<input type="button" class="INS_AUTH  UPD_AUTH btnSave" 		name="btn_write" value="$!lang.getText('저장')" onClick="fn_saveDtl(0);" 	role="button" aria-disabled="false"/> 
						<input type="button" class="INS_AUTH btnEtc" 					name="btn_write" value="$!lang.getText('신규')" onclick="fn_new()" 		role="button" aria-disabled="false"/> 
						<input type="button" class="DEL_AUTH btnDelete" 				name="btn_write" value="$!lang.getText('삭제')" onClick="fn_delete();" 	role="button" aria-disabled="false"/>
						<input type="button" class="EXC_AUTH btnExcel"					name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()" role="button" aria-disabled="false"/>
			        </div>
		        </td>
	        </tr>
        </table>
    </div>
    
    <div class="detail_box column_2">
    	<div class="fl" style="width:44%;">
    		<div class="btnArea">
				<div class = "btnAreaRight">
					<input type="button" value="$!lang.getText('상품재등록')" 	class="INS_AUTH btnEtc"		 name="btn_reinsert" onclick="fn_reinsert();" role="button" aria-disabled="false"/>
					<input type="button" value="$!lang.getText('바코드출력')" 	class="btnEtc"		 name="btn_write" onclick="fn_barcodePrint();" role="button" aria-disabled="false"/>
					<input type="button" value="$!lang.getText('바코드생성')" 	class="btnEtc"		 name="btn_write" onclick="fn_poolListPrint();" role="button" aria-disabled="false"/>
				</div>
			</div>
			<div class = "list_box">
				<table id="list1" style="width:100%;"></table>
				<div id="pjmap1"></div>
			</div>
    	</div>
    	<div class="fr" style="width:54%">
    		<div>
    			<div class="detailViewWrap">
	            	<div class="detailViewTitle">$!lang.getText('상품정보')</div>
	     			<form name='frm_detail'>
						<input type="hidden" name="RITEM_ID" id="RITEM_ID"/>
						<input type="hidden" name="GRID_ID" id="GRID_ID"/>
		     	        <table class="contentView">
		                    <colgroup>
		                        <col width="25%">
		                        <col width="25%">
		                        <col width="25%">
		                        <col width="25%">
		                    </colgroup>
		                    <tbody>
		             			<tr>
		             			<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('화주')</th>
									<td>
										<input type="text" class = "text" style="width: 40%" name="CUST_CD" id="CUST_CD" onChange = "txtCustCd_OnKillFocus()"> 							
										<img src="/img/exam/btn/ico_search.gif" onClick="fn_Popup('CUST2');" class="imgSearch" />
										<input type="text" class = "text" style="width: 40%" name="CUST_NM" id="CUST_NM" onChange = "txtCustNm_OnKillFocus()" >
										<input type="hidden" name="CUST_ID" id="CUST_ID" onblur="fn_setDataGrid('CUST_ID')"> 
									</td>
									<th><img src="/img/exam/ico_006.gif" class="imgclass" />$!lang.getText('상품군')</th>
									<td>
										<select name='ITEM_GRP_ID' id='ITEM_GRP_ID' onChange="fn_setDataGrid('ITEM_GRP_ID', 'sel')">
											<option value=" ">$!lang.getText("선택")</option>
											#foreach($row in $ITEMGRP)
											<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
											#end
										</select>
									</td>									
								</tr>
								<tr>
									<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('상품코드')</th>
									<td>
										<input type="text" class = "text" name="ITEM_CODE" id="ITEM_CODE" maxlength="200" onkeyDown="cfn_setCodeFld2('ITEM_CODE')"	onblur="fn_setDataGrid('ITEM_CODE')" onChange="fn_overapCheck('ITEM_CODE')">
									</td>
									<th>$!lang.getText('상품명')($!lang.getText('영어'))</th>
									<td>
										<input type="text" class = "text" name="ITEM_ENG_NM" id="ITEM_ENG_NM" maxlength="200" onblur="fn_setDataGrid('ITEM_ENG_NM')">
									</td>
								</tr>
								<tr>
									<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('상품명')($!lang.getText('현지어'))</th>
									<td>
										<input type="text" class = "text" name="ITEM_KOR_NM" id="ITEM_KOR_NM" maxlength="100" onblur="fn_setDataGrid('ITEM_KOR_NM')">
									</td>		
																
									<th>$!lang.getText('색상')</th>
									<td>
										<input type="text" class = "text" name="ITEM_SHORT_NM" id="ITEM_SHORT_NM" maxlength="200" onblur="fn_setDataGrid('ITEM_SHORT_NM')">
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('고객상품코드')</th>
									<td>
										<input type="text" class = "text" name="CUST_LEGACY_ITEM_CD" id="CUST_LEGACY_ITEM_CD"  maxlength="100" onkeyDown="cfn_setCodeFld2('CUST_LEGACY_ITEM_CD')" onblur="fn_setDataGrid('CUST_LEGACY_ITEM_CD')">
									</td>
									<th>$!lang.getText('MAKER이름')</th>
									<td>
										<input type="text" class = "text" name="MAKER_NM" id="MAKER_NM" maxlength="100" onblur="fn_setDataGrid('MAKER_NM')">
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('상품구분코드')</th>
									<td>
										<input type="text" class = "text" name="ITEM_DEVISION_CD" id="ITEM_DEVISION_CD" maxlength="100" onblur="fn_setDataGrid('ITEM_DEVISION_CD')">
									</td>
									<th>$!lang.getText('화주상품코드')</th>
									<td>
										<input type="text" class = "text" name="CUST_ITEM_CD" id="CUST_ITEM_CD" maxlength="100" onblur="fn_setDataGrid('CUST_ITEM_CD')">
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('기본')$!lang.getText('입고존')</th>
									<td>
										<input type="text" class = "text" style='width: 70%' name="IN_ZONE_NM" id="IN_ZONE_NM" onChange="txtInZoneNm_OnKillFocus()"><!-- onChange="txtInZoneNm_OnKillFocus()" -->
										<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ZONE");' class="imgSearch"/>
										<input type="hidden" name="IN_ZONE" id="IN_ZONE" onChange="fn_setDataGrid('IN_ZONE')"> 
									</td>	
									<th>$!lang.getText('내수/수출구분')</th>
									<td>
										$!comCode.getComboComCode("ITM16", "IN_OUT_BOUND", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("IN_OUT_BOUND", "sel")',"class='selectbox'")
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('기본')$!lang.getText('출고존')</th>
									<td>
										<input type="text" class = "text" style='width: 70%' name="OUT_ZONE_NM" id="OUT_ZONE_NM" onChange="txtOutZoneNm_OnKillFocus()"><!--  onChange="txtOutZoneNm_OnKillFocus()" -->
										<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ZONE_OUT");' class="imgSearch"/>
										<input type="hidden" name="OUT_ZONE" id="OUT_ZONE" onChange="fn_setDataGrid('OUT_ZONE')"> 
									</td>	
									<th>$!lang.getText('입고거래처존')</th>
									<td>
										<input type="text" class = "text" style='width: 70%' name="IN_CUST_ZONE_NM" id="IN_CUST_ZONE_NM" onChange="txtInCustZoneNm_OnKillFocus()"><!-- onChange="txtInCustZoneNm_OnKillFocus()"-->
										<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST_ZONE");' class="imgSearch"/>
										<input type="hidden" name="IN_CUST_ZONE" id="IN_CUST_ZONE" onChange="fn_setDataGrid('IN_CUST_ZONE')"> 
									</td>
								</tr>
								<tr>									
									<th>ITF CODE</th>
									<td>
										<input type="text" class = "text" name="ITF_CD" id="ITF_CD" onblur="fn_setDataGrid('ITF_CD')" onkeyDown="cfn_setCodeFld2('ITF_CD')" maxlength="20">
									</td>	
									<th>$!lang.getText('출고거래처존')</th>
									<td>
										<input type="text" class = "text" style='width: 70%' name="OUT_CUST_ZONE_NM" id="OUT_CUST_ZONE_NM" onChange="txtOutCustZoneNm_OnKillFocus()"><!-- onChange="txtOutCustZoneNm_OnKillFocus()" -->
										<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST_ZONE_OUT");' class="imgSearch"/>
										<input type="hidden" name="OUT_CUST_ZONE" id="OUT_CUST_ZONE" onChange="fn_setDataGrid('OUT_CUST_ZONE')"> 
									</td>
								</tr>
								<tr>					
									<th>$!lang.getText('박스바코드')</th>
									<td>
										<input type="text" class = "text" name="BOX_BAR_CD" id="BOX_BAR_CD" onblur="fn_setDataGrid('BOX_BAR_CD')" onkeyDown="cfn_setCodeFld2('BOX_BAR_CD')" maxlength="100">
									</td>
									<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('대표UOM')</th>
									<td id="UOM_BTN">
										<input type="text" class = "text" style='width: 70%' name="REP_UOM_CD" id="REP_UOM_CD" onChange="txtUomCd_OnKillFocus()" > <!-- disabled='disabled' -->
										<input type="hidden" name="REP_UOM_ID" id="REP_UOM_ID" onblur="fn_setDataGrid('REP_UOM_ID')" >					
									</td>						
								</tr>
								<tr>								
									<th><img src="/img/exam/ico_006.gif" class="imgclass" />$!lang.getText('상품바코드')</th>
									<td>
										<input type="text" class = "text" name="ITEM_BAR_CD" id="ITEM_BAR_CD" onblur="fn_setDataGrid('ITEM_BAR_CD')" onkeyDown="cfn_setCodeFld2('ITEM_BAR_CD')" maxlength="50">
										<input type="hidden" name="ESSENTIAL" id="ESSENTIAL"/>
									</td>
									<th>TAG PREFIX</th>
									<td>
										<input type="text" class = "text" name="TAG_PREFIX" id="TAG_PREFIX" onblur="fn_setDataGrid('TAG_PREFIX')" maxlength="20">
									</td>
								</tr>
								<tr>								
									<th>$!lang.getText('고객상품바코드')</th>
									<td>
										<input type="text" class = "text" name="CUST_BARCODE" id="CUST_BARCODE" onblur="fn_setDataGrid('CUST_BARCODE')" onkeyDown="cfn_setCodeFld2('CUST_BARCODE')" maxlength="50">
									</td>
									<th>$!lang.getText('BOX EPC CODE')</th>
									<td>	
										<input type="text" class = "text" name="BOX_EPC_CD" id="BOX_EPC_CD" onblur="fn_setDataGrid('BOX_EPC_CD')" onkeyDown="cfn_setCodeFld2('BOX_EPC_CD')" maxlength="100">
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('색상')</th>
									<td>
										<input type="text" class = "text" name="COLOR"  id="COLOR"  style="width: 60%; margin-right:-5px;" maxlength="20" onblur="fn_setDataGrid('COLOR')">
										<input type="button" class="jscolor{valueElement:'valueInput', styleElement:'styleInput'}" name="COLOR_VIEW_BTN" id="COLOR_VIEW_BTN" style="background-color:#FFFFFF; border-radius:0px; border:1; width:51px; height:23px; margin-top:-1px;"/>
										<input type="hidden" id="valueInput" name="valueInput" value="FFFFFF" onChange="valueInput_OnKillFocus()"><br>
										<input type="hidden" id="styleInput">
										<!-- hidden -->
									</td>
									<th>EPC CODE</th>
									<td>
										<input type="text" class = "text" name="ITEM_EPC_CD" id="ITEM_EPC_CD"  maxlength="100" onkeyDown="cfn_setCodeFld2('ITEM_EPC_CD')" onblur="fn_setDataGrid('ITEM_EPC_CD')">
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('상품중량')</th>
									<td> 
										<input type="text" class = "text" style='width: 65%; text-align:right' name="ITEM_WGT" id="ITEM_WGT"  maxlength="10" onkeyPress="cfn_setFldToNumberFld(ITEM_WGT)" onblur="fn_setDataGrid('ITEM_WGT')">&nbsp;$!lang.getText('KG')
									</td>
									<th>$!lang.getText('가로')-$!lang.getText('세로')-$!lang.getText('높이')</th>
									<td>
										<input type="text"	class="text"	id="SIZE_W"	name="SIZE_W"	style="width:20%; text-align:right"	onblur="fn_setDataGrid('SIZE_W')"	onkeyPress="cfn_setFldToNumberFld(SIZE_W)"	maxlength="6">-
										<input type="text"	class="text"	id="SIZE_L"	name="SIZE_L"	style="width:20%; text-align:right"	onblur="fn_setDataGrid('SIZE_L')"	onkeyPress="cfn_setFldToNumberFld(SIZE_L)"	maxlength="6">-
										<input type="text"	class="text"	id="SIZE_H"	name="SIZE_H"	style="width:20%; text-align:right"	onblur="fn_setDataGrid('SIZE_H')"	onkeyPress="cfn_setFldToNumberFld(SIZE_H)"	maxlength="6">&nbsp;$!lang.getText('mm')
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('단가')</th>
									<td>
										<input type="text" class = "text" style='width: 65%; text-align:right' name="UNIT_PRICE" id="UNIT_PRICE"  maxlength="20" onkeyPress="return cfn_isNumberKey(event)" onkeyup="return cfn_delHangle(event)" onblur="fn_setDataGrid('UNIT_PRICE')">&nbsp;$!lang.getText('KRW')
									</td>
									<th>$!lang.getText('통화명')</th>
									<td>
										$!comCode.getComboComCode("CRCY", "CURRENCY_NAME", "", false, "", "onchange", 'fn_setDataGrid("CURRENCY_NAME", "sel")',"class='selectbox'")
									</td>
								<!--
									<th>$!lang.getText('유통기간')</th>
									<td>
										<input type="text" class = "text" style='width: 70%' name="EXPIRY_DATE" id="EXPIRY_DATE" size="10"	maxlength="10"	onkeydown="cfn_setDateFld('EXPIRY_DATE')" onChange="fn_setDataGrid('EXPIRY_DATE')">
									</td>
								-->
								</tr>
								<tr>
									<th>$!lang.getText('판매가')</th>
									<td>
										<input type="text" class = "text" style='width: 65%; text-align:right' name="SALES_PRICE" id="SALES_PRICE"  maxlength="20" onkeyPress="return cfn_isNumberKey(event)" onkeyup="return cfn_delHangle(event)" onblur="fn_setDataGrid('SALES_PRICE')">&nbsp;$!lang.getText('KRW')
									</td>
									<th></th>
									<td></td>
								</tr>
								<tr>
									<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('임가공상품여부')</th>
									<td>
										$!comCode.getComboComCode("COM09", "SET_ITEM_YN", "", false, "", "onchange", 'fn_setDataGrid("SET_ITEM_YN", "sel")',"class='selectbox'")
									</td>
									<th>$!lang.getText('임가공상품타입')</th>
									<td>
										$!comCode.getComboComCode("COM11", "SET_ITEM_TYPE", "Y", false, "", "onchange", 'fn_setDataGrid("SET_ITEM_TYPE", "sel")',"class='selectbox'")												
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('용적')</th>
									<td>
										<input type="text" class = "text" style='width: 65%; text-align:right' name="ITEM_CAPACITY" id="ITEM_CAPACITY"  maxlength="10" onkeyPress="cfn_setFldToNumberFld(ITEM_CAPACITY)" onblur="fn_setDataGrid('ITEM_CAPACITY')">&nbsp;$!lang.getText('CBM')										
									</td>
									<th>$!lang.getText('크기')</th>
									<td> 
										<input type="text" class = "text" name="ITEM_SIZE" id="ITEM_SIZE" onblur="fn_setDataGrid('ITEM_SIZE')" onkeyDown="cfn_setCodeFld2('ITEM_SIZE')" maxlength="20">
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('적정재고수량')</th>
									<td>
										<input type="text" class = "text" style='text-align:right' name="PROP_QTY" id="PROP_QTY" maxlength="8" onkeyPress="cfn_setFldToFigureFld(PROP_QTY)" onblur="fn_setDataGrid('PROP_QTY')" >
									</td>
									<th>$!lang.getText('작업시간')($!lang.getText('초'))</th>
									<td>
										<input type="text" class = "text" style='width: 65%; text-align:right' name="WORKING_TIME" id="WORKING_TIME"  maxlength="20" onkeyPress="cfn_setFldToFigureFld(WORKING_TIME)" onblur="fn_setDataGrid('WORKING_TIME')">&nbsp;$!lang.getText('SEC')
									</td>
								</tr>
								<!-- 업데이트반영 -->
								<tr>
									<th>$!lang.getText('출하등급')</th>
									<td>	
										$!comCode.getComboComCode("ITM08", "SHIP_ABC", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("SHIP_ABC", "sel")',"class='selectbox'")
									</td>
									<th>$!lang.getText('적정재고일수')</th>
									<td>
										<input type="text" class = "text" style='width: 65%; text-align:right'  name="PROP_STOCK_DAY" id="PROP_STOCK_DAY"  maxlength="3"  onkeyPress="cfn_setFldToFigureFld(PROP_STOCK_DAY)" onblur="fn_setDataGrid('PROP_STOCK_DAY')">
										&nbsp;$!lang.getText('일')
									</td>
								</tr>
								<!-- 추가된부분 -->
								<tr>
									<th><img src="/img/exam/ico_006.gif" class="imgclass" />$!lang.getText('상품관리TYPE')</th>
									<td>
										$!comCode.getComboComCode("TYPE", "TYPE_ST", "", false, "", "onchange", 'fn_setDataGrid("TYPE_ST", "sel")',"class='selectbox'")
									</td>
									<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('입고LOT사용여부')</th>
									<td>
										$!comCode.getComboComCode("COM09", "LOT_USE_YN", "", false, "", "onchange", 'fn_setDataGrid("LOT_USE_YN", "sel")',"class='selectbox'")
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('무게등급')</th>
									<td>
										$!comCode.getComboComCode("ITM13", "WEIGHT_CLASS", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("WEIGHT_CLASS", "sel")',"class='selectbox'")
									</td>
									<th>$!lang.getText('유효기간')</th>
									<td>
										<input type="text" class = "text" name="BEST_DATE_NUM" id="BEST_DATE_NUM" style="text-align:right" maxlength="6" onblur="fn_setDataGrid('BEST_DATE_NUM')" onkeyPress="cfn_setFldToFigureFld(BEST_DATE_NUM)" disabled='disabled'  >
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('유통기간통제기준')</th>
									<td>
										$!comCode.getComboComCode("BDT", "BEST_DATE_TYPE", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("BEST_DATE_TYPE", "sel")',"class='selectbox'")
									</td>
									<th>$!lang.getText('소비기한')</th>
									<td>
										<input type="text" class = "text" name="USE_DATE_NUM" id="USE_DATE_NUM" style="text-align:right" maxlength="6" onblur="fn_setDataGrid('USE_DATE_NUM')" onkeyPress="cfn_setFldToFigureFld(USE_DATE_NUM)" disabled='disabled'>
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('출하최소유효기간')</th>
									<td>
										<input type="text" class = "text" style="text-align:right" name="OUT_BEST_DATE_NUM" id="OUT_BEST_DATE_NUM" maxlength="6" onblur="fn_setDataGrid('OUT_BEST_DATE_NUM')"  onkeyPress="cfn_setFldToFigureFld(OUT_BEST_DATE_NUM)" >
									</td>
									<th>$!lang.getText('유효기간단위')</th>
									<td>
										$!comCode.getComboComCode("YMD", "BEST_DATE_UNIT", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("BEST_DATE_UNIT", "sel")',"class='selectbox' disabled='true'")												
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('입고최소유효기간')</th>
									<td>
										<input type="text" class = "text" style="text-align:right" name="IN_BEST_DATE_NUM" id="IN_BEST_DATE_NUM" maxlength="6" onblur="fn_setDataGrid('IN_BEST_DATE_NUM')" onkeyPress="cfn_setFldToFigureFld(IN_BEST_DATE_NUM)" >
									</td>
									<th>$!lang.getText('소비기한단위')</th>
									<td>
										$!comCode.getComboComCode("YMD", "USE_DATE_UNIT", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("USE_DATE_UNIT", "sel")',"class='selectbox' disabled='true'")
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('출고자동주문사용여부')</th>
									<td>
										$!comCode.getComboComCode("USEYN", "AUTO_OUT_ORD_YN", "", false, "", "onchange", 'fn_setDataGrid("AUTO_OUT_ORD_YN", "sel")',"class='selectbox'")
									</td>
									<th>$!lang.getText('출하최소유효기간단위')</th>
									<td>
										$!comCode.getComboComCode("YMD", "OUT_BEST_DATE_UNIT", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("OUT_BEST_DATE_UNIT", "sel")',"class='selectbox'")							
									</td>
								</tr>
								<tr>
									<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText("출고추천타입")</th>
									<td>
										$!comCode.getComboComCode("OUTLOC", "OUT_LOC_REC", "", false, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("OUT_LOC_REC", "sel")', "class='selectbox'")
									</td>
									<th>$!lang.getText('입고최소유효기간단위')</th>
									<td>
										$!comCode.getComboComCode("YMD", "IN_BEST_DATE_UNIT", "", true, "$!lang.getText('선택')", "onchange", 'fn_setDataGrid("IN_BEST_DATE_UNIT", "sel")',"class='selectbox'")
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('LOT_PREFIX')</th>
									<td>
										<input type="text" class = "text" name="LOT_PREFIX" id="LOT_PREFIX" onblur="fn_setDataGrid('LOT_PREFIX')" onkeyDown="cfn_setCodeFld2('LOT_PREFIX')" maxlength="20">
									</td>
									<th>$!lang.getText('물류용기자동계산')</th>
									<td>
										$!comCode.getComboComCode("USEYN", "AUTO_CAL_PLT_YN", "", false, "", "onchange", 'fn_setDataGrid("AUTO_CAL_PLT_YN", "sel")',"class='selectbox'")
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('팔레트관리여부')</th>
									<td>	
										$!comCode.getComboComCode("COM09", "PLT_YN", "", false, "", "onchange", 'fn_setDataGrid("PLT_YN", "sel")',"class='selectbox'")
									</td>
									<th>$!lang.getText('REWORK여부')</th>
									<td>
										$!comCode.getComboComCode("COM09", "REWORK_ITEM_YN", "", false, "", "onchange", 'fn_setDataGrid("REWORK_ITEM_YN", "sel")',"class='selectbox'")
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('사용여부')</th>
									<td>	
										$!comCode.getComboComCode("USEYN", "USE_YN", "", false, "", "onchange", 'fn_setDataGrid("USE_YN", "sel")',"class='selectbox'")
									</td>
									<th>$!lang.getText('품온구분')</th>
									<td>
										$!comCode.getComboComCode("ITEM_TMP", "ITEM_TMP", "", false, "", "onchange", 'fn_setDataGrid("ITEM_TMP", "sel")',"class='selectbox'")
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('기본')$!lang.getText('고정로케이션')</th>
									<td>
										<input type="text" class = "text" style='width: 42%' name="FIX_LOC_NM" id="FIX_LOC_NM" readonly="readonly"><!-- onChange="txtInZoneNm_OnKillFocus()" -->
										<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("FIX_LOC");' class="imgSearch"/>
										<input type="text" class = "text" style='width: 42%' name="FIX_LOC_CD" id="FIX_LOC_CD" onChange="fixLocCd_OnKillFocus()"><!-- onChange="txtInZoneNm_OnKillFocus()" -->
										<input type="hidden" name="FIX_LOC_ID" id="FIX_LOC_ID"> 
									</td>	
									
									<th>$!lang.getText("입고추천타입")</th>
									<td>
										$!comCode.getComboComCode("RCV_RCM_TY", "IN_LOC_REC", "", false, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("IN_LOC_REC", "sel")', "class='selectbox'")
									</td>
									
								</tr>
								<tr>
									<th>$!lang.getText('단위수량(입수)')</th>
									<td>
										<input type="text" class = "text" name="UNIT_QTY" id="UNIT_QTY" onblur="fn_setDataGrid('UNIT_QTY')" onkeyDown="fn_setDataGrid('UNIT_QTY')" maxlength="20">
									</td>
									<th>$!lang.getText('단위명')</th>
									<td>
										<input type="text" class = "text" name="UNIT_NM" id="UNIT_NM" onblur="fn_setDataGrid('UNIT_NM')" onkeyDown="fn_setDataGrid('UNIT_NM')" maxlength="20">
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('상품설명')</th>
									<td colspan="4">
										<input type="text" class = "text" name="ITEM_DESC" id="ITEM_DESC" onblur="fn_setDataGrid('ITEM_DESC')" maxlength="1000">
									</td>
								</tr>
								<tr>
									<th>$!lang.getText('상품이미지')</th>
									<td colspan="4">
										<table width="100%">
											<tr>
												<td colspan="3"> 
													<input type="text"   class='readOnly' style='width:45%' name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME' readonly="readonly" />
													<input type="button" class='btnEtc'   style='width:15%; height:23px;' value="$!lang.getText('선택')" name='btn_write' id='IMAGE_SEL' onclick='fn_fileSearch("ITEM"); return false;'/>
													<input type="button" class='btnEtc'   style='width:20%; height:23px;' name="IMAGE_GET" id="IMAGE_GET" value="$!lang.getText('다운로드')" onclick='fn_fileOpen(); return false;'/>
													<input type="button" class='INS_AUTH  UPD_AUTH btnSave'   style='width:15%; height:23px;' name="IMAGE_SAV" id="IMAGE_SAV" value="$!lang.getText('저장')" onclick='fn_fileSave(); return false;'/>
													<input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE'/>
													<input type="hidden" name='ORG_FILENAME' id='ORG_FILENAME'/>
													<input type="hidden" name='FILE_SIZE' id='FILE_SIZE'/>
													<input type="hidden" name="FILE_STATE" id="FILE_STATE"/>
													<input type="hidden" name="FILE_ID" id="FILE_ID"/>	
													<input type="hidden" name="C_ORG_FILENAME" id="C_ORG_FILENAME"/>	
													<input type="hidden" name="C_ORG_ATCH_FILE_ROUTE" id="C_ORG_ATCH_FILE_ROUTE"/>
												</td>
											</tr>
										</table>	
									</td>
								</tr>							
		                    </tbody>
		                </table>
	                </form>
	                <iframe name="filechecklist" src="/jsp/fileuploadMt.jsp" style="visibility : hidden ; width : 0 ; height : 0" ></iframe>
	        	</div>
	       	</div> 	
	        	
   		  	<div class="btnArea marT10">
		        <div class="btnAreaRight">
					<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('저장')" onClick="fn_subSave();" /> 
					<input type="button" class="INS_AUTH btnEtc" 			name="btn_write" value="$!lang.getText('신규')" onclick="fn_subNew()" /> 
					<input type="button" class="DEL_AUTH btnDelete" 		name="btn_write" value="$!lang.getText('삭제')" onClick="fn_subDelete();" />
		        </div>
		   	</div>
			<div class="list_box">
				<div class="detailViewWrap">
				    <form name = "frm_data">
					<div id = "formData2" style = "visibility : hidden ; width : 0 ; height : 0"></div>
					</form>
	   				<table id="list2" style="width:100%;"></table>
					<!-- <div id="pjmap2"></div> -->
	        	</div>
			</div>
        	
    	</div>
    </div>
</div>

<div id="dataTable"></div>
<img id = "initData" style = "visibility : hidden ; width : 0 ; height : 0"></img>

<form name="frm_listRestApi">
	<div id = "formDataRestApi" style = "visibility : hidden ; width : 0 ; height : 0"></div>
</form>

<input type="hidden" name="SUB_ID" id="SUB_ID"/>
<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>