<div class="patternWrap">
	<form name="frm_list">
		<table class="search">
			<colgroup>
				<col width="100px"/> 
				<col width="30%"/>
				<col width="100px"/>
				<col width="30%"/>
				<col width="100px"/>
				<col width="30%"/>
		
				<col width="50px"/>		
			</colgroup>
			<tr>
				<th>$!lang.getText('마감구분')</th>
				<td>
					$!comCode.getComboComCode("ACC16", "S_CLOSE_GB", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
				</td>
				<th>$!lang.getText('업무')</th>
				<td>
					$!comCode.getComboComCode("WORK01", "S_WORK_TYPE", "", true, "$!lang.getText('전체업무')", "", "","class='selectbox'")
				</td>	
				<th>$!lang.getText('화주')</th>
				<td>
					<input type="text" class="text" name="vrSrchCustCd" id="vrSrchCustCd" style="width:42%;" onChange="vrSrchCustCd_OnKillFocus()" />
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch" onclick="fn_Popup('WMSCM011', 'fn_setWMSCM011');return false;">
					<input type="text" class="text" name="vrSrchCustNm" id="vrSrchCustNm" style="width:42%;" onChange="vrSrchCustNm_OnKillFocus()"/>
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
				</td>
		
				<th class="btnSearch">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>	
			</tr>
		</table>
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnSave" name="btn_write" onclick="fn_save();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('신규')" class="INS_AUTH btnEtc"           name="btn_write" onclick="fn_new();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete"        name="btn_write" onclick="fn_delete();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"         name="btn_write" onclick="fn_excelDown();"/>
		</div>
	</div>	

	<div class="detail_box column_2">
		<div class="fl" style="width:55%">
			<table id="list"></table>
			<div id="pjmap"></div>	
		</div>
		
		
		<div class="fr" style="width:44%">
			<div class="detailViewWrap">
				<form name="frm_detail" id="frm_detail">
				<div class="detailViewTitle">$!lang.getText("마감정보")</div>						
				
				<table class="contentView borderBottom">
	    			<colgroup>	
	    				<col width="20%"/>
						<col width="80%"/>
	    			</colgroup>
	    			<tr>
	    				<th>$!lang.getText('마감구분')</th>
	    				<td>
							$!comCode.getComboComCode("ACC16", "CLOSE_GB", "", true, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("CLOSE_GB", "sel", "fn_init_gubun")', "class='selectbox'")
						</td>
	    			</tr>
	    			<tr>
	    				<th>$!lang.getText('업무')</th>
	    				<td>
	    					$!comCode.getComboComCode("WORK01", "WORK_TYPE", "", true, "$!lang.getText('전체')", 'onchange', 'fn_setDataGrid("WORK_TYPE", "sel")', "class='selectbox'")
	    				</td>
	    			</tr>
	    			
	    			<tr>
						<th>$!lang.getText('권한')</th>
						<td>
							<select name="AUTH_CD" id="AUTH_CD" class="selectbox" onChange="fn_setDataGrid('AUTH_CD', 'sel')" >
	    						<option value="">$!lang.getText("전체")</option>
	    						#set($size = $AUTH.size()) 
	    						#set($cnt = 1)";
	    						#foreach($edit in $AUTH)
	    							<option value="$edit.CODE_CD">$edit.CODE_NM</option>
	    							#if($cnt < $size);
	    								#set($cnt = $cnt+1)
	    							#end
	    						#end"	
	    					</select>
						</td>		
					</tr>
	    			<tr>
						<th>$!lang.getText('화주')</th>
						<td>
							<input type="text" class="text" name="CUST_CD" id="CUST_CD" style="width:42%;" onChange="detalCustCd_OnKillFocus()" />
							<img src="/img/exam/btn/ico_search.gif" class="imgSearch" onclick="fn_Popup('WMSCM011', 'fn_setWMSCM011_detail');return false;">
							<input type="text" class="text" name="CUST_NM" id="CUST_NM" style="width:42%;" onChange="detailCustNm_OnKillFocus()" />
							<input type="hidden" name="CUST_ID" id="CUST_ID" onChange="fn_setDataGrid("CUST_ID")">
						</td>			
					</tr>							
					<tr>
						<th colspan="2" class="text-left borderTop borderBottom">▶ $!lang.getText('마감일자(수동/자동)')</th>
					</tr>		
					<tr>
						<th>$!lang.getText('마감일자')</th>
						<td>
							<input type="text" class="text" name="CLOSE_DATE" id="CLOSE_DATE" style="width:40%" onChange="fn_setDataGrid('CLOSE_DATE')"/>						
						</td>		
					</tr>	
					<tr>
						<th>$!lang.getText('자동여부')</th>
						<td>
							$!comCode.getComboComCode("COM09", "AUTO_YN", "", true, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("AUTO_YN", "sel", "fn_init_auto")', "class='selectbox'")
						</td>			
					</tr>					
					
					<tr name="row_month">
						<th colspan="2" class="text-left borderTop borderBottom">▶ $!lang.getText('월마감')</th>				
					</tr>	
					<tr name="row_month">
						<th>$!lang.getText('시작월일')</th>
						<td>
							$!comCode.getComboComCode("ACC08", "START_MM", "", true, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("START_MM", "sel")', "class='selectbox'; style='width:44%;'")&nbsp;&nbsp;
							$!comCode.getComboComCode("ACC09", "START_DD", "", true, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("START_DD", "sel")', "class='selectbox'; style='width:44%;'")
						</td>		
					</tr>	
					<tr name="row_month">
						<th>$!lang.getText('종료월일')</th>
						<td>
							$!comCode.getComboComCode("ACC08", "END_MM", "", true, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("END_MM", "sel")', "class='selectbox'; style='width:44%;'")&nbsp;&nbsp;
							$!comCode.getComboComCode("ACC09", "END_DD", "", true, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("END_DD", "sel")', "class='selectbox'; style='width:44%;'")
						</td>
					</tr>
					<tr name="row_month">
						<th>$!lang.getText('마감월일')</th>
						<td>
							$!comCode.getComboComCode("ACC08", "CLOSE_MM", "", true, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("CLOSE_MM", "sel")', "class='selectbox'; style='width:44%;'")&nbsp;&nbsp;
							$!comCode.getComboComCode("ACC09", "CLOSE_DD", "", true, "$!lang.getText('선택')", 'onchange', 'fn_setDataGrid("CLOSE_DD", "sel")', "class='selectbox'; style='width:44%;'")
						</td>
					</tr>
					
					<tr name="row_day">	
						<th colspan="2" class="text-left borderTop borderBottom">▶ $!lang.getText('일마감')</th>					
					</tr>
					<tr name="row_day">
						<th>$!lang.getText('허용일수')</th>
						<td>
							<input type="text" class="text" name="ALLOW_DAY" id="ALLOW_DAY" style="width:44%;" onChange="fn_setDataGrid('ALLOW_DAY')" maxlength="2" />						
						</td>			
					</tr>
					<tr>
						<td style="height:106px;" colspan="2"></td>
					</tr>						
				</table>
				<input type="hidden" id="MAIN_ID" name="MAIN_ID">
			
				<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
				<div id = "formData5" style = "visibility : hidden ; width : 0 ; height : 0"></div>
			</form>
		</div>		
	</div>
	
</div>
	<form name="toDetail" action="" method="post">
		<input type="hidden" name="USER_NO" id="USER_NO"/>
		<input type="hidden" name="USER_ID" id="USER_ID"/>
	</form>