#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.js"></script>
<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.min.js"></script>
<script type="text/javascript">


////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직 
// 
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		

	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	// button
	jQuery("input:button").button();		


	jQuery("input:checkbox[id='vrSrchUserChk']").attr('checked',false);
	
	// 체크 박스 선택에 따른 값 셋팅
	jQuery("input:checkbox[id='vrSrchUserChk']").change(function(){
		if(this.checked){	
			jQuery("#vrSrchUserVal").val("Y");
		}else{	
			jQuery("#vrSrchUserVal").val("N");			
		}
	});
	
	
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG',
	           
	              'CAR_ID',
	              '$!lang.getText("차량코드")',
	              '$!lang.getText("차량톤수")',
	              'USE_YN',
	              'CAR_GB',

	              'CAR_TYPE',
	              'TRANS_CD',
	              'TRANS_NM',
	              '$!lang.getText("기사명")',
	              '$!lang.getText("기사연락처")',
	              
	              'DOCK_NO',
	              'DEL_YN',
	              
	              'CAR_BAR_CD'
		          ];
	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'CHK_BOX',				index:'CHK_BOX',					align:"left", hidden:true },
			{name:'ST_GUBUN',				index:'ST_GUBUN',					align:"left", hidden:true },
			{name:'ST_GUBUN_IMG',			index:'ST_GUBUN_IMG',	width:20,	align:"center"},
			{name:'FLAG',					index:'FLAG',						align:"left", hidden:true },
		
			{name:'CAR_ID',					index:'CAR_ID',				align:"left", hidden:true },
			{name:'CAR_CD',					index:'CAR_CD',				align:"left"},
			{name:'CAR_TON',				index:'CAR_TON',			align:"left" , formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("CAR02")}},//,editoptions : {value :" : ;"+#set($size = $CAR02.size()) #set($cnt = 1)"#foreach($edit in $CAR02) $edit.CODE_CD:$edit.CODE_NM #if($cnt < $size); #set($cnt = $cnt+1) #end #end"}  },
			{name:'USE_YN',					index:'USE_YN',				align:"left", hidden:true },
			{name:'CAR_GB',					index:'CAR_GB',				align:"left", hidden:true },
			
			{name:'CAR_TYPE',				index:'CAR_TYPE',			align:"left", hidden:true },
			{name:'TRANS_CD',				index:'TRANS_CD',			align:"left", hidden:true },
			{name:'TRANS_NM',				index:'TRANS_NM',			align:"left", hidden:true },
			{name:'DRV_NM',					index:'DRV_NM',				align:"left"},
			{name:'DRV_TEL',				index:'DRV_TEL',			align:"left"},
			
			{name:'DOCK_NO',				index:'DOCK_NO',			align:"left", hidden:true },
			{name:'DEL_YN',					index:'DEL_YN',				align:"left", hidden:true },
			
			{name:'CAR_BAR_CD',				index:'CAR_BAR_CD',			align:"left", hidden:true }
			
		];
	var option = {
		'title' : '$!lang.getText("차량목록")',
		'height' : 540,
		'width' : '100%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
        'autowidth' : true,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : true,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
        #else
        'rowList' : [100,200,300],
        #end
        'rownumbers' : true,
        'rownumWidth' : 40
	};
	
	var url="/WMSMS050/list.action";
	listGrid.init(jQuery("#list"), option, url);
	
	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#list");
	
		if(col == 1){	//체크박스 클릭시 선택만된다.	
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid.setStatus(id, " ");
				clean();
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true); 
				grid.setCell(id, 'CHK_BOX', "Yes"); 
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "UPDATE");
				}
				var CAR_CD = grid.getCell(id,'CAR_CD');
				var CAR_TON = cfn_trim(grid.getCell(id,'CAR_TON'));
				var DRV_NM = grid.getCell(id,'DRV_NM');
				var DRV_TEL = grid.getCell(id,'DRV_TEL');
				var TRANS_CD = grid.getCell(id,'TRANS_CD');
				var TRANS_NM = grid.getCell(id,'TRANS_NM');
				
				var CAR_BAR_CD = grid.getCell(id,'CAR_BAR_CD');
		
				jQuery("form[name='frm_detail'] input[name='CAR_CD' ]").val(CAR_CD);
				jQuery("form[name='frm_detail'] select[name='CAR_TON' ]").val(CAR_TON);
				jQuery("form[name='frm_detail'] input[name='DRV_NM' ]").val(DRV_NM);
				jQuery("form[name='frm_detail'] input[name='DRV_TEL' ]").val(DRV_TEL);
				jQuery("form[name='frm_detail'] input[name='TRANS_CD' ]").val(TRANS_CD);
				jQuery("form[name='frm_detail'] input[name='TRANS_NM' ]").val(TRANS_NM);
		
				jQuery("form[name='frm_detail'] input[name='MAIN_ID' ]").val(id);
				jQuery("form[name='frm_detail'] input[name='CAR_BAR_CD' ]").val(CAR_BAR_CD);
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
			var CAR_CD = grid.getCell(id,'CAR_CD');
			var CAR_TON = cfn_trim(grid.getCell(id,'CAR_TON'));
			var DRV_NM = grid.getCell(id,'DRV_NM');
			var DRV_TEL = grid.getCell(id,'DRV_TEL');
			var TRANS_CD = grid.getCell(id,'TRANS_CD');
			var TRANS_NM = grid.getCell(id,'TRANS_NM');
	
			var CAR_BAR_CD = grid.getCell(id,'CAR_BAR_CD');
			
			jQuery("form[name='frm_detail'] input[name='CAR_CD' ]").val(CAR_CD);
			jQuery("form[name='frm_detail'] select[name='CAR_TON' ]").val(CAR_TON);
			jQuery("form[name='frm_detail'] input[name='DRV_NM' ]").val(DRV_NM);
			jQuery("form[name='frm_detail'] input[name='DRV_TEL' ]").val(DRV_TEL);
			jQuery("form[name='frm_detail'] input[name='TRANS_CD' ]").val(TRANS_CD);
			jQuery("form[name='frm_detail'] input[name='TRANS_NM' ]").val(TRANS_NM);
	
			jQuery("form[name='frm_detail'] input[name='MAIN_ID' ]").val(id);
			jQuery("form[name='frm_detail'] input[name='CAR_BAR_CD' ]").val(CAR_BAR_CD);
		}
	});	
	/* 그리드 공통화 적용 끝- listGrid */
});

//검색
function fn_search(op,op1) {
	
	//if(!fn_formCheckStr(frm_list)){ return; }

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSMS050/list.action?"+param;
	
	listGrid.search(param, url, op, op1);	
	
	clean();
}
//초기화
function clean(){
	jQuery("form[name='frm_detail'] input:text, form[name='frm_detail'] input:hidden, form[name='frm_detail'] select").val("");
}
//신규
function fn_new(){

	clean();
	
	listGrid.addRow();
	
	var id = jQuery("#list").getDataIDs().size();
	jQuery("form[name='frm_detail'] input[name='MAIN_ID']").val(id);

}

//삭제
/*
	function fn_delete(){
		listGrid.deleteRow();
	}
*/

	function fn_delete(){
		var grid = jQuery("#list");
		if ( grid.getGridParam('selarrrow').toString() == '' ) {
			alert(strings['grid.no_selected_data_for_delete']);
			return false;
	
		} else {	
			if(confirm("$!lang.getText('delete.confirm')")){ 			
				listGrid.deleteGrid('/WMSMS050/save.action', 'frm_detail', 'formData', deleteProcessCodeList, deleteProcessCallback);		
			}
		}
		
	}
	
	function deleteProcessCodeList(formDataDiv, _grid, tmpCnt, selectId) {
		jQuery(formDataDiv).append("<input type='text' name='CAR_ID"	+tmpCnt+"'  value='" + _grid.getCell(selectId, "CAR_ID")	+"'/>");
		jQuery(formDataDiv).append("<input type='text' name='CAR_CD"	+tmpCnt+"'  value='" + _grid.getCell(selectId, "CAR_CD")	+"'/>");
		jQuery(formDataDiv).append("<input type='text' name='D_ST_GUBUN"+tmpCnt+"' 	value='DELETE'/>");
	}
	
	function deleteProcessCallback(data) {		
		if(data.errCnt == 0 ){
			alert("$!lang.getText('delete.success')");
			fn_clean();
			var param = '';
			var url = "/WMSMS050/list.action?"+param;
			
			listGrid.search(param, url);	
		} else {
			alert(data.MSG);
		}		
	}
	
	function fn_clean(){
		jQuery("form[name='frm_detail'] input:text, form[name='frm_detail'] input:hidden").val("");
		jQuery('form[name="frm_detail"] select[name="CAR_TON"]').val('').attr("selected", 'selected');
	}



//그리드 유효성 검사
function fn_listValidation(){
	var grid = jQuery("#list");
	var ids = grid.getDataIDs();
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});		
	
	if(selectIds != ""){
		var tmpText = ["$!lang.getText('차량번호')","$!lang.getText('차량톤수')", "$!lang.getText('기사명')", "$!lang.getText('기사연락처')"];
		var tmpId = ["CAR_CD", "CAR_TON", "DRV_NM", "DRV_TEL"];
		var tmpVal;
		var tmpLeng = [20, 5, 30, 20];
		
		for(var i=0; i<selectIds.length; i++){
			var CAR_CD = jQuery.trim(grid.getCell(selectIds[i], 'CAR_CD'));
			var CAR_TON = jQuery.trim(grid.getCell(selectIds[i], 'CAR_TON'));
			var DRV_NM = jQuery.trim(grid.getCell(selectIds[i], 'DRV_NM'));
			var DRV_TEL = jQuery.trim(grid.getCell(selectIds[i], 'DRV_TEL'));
			
			tmpVal = [CAR_CD, CAR_TON];
			
			/* 필수값 체크 */
			for(var j=0; j<tmpVal.length; j++){	
				if(tmpVal[j] == ""){
					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
					return false;
				}
			}
			
			tmpVal = [CAR_CD, CAR_TON, DRV_NM, DRV_TEL];
			/* 특수문자 체크 */	
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(!cfn_checkString(tmpVal[j])){
					return false; 
				}
			}		
			
			/* 차량번호 최대 자리수 체크 */
			if(CAR_CD.byteLength() > 20){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[0]+"','" + tmpLeng[0]+"')");
				return false;
			}	
			/* 차량톤수 최대 자리수 체크 */
			if(CAR_TON.byteLength() > 5){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[1]+"','" + tmpLeng[1]+"')");
				return false;
			}	
			/* 기사명 최대 자리수 체크 */
			if(DRV_NM.byteLength() > 30){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[2]+"','" + tmpLeng[2]+"')");
				return false;
			}	
			/* 기사연락처 최대 자리수 체크 */
			if(DRV_TEL.byteLength() > 20){
				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[3]+"','" + tmpLeng[3]+"')");
				return false;
			}
		}
	}
	return true;
}

//저장
function fn_save(){
	
	var grid        = jQuery("#list");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var isProcess   = false;
    var iuCnt 		= 0 ;
    var tmpCnt 		= 0 ;

    if(selectIds == ""){
        alert(strings['grid.no_check_data_for_save']);
        return false;
    }
    
    /* 유효성검사 */
// 	if(!fn_listValidation()){return;}	
    
	if(confirm(strings['grid.confirm_save'])){
		if(selectIds != ""){
			jQuery("#formData").html("");		
		
			//등록이나 수정될 데이터 카운팅해서 저장할공간 append
	        if( jQuery("form[name='frm_detail'] input[name='selectIds']").val() == undefined){
	            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
	            jQuery("#formData").append("<br>");
	        }else{
	        	iuCnt = parseInt(jQuery("form[name='frm_detail'] input[name='selectIds']").val());
	        }
			
	        for(var i = 0 ; i < selectIds.length ; i++){
	        	
	            if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                jQuery("#formData").append("<input type='text' name='ST_GUBUN"+iuCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                isProcess = true;
	            }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                jQuery("#formData").append("<input type='text' name='ST_GUBUN"+iuCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                isProcess = true;
	            }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                jQuery("#formData").append("<input type='text' name='ST_GUBUN"+iuCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                isProcess = true;
	            }
	            
	            if(isProcess){
	            
	            	jQuery("#formData").append("<input type='text' name='CAR_ID"+iuCnt+"' 			value='"+ grid.getCell(selectIds[i], 'CAR_ID') +"'/>");	
	            	jQuery("#formData").append("<input type='text' name='CAR_CD"+iuCnt+"' 			value='"+ grid.getCell(selectIds[i], 'CAR_CD') +"'/>");	
	            	jQuery("#formData").append("<input type='text' name='CAR_TON"+iuCnt+"' 			value='"+ grid.getCell(selectIds[i], 'CAR_TON') +"'/>");	
	            	jQuery("#formData").append("<input type='text' name='CAR_GB"+iuCnt+"' 			value='"+ grid.getCell(selectIds[i], 'CAR_GB') +"'/>");	
	            	jQuery("#formData").append("<input type='text' name='CAR_TYPE"+iuCnt+"' 		value='"+ grid.getCell(selectIds[i], 'CAR_TYPE') +"'/>");	

	            	jQuery("#formData").append("<input type='text' name='TRANS_CD"+iuCnt+"' 		value='"+ grid.getCell(selectIds[i], 'TRANS_CD') +"'/>");	
	            	jQuery("#formData").append("<input type='text' name='DRV_TEL"+iuCnt+"' 			value='"+ grid.getCell(selectIds[i], 'DRV_TEL') +"'/>");	
	            	jQuery("#formData").append("<input type='text' name='DOCK_NO"+iuCnt+"' 			value='"+ grid.getCell(selectIds[i], 'DOCK_NO') +"'/>");	
	            	jQuery("#formData").append("<input type='text' name='USE_YN"+iuCnt+"' 			value='"+ grid.getCell(selectIds[i], 'USE_YN') +"'/>");	
	            	
	            	jQuery("#formData").append("<input type='text' name='TRANS_NM"+iuCnt+"' 		value='"+ grid.getCell(selectIds[i], 'TRANS_NM') +"'/>");	
	            	jQuery("#formData").append("<input type='text' name='DRV_NM"+iuCnt+"' 			value='"+ grid.getCell(selectIds[i], 'DRV_NM') +"'/>");	
	            	jQuery("#formData").append("<input type='text' name='DEL_YN"+iuCnt+"' 			value='"+ grid.getCell(selectIds[i], 'DEL_YN') +"'/>");	
	        	
	            	jQuery("#formData").append("<input type='text' name='CAR_BAR_CD"+iuCnt+"' 		value='"+ grid.getCell(selectIds[i], 'CAR_BAR_CD') +"'/>");
	            	
	            	jQuery("#formData").append("<input type='text' name='USER_ID"+iuCnt+"' 		value='"+ grid.getCell(selectIds[i], 'DRV_TEL') +"'/>");
	            	jQuery("#formData").append("<input type='text' name='USER_NM"+iuCnt+"' 		value='"+ grid.getCell(selectIds[i], 'DRV_NM') +"'/>");
	            	
	            	jQuery("#formData").append("<input type='text' name='D_LC_ID"+iuCnt+"' 		value='"+ jQuery("select[name='SVC_INFO']").val() +"'/>");
	            	jQuery("#formData").append("<input type='text' name='USER_SAVE_YN"+iuCnt+"' 	value='"+ jQuery("form[name='frm_detail'] input[name='vrSrchUserVal']").val() +"'/>");
	            	
	            	iuCnt ++;
	            	
	            	jQuery("form[name='frm_detail'] input[name='selectIds']").val( iuCnt );
	            }
	        }
		}else{
            if(iuCnt == 0){
                alert("$!lang.getText('save.nodata')");
                return false;
            }
        }
		
		 var param = jQuery("form[name='frm_detail']").serialize();
         var url = "/WMSMS050/save.action";
         jQuery.post(url, param, function(data) { 
        	alert(data.MSG);
         	if(data.errCnt == 0 ){
         		var page_check = 1;	// 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
        		var page = jQuery("#list").jqGrid().getGridParam("page");	// 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
        		var param = jQuery("form[name='frm_list']").serialize();	
        		var url = "/WMSMS050/list.action?"+param;
        		listGrid.search(param, url);
        		clean();
         	}	
         }).fail(function(xhr, textStatus){
        		if(xhr.status == 404){	
        			location.href=('/index.html');
        		}
         });

// 		var vrSrchUserVal = jQuery("form[name='frm_detail'] input[name='vrSrchUserVal']").val();
// 		var lc_id = jQuery("select[name='SVC_INFO']").val();
         	
//         // 사용자 자동등록 여부 일 경우 사용자 계정 생성
//         var param_user = jQuery("form[name='frm_detail']").serialize();
//         if(vrSrchUserVal == 'Y' && lc_id == '0000001262' || lc_id == '0000002940'){
//         	var url_user = "/WMSMS050/insert.action";
//         	 jQuery.post(url_user, param_user, function(data) { 
//              	alert(data.MSG);
//               	if(data.errCnt == 0 ){
//               		var page_check = 1;	// 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
//              		var page = jQuery("#list").jqGrid().getGridParam("page");	// 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
//              		var param = jQuery("form[name='frm_list']").serialize();	
//              		var url = "/WMSMS050/list.action?"+param;
//              		listGrid.search(param, url);
//              		clean();
//               	}	
//               }).fail(function(xhr, textStatus){
//              		if(xhr.status == 404){	
//              			location.href=('/index.html');
//              		}
//               });
//         }else{
//         	alert("사용자 자동등록 여부는 KCC화주일 경우에만 가능합니다.");
//         	return;
//         }
	}	
}

//엑셀
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	
	var fm = document.frm_list;
	var countRow = jQuery("#list").getDataIDs().size();

	if(countRow == 0){
		alert('$!lang.getText('excel.down.nodata', $ss_lang_type)');
		return;
	} else if(countRow > 60000) {
		alert('$!lang.getText('excel.down.maxrow', $ss_lang_type)');
		return;
	} else {
		fm.action="/WMSMS050/excel.action"+param;
		fm.method="post";
		fm.submit();
	}
}

/* 값 셋팅 (form -> grid) */
function fn_setDataGrid(id, type){
	var grid = jQuery("#list");
	var rowid = jQuery("form[name='frm_detail'] input[name='MAIN_ID']").val();
	var st = jQuery("form[name='frm_detail'] input[name='"+id+"']").val();
	if(type == 'sel'){
		st = jQuery("form[name='frm_detail'] select[name='"+id+"']").val();
	}
	if(st == "") st = null;
	grid.setCell(rowid, id, st);
}

function fn_upload(){
	var param 	= '';
	var url 	= '/WMSMS050E2.action'+param;
	var width 	= "480";
	var height 	= "160";
	var asppop 	= cfn_openPop2(url, "fn_TempPopup", width, height);
	asppop.focus();
}

/* 로케이션바코드생성 */
function fn_poolListPrint(){
	var grid = jQuery("#list");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var html = "";
	var nullVal = "　";
	
	var printDate  = "";
	var date = new Date();
	printDate = date.getFullYear()+"-"+(date.getMonth() + 1)+"-"+date.getDate()+" "+
	date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
	
	//1 or 4 분할 인쇄 설정
	var pageDivCnt = 1;
	var tlbCard_W  = "";
	var tlbCard_H  = "";
	var mainTitle  = "";
	var subTitle   = "";
	var tdFontSz_0 = "";
	var tdFontSz_1 = "";
	var tdFontSz_2 = "";
	var tdFontSz_3 = "";
	var qrSize     = "";
	
	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");	
		return false;
	}
	
	//tlbCard_W  = "200";
	tlbCard_W  = "100%";
	tlbCard_H  = "90";
	mainTitle  = "20";
	subTitle   = "10";
	tdFontSz_1 = "8px";
	tdFontSz_2 = "18px";
	tdFontSz_3 = "22px";
	qrSize     = "70";
	
    for(var i = 0 ; i < selectIds.length ; i++){
    	var chkBoxStat  =  jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
    	
    	if(chkBoxStat != undefined){

   			//인쇄 페이징 처리 구분
       		if(i == 0){
       			html += "<div style='page-break-before:avoid'>";	
       		}else if(i != 0 && pageDivCnt == 1){
       			html += "</div>";
       			html += "<br style='height:0; line-height:0'>";
       			html += "<div style='page-break-before:always'>";
       		}
   			
       		var htmlText = "<div style='float:left; margin:0px 10px 10px 0px; display:inline; width:47%; height:10%;'>";
   			
       		switch(pageDivCnt){
    		case 1:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 2:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 3:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 4:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 5:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 6:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 7:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 8:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 9:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 10:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 11:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 12:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 13:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 14:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 15:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 16:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 17:	//검색 화주
    			html += htmlText
    			pageDivCnt = pageDivCnt + 1;
    			break;
    		case 18:	//검색 화주
    			html += htmlText
    			pageDivCnt = 1;
    			break;
    		}
    		
   			html += "   <div style='border:3px double;'>";
    	   	html += "   <table border='0' cellspacing='0' width='"+tlbCard_W+"' height='"+tlbCard_H+"'>";
    	   	//html += "   <table border='0' cellspacing='0' width='100%' height='"+tlbCard_H+"'>";
    	   	html += "   	<colgroup>";
    	   	html += "   		<col width='30%'/>";
    	   	html += "   		<col width='30%'/>";
    	   	html += "   		<col width='40%'/>";
    	   	html += "   	</colgroup>";
    	   	//1Row (표 주제 최상단)
    	   	html += "   	<tr>";
    	   	html += "   		<td colspan='3' style='text-align:left; font-size:"+tdFontSz_1+"; font-family:Times New Roman, Times, serif;'><b>차량바코드</b></td>";
    	   	html += "   	</tr>";
    	    //2Row (헤더+필드 포함)
    	   	html += "   	<tr>";
    	   	html += "   		<td colspan='2' style='text-align:center; font-size:"+tdFontSz_3+"; '><div style='border:1px solid;'><b>"+ grid.getCell(selectIds[i], "CAR_CD") +"</b></div></td>";
    	   	html += "   		<td rowspan='2' style='text-align:center;'><div align='center' id='qrItem_"+i+"'></div></td>";   	   	
    	   	html += "   	</tr>";
    	    //3Row (헤더+필드 포함)
    	   	html += "   	<tr>";
    	   	html += "   		<td style='text-align:left; font-size:"+tdFontSz_2+"; font-family:Times New Roman, Times, serif;'>"+ grid.getCell(selectIds[i], "DRV_NM") +"</td>";
    	   	html += "   		<td style='text-align:left; font-size:"+tdFontSz_1+"; font-family:Times New Roman, Times, serif;'>"+ printDate +"</td>";
    	   	html += "   	</tr>";
    	    //4Row (헤더+필드 포함)  font-family:Times New Roman, Times, serif;
    	   	html += "   </table>";
    	   	html += "	</div>";
    	   	html += "</div>";
    	}
    }
    html += "</div>";
    html += "<br style='height:0; line-height:0'>";
    document.all.dataTable.innerHTML = html;
    
    //QR 코드 생성 후 DIV 셋팅 (QR 코드가 이미지 코드이기 때문에 이미지 생성 후 재배치가 필요하여 for문 재 실행)
	for(var i = 0 ; i < selectIds.length ; i++){
		var chkBoxStat = jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
    	if(chkBoxStat != undefined){
    		var options = {
                    render: "image",			// render method: 'canvas', 'image' or 'div'
                    ecLevel: "H",				// error correction level: 'L', 'M', 'Q' or 'H'
                    minVersion: 1,				// version range somewhere in 1 .. 40
                    fill: "#333333",			// code color or image element
                    background: "#ffffff",		// background color or image element, null for transparent background

                    text: grid.getCell(selectIds[i],  "CAR_BAR_CD"),	// content values
                    size: "50",					// size in pixel
                    radius: "0",				// corner radius relative to module width: 0.0 .. 0.5
                    quiet: "0",					// quiet zone in modules
                    mode: "0",					// 0: normal 1:label strip 2:label box 3:image strip 4:image box

                    //mSize: 0.1,
                    //mPosX: 0.5,
                    //mPosY: 0.5,
                    //label: jq('#label').val(),
                    //fontname: jq('#font').val(),
                    //fontcolor: jq('#fontcolor').val(),
                    //image: jq('#img-buffer')[0]
            };

        	jQuery("#qrItem_"+(i)).empty().qrcode(options);
    	}
    }
    
	//식별표 Table/Div 생성 완료 후 인쇄 window 실행
    if(navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("Trident") > 0 ){
	    //IE 일때
	    previewIe_print(html);
    }else if(navigator.userAgent.indexOf("Chrome") > 0){
    	alert("출력물이 짤리는 경우 InternetExplorer를 사용해 주세요.(Chrome은 비율 기능을 지원하지 않습니다.)");
	    //크롬 일때	   	 
	    //프린트 출력 부분 div 셋팅
	    html += "<div></div>";
		//document.all.dataTable.innerHTML = html;
	    
	    var runPrint;
	    var printContent =  document.getElementById("dataTable");
	    var windowUrl    = 'about:blank';
		var uniqueName   = new Date();
		var windowName   = 'Print' + uniqueName.getTime();
		var printWindow  = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1");
		
	    printWindow.document.write(printContent.innerHTML);
	    
	    var wait;
	    if(selectIds.length >= 18){
	    	wait = (selectIds.length/18) * 1000; //출력 갯수에 따른 출력 대기시간 증가
	    }else{
	    	wait = 1000;
	    }
	    runPrint = setTimeout(function(){printWindow.window.print();}, wait);
	    
	    //프린트 출력 부분 div 초기화 (삭세)
		document.all.dataTable.innerHTML  = "";
	}
}
function previewIe_print(html){
	//프린트 출력 부분 div 셋팅
	//document.all.dataTable.innerHTML  = html;

	var printContent = document.getElementById("dataTable");
	var windowUrl    = 'about:blank';
	var uniqueName   = new Date();
	var windowName   = 'Print' + uniqueName.getTime();
	var printWindow  = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1");
	var printPreviewObject = '<object id="printPreviewElement" width=0 height=0 classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></object>';

	printWindow.document.write(printContent.innerHTML);
	printWindow.document.write(printPreviewObject);
	printWindow.document.write('<script language=JavaScript>');
	printWindow.document.write('window.print();');
	//printWindow.document.write('printPreviewElement.ExecWB(7,1);');
	//printWindow.document.write('printPreviewElement.outerHTML = "";');
	printWindow.document.write('</'+'script>'); 
	printWindow.document.close();
	//printWindow.focus();
	//printWindow.close();

	//프린트 출력 부분 div 초기화 (삭세)
	document.all.dataTable.innerHTML  = "";
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("차량관리")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsms/WMSMS050E1.vm")
    </div>
</div>	
#parse("winus/common/footer.vm")