#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript">

var listGrid  = new ULNSI_jQGrid();
var listGrid2 = new ULNSI_jQGrid();

jQuery(document).ready(function(){	
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	/* 부서관리 시작 */
	var colNameArray = [
	                     'CHK_BOX'
	                    ,'FLAG'
	                    ,'ST_GUBUN'
	                    ,' '

	                    
	                    ,"<img src='/img/exam/ico_004.gif' class='imgclass'>$!lang.getText('부서코드')"
	                    ,"<img src='/img/exam/ico_004.gif' class='imgclass'>$!lang.getText('부서명')"
	                    ,"$!lang.getText('내부부서코드')"
	                    ,"$!lang.getText('상위부서코드')"
	                    ,"$!lang.getText('상위내부부서코드')"
	                    ,"$!lang.getText('부서등급')"
	                    
	                    ,"$!lang.getText('비고')"
	                    ,"$!lang.getText('원가코드')"
	                    ,"$!lang.getText('원가코드명')"	    
	                    ,"DEPT_ID"
	                    ,"$!lang.getText('화주ID')"
	                    ,"$!lang.getText('화주명')"
	                    ,"ORG_DEPT_NM"
	                    ]
	
	var colModelArray = [
						 {name : 'CHK_BOX'				,index : 'CHK_BOX'				,hidden : true}
						,{name : 'FLAG'					,index : 'FLAG'					,hidden : true}
						,{name : 'ST_GUBUN'				,index : 'ST_GUBUN'				,hidden : true}
						,{name : 'ST_GUBUN_IMG'			,index : 'ST_GUBUN_IMG'			,width : 10		,align : "center"}
						
						
						,{name : 'DEPT_CD'				,index : 'DEPT_CD'				,width : 100	,align : "center"	,editable : true}
						,{name : 'DEPT_NM'				,index : 'DEPT_NM'				,width : 100	,align : "center"	,editable : true}
						,{name : 'IN_DEPT_CD'			,index : 'IN_DEPT_CD'			,width : 100	,align : "center"	,editable : true}
						,{name : 'UP_DEPT_CD'			,index : 'UP_DEPT_CD'			,width : 100	,align : "center"	,editable : true}
						,{name : 'UP_IN_DEPT_CD'		,index : 'UP_IN_DEPT_CD'		,width : 100	,align : "center"	,editable : true}
						,{name : 'DEPT_LEVEL'			,index : 'DEPT_LEVEL'			,width : 100	,align : "center"	,editable : true}
						
						,{name : 'REMARK'				,index : 'REMARK'				,width : 200	,align : "left"		,editable : false	,hidden : true}
						,{name : 'COST_CD'				,index : 'END_YN'				,width : 70		,align : "center"	,editable : false	,hidden : true}
						,{name : 'COST_NM'				,index : 'CAR_BODY_NO'			,width : 100	,align : "center"	,editable : false	,hidden : true}
						,{name : 'DEPT_ID'				,index : 'DEPT_ID'				,width : 100	,align : "center"	,editable : false	,hidden : true}
						,{name : 'CUST_ID'				,index : 'CUST_ID'				,width : 100	,align : "center"	,editable : false	,hidden : true}
						,{name : 'CUST_NM'				,index : 'CUST_NM'				,width : 100	,align : "center"	,editable : false	,hidden : true}
						,{name : 'ORG_DEPT_NM'			,index : 'ORG_DEPT_NM'			,width : 100	,align : "center"	,editable : false	,hidden : true}
						]

	var option = {
				   'title'		: "$!lang.getText('부서관리목록')"
				  ,'height'		: 250
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
			      #else
			      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				  ,'shrinkToFit' : true
				 };
	
	//첫 자동조회
	var url = "/WMSMS014/list.action";
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);
	
	// 그리드 전체셀선택 이벤트
	listGrid.setSelectAllEventCallback(function(id , status){
		var grid = jQuery("#list");
		var ids  = grid.jqGrid('getDataIDs');
		if(ids != ''){
			for(var i = 0; i< ids.length; i ++){
				var idx = ids[i];
				
				if(status){
					grid.setCell(idx, 'CHK_BOX', "Yes");
					var rowdata = grid.getRowData(idx);
					if(rowdata.FLAG == "S"){
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
					}else{
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
					}
					grid.editRow(idx);
					if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid.setStatus(idx, "INSERT");
					}else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid.setStatus(idx, "UPDATE");
					}
				}else{
					grid.setCell(idx, 'CHK_BOX', 'No');
					grid.restoreRow(idx);
					listGrid.setStatus(idx, " ");
				}
			}
		}
	});
	
	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
        var grid = jQuery("#list");
        if(col == 1){
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                jQuery("#jqg_list_"+id).attr("checked",false);
                grid.setCell(id, 'CHK_BOX', "No");
                grid.restoreRow(id);
                listGrid.setStatus(id, " ");
            }else{
                jQuery("#jqg_list_"+id).attr("checked",true);
                grid.setCell(id, 'CHK_BOX', "Yes");
                grid.editRow(id);
                if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "INSERT");
                }else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "UPDATE");
                }
            }
        }else{
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                grid.setCell(id, 'CHK_BOX', 'Yes');
                grid.setSelection(id, false);
            }else{
                grid.setCell(id, 'CHK_BOX', 'NO');
                grid.setSelection(id, true);
            }  
        }
        

		
        //detail Filter 파라미터 셋팅
        jQuery("#vrDeptNm").val(grid.getCell(id, 'ORG_DEPT_NM'));
        jQuery("#vrDeptId").val(grid.getCell(id, 'DEPT_ID'));
		var param = "vrDeptId=" + grid.getCell(id, 'DEPT_ID');
		var url = "/WMSMS014/listDetail.action?"+param;
		listGrid2.search(param, url);
    });
	
	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		var cssBgc = {'background' : '#FFF2E6'};
		
		for(var i = 0 ; i < gridData.length; i++){
			grid.jqGrid('setCell', ids[i], 'DEPT_CD',   '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'DEPT_NM',   '', cssBgc);
		}
	};
	/* 부서관리 끝 */
	
	/* 직원관리 시작 */
	var colNameArray2 = [
	                     'CHK_BOX'
	                    ,'FLAG'
	                    ,'ST_GUBUN'
	                    ,' '

	                    ,"$!lang.getText('직원번호')"
	                    ,"<img src='/img/exam/ico_004.gif' class='imgclass'>$!lang.getText('직원명')"
	                    ,"$!lang.getText('전화번호')"
	                    ,"$!lang.getText('비고')"
	                    	    
	                    ,"EMPLOYEE_ID"
	                    ,"부서ID"
	                    ]
	
	var colModelArray2 = [
						 {name : 'CHK_BOX'				,index : 'CHK_BOX'				,hidden : true}
						,{name : 'FLAG'					,index : 'FLAG'					,hidden : true}
						,{name : 'ST_GUBUN'				,index : 'ST_GUBUN'				,hidden : true}
						,{name : 'ST_GUBUN_IMG'			,index : 'ST_GUBUN_IMG'			,width : 10		,align : "center"}
						
						,{name : 'EMPLOYEE_NO'			,index : 'EMPLOYEE_NO'			,width : 100	,align : "center"	,editable : true}
						,{name : 'EMPLOYEE_NM'			,index : 'EMPLOYEE_NM'			,width : 100	,align : "center"	,editable : true}
						,{name : 'MOBILE_NO'			,index : 'MOBILE_NO'			,width : 100	,align : "center"	,editable : true}
						,{name : 'REMARK'				,index : 'REMARK'				,width : 100	,align : "center"	,editable : true}
						
						,{name : 'EMPLOYEE_ID'			,index : 'EMPLOYEE_ID'			,width : 100	,align : "center"	,editable : false	,hidden : true}
						,{name : 'DEPT_ID'				,index : 'DEPT_ID'				,width : 100	,align : "center"	,editable : false	,hidden : false}
						]

	var option2 = {
				   'title'		: "$!lang.getText('직원관리목록')"
				  ,'height'		: 250
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray2
				  ,'colModel'	: colModelArray2
				  ,'pager'		: jQuery('#pjmap2')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
			      #else
			      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				  ,'shrinkToFit' : true
				 };
	
	//첫 자동조회
	var url2 = "";
	listGrid2.init(jQuery("#list2"), option2, url2, loadCompleteEventCallback2);
	
	// 그리드 전체셀선택 이벤트
	listGrid2.setSelectAllEventCallback(function(id , status){
		var grid = jQuery("#list2");
		var ids  = grid.jqGrid('getDataIDs');
		if(ids != ''){
			for(var i = 0; i< ids.length; i ++){
				var idx = ids[i];
				
				if(status){
					grid.setCell(idx, 'CHK_BOX', "Yes");
					var rowdata = grid.getRowData(idx);
					if(rowdata.FLAG == "S"){
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
					}else{
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
					}
					grid.editRow(idx);
					if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid2.setStatus(idx, "INSERT");
					}else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid2.setStatus(idx, "UPDATE");
					}
				}else{
					grid.setCell(idx, 'CHK_BOX', 'No');
					grid.restoreRow(idx);
					listGrid2.setStatus(idx, " ");
				}
			}
		}
	});
	
	// 그리드 셀선택 이벤트
	listGrid2.setSelectCellEventCallback(function(id, col){
        var grid = jQuery("#list2");
        if(col == 1){
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                jQuery("#jqg_list2_"+id).attr("checked",false);
                grid.setCell(id, 'CHK_BOX', "No");
                grid.restoreRow(id);
                listGrid2.setStatus(id, " ");
            }else{
                jQuery("#jqg_list2_"+id).attr("checked",true);
                grid.setCell(id, 'CHK_BOX', "Yes");
                grid.editRow(id);
                if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid2.setStatus(id, "INSERT");
                }else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid2.setStatus(id, "UPDATE");
                }
            }
        }else{
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
            	grid.setCell(id, 'CHK_BOX', 'Yes');
                grid.setSelection(id, false);
            }else{
                grid.setCell(id, 'CHK_BOX', 'NO');
                grid.setSelection(id, true);
            }  
        }
    });
	
	function loadCompleteEventCallback2 (data){
		var grid     = jQuery("#list2");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		var cssBgc = {'background' : '#FFF2E6'};
		
		for(var i = 0 ; i < gridData.length; i++){
			grid.jqGrid('setCell', ids[i], 'DEPT_CD',   '', cssBgc);
			grid.jqGrid('setCell', ids[i], 'DEPT_NM',   '', cssBgc);
		}
	};
	/* 직원관리 끝 */
});

//----------------------------------------------------------메인----------------------------------------------------------//

/* 조회 */
function fn_search(op,op1) {
	var param = jQuery("form[name='frm_list']").serialize();
	var url   = "/WMSMS014/list.action?"+param;
	listGrid.search(param, url, op, op1);	
	listGrid2.clear();
}

/* 신규 */
function fn_new(){
//	if(jQuery("#txtSrchCustId").val() == ""){
//		alert("$!lang.getText('신규 입력 시 화주선택은 필수 입니다.')");
//		return false;
//	}
	//현재 물류센터 ID를 입력해준다.
	var datarow = {
					ST_GUBUN     : "INSERT"
			       ,ST_GUBUN_IMG : "<img src='/img/exam/btn/add.gif'>"
			       ,CHK_BOX      : "Yes"
			       ,CUST_ID      : jQuery("#txtSrchCustId").val()
			       ,CUST_NM      : jQuery("#txtSrchCustNm").val()
				  };
    listGrid.addRow(datarow);
}

/* 저장 */
function fn_save(){
    var grid        = jQuery("#list");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var isProcess   = false;
    var tmpCnt = 0 ;

    if(selectIds == ""){
        alert("$!lang.getText('저장할데이터를선택해주세요')"); ///   
        return false;
    }
	
    //유효성체크 uom코드 필수값!!!
    /* 유효성검사 */
	//if(!fn_listValidation()){return;}

    if(confirm("$!lang.getText('update.confirm')")){
    	if(selectIds != ""){
            jQuery("#formData").html("");
            if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
                jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
                jQuery("#formData").append("<br>");
            }else{
                tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
            }

            for(var i = 0 ; i < selectIds.length ; i++){
                if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                    isProcess = true;
                }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                    isProcess = true;
                }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                    isProcess = true;
                }
             
                if(isProcess){
                	/* jqGrid 체크박스 체크 했을 때 getValue *
                	 * 필드요소가 editable:true 일 경우 jQuery("#"+selectIds[i] *
                	 * 필드요소가 editable:false	 or hidden:true 일 경우 grid.getCell(selectIds[i] */
                	
                	jQuery("#formData").append("<input type='text' name='DEPT_ID"   	+tmpCnt+"' value='" + grid.getCell(selectIds[i], 'DEPT_ID')	+"'/>");
                	
                	jQuery("#formData").append("<input type='text' name='DEPT_CD"		+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_DEPT_CD","#list").val()		+ "'/>");
                	jQuery("#formData").append("<input type='text' name='DEPT_NM"		+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_DEPT_NM","#list").val()		+ "'/>");
                	jQuery("#formData").append("<input type='text' name='IN_DEPT_CD"	+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_IN_DEPT_CD","#list").val()	+ "'/>");
                	jQuery("#formData").append("<input type='text' name='UP_DEPT_CD"	+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_UP_DEPT_CD","#list").val()	+ "'/>");
                	jQuery("#formData").append("<input type='text' name='UP_IN_DEPT_CD"	+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_UP_IN_DEPT_CD","#list").val()	+ "'/>");
                	jQuery("#formData").append("<input type='text' name='DEPT_LEVEL"	+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_DEPT_LEVEL","#list").val()	+ "'/>");
                	
                	jQuery("#formData").append("<input type='text' name='REMARK"   		+tmpCnt+"' value='" + grid.getCell(selectIds[i], 'REMARK')	+"'/>");
                	jQuery("#formData").append("<input type='text' name='CUST_ID"   	+tmpCnt+"' value='" + grid.getCell(selectIds[i], 'CUST_ID')	+"'/>");
                	jQuery("#formData").append("<input type='text' name='COST_CD"   	+tmpCnt+"' value='" + grid.getCell(selectIds[i], 'COST_CD')	+"'/>");
                	jQuery("#formData").append("<input type='text' name='COST_NM"   	+tmpCnt+"' value='" + grid.getCell(selectIds[i], 'COST_NM')	+"'/>");
                	
                    tmpCnt ++;
                }
            }
            jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
        }else{
            if(tmpCnt == 0){
                alert("$!lang.getText('값을확인해주세요')");
                return false;
            }
        }
    	
        var param = jQuery("form[name='frm_data']").serialize();
        var url = "/WMSMS014/save.action";
        jQuery.post(url, param, function(data) {
        	alert(data.MSG);
        	if(data.errCnt <= 0 ){
	            var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
	            var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
		        fn_search(page,page_check);
            }
        }).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
    }
}

/* 저장 */
function fn_saveDetail(){
    var grid        = jQuery("#list2");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var isProcess   = false;
    var tmpCnt = 0 ;

    if(selectIds == ""){
        alert("$!lang.getText('저장할데이터를선택해주세요')"); ///   
        return false;
    }
	
    //유효성체크 uom코드 필수값!!!
    /* 유효성검사 */
	//if(!fn_listValidation()){return;}

    if(confirm("$!lang.getText('update.confirm')")){
    	if(selectIds != ""){
            jQuery("#formData").html("");
            if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
                jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
                jQuery("#formData").append("<br>");
            }else{
                tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
            }

            for(var i = 0 ; i < selectIds.length ; i++){
                if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                    isProcess = true;
                }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                    isProcess = true;
                }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                    isProcess = true;
                }
             
                if(isProcess){
                	/* jqGrid 체크박스 체크 했을 때 getValue *
                	 * 필드요소가 editable:true 일 경우 jQuery("#"+selectIds[i] *
                	 * 필드요소가 editable:false	 or hidden:true 일 경우 grid.getCell(selectIds[i] */
                	
                	jQuery("#formData").append("<input type='text' name='EMPLOYEE_ID"   +tmpCnt+"' value='" + grid.getCell(selectIds[i], 'EMPLOYEE_ID')	+"'/>");
                	jQuery("#formData").append("<input type='text' name='EMPLOYEE_NO"	+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_EMPLOYEE_NO","#list2").val()		+ "'/>");
                	jQuery("#formData").append("<input type='text' name='EMPLOYEE_NM"	+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_EMPLOYEE_NM","#list2").val()		+ "'/>");
                	jQuery("#formData").append("<input type='text' name='MOBILE_NO"		+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_MOBILE_NO","#list2").val()		+ "'/>");
                	jQuery("#formData").append("<input type='text' name='REMARK"		+tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_REMARK","#list2").val()	+ "'/>");
                	
                	jQuery("#formData").append("<input type='text' name='DEPT_ID"   	+tmpCnt+"' value='" + grid.getCell(selectIds[i], 'DEPT_ID')	+"'/>");
                	
                    tmpCnt ++;
                }
            }
            jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
        }else{
            if(tmpCnt == 0){
                alert("$!lang.getText('값을확인해주세요')");
                return false;
            }
        }
    	
        var param = jQuery("form[name='frm_data']").serialize();
        var url = "/WMSMS014/saveDetail.action";
        jQuery.post(url, param, function(data) {
        	alert(data.MSG);
        	if(data.errCnt <= 0 ){
	            var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
	            var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
	            
	            //디테일그리드 재조회
	            listGrid2.clear();
	    		var param = "vrDeptId=" + jQuery("#vrDeptId").val();
	    		var url = "/WMSMS014/listDetail.action?"+param;
	    		listGrid2.search(param, url);
            }
        }).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
    }
}

/* 입력값 유효성 검사 */
function fn_listValidation(){
	var grid = jQuery("#list");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	
	if(selectIds != ""){
		var tmpText = ["$!lang.getText('부서ID')", "$!lang.getText('부서코드')", "$!lang.getText('부서명')"];
		var tmpId	= ["DEPT_ID", "DEPT_CD", "DEPT_NM"];
		var tmpLeng =[60, 20];
		var tmpVal;	
		for(var i = 0 ; i < selectIds.length ; i++){
			var ST_GUBUN = grid.getCell(selectIds[i], "ST_GUBUN");
			if(ST_GUBUN != "DELETE"){	//삭제일경우에는 필수값이 아니기때문에 제외
				var deptId  = cfn_trim(jQuery("#" + selectIds[i] + "_DEPT_ID","#list").val());
				var deptCd  = cfn_trim(jQuery("#" + selectIds[i] + "_DEPT_CD","#list").val());
				var deptNm    = cfn_trim(jQuery("#" + selectIds[i] + "_DEPT_NM","#list").val());
				
				/* 공백체크 */
				tmpVal = [driverNm, mobileNo, userId, userPw];
				for(var j = 0 ; j < tmpVal.length ; j++){
					if(jQuery.trim(tmpVal[j]) == ""){
    					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
						return false;
					}
				}
			}			
		}
	}
	return true;
}

function fn_delete(){
	var grid = jQuery("#list");
	if ( grid.getGridParam('selarrrow').toString() == '' ) {
		alert(strings['grid.no_selected_data_for_delete']);
		return false;

	} else {	
		if(confirm("$!lang.getText('delete.confirm')")){			
			listGrid.deleteGrid('/WMSMS014/save.action', 'frm_data', 'formData', deleteProcess, deleteProcessCallback);			
		}
	}
}

function deleteProcess(formDataDiv, _grid, tmpCnt, selectId) {
    jQuery(formDataDiv).append("<input type='text' name='DEPT_ID"		+tmpCnt+"'value='"+ _grid.getCell(selectId, 'DEPT_ID')+"'/>");
    jQuery(formDataDiv).append("<input type='text' name='DEPT_CD"		+tmpCnt+"'value='"+ _grid.getCell(selectId, 'DEPT_CD')+"'/>");
    jQuery(formDataDiv).append("<input type='text' name='DEPT_NM"		+tmpCnt+"'value='"+ _grid.getCell(selectId, 'DEPT_NM')+"'/>");
    jQuery(formDataDiv).append("<input type='text' name='CUST_ID"		+tmpCnt+"'value='"+ _grid.getCell(selectId, 'CUST_ID')+"'/>");
}

function deleteProcessCallback(data) {		
	if(data.errCnt == 0 ){
		alert("$!lang.getText('delete.success')");
		var page_check = 1;	// 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
		var page = jQuery("#list").jqGrid().getGridParam("page");	// 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
		var param = jQuery("form[name='frm_list']").serialize();	
		var url = "/WMSMS014/list.action?"+param;
		listGrid.search(param, url);
		clean();
	} else {
		alert(data.MSG);
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="txtSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchCustId']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustId']").val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="txtSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
				jQuery("form[name='frm_list'] input[name='txtSrchCustId']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val("");
		jQuery("form[name='frm_list'] input[name='txtSrchCustId']").val("");
	}
}

//팝업 호출
function fn_Popup(pop){
	var strParameter = [];
	var param = "";
	var url = "";
	var width = "800";
	var height = "560";
	
	switch(pop){
	
	case 'WMSCM011' : // 화주조회
		strParameter.push(jQuery("form[name='frm_list'] input[name='txtSrchCustCd']").val());
		strParameter.push(jQuery("form[name='frm_list'] input[name='txtSrchCustNm']").val());
		param = "?func=fn_setWMSCM011&strParameter=" + strParameter+"&stBtnYn=Y";
		url = "/WMSCM011.action" + param;
		break;	
	}
	
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery("#txtSrchCustCd").val(info.cust_cd);
	jQuery("#txtSrchCustId").val(info.cust_id);
	jQuery("#txtSrchCustNm").val(info.cust_nm);
}

/*엑셀다운 */
function fn_excelDown(){
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	
    var fm = document.frm_list;
    var countRow = jQuery("#list").getDataIDs().size();
    if(countRow == 0){
        alert('$!lang.getText("excel.down.nodata")');
        return;
    } else if(countRow > 60000) {
        alert('$!lang.getText("excel.down.maxrow")');
        return;
    } else {
        fm.action="/WMSMS014/excel.action"+param;
        fm.method="post";
        fm.submit();
    }
}

function gridValidate_OnKillFocus(id){
	var grid = jQuery("#list");
	var vrSrchDriverNm = jQuery("#"+ id + "_DRIVER_NM","#list").val();
	var vrSrchMobileNo = jQuery("#"+ id + "_MOBILE_NO","#list").val();
	
	if(vrSrchDriverNm.length > 0 && vrSrchMobileNo.length > 0){
		var param   = "vrSrchDriverNm=" + vrSrchDriverNm + "&vrSrchMobileNo=" + vrSrchMobileNo;
		var url     = "/WMSMS014/insertValidate.action"
		jQuery.post(url, param, function(data){
			var data = data.RST;
			var cnt  = data.size();
			if(cnt > 0){
				alert("["+ data[0].NAME+ "]" + "$!lang.getText(' 에 동일 기사가 등록되어 있습니다.')")
				
				//중복데이터 입력 초기화
				jQuery("#"+ id + "_DRIVER_NM","#list").val("");
				jQuery("#"+ id + "_MOBILE_NO","#list").val("");
				return false;	
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}
}

//패스워드 규정
function fn_checkPassword(id) {
	var upw = jQuery("#"+ id + "_USER_PW","#list").val();
	var tranUpw = upw.replace(/[~!?@\#$%^&*\()\-=+_']/gi,'');
	//var normal_str = /^[a-zA-Z0-9]{4,20}$/;
	var normal_str = /^[a-zA-Z0-9]$/;
	var special_str =  /[~!?@\#$%^&*\()\-=+_']/gi;
	
	if(upw.length <= 3 || upw.length >= 21 || normal_str.test(tranUpw)){
		alert("$!lang.getText('비밀번호는숫자와영문자조합으로4~20자리를사용해야합니다')");
	    return false;
	}
	/*
	if(!normal_str.test(upw)||!special_str.test(upw)){ 
		alert("$!lang.getText('비밀번호는숫자와영문자조합으로4~20자리를사용해야합니다')");
	    return false;
	}
	*/
	
	var chk_num = upw.search(/[0-9]/g); 
	var chk_eng = upw.search(/[a-z]/ig); 
	
	if(chk_num < 0 || chk_eng < 0){ 
		alert("$!lang.getText('비밀번호는숫자와영문자를혼용하여야합니다')");	
	    return false;
	}
	
	return true;
}

function fn_checkIdvalid(id) {
	var param = "";
	var url = "";
	var width = "350";
	var height = "150";

	if(!fn_checkId(id)){return;}	

	var vrSrchUserId = jQuery("#"+ id + "_USER_ID","#list").val().replace(/\s/g, "");
	if(vrSrchUserId.length > 0){
		var param   = "vrSrchUserId=" + vrSrchUserId;
		var url     = "/WMSMS014/userIdValidate.action"
		jQuery.post(url, param, function(data){
			var data = data.RST;
			
			if(data[0].CNT > 0){
				alert("$!lang.getText('이미 등록 된 ID 입니다.')")
				
				//중복데이터 입력 초기화
				jQuery("#"+ id + "_USER_ID","#list").val("");
				return false;	
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}
}

//ID 규정
function fn_checkId(id) {
	var upw = jQuery("#"+ id + "_USER_ID","#list").val().replace(/\s/g, "");
	var regex = /^[a-zA-z][a-zA-z0-9]{3,14}$/gi;
	if(! regex.test(upw) ){ 
		alert("$!lang.getText('ID는 영문자로 시작하여 숫자를 포함할 수 있으며(특수문자 제외), 4자리 이상 15자리 이하입니다.')");
	    return false;
	}
	return true;
}

/* 신규 */
function fn_newDetail(){
	if(jQuery("#vrDeptId").val() == ""){
		alert("$!lang.getText('신규 입력 시 상위 부서를 선택하여 주십시오.')");
		return false;
	}
	
	//현재 물류센터 ID를 입력해준다.
	var datarow = {
					ST_GUBUN     : "INSERT"
			       ,ST_GUBUN_IMG : "<img src='/img/exam/btn/add.gif'>"
			       ,CHK_BOX      : "Yes"
			       ,DEPT_ID      : jQuery("#vrDeptId").val()
				  };
    listGrid2.addRow(datarow);
}

function fn_deleteDetail(){
	var grid = jQuery("#list2");
	if ( grid.getGridParam('selarrrow').toString() == '' ) {
		alert(strings['grid.no_selected_data_for_delete']);
		return false;

	} else {	
		if(confirm("$!lang.getText('delete.confirm')")){			
			listGrid2.deleteGrid('/WMSMS014/saveDetail.action', 'frm_data', 'formData', deleteDetailProcess, deleteDetailProcessCallback);			
		}
	}
}

function deleteDetailProcess(formDataDiv, _grid, tmpCnt, selectId) {
    jQuery(formDataDiv).append("<input type='text' name='EMPLOYEE_ID"		+tmpCnt+"'value='"+ _grid.getCell(selectId, 'EMPLOYEE_ID')+"'/>");
}

function deleteDetailProcessCallback(data) {		
	if(data.errCnt == 0 ){
		alert("$!lang.getText('delete.success')");
		listGrid2.clear();
	} else {
		alert(data.MSG);
	}
}


</script>
<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText('부서/직원관리')</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsms/WMSMS014E1.vm")
    </div>
</div>	
#parse("winus/common/footer.vm")