<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>$!lang.getText("부서")/$!lang.getText("직원관리")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

</head>
<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))	
<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

var strId  = "";
var strName  = "";
var strSubGb = "";

var listUrl  = "";

jQuery(document).ready(function(){
	// Tabs
	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	strId    = (arrParameter[0] == undefined) ? "" : arrParameter[0];
	strName  = (arrParameter[1] == undefined) ? "" : arrParameter[1];
	strSubGb = (arrParameter[2] == undefined) ? "" : arrParameter[2];
	jQuery("form[name='formDetl'] input[name='S_ID']").val(strId);
	jQuery("form[name='formDetl'] input[name='S_NAME']").val(strName);
	
	if(strSubGb == "DEPT"){
		jQuery("#btnAreaLeftText").text('$!lang.getText("부서조회")');
		listUrl = "/WMSMS010Q1/list.action";
	}else if(strSubGb == "EMPLOYEE"){
		jQuery("#btnAreaLeftText").text('$!lang.getText("직원조회")');
		listUrl = "/WMSMS010Q1/listEmployee.action";
	}
	
	jQuery("#tab1").tabs({
		show: function(event, ui) {resizeGrid();}
	});
	
	// button
	jQuery("input:button").button();
	
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
	                     '$!lang.getText("코드(ID)")'
	                    ,'$!lang.getText("이름")'
	                    ,'$!lang.getText("SUB코드")'
	                    ,'$!lang.getText("화주")'
	  		           ];
	
	// 그리드 컬럼 정의		
	var colModelArray = [
	        {name:'ID',			index:'ID',			width:80,	align:"center"},
	        {name:'NAME',		index:'NAME',		width:140,	align:"center"},
	        {name:'CODE',		index:'CODE',		width:90,	align:"center"},
			{name:'CUST_NM',	index:'CUST_NM',	width:140,	align:"center"}
		];
	
	var option = {
			'title' : '$!lang.getText("목록")',
			'height' : 330,
			'width' : '100%',
			'colName' : colNameArray,
			'colModel' : colModelArray,
	        'pager' : jQuery("#pjmap"),
	        'autowidth' : true,
	        'multiselect' : true,
	        'viewrecords' : true,
	        'gridview' : true,
	        'sortable' : true,
	        #if($ss_gird_num != "")
	        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
	        #else
	        'rowList' : [100,200,300],
	        #end
	        'rownumbers' : true,
	        'rownumWidth': 40,
	        'shrinkToFit': true
		};
	var url = listUrl + "?S_ID="+strId+"&S_NAME="+strName;
	var loadCompleteEventCallback = "";
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_paramSet(err);
			javascript:self.close();
		}
	};
	
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback, loadErrorCallback);
	
	listGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		var id   = jQuery("#list").getCell(rowid,'ID');
		var name = jQuery("#list").getCell(rowid,'NAME');
		var code = jQuery("#list").getCell(rowid,'CODE');
		jQuery("form[name='formDetl'] input[name='ID'  ]").val(id);
		jQuery("form[name='formDetl'] input[name='NAME']").val(name);
		jQuery("form[name='formDetl'] input[name='CODE']").val(code);
		fn_paramSet();
	});

	/* 그리드 공통화 적용 끝- listGrid */
	
	 // 검색조건 enter검색
	 Event.observe('srchBox', 'keydown', cfn_search, false);
	 
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
});

//검색
function fn_search(op) {

	var param 	= jQuery("form[name='formDetl']").serialize();
	var url 	= listUrl + "?"+param;
	var op 		= 0;
	var page = op == 0 ? 1 : jQuery("#list").jqGrid().getGridParam("page");

	var opts = {
			url : url,
			datatype : "json",
			page : page
	};

	jQuery("#list").clearGridData();
	jQuery("#list").setGridParam(opts);
	jQuery("#list").trigger("reloadGrid"); 
}

//부모창으로 값 보내기
function fn_paramSet(err){
	var frm			= document.formDetl;
	var arg_func	= frm.func.value;

	var opnr_func	= eval("opener." + arg_func );
	var arr 		= new Array();
	var hitCnt 		= 0;

	if(frm.ID.value != ""){
        var info		= new Object();
        info.id			= frm.ID.value;
        info.name		= frm.NAME.value;
        info.code		= frm.CODE.value;
        
        arr[0]= info;

    	if(arr != null){
    		opnr_func(arr);
    	}
    	
        self.close();  
	}else{
		if(err != null){
			alert("$!lang.getText('세션정보가없습니다.')");
			var opnr_func = eval("opener.fn_pop_err");
			var info = new Object();
			info.err = err;
			arr[0]= info;
			if(arr != null){
	    		opnr_func(arr);
	    	}
		}else{
			alert("$!lang.getText('물류센터코드를확인해주세요')");   
			return;			
		}
	}
}

var message_list = {
	    'no_selected_data_for_delete': '$!lang.getText('삭제할데이터를선택해주세요', $ss_lang_type)',
	    'no_check_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)',
	    'confirm_save': '$!lang.getText('저장하시겠습니까', $ss_lang_type)',
	    'no_selected_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)'
	}
</script>
<div class="popupWrap">	
	
    <div class="popupHeader">
    	<form name="formDetl" action="" method="post">
			<input type="hidden" id="func" name="func" value="$!request.getParameter('func')"/>
			<input type="hidden" name="ID"/>
    		<input type="hidden" name="NAME"/>
    		<input type="hidden" name="CODE"/>
    		
    
   			<div class="btnArea marB10">
				<div class="btnAreaLeft" id="btnAreaLeftText">
					$!lang.getText("조회")
				</div>
				<div class="btnAreaRight">
                 	<input type="button" class = "btnSave"	value='$!lang.getText("선택")'	onclick="fn_paramSet(); "/>
                 	<input type="button" class = "btnEtc" 	value='$!lang.getText("닫기")'	onclick="javascript:self.close();"/>
    			</div>
			</div>
    		
    		<table class="search" id="srchBox">		
    			<colgroup>	
    				<col width="100px"/>
    				<col width="50%"/>
    				<col width="100px"/>
    				<col width="50%"/>
    				<col width="40px"/>
    			</colgroup>
    			<tr>
	    			<th>$!lang.getText("이름")</th>
					<td>
						<input type="text" class="text" name="S_NAME" id="S_NAME" style="ime-mode:active"/>
					</td>
    				<th></th>
    				<td></td>
    				<th class="btnSearch">
						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
					</th>    				
    			</tr>
    		</table>
    		
    	</form>
    	
    </div>
    
    <div class="popupContent">
    	<table id="list"></table>
    	<div id="pjmap"></div>
    </div>

</div>
</body>
</html>