<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('엑셀입력(간편)')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/w3.css" />
<script type="text/javascript">
	var strings = new Array();
	strings['file.error.nosuchfile'] = "$!lang.getText('첨부된파일이없습니다')";
	strings['file.error.maxfilename'] = "$!lang.getText('파일명길이제한[60byte]을초과합니다')";
	strings['file.error.extension'] = "$!lang.getText('업로드는JPG/PNG/GIF/PDF/XLS/TXT/DOC/PPT/ZIP파일만가능합니다')";

	strings['grid.no_selected_data_for_delete'] = "$!lang.getText('삭제할데이터를선택해주세요')";
	strings['grid.no_check_data_for_save'] = "$!lang.getText('저장할데이터를선택해주세요')";
	strings['grid.confirm_save'] = "$!lang.getText('저장하시겠습니까')";
	strings['grid.no_selected_data_for_save'] = "$!lang.getText('저장할데이터를선택해주세요')";

	strings['DEFAULT_MSG_REQUIRED'] = "$!message.getMessage('0은필수입력항목입니다', '\#{name}')";
	strings['DEFAULT_MSG_MAX_LENGTH'] = "$!message.getMessage('0은최대1자까지입력할수있습니다', '\#{name}', '#{max}')";
	strings['DEFAULT_MSG_MIN_LENGTH'] = "$!message.getMessage('0은최소1자이상입력해야합니다', '\#{name}', '\#{min}')";
	strings['DEFAULT_MSG_MIN_MAX_LENGTH'] = "$!message.getMessage('0은1자이상2자이하로입력해야합니다', '\#{name}', '\#{min}', '\#{max}')";
	strings['DEFAULT_MSG_MAX_BYTE_LENGTH'] = "$!message.getMessage('0은최대1byte까지입력할수있습니다', '\#{name}', '\#{max}')";

	strings['DEFAULT_MSG_MIN_BYTE_LENGTH'] = "$!message.getMessage('0은최소1byte이상입력해야합니다', '\#{name}', '\#{min}')";
	strings['DEFAULT_MSG_MIN_MAX_BYTE_LENGTH'] = "$!message.getMessage('0은1byte이상2byte이하로입력해야합니다', '\#{name}', '\#{min}', '\#{max}')";
	strings['DEFAULT_MSG_HANGUL'] = "$!message.getMessage('0은한글만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_ALPHABET'] = "$!message.getMessage('0은영문자만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_ALPHABET_LENGTH'] = "$!message.getMessage('0은1자이하의영문자만입력해야합니다', '\#{name}', '\#{max}')";

	strings['DEFAULT_MSG_ALPHANUM'] = "$!message.getMessage('0은영문자나숫자만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_ALPHANUM_LENGTH'] = "$!message.getMessage('0은1자이하의영문자나숫자만입력해야합니다', '\#{name}', '\#{max}')";
	strings['DEFAULT_MSG_FIGURE'] = "$!message.getMessage('0은숫자만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_FIGURE_LENGTH'] = "$!message.getMessage('0은1자이하의숫자만입력해야합니다', '\#{name}', '\#{max}')";
	strings['DEFAULT_MSG_NUMBER'] = "$!message.getMessage('0은수만입력해야합니다', '\#{name}')";

	strings['DEFAULT_MSG_NUMBER_LENGTH'] = "$!message.getMessage('0은총1자리이하의수만입력해야합니다', '\#{name}','\#{max}')";
	strings['DEFAULT_MSG_NUMBER_DECIMAL_LENGTH'] = "$!message.getMessage('0은1자리이하의소수부를가진총2자리이하의수만입력해야합니다', '\#{name}', '\#{decimal}','\#{max}')";
	strings['DEFAULT_MSG_ID'] = "$!message.getMessage('0은영문자로시작하영문자와숫자로이루어진값만입력해야합니다', '\#{name}')";
	strings['DEFAULT_MSG_ID_LENGTH'] = "$!message.getMessage('0은1자이하의영문자로시작하고영문자와숫자로이루어진값만입력해야합니다', '\#{name}', '\#{max}')";
	strings['DEFAULT_MSG_EMAIL'] = "$!message.getMessage('0은이메일형식이아닙니다', '\#{name}')";

	strings['DEFAULT_MSG_EMAIL_LENGTH'] = "$!message.getMessage('0은이메일형식이아니거나1자이상입력되었습니다', '\#{name}', '\#{max}')";
	strings['DEFAULT_MSG_SELECT'] = "$!message.getMessage('0을선택하여주십시오', '\#{name}')";
	strings['DEFAULT_MSG_CHECK'] = "$!message.getMessage('0은체크되지않았습니다', '\#{name}')";
	strings['DEFAULT_MSG_SSN'] = "$!lang.getText('올바른주민등록번호형식이아닙니다')";
	strings['DEFAULT_MSG_WRONG_SSN'] = "$!lang.getText('잘못된주민등록번호입니다')";

	strings['DEFAULT_MSG_BAD_WORD'] = "$!message.getMessage('0에금칙어1이포함되어있습니다', '\#{name}', '\#{word}')";
	strings['DEFAULT_MSG_NOT_EQUAL'] = "$!message.getMessage('0의입력값이서로다릅니다', '\#{name}')";
	strings['DEFAULT_MSG_EQUAL'] = "$!message.getMessage('0의입력값이서로같습니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_CERT_NO'] = "$!message.getMessage('0의입력값은올바른인증번호가아닙니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_CERT_NO_LENGTH'] = "$!message.getMessage('0은올바른인증번호가아니거나1자이상입력되었습니다', '\#{name}', '\#{max}')";

	strings['DEFAULT_MSG_NOT_DATE'] = "$!message.getMessage('0의입력값은올바른날짜가아닙니다YYYY-MM-DD의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_DATE1'] = "$!message.getMessage('0의두번째입력값은올바른날짜가아닙니다YYYY-MM-DD의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_YEAR'] = "$!message.getMessage('0의입력값은올바른년도가아닙니다YYYY의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_YEAR1'] = "$!message.getMessage('0의두번째입력값은올바른년도가아닙니다YYYY의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_YEAR_MONTH'] = "$!message.getMessage('0의입력값은올바른년월이아닙니다YYYYMM의형태로입력하십시오', '\#{name}')";

	strings['DEFAULT_MSG_NOT_YEAR_MONTH1'] = "$!message.getMessage('0의두번째입력값은올바른년월이아닙니다YYYYMM의형태로입력하십시오', '\#{name}')";
	strings['DEFAULT_MSG_NOT_PERIOD'] = "$!message.getMessage('0의종료일이시작일보다빠릅니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_PERIOD_YEAR'] = "$!message.getMessage('0의종료년도가시작년도보다빠릅니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_PERIOD_YEAR_MONTH'] = "$!message.getMessage('0의종료년월이시작년월보다빠릅니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_VALID_PERIOD'] = "$!message.getMessage('0의기간은12이내여야합니다', '\#{name}', '\#{value}', '\#{period}')";

	strings['DEFAULT_MSG_NOT_EQUAL_PERIOD_FORMAT'] = "$!message.getMessage('0의입력포멧이서로다릅니다', '\#{name}')";
	strings['DEFAULT_MSG_NOT_VALID'] = "$!message.getMessage('0은올바른형식이아닙니다', '\#{name}')";
	strings['DEFAULT_MSG_SPECIAL_CHAR'] = "$!message.getMessage('0은특수문자를포함할수없습니다', '\#{name}')";
</script>

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>
<script type="text/javascript" src="/js/layout.js"></script>
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>

<style type="text/css">
.no-border {width:98%; border:0px; color:red; font-size:12px; background-color:transparent;}
</style>

<body style="min-width:480px;">
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<script type="text/javascript">
<!--//

var interval_gb  = 0;
var interval_end = 0;
var barWidth = 1;
var elem;
var runChk = 0;

jQuery(document).ready(function(){
	/* button */
	jQuery("input:button").button();	
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
	//프로세스 바 정의
	elem = document.getElementById("myBar");
});

/*템플릿입력*/
function fn_upload(){
    if(jQuery("#txtFile").val() == ""){
    	alert("$!message.getMessage('excel.send.fail')");
    	return false;
    }
    if(runChk == 1){
    	alert("$!lang.getText('파일을다시선택하여주십시오')");
    	fn_initFile();
    	return false;
    }
    
    var exp = jQuery("#txtFile").val().split('.');
    if( (exp[Number(exp.length)-1]).toUpperCase() == "XLS" || (exp[Number(exp.length)-1]).toUpperCase() == "XLSX"){
    	var colSize = 40;	
    	fn_initFile(); //입력 초기화
		
        jQuery.ajax({
            url			: "/WMSMS080/uploadInfo.action",
            type		: "POST",
            contentType	: false,
            processData	: false,
            data		: function() {
				var data = new FormData();
				data.append("txtFile", jQuery("#txtFile").get(0).files[0]);
				data.append("startRow", 1);
				data.append("uploadType"		, 'SIMPLE_V2');
				data.append("colSize", 	colSize);
				return data;
			}(),
			beforsend:function(){
				jQuery("#statPerArea").text('0%');
			},
			complete:function(){
				interval_end = 1;
				barWidth = 100;
				elem.style.width = '100%';
				jQuery("#statPerArea").val(100 * 1  + '%');
				runChk = 1;
			},
			xhr: function () {
				var xhr = new window.XMLHttpRequest();
				xhr.upload.addEventListener("progress", function (evt) {
					if (evt.lengthComputable) {
						var id = setInterval(frame, (evt.total/4000));
						//console.log(evt.loaded + " // " + evt.total);
						function frame() {
							if (barWidth >= 99 || interval_gb == 1) {
								clearInterval(id);
								if (interval_end == 1) {
									elem.style.width = '100%'; 
									jQuery("#statPerArea").val(100 * 1  + '%');
								}
						    } else {
						    	barWidth++;
						    	elem.style.width = barWidth + '%'; 
						    	jQuery("#statPerArea").val(barWidth * 1  + '%');
						    }
						}
					}
				}, false);
				return xhr;
			},
            error : function(_, textStatus, errorThrown) {
            	interval_gb = 1;
            	
				var areaMsg = data.MSG_ORA.split("Exception:");
				if(data.errCnt == 1){
					jQuery("#statTextArea").val("> Error."+"\n"+areaMsg[1]);
				}else if(data.errCnt == 0){
					jQuery("#statTextArea").val("> Success.");
				}
				
				alert(data.MSG);
			},
            success	: function(data) {
				var areaMsg = data.MSG_ORA.split("Exception:");
				if(data.errCnt == 1){
					jQuery("#statTextArea").val("> Error."+"\n"+areaMsg[1]);
					interval_gb = 1;
				}else if(data.errCnt == 0){
					jQuery("#statTextArea").val("> Success.");
				}
				
				alert(data.MSG);
            }
        });
    }else{
    	alert("$!message.getMessage('excel.ext.check')");
    }
}

function fn_initFile(){
	interval_gb  = 0;
	interval_end = 0;
	barWidth = 1;
	runChk = 0;
	elem.style.width = '0%'; 
	jQuery("#statPerArea").val('0%');
	jQuery("#statTextArea").val('');
}

/* 파일다운 */
function fn_fileDown() {
	//input 하드코딩
	//다운로드 공통함수
	var temp_form1 = jQuery("#D_ATCH_FILE_ROUTE").val();
	var temp_form2 = jQuery("#D_ATCH_FILE_NAME").val();
	filechecklist.jdfwForm.action = "/jsp/filedownloadMt.jsp?file_path="+temp_form1+"&file_name="+temp_form2;
	filechecklist.jdfwForm.submit();
}

</script>

<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
            	$!lang.getText('로케이션정보') $!lang.getText('엑셀입력')
            </div>
            <div class="btnAreaRight" style="top:2px; right:0px;">
            	<input type="button" value="$!lang.getText('양식다운로드')"	class = "EXC_AUTH btnExcel"  	onclick="fn_fileDown()"/>
            </div>
        </div>
    </div>
    
    <div class="popupContent">
        <div>
			<form id="jdfwForm" name="jdfwForm" method="post">
				<input type="file" name="txtFile" id="txtFile" style="width:100%;" onclick="fn_initFile()" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
    		</form>
        </div>
        <div class="w3-light-grey">
			<div id="myBar" class="w3-container w3-blue" style="width:0%">.</div>
		</div>
		
        <div class="btnArea">
        	<div class="btnAreaLeft" style="top:0px;">
				<input type="text" id="statPerArea" class="no-border" style="width:50px; color:#2196F3; font-size:15px;" value="0%"/>
            </div>
            <div class="btnAreaRight" style="top:3px; right:0px;">
   				<form id="jdfwForm" name="jdfwForm" method="post" >
					<input type="button" value="$!lang.getText('등록')"	class = "btnEtc"  	onclick="fn_upload()"/>
					<input type="button" class = "btnEtc" value="$!lang.getText('닫기')" onclick="javascript:self.close();"/>					
	       		</form>
            </div>
            <br>
            <div>
            	<textarea id="statTextArea" wrap="on" class="no-border" style="width:98%;" rows=2; placeholder="> No message."></textarea>
            </div>
        </div>
    </div>
    <iframe name="filechecklist" src="/jsp/fileuploadMt.jsp" style="visibility : hidden ; width : 0 ; height : 0" ></iframe>
    <input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE' value='/STAN_TEMPLATE/WMSMS080'/>
    <input type="hidden" name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME' value='execlTemp_location_simple_V2.xls'/>
</div>
</body>
</html>