<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="100px"/> 
				<col width="24%"/> 
				<col width="100px"/> 
				<col width="*%"/>
				<col width="50px"/>	
			</colgroup>
			<tr>
				<th >$!lang.getText("창고")</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="S_WH_CD" id="S_WH_CD" onChange="vrSrchWhCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WMSMS040");' class="imgSearch"/> 
					<input type="hidden" class = "text" style="width: 40%" name="S_WH_ID" id="S_WH_ID"> 
					<input type="text" class = "text" style="width: 40%" name="S_WH_NM" id="S_WH_NM" onChange="vrSrchWhNm_OnKillFocus()">				
				</td>
				<td></td>
				<td></td>			
				<th class="btnSearch">
					<input type="button" class="SER_AUTH" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
		</table>		
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">	
			<input type="button" value="$!lang.getText('엑셀입력')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload();" role="button" aria-disabled="false"/>			
			<input type="button" value="$!lang.getText('저장')" class="INS_AUTH UPD_AUTH btnSave" name="btn_write" onclick="fn_save();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('신규')" class="INS_AUTH btnEtc"          name="btn_write" onclick="fn_new();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete"          name="btn_write" onclick="fn_delete();" role="button" aria-disabled="false"/>
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"          name="btn_write" onclick="fn_excelDown();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	
	<div class="detail_box column_2">
		<div class="fl" style="width:49%">
			<table id="list" style="width:100%;"></table>
			<div id="pjmap"></div>		
		</div>
				
		<div class="fr" style="width:49%">
			<form name="frm_detail" id="frm_detail">
				<div class="detailViewWrap">
					<div class="detailViewTitle">$!lang.getText("창고정보")</div>	
					
					<table class="contentView borderBottom">	
						<colgroup>
							<col width="40%"/>
							<col width="60%"/>		
						</colgroup>	
						<tr>
							<th>$!lang.getText("창고ID")</th>
							<td>
								<input type="text" class="readOnly" id="WH_ID" name="WH_ID"	readonly="readonly">
							</td>
						</tr>	
						<tr>
							<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText("창고코드")</th>
							<td>
								<input type="text" class="text" id="WH_CD" name="WH_CD" onblur="fn_setDataGrid('WH_CD')" maxlength="20">
							</td>
						</tr>
						<tr>
							<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText("창고명")</th>
							<td>
								<input type="text" class="text" id="WH_NM" name="WH_NM" onblur="fn_setDataGrid('WH_NM')" maxlength="30">
							</td>
						</tr>
						<tr>
							<th>$!lang.getText("창고유형")</th>  
							<td>
								<select name="WH_TYPE" id="WH_TYPE" class="selectbox" onblur="fn_setDataGrid('WH_TYPE','sel')">
									<option value="">$!lang.getText("선택")</option>
									#foreach($row in $WhType)
									<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
									#end
								</select>
							</td>
						</tr>	
						<tr>
							<th>$!lang.getText("창고구분")</th>
							<td>
								<select name="WH_GB" id="WH_GB" class="selectbox" onblur="fn_setDataGrid('WH_GB','sel')">
									#foreach($row in $WhGB)
									<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
									#end
								</select>
							</td>
						</tr>
						<tr>
							<th>$!lang.getText("가로")</th>
							<td>
								<input type="text" class="text" style="text-align:right" id="MAX_LEN_W" name="MAX_LEN_W" onblur="fn_setDataGrid('MAX_LEN_W')" onkeyPress="cfn_setFldToNumberFld(MAX_LEN_W)" maxlength="10">
							</td>
						</tr>
						<tr>
							<th>$!lang.getText("세로")</th>
							<td>
								<input type="text" class="text" style="text-align:right" id="MAX_LEN_L" name="MAX_LEN_L" onblur="fn_setDataGrid('MAX_LEN_L')" onkeyPress="cfn_setFldToNumberFld(MAX_LEN_L)" maxlength="10">
							</td>
						</tr>
						<tr>
							<th style="height:325px;"></th>
							<td style="height:325px;"></td>
						</tr>
					</table>
					<input type="hidden" class="text" id="NUM" name="NUM">
					<input type="hidden" class="text" id="WH_ID" name="WH_ID">
				</div>
				<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
			</form>
		</div>
	</div>
</div>