<form name="frm_list">
	<div class="pageBtnGroup">
	    <div class = "btnArea">
	    	<div class="btnAreaRight">
	   			$!comCode.getComboComCode("ORD05", "cmbNewWorkType", "", false, "$!lang.getText('선택')", "", '',"")
	    	</div>
	    </div>	
	</div>
	
	<div class="patternWrap">
		
		<table class="search" id="srchBox">
			<colgroup>
				<col width="100px"/> 
				<col width="23%"/>
				<col width="100px"/> 
				<col width="23%"/>
				<col width="100px"/>
				<col width="23%"/>			
				<col width="40px"/>	
			</colgroup>
			<tr>
				<th class="thBar">$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch" name="btnSrchCustPop" id="btnSrchCustPop"/> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
				</td>
				
				<th>$!lang.getText("작업일자")</th>
				<td>
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> ~
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				<th class="thBar">$!lang.getText('상품')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchItemId" id="vrSrchItemId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
				</td>			
			
				<th class="btnSearch" rowspan="3">
					<input type="button" class="SER_AUTH" name="btn_write" onClick="fn_search();" />
				</th>
			</tr>	
			
			<tr>
				<th>$!lang.getText("작업구분")</th>
				<td>
					$!comCode.getComboComCode("ORD05", "vrSrchWorkType", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
			
				<th class="thBar">$!lang.getText('창고')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchWhId" id="vrSrchWhId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
				</td>
		
				<th class="thBar">UOM</th>
				<td>
					<input type="text" class="text" style="width:40%" name="vrSrchUomId" id="vrSrchUomId" onChange="vrSrchUomId_OnKillFocus()"/> 
	 				<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("UOM");' class="imgSearch"/> 
					<input type="text" class="text" style="width:40%" name="vrSrchUomNm" id="vrSrchUomNm" onChange="vrSrchUomNm_OnKillFocus()"/> 
				</td>
				
<!-- 				<th class="btnReset"> -->
<!-- 					<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"  onClick="fn_initSer();" title="초기화"/>	 -->
<!-- 				</th>			 -->
			</tr>	
			<tr>
				<th>$!lang.getText("상태")</th>
				<td>
					$!comCode.getComboComCode("STS11", "vrSrchWorkStat", "", true, "$!lang.getText('전체')", "", '',"class='selectbox'")
				</td>
				<th></th>
				<td></td>
		
				<th></th>
				<td></td>
			</tr>
		</table>
	
		<form name = "frm_data">
			<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		</form>
		
		<input type ="hidden"	name= "vrWorkIdStr" 		id ="vrWorkIdStr">
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
			<!-- <input type="button" value="$!lang.getText('작업리스트출력')" class="EXC_AUTH btnEtc"          name="btn_print" onclick="fn_print();" role="button" aria-disabled="false"/> -->
			<input type="button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete"       name="btn_write" onclick="fn_delete();" role="button" aria-disabled="false"/>
			<!-- <input type="button" value="$!lang.getText('신규')" class="INS_AUTH btnEtc"          name="btn_write" onclick="fn_new();" role="button" aria-disabled="false"/> -->
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"        name="btn_write" onclick="fn_excelDown();"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="list"></table>
		<div id="pjmap"></div>
	</div>
	
	<div class="list_box">
		<table>
			<tr>
				<td style = "width: 59%">
					<table id="detail"></table>
					<div id="detail_pjmap"></div>
				</td>
				<td></td>
				<td style = "width: 39%">
					<table id="detail2"></table>
					<div id="detail_pjmap2"></div>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="dataTable"></div>
	
</div>	