#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
#parse("winus/wmspk/WMSPK_REPORT.vm")
<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.js"></script>
<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.min.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">


jQuery(document).ready(function(){
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	// button
	jQuery("input:button").button();

	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);


});

function labelTest(){
	
	if(confirm("$!lang.getText('출력하시겠습니까')")){
		var vrBarNo = jQuery('#vrBarcodeNo').val();
		var vrProdNo = jQuery('#vrProductNo').val();
		var vrQty = jQuery('#vrQty').val();
		var strParameter  = [];
		strParameter.push(vrBarNo);
		strParameter.push(vrProdNo);
		strParameter.push(vrQty);
		
		var param 		= "?strParameter="+strParameter;
		var url         = "/WMSPK210pop.action"+param;
		var width 		= "1000";	//900 MIN 1024
		var height 		= "800";		//크기다시 재조정할 필요있음
		var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
		asppop.focus();
	}
}
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("입고레이블발행")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmspk/WMSPK210E1.vm")
    </div>
</div>
#parse("winus/common/footer.vm")