@CHARSET "UTF-8";
/*******************************************************************************
 *	기본 태그 스타일 설정 시작
 *	모든 영역에 기본적으로 적용되어야 하는 기본 테그에 대한 스타일을 정의
 *******************************************************************************/

/* body */
body {
	margin:0;
	background-color: white;
	color: #000000;
	font-family: Tahoma, Verdana;
	font-size: 72.5%;
	min-width: 760px;
}

form, table {
	margin: 0;
}

input {
	border: 1px solid #d0d1d1;
	_height: 99%; /* ie6 */
}

input.text {
	width: 99%;
	height:21px;
}

input.radio {
	border: none;
	_height: 22px;
}

input.checkbox {
	border: none;
	_height: 22px;
}
input.readOnly {height:21px;}
select {
	width: 100%;
	border: 1px solid #aaaa99;
	_height: 97%; /* ie6 */
}

img {
	border: none;
}

h1 {
	background-color: #4682B4;
	color: #FFFFFF;
	margin: 0;
	padding: 3px 3px 3px 10px;
	font-size: 13px;
}

h2 {
	background-color: #dbeaf5;
	color: #000000;
	margin: 0 0 5px 0;
	padding: 3px;
	font-size: 12px;
}

a,a:link,a:visited,a:active {
	color: #0000aa;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
}

form * {
	vertical-align: middle;
}

/* 기본 태그 스타일 설정 끝 */

/* 기본 클래스 스타일 설정 시작 */
.right {
	text-align: right;
}

.center {
	text-align: center;
}

.clearing {
	height: 5px;
	margin: 0;
	padding: 0;
	clear: both;
	font-size: 1px;
}
/* 기본 클래스 스타일 설정 끝 */