@CHARSET "UTF-8";

/*******************************************************************************
 *
 *  jqueryUI style overriding -- START
 *
 *  jqueryUI 의 스타일을 재정의하고 싶을때 이부분에 추가해 주십시오.
 *  이곳에 정의된 스타일은 전체적으로 적용됩니다.
 *
 *******************************************************************************/
#pane_right h2 {background:none; padding:8px 25px 7px 25px; font-size: 11px; color:#697785; font-weight: normal; border:none;}
h2.first#fullpath_screen {background:none; padding:8px 25px 7px 25px; font-size: 11px; color:#697785; font-weight: normal; border:none;}

.ui-tabs .ui-tabs-panel {
	padding: 0.8em ;
}

/*
input.ui-button {
	padding-bottom: 0.1em;
}
*/

/* jqueryUI style overriding -- END */


.ui-jqgrid .ui-jqgrid-htable th div {
	height:auto;
	overflow:hidden;
	padding-right:4px;
	padding-top:2px;
	position:relative;
	vertical-align:text-top;
	white-space:normal !important;
}



/* 화면 레이아웃 */
/* 레이아웃 헤더 */

/*
#layout_header {

}


#layout_header #large_logo {
	margin: 0;
	white-space: nowrap;
	text-align: left;
	font-size: 10px;
}

#layout_header #small_logo {
	margin: 0;
	white-space: nowrap;
	text-align: right;
	font-size: 10px;
}

#layout_header #topNav {
	margin: 25px 0 0 0;
	margin: 0;
	white-space: nowrap;
	text-align: right;
	font-size: 11px;
}
*/

/* 레이아웃 메인 컨텐츠 */
#layout_content {
	/*border-right: 1px solid #4682B4;*/
	/*background: url(/img/common/bg_aside.gif) left top repeat-y !important;*/
	min-height: 700px !important;
	overflow: auto;
}

/* 레이아웃 컨텐츠 좌측 */
#layout_content #pane_left {
	width: 210px;
	float: left;
	font-size: 11px;
}

#layout_content #pane_left .menu_title {
	background-color: #3e4c58;
	color: #fff;
	height:41px;
	line-height:41px;
	margin: 0 0 0 0;
	border-bottom:solid 1px #263645;
	
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
}



#layout_content #iconPane {
	width: 0px;
	float: left;
	
	height:41px;
	_height: 41px;		/* ie6 */
	.padding-bottom: 2px;		/* ie6, ie7*/

}
#layout_content .ui-icon.ui-icon-arrowstop-1-e {background:#3e4c58 url(/img/common/sp_common.png) -41px -59px scroll; width:40px; height:40px; border:none; cursor:pointer; margin-left:-50px;}
#layout_content .ui-icon.ui-icon-arrowstop-1-w {background:#3e4c58 url(/img/common/sp_common.png) 0 -59px scroll; width:40px; height:40px; border:none; cursor:pointer; margin-left:-40px;}

/* 레이아웃 컨텐츠 우측 */
#layout_content #pane_right {
	margin-left: 211px;
	_margin-left: 216px;		/* ie6 */
	/*padding: 0 20px 20px 9px;*/
	overflow: hidden;
	word-wrap: break-word;
	font-size: 0.9em;
	min-height: 700px !important;
}


#layout_content #pane_right h1 {
	margin: 20px -30px 5px -40px;
	padding-left: 30px;
}

/* 레이아웃 푸터 */
#layout_footer {
	color: #405365;
	text-align:center;
	padding: 8px 0 10px 0;
	clear: both;
}

#layout_footer #cpRight {
	float: left;
	white-space: nowrap;
}

#layout_footer div#botmLinks {
	float: right;
	white-space: nowrap;
}

#layout_footer div#botmLinks {
	color: #000000;
	white-space: nowrap;
}

#layout_footer div#botmLinks a {
	color: #FFFFFF;
	white-space: nowrap;
}

#layout_footer div#botmLinks a:hover {
	text-decoration: underline;
}

/* 네비게이션 영역 */
#navi {
	font-size: 1.3em;
	background-color: #ffffbb;
	border-bottom: 1px solid black;
	padding-bottom: 2px;
}

/* 검색박스 테이블 설정 */
table.search {		/* width 값 넣으면 ie6에서 화면 깨짐 */
	border-width: 1px;
	border-style: solid;
	border-color: #b0b0b0;
	/*table-layout: fixed;*/
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	_font: 1.1em Lucida Grande, Lucida Sans, Arial, sans-serif; /* ie6 */
	margin-bottom:10px;
	table-layout: fixed;
}

table.search th {
	background-color: #ffffff;
	padding: 2px 5px 2px 5px;
	text-align:right;
	vertical-align: middle;
	color: #696b6f;
	font-weight:normal;
	/*border-bottom: 1px solid #d0d1d1;*/
	
}

table.search td {
	background-color: #ffffff;
	padding: 2px 5px 2px 3px;
	/*border-bottom: 1px solid #d0d1d1;*/
	white-space: nowrap; /* KWT임의추가  */
}
table.search tr:first-child th {padding: 5px 5px 2px 3px;}
table.search tr:first-child td {padding: 5px 5px 2px 3px;}
table.search tr:last-child th {padding: 2px 5px 5px 3px;}
table.search tr:last-child td {padding: 2px 5px 5px 3px;}


table.search td input {border:solid 1px #d0d1d1;}
table.search .btnSearch {border-left:solid 1px #d0d1d1; background: #f3f3f3; padding: 0 !important;} 
table.search .btnSearch input  {background:url(/img/common/icon_search.png) center center no-repeat; border: none; width:100%; min-width:25px; height: 100%; min-height:26px; }
table.search .btnSearch input:hover {background:url(/img/common/icon_search.png) center center no-repeat; border: none;  width:100%; min-width:25px; height: 100%; min-height:26px; }

table.search .btnReset {border-left:solid 1px #d0d1d1; background: #f3f3f3; padding: 0 !important;} 
table.search .btnReset input  {background:url(/img/common/icon_reset.png) center center no-repeat; border: none; width:100%; min-width:25px; height: 100%; min-height:26px; }
table.search .btnReset input:hover {background:url/img/common/icon_reset.png) center center no-repeat; border: none;  width:100%; min-width:25px; height: 100%; min-height:26px; }


table.search td label * {vertical-align:middle;}
.thBar {/*background:url(/img/common/bar.gif) 2px center no-repeat;*/}

div.button_bar {
	margin-top: 5px;
}

/* 리스트 영역 */
div.list_box {
	/*overflow:hidden;*/
	margin-top: 10px;
}

/* 상세 영역 */
div.detail_box {
	overflow:auto;
	margin-top: 10px
}
table.detail {
	width: 100%;
	_width: 99%;		/* ie6 */
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d3;
	border-collapse: collapse;
	border-spacing: 0;
	_font: 1.1em Lucida Grande, Lucida Sans, Arial, sans-serif; /* ie6 */
	margin-bottom: 10px;
	/*border-top: 2px solid #4682B4;*/
}

table.detail th {
/*	background-color: rgb(223, 239, 252);
	padding: 2px;*/
	background-color:#fff;
	padding: 2px 8px 0 15px;
	vertical-align: middle;
	color: #696b6f;
	/*border-bottom: 1px solid #aaaa99;*/
	height : 20px;
	text-align : left;
	font-weight:normal;
}

table.detail td {
	background-color:#fff;
	padding: 2px 5px 2px 3px;
	/*border-bottom: 1px solid #aaaa99;*/
}

/* 추가 - 상세 제목  2011.03.30 */
table.detailTitle {
	width: 100%;
	_width: 99%;		/* ie6 */
	border-collapse: collapse;
	border-spacing: 0;
	_font: 1.1em Lucida Grande, Lucida Sans, Arial, sans-serif; /* ie6 */
	font-weight:bold;
	margin-bottom: 5px;
}

table.detailTitle td {
	height : 20px;
}

.tdTextTitle{
	/* background:url('/img/exam/btn/icon.gif')  no-repeat 0%; */
	padding: 0 0 0 0;
	font-weight:bold;
	vertical-align: middle;
	color: #63656a;
	font-size:12px;
}

.tdTextTitleSub{
	/* background:url('/img/exam/btn/subTitle.gif')  no-repeat 8px; */
	padding: 3px 0 0 18px;
	vertical-align: middle;
	color: #666666;
}

.inputBorder {
	clear: none;
	border: 0px none;
	float:none;
	background-color:transparent;
}

.inputBoderLeft { border-left:1px solid #aaaa99;}

.selectbox {
	/*width: 13em;*/
	border: 1px solid #d0d1d1;
	height:23px;
	_height: 97%; /* ie6 */
}

     .selectbox2 {
	width: 20em;
	border: 1px solid #d0d1d1;
	_height: 97%; /* ie6 */
}
select.language {border:solid 1px #32425c; width:120px; color:#434345; height:28px; background:transparent; -webkit-appearance:none; -moz-appearance:none; background-color: #ffffff; background:#ffffff url(/img/common/bg_selectArrow.gif) right center no-repeat; }
select.company {border:solid 1px #32425c; width:150px; color:#434345; height:23px; background:transparent; -webkit-appearance:none; -moz-appearance:none; background-color: #ffffff; background:#ffffff url(/img/common/bg_selectArrow.gif) right center no-repeat; }

table.subDetail {
	width: 100%;
	_width: 99%;		/* ie6 */
	border-width: 1px;
	border-style: solid;
	border-color: #aaaa99;
	border-collapse: collapse;
	border-spacing: 0;
	_font: 1.1em Lucida Grande, Lucida Sans, Arial, sans-serif; /* ie6 */
	border-top: 1px solid #aaaa99;
}

table.subDetail th {
	background-color: rgb(215, 215, 215);
	padding: 2px;
	vertical-align: middle;
	color: #525252;
	border-bottom: 1px solid #aaaa99;
	border-left: 1px solid #aaaa99;
	height : 20px;
	text-align : center;
}

table.subDetail td {
	padding: 2px 5px 2px 3px;
	border-bottom: 1px solid #aaaa99;
	border-right: 1px solid #aaaa99;
}

table.subDetail2 {
	width: 100%;
	_width: 99%;		/* ie6 */
	border-collapse: collapse;
	border-spacing: 0;
	_font: 1.1em Lucida Grande, Lucida Sans, Arial, sans-serif; /* ie6 */
}

table.subDetail2 th {
	background-color: rgb(215, 215, 215);
	padding: 2px;
	vertical-align: middle;
	color: #525252;
	height : 20px;
	text-align : center;
	border: 0px none;
}

table.subDetail2 td {
	padding: 2px 5px 2px 3px;
	border: 0px none;
}

.subDetailTitle {
	background-color: rgb(199, 198, 200);
}

.colorRed {color: red; font-weight: bold;}
.colorYellow {color: yellow; font-weight: bold;}
.colorGreen {color: green; font-weight: bold;}

.readOnly { background-color : #CFCECE;  width:99%;}

.imgclass { width:7px; height:7px;}

.borderLine { border-left:1px solid #aaaa99;}

.spanCls {display:inline-block;width:100%;height:15px}

/* ****************  2011.06.01 ******************  */


table.infoBox {
	width: 100%;
	_width: 99%;		/* ie6 */
	border-width: 1px;
	border-style: solid;
	border-color: #aaaa99;
	border-collapse: collapse;
	border-spacing: 0;
	_font: 1.1em Lucida Grande, Lucida Sans, Arial, sans-serif; /* ie6 */
	margin-top: 10px;
	margin-bottom: 10px;
	/* border-top: 2px solid #4682B4; */
}

table.infoBox td {
	font-size: 13px;
	line-height: 150%;
	padding: 7px 0 7px 5px;
}

#layout_title {float:right;}
/* 레이아웃 헤더 */
/*
#layout_title {
	background-color: #4682B4;
	color: #FFFFFF;
	padding: 3px 3px 3px 10px;
	height: 15px;
}

#layout_title #cpRight {
	float: left;
	font-size: 13px;
	font-weight:bold;
}

#layout_title div#botmLinks {
	float: right;
	color: #FFFFFF;
}

#layout_title div#botmLinks a {
	color: #FFFFFF;
	white-space: nowrap;
}

#layout_title div#botmLinks a:hover {
	text-decoration: underline;
}
*/
table.detailPop {
	width: 100%;
	_width: 99%;		/* ie6 */
	border-width: 1px;
	border-style: solid;
	border-color: #aaaa99;
	border-collapse: collapse;
	border-spacing: 0;
	_font: 1.1em Lucida Grande, Lucida Sans, Arial, sans-serif; /* ie6 */
	margin-bottom: 10px;
	border-top: 2px solid #4682B4;
	font-size: 11px;
}

table.detailPop th {
	background-color: rgb(223, 239, 252);
/*	padding: 2px;*/
	padding: 2px 8px 0 0;
	vertical-align: middle;
	color: #2e6e9e;
	border-bottom: 1px solid #aaaa99;
	height : 20px;
	text-align : right;
}

table.detailPop td {
	padding: 2px 5px 2px 3px;
	border-bottom: 1px solid #aaaa99;
}

table.detailPopTitle {
	width: 100%;
	_width: 99%;		/* ie6 */
	border-collapse: collapse;
	border-spacing: 0;
	_font: 1.1em Lucida Grande, Lucida Sans, Arial, sans-serif; /* ie6 */
	font-weight:bold;
	margin-bottom: 5px;
	font-size: 12px;
}

table.detailPopTitle td {
	height : 20px;
}
.inputBorderPop {
	clear: none;
	border: 0px none;
	float:none;
	background-color:transparent;
	font-size: 12px;
}

.font{
	font-size:14px;
	font-weight:bold;
}

.calendar_data{vertical-align:middle; margin-left:3px;}








/* JQgird */

.btnSave {background:#ee3837 !important; border:solid 1px #b81919 !important;}
.btnSave.ui-state-hover {background:#cf1716 !important; border:solid 1px #b81919 !important;}
.btnBasic {background:#f3f3f3 !important; color:#333 !important; font-weight:normal !important; padding: .25em 1em !important; border:solid 1px #d3d3d3 !important;}

input.editable {height:20px; color:#000;}
select.editable {height:20px; color:#000;}
.ui-th-column-header {background: #d5dce6 !important; color:#717882 !important;  border-left:solid 1px #85898c; border-right:solid 1px #85898c; border-bottom:solid 1px #85898c}
.ui-th-column-header div {color:#717882 !important;}
.ui-th-column
{
	background: #d5dce6 !important;
}
.ui-th-column div{
	color:#717882 !important;
}
.ui-jqgrid .ui-jqgrid-htable th {
	height: 30px;
}
/*
.ui-corner-all {
	border-radius: 0px;
}
*/
.ui-widget-content.jqgrow.ui-row-ltr.ui-state-hover td {background: #e6f6ff !important; color:#0d456f !important}
.ui-jqgrid tr.jqgrow td { padding: 2px !important;}
.ui-jqgrid-titlebar-close.HeaderButton {position:absolute; top:10px; right:0;height:31px; width:40px; line-height:31px; text-align:center; background:none !important; border-left:solid 1px #4f5459; border-top:none !important; border-right:none !important; border-bottom:none !important; cursor: pointer;}
.ui-jqgrid-titlebar-close.HeaderButton.ui-state-hover {position:absolute; top:10px; right:0;height:31px; width:40px; line-height:31px; text-align:center; background:none !important; border-left:solid 1px #4f5459; border-top:none !important; border-right:none !important; border-bottom:none !important;  cursor: pointer;}

.ui-jqgrid-titlebar-close.HeaderButton .ui-icon.ui-icon-circle-triangle-n {background:#6e757f url(/img/common/top_arrow_close.png) center -1px no-repeat !important; border:none; cursor: pointer; margin:8px auto !important;}
.ui-jqgrid-titlebar-close.HeaderButton.ui-state-hover .ui-icon.ui-icon-circle-triangle-n {background:#6e757f url(/img/common/top_arrow_close.png) center -1px no-repeat !important; border:none; cursor: pointer; margin:8px auto !important;}

.ui-jqgrid-titlebar-close.HeaderButton .ui-icon.ui-icon-circle-triangle-s {background:#6e757f url(/img/common/top_arrow_open.png) center -1px no-repeat !important; border:none; cursor: pointer; margin:8px auto !important;}
.ui-jqgrid-titlebar-close.HeaderButton.ui-state-hover .ui-icon.ui-icon-circle-triangle-s {background:#6e757f url(/img/common/top_arrow_close.png) center -1px no-repeat !important; border:none; cursor: pointer; margin:8px auto !important;}


.ui-widget-content.jqgrow.ui-row-ltr.ui-state-highlight td {background:#ffee8f !important}
.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {}
.ui-state-default.ui-corner-top.ui-state-hover  a{background:none !important;}
.ui-widget-content.jqgrow.ui-row-ltr.ui-state-active td {background:#a3d1ff !important;}

.ui-jqgrid.ui-widget.ui-widget-content {border-left: solid 1px #4f5459; border-right: solid 1px #4f5459;}
.ui-jqgrid .ui-jqgrid-titlebar {border-left: none !important;  border-right: none !important; border-top: solid 1px #4f5459;}
.ui-jqgrid .ui-jqgrid-hdiv {border-left: none !important;  border-right: none !important;}
.ui-jqgrid .ui-jqgrid-bdiv {border-left: none !important;  border-right: none !important;}
.ui-jqgrid .ui-jqgrid-sdiv {}
.ui-jqgrid .ui-jqgrid-pager {border-left: none !important;   border-right: none !important; border-bottom: solid 1px #4f5459!important;}
.ui-jqgrid tr.footrow td {border-top-color: #86898c;}
.ui-jqgrid tr.footrow-ltr td  {border-right-color: #86898c;}

.ui-jqgrid .ui-pg-input {height: 18px; font-size: 1em; margin: 0em; color: #202020;}
.ui-jqgrid .ui-pg-selbox {height: 20px;  margin: 0em; color: #333;}
.contentView th {text-align: right !important;}

:focus {outline: 0; }/*크롬에서 블루 보더 제외*/

.text.hasDatepicker {min-width: 70px !important;}
.text.codeNumber {min-width: 70px !important;}
