@charset "UTF-8";

@font-face{font-family:KoPubDotumLight;src:url(../css/KoPubDotumLight.eot);src:local(※),url(../css/KoPubDotumLight.woff) format('woff')}
@font-face{font-family:KoPubDotumMedium;src:url(../css/KoPubDotumMedium.eot);src:local(※),url(../css/KoPubDotumMedium.woff) format('woff')}
@font-face{font-family:KoPubDotumBold;src:url(../css/KoPubDotumBold.eot);src:local(※),url(../css/KoPubDotumBold.woff) format('woff')}

* {padding:0px; margin:0px;}
html {height:100%;}
body {height:100%; font-family:KoPubDotumMedium; }
img { border:0px;}

div, span, p { font-family: inherit;}

/* login page */
.intro_body { width:100%; height:100%; background:url('../img/loginBG.png');}

.intro_body_img { background-color: #f5f5f5; width: 630px; box-shadow: 0 0 15px #000000;}
.intro_body_img .intro_top {background:url('../img/loginTitleBg.png'); cursor: pointer;}
.intro_body_img .intro_top_box { 
	display: table-cell; 
	height:133px; 
	width: 630px; 
	text-align: center; 
	vertical-align: middle; 
	background:url('../img/titleBGlogo.png') no-repeat 450px 40px; 
}
.intro_body_img .intro_top_box span { text-shadow:0 0 7px #000000; }
.intro_body_img .intro_top_box .textG { color:#ffffff; font-family:KoPubDotumBold; font-size: 30px; }
.intro_body_img .intro_top_box .textTOP { color:#ffffff; font-family:KoPubDotumLight; font-size: 30px; }
.intro_body_img .intro_top_box .textUPDATE { color:#a7bcd9; font-size: 18px; }
.intro_body_img .intro_login { height:135px; margin-top:65px; border-bottom: 1px solid #d7d7d7; padding-left: 70px;}
.intro_body_img .intro_login 
table {width:460px; }
.intro_body_img .intro_login input[type='text'], 
.intro_body_img .intro_login input[type='password'] { 
	border:1px solid #c6c6c6; width:180px; height:26px; 
	padding-left: 10px;
	font-size: 14px;font-family: inherit;
}

.intro_body_img .copyright { border-top:1px solid #ffffff; padding:20px 0px 30px 20px; font-size: 10px; font-family:KoPubDotumLight;}
.intro_body_img .copyright img { display: inline; margin-right: 20px; }
.intro_body_img .copyright span {display: inline-block; border-left:1px solid #e3e3e3; padding-left: 20px; }