@CHARSET "UTF-8";
/* Default Value
---------------------------------------------------------*/
* {margin: 0; padding: 0;}
		
/* Layout Grid 
---------------------------------------------------------*/
body {
background: #FFF;
}
#Lwrap {
min-width: 1000px;
}
#Lheader {
height: 50px;
background-color: #FFCC99;/*레이아웃 영역 표시를 위한 임시코드*/
}
#Lsidebar {
display: none;
}
#Lcontent-wrap {
margin-right: -350px;
float: left;
width: 100%;
}
#Lcontent {
margin: 0 350px 0 0;
background-color: #CCFFFF;/*레이아웃 영역 표시를 위한 임시코드*/
}
#Lextra {
float: left;
width: 350px;
background-color: #E7E7E7;/*레이아웃 영역 표시를 위한 임시코드*/
}
#Lfooter {
clear: both;
height: 30px;
background-color: #CCFF99;/*레이아웃 영역 표시를 위한 임시코드*/
}

/* Typography
---------------------------------------------------------*/
body {
font: 75%/1.5em Dotum, 돋움, sans-serif;
color: #333;
}
.Lstrong {
font-weight: bold;
}