body {background:#fafafa url(/img/common/bg_aside.gif) 0 top repeat-y;}



body.page-sidebar-closed #layout_content #pane_left {width:45px !important;}
body.page-sidebar-closed #layout_content #pane_right {margin-left:46px;}

.ie8 .page-sidebar {width: 210px; margin-right: -100%; float: left; position: relative;}
.page-sidebar {}

.page-sidebar .page-sidebar-menu {
	list-style: none; margin: 0px; padding: 0px;
}

.page-sidebar .page-sidebar-menu > li {
	margin: 0px; padding: 0px; border: 0px currentColor; display: block;
}

.page-sidebar .page-sidebar-menu > li  * {vertical-align:middle;}

.page-sidebar .page-sidebar-menu > li.sidebar-toggler-wrapper {
	border-top:none;
	border-left:none;
	border-right:none;
	height: 35px; 
	background:#f3f3f3;
	border-bottom:solid 1px #c0c0c0;
	
}
.page-sidebar .page-sidebar-menu > li.sidebar-toggler-wrapper i {color:#787878; font-weight:bold;
	font-size: 14px; text-decoration: none; display: block;  font-style:normal; line-height:40px; padding-left:15px; }

.page-sidebar .page-sidebar-menu > li.sidebar-toggler-wrapper::before {
	display: table; 
}
.page-sidebar .page-sidebar-menu > li.sidebar-toggler-wrapper::after {display: table;}
.page-sidebar .page-sidebar-menu > li.sidebar-toggler-wrapper::after {clear: both;}

.page-sidebar .page-sidebar-menu > li > a {position:relative;
	margin: 0px; padding: 10px 10px; border: 0px currentColor; font-size: 14px;  text-decoration: none; display: block; 
}

.page-sidebar .page-sidebar-menu > li > a > i {margin-right: 5px; text-shadow: none;}

.page-sidebar .page-sidebar-menu > li > a > i.icon-home, 
.page-sidebar .page-sidebar-menu > li > a > i.icon-basket, 
.page-sidebar .page-sidebar-menu > li > a > i.icon-rocket, 
.page-sidebar .page-sidebar-menu > li > a > i.icon-diamond, 
.page-sidebar .page-sidebar-menu > li > a > i.icon-puzzle, 
.page-sidebar .page-sidebar-menu > li > a > i.icon-settings, 
.page-sidebar .page-sidebar-menu > li > a > i.icon-briefcase { display:inline-block; width:24px !important; height:23px !important; }

.page-sidebar .page-sidebar-menu > li > a > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 0;}
.page-sidebar .page-sidebar-menu > li > a > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px 0;}
.page-sidebar .page-sidebar-menu > li > a > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px 0;}
.page-sidebar .page-sidebar-menu > li > a > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px 0;}
.page-sidebar .page-sidebar-menu > li > a > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px 0;}
.page-sidebar .page-sidebar-menu > li > a > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px 0;}
.page-sidebar .page-sidebar-menu > li > a > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px 0;}

.page-sidebar .page-sidebar-menu > li > a:hover > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}

.page-sidebar .page-sidebar-menu > li.open > a > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}


.page-sidebar .page-sidebar-menu > li.open > a:hover > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}


.page-sidebar .page-sidebar-menu > li.active > a > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}


.page-sidebar .page-sidebar-menu > li.active > a:hover > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}


.page-sidebar .page-sidebar-menu > li > a > i#icon-WMSOP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 0;}
.page-sidebar .page-sidebar-menu > li > a > i#icon-WMSST{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px 0;}
.page-sidebar .page-sidebar-menu > li > a > i#icon-WMSTG{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px 0;}
.page-sidebar .page-sidebar-menu > li > a > i#icon-WMSMS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px 0;}
.page-sidebar .page-sidebar-menu > li > a > i#icon-TMSYS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px 0;}
.page-sidebar .page-sidebar-menu > li > a > i#icon-WMSKP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px 0;}
.page-sidebar .page-sidebar-menu > li > a > i#icon-WMSAC{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px 0;}
.page-sidebar .page-sidebar-menu > li > a > i#icon-WMSCT{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px 0;}
.page-sidebar .page-sidebar-menu > li > a > i#icon-WMSPD{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px 0;}

.page-sidebar .page-sidebar-menu > li > a:hover > i#icon-WMSOP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i#icon-WMSST{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i#icon-WMSTG{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i#icon-WMSMS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i#icon-TMSYS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i#icon-WMSKP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i#icon-WMSAC{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i#icon-WMSCT{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li > a:hover > i#icon-WMSPD{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}

.page-sidebar .page-sidebar-menu > li.open > a > i#icon-WMSOP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i#icon-WMSST{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i#icon-WMSTG{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i#icon-WMSMS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i#icon-TMSYS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i#icon-WMSKP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i#icon-WMSAC{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i#icon-WMSCT{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a > i#icon-WMSPD{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}

.page-sidebar .page-sidebar-menu > li.open > a:hover > i#icon-WMSOP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i#icon-WMSST{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i#icon-WMSTG{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i#icon-WMSMS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i#icon-TMSYS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i#icon-WMSKP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i#icon-WMSAC{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i#icon-WMSCT{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.open > a:hover > i#icon-WMSPD{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}

.page-sidebar .page-sidebar-menu > li.active > a > i#icon-WMSOP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i#icon-WMSST{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i#icon-WMSTG{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i#icon-WMSMS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i#icon-TMSYS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i#icon-WMSKP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i#icon-WMSAC{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i#icon-WMSCT{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a > i#icon-WMSPD{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}

.page-sidebar .page-sidebar-menu > li.active > a:hover > i#icon-WMSOP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i#icon-WMSST{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i#icon-WMSTG{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i#icon-WMSMS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i#icon-TMSYS{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i#icon-WMSKP{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i#icon-WMSAC{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i#icon-WMSCT{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar .page-sidebar-menu > li.active > a:hover > i#icon-WMSPD{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}

.page-sidebar .page-sidebar-menu > li > a > span.arrow {position:absolute;   right: 12px;  top: 17px;  width: 10px;  height: 10px;  background:url(/img/common/arrow_open.png) center center no-repeat;}
.page-sidebar .page-sidebar-menu > li > a > span.open.arrow {position:absolute;   right: 12px;  top: 17px;  width: 10px;  height: 10px;  background:url(/img/common/arrow_close.png) center center no-repeat;}

.page-sidebar .page-sidebar-menu > li.active > a > .selected {
	top: 8px; width: 0px; height: 0px; right: 0px; /*border-top-color: transparent; border-right-color: rgb(255, 255, 255); border-bottom-color: transparent; border-top-width: 12px; border-right-width: 12px; border-bottom-width: 12px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid;*/ float: right; display: block; position: absolute;
}


.page-sidebar .page-sidebar-menu .sub-menu {
	list-style: none; padding: 0; margin: 0; display: none;
	border-bottom:solid 1px #e6e6e6;
}
.page-sidebar .page-sidebar-menu .sub-menu li {
	margin: 0px; padding: 0px;
}
.page-sidebar .page-sidebar-menu .sub-menu li > a {
	margin: 0px; padding: 6px 10px 6px 10px; font-size: 12px; text-decoration: none;display: block;
}

.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu li > a {
	margin: 0px 10px; padding: 6px 10px 6px 10px; font-size: 12px; text-decoration: none; border-top-color: rgb(72, 72, 72); border-top-width: 1px; border-top-style: solid; display: block;
}
.page-sidebar .page-sidebar-menu .sub-menu li > a > i {
	font-size: 12px;
}
.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu {
	margin: 0px;
}
.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li {
	
}
.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > a {
	padding-left: 40px;
}
.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > .sub-menu {
	margin: 0px;
}
.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > .sub-menu > li > a {
	padding-left: 60px;
}
.page-sidebar .page-sidebar-menu li.active > .sub-menu {
	display: block;
}


.page-sidebar .sidebar-toggler {
	width: 30px; height: 27px; display: block; cursor: pointer; 
	background: url(/img/common/icon_close.png) center center no-repeat;
	position:absolute; 
	right:10px;
	top:5px;
	opacity:1;
}

.page-sidebar .sidebar-toggler:hover {
	opacity: 1;
}

@media all and (min-width:192px)
{
.page-sidebar {
	width: 210px; height: auto !important; overflow: visible !important; padding-bottom: 0px; margin-right: -100%; float: left; display: block !important; visibility: visible !important; position: relative;
}

.page-sidebar-closed {background:#fafafa url(/img/common/bg_aside.gif) -165px top repeat-y; background-color:#ffffff;}

.page-sidebar-closed .page-sidebar {width: 45px !important;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu {width: 45px !important;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li {}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > .sub-menu {display: none !important;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li > .sub-menu {display: none !important;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover {width: 256px !important; display: block !important; position: relative !important; z-index: 10000;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a {}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > i {}


.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0  -23px;;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px  -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}

.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a:hover > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a:hover > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a:hover > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a:hover > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a:hover > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a:hover > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a:hover > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}

.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}


.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a:hover > i.icon-home{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:0 -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a:hover > i.icon-basket{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-23px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a:hover > i.icon-rocket{background-image:url(/img/common/sp_common.png);   background-attachment:scroll; background-position:-45px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a:hover > i.icon-diamond{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-68px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a:hover > i.icon-puzzle{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-91px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a:hover > i.icon-settings{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-114px -23px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.open > a:hover > i.icon-briefcase{background-image:url(/img/common/sp_common.png);  background-attachment:scroll; background-position:-137px -23px;}






.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > .selected {
	display: none;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > .sub-menu {
	left: 46px; top: 100%; width: 210px; margin-top: 0px; display: block !important; position: absolute; z-index: 2000; }
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > .sub-menu > li > a {
	padding-left: 15px !important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu > li > a {
	padding-left: 30px !important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu > li > .sub-menu > li > a {
	padding-left: 45px !important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.sidebar-toggler-wrapper {
	height: 35px; 
	border-bottom:solid 1px #c0c0c0;
	}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.sidebar-toggler-wrapper i {display:none;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.sidebar-toggler-wrapper .sidebar-toggler {
	width: 30px; height: 27px; display: block; cursor: pointer; 
	background: url(/img/common/icon_open.png) center center no-repeat;
	position:absolute; 
	left:5px;
	top:5px;
	opacity: 1;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.sidebar-toggler-wrapper .sidebar-toggler:hover {
	opacity: 1;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li.sidebar-toggler-wrapper:hover {
	width: 45px !important;
}


.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li > a {
	padding-left: 10px;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li > a .selected {
	right: -3px !important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li > a > .title {
	display: none !important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li > a > .arrow {
	display: none !important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu > li:hover > a > .title {
	padding-left: 15px; display: inline !important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .sidebar-toggler {
	margin-right: 3px; margin-left: 3px;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .sidebar-search .input-group {
	border-color: transparent; margin-left: -4px;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .sidebar-search .input-group .form-control {
	display: none;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .sidebar-search .input-group .input-group-btn .btn {
	display: block;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .sidebar-search-bordered.sidebar-search .input-group {
	padding: 5px 0px 3px;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .open.sidebar-search {
	height: 39px; margin-top: 14px; margin-bottom: 14px;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .open.sidebar-search .input-group {
	padding: 0px; width: 210px; margin-left: 24px; position: relative; z-index: 1;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .open.sidebar-search .input-group .form-control {
	padding: 8px; border: 0px currentColor; display: block;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .open.sidebar-search .input-group .input-group-btn .btn {
	margin-top: 1px; margin-right: 8px; display: block;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .open.sidebar-search .remove {
	margin: 9px -5px 9px -7px; width: 11px; height: 11px; float: left; display: block; background-repeat: no-repeat;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .sidebar-search-bordered.open.sidebar-search {
	height: 36px; margin-top: 23px; margin-bottom: 23px;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu .sidebar-search-bordered.open.sidebar-search .input-group {
	padding: 0px;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu-closed.page-sidebar-menu-light.page-sidebar-menu > li > a {
	padding-right: 11px; padding-left: 7px;
}

.page-sidebar-hide.page-sidebar-closed .page-sidebar {
	display: none !important;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu li .sub-menu {
	width: 210px; display: none; position: absolute; z-index: 2000; 
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu li .sub-menu > li > a {
	margin: 3px;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu li.active .sub-menu {
	display: none !important;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu li.open .sub-menu {
	display: none !important;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu li a > .arrow {
	display: none;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu li:hover > a > .arrow {
	border-style: double solid double none; width: 0px; height: 0px; right: 0px; margin-top: -20px; border-top-color: transparent; border-bottom-color: transparent; border-left-color: currentColor; border-top-width: 12px; border-bottom-width: 12px; border-left-width: 0px; float: right; display: block; position: absolute;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu li:hover > a > .arrow::after {
	display: none;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu li:hover > a > .arrow::before {
	display: none;
}

.page-sidebar-menu-hover-submenu.page-sidebar-menu li:hover > .sub-menu {
	display: inline-block !important;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu > li:hover > a > .arrow {
	right: 0px; margin-top: -23px; z-index: 1;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu > li:hover > a > .selected {
	display: none;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu > li:hover > .sub-menu {
	margin-top: -40px; margin-left: 210px;
}
.page-sidebar-closed .page-sidebar-menu-hover-submenu.page-sidebar-menu > li:hover > .sub-menu {
	margin-left: 0px;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu > li:hover > .sub-menu > li > a {
	padding-left: 15px;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu > li:hover > .sub-menu > li .sub-menu {
	margin-top: -38px !important; margin-left: 210px;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu > li:hover > .sub-menu > li .sub-menu > li > a {
	padding-right: 10px; padding-left: 10px;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu-light.page-sidebar-menu li:hover > .sub-menu {
	margin-top: -41px;
}
.page-sidebar-menu-hover-submenu.page-sidebar-menu-light.page-sidebar-menu li:hover > .sub-menu > li > .sub-menu {
	margin-top: -41px;
}
}



.page-sidebar {
	background-color: #fff;
}

.page-sidebar .page-sidebar-menu {
	
}

.page-sidebar .page-sidebar-menu > li > a {
	position:relative;
	font-weight:bold;
	color: #6b7685; border-top:none; 
	border-bottom-color: #e6e6e6; border-bottom-width: 1px; border-bottom-style: solid;
	
}
.page-sidebar .page-sidebar-menu > li.open {background:#f3f3f3; }

.page-sidebar .page-sidebar-menu > li > a > .arrow::before {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li > a > .open.arrow::before {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
 background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li:hover > a {
	background: #ee3837; color: rgb(255, 255, 255);
	position:relative;
}
.page-sidebar .page-sidebar-menu > li.open > a {
	background: #ee3837; color: rgb(255, 255, 255);
	position:relative;
	font-weight:bold;
}
.page-sidebar .page-sidebar-menu > li:hover > a > i {
	color: rgb(136, 136, 136);
}
.page-sidebar .page-sidebar-menu > li.open > a > i {
	color: rgb(136, 136, 136);
}
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li:hover > a > .open.arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li.open > a > .arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li.open > a > .open.arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li.active > a {
	position:relative;
	background: #ee3837; color: #ffffff; border-top-color: transparent;
}
.page-sidebar .page-sidebar-menu > li.open.active > a {
	position:relative;
	background: #ee3837; color: #ffffff;  border-top-color: transparent;
}
.page-sidebar .page-sidebar-menu > li.active > a:hover {
	position:relative;
	background: #ee3837; color: #ffffff; 
}
.page-sidebar .page-sidebar-menu > li.open.active > a:hover {
	position:relative;
	background: #ee3837; color: #ffffff; 
}

.page-sidebar .page-sidebar-menu > li.active > a > .arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li.active > a > .open.arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li.open.active > a > .arrow::before {
	background:url(/img/common/arrow_close.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li.open.active > a > .open.arrow::before {
 background:url(/img/common/arrow_close.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu > li.active + li > a {
	border-top-color: transparent;
	position:relative;
}
.page-sidebar .page-sidebar-menu > li.open.active + li > a {
	border-top-color: rgb(72, 72, 72);
	position:relative;
}
.page-sidebar .page-sidebar-menu > li:last-child > a {
	position:relative;
}
.page-sidebar .page-sidebar-menu li > a > .arrow::before {
	position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
 background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu li > a > .open.arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
 background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu li:hover > a > .arrow::before {
	background:url(/img/common/arrow_openOver.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu li:hover > a > .open.arrow::before {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
 background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu li.active > a > .arrow::before {
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu li.active > a > .open.arrow::before {
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu {
	background-color:#f3f3f3;
}
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
	position:relative;
	color: #54575c;
}

.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a {
	position:relative;
	background: #d4d4d4 !important; color: #404040; font-weight:bold;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a {
	position:relative;
	background:#d4d4d4 !important; color: #404040; font-weight:bold;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
	position:relative;
	background:#d4d4d4 !important; color: #404040; font-weight:bold;
}
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i {
	color: rgb(187, 187, 187);
}
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i {
	color: rgb(187, 187, 187);
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
	color: rgb(187, 187, 187);
}

.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .open.arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .open.arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
 background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
	
	background:url(/img/common/arrow_open.png) center center no-repeat;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .open.arrow::before {
	 position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
 background:#ffff url(/img/common/arrow_open.png) center center no-repeat;
}



.ui-tabs .ui-tabs-nav {margin-left:1px !important;}



