<style type="text/css">
.no-border {width:100%; border:0px; background-color:transparent;}
.thBar2 {
		 background-color: #919191 !important;
		 color: #fff !important;
		 font-weight: bold !important;
		 border: 1px solid #afafaf !important;
		 }
.trStyle {height:40px}
.border11 {border: 1px solid #afafaf !important;}
.color12 {background:#d0d1d1 !important;}



//.scanStyle {font-size:15px ; height:28px; width: 200px;/* text-align: center; */ resize: none; font-family: auto;}
.scanStyle1 { font-size:15px !important; height:28px !important;  width: 200px !important; text-align: center; resize: none; font-family: auto; }
.scanStyle2 { font-size:15px !important; height:28px !important; width: 300px !important; text-align: center; resize: none; font-family: auto; }
.inputStyle { font-size:15px !important; height:28px !important;}
.imageStyle { width:28px !important; height:28px !important;}
</style>
<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
			<!--
				<span class="chkAutoProcess" style="font-weight : bold; margin-right : 5px;">$!lang.getText('자동출력')</span><input type="checkbox" name="chkAutoProcess" id="chkAutoProcess" class="chkAutoProcess" style = "margin-right : 10px;">
				<input type="button" value="$!lang.getText('조회')" class="SER_AUTH" name="btnSrch" onclick="fn_searchComp();" role="button" aria-disabled="false"/>
	    		<input type="button" value="$!lang.getText('검수완료')" class="INS_AUTH UPD_AUTH btnRed" name="btn_write" onclick="fn_PickingComp();" role="button" aria-disabled="false"/>
	    		<input type="button" value="$!lang.getText('운송장출력')" class="INS_AUTH UPD_AUTH btnRed" name="btn_write" onclick="fn_PrintInvcNoComp('N', 'DIV');" role="button" aria-disabled="false"/>
	    		<input type="button" value="$!lang.getText('TMP운송장삭제')" class="INS_AUTH UPD_AUTH btnRed" name="btn_write" onclick="fn_dlvShipDelete();" role="button" aria-disabled="false"/>
		    	<input type="hidden" name="chkPickingExeYn" id="chkPickingExeYn"/>
	    		<input type="hidden" name="chkPrintExeYn" id="chkPrintExeYn"/>
				-->
	    	</div>
	    </div>	
    </div>
</div>
<div class="patternWrap">
	<div style="float:right;position:relative; margin-bottom: -65px; background: white;" id="resetBarCd" name="resetBarCd"></div>
	<form name="frm_list">
		<input type="hidden" name="vrSrchParcelComTy" id="vrSrchParcelComTy" value=""/>		
		<table class="search" id="srchBox" >
			<colgroup>
				<col width="10%"/>
				<col width="40%"/> 
				<col width="10%"/> 
				<col width="40%"/>
			</colgroup>
			<tr class="trStyle" style="border: 1px solid #afafaf;">
				#if($adminInfo.getCustId() == $ss_user_gb)
					<th class="thBar2">$!lang.getText("화주")</th>
					<td colsp>
						<input type="text" class="readOnly inputStyle" name="vrSrchCustCd" id="vrSrchCustCd" style="width:26%" readonly="readonly" value="$ss_cmpy_code"/>
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch imageStyle">
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"/>
						<input type="text" class="readOnly inputStyle" name="vrSrchCustNm" id="vrSrchCustNm" style="width:26%" readonly="readonly" value="$ss_cmpy_name" />
					</td>
				#else
					<th  class="thBar2">$!lang.getText("화주")</th>
					<td>
						<input type="text" class = "text inputStyle" style="width: 26%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus('M');">
						<img src="/img/exam/btn/ico_search.gif"onClick='fn_Popup("CUST");' class="imgSearch imageStyle"/> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"/>
						<input type="text" class = "text inputStyle" style="width: 26%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus('M')"> 
					</td>
				#end	
				<th class="thBar2">$!lang.getText("단포/합포")</th>
				<td>	
					<select name='vrSrchMutiPackingYn' id='vrSrchMutiPackingYn' class="selectbox inputStyle" onChange="fn_mutiPackingYnEvnt();" style="width: 40%">
						<option value="N">$!lang.getText('단포')</option>
						<option value="Y">$!lang.getText('합포')</option>
					</select>
				</td>
			</tr>
			<tr class="trStyle ONLYDLV" style="border: 1px solid #afafaf;">
				<th class="thBar2"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('주문일별차수')</th>
				<td>
					<input type = "text" class = "text inputStyle" style="width:26%" name="vrSrchOrdDegreeDate" id="vrSrchOrdDegreeDate" maxlength="10" onkeydown="cfn_setDateFld(vrSrchOrdDegreeDate)" onChange="fn_onChangeDegreeDate(this)">
					<select id="vrSrchOrdDegree" name="vrSrchOrdDegree" class="selectbox inputStyle" style="width:26%"  onChange="fn_onChangeDegree(this);" >
					</select>
				</td>
			</tr>
			<tr class="trStyle" style="border: 1px solid #afafaf;">
				<th class="thBar2 DLV_NM" >$!lang.getText("")</th>
				<td class ="ONLYDLV" style="display: black;" >
				</td>
				<td class ="MULTIDLV" style="display: none;" >
					<input type="hidden" name="vrSrchOrdIdHddn" id="vrSrchOrdIdHddn" value=""/>
					<input type = "text" class = "text scanStyle1" name="vrSrchOrdId" id="vrSrchOrdId" style="width: 45%" onchange="scannerOrdId(event);">
					<input type="button" value="$!lang.getText('RESET')" class="INS_AUTH UPD_AUTH btnRed" id = "btnReset"name="btn_write" onclick="fn_reset();" role="button" aria-disabled="false"/>
				</td>
				<th class="thBar2">$!lang.getText("검수수량/총수량")</th>
				<td>
					<span id="pickingExeCnt" ></span> / <span id="pickingTotalCnt"></span> 
				</td>
			</tr>
			<tr class="trStyle" style="border: 1px solid #afafaf;">
				<th class="thBar2">$!lang.getText("바코드 스캔")</th>
				<td colspan ='3'>
					<input type = "text" class = "text scanStyle2" name="vrSrchItemBarcode" id="vrSrchItemBarcode" onchange="scannerRitem(event);">
				</td>
			</tr>
			<!--
			<tr class="MULTIDLV" style="display: none; height:40px">
				<th style="border-right: 1px solid #afafaf; background-color: #919191;color: #fff;font-weight: bold; ">$!lang.getText("박스NO")</th>
				<td>
					<select name='SC_CHK_BOX_NO' id='SC_CHK_BOX_NO' class="selectbox" style="width:100%; height:30px;" >
						<option value="1">$!lang.getText('1')</option>
					</select> 
				</td>
				<td>
					<input type="button" value="$!lang.getText('박스추가')" class="INS_AUTH UPD_AUTH btnRed" name="btn_write" onclick="fn_addBox();" role="button" aria-disabled="false"/>
				</td>
			</tr>
			-->
		</table>

<!--		조아 추천박스 미사용예정으로 주석처리 
		<table class="search" id="srchBox" >
			<colgroup>
				<col width="10%"/>
				<col width="23%"/> 
				<col width="10%"/> 
				<col width="23%"/> 
				<col width="10%"/> 
				<col width="*"/> 
			</colgroup>
			<tr class="trStyle" style="border: 1px solid #afafaf;">
				<th class="thBar2">$!lang.getText("추천박스")</th>
				<td class ="inputStyle color11">
					<span id="vrSrchRecommendBox"></span>
				</td>
				<th class="thBar2">$!lang.getText("박스금액")</th>
				<td class ="inputStyle color11">
					<span id="vrSrchRecommendBoxAmt"></span>
				</td>
				<th class="thBar2">$!lang.getText("박스NO")</th>
				<td class ="inputStyle color11">
					<span id="vrSrchBoxNo"></span>
				</td>
			</tr>
		</table>
 -->		
	</form>
	
	
	<!-- 운송장 출력 작업 form --> 
	<form name = 'frm_dlv_1' ><!--style="padding-top:30px;"   style="display:none;"--> 
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "100px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
			</colgroup>
			<tr>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('택배구분')</th>
				<td>
					$!comCode.getComboComCode("SWEET_DCD", "PARCEL_COM_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('보내는이')</th>
				<td>
					<select id="PARCEL_COM_TY_SEQ" name="PARCEL_COM_TY_SEQ">
					</select>
				</td>
				<td colspan='7'>
					<input type = "text" class = "readOnly" name="dlvSenderInfoInput" id="dlvSenderInfoInput" readonly="readonly">
				</td>
			</tr>
			<tr id='PARCEL_COM_CD_04' style="display:none;" >
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('접수구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_ORD", "PARCEL_ORD_TY", "", false, "$!lang.getText('선택')", "", "","class='selectbox' ")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('운임구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_PAY", "PARCEL_PAY_TY", "", false, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('박스구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_BOX", "PARCEL_BOX_TY", "", false, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('운송구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_ETC", "PARCEL_ETC_TY", "", false, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr id='PARCEL_COM_CD_06'  style="display:none;" >
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('접수구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_ORD", "PARCEL_ORD_TY", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('운임구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_PAY2", "PARCEL_PAY_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar parcelPayPrice">$!lang.getText('할증료')</th>
				<td>
					<input type="text" class="text parcelPayPrice" name="PARCEL_PAY_PRICE" id="PARCEL_PAY_PRICE" value="0" style="width:50%;" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" onkeyup="fn_inputNumberFormat(this);"/>
				</td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<div id="formDlvHideData" style="display:none"></div>
	</form>
	<!--
		<table class="search" id="srchBox" style="display:none;" >
			<colgroup>
				<col width="7%"/>
				<col width="20%"/> 
				<col width="8%"/>
				<col width="20%"/> 
				<col width="8%"/>
				<col width="8%"/>
				<col width="25%"/>
				<col width="3%"/>
			</colgroup>
			<tr>
				<th  class="thBar">$!lang.getText("출고예정일")</th>
				<td>
					<input type = "text" class = "text" style="width:32%" name="vrSrchReqDt" id="vrSrchReqDt" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDt)" onChange="cfn_onChangeDateFld(vrSrchReqDt)"> 
				</td>
				<th class="thBar">$!lang.getText('세트상품코드')</th>
				<td colspan = 2>
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus('M')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchItemId" id="vrSrchItemId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus('M')"> 
				</td>
				<th class="btnSearch" rowspan="2">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			<tr>
				<th  class="thBar">$!lang.getText("구분")</th>
				<td>
					<select name='vrSrchGb' id='vrSrchGb' class="selectbox" style="width:32%" >
					<option value="">$!lang.getText('전체(기준)')</option>
					<option value="Y" selected>$!lang.getText('출고주문(기준)')</option>
				</select> 
				</td>
				<th class="thBar">$!lang.getText('상품군')</th>
				<td>
					<select name='vrSrchItemGrpId' id='vrSrchItemGrpId' class="selectbox" style='width:120px;'>
						<option value="">$!lang.getText('전체')</option>
						<option value="N/A">$!lang.getText('미지정')</option>
						#foreach($row in $ITEMGRP)
						<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
						#end
					</select>
				</td>
				<th>$!lang.getText("상품사용여부")</th>
				<td>
					$!comCode.getComboComCode("COM09", "vrSrchUseYn", "Y", true, "$!lang.getText('전체')", "", "","class='selectbox' style='width:80px'")
				</td>
			</tr>
		</table>
	-->
	<div class="area" style="display:inline-block; width:100%; margin-top:10px;">
		<div class="leftArea" style="display:inline-block; width:47%; padding-right:20px;">
			<div class="btnArea" style="height: 35px;">
		        <div class="btnAreaLeft">
		        </div>
			</div>
			<div style = "padding-bottom:15px; font-size : 14px; font-weight : bold;">주문리스트 (전체  : <span id="totalSpdList"></span>)</div>
		    <div id="divPanel_SpdList" style="width: 100%; min-height: 650px;">
				<div id="spdList" style="min-height:490px; width:100%; border:1px solid #b0b0b0;"></div>
				<!--<input type="button" value="$!lang.getText('시리얼번호')" class="INS_AUTH UPD_AUTH btnRed" name="btn_write" onclick="fn_setSerialNo();" role="button" aria-disabled="false"/>-->
				<input type="button" value="$!lang.getText('검수삭제')" class="INS_AUTH UPD_AUTH btnRed" name="btn_write" onclick="fn_pickigCompCancel();" role="button" aria-disabled="false"/>
<!-- 				<input type="button" value="$!lang.getText('송장접수')" class="INS_AUTH UPD_AUTH btnRed" name="btn_write" onclick="fn_PrintInvcNoReComp('N', 'DIV');" role="button" aria-disabled="false"/> -->
				<input type="button" value="$!lang.getText('송장재프린트')" class="INS_AUTH UPD_AUTH btnRed" name="btn_write" onclick="fn_labelDataRePrint();" role="button" aria-disabled="false"/>
			</div>
		</div>
		<div class="rightArea" style="display:inline-block; width:47%;float: right;">
			<div class="btnArea" style="height: 35px;">
		        <div class="btnAreaLeft">
		        </div>
			</div>
			<div id="divPanel_SpdList_detail" style="width: 100%; min-height: 650px;">
				<div style = "padding-bottom:15px; font-size : 14px; font-weight : bold;">박스검수 리스트(전체  : <span id="totalSpdList_BOX"></span>)</div>
				<div id="spdDetailList" style="min-height:490px; width:100%; border:1px solid #b0b0b0;"></div>
			</div>
		</div>
	</div>
	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	<div id = "pdfView" style = "display : none;"></div>
</div>