<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.js"></script>
<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.min.js"></script>
<script type="text/javascript" src='../js/jquery-barcode-2.0.2.min.js'></script>
<style type="text/css" >
	
	@media print {
		@page {
			size : portrait; /*landscape*/
			
		}
		
		body {
			transform: rotate(90deg);
		}
	}
    
	
	body {
		width: 200mm;
		height: 100mm;

		padding-top: 1mm;
		/* border: 1px solid black; */
	}
	
	table {
		border-collapse: collapse;
	}
	
	div table {
		float: left;
	}
	
	.leftTable {
		width: 88mm;
		margin: 1mm 0mm 1mm 1mm;
	}
	.rightTable {
		width: 108mm;
		margin: 1mm 1mm 1mm 0mm;
	}
		
	.noLine ul{
		margin-top: 0mm;
		height: 100%;
	}
		
	.tableLine {
		/*border: 1px solid grey;*/ 
	}
	
	.tableLine th, .tableLine td {
		/*border: 1px solid grey;*/
		/*word-break:break-all;*/
		font-size: 0.7rem;
		font-weight: bold;
		
	}
	
	.tableLine td {
		padding-left: 2mm;
	}
	
	.tableLine pre {
		white-space: pre-line;
		margin: 0mm;
	}
	
	.fontJustyfy {
		text-align: justify;
	}
	
	.fontJustyfy:after{
		content: "";
		display: inline-block;
		width: 100%;
	}
	
	#qrCode {
		display: flex;
		justify-content: center;
	}
	
	.sero-mid {
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: 1mm;
		margin-top: 1mm;
	}
	
	.sero-small {
		font-size: 0.9rem;
		font-weight: bold;
		margin-bottom: 1mm;
		margin-top: 1mm;
	}
	
	.wide-ul li {
		line-height: 200%;
	}
	
	.sero-color-row {
		background-color: #FFCC99;
	}
	
	.sort-right {
		text-align: right;
	}
	
	.sort-center {
		text-align: center;
	}

</style>
<script type="text/javascript">
	var pageHeight = 297;
	
	jQuery(document).ready(function(){
		jQuery("#bigBarcode").barcode('97895255624', 'code128',{barWidth:1, barHeight:60,showHRI:0, output:'bmp'})
			.css('overflow','visible')
			.css('width', '35mm');

		jQuery("#midBarcode").barcode('978-95624', 'code128',{barWidth:1, barHeight:60,showHRI:0, output:'bmp'})
			.css('overflow','visible')
			.css('width', '33mm');

		jQuery("#smallBarcode").barcode('97895255624', 'code128',{barWidth:1, barHeight:20,showHRI:0, output:'bmp'})
			.css('overflow','visible')
			.css('width', '24mm');
		
		var date = new Date();
		jQuery("#currentDate").text(date.getFormattedString('YYYY-MM-DD'));
		
		//fn_print();
	});
	
	function fn_print(){
		
		//window.document.close(); // IE >= 10에 필요
		window.focus(); // necessary for IE >= 10
		window.print();
		setTimeout("window.close();", 900);
	}
</script>
</head>
<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
	<div>
		<table class="tableLine leftTable">
			<colgroup>
				<col width = "4.6%"/>
				<col width = "21.0%"/>
				<col width = "26.4%"/>
				<col width = "26.4%"/>
				<col width = "21.6%"/>
				
			</colgroup>
			<tbody>
				<tr>
					<td colspan="3" >
						<div style="height:7mm; line-height:7mm; font-size:0.9rem; font-weight:bold;">
							934-8170-7642
						</div>
					</td>
					<td colspan="2">
						<div style="height:7mm; font-size:0.2rem;">
							접수일자 :<br/><span>2020-07-20</span>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div id="bigBarcode"></div>
					</td>
					<td colspan="2">
						<div style="font-size:2.5rem; font-weight:bold; line-height:24mm; height:24mm;">
							B4-335
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="5">
						<div style="height:3mm;"></div>
					</td>
				</tr>
				<tr>
					<th rowspan="2">
						<div style="height:13mm;"></div>
					</th>
					<td colspan="4">
						<div style="height:4mm; line-height:4mm;">
							시스템 02-31458/010-1234-4575
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<div style="height:9mm;">
							<pre>서울 용산구 한강로3가
							16-49-상구빌등 5층</pre>
						</div>
					</td>
				</tr>
				
				<tr>
					<th rowspan="2">
						<div style="height:13mm;">
						</div>
					</th>
					<td colspan="4">
						<div style="line-height:4mm; height:4mm;">
							로젠정보*** 010-2154-54545
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<div style="height:9mm;">
							<pre>경기 수원시 권순구 호매실동[호매실로 1523번길 30]
							1389 수원 매실아파트 999동 29호</pre>
						</div>
					</td>
				</tr>
				
				<tr>
					<td colspan="4">
						<div style="line-height:10mm; height:10mm;">
							물풍명입니다.
						</div>
					</td>
					<td rowspan="2">
						<div style="line-height:20mm; height:20mm;">
							신용 12
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div style="line-height:10mm; height:10mm;">
							1
						</div>
					</td>
					<td style="line-height:10mm; height:10mm;"></td>
					<td style="line-height:10mm; height:10mm;"></td>
				</tr>
				<tr>
					<td colspan="3">
						<div style="line-height:13mm; height:13mm;">
							(권선)직영 영업소
						</div>
					</td>
					<td colspan="2">
						<div style="line-height:13mm; height:13mm;">
							[호매실동]
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<table class="tableLine rightTable">
			<colgroup>
				<col width = "3.8%"/>
				<col width = "28.5%"/>
				<col width = "8.5%"/>
				<col width = "11.5%"/>
				<col width = "6.7%"/>
				<col width = "9.6%"/>
				<col width = "7.7%"/>
				<col width = "15.4%"/>
				<col width = "8.7%"/>
			</colgroup>
			<tbody>
				<tr>
					<td colspan="2">
						<div style="line-height:7mm; height:7mm; font-size:0.9rem; font-weight:bold;">
							978-9525-5624
						</div>
					</td>
					<td colspan="4">
						<div id="smallBarcode">
						</div>
					</td>
					<td colspan="2">
						<div style="height:7mm; font-size:0.2rem;">
							접수일자:<br/> <span>2020-01-01</span>
						</div>
					</td>
					<td>
						<div style="height:7mm; line-height:7mm;">
							No.53
						</div>
					</td>
				</tr>
				
				<tr>
					<th rowspan="3">
						<div">
						
						</div>
					</th>
					<td colspan="7">
						<div style="height:4mm; line-height:4mm;">
							로젠본사테스트 1588-9965
						</div>
					</td>
					<td>
						<div style="height:4mm; line-height:4mm; font-size:0.9rem; font-weight:bold;">
							2-1
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<div style="height:7mm;">
							<pre>서울 용산구 한강로 3가  
							16-47 삼구빌딩 5층</pre>
						</div>
					</td>
					<td>
						<div>
						
						</div>
					</td>		
				</tr>
				<tr>
					<td colspan="5">
						<div style="height:4mm; line-height:4mm; font-size:0.4rem;">
							신용(D) 5
						</div>
					</td>
					<td colspan="3">
						<div style="height:4mm; line-height:4mm; font-size:0.4rem;">
							물건입니다
						</div>
					</td>
				</tr>
				
				<tr>
					<th rowspan="2">
						<div style="line-height:12mm;">
						</div>
					</th>
					<td colspan="8">
						<div style="height:4mm; line-height:4mm;">
							로젠 정보전략팀 010-5454-5454
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="8">
						<div style="height:8mm;">
							<pre>경기 수원시 권선구 호매실동 13175
								호매쭉방매야 아파트 210121200-12</pre>
						</div>
					</td>
				</tr>
								
				<tr>
					<td colspan="3">
						<div style="height:12mm; line-height:12mm;">
							신용(D) 5
						</div>
					</td>
					<td colspan="2">
						<div>
							
						</div>
					</td>
					<td rowspan="3" colspan="4">
						<div id="midBarcode">
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="5">
						<div style="height: 3mm; line-height:3.0mm; font-size:0.6rem;">
							나는 행복합니다.	
						</div>
					</td>
				</tr>
				<tr>
					<th rowspan="3">
						<div>
						</div>
					</th>
					<td colspan="2">
						<div style="height:3mm; line-height:3mm;">
							<span style="font-size:1.0rem">03</span> 로젠택배 테스트
						</div>
					</td>
					<td colspan="2">
						<div style="font-size:1.0rem; font-weight:bold;">
							2-1
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div style="height:3mm; line-height:3mm;">
							155-5588
						</div>
					</td>
					<td rowspan="2" colspan="5" style="padding-left:0mm;">
						<div style="font-size:1.6rem; font-weight:bold;">
							B4-335
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div style="height:3mm; line-height:3mm;">
							본사기본30505-2788-1012
						</div>
					</td>
				</tr>
				
				<tr>
					<th rowspan="4">
						<div>
						</div>
					</th>
					<td colspan="8"">
						<div style="height:5mm; line-height:5mm;">
							로젠택배전략팀 010-1234-2328
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="9">
						<div style="height:5mm; line-height:5mm;">
							경기 수원시 권선후 호매실동[호매야호매야11]
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="9">
						<div style="height:13mm; font-size:1.1rem;">
							<pre>1371 호매실마을 호이짜호이짜 너무 좋아좋아 daksdklfalsdjalksdfjmaslkdjfalksdfl;kas</pre>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="9">
						<div style="height:4mm; line-height:4mm;">
							[56546545264] 배송메세지입니다.
						</div>
					</td>
				</tr>
				
			</tbody>
		</table>
		
		
	</div>
</body>
</html>
