<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "50%"/>
				
				<col width = "60px"/>
				<col width = "30%"/>
				<col width = "50px"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
					<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus();"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus();"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" onChange=" btnDisable()">
					</td>
					<th ><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('일자')</th>
					<td>
						<input type="text" class = "text" style="width:35%" name="vrCalDlvDt" id="vrCalDlvDt" maxlength="10" onkeydown="cfn_setDateFld(vrCalDlvDt)" onChange="btnDisable();"/> 
						<select id="vrSelDtType" name="vrSelDtType" style="width:55%" onChange="btnDisable();">
							<option value='DLV_DT' selected>배송일 기준(+1day)</option>
							<option value='ORD_DT'>주문일 기준</option>
							
						</select>
					</td>
					
					<th>라우팅</th>
					<td>
						<select style="width:30%" id="vrSrchRoutDesc" name="vrSrchRoutDesc" onChange="vrSrchRoutDescNo_OnChange(); btnDisable();"">
							<option value='' selected onChange="btnDisable();">미선택</option>
							<option value='덕평'>덕평</option>
							<option value='초도'>초도</option>
							<option value='충청'>충청</option>
							<option value='경남'>경남</option>
							<option value='경북'>경북</option>
							<option value='호남'>호남</option>
						</select>
						<span style="display:none" id="vrSrchRoutDescNoBox">
							<input type="text" class = "text" style = "width: 10%;" placeholder="" id="vrSrchRoutDescNo" name="vrSrchRoutDescNo" onChange="btnDisable();">
							<span style="display:none" id="vrSrchRoutDescNoExtendedBox">
								<span>-</span>
								<input type="text" class = "text" style = "width: 10%;" placeholder="" id="vrSrchRoutDescNo2" name="vrSrchRoutDescNo2" onChange="btnDisable();">
							</span>
							<input type="button" class = "btnBasic" id="vrSrchRoutDescNoExtendedBtn" name="vrSrchRoutDescNoExtendedBtn" value="범위지정" onClick="vrSrchRoutDescNoExtendedBtnOnClick()"></input>
							<input type="hidden" id="vrSrchRoutDescNoExtendedOn" name="vrSrchRoutDescNoExtendedOn" value=false></input>
						</span>
					</td>
					
					<th>$!lang.getText('상품구분')</th>
					<td>
						<select id="productType" name="productType">
							<option value=''>전체</option>
							<option value='milk'>우유만</option>
						</select>
					</td>
					<th></th>
					<th class="btnSearch" rowspan="2">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
				<tr>	
				
				
					<th class="thBar">$!lang.getText('거래처')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchPtnrCd" id="vrSrchPtnrCd" onChange="txtSrchCustCd_OnKillFocus(); "> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchPtnrPop" id="btnSrchPtnrPop" onClick='fn_Popup("PARTNER");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchPtnrNm" id="vrSrchPtnrNm" onChange="txtSrchCustNm_OnKillFocus();"> 
						<input type="hidden" name="vrSrchPtnrId" id="vrSrchPtnrId" onChange="btnDisable()">
					</td>
					
					<th>$!lang.getText('차량번호')</th>
					<td>
						<input type="text" class ="text" name= "vrSrchTrcNum" id ="vrSrchTrcNum" placeholder="ex) 서울12가1234" onChange="btnDisable();"/>
						<input type="hidden" name="vrSrchTrcNumDetail" id="vrSrchTrcNumDetail">
					</td>
						
					<!-- <th>$!lang.getText('파트너코드')</th>
					<td>
						<input type="text" class ="text" name= "vrSrchPartner" id ="vrSrchPartner"/> value="100014"
					</td>
					 -->
					
					<th>$!lang.getText('품온구분')</th>
					<td>
						<select name="vrSrchTempType" id="vrSrchTempType" class="selectbox" style="width:60%" onChange="btnDisable();">
							<option value="">전체</option>
							<option value="1">냉동(1)</option>
							<option value="2">냉장(2)</option>
							<option value="3">상온(3)</option>
							<option value="4">신선(4)</option>
						</select>
					</td>
					
					<th></th>
					<th></th>
					<td><input type="hidden" name="vrSrchOrdNo" id="vrSrchOrdNo"></td>
				</tr>
            </tbody>
        </table>
		<div id = "formDataE6" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>

	<div class="btnArea">
	    <div class="btnAreaLeft">
	    	<div>
		    	<span>검색된 결과개수 : </span>
		    	<span id='srchCount' name='srchCount'></span>
		    	<span> 개</span>
		    </div>
	    </div>
	    <div class="btnAreaRight">
	    	
	    	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  id="btn_write" name="btn_write" value="$!lang.getText('주문확정')"		onClick="fn_ordConfirm();"	role="button" aria-disabled="false"/>
			<input type="button" class="INS_AUTH btnDisabled" 		id="btn_pdf"	name="btn_pdf" value="$!lang.getText('거래명세서')"	onclick="fn_tradingStat()"	role="button" aria-disabled="false"/>
			<input type="button" class="INS_AUTH btnDisabled" 		id="btn_pdf_all"	name="btn_pdf_all" value="$!lang.getText('전체거래명세서')"		onClick="fn_tradingStatAll();"	role="button" aria-disabled="false"/>
			<input type="hidden" id="btn_on_off" name="btn_on_off" value="off"></input>
			<!--<input type="button" class="EXC_AUTH btnExcel" 			name="btn_write" value="$!lang.getText('엑셀')"		onclick="fn_excelDown()"	role="button" aria-disabled="false"/>-->
	    </div>
	</div>
	<div id="divPanel_SpdList" style="padding-top:40px;">
		<div id="spdList" style="height:200px; border:1px solid #b0b0b0;"></div>
	</div>
	
	<div id="divPanel_SpdListDetail" style="padding-top:10px;">
		<div id="spdListDetail" style="height:350px; border:1px solid #b0b0b0;"></div>
	</div>
</div>
