#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>

<script type="text/javascript">


////////////////////////////////////
//
//   추후수정부분
//   필수 값 및 각 항목 체크 로직
//
////////////////////////////////////

var listGridT1 = new ULNSI_jQGrid();
var listGridT2 = new ULNSI_jQGrid();
var listGridT3 = new ULNSI_jQGrid();
var DetailGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	/* 주문구분 selectbox 필터처리 */
	var selectHit = ['02'];
	var selectSize = jQuery("#vrOrdType option").size();
	var searchHit = [];
	var chk ;
	for(var i = 0 ; i < selectSize ; i++){
		chk = true;
		for(var j = 0 ; j < selectHit.size() ; j ++){
			if(jQuery("#vrOrdType option:eq("+i+")").val() == selectHit[j]){
				chk = false;
			}
		}
		if(chk){
			searchHit.push(i);
		}
	}
	for(var i = searchHit.size() ; i > 0 ; i --){
		jQuery("form[name='frm_list_E6'] select[name='vrOrdType'] option:eq("+searchHit[i-1]+")").remove();
	}
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	jQuery("#tab2").tabs({show: function(event, ui) {resizeGrid();}});
	
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	/* datepicker */
	//한국어 일본어만 현재 지원됨 
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("form[name='frm_list_E6'] input[name='vrCalOutReqDt2']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 날짜 셋팅 */
	//var vrToDay = (new Date()).getFormattedString("YYYY-MM-DD");
	var vrToDay = localStorage.LocalTime;
	jQuery("form[name='frm_list_E6'] input[name='vrCalOutReqDt2']").val(vrToDay);
	
	// button
	jQuery("input:button").button();

	/* 대표화주코드 참조 :: 화주코드가 없을 경우*/
	if("$!ss_user_gb" != "20"){
		fn_getTypicalCust();
	}
	
	/* 고객사 ID의 경우 검색화주를 고정시킨 */
	if("$!ss_user_gb" == "20"){
		url += "&vrTransCustCd=$!ss_cmpy_code&vrTransCustNm=$!ss_cmpy_name";
		// 고객사 ID의 경우 검색화주를 고정시킴
		jQuery("form[name='frm_list_E6'] input[name='vrSrchCustId']").val("$ss_cmpy_id");
		jQuery("form[name='frm_list_E6'] input[name='vrSrchCustCd']").val("$ss_cmpy_code").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list_E6'] input[name='vrSrchCustNm']").val("$ss_cmpy_name").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list_E6'] img[name='btnSrchCustPop']").removeAttr("onclick");
		
		fn_initSearch();
	}
	
	/* 그리드 공통화 적용 시작- listGridT1 */
	var colNameArrayT1 = [
	                      'CHK_BOX' 
	                     ,'ST_GUBUN'
	              		 ,'FLAG'
	              		 
	                     ,"$!lang.getText('상품코드')"		//ITEM_CODE  
	                     ,"$!lang.getText('상품명')"		//ITEM_KOR_NM
	                    
	                     ,"$!lang.getText('BOX입수')"		//BOX_UNIT_QTY
	                     ,"$!lang.getText('주문수량')"		//WORK_ORD_QTY
	                     ,'UOM'							//UOM_NM
	                     
	                     ,"$!lang.getText('현재고')"		//STOCK_QTY
	                     ,"$!lang.getText('확정구분')"		//CONFIRM_YN
	                    
	                     ,'RITEM_ID'
	                     ,'CUST_ID'
	                     ,'REP_UOM_ID'
	                    ];
	
   var colModelArrayT1 = [
						 {name : 'CHK_BOX'			,index : 'CHK_BOX'		,hidden : true}
						,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'		,align : "left", hidden : true}
						,{name : 'FLAG'				,index : 'FLAG'			,align : "left", hidden : true}
	                      
						,{name : 'ITEM_CODE'		,index : 'ITEM_CODE'	,width : 100}
						,{name : 'ITEM_KOR_NM'		,index : 'ITEM_KOR_NM'	,width : 200}
						
						,{name : 'BOX_UNIT_QTY'		,index : 'BOX_UNIT_QTY'	,width : 70 	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'WORK_ORD_QTY'		,index : 'WORK_ORD_QTY'	,width : 70		,hidden : true	,editable : false	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0	, defaultValue: ""}	,editoptions : {maxlength : 10}}					
						,{name : 'REP_UOM_NM'		,index : 'UOM_NM'		,width : 70}
						
						,{name : 'STOCK_QTY'		,index : 'STOCK_QTY'	,width : 70 	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'CONFIRM_YN'		,index : 'CONFIRM_YN'	,width : 60		,align : "center"}
						
						,{name : 'RITEM_ID'			,index : 'RITEM_ID'			,hidden : true}
						,{name : 'CUST_ID'			,index : 'CUST_ID'			,hidden : true}
						,{name : 'REP_UOM_ID'		,index : 'REP_UOM_ID'		,hidden : true}
						];
	
	 var optionT1 = {
				   'title'		: "$!lang.getText('상품 목록')"	 	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 150								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '100%'							//width 	
				  ,'colName'	: colNameArrayT1
				  ,'colModel'	: colModelArrayT1
				  ,'pager'		: jQuery('#pjmapT1')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  ,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
				  ,'rowList' 	: [300,400,500]						//rowlist	셀렉트박스가 생겨서 중간중간에 몇개씩 뿌릴지 바꿀수있다. 만약 false 로주고 scroll 옵션을 추가하면 스크롤내릴때마다 재조회됨
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'multiselect': true
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'shrinkToFit': true
				  ,'jsonReader'	: {repeatitems : false}
				 };
	 
	var urlT1 = "";
	listGridT1.init(jQuery("#listT1"), optionT1, urlT1);
	
	// 그리드 셀선택 이벤트
	listGridT1.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#listT1");
		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
	 			jQuery("#jqg_listT1_"+id).attr("checked",false);
	 			grid.setCell(id, 'CHK_BOX', "No");
	 			grid.restoreRow(id);
	 		}else{
	 			jQuery("#jqg_listT1_"+id).attr("checked",true); 
	 			grid.setCell(id, 'CHK_BOX', "Yes"); 
	 			var rowdata = grid.getRowData(id);
	 			grid.editRow(id);
	 			//jQuery("#"+ id + "_WORK_ORD_QTY", "#listT1").val("").focus();
	 		}
		}else{
		  if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                grid.setCell(id, 'CHK_BOX', 'Yes');
                grid.setSelection(id, false);

            }else{
                grid.setCell(id, 'CHK_BOX', 'NO');
                grid.setSelection(id, true);
            }	        
		}
	});	
	/* 그리드 공통화 적용 끝- listGridT1 */
	
	
	
	/* 그리드 공통화 적용 시작- listGridT2 */
	var colNameArrayT2 = [
	                      'CHK_BOX' 
	                     ,'ST_GUBUN'
	              		 ,'FLAG'
	              		 
	                     ,"$!lang.getText('상품코드')"		//ITEM_CODE  
	                     ,"$!lang.getText('상품명')"		//ITEM_KOR_NM
	                    
	                     ,"$!lang.getText('BOX입수')"		//BOX_UNIT_QTY
	                     ,"$!lang.getText('주문수량')"		//WORK_ORD_QTY
	                     ,'UOM'							//UOM_NM
	                     
	                     ,"$!lang.getText('현재고')"		//STOCK_QTY
	                     ,"$!lang.getText('확정구분')"		//CONFIRM_YN
	                    
	                     ,'RITEM_ID'
	                     ,'CUST_ID'
	                     ,'REP_UOM_ID'
	                    ];
	
   var colModelArrayT2 = [
						 {name : 'CHK_BOX'			,index : 'CHK_BOX'		,hidden : true}
						,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'		,align : "left", hidden : true}
						,{name : 'FLAG'				,index : 'FLAG'			,align : "left", hidden : true}
	                      
						,{name : 'ITEM_CODE'		,index : 'ITEM_CODE'	,width : 100}
						,{name : 'ITEM_KOR_NM'		,index : 'ITEM_KOR_NM'	,width : 200}
						
						,{name : 'BOX_UNIT_QTY'		,index : 'BOX_UNIT_QTY'	,width : 70 	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'WORK_ORD_QTY'		,index : 'WORK_ORD_QTY'	,width : 70		,hidden : true	,editable : false	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0	, defaultValue: ""}	,editoptions : {maxlength : 10}}					
						,{name : 'REP_UOM_NM'		,index : 'UOM_NM'		,width : 70}
						
						,{name : 'STOCK_QTY'		,index : 'STOCK_QTY'	,width : 70 	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'CONFIRM_YN'		,index : 'CONFIRM_YN'	,width : 60		,align : "center"}
						
						,{name : 'RITEM_ID'			,index : 'RITEM_ID'			,hidden : true}
						,{name : 'CUST_ID'			,index : 'CUST_ID'			,hidden : true}
						,{name : 'REP_UOM_ID'		,index : 'REP_UOM_ID'		,hidden : true}
						];
	
	 var optionT2 = {
				   'title'		: "$!lang.getText('상품 목록')"	 	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 150								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '100%'							//width 	
				  ,'colName'	: colNameArrayT2
				  ,'colModel'	: colModelArrayT2
				  ,'pager'		: jQuery('#pjmapT2')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  ,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
				  ,'rowList' 	: [300,400,500]						//rowlist	셀렉트박스가 생겨서 중간중간에 몇개씩 뿌릴지 바꿀수있다. 만약 false 로주고 scroll 옵션을 추가하면 스크롤내릴때마다 재조회됨
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'multiselect': true
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'shrinkToFit': true
				  ,'jsonReader'	: {repeatitems : false}
				 };
	 
	var urlT2 = "";
	listGridT2.init(jQuery("#listT2"), optionT2, urlT2);
	/* 그리드 공통화 적용 끝- listGridT2 */
	
	
	
	
	/* 그리드 공통화 적용 시작- listGridT3 */
	var colNameArrayT3 = [
	                      'CHK_BOX' 
	                     ,'ST_GUBUN'
	              		 ,'FLAG'
	              		 
	                     ,"$!lang.getText('상품코드')"		//ITEM_CODE  
	                     ,"$!lang.getText('상품명')"		//ITEM_KOR_NM
	                    
	                     ,"$!lang.getText('BOX입수')"		//BOX_UNIT_QTY
	                     ,"$!lang.getText('주문수량')"		//WORK_ORD_QTY
	                     ,'UOM'							//UOM_NM
	                     
	                     ,"$!lang.getText('현재고')"		//STOCK_QTY
	                     ,"$!lang.getText('확정구분')"		//CONFIRM_YN
	                    
	                     ,'RITEM_ID'
	                     ,'CUST_ID'
	                     ,'REP_UOM_ID'
	                    ];
	
   var colModelArrayT3 = [
						 {name : 'CHK_BOX'			,index : 'CHK_BOX'		,hidden : true}
						,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'		,align : "left", hidden : true}
						,{name : 'FLAG'				,index : 'FLAG'			,align : "left", hidden : true}
	                      
						,{name : 'ITEM_CODE'		,index : 'ITEM_CODE'	,width : 100}
						,{name : 'ITEM_KOR_NM'		,index : 'ITEM_KOR_NM'	,width : 200}
						
						,{name : 'BOX_UNIT_QTY'		,index : 'BOX_UNIT_QTY'	,width : 70 	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'WORK_ORD_QTY'		,index : 'WORK_ORD_QTY'	,width : 70		,hidden : true	,editable : false	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0	, defaultValue: ""}	,editoptions : {maxlength : 10}}					
						,{name : 'REP_UOM_NM'		,index : 'UOM_NM'		,width : 70}
						
						,{name : 'STOCK_QTY'		,index : 'STOCK_QTY'	,width : 70 	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'CONFIRM_YN'		,index : 'CONFIRM_YN'	,width : 60		,align : "center"}
						
						,{name : 'RITEM_ID'			,index : 'RITEM_ID'			,hidden : true}
						,{name : 'CUST_ID'			,index : 'CUST_ID'			,hidden : true}
						,{name : 'REP_UOM_ID'		,index : 'REP_UOM_ID'		,hidden : true}
						];
	
	 var optionT3 = {
				   'title'		: "$!lang.getText('상품 목록')"	 	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 150								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '100%'							//width 	
				  ,'colName'	: colNameArrayT3
				  ,'colModel'	: colModelArrayT3
				  ,'pager'		: jQuery('#pjmapT3')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  ,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
				  ,'rowList' 	: [300,400,500]						//rowlist	셀렉트박스가 생겨서 중간중간에 몇개씩 뿌릴지 바꿀수있다. 만약 false 로주고 scroll 옵션을 추가하면 스크롤내릴때마다 재조회됨
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'multiselect': true
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'shrinkToFit': true
				  ,'jsonReader'	: {repeatitems : false}
				 };
	 
	var urlT3 = "";
	listGridT3.init(jQuery("#listT3"), optionT3, urlT3);
	/* 그리드 공통화 적용 끝- listGridT3 */
	
	
	
	
	
	/******************************/
	/******************************/
	/*     출고 주문내역 DetailGrid 정의        */
	/******************************/
	/******************************/
	/* 그리드 공통화 적용 시작- DetailGrid */
	var colNameArrayDetail = [
	                      'CHK_BOX' 
	                     ,'ST_GUBUN'
	              		 ,'FLAG'
	              		 
	                     ,"$!lang.getText('상품코드')"		//ITEM_CODE  
	                     ,"$!lang.getText('상품명')"		//ITEM_KOR_NM
	                    
	                     ,"$!lang.getText('BOX입수')"		//BOX_UNIT_QTY
	                     ,"$!lang.getText('주문수량')"		//WORK_ORD_QTY
	                     ,'UOM'							//UOM_NM
	                     
	                     ,"$!lang.getText('현재고')"		//STOCK_QTY
	                     ,"$!lang.getText('확정구분')"		//CONFIRM_YN
	                    
	                     ,'RITEM_ID'
	                     ,'CUST_ID'
	                     ,'REP_UOM_ID'
	                    ];
	
   var colModelArrayDetail = [
						 {name : 'CHK_BOX'			,index : 'CHK_BOX'	,hidden : true}
						,{name:'ST_GUBUN',			index:'ST_GUBUN',					align:"left", hidden:true }
						,{name:'FLAG',				index:'FLAG',						align:"left", hidden:true }
	                      
						,{name : 'ITEM_CODE'		,index : 'ITEM_CODE'	,width : 100 }
						,{name : 'ITEM_KOR_NM'		,index : 'ITEM_KOR_NM'	,width : 200 }
						
						,{name : 'BOX_UNIT_QTY'		,index : 'BOX_UNIT_QTY'	,width : 70 	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'WORK_ORD_QTY'		,index : 'WORK_ORD_QTY'	,width : 70		,editable : true	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0	, defaultValue: ""}	,editoptions : {maxlength : 10} ,cellattr : function (rowId) { return 'onclick = "fn_setClickCol(\''+rowId+'_WORK_ORD_QTY\')"' }}					
						,{name : 'REP_UOM_NM'		,index : 'UOM_NM'		,width : 70	}
						
						,{name : 'STOCK_QTY'		,index : 'STOCK_QTY'	,width : 70 	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'CONFIRM_YN'		,index : 'CONFIRM_YN'	,width : 60		,align : "center"}
						
						,{name : 'RITEM_ID'			,index : 'RITEM_ID'			,hidden : true }
						,{name : 'CUST_ID'			,index : 'CUST_ID'			,hidden : true }
						,{name : 'REP_UOM_ID'		,index : 'REP_UOM_ID'		,hidden : true }
						];
	
	 var optionDetail = {
				   'title'		: "$!lang.getText('주문내역 상세')"	 	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 250								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '100%'							//width 	
				  ,'colName'	: colNameArrayDetail
				  ,'colModel'	: colModelArrayDetail
				  ,'pager'		: jQuery('#pjmapDetail')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  ,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
				  ,'rowList' 	: [300,400,500]						//rowlist	셀렉트박스가 생겨서 중간중간에 몇개씩 뿌릴지 바꿀수있다. 만약 false 로주고 scroll 옵션을 추가하면 스크롤내릴때마다 재조회됨
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'multiselect': true
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'shrinkToFit': true
				  ,'jsonReader'	: {repeatitems : false}
				 };
	 
	var urlDetail = "";
	DetailGrid.init(jQuery("#listDetail"), optionDetail, urlDetail, loadCompleteEventCallbackDetail);
	
	function loadCompleteEventCallbackDetail (data){
		var grid         = jQuery("#listDetail");
		var selectIds    = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		var ids          = grid.jqGrid('getDataIDs');
		var chkConfirmYn = "N";
		
		if(ids != ''){
			for(var i = 0; i< ids.length; i ++){
				var idx = ids[i];
				var rowdata   = grid.getRowData(idx);
				var confirmYn = rowdata.CONFIRM_YN;
				
				/* 주문확정체크 */
				if(confirmYn == "Y"){
					chkConfirmYn = "Y";
				}
			}
		}

		if(chkConfirmYn == "N"){
			if(ids != ''){
				for(var i = 0; i< ids.length; i ++){
					var idx = ids[i];
				
					grid.setCell(idx, 'CHK_BOX', "Yes");
					var rowdata = grid.getRowData(idx);
					if(rowdata.FLAG == "S"){
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
					}else{
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
					}
					grid.editRow(idx);
					grid.jqGrid("setSelection", idx);
					if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGridT1.setStatus(idx, "INSERT");
					}else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGridT1.setStatus(idx, "UPDATE");
					}
				}
			}
			
			//jQuery("#1_WORK_ORD_QTY", "#listT1").focus();
		}
	};
	
	/* 그리드 공통화 적용 끝- DetailGrid */
});

/* 대표화주코드 가져오기 */
function fn_getTypicalCust(){
	var srchKey = "TYPICALCUST";
	var param   = "srchKey=" + srchKey;
	var url     = "/WMSCM011/getTypicalCust.action";
	jQuery.post(url, param, function(data){
		var data = data.TYPICALCUST;
		var cnt  = data.size();
		if(cnt > 0){
			jQuery("#vrSrchCustCd").val(data[0].CUST_CD);
			jQuery("#vrSrchCustNm").val(data[0].CUST_NM);
			jQuery("#vrSrchCustId").val(data[0].CUST_ID);
		}else{
			fn_Popup("CUST");
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

function fn_chkInitCustId(){
	if(jQuery("#vrSrchCustId").val() == "" || jQuery("#vrSrchCustId").val().length == 0){
		fn_Popup("CUST");
		return false;
	}else{
		if(!fn_chkInitTransCustId()){return;}
	}
	return true;
}

function fn_chkInitTransCustId(){
	if(jQuery("#txtSrchCustId").val() == "" || jQuery("#txtSrchCustId").val().length == 0){
		//alert("$!lang.getText('거래처를 선택하여 주십시오.')");
		fn_Popup("SrchCust");
		return false;
	}
	return true;
}

//검색
function fn_initSearch(op,op1) {
	/* 조회조건 화주코드가 없을 경우 */
	if(!fn_chkInitCustId()){return;}
	
	var srchKey  = "CUST_NONE_GRID";
	var vrCustId = jQuery("#txtSrchCustId").val();
	var param    = "srchKey=" + srchKey + "&txtSrchCustId=" + vrCustId ;
	var url      = "/WMSMS085/listNoneGrid.action";
	jQuery.post(url, param, function(data){
		var data = data.CUST_NONE_GRID;
		var cnt  = data.size();
		if(cnt > 0){
			jQuery('#vrCustZoneId').val(data[0].CUST_ZONE_ID);
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
	
	fn_getReqOrdSeq();
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list_E6"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&txtSrchTrustCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list_E6"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list_E6"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list_E6"] input[name="vrSrchCustId"]').val(data[0].ID);
				fn_getReqOrdSeq();
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list_E6'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list_E6'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list_E6"] input[name="vrSrchCustId"]').val("");
				fn_getReqOrdSeq();
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list_E6'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list_E6'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list_E6"] input[name="vrSrchCustId"]').val("");
		fn_getReqOrdSeq();
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list_E6"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&txtSrchTrustCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list_E6"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list_E6"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list_E6"] input[name="vrSrchCustId"]').val(data[0].ID);
				fn_getReqOrdSeq();
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list_E6'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list_E6'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list_E6"] input[name="vrSrchCustId"]').val("");
				fn_getReqOrdSeq();
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list_E6'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list_E6'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list_E6"] input[name="vrSrchCustId"]').val("");
		fn_getReqOrdSeq();
	}
}

/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";
	var popupNm      = "fn_Popup";
	
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			popupNm = "fn_Popup";
			param = "?func=fn_setWMSMS011&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'SrchCust' : // 매출거래처 (화주조회)
			popupNm = "fn_Popup1";	
			var vrOrdType = jQuery('form[name="frm_list_E6"] select[name="vrOrdType"]').val();
			switch(vrOrdType){
				case '01' : vrOrdType = "1"; break;
				case '02' : vrOrdType = "2"; break;
			}
			
			if("" == jQuery("form[name='frm_list_E6'] input[name='vrSrchCustId']").val()){
				alert('$!lang.getText("화주정보가없습니다")');
				return false;
				break;
			}else{
				strParameter.push("");
				strParameter.push("");
				strParameter.push(jQuery("form[name='frm_list_E6'] input[name='vrSrchCustId']").val());
				param = "?func=fn_setWMSMS011_2&strParameter=" + strParameter + "&stBtnYn=Y" + "&custType=" + vrOrdType; 
				url = "/WMSCM011.action" + param;
				break;
			}
	}
	var asppop = cfn_openPop2(url, popupNm, width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];
	jQuery('form[name="frm_list_E6"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list_E6"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list_E6"] input[name="vrSrchCustId"]').val(info.cust_id);
	
	fn_initSearch();
}

/* 간편입고주문 저장 */
function fn_saveE6(gb){
	var vrSrchCustCd = jQuery("form[name='frm_list_E6'] input[name='vrSrchCustCd']").val();
	
	if("" == vrSrchCustCd){
		var custCd_Text = "$!lang.getText('화주정보')";
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		//fn_PopupE6('CUST');
		return false;
	}
		
	var grid = jQuery("#listDetail");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var totCnt = 0 ;	//선택된거 총갯수
	
	//if(!fn_chkInitTransCustId()){return;}
	if(jQuery("#txtSrchCustId").val() == "" || jQuery("#txtSrchCustId").val().length == 0){
		alert("$!lang.getText('화주 또는 거래처를 선택하여 주십시오.')");
		return false;
	}
	
	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");
		return false;
	}
	
	if(confirm("$!lang.getText('update.confirm')")){
		//유효성검사 재고랑 주문수량 비교
		var out_ord_qty ;
		var stock_qty ;
		var total_stock_qty ;
		var out_ord_qty_text = "$!lang.getText('주문수량')";
		var confirmYn ;
		
		//저장 시 제약조건 무시 진행에 따른 cnt 배열 지정 및 카운트
		var tmpPassCase = [];
		var tmpPassCnt = 0;
		
		for(var i = 0 ; i < selectIds.length ; i++){
			out_ord_qty	    = cfn_trim(jQuery("#"+selectIds[i] + "_WORK_ORD_QTY"	, "#listDetail").val());
			stock_qty	    = cfn_trim(grid.getCell(selectIds[i], 'STOCK_QTY'));
			total_stock_qty	= cfn_trim(grid.getCell(selectIds[i], 'TOTAL_STOCK_QTY'));
			confirmYn	    = cfn_trim(grid.getCell(selectIds[i], 'CONFIRM_YN'));
			
			/* 주문확정체크 */
			if(confirmYn == "Y"){
				alert("$!lang.getText('해당 차수는 이미 주문확정이 완료 되었습니다.')");
				jQuery("#"+selectIds[i]+"_WORK_ORD_QTY", "#listDetail").focus();
				return false;
			}	
			
			/* 공백체크 */
			if(out_ord_qty == ""){
				alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + out_ord_qty_text + "')");
				jQuery("#"+selectIds[i]+"_WORK_ORD_QTY", "#listDetail").focus();
				return false;
			}	
			
			/* 주문수량 숫자 */	
			if(!out_ord_qty.isFigure(",") && out_ord_qty != ""){
				alert("$!message.getMessage('0번째행의1은숫자만입력가능', '" + selectIds[i] + "' ,'" + out_ord_qty_text + "')");
				jQuery("#"+selectIds[i]+"_WORK_ORD_QTY", "#listDetail").focus();
				return false;
			}
			
			/* 주문수량이 재고수량 보다 많을 경우 (part 1/2) */
			if( Number(out_ord_qty) > Number(stock_qty)){
				//0번째1의2가3보다작아
				var outOrdQty_text = "$!lang.getText('주문수량')";
				var stockQty_text  = "$!lang.getText('재고')";
				var itemKorNm_text = grid.getCell(selectIds[i], "ITEM_KOR_NM");	
				var msg_val = "$!message.getMessage('0번째1의2가3보다작아', '" + selectIds[i] + "', '" + itemKorNm_text +"', '" + stockQty_text +"', '" +  outOrdQty_text +"')";
				
				tmpPassCase.push("\n"+msg_val);
				tmpPassCnt++;
			}
		}
		
		/* 주문수량이 재고수량 보다 많을 경우 (part 2/2), 저장 시 제약조건 무시 진행 알림 */
		if(tmpPassCnt > 0){
			if(confirm(tmpPassCase+"\n\n"+ "$!lang.getText('계속 진행하시겠습니까?')")){
					
			}else{
				alert("$!lang.getText('취소되었습니다')");
				return false;	
			}
		}
		
		/* INSERT		PK_WMSOM030.SP_SIMPLE_INSERT_ORDER */
		jQuery("#formDataE6").html("");
		         
	    if( jQuery("form[name='frm_list_E6'] input[name='selectIds']").val() == undefined){
	        jQuery("#formDataE6").append("<input type='text' name='selectIds' value='0'/>");
	        jQuery("#formDataE6").append("<br>");
	    }else{
	    	totCnt = parseInt(jQuery("form[name='frm_list_E6'] input[name='selectIds']").val());
	    }
	    for(var i = 0 ; i < selectIds.length ; i++){
		    jQuery("#formDataE6").append("<input type='text' name='ST_GUBUN" + totCnt + "' value='INSERT'/>");
		      	
		    jQuery("#formDataE6").append("<input type='text' name='RITEM_ID"	+ totCnt + "' value='" + cfn_trim(grid.getCell(selectIds[i], "RITEM_ID")) + "'/>");
		    jQuery("#formDataE6").append("<input type='text' name='CUST_LOT_NO"	+ totCnt + "' value='" + cfn_trim(grid.getCell(selectIds[i], "CUST_LOT_NO")) + "'/>");
		    jQuery("#formDataE6").append("<input type='text' name='UOM_ID"		+ totCnt + "' value='" + cfn_trim(grid.getCell(selectIds[i], "REP_UOM_ID")) + "'/>");
		    jQuery("#formDataE6").append("<input type='text' name='ORD_QTY"		+ totCnt + "' value='" + cfn_trim(jQuery("#"+selectIds[i] + "_WORK_ORD_QTY","#listDetail").val())	+ "'/>");
		    jQuery("#formDataE6").append("<input type='text' name='ORD_DESC"	+ totCnt + "' value='" + cfn_trim(grid.getCell(selectIds[i], "ORD_DESC")) + "'/>");
		    jQuery("#formDataE6").append("<input type='text' name='ETC2"		+ totCnt + "' value='" + cfn_trim(grid.getCell(selectIds[i], "ETC2")) + "'/>");
		    
		    //일반 저장 & 확정 구분
		    if(gb == "SAVE"){jQuery('#vrConfirmYn').val("N");}else if(gb == "CONF"){jQuery('#vrConfirmYn').val("Y");}else{jQuery('#vrConfirmYn').val("N");}
	     	
	     	totCnt++;
	    }
	    
	    jQuery("form[name='frm_list_E6'] input[name='selectIds']").val( totCnt );
	    
	    var param = jQuery("form[name='frm_list_E6']").serialize();
	    var url = "/WMSOM091/saveSimpleOutOrderTemp.action"; ///WMSOM999/saveSimpleOutOrder.action 간편입고
	    jQuery.post(url, param, function(data){
	    	var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
	    	var  page = jQuery("#listDetail").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
	    	if(data.errCnt == 0 ){
	    		alert(data.MSG);
	        }
	    }).fail(function(xhr, textStatus){
			if(xhr.status == 404){	
				location.href=('/index.html');
			}
		});
	};
}

/* 매출거래처코드 입력 */
function txtSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list_E6"] input[name="txtSrchCustCd"]').val();
	var vrSrchCustId = jQuery('form[name="frm_list_E6"] input[name="vrSrchCustId"]').val();
	var vrOrdType = jQuery('form[name="frm_list_E6"] select[name="vrOrdType"]').val();	
	if(vrSrchCustId == ""){
		alert('$!lang.getText("화주정보가없습니다")');
		jQuery("form[name='frm_list_E6'] input[name='vrSrchCustCd']").val("").focus();
		return false;
	}
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId + "&vrOrdType=" + vrOrdType;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011_2&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				alert(data[0].CODE);
				jQuery('form[name="frm_list_E6"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list_E6"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list_E6"] input[name="txtSrchCustId"]').val(data[0].ID);
				fn_getReqOrdSeq();
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list_E6'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list_E6'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_list_E6"] input[name="txtSrchCustId"]').val("");
				fn_getReqOrdSeq();
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list_E6'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list_E6'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_list_E6"] input[name="txtSrchCustId"]').val("");
		fn_getReqOrdSeq();
	}
}

/* 매출거래처명 입력 */
function txtSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list_E6"] input[name="txtSrchCustNm"]').val();
	var vrSrchCustId = jQuery('form[name="frm_list_E6"] input[name="vrSrchCustId"]').val();
	var vrOrdType = jQuery('form[name="frm_list_E6"] select[name="vrOrdType"]').val();
	if(vrSrchCustId == ""){
		alert('$!lang.getText("화주정보가없습니다")');
		jQuery("form[name='frm_list'] input[name='txtSrchTrustCustCd']").val("").focus();
		return false;
	}

	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&custId=OK" + "&vrSrchCustId=" + vrSrchCustId + "&vrOrdType=" + vrOrdType;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "560";
				var param  = "?func=fn_setWMSMS011_2&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list_E6"] input[name="txtSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list_E6"] input[name="txtSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list_E6"] input[name="txtSrchCustId"]').val(data[0].ID);
				fn_getReqOrdSeq();
			}
			else if(cnt == 0){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				jQuery("form[name='frm_list_E6'] input[name='txtSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list_E6'] input[name='txtSrchCustNm']").val("");
				jQuery('form[name="frm_list_E6"] input[name="txtSrchCustId"]').val("");
				fn_getReqOrdSeq();
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
		});
	}else{	//없을경우
		jQuery("form[name='frm_list_E6'] input[name='txtSrchCustCd']").val("");
		jQuery("form[name='frm_list_E6'] input[name='txtSrchCustNm']").val("");
		jQuery('form[name="frm_list_E6"] input[name="txtSrchCustId"]').val("");
		fn_getReqOrdSeq();
	}
}

function fn_setWMSMS011_2(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list_E6"] input[name="txtSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list_E6"] input[name="txtSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list_E6"] input[name="txtSrchCustId"]').val(info.cust_id);
	
	fn_initSearch();
}

function fn_setClickCol(colId){
	var grid          = jQuery("#listDetail");
	var selectIds     = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var arrColName    = colId.split("_");
	var colName       = colId.substring((arrColName[0]+"_").length, colId.length); //컬럼명 추출
	var vrClickColVal = jQuery("#"+colId).val(); //컬럼 jQuery Input 값
	var curRow        = arrColName[0];
	
	switch(colName){
		case 'WORK_ORD_QTY':	  //배송사 컬럼
			for(var i = 0 ; i < selectIds.length ; i++){
				if(cfn_trim(jQuery("#"+selectIds[i] + "_WORK_ORD_QTY"	, "#listDetail").val()) == 0){
					jQuery("#"+selectIds[i] + "_WORK_ORD_QTY"	, "#listDetail").val(0);
				}
			}
		
			if(vrClickColVal == 0){
				jQuery("#"+colId, "#listDetail").val("");
				
			}
			
			break;
	}
}


/* 간편입고주문 상품 조회 */
function fn_serch_tabs1(){
	//검색조건값을 파라미터로 보낸다.
	var param 	= jQuery("form[name='frm_list_E6']").serialize(); 
	var url 	= "/WMSOM091/listItemTabs1.action?"+param;
	listGridT1.search(param, url);
}

function fn_addData(){
	var grid        = jQuery("#listT1");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    
    var gridT       = jQuery("#listDetail");
    var idsT        = gridT.getDataIDs();
    var selectIdsT  = gridT.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	
    if(selectIds == ""){
        alert("$!lang.getText('save.nodata')");
        return false;
    }
    
    if(selectIds != ""){
    	for(var i = 0 ; i < selectIds.length ; i++){
    		var chkValStd  = grid.getCell(selectIds[i], "RITEM_ID");
   			var editChkVal = 0;
   			var confCnt    = 0;
   			
   			for(var k = 0 ; k < idsT.length ; k++){
   				var idx = idsT[k];
           		var chkValTag    = gridT.getCell(idx, "RITEM_ID");
           		var chkValConfYn = gridT.getCell(idx, "CONFIRM_YN");
           		
           		if(chkValStd == chkValTag){
           			editChkVal++;
           		}
           		if(chkValConfYn == "Y"){
           			confCnt++;
           		}
           	}
   			
   			if(confCnt > 0){
   				alert("$!lang.getText('확정된 주문에 추가 할 수 없습니다.')");
   		        return false;
   			}
   			
   			if(editChkVal > 0){
   				//alert("$!lang.getText('이미 추가된 상품 입니다.')");
   				//return false;
   			}else{
   				var	datarow = {
   		   		 	 CHK_BOX       : "Yes"
   		   		 	,ST_GUBUN      : "UPDATE"
   		   		 	,FLAG          : grid.getCell(selectIds[i], "FLAG")
   		  			
   		  			,ITEM_CODE     : grid.getCell(selectIds[i], "ITEM_CODE")
   		  			,ITEM_KOR_NM   : grid.getCell(selectIds[i], "ITEM_KOR_NM")
   		  			,BOX_UNIT_QTY  : grid.getCell(selectIds[i], "BOX_UNIT_QTY")
   		  			,WORK_ORD_QTY  : grid.getCell(selectIds[i], "WORK_ORD_QTY")
   		  			,REP_UOM_NM    : grid.getCell(selectIds[i], "REP_UOM_NM")
   		  			
   		  			,STOCK_QTY     : grid.getCell(selectIds[i], "STOCK_QTY")
   		  			,CONFIRM_YN    : "N"
   		  			,RITEM_ID      : grid.getCell(selectIds[i], "RITEM_ID")
   		  			,CUST_ID       : grid.getCell(selectIds[i], "CUST_ID")
   		  			,REP_UOM_ID    : grid.getCell(selectIds[i], "REP_UOM_ID")
       			}
   				DetailGrid.addRow(datarow);
   			}
    	}
    }
}

function fn_deleteData(){
	var gridT       = jQuery("#listDetail");
    var idsT        = gridT.getDataIDs();
    var selectIdsT  = gridT.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	
    if(selectIdsT != ""){
    	for(var i = 0 ; i < selectIdsT.length ; i++){
    		var ConfirmYn = gridT.getCell(selectIdsT[i], "CONFIRM_YN");
    		if(ConfirmYn == "Y"){
    			alert("$!lang.getText('확정된 상품은 삭제 할 수 없습니다.')");
    	        return false;
    		}else{
    			jQuery("#listDetail").jqGrid("delRowData", selectIdsT[i]);	
    		}
    	}
    }	
}

function fn_getReqOrdSeq(){
	var srchKey       = "REQ_ORD_SEQ";
	var vrReqDt2      = jQuery("form[name='frm_list_E6'] input[name='vrCalOutReqDt2']").val();
	var vrCustId      = jQuery("#vrSrchCustId").val();
	var vrTransCustId = jQuery("#txtSrchCustId").val();
	var vrOrdType     = jQuery("#vrOrdType").val();
	
	var param    = "srchKey=" + srchKey + "&vrReqDt2=" + vrReqDt2 + "&vrCustId=" + vrCustId + "&vrTransCustId=" + vrTransCustId + "&vrOrdType=" + vrOrdType;
	var url      = "/WMSOM091/ReqOrdSeq.action";
	jQuery.post(url, param, function(data){
		var data = data.REQ_ORD_SEQ;
		var cnt  = data.size();
		if(cnt > 0){
			jQuery("#vrSrchReqOrdSeq").empty();
			
			for(var i = 0; i < cnt; i++){        
	            var option = jQuery("<option value=" + data[0].REQ_ORD_SEQ + ">" + data[0].REQ_ORD_SEQ + "차</option>");
	            jQuery('#vrSrchReqOrdSeq').append(option);
	        }
			
			var optionEnd = jQuery("<option value=" + (cnt+1) + ">" + (cnt+1) + "차 (신규)</option>");
	        jQuery('#vrSrchReqOrdSeq').append(optionEnd);
	        
	        jQuery("#detailGbHeader").empty();
	        jQuery("#detailGbHeader").append("<b>$!lang.getText('주문내역') <font color='red'>[ 1차 ]</font></b>");
		}else{
			jQuery("#vrSrchReqOrdSeq").empty();
			var option = jQuery("<option value=1>1차 (신규)</option>");
			jQuery('#vrSrchReqOrdSeq').append(option);
	        
	        jQuery("#detailGbHeader").empty();
	        jQuery("#detailGbHeader").append("<b>$!lang.getText('주문내역') <font color='red'>[ 1차 (신규) ]</font></b>");
		}
		
		fn_searchDetail();
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

function fn_searchDetail(){
	if(!fn_chkInitTransCustId()){return;}
	
	//검색조건값을 파라미터로 보낸다.
	var param 	= jQuery("form[name='frm_list_E6']").serialize(); 
	var url 	= "/WMSOM091/listOrdDetail.action?"+param;
	DetailGrid.search(param, url);	
}

function fn_vrSrchReqOrdSeq_change(){
	var vrSrchReqOrdSeq     = jQuery("#vrSrchReqOrdSeq").val();
	var vrSrchReqOrdSeqText = jQuery("#vrSrchReqOrdSeq option:eq("+(vrSrchReqOrdSeq-1)+")").text();
	
	jQuery("#detailGbHeader").empty();
    jQuery("#detailGbHeader").append("<b>$!lang.getText('주문내역') <font color='red'>[ "+ vrSrchReqOrdSeqText +" ]</font></b>");
    
    fn_searchDetail();
}

function fn_tabsOnload(tabsId, listId){
	var grid     = jQuery("#"+listId);
	var ids 	 = grid.getDataIDs();
	var gridData = grid.getRowData();
	
	switch(tabsId){
		case 'tabs-2': alert("추가 예정 [3개월실적상품]"); break;
		case 'tabs-3': alert("추가 예정 [최근주문상품]"); break;
	}
}
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("출고") $!lang.getText("거래처발주")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsom/WMSOM091E1.vm")
    </div>
</div>
#parse("winus/common/footer.vm")