<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("label")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

#set($ss_user_no = $!session.getAttribute("SS_USER_NO"))
#set($ss_svc_no  = $!session.getAttribute("SS_SVC_NO"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>
<script type="text/javascript">

/* 화면크기 변경시 그리드 크기 변경 */
jQuery(window).resize(function() {
	//resizeGrid(null);
});



var LC_ID;
var vrsrpGB;
var vrSrchCustCd;
var vrSrchCustNm;
var vrSrchWhNm;
var vrSrchOrderId;
var cmbSrchType;
var vrSrchReqDtFrom;
var vrSrchReqDtTo;
var vrSrchCustLotNo;
var vrSrchOrdSubtype;
var txtSrchCustId;
var vrSrchZoneCd;
var vrSrchItemGrpId;
var txtSrchCustId;
var vrSrchOrgOrdId;
var vrSrchSalesCustNm;
var vrSrchRitemId;
var vrSrchInsertSource;
var userName;
var vrSrchOrderPhase;
var vrSrchPickingLog;
var vrSrchJmJpgubun;
var vrSrchTypeSt;

jQuery(document).ready(function() {
	/* 파라미터 처리 */
	var arrParameter	= "$!request.getParameter('strParameter')".split(',');
	
	
	lcId = "$ss_svc_no";
	vrsrpGB = (arrParameter[0] == undefined) ? "" : arrParameter[0];
	vrSrchCustCd = (arrParameter[1] == undefined) ? "" : arrParameter[1];
	vrSrchCustId = (arrParameter[2] == undefined) ? "" : arrParameter[2];
	vrSrchWhNm = (arrParameter[3] == undefined) ? "" : arrParameter[3];
	vrSrchOrderId = (arrParameter[4] == undefined) ? "" : arrParameter[4];
	cmbSrchType = (arrParameter[5] == undefined) ? "" : arrParameter[5];
	vrSrchReqDtFrom = (arrParameter[6] == undefined) ? "" : arrParameter[6];
	vrSrchReqDtTo = (arrParameter[7] == undefined) ? "" : arrParameter[7];
	vrSrchCustLotNo = (arrParameter[8] == undefined) ? "" : arrParameter[8];
	vrSrchOrdSubtype = (arrParameter[9] == undefined) ? "" : arrParameter[9];
	txtSrchCustId = (arrParameter[10] == undefined) ? "" : arrParameter[10];
	vrSrchZoneCd = (arrParameter[11] == undefined) ? "" : arrParameter[11];
	vrSrchItemGrpId = (arrParameter[12] == undefined) ? "" : arrParameter[12];
	vrSrchOrgOrdId = (arrParameter[13] == undefined) ? "" : arrParameter[13];

	vrSrchSalesCustNm = (arrParameter[14] == undefined) ? "" : arrParameter[14];
	vrSrchRitemId = (arrParameter[15] == undefined) ? "" : arrParameter[15];
	vrSrchInsertSource = (arrParameter[16] == undefined) ? "" : arrParameter[16];
	userName = (arrParameter[17] == undefined) ? "" : arrParameter[17];
	vrSrchOrderPhase = (arrParameter[18] == undefined) ? "" : arrParameter[18];
	vrSrchPickingLog = (arrParameter[19] == undefined) ? "" : arrParameter[19];
	vrSrchJmJpgubun = (arrParameter[20] == undefined) ? "" : arrParameter[20];
	vrSrchTypeSt = (arrParameter[21] == undefined) ? "" : arrParameter[21];
	
	var userNo    	   = "$ss_user_no";
	var rptProjectName = "WINUS";
	var rptProgramName = "POOLATHOME_WINUSOP335";
	var pdfFileName    = "POOLATHOME_WINUSOP335RB";
	var urlType		   = "ucps";
	var param = "";
	param += "&lcId=" + lcId;
	param += "&vrsrpGB=" + vrsrpGB;
	param += "&vrSrchCustCd=" + vrSrchCustCd;
	param += "&vrSrchCustId=" + vrSrchCustId;
	param += "&vrSrchWhNm=" + vrSrchWhNm;
	param += "&vrSrchOrderId=" + vrSrchOrderId;
	param += "&cmbSrchType=" + cmbSrchType;
	param += "&vrSrchReqDtFrom=" + vrSrchReqDtFrom;
	param += "&vrSrchReqDtTo=" + vrSrchReqDtTo;
	param += "&vrSrchCustLotNo=" + vrSrchCustLotNo;
	param += "&vrSrchOrdSubtype=" + vrSrchOrdSubtype;
	param += "&txtSrchCustId=" + txtSrchCustId;
	param += "&vrSrchZoneCd=" + vrSrchZoneCd;
	param += "&vrSrchItemGrpId=" + vrSrchItemGrpId;
	param += "&vrSrchOrgOrdId=" + vrSrchOrgOrdId;
	param += "&vrSrchSalesCustNm=" + vrSrchSalesCustNm;
	param += "&vrSrchRitemId=" + vrSrchRitemId;
	param += "&vrSrchInsertSource=" + vrSrchInsertSource;
	param += "&userName=" + userName;
	param += "&vrSrchOrderPhase=" + vrSrchOrderPhase;
	param += "&vrSrchPickingLog=" + vrSrchPickingLog;
	param += "&vrSrchJmJpgubun=" + vrSrchJmJpgubun;
	param += "&vrSrchTypeSt=" + vrSrchTypeSt;


	var actionUrl = 'https://print.logisall.com/ReportLoader/execution.go?projectName='+rptProjectName+'&programName='+rptProgramName+'&pdfFileName='+pdfFileName+'&urlType='+urlType;
	var urlVal    = 'http://'+urlType+'.logisall.co.kr/OZReport/'+pdfFileName+'.asp?ExportPath=D:/Report/'+rptProjectName+'/'+userNo+'/'+param;
	var urlRep    = '/OZ_REPORT/'+userNo+'/'+pdfFileName+'.pdf';
	
	//div pdfView 영역 초기화
	document.getElementById("pdfView").innerHTML='';		
	
	jQuery.ajax({url:actionUrl
        		,dataType:"jsonp"
        		,data:{"urlVal":encodeURI(urlVal), "userId":userNo}
        		,type:"POST"
        		,error: function(rslt){
		    	alert("ERROR : " + rslt.data.success);
	    }
        ,success: function(rslt){           	
            if(rslt.data.success == "fail"){
                alert("$!lang.getText('피킹리스트 팝업 생성 오류')");
                return false;
            }
            //report 뷰어 import
            var tax_url = "/OZ_REPORT/"+userNo+"/"+pdfFileName+".pdf?timeTemp="+((new Date()).getTime())+"#zoom=100";
            document.getElementById("pdfView").innerHTML='<object data='+tax_url+' type="application/pdf" style="width:100%;height:100%;"></object>';
            jQuery('#btnREPORT_DOWN').attr('href',''+urlRep+'');
            
            /* 주석해제 전 function fn_call 확인 요망
            setTimeout(function(){
            	var opnr_func = eval("opener.saero_callback");
          		opnr_func();	
            }, 1000);
            */
        }
	});
});

function fn_call(){
	if(confirm("$!lang.getText('피킹리스트 출력물이 정상발행 되었는지 확인해주십시오.\n\n발행완료(피킹리스트발행 확정) 하시겠습니까?')")){
		var opnr_func = eval("opener.saero_callback");
		opnr_func();
		
		javascript:self.close();	
	}
}

</script>

</head>
<body>
	<div style="display:flex;">
   		<div style="flex:1; padding:1px;">
   			<input type="button" style="font-size:22px; height:85px; width:100%; background-color:#F15F5F;cursor:pointer;" id="confirmBtn" name="btn_write" value="$!lang.getText('발행완료')" onClick="fn_call();" role="button" aria-disabled="false"/>
   		</div>
   		<div style="flex:1; padding:1px;">
    		<input type="button" style="font-size:22px; height:85px; width:100%;cursor:pointer;" id="cancelBtn" name="btn_write" value="$!lang.getText('취소')" onClick="javascript:self.close();" role="button" aria-disabled="false"/>
   		</div>
   	</div>
	<div id='pdfView' style="height:790px; width:100%;">
	</div>
</body>