<!--style-->
<style type="text/css">
.custBorder {text-align:right; width:100%; border:0px; background-color:transparent; color:red; font-weight:bold; font-family:KoPubDotumLight;}
</style>

<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
				<th>
					<input type="text" class="custBorder" id ="vrSrchTypicalCust" name ="vrSrchTypicalCust" style="font-size:120%;" readonly="readonly"></input>
					<input type="hidden" name="vrSrchTypicalCustId" id="vrSrchTypicalCustId"/>
				</th>
	    	</div>
	    </div>	
    </div>
</div>

<!--patternWrap-->
<div class="patternWrap">
	<form name="frm_list" id="frm_list">	
		<table class = "search" id = "srchBox" border='0'>
			<colgroup>
				<col width = "80px"/>
				<col width = "35%"/>
				<col width = "80px"/>
				<col width = "35%"/>
				<col width = "80px"/>
				<col width = "15%"/>
				<col width = "80px"/>
				<col width = "15%"/>
				
				<col width = "10px"/>
				<col width = "50px"/>
			</colgroup>
			<tr>
				<th class="thBar">$!lang.getText("화주")</th>
					#if($adminInfo.getCustId() == $ss_user_gb)
						<td>
							<input type="text" class = "readOnly" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" readonly="readonly" value="$ss_cmpy_code">
							<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
							<input type="text" class = "readOnly" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" readonly="readonly" value="$ss_cmpy_name">
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id">
						</td>
					#else
						<td>
							<input type="text" class="text" name="vrSrchCustCd" id="vrSrchCustCd" style="width:40%" onChange="vrSrchCustCd_OnKillFocus()"/>
							<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('CUST');return false;" class="imgSearch" name="btnSrchCustPop" id="btnSrchCustPop">
							<input type="text" class="text" name="vrSrchCustNm" id="vrSrchCustNm" style="width:40%" onChange="vrSrchCustNm_OnKillFocus()"/>
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"/> 
						</td>
					#end	
<!-- 				<th class="thBar">$!lang.getText('화주')</th> -->
<!-- 				<td> -->
<!-- 					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()">  -->
<!-- 					<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> -->
<!-- 					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()">  -->
<!-- 					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> -->
<!-- 				</td> -->
				<th>$!lang.getText("등록일자")</th>
				<td>		
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> ~
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				<th>$!lang.getText('처리상태')</th>
				<td>
					$!comCode.getComboComCode("COM09", "vrSrchStatus", "", true, "$!lang.getText('전체')", "", "","class='selectbox'")
				</td>
				<th></th>
				<td></td>
				
				
				<td></td>
				<th class="btnSearch" rowspan="2">
					<input type="button" class="SER_AUTH" name="btn_write" onClick="fn_search();" />
				</th>
			</tr>
			<tr>
				<th>$!lang.getText("파일명")</th>
				<td>
					<input type = "text" style="width:100%" maxlength = "20" name = "UPLOAD_TITLE" id = "UPLOAD_TITLE" class = "text">
				</td>
				<th></th>
				<td></td>
				<th>$!lang.getText('등록구분')</th>
				<td>
					<select name="vrSrchInsertGb" id="vrSrchInsertGb" class="selectbox">
						<option value="">$!lang.getText('전체')</option>
						<option value="EXCEL">EXCEL</option>
						<option value="KEYIN">일반</option>
					</select>
				</td>
				<th></th>
				<td></td>
				
				<td></td>
			</tr>
		</table>
		
		<input type="hidden"	name="vrSaveGb"		id="vrSaveGb"	value="INSERT">
	</form> 
	<form name = "frm_data" id = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div>
		<table border='0'>
			<colgroup>
				<col width = "50%"/>
				<col width = "50%"/>
			</colgroup>
			<tr>
				<td>
					<input type = "text" style="width:100%; background-color:#D5D5D5;" class = "text" value="1)기본 입력 셀 설명" readonly="readonly">
				</td>
				<td>
					<input type = "text" style="width:100%; background-color:#D5D5D5;" class = "text" value="2)화주별 특이사항 셀 설명" readonly="readonly">
				</td>
			</tr>
			<tr>
				<td>
					<div name = "INFO_CELL_01" id = "INFO_CELL_01" style="background-color:#FFFFFF;"></div>
				</td>
				<td>
					<div name = "INFO_CELL_02" id = "INFO_CELL_02" style="background-color:#FFFFFF; height:85px;"></div>
				</td>
			</tr>
		</table>
	</div>
	<br>
	<div class="btnArea">
	     <div class="btnAreaRight">
			<input type = "button" class = "INS_AUTH btnEtc"			name = "btn_write"  value = "$!lang.getText('엑셀주문등록')"		onclick = "fn_newExcel();"	/>
<!-- 			<input type = "button" class = "INS_AUTH btnEtc"			name = "btn_write"  value = "$!lang.getText('일반주문등록')"		onclick = "fn_newKeyIn();"	/> -->
			<font size="4" color="#FFFFFF"><b> | </b></font>
			<input type = "button" class = "DEL_AUTH btnDelete"  		name = "btn_write" 	value = "$!lang.getText('주문삭제')" 	    onClick = "fn_ordDelete();" 	role="button" aria-disabled="false"/>
	    </div>
	</div>
	
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
</div>

<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>