<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("I/F주문정보 TEMP")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/bPopup.js"></script>

#set($ss_gird_num   = $!session.getAttribute("SS_GIRD_NUM"))
#set($ss_user_gb 	= $!session.getAttribute("SS_USER_GB")	)
#set($ss_user_no 	= $!session.getAttribute("SS_USER_NO"))
#set($ss_user_name  = $!session.getAttribute("SS_USER_NAME"))
#set($ss_cmpy_code  = $!session.getAttribute("SS_CMPY_CODE"))
#set($ss_cmpy_id 	= $!session.getAttribute("SS_CMPY_ID")	)
#set($ss_cmpy_name 	= $!session.getAttribute("SS_CMPY_NAME"))
#set($ss_lang_type 	= $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_svc_no 	= $!session.getAttribute("SS_SVC_NO"))
#set($ss_svc_use_ty = $!session.getAttribute("SS_SVC_USE_TY"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');
</script>

<script type="text/javascript">

var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	
	/* button */
	jQuery("input:button").button();
	
	/* datepicker */
	var vrToDay = localStorage.LocalTime;
	jQuery("form[name='frm_list_E3'] input[name='calInDt']").val(vrToDay);
	
	/* 주문구분 고정 */
	jQuery("#vrSrchOrderPhase").val("20");
	
	/* 배송관리 시작 */
	var colNameArray = [
							'FLAG'
							,'CHK_BOX'
							,'ST_GUBUN'
							,' '
	
							,'IF_ID'
							,'IF_DT'
							,'MOVE_NO'
							,'MATERIALLOTID'
							,'MATERIALLOTQTY'
							,'FINAL_LOT_NO'
							,'IN_BCR_NO'
							,'OUT_BCR_NO'
							,'PLANT_CD'
							,'SL_CD'
							,'ITEM_CD'
							,'ITEM_EMT_BG'
							,'MOVE_COUNT'
							,'MOVE_QTY'
							,'REMARK'
							,'CUD_FLG'
							,'BIZ_REC_FLG'
							,'BIZ_REC_DT'
							
							,'PRODDATE01'
							,'PRODDATE02'
							
							,'ORD_HOLD_YN'
							,'ORD_INSERT_YN'
	                   ]
	
	var colModelArray = [
						 	 {name : 'FLAG'				,index : 'FLAG'				,hidden : true}
							,{name : 'CHK_BOX'			,index : 'CHK_BOX'			,hidden : true}
							,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'			,hidden : true}
							,{name : 'ST_GUBUN_IMG'		,index : 'ST_GUBUN_IMG'		,width : 20		,align : "center"	,sortable : false}

							,{name : 'IF_ID'			,index : 'IF_ID'			,editable : false}
							,{name : 'IF_DT'			,index : 'IF_DT'			,editable : false}
							,{name : 'MOVE_NO'			,index : 'MOVE_NO'			,editable : false}
							,{name : 'MATERIALLOTID'	,index : 'MATERIALLOTID'	,editable : false}
							,{name : 'MATERIALLOTQTY'	,index : 'MATERIALLOTQTY'	,editable : false}
							,{name : 'FINAL_LOT_NO'		,index : 'FINAL_LOT_NO'		,editable : false}
							,{name : 'IN_BCR_NO'		,index : 'IN_BCR_NO'		,editable : false}
							,{name : 'OUT_BCR_NO'		,index : 'OUT_BCR_NO'		,editable : false}
							,{name : 'PLANT_CD'			,index : 'PLANT_CD'			,editable : false}
							,{name : 'SL_CD'			,index : 'SL_CD'			,editable : false}
							,{name : 'ITEM_CD'			,index : 'ITEM_CD'			,editable : false}
							,{name : 'ITEM_EMT_BG'		,index : 'ITEM_EMT_BG'		,formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("ETC01")}}
							,{name : 'MOVE_COUNT'		,index : 'MOVE_COUNT'		,editable : false}
							,{name : 'MOVE_QTY'			,index : 'MOVE_QTY'			,editable : false}
							,{name : 'REMARK'			,index : 'REMARK'			,editable : false}
							,{name : 'CUD_FLG'			,index : 'CUD_FLG'			,editable : false}
							,{name : 'BIZ_REC_FLG'		,index : 'BIZ_REC_FLG'		,editable : false}
							,{name : 'BIZ_REC_DT'		,index : 'BIZ_REC_DT'		,editable : false}
							
							,{name : 'PRODDATE01'		,index : 'PRODDATE01'		,editable : false}
							,{name : 'PRODDATE02'		,index : 'PRODDATE02'		,editable : false}
							
							,{name : 'ORD_HOLD_YN'		,index : 'ORD_HOLD_YN'		,editable : false}
							,{name : 'ORD_INSERT_YN'	,index : 'ORD_INSERT_YN'	,editable : false}
						]

	var option = {
				   'title'		: "$!lang.getText('입고 TEMP')"
				  ,'height'		: 510
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      ,'rowList' : [300,500,1000]
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				  ,'shrinkToFit' : false
				 };
	
	var url = "/WMSOP020/tempListInOrd.action";	
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);
	
	//그리드 완료시
	function loadCompleteEventCallback(data){
		var grid     = jQuery("#list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
		
		var css 	= {'color' : 'red'};
		for(var i = 0 ; i < gridData.length; i++){
			if(gridData[i].ITEM_EMT_BG == 'N'){

				grid.jqGrid('setCell', ids[i], 'IF_ID', '', css);
				grid.jqGrid('setCell', ids[i], 'IF_DT', '', css);
				grid.jqGrid('setCell', ids[i], 'MOVE_NO', '', css);
				grid.jqGrid('setCell', ids[i], 'MATERIALLOTID', '', css);
				grid.jqGrid('setCell', ids[i], 'MATERIALLOTQTY', '', css);
				grid.jqGrid('setCell', ids[i], 'FINAL_LOT_NO', '', css);
				grid.jqGrid('setCell', ids[i], 'IN_BCR_NO', '', css);
				grid.jqGrid('setCell', ids[i], 'OUT_BCR_NO', '', css);
				grid.jqGrid('setCell', ids[i], 'PLANT_CD', '', css);
				grid.jqGrid('setCell', ids[i], 'SL_CD', '', css);
				grid.jqGrid('setCell', ids[i], 'ITEM_CD', '', css);
				grid.jqGrid('setCell', ids[i], 'ITEM_EMT_BG', '', css);
				grid.jqGrid('setCell', ids[i], 'MOVE_COUNT', '', css);
				grid.jqGrid('setCell', ids[i], 'MOVE_QTY', '', css);
				grid.jqGrid('setCell', ids[i], 'REMARK', '', css);
				grid.jqGrid('setCell', ids[i], 'CUD_FLG', '', css);
				grid.jqGrid('setCell', ids[i], 'BIZ_REC_FLG', '', css);
				grid.jqGrid('setCell', ids[i], 'BIZ_REC_DT', '', css);
				grid.jqGrid('setCell', ids[i], 'PRODDATE01', '', css);
				grid.jqGrid('setCell', ids[i], 'PRODDATE02', '', css);
				grid.jqGrid('setCell', ids[i], 'ORD_HOLD_YN', '', css);
				grid.jqGrid('setCell', ids[i], 'ORD_INSERT_YN', '', css);
			}
		}	
	};
	
	//셀전체선택
	listGrid.setSelectAllEventCallback(function(id , status){
        var grid = jQuery("#list");
        var ids  = grid.jqGrid('getDataIDs');
        if(ids != ''){
            for(var i = 0; i< ids.length; i ++){
                var idx = ids[i];
                if(status){
                    grid.setCell(idx, 'CHK_BOX', "Yes");
                    var rowdata = grid.getRowData(idx);
                    if(rowdata.FLAG == "S"){
                        grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
                    }else{
                        grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
                    }
                    grid.editRow(idx);
                    if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
                        listGrid.setStatus(idx, "INSERT");

                    }else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
                        listGrid.setStatus(idx, "UPDATE");
                    }
                }else{
	                grid.setCell(idx, 'CHK_BOX', 'No');
                    grid.restoreRow(idx);
                    listGrid.setStatus(idx, " ");

                }
            }
        }
    });
	/* 배송관리 끝 */
});

//----------------------------------------------------------메인----------------------------------------------------------//
function fn_saveInOrd(){
	var grid = jQuery("#list");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var ids = grid.getDataIDs();
	var isProcess = false;
	var totCnt = 0 ;	//선택된거 총갯수
	var delCnt = 0 ;	//삭제될거 갯수
	var insCnt = 0 ;	//등록수정될거 갯수
	
	if(ids == ""){
		alert("$!lang.getText('save.nodata.')");
		jQuery('#btnSave').removeClass('disabled');
		return;
	}
	
	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");	
		jQuery('#btnSave').removeClass('disabled');
		return false;
	}

	if(!fn_listValidationE3()) {
		return;
	}
	
	if(confirm("$!lang.getText('update.confirm')")){
		jQuery("#formDataE3").html("");
		//삭제될 데이터 카운팅해서 저장할공간 append
        if( jQuery("form[name='frm_list_E3'] input[name='D_selectIds']").val() == undefined){
            jQuery("#formDataE3").append("<input type='text' name='D_selectIds' value='0'/>");
            jQuery("#formDataE3").append("<br>");
        }else{
     	   delCnt = parseInt(jQuery("form[name='frm_list_E3'] input[name='D_selectIds']").val());
        }
        
		//등록이나 수정될 데이터 카운팅해서 저장할공간 append
        if( jQuery("form[name='frm_list_E3'] input[name='I_selectIds']").val() == undefined){
            jQuery("#formDataE3").append("<input type='text' name='I_selectIds' value='0'/>");
            jQuery("#formDataE3").append("<br>");
        }else{
     	   insCnt = parseInt(jQuery("form[name='frm_list_E3'] input[name='I_selectIds']").val());
        }
			
        for(var i = 0 ; i < selectIds.length ; i++){
        	//selectIds 오더 내림차순 정렬
        	//selectIds.sort(function(a, b){return a-b});
			if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
				jQuery("#formDataE3").append("<input type='text' name='D_ST_GUBUN"+delCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
				isProcess = true;
			}else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
				jQuery("#formDataE3").append("<input type='text' name='I_ST_GUBUN"+insCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
				isProcess = true;
			}else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
				jQuery("#formDataE3").append("<input type='text' name='I_ST_GUBUN"+insCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
				isProcess = true;
			}
			
			if(isProcess){
				if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
					jQuery("#formDataE3").append("<input type='text' name='D_ORD_ID"	+delCnt+"'  value='"+grid.getCell(selectIds[i], "ORD_ID")	+"'/>");
					jQuery("#formDataE3").append("<input type='text' name='D_ORD_SEQ"	+delCnt+"'  value='"+grid.getCell(selectIds[i], "ORD_SEQ")	+"'/><br>");
					delCnt ++;
       			}else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) || "INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
       				jQuery("#formDataE3").append("<input type='text' name='I_IF_ID"			+insCnt+"'  value='"+ cfn_trim(grid.getCell(selectIds[i], "IF_ID"))			+"'/>");
       				jQuery("#formDataE3").append("<input type='text' name='I_IF_DT"			+insCnt+"'  value='"+ cfn_trim(grid.getCell(selectIds[i], "IF_DT"))			+"'/>");
       				jQuery("#formDataE3").append("<input type='text' name='I_MOVE_NO"		+insCnt+"'  value='"+ cfn_trim(grid.getCell(selectIds[i], "MOVE_NO"))		+"'/>");
       				jQuery("#formDataE3").append("<input type='text' name='I_MATERIALLOTID"	+insCnt+"'  value='"+ cfn_trim(grid.getCell(selectIds[i], "MATERIALLOTID"))	+"'/>");
       				
       				insCnt ++;
       			}
           	}
       	}		
		jQuery("form[name='frm_list_E3'] input[name='D_selectIds']").val( delCnt );
   		jQuery("form[name='frm_list_E3'] input[name='I_selectIds']").val( insCnt );
   		
   		cfn_loadingModalOpen1(); //로딩 MobalOpen
		var param 	= jQuery("form[name='frm_list_E3']").serialize();
		var url 	= "/WMSOP020/ifInOrdLocMapp.action";
		jQuery.post(url, param, function(data){
			cfn_loadingModalClose1(); //로딩 MobalClose
			alert(data.MSG);
			var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
			var  page = jQuery("#list1").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
			if(data.errCnt <= 0 ){
				var arg_func = jQuery("input[name='func']").val();
          		var opnr_func = eval("opener." + arg_func);
          		opnr_func();
          		self.close();
			}
     	}).fail(function(xhr, textStatus){
 			if(xhr.status == 404){	
 				location.href=('/index.html');
 			}
 		});
    }
}

/* 입고 주문 유효성검사 */
function fn_listValidationE3(){	
	//그리드 유효성검사
	var grid 		= jQuery("#list");
	var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b}); 
	var tmpVal;
	
	for(var i = 0 ; i < selectIds.length ; i++){
		var ordHoldYn     = cfn_trim(grid.getCell(selectIds[i], "ORD_HOLD_YN"));
		var ordInsertYn   = cfn_trim(grid.getCell(selectIds[i], "ORD_INSERT_YN"));
		var materialLotId = cfn_trim(grid.getCell(selectIds[i], "MATERIALLOTID"));
		
		tmpVal = [ordHoldYn, ordInsertYn];
		for(var j = 0 ; j < tmpVal.length ; j++){
			if(jQuery.trim(tmpVal[j]) != "N"){
				alert("$!lang.getText('주문입력 가능상태가 아닙니다.')\nMATERIALLOTID : "+materialLotId);
				return false;
			}
		}
	}
	return true;
}
</script>

</head>
<body>

<input type="hidden" name="func" id="func" value="$!request.getParameter('func')"/>
<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText('정상')</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
    	<form name="frm_list_E3">
    		<table class="search" id="srchBox">
	            <colgroup>
	                <col width="20%">
	                <col width="30%">
	                <col width="20%">
	                <col width="30%">
	                <col width="20%">
	                <col width="30%">
	            </colgroup>		
	            <tbody>
					<tr>
						<th><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('화주')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" value="ECOPROBM"> 
							<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" value="에코프로BM"> 
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="0000020958">
						</td>
						<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('입고일자')</th>
						<td>
							<input type="text" class = "text" style="width:40%" name="calInDt" id="calInDt" maxlength="10" onkeydown="cfn_setDateFld(calInDt)"> 
						</td>
						<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('주문구분')</th>
						<td>
							$!comCode.getComboComCode("WORK01", "vrSrchOrderPhase", "", false, "", "", "","class='selectbox'")
						</td>
					</tr>
	            </tbody>	
			</table>
			<input type = "hidden" name= "dsMain_rowStatus" id="dsMain_rowStatus" value = "INSERT"/>
			
			<div id = "formDataE3" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		</form>
	    <div class="popupContent">	
		    <div class = "btnArea">
		    	<div class="btnAreaRight" id="btnArea">
		    		<input type = "button" 	class = "INS_AUTH  UPD_AUTH btnSave"	name = "btnSave"	value = "$!lang.getText('주문입력')"			onClick = "fn_saveInOrd();"	role="button" aria-disabled="false"/>
		    	</div>
		    </div>
	        <div class="list_box">
				<table id="list"></table>
				<div id="pjmap"></div>
			</div>
		</div>
    </div>
    <!-- Modal Loading CustomerPop-->
	<div id="loadingModalView1" style="display: none; background-color: white; width: 70%; height: 100px; border-radius: 8px; vertical-align: middle; text-align: center; ">
		<span class="button b-close" id="loadingModal_close"  style = "visibility : hidden;">X</span>
		<div style="position: relative; display: inline-block; width: 50%; height: 30%; padding: 1em; color:#336699; text-align:center;">$!lang.getText('처리중') ...</div>
		<img src="/img/com/progress.gif" style="position: absolute; top: 0; bottom: 0; left:0; right: 0; margin: auto;"/>
	</div>
</div>	

</body>