<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	    		<!-- <input type = "button" name = "btnTemSap" 		value = "$!lang.getText('SAP전용 템플릿입력')"	onclick = "fn_orderUploadSAP();"	 role="button" aria-disabled="false"/> -->
	    	</div>
		</div>
	</div>	
</div>

<div class="patternWrap">
	<form name="frm_list">	 
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width = "100px"/>
				<col width = "11.5%"/>
				<col width = "120px"/>
				<col width = "15%"/>
				<col width = "90px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "45px"/>
			</colgroup>
			<tbody>
				<tr>
					<th>
						<select id="cmbSrchType" name="cmbSrchType" >
							<option value="100">$!lang.getText('출고예정일')</option>
							<option value="200">$!lang.getText('출고일')</option>
						</select>
					</th>
					<td colspan="3">
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
						 ~
						<input type = "text" class = "text" style="width:32%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
					</td>
					
					<th class="thBar">$!lang.getText('화주')</th>
					#if($adminInfo.getCustId() == $ss_user_gb)
						<td>
							<input type="text" class="readOnly" id="vrSrchCustCd" name="vrSrchCustCd" style="width: 44%" name="vrSrchCustCd" readonly="readonly" value="$ss_cmpy_code"> 
							<img src="/img/exam/btn/ico_search.gif"	class="imgSearch"/> 
							<input type="text" class="readOnly" style="width: 44%" id="vrSrchCustNm" name="vrSrchCustNm" readonly="readonly" value="$ss_cmpy_name">
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"> 
						</td> 
					#else
						<td>
							<input type="text" class="text" id="vrSrchCustCd" name="vrSrchCustCd" style="width: 44%" name="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"/> 
							<img src="/img/exam/btn/ico_search.gif"	onClick='fn_Popup("CUST");' class="imgSearch" /> 
							<input type="text" class="text" style="width: 44%" id="vrSrchCustNm" name="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"/> 
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"/> 
						</td> 
					#end
					<th class="thBar">$!lang.getText('원주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrgOrdId" id="vrSrchOrgOrdId">
					</td>
					
					
					<th class="btnSearch" rowspan="3" onClick="fn_search();">
						<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"    title="검색"  role="button" aria-disabled="false"/>	
					</th>
				</tr>
			
				<tr>
					<th>$!lang.getText('작업구분')</th>
					<td>
						$!comCode.getComboComCode("ORD11", "vrSrchOrderPhase", "", false, "", "", "","class='selectbox'")
					</td>
					
					<th class="thBar">$!lang.getText('주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrderId" id="vrSrchOrderId" maxlength="20">
					</td>
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 43%" name="vrSrchRitemCd" id="vrSrchRitemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 43%" name="vrSrchRitemNm" id="vrSrchRitemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemId"> 
					</td>
					<th class="thBar">$!lang.getText('상품군')</th>
					<td>
						<select name='vrSrchItemGrpId' id='vrSrchItemGrpId' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							<option value="N/A">$!lang.getText('미지정')</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
					
				</tr>
				<tr>	
					<th>$!lang.getText('주문상세')</th>
					<td>
						$!comCode.getComboComCode("WORK01", "vrSrchOrdSubtype", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
					<th class="thBar">$!lang.getText('고객명')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchSalesCustNm" id="vrSrchSalesCustNm">
					</td>
					<th>$!lang.getText('입력소스')</th>
					<td>
						$!comCode.getComboComCode("INS01", "vrSrchInsertSource", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
					<th>$!lang.getText('재고유무')</th>
					<td>
						$!comCode.getComboComCode("MAPPINGYN", "vrSrchStockQtyEmpty", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
				</tr>
			</tbody>
		</table>
	</form>
   	
   	<!--
    <div class = "btnArea">
    	<div class = "btnAreaLeft">
    		<div id='countBox' style='display:none;'>
	    		<span>총주문건수 : </span>
	  			<span id='totalOrderCount'></span>
	  			
	    		<span style='padding-left:30px;'>총주문량 : </span>
	  			<span id='totalOrderQty'></span>
  			</div>
    	</div>
    	<div class = "btnAreaRight" id="btnArea">
    		<input type = "button" class = "INS_AUTH btnEtc" 	name = "btnTest" 	value = "송장출력"		onclick = "fn_invcNoPrintDlvOrder()"		role="button" aria-disabled="false"/>
			<input type = "button" class = "DEL_AUTH btnDelete" name = "btnDelete"	value = "$!lang.getText('삭제')"		onClick = "fn_delete();"	role="button" aria-disabled="false"/>			
			<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')($!lang.getText('전체'))" 	onclick = "fn_excelDown()"	role="button" aria-disabled="false"/>
			<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')($!lang.getText('선택'))" 	onclick = "fn_excelDown2()"	role="button" aria-disabled="false"/> 
    	</div>
    </div>
    -->
    <div id="textOrgOrdId" style="font-size:20px; color:red; font-weight:bold;">원주문번호 : </div>
    <div id="divPanel" style="padding-top:0px;">
		<table class="search">
			<colgroup>
				<col width = "50%"/>
				<col width = "50%"/>
            </colgroup>
            <tbody>
				<tr>
					<td style="border: 1px solid #b0b0b0;">
						<div id="spdList" style="height:300px; border:0px solid #b0b0b0;"></div>
					</td>
					<td style="border: 1px solid #b0b0b0;">
						<table border="0" style="font-size:20px;">
							<colgroup>
								<col width = "20%"/>
								<col width = "30%"/>
								<col width = "20%"/>
								<col width = "30%"/>
							</colgroup>
				            <tbody>	
				            	<tr>
				                	<td>$!lang.getText('운임구분')</td>
				                	<td colspan="0">
				                		<select name='vrPayGubun' id='vrPayGubun' class="selectbox" style="height:35px; color:red; font-size:30px; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;">
											<option value="040">$!lang.getText('본사신용')</option>
											<option value="030">$!lang.getText('신용')</option>
											<option value="010">$!lang.getText('선불')</option>
											<option value="020">$!lang.getText('착불')</option>
										</select>
				                	</td>
				                	<td colspan="2" style="text-align:right; ">
				                		<input type="checkbox" 	name="chkDlvAir" 	id="chkDlvAir">
										<input type="hidden" 	name="vrDlvAir" 		id="vrDlvAir"   value="N"/>
										<input id="textDlvAir" value="$!lang.getText('제주')" size="8" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;font-size:20px; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;">
										
										<input type="checkbox" 	name="chkDlvShip" 	id="chkDlvShip">
										<input type="hidden" 	name="vrDlvShip" 		id="vrDlvShip"   value="N"/>
										<input id="textDlvShip" value="$!lang.getText('해운')" size="3" readOnly="readOnly" style="border:none; vertical-align:middle;line-height:15px;font-size:20px; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;">
				                	</td>
				                </tr>			            	
				                <tr>
				                	<td>$!lang.getText('박스명')</td>
				                	<td colspan="4">
				                		<select name='vrBoxType' id='vrBoxType' class="selectbox" onChange="vrBoxType_onChange();" style="height:35px; font-size:30px; font-weight:bold; font-family: Georgia, 'Malgun Gothic', serif;">
											<option value="3">￦2,130&nbsp&nbsp&nbsp($!lang.getText('03호') CBM 0.0078)</option>
											<!-- <option value="5">$!lang.getText('택배박스5호') | CBM 0.0252 | (￦2,000)</option> -->
											<!-- <option value="7">$!lang.getText('택배박스7호') | CBM 0.0444 | (￦2,000)</option> -->
											<option value="8">￦3,130&nbsp&nbsp&nbsp($!lang.getText('08호') CBM 0.0666)</option>
											<!-- <option value="9">$!lang.getText('택배박스9호') | CBM 0.0858 | (￦3,000)</option> -->
											<option value="10">￦4,130&nbsp&nbsp&nbsp($!lang.getText('10호') CBM 0.1080)</option>
											<option value="13">￦6,130&nbsp&nbsp&nbsp($!lang.getText('13호') CBM 0.2000)</option>
											<option value="15">￦2,630&nbsp&nbsp&nbsp($!lang.getText('15호') CBM 0.2520)</option>
										</select>
				                	</td>
				                </tr>
				                <tr>
				                	<td>$!lang.getText('박스수량')</td>
				                	<td>
				                		<input type = "text" class = "text" name="vrBoxQty" id="vrBoxQty" style="width:60%; text-align:right;height:35px; color:#000000; font-size:30px; font-weight:bold;" onkeyPress="cfn_setFldToNumberFld(vrBoxQty)">
				                		<button style="width:20%;height:37px;margin-left:-6px;font-weight:bold;color:#000000;cursor:pointer;border-color:#BDBDBD;" type="button" onclick="fn_boxQtyUp()">-</button>
				                		<button style="width:20%;height:37px;margin-left:-7px;font-weight:bold;color:#000000;cursor:pointer;border-color:#BDBDBD;" type="button" onclick="fn_boxQtyDown()">+</button>
				                	</td>
				                	<td>$!lang.getText('박스금액')</td>
				                	<td>
				                		<input type = "text" class = "text" name="vrBoxPrice" id="vrBoxPrice" style="text-align:right;height:35px; color:#000000; font-size:30px; font-weight:bold;" onkeyPress="cfn_setFldToNumberFld(vrBoxPrice)">
				                	</td>
				                </tr>
				                <tr>
				                	<td>$!lang.getText('택배운임')</td>
				                	<td>
				                		<input type = "text" class = "text" name="vrDlvPrice" id="vrDlvPrice" style="text-align:right;height:35px; color:#000000; font-size:30px; font-weight:bold;" onkeyPress="cfn_setFldToNumberFld(vrDlvPrice)" readonly="readonly">
				                	</td>
				                	<td>$!lang.getText('할증료')</td>
				                	<td>
				                		<input type = "text" class = "text" name="vrDlvAdditi" id="vrDlvAdditi" style="text-align:right;height:35px; color:#000000; font-size:30px; font-weight:bold;" onkeyPress="cfn_setFldToNumberFld(vrDlvAdditi)">
				                	</td>
				                </tr>
				                <tr><td colspan="4"></td></tr>
				                <tr height="60">
				                	<td colspan="4">
				                		<div style="display:flex;">
					                		<div style="flex:1; padding:1px;">
					                			<input type="button" class="btnDisabled" style="font-size:22px; height:85px; width:100%;" id="confirmBtn" name="btn_write" value="$!lang.getText('검수완료')" role="button" aria-disabled="false"/>
					                		</div>
					                		<div style="flex:1; padding:1px;">
						                		<input type="button" class="btnDisabled" style="font-size:22px; height:85px; width:100%;" id="deliveryBtn" name="btn_write" value="$!lang.getText('택배송장')" role="button" aria-disabled="false"/>
					                		</div>
					                		<div style="flex:1; padding:1px;">
					                			<input type="button" class="btnDisabled" style="font-size:22px; height:85px; width:100%;"  id="pickinglistBtn" name="btn_write" value="$!lang.getText('거래명세서')" role="button" aria-disabled="false"/>
					                		</div>
					                	</div>
				                	</td>
				                </tr>
				            </tbody>
			         	</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
    
	<div style="padding-top:0px; border: 1px solid #b0b0b0;">
		<div id="spdDetailList" style="height:280px;;"></div>
	</div>
	
	<form name="frm_eai" style = "visibility : hidden ; width : 0 ; height : 0">
	</form>
	
	<div id="dataTable" style = "visibility : hidden ; width : 0 ; height : 0"></div>
</div>

<script type="text/javascript">
	//jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>