<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("입고주문")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<style>
	.loadingImg_css{position: absolute; display:none; top:60%; left:60%;}
</style>

#set($ss_user_gb 	= $!session.getAttribute("SS_USER_GB")	)
#set($ss_cmpy_code 	= $!session.getAttribute("SS_CMPY_CODE"))
#set($ss_cmpy_id 	= $!session.getAttribute("SS_CMPY_ID")	)
#set($ss_cmpy_name 	= $!session.getAttribute("SS_CMPY_NAME"))
#set($ss_lang_type 	= $!session.getAttribute("SS_LANG_TYPE"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end

#parse("winus/common/userAuthLang.vm")
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

/* 화면크기 변경시 그리드 크기 변경 */
jQuery(window).resize(function() {
	resizeGrid(null);
});

var listGrid = new ULNSI_jQGrid();

var vrOrdId = "";    	//주문아이디
var vrApproveYn = "";   //승인상태

jQuery(document).ready(function() {
	/* Tabs */
	jQuery("#tab1").tabs({show: function(event, ui) {resizeGrid();}});

	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);	
	
	/* datepicker */
	//한국어 일본어만 현재 지원됨 
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("form[name='frm_list'] input[name='calInDt']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 파라미터 처리 */
	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	vrOrdId 	= (arrParameter[0] == undefined) ? "" : arrParameter[0]
	vrApproveYn = (arrParameter[1] == undefined) ? "" : arrParameter[1];
	
	/* 파라미터 값 셋팅 */
	jQuery("form[name='frm_list'] input[name='vrOrdId']").val(vrOrdId);
	jQuery("form[name='frm_list'] input[name='vrApproveYn']").val(vrApproveYn);

	/* 파라미터에 따른 버튼처리 (기능) */
	jQuery("input[type='button']").hide();

	if(vrApproveYn != 'Y'){
		jQuery("input[name='btnSave']").show();
		jQuery("input[name='btnNew']").show();
		if(vrOrdId == ""){
			jQuery("input[name='btnInit']").show();
		}
		jQuery("input[name='btnRowDel']").show();	
	}
	
	/* 주문번호 유무에 따른 처리 */
	if(vrOrdId != ""){
		jQuery("form[name='frm_list'] input[name='dsMain_rowStatus']").val("UPDATE");
	}
	
	
// 	/* 버튼권한처리 (저장,신규,삭제) */
// 	var vrProgramId = "WMSOP020";
// 	var url 	= "/TMSCM070/selectAuthBtn.action";
// 	var param 	= "vrProgramId=" + vrProgramId;
// 	jQuery.post(url, param, function(data){
// 		var AuthBtn = data.AuthBtn[0];
// 		if(AuthBtn.INS_AUTH != 'Y'){
// 			jQuery(".INS_AUTH").hide();
// 		}
// 		if(AuthBtn.DEL_AUTH != 'Y'){
// 			jQuery(".DEL_AUTH").hide();
// 		}			
// 	});
	
	/* 주문상세 selectbox 필터처리 */
	var selectHit = ['20','22','23','25','111','137','138','139','146','153'];
	var selectSize = jQuery("#vrSrchOrderPhase option").size();
	var searchHit = [];
	var chk ;
	for(var i = 0 ; i < selectSize ; i++){
		chk = true;
		for(var j = 0 ; j < selectHit.size() ; j ++){
			if(jQuery("#vrSrchOrderPhase option:eq("+i+")").val() == selectHit[j]){
				chk = false;
			}
		}
		if(chk){
			searchHit.push(i);
		}
	}
	for(var i = searchHit.size() ; i > 0 ; i --){
		jQuery("form[name='frm_list'] select[name='vrSrchOrderPhase'] option:eq("+searchHit[i-1]+")").remove();
	}
	
	/* 주문번호가있으면 조회 */
	var url = "";
	if(cfn_trim(vrOrdId) != ""){
		fn_searchDetail();
		param = "vrOrdId="+vrOrdId;
		url = "/WMSOP999/listInOrderItem.action?"+param;
	}		
	
	/* 입고주문 시작 */
	var colNameArray = [
	                     'FLAG'
	                    ,'CHK_BOX'
	                    ,'ST_GUBUN'
	                    ,' '
	                    
	                    ,"LOT$!lang.getText('번호')"		//CUST_LOT_NO
	                    ,'<img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText("$LANG_GB_TXET_POOL코드")'		//ITEM_CODE  
	                    ,''
	                    ,'$!lang.getText("$LANG_GB_TXET_POOL명")'		//RITEM_NM
	                    ,"<img src='/img/exam/ico_004.gif' class='imgclass'>$!lang.getText('주문수량')"		//IN_WORK_ORD_QTY
	                    
	                    ,"$!lang.getText('작업수량')"		//REAL_IN_QTY	                    
	                    ,"$!lang.getText('주문중량')"		//IN_ORD_WEIGHT
	                    ,"UOM"							//IN_WORK_UOM_CD	
	                    ,"BOX$!lang.getText('수량')"		//REAL_BOX_QTY	//히든
	                    
	                    ,"PLT$!lang.getText('수량')"		//REAL_PLT_QTY	//히든
	                    ,"$!lang.getText('비고')1"		//ORD_DESC	                    
	                    ,"$!lang.getText('비고')2"		//ETC2
	                    ,"$!lang.getText('유통기한')"		//VALID_DT
	                    ,"$!lang.getText('제조일자')"		//MAKE_DT
	                    
	                    //추가
	                    ,"$!lang.getText('상품유효기간')"		//
	                    ,"$!lang.getText('상품유효기간만료일')"	//
	                    ,"$!lang.getText('소비기한만료일')"		//
	                    //추가끝
	                    
	                    ,"$!lang.getText('컨테이너번호')"		//CNTR_NO
	                    ,"$!lang.getText('컨테이너종류')"		//CNTR_TYPE
	                    
						//추가
						//,"$!lang.getText('물류기기명')"		//RTI_NM
						//추가끝
	                    
	                    ,'ORD_ID'
	                    ,'ORD_SEQ'
	                    ,'RITEM_ID'
	                    ,'REAL_OUT_QTY'
	                    ,'TIME_PERIOD_DAY'
	                    
	                    ,'LOC_YN'
	                    ,'PDA_CD'
	                    ,'PDA_STAT'
	                    ,'WORK_YN'
	                    ,'RJ_TYPE'
	                    
	                    ,'WORK_STAT'
	                    ,'CONF_YN'
	                    ,'UNIT_AMT'
	                    ,'AMT'
	                    ,'EA_CAPA'
	                    
	                    ,'BOX_BARCODE'
	                    ,'IN_ORD_UOM_ID'
	                    ,'IN_ORD_UOM_CD'
	                    ,'OUT_ORD_UOM_ID'
	                    ,'OUT_ORD_QTY'
	                    
	                    ,'DSP_ID'
	                    ,'CAR_ID'
	                    ,'CAR_CD'
	                    ,'DOCK_NO'
	                    ,'TRANS_CD'
	                    
	                    ,'DRV_NM'
	                    ,'DRV_TEL'
	                    ,'CNTR_ID'
	                    ,'ORD_QTY'
	                    ,'REF_SUB_LOT_ID'
	                    
	                    ,'IN_WORK_UOM_ID'
	                    ,'IN_WORK_UOM_CD'
	                    ,'OUT_WORK_UOM_ID'
	                    ,'OUT_WORK_ORD_QTY'
	                    ,'ITEM_GRP_ID',
	                    
	                   ]
	
	//name, index 는 쿼리문의 컬럼에 맞췄다.
	//width는 현재 마이플랫폼의 width에 맞췄다.
	var colModelArray = [
						 {name : 'FLAG'				,index : 'FLAG'				,hidden : true}
						,{name : 'CHK_BOX'			,index : 'CHK_BOX'			,hidden : true}
	            		,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'			,hidden : true}
	            		,{name : 'ST_GUBUN_IMG'		,index : 'ST_GUBUN_IMG'		,width : 20		,align : "center"	,sortable : false}
	            		
						,{name : 'CUST_LOT_NO'		,index : 'CUST_LOT_NO'		,width : 80 	,editable : true}
						,{name : 'ITEM_CODE'		,index : 'ITEM_CODE'		,width : 100 	,editable : true	,cellattr : function (rowId, val, rawObject, cm, rdata) { return 'onChange = "gridSrchItemCd_OnKillFocus('+rowId+')"'; }}
						,{name : 'ITEM_POP'			,index : 'ITEM_POP'			,width : 30 	,align : "center"	,formatter : fn_gridFormatter}
						,{name : 'RITEM_NM'			,index : 'RITEM_NM'			,width : 80 }
						//,{name : 'IN_ORD_QTY'		,index : 'IN_ORD_QTY'		,width : 80 	,editable : true	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue : ""}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_IN_ORD_QTY\')"' }}
						,{name : 'IN_WORK_ORD_QTY'	,index : 'IN_WORK_ORD_QTY'	,width : 80 	,align : "right"	,editable : true	,editoptions : {maxlength : 10}	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue : ""}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_IN_WORK_ORD_QTY\')"' }}
						
						,{name : 'REAL_IN_QTY'		,index : 'REAL_IN_QTY'		,width : 80		,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}						
						,{name : 'IN_ORD_WEIGHT'	,index : 'IN_ORD_WEIGHT'	,width : 80		,editable : true	,align : "right"	,formatter:'currency',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 2, defaultValue : ""}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToNumberFld(\''+rowId+'_IN_ORD_WEIGHT\')"' }}
						//,{name : 'IN_ORD_UOM_CD'	,index : 'IN_ORD_UOM_CD'	,width : 80		,hidden	: true}
						,{name : 'IN_WORK_UOM_CD'	,index : 'IN_WORK_UOM_CD'	,width : 80		,align : "center"}//	,editable : false	,cellattr : function (rowId, val, rawObject, cm, rdata) { return 'onChange = "gridSrchUomCd_OnKillFocusE3('+rowId+')"'; }}
						,{name : 'REAL_BOX_QTY'		,index : 'REAL_BOX_QTY'		,width : 80 	,hidden	: true}
						
						,{name : 'REAL_PLT_QTY'		,index : 'REAL_PLT_QTY'		,width : 80 	,hidden : true	,hidden	: true}
						,{name : 'ORD_DESC'			,index : 'ORD_DESC'			,width : 80 	,editable : true}						
						,{name : 'ETC2'				,index : 'ETC2'				,width : 80		,editable : true}
						,{name : 'VALID_DT'			,index : 'VALID_DT'			,width : 80		,hidden : true	,editable : true	,cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'_VALID_DT\')"' }}
						,{name : 'MAKE_DT'			,index : 'MAKE_DT'			,width : 80 	,hidden : false	,editable : true	,cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'_MAKE_DT\')"' }}
						
						//추가
						,{name : 'ITEM_BEST_DATE'		,index : 'ITEM_BEST_DATE'		,width : 80		,hidden : false ,editable : true	,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue : ""}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_ITEM_BEST_DATE\')"' }}
						,{name : 'ITEM_BEST_DATE_END'	,index : 'ITEM_BEST_DATE_END'	,width : 80 	,hidden : false ,editable : true	,align : "center"	,cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'_ITEM_BEST_DATE_END\')"' }}
						,{name : 'ITEM_USE_DATE_END'	,index : 'ITEM_USE_DATE_END'	,width : 80		,hidden : true ,editable : true	,align : "center"	,cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'_ITEM_USE_DATE_END\')"' }}
						//추가끝
						
						,{name : 'CNTR_NO'			,index : 'CNTR_NO'			,width : 90 	,editable : true}
						,{name : 'CNTR_TYPE'		,index : 'CNTR_TYPE'		,width : 90 	,editable : true	,formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("CAR05", true, "$!lang.getText('선택')")}}
						
						//추가
						//,{name : 'RTI_NM'			,index : 'RTI_NM'			,width : 80		,editable : true}
						//추가끝
												
						,{name : 'ORD_ID'			,index : 'ORD_ID'			,hidden : true}
						,{name : 'ORD_SEQ'			,index : 'ORD_SEQ'			,hidden : true}
						,{name : 'RITEM_ID'			,index : 'RITEM_ID'			,hidden : true}
						,{name : 'REAL_OUT_QTY'		,index : 'REAL_OUT_QTY'		,hidden : true}
						,{name : 'TIME_PERIOD_DAY'	,index : 'TIME_PERIOD_DAY'	,hidden : true}
						
						,{name : 'LOC_YN'			,index : 'LOC_YN'			,hidden : true}
						,{name : 'PDA_CD'			,index : 'PDA_CD'			,hidden : true}
						,{name : 'PDA_STAT'			,index : 'PDA_STAT'			,hidden : true}
						,{name : 'WORK_YN'			,index : 'WORK_YN'			,hidden : true}
						,{name : 'RJ_TYPE'			,index : 'RJ_TYPE'			,hidden : true}
						
						,{name : 'WORK_STAT'		,index : 'WORK_STAT'		,hidden : true}
						,{name : 'CONF_YN'			,index : 'CONF_YN'			,hidden : true}
						,{name : 'UNIT_AMT'			,index : 'UNIT_AMT'			,hidden : true}
						,{name : 'AMT'				,index : 'AMT'				,hidden : true}
						,{name : 'EA_CAPA'			,index : 'EA_CAPA'			,hidden : true}
						
						,{name : 'BOX_BARCODE'		,index : 'BOX_BARCODE'		,hidden : true}
						,{name : 'IN_ORD_UOM_ID'	,index : 'IN_ORD_UOM_ID'	,hidden : true}
						,{name : 'IN_ORD_UOM_NM'	,index : 'IN_ORD_UOM_NM'	,hidden : true}
						,{name : 'OUT_ORD_UOM_ID'	,index : 'OUT_ORD_UOM_ID'	,hidden : true}
						,{name : 'OUT_ORD_QTY'		,index : 'OUT_ORD_QTY'		,hidden : true}
						
						,{name : 'DSP_ID'			,index : 'DSP_ID'			,hidden : true}
						,{name : 'CAR_ID'			,index : 'CAR_ID'			,hidden : true}
						,{name : 'CAR_CD'			,index : 'CAR_CD'			,hidden : true}
						,{name : 'DOCK_NO'			,index : 'DOCK_NO'			,hidden : true}
						,{name : 'TRANS_CD'			,index : 'TRANS_CD'			,hidden : true}
						
						,{name : 'DRV_NM'			,index : 'DRV_NM'			,hidden : true}
						,{name : 'DRV_TEL'			,index : 'DRV_TEL'			,hidden : true}
						,{name : 'CNTR_ID'			,index : 'CNTR_ID'			,hidden : true}
						,{name : 'ORD_QTY'			,index : 'ORD_QTY'			,hidden : true}
						,{name : 'REF_SUB_LOT_ID'	,index : 'REF_SUB_LOT_ID'	,hidden : true}
						
						,{name : 'IN_WORK_UOM_ID'	,index : 'IN_WORK_UOM_ID'	,hidden : true}
						,{name : 'IN_WORK_UOM_CD'	,index : 'IN_WORK_UOM_CD'	,hidden : true}
						,{name : 'OUT_WORK_UOM_ID'	,index : 'OUT_WORK_UOM_ID'	,hidden : true}
						,{name : 'OUT_WORK_QTY'		,index : 'OUT_WORK_QTY'		,hidden : true}
						,{name : 'ITEM_GRP_ID'		,index : 'ITEM_GRP_ID'		,hidden : true}
						]

	var option = {
				   'title'		: '$!lang.getText("$LANG_GB_TXET_POOL입고주문내역")'	 	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 300								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '98%'							//width 	
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray	
				  ,'pager'		: jQuery('#pjmap1')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  ,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
				  ,'rowList' 	: [20,40,60]						//rowlist	셀렉트박스가 생겨서 중간중간에 몇개씩 뿌릴지 바꿀수있다. 만약 false 로주고 scroll 옵션을 추가하면 스크롤내릴때마다 재조회됨
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'multiselect': true
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true
				  ,'shrinkToFit': false
				  ,'jsonReader'	: {repeatitems : false}
				 };
	
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			javascript:self.close(); // 팝업창 닫기
		}
	};
	
	//그리드 생성
	listGrid.init(jQuery("#list1"), option, url, "", loadErrorCallback);

	//전체셀선택
	listGrid.setSelectAllEventCallback(function(id , status){
        var grid = jQuery("#list1");
        var ids  = grid.jqGrid('getDataIDs');
        if(ids != ''){
            for(var i = 0; i< ids.length; i ++){
                var idx = ids[i];
                if(status){
                    grid.setCell(idx, 'CHK_BOX', "Yes");
                    var rowdata = grid.getRowData(idx);
                    if(rowdata.FLAG == "S"){
                        grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
                    }else{
                        grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
                    }
                    grid.editRow(idx);
                    if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
                        listGrid.setStatus(idx, "INSERT");

                    }else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
                        listGrid.setStatus(idx, "UPDATE");
                    }
                }else{
	                grid.setCell(idx, 'CHK_BOX', 'No');
                    grid.restoreRow(idx);
                    listGrid.setStatus(idx, " ");

                }
            }
        }
    });
	
	// 그리드 체크박스 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#list1");
		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
	 			jQuery("#jqg_list1_"+id).attr("checked",false);
	 			grid.setCell(id, 'CHK_BOX', "No");
	 			grid.restoreRow(id);
	 			listGrid.setStatus(id, " ");
	 		}else{
	 			jQuery("#jqg_list1_"+id).attr("checked",true); 
	 			grid.setCell(id, 'CHK_BOX', "Yes"); 
	 			var rowdata = grid.getRowData(id);
	 			grid.editRow(id);
	 			if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
	 				listGrid.setStatus(id, "INSERT");
	 			}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
	 				listGrid.setStatus(id, "UPDATE");
	 			}
	 		}
		}else{
		  if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                grid.setCell(id, 'CHK_BOX', 'Yes');
                grid.setSelection(id, false);

            }else{
                grid.setCell(id, 'CHK_BOX', 'NO');
                grid.setSelection(id, true);
            }	        
		}
		fn_gridDateSet(id);
	});	
	/* 입고주문 끝 */	
	
	/* 페이지셋팅 */
	//초기값 셋팅
	if(cfn_trim(vrOrdId) == ""){
		fn_pageInit();
	}
	
	jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").focus();
	
	/* 페이지로딩 시 화주정보 popup */
	if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val() && "" == vrOrdId){
		fn_Popup('CUST');
	}
});

//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){	
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}
//팝업 3개이상 일때 세션 소멸 처리
function fn_pop_err(arr){
	var info = arr[0];	
	if(info.err != ""){
		var opnr_func = eval("opener.fn_pop_err");
		var arr2 	= new Array();
		var info2 = new Object();
		info2.err = info.err;
		arr2[0]= info2;
		if(arr2 != null){
 		opnr_func(arr2);
 	}
		javascript:self.close();
	}
}
//--------------------------------------------------------------------------------화면로딩-------------------------------------------------------------------------------------//
/*
	1.입고주문
	-입고주문그리드포맷			:	fn_gridFormatter();			:	처리		[그리드포맷터]
	-입고주문그리드달력데이트픽커	:	fn_gridDateSet();				:	처리		[달력]
	-입고주문화면초기셋팅		:	fn_pageInit();				:	처리		[주문아이디없을시 초기셋팅]
	-입고주문그리드팝업선택시		:	fn_gridSelect()					:	처리		[팝업선택시 로우선택되게 셋팅]
	-입고주문상단디테일정보셋팅	:	fn_searchDetail()				:	처리		[주문아이디있을시 셋팅]
	
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

/* 팝업버튼 포맷터*/
function fn_gridFormatter(value, option, row){
	switch(option.pos){
		case 8:
			return '<img src="/img/exam/btn/ico_search.gif" onClick="fn_Popup('+"'POOL'"+','+option.rowId+');" />';
	}
}

/* 서브 그리드 달력셋팅 */
//아직 한국어,일본어만 적용됨 (중국, 영어 추후 수정해야됨)
function fn_gridDateSet(id){
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("#"+id+"_VALID_DT"		, "#list1").datepicker({dateFormat:"yy-mm-dd"});
	jQuery("#"+id+"_MAKE_DT"		, "#list1").datepicker({dateFormat:"yy-mm-dd"});
	jQuery("#"+id+"_ITEM_BEST_DATE_END"	, "#list1").datepicker({dateFormat:"yy-mm-dd"});
	jQuery("#"+id+"_ITEM_USE_DATE_END"	, "#list1").datepicker({dateFormat:"yy-mm-dd"});
}

/* 페이지 초기세팅 */
function fn_pageInit(){
	listGrid.addRow();
	
	fn_gridDateSet("1");
	
	/* 날짜 셋팅 */
	//var vrToDay = (new Date()).getFormattedString("YYYY-MM-DD");
	var vrToDay = localStorage.LocalTime;
	jQuery("form[name='frm_list'] input[name='calInDt']").val(vrToDay);
	
	jQuery("form[name='frm_list'] select[name='vrSrchOrderPhase']").val("20");	

	jQuery("form[name='frm_list'] input[name='dsMain_rowStatus']").val("INSERT");	
	
	/* 고객사 ID 의 경우 검색화주를 고정시킴  */
	if("$!ss_user_gb" == "20"){
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("$!ss_cmpy_code").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("$!ss_cmpy_name").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val("$!ss_cmpy_id");
		jQuery("form[name='frm_list'] img[name='btnSrchCustPop']").removeAttr("onclick");
	}
}

/* grid1 선택 */
function fn_gridSelect(id){
	//선택되 있지않을때 환산이력의 UOM을 변경햇을시 자동으로 선택되도록 셋팅한다.
	var grid = jQuery("#list1");
	if(grid.getCell(id, 'CHK_BOX') != "Yes"){
		jQuery("#jqg_list1_"+id).attr("checked",true); 
		grid.setCell(id, 'CHK_BOX', "Yes"); 
		grid.editRow(id);
		if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid.setStatus(id, "INSERT");
		}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid.setStatus(id, "UPDATE");
		}
		grid.setSelection(id, true);
	}
}


/* 상단 디테일정보 셋팅 */
function fn_searchDetail(){
	var url = "/WMSOP999/listOrderDetail.action";
	var param = "vrOrdId="+jQuery("form[name='frm_list'] input[name='vrOrdId']").val();
	//상세조회
	jQuery.post(url, param, function(data){
		var detail = data.DETAIL;
	
		//상단에 보여지는것 (main detail정보) - 단 저장할때 필요없는것들 , 조회할때만필요잇고
		jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val(detail.IN_WH_CD);	//필요하네
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val(detail.CUST_CD);
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val(detail.CUST_NM);
		jQuery("form[name='frm_list'] input[name='vrInCustNm']").val(detail.IN_CUST_NM);	
		jQuery("form[name='frm_list'] input[name='vrInCustCd']").val(detail.IN_CUST_CD);

		//저장할때필요하거 총 31개
		//파라미터2개
		//lc_id = ss_svc_no 1개
		//상단에 보여지는것 (main detail정보) - 저장할때 필요함 9개
		jQuery("form[name='frm_list'] select[name='vrSrchOrderPhase']").val(detail.ORD_SUBTYPE);	
		jQuery("form[name='frm_list'] input[name='vrSrchCustId']		").val(detail.CUST_ID);
		jQuery("form[name='frm_list'] input[name='calInDt']			").val(detail.IN_REQ_DT);
		jQuery("form[name='frm_list'] input[name='vrBlNo']			").val(detail.BL_NO);
		jQuery("form[name='frm_list'] input[name='vrInCustId']		").val(detail.IN_CUST_ID);		
		
		jQuery("form[name='frm_list'] input[name='vrSrchWhNm']		").val(detail.IN_WH_NM);
		jQuery("form[name='frm_list'] input[name='vrInCustAddr']		").val(detail.IN_CUST_ADDR);
		jQuery("form[name='frm_list'] input[name='vrInCustEmpNm']	").val(detail.IN_CUST_EMP_NM);
		jQuery("form[name='frm_list'] input[name='vrInCustTel']		").val(detail.IN_CUST_TEL);	

		//히든으로 숨겨둘거 (main detail정보) 19개
		jQuery("form[name='frm_list'] input[name='vrSrchWhId']		").val(detail.IN_WH_ID);
		jQuery("form[name='frm_list'] input[name='inDt']			").val(detail.IN_DT);
		jQuery("form[name='frm_list'] input[name='custPoid']		").val(detail.CUST_POID);
		jQuery("form[name='frm_list'] input[name='custPoseq']	").val(detail.CUST_POSEQ);
		jQuery("form[name='frm_list'] input[name='orgOrdId']		").val(detail.ORG_ORD_ID);
		jQuery("form[name='frm_list'] input[name='orgOrdSeq']	").val(detail.ORG_ORD_SEQ);
		
		jQuery("form[name='frm_list'] input[name='outWhId']		").val(detail.OUT_WH_ID);
		jQuery("form[name='frm_list'] input[name='transCustId']	").val(detail.TRANS_CUST_ID);
		jQuery("form[name='frm_list'] input[name='pdaFinishYn']	").val(detail.PDA_FINISH_YN);
		jQuery("form[name='frm_list'] input[name='workStat']		").val(detail.WORK_STAT);
		jQuery("form[name='frm_list'] input[name='ordType']		").val(detail.ORD_TYPE);
		
		jQuery("form[name='frm_list'] input[name='outReqDt']		").val(detail.OUT_REQ_DT);
		jQuery("form[name='frm_list'] input[name='outDt']		").val(detail.OUT_DT);
		jQuery("form[name='frm_list'] input[name='pdaStat']		").val(detail.PDA_STAT);
		jQuery("form[name='frm_list'] input[name='workSeq']		").val(detail.WORK_SEQ);
		jQuery("form[name='frm_list'] input[name='capaTot']		").val(detail.CAPA_TOT);
		
		jQuery("form[name='frm_list'] input[name='kinOutYn']		").val(detail.KIN_OUT_YN);
		jQuery("form[name='frm_list'] input[name='carConfYn']	").val(detail.CAR_CONF_YN);
		jQuery("form[name='frm_list'] input[name='tplOrdId']		").val(detail.TPL_ORD_ID);
		jQuery("form[name='frm_list'] input[name='payYn']		").val(detail.PAY_YN);		
	});
}


//--------------------------------------------------------------------------------자동완성-------------------------------------------------------------------------------------//
/*
    srchKey : 명명            :구현: 파라미터 명
  ----------------------------------------------------------------------------------
	CAR     : 차량            : O : vrSrchCarCd , vrSrchCarNm(X)
	CENTER  : 물류센터      : O : vrSrchCenterCd, vrSrchCenterNm
	CLIENT  : 고객사         : O : vrSrchCustCd, vrSrchCustNm, srchSubCod, srchSubCode4
	                         (srchSubCod => 100 : 고객사, 104 : 물류센터, 108 : 거래처 ) 
	CUST    : 화주            : O : vrSrchCustCd, vrSrchCustNm
	DEPT    : 부서            : X :
	DOCK    : 도크            : O : vrSrchDockCd, vrSrchDockNo, vrSrchDockNm
	EMPLOY  : 사원            : X :
	ITEM    : 상품            : O : vrSrchItemCd, vrSrchItemNm
	LOCATION : 로케이션    : O : vrSrchLocCd, vrSrchLocId
	UOM     : UOM      : O : vrSrchUomCd, vrSrchUomNm
	USER    : 사용자         : O : vrSrchUserId, vrSrchUserNm, srchSubCod, srchSubCode5
	WH      : 창고            : O : vrSrchWhCd, vrSrchWhNm
	ZONE    : 존               : O : vrSrchZoneId, vrSrchZoneNm
 */
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------// 

//grid내에서  상품 자동완성
function gridSrchItemCd_OnKillFocus(id){
		
	var custCd_Text = "$!lang.getText('화주정보')";
	if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val()){
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		jQuery("#"+ id + "_ITEM_CODE", "#list1").val("");
		fn_Popup("CUST");
		return false;
	}
	
	var grid = jQuery("#list1");
	var vrSrchItemCd = jQuery("#"+ id + "_ITEM_CODE","#list1").val()
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				/*
				jQuery("input[name='GRID_ID_']").val(id);
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				strParameter.push('');
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
				strParameter.push(jQuery("form[name='frm_list'] input[name='outWhId']").val());
				strParameter.push('');
				strParameter.push('viewAll');
				var width  = "800";
				var height = "530";
				param = '?func=fn_setWMSCM092&strParameter='+strParameter;
				url = "/WMSCM091Q2.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
				*/
				
				jQuery("input[name='GRID_ID']").val(id);
				var strParameter = [];
				var width 		 = "800";
				var height 		 = "530";
				fn_gridSelect(id);
				strParameter.push(vrSrchItemCd);
				strParameter.push('');
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
				param = '?func=fn_setWMSCM162&strParameter='+strParameter;
				url = "/WMSCM162.action" + param;
				
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery("#"+ id + "_ITEM_CODE", "#list1").val(data[0].CODE);
				grid.setCell(id, 'RITEM_ID', data[0].ID);
				grid.setCell(id, 'RITEM_NM', data[0].NAME);
				grid.setCell(id, 'IN_ORD_UOM_ID', data[0].UOM_ID);
				grid.setCell(id, 'IN_WORK_UOM_ID', data[0].UOM_ID);
				grid.setCell(id, 'IN_WORK_UOM_CD', data[0].UOM_CD);
				grid.setCell(id, 'ITEM_GRP_ID', data[0].UOM_ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("#"+ id + "_ITEM_CODE", "#list1").val("").focus();
				grid.setCell(id, 'RITEM_NM', ' '); 
				grid.setCell(id, 'RITEM_ID', ' '); 
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("#"+ id + "_ITEM_CODE", "#list1").val("");
		grid.setCell(id, 'RITEM_ID', ' ');
		grid.setCell(id, 'RITEM_NM', ' ');
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=13";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&custType=13&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=13";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&custType=13&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 입고처 코드 입력 */
function vrInCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrInCustCd"]').val();
	var srchSubCode5 = jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val();
	
	var custCd_Text = "$!lang.getText('화주정보')";
	if( srchSubCode5 == ""){
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		jQuery("form[name='frm_list'] input[name='vrInCustCd']").val("");
		fn_Popup("CUST");
		return false;
	}
	
	if( vrSrchCustCd != "" ){
		var srchKey = "CLIENT";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&srchSubCod=108" + "&srchSubCode5=" +srchSubCode5 + "&custType=1";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CLIENT;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				strParameter.push('');
				strParameter.push('108');
				strParameter.push('');
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
				strParameter.push('1');
				var width  = "800";
				var height = "530";
				var param = "?func=fn_setWMSCM011_2&strParameter=" + strParameter;
				var url = "/TMSCM010.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();			
				
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrInCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrInCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrInCustId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrInCustAddr"]').val(data[0].ADDR);
				jQuery('form[name="frm_list"] input[name="vrInCustEmpNm"]').val(data[0].EMPNM);
				jQuery('form[name="frm_list"] input[name="vrInCustTel"]').val(data[0].TEL);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrInCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrInCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrInCustId"]').val("");
				jQuery('form[name="frm_list"] input[name="vrInCustAddr"]').val('');
				jQuery('form[name="frm_list"] input[name="vrInCustEmpNm"]').val('');
				jQuery('form[name="frm_list"] input[name="vrInCustTel"]').val('');
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("form[name='frm_list'] input[name='vrInCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrInCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrInCustId"]').val("");
		jQuery('form[name="frm_list"] input[name="vrInCustAddr"]').val('');
		jQuery('form[name="frm_list"] input[name="vrInCustEmpNm"]').val('');
		jQuery('form[name="frm_list"] input[name="vrInCustTel"]').val('');
	}
}

/* 입고처 명 입력 */
function vrInCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrInCustNm"]').val();
	var srchSubCode5 = jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val();
	
	var custCd_Text = "$!lang.getText('화주정보')";
	if( srchSubCode5 == ""){
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		jQuery("form[name='frm_list'] input[name='vrInCustNm']").val("");
		fn_Popup("CUST");
		return false;
	}
	
	if( vrSrchCustNm != "" ){
		var srchKey = "CLIENT";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&srchSubCod=108" + "&srchSubCode5=" +srchSubCode5 + "&custType=1";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CLIENT;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				strParameter.push('108');
				strParameter.push('');
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
				strParameter.push('1');
				var width  = "800";
				var height = "530";
				var param = "?func=fn_setWMSCM011_2&strParameter=" + strParameter;
				var url = "/TMSCM010.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();				
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrInCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrInCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrInCustId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrInCustAddr"]').val(data[0].ADDR);
				jQuery('form[name="frm_list"] input[name="vrInCustEmpNm"]').val(data[0].EMPNM);
				jQuery('form[name="frm_list"] input[name="vrInCustTel"]').val(data[0].TEL);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrInCustCd']").val("");
				jQuery("form[name='frm_list'] input[name='vrInCustNm']").val("").focus();
				jQuery('form[name="frm_list"] input[name="vrInCustId"]').val("");
				jQuery('form[name="frm_list"] input[name="vrInCustAddr"]').val('');
				jQuery('form[name="frm_list"] input[name="vrInCustEmpNm"]').val('');
				jQuery('form[name="frm_list"] input[name="vrInCustTel"]').val('');
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("form[name='frm_list'] input[name='vrInCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrInCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrInCustId"]').val("");
		jQuery('form[name="frm_list"] input[name="vrInCustAddr"]').val('');
		jQuery('form[name="frm_list"] input[name="vrInCustEmpNm"]').val('');
		jQuery('form[name="frm_list"] input[name="vrInCustTel"]').val('');
	}
}

/* 창고명 입력 */
function vrSrchWhCd_OnKillFocus(){
	var vrSrchWhCd = jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val();
	if( vrSrchWhCd != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd="+vrSrchWhCd;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				strParameter.push('');
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val("");
	}
}

/* 창고명 입력 */
function vrSrchWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val("");
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val("");
	}
}

//--------------------------------------------------------------------------------팝--업--------------------------------------------------------------------------------------//
/*
	1.입고주문
	팝업 호출		:	fn_Popup()
	화주팝업후		:	fn_setWMSCM011()
	창고팝업후		:	fn_setWMSMS040()
	입고처팝업후	:	fn_setWMSCM011_2()
	아이템팝업후	:	fn_setWMSCM092()
	grid내 UOM 자동완성  : gridSrchUomCd_OnKillFocusE3()
	UOM 팝업후 처리   :   fn_setWMSCM100E3()
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

function fn_Popup(type, id){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "530";
	var custCd_Text = "$!lang.getText('화주정보')";
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011&custType=13";
			url = "/WMSCM011.action" + param;
			break;
		case 'WH':		//검색 창고
			param = "?func=fn_setWMSMS040";
			url = "/WMSMS040/pop.action" + param;
			break;
		case 'INCUST' : // 입고처 (화주조회)
			if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val()){
				alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
				fn_Popup('CUST');
				return false;
			}else{
				strParameter.push('');
				strParameter.push('');
				strParameter.push('108');
				strParameter.push('');
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
				strParameter.push('1');
				param = "?func=fn_setWMSCM011_2&strParameter=" + strParameter;
				url = "/TMSCM010.action" + param;
				
				break;	
			}
		case 'POOL'	: //물류용기 아이템			
			if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val()){
				alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
				fn_Popup('CUST');
				return false;
			}else{
				jQuery("input[name='GRID_ID']").val(id);
				fn_gridSelect(id);
				strParameter.push('');
				strParameter.push('');
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
				param = '?func=fn_setWMSCM162&strParameter='+strParameter;
				url = "/WMSCM162.action" + param;
				break;
			}
			
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	fn_initPro();
	
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 입고처 팝업 후 처리 */
function fn_setWMSCM011_2(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrInCustCd"]').val(info.code);
	jQuery('form[name="frm_list"] input[name="vrInCustNm"]').val(info.name);
	jQuery('form[name="frm_list"] input[name="vrInCustId"]').val(info.id);
	
	jQuery('form[name="frm_list"] input[name="vrInCustAddr"]').val(info.addr);
	jQuery('form[name="frm_list"] input[name="vrInCustEmpNm"]').val(info.emp_nm);
	jQuery('form[name="frm_list"] input[name="vrInCustTel"]').val(info.tel);
}

/* 창고코드 팝업 후 처리 */
function fn_setWMSMS040(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(info.wh_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(info.wh_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchWhId"]').val(info.wh_id);
}

/* 멀티 물류용기 팝업 후 처리 */
function fn_setWMSCM162(arr){
	var grid = jQuery("#list1");
	var len  = grid.jqGrid('getRowData').length;
	var id	 = jQuery("input[name='GRID_ID']").val();
	for(var i = 0 ; i < arr.size() ; i++){
		if(i != 0){
			id = len + i;
			listGrid.addRow();
		}
		jQuery("#"+ id + "_ITEM_CODE", "#list1").val(arr[i].pool_code);
		
		grid.setCell(id, 'RITEM_ID'		, arr[i].ritem_id);
		grid.setCell(id, 'RITEM_NM'		, arr[i].pool_nm);
		grid.setCell(id, 'UNIT_AMT'		, arr[i].unit_price);
		grid.setCell(id, 'IN_ORD_UOM_ID', arr[i].uom_id);
		grid.setCell(id, 'IN_WORK_UOM_CD', arr[i].work_uom_id);
		grid.setCell(id, 'IN_WORK_UOM_ID', arr[i].work_uom_id);
		grid.setCell(id, 'ITEM_GRP_ID', arr[i].uom_id);
	}
}

//grid내에서  UOM 자동완성
function gridSrchUomCd_OnKillFocusE3(id){
	var grid = jQuery("#list1");
	var vrSrchUomCd = jQuery("#"+ id + "_IN_ORD_UOM_CD","#list1").val()
	if( vrSrchUomCd != "" ){
		var srchKey = "UOM";
		var param   = "srchKey=" + srchKey + "&vrSrchUomCd=" + vrSrchUomCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.UOM;
			var cnt  = data.size();
			if( cnt > 1 ){
				jQuery("input[name='GRID_ID_E3']").val(id);
				var strParameter = [];
				var width  = "800";
				var height = "530";
				param = '?func=fn_setWMSCM100E3&strParameter='+strParameter;
				url = "/WMSCM100.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery("#"+ id + "_IN_ORD_UOM_CD", "#list1").val(data[0].CODE);
				grid.setCell(id, 'IN_ORD_UOM_ID', data[0].ID);
				grid.setCell(id, 'IN_ORD_UOM_NM', data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("#"+ id + "_IN_ORD_UOM_CD", "#list1").val("").focus();
				grid.setCell(id, 'IN_ORD_UOM_ID', ' ');
				grid.setCell(id, 'IN_ORD_UOM_NM', ' ');
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("#"+ id + "_IN_ORD_UOM_CD", "#list1").val("");
		grid.setCell(id, 'IN_ORD_UOM_ID', ' ');
		grid.setCell(id, 'IN_ORD_UOM_NM', ' ');
	}
}

/* UOM 팝업후 처리 */
function fn_setWMSCM100E3(arr){
	var grid = jQuery("#list1");
	var id	 = jQuery("input[name='GRID_ID_E3']").val();
	var info = arr[0];	
	
	// jQuery("#"+ id + "_IN_ORD_UOM_CD", "#list1").val(info.uom_cd);
	
	grid.setCell(id, 'IN_WORK_UOM_CD', info.uom_cd);	
	grid.setCell(id, 'IN_WORK_UOM_ID', info.uom_id);
	grid.setCell(id, 'IN_WORK_UOM_NM', info.uom_nm);
}

//--------------------------------------------------------------------------------입고주문-------------------------------------------------------------------------------------//
/*
	입고주문조회	:	fn_search				:	처리		[단순조회]
	입고주문초기화	:	fn_init					:	처리		[화면초기화]
	입고주문저장	:	fn_save					:	처리		[저장]
	입고주문신규	:	fn_addRow				:	처리		[그리드행추가]
	입고주문삭제	:	fn_delete				:	처리		[그리드행삭제or삭제셋팅]
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//


/* 검색 */
function fn_search(op, op1){
	fn_searchDetail();
	//검색조건값을 파라미터로 보낸다.
	var param = "vrOrdId="+jQuery("form[name='frm_list'] input[name='vrOrdId']").val();
	var url = "/WMSOP999/listOrderItem.action?"+param;
	listGrid.search(param, url, op, op1);
}

/* 초기화 버튼클릭 */
function fn_init()
{
	if(!confirm("$!lang.getText('data.init')")){
		return;
	}
	fn_initPro();
}

/* 초기화 처리 (화주재선택시, 초기화누를시) */
function fn_initPro(){
	var grid = jQuery("#list1");
	grid.clearGridData();
// 	grid.jqGrid('setColProp', 'VALID_DT', {editable:false});
	jQuery("form[name='frm_list_E3'] input[type='text'], form[name='frm_list_E3'] input[type='hidden']").val('');
	fn_pageInit();
}

/* 신규 */
function fn_addRow(){
	var custCd_Text = "$!lang.getText('화주정보')";
	
	if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val()){
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		fn_Popup('CUST');
		return false;
	}
	
	listGrid.addRow();
    var grid = jQuery("#list1");
	var countRow = grid.getDataIDs().size();
	fn_gridDateSet(countRow);
}

/* 입고 주문 유효성검사 */
function fn_listValidation(){	
	var vrSrchCustCd 	 = jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val();
	var vrSrchOrderPhase = jQuery("form[name='frm_list'] select[name='vrSrchOrderPhase']").val();
	var vrInCustCd 		 = jQuery("form[name='frm_list'] input[name='vrInCustCd']").val();
	// 1. 화주정보는 null 이아니여야한다
	if("" == vrSrchCustCd){
		var custCd_Text = "$!lang.getText('화주정보')";
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		fn_Popup("CUST");
		return false;
	}
	
	// 2. 입고처 필요한 상황이 있을때
	if(vrSrchOrderPhase != "20" && vrInCustCd == ""){
		var inCustCd_Text = "$!lang.getText('입고처')";
		alert("$!message.getMessage('0가없음', '" + inCustCd_Text + "')");
		fn_Popup("INCUST")
		return false;
	}
	
	// 3. 입고예정일은 날짜타입이고, null이아니여야한다
	var validator = new Validator("frm_list");
	validator.addItem("calInDt"		,"Y:Date:Y:$!lang.getText('입고예정일'):"); 	
	if(!validator.validateForm("frm_list")){
		return false;
	}	
	
	// 4. 그리드 유효성검사
	var grid 		= jQuery("#list1");
	var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b}); 

	var ord_qty_text  = "$!lang.getText('주문수량')";
	var item_cd_text  = '$!lang.getText("$LANG_GB_TXET_POOL코드")';
	
	var tmpText = ['$!lang.getText("$LANG_GB_TXET_POOL코드")', "$!lang.getText('주문수량')"];
	var tmpId 	= ["ITEM_CODE", "IN_WORK_ORD_QTY"];
	var tmpVal;
	for(var i = 0 ; i < selectIds.length ; i++){
		var item_cd  = jQuery("#" + selectIds[i] + "_ITEM_CODE"		,"#list1").val();
		var ord_qty  = jQuery("#" + selectIds[i] + "_IN_WORK_ORD_QTY"	,"#list1").val();
		tmpVal = [item_cd, ord_qty];
		for(var j = 0 ; j < tmpVal.length ; j++){
			if(jQuery.trim(tmpVal[j]) == ""){
				alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
				jQuery("#"+selectIds[i] + "_" + tmpId[j]  ,"#list1").focus();
				return false;
			}
		}
		
		/* 0이상체크 */
		if(!(Number(ord_qty) > 0)){	
			alert("$!message.getMessage('0번째행의1이2보다작아', '" + selectIds[i] + "','" + ord_qty_text + "', '0')");
			jQuery("#"+selectIds[i] + "_IN_WORK_ORD_QTY"  ,"#list1").focus();
			return false;
		}
	}
	
	return true;
}

/* 저장처리 */
function fn_save(){
	var vrSrchCustCd 	 = jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val();
	var vrSrchOrderPhase = jQuery("form[name='frm_list'] select[name='vrSrchOrderPhase']").val();
	var vrInCustCd 		 = jQuery("form[name='frm_list'] input[name='vrInCustCd']").val();
	
// 	if("" == vrSrchCustCd){
// 		var custCd_Text = "$!lang.getText('화주정보')";
// 		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
// 		fn_Popup("CUST");
// 		return false;
// 	}
	
// 	if(vrSrchOrderPhase != "20" && vrInCustCd == ""){
// 		var inCustCd_Text = "$!lang.getText('입고처')";
// 		alert("$!message.getMessage('0가없음', '" + inCustCd_Text + "')");
// 		fn_Popup("INCUST")
// 		return false;
// 	}


	
	var grid = jQuery("#list1");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var ids = grid.getDataIDs();
	var isProcess = false;
	var totCnt = 0 ;	//선택된거 총갯수
	var delCnt = 0 ;	//삭제될거 갯수
	var insCnt = 0 ;	//등록수정될거 갯수
	
	if(ids == ""){
		alert("$!lang.getText('save.nodata.')");
		return;
	}
	
	if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");	
		return false;
	}
	
	if(!fn_listValidation()){return;}
	
	if(confirm("$!lang.getText('update.confirm')")){
		//DELETE					PK_WMSOP020.SP_DELETE_ORDER
		//INSERT,UPDATE 분기해야됨		PK_WMSOP020.SP_INSERT_ORDER
		jQuery("#formData").html("");
		//삭제될 데이터 카운팅해서 저장할공간 append
        if( jQuery("form[name='frm_list'] input[name='D_selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='D_selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
     	   delCnt = parseInt(jQuery("form[name='frm_list'] input[name='D_selectIds']").val());
        }
        
		//등록이나 수정될 데이터 카운팅해서 저장할공간 append
        if( jQuery("form[name='frm_list'] input[name='I_selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='I_selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
     	   insCnt = parseInt(jQuery("form[name='frm_list'] input[name='I_selectIds']").val());
        }
			
        for(var i = 0 ; i < selectIds.length ; i++){
			if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
				jQuery("#formData").append("<input type='text' name='D_ST_GUBUN"+delCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
				isProcess = true;
			}else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
				jQuery("#formData").append("<input type='text' name='I_ST_GUBUN"+insCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
				isProcess = true;
			}else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
				jQuery("#formData").append("<input type='text' name='I_ST_GUBUN"+insCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
				isProcess = true;
			}
			
			if(isProcess){
				if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
					jQuery("#formData").append("<input type='text' name='D_ORD_ID"+delCnt+"'  value='"+grid.getCell(selectIds[i], "ORD_ID")+"'/>");
					jQuery("#formData").append("<input type='text' name='D_ORD_SEQ"+delCnt+"'  value='"+grid.getCell(selectIds[i], "ORD_SEQ")+"'/><br>");
					delCnt ++;
       			}else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) || "INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
       				jQuery("#formData").append("<input type='text' name='I_ORD_SEQ"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "ORD_SEQ"))		+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_RITEM_ID"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "RITEM_ID"))		+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_CUST_LOT_NO"		+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_CUST_LOT_NO","#list1").val())	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_REAL_IN_QTY"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "REAL_IN_QTY"))	+"'/>");
             		
             		jQuery("#formData").append("<input type='text' name='I_REAL_OUT_QTY"	+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "REAL_OUT_QTY"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_MAKE_DT"			+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_MAKE_DT","#list1").val()).replace(/-/g, "")	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_TIME_PERIOD_DAY"	+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "TIME_PERIOD_DAY")).replace(/-/g, "")	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_LOC_YN"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "LOC_YN"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_PDA_CD"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "PDA_CD"))	+"'/>");
             		
             		jQuery("#formData").append("<input type='text' name='I_WORK_YN"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "WORK_YN"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_RJ_TYPE"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "RJ_TYPE"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_REAL_PLT_QTY"	+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "REAL_PLT_QTY"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_REAL_BOX_QTY"	+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "REAL_BOX_QTY"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_CONF_YN"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "CONF_YN"))	+"'/>");

             		jQuery("#formData").append("<input type='text' name='I_UNIT_AMT"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "UNIT_AMT"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_AMT"				+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "AMT"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_EA_CAPA"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "EA_CAPA"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_BOX_BARCODE"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "BOX_BARCODE"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_IN_ORD_UOM_ID"	+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "IN_ORD_UOM_ID"))	+"'/>");
//              		jQuery("#formData").append("<input type='text' name='I_IN_ORD_UOM_ID"	+insCnt+"'  value='0000010257'/>");
             		 
             		
             		jQuery("#formData").append("<input type='text' name='I_OUT_ORD_UOM_ID"	+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "OUT_ORD_UOM_ID"))	+"'/>");
             		//jQuery("#formData").append("<input type='text' name='I_IN_ORD_QTY"		+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_IN_ORD_QTY","#list1").val())	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_IN_WORK_ORD_QTY"	+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_IN_WORK_ORD_QTY","#list1").val())	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_OUT_ORD_QTY"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "OUT_ORD_QTY"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_REF_SUB_LOT_ID"	+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "REF_SUB_LOT_ID"))	+"'/>");//refSubLotId
             		jQuery("#formData").append("<input type='text' name='I_DSP_ID"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "DSP_ID"))	+"'/>");
             
             		jQuery("#formData").append("<input type='text' name='I_CAR_ID"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "CAR_ID"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_CNTR_ID"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "CNTR_ID"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_CNTR_NO"			+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_CNTR_NO","#list1").val())	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_CNTR_TYPE"		+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_CNTR_TYPE","#list1").val())	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_BAD_QTY"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "BAD_QTY"))	+"'/>");		//?
             
             		jQuery("#formData").append("<input type='text' name='I_UOM_NM"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "UOM_NM"))	+"'/>");			//?
             		jQuery("#formData").append("<input type='text' name='I_UNIT_PRICE"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "UNIT_PRICE"))	+"'/>");		//?
             		jQuery("#formData").append("<input type='text' name='I_WH_NM"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "WH_NM"))	+"'/>");			//?
             		jQuery("#formData").append("<input type='text' name='I_ITEM_KOR_NM"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "ITEM_KOR_NM"))	+"'/>");	//?
             		jQuery("#formData").append("<input type='text' name='I_ITEM_ENG_NM"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "ITEM_ENG_NM"))	+"'/>");	//?
                     		
             		jQuery("#formData").append("<input type='text' name='I_REP_UOM_ID"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "REP_UOM_ID"))	+"'/>");		//?
             		jQuery("#formData").append("<input type='text' name='I_UOM_CD"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "UOM_CD"))	+"'/>");			//?
             		jQuery("#formData").append("<input type='text' name='I_UOM_ID"			+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "UOM_ID"))	+"'/>");			//?
             		jQuery("#formData").append("<input type='text' name='I_REP_UOM_CD"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "REP_UOM_CD"))	+"'/>");		//?
             		jQuery("#formData").append("<input type='text' name='I_REP_UOM_NM"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "REP_UOM_NM"))	+"'/>");		//?
             		
             		//jQuery("#formData").append("<input type='text' name='I_ITEM_GRP_ID"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "ITEM_GRP_ID "))	+"'/>");	//?
             		jQuery("#formData").append("<input type='text' name='I_ITEM_GRP_ID"	+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ITEM_GRP_ID","#list1").val())	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_EXPIRY_DATE"		+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "EXPIRY_DATE"))	+"'/>");	//?
             		jQuery("#formData").append("<input type='text' name='I_IN_ORD_WEIGHT"	+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_IN_ORD_WEIGHT","#list1").val())	+"'/>");

             		jQuery("#formData").append("<input type='text' name='I_ORD_DESC"		+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ORD_DESC","#list1").val())	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_VALID_DT"		+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_VALID_DT","#list1").val()).replace(/-/g, "")	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_ETC2"			+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ETC2","#list1").val())	+"'/><Br>");
             		
             		//추가된부분
             		jQuery("#formData").append("<input type='text' name='I_ITEM_BEST_DATE"		+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ITEM_BEST_DATE","#list1").val())	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_ITEM_BEST_DATE_END"	+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ITEM_BEST_DATE_END","#list1").val()).replace(/-/g, "")	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_ITEM_USE_DATE_END"	+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_ITEM_USE_DATE_END","#list1").val()).replace(/-/g, "")	+"'/>");	
             		jQuery("#formData").append("<input type='text' name='I_RTI_NM"				+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_RTI_NM","#list1").val())	+"'/>");
             		
             		jQuery("#formData").append("<input type='text' name='I_IN_WORK_UOM_ID"	+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "IN_WORK_UOM_ID"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_OUT_WORK_UOM_ID"	+insCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "OUT_WORK_UOM_ID"))	+"'/>");
             		jQuery("#formData").append("<input type='text' name='I_OUT_WORK_ORD_QTY"	+insCnt+"'  value='"+cfn_trim(jQuery("#"+selectIds[i] + "_OUT_WORK_ORD_QTY","#list1").val())	+"'/>");
             		
             		insCnt ++;
       			}
           	}
       	}		
		jQuery("form[name='frm_list'] input[name='D_selectIds']").val( delCnt );
   		jQuery("form[name='frm_list'] input[name='I_selectIds']").val( insCnt );
   		
		var param 	= jQuery("form[name='frm_list']").serialize();
		var url 	= "/WMSOP999/saveInOrder.action";
		jQuery.post(url, param, function(data){
			alert(data.MSG);
			var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
			var  page = jQuery("#list1").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
			if(data.errCnt <= 0 ){
				var arg_func = jQuery("input[name='func']").val();
          		var opnr_func = eval("opener." + arg_func);
          		opnr_func();
          		self.close(); 
			}
     	}).fail(function(xhr, textStatus){
 			if(xhr.status == 404){	
 				location.href=('/index.html');
 			}
 		});
    }
}

/* 삭제 */
function fn_delete(){
	listGrid.deleteRow();
}

</script>

</head>
<body>
<div class="popupWrap">
	<input type="hidden" name="GRID_ID" id="GRID_ID"/>
	<div class="popupHeader">
	    <div class="btnArea marB10">
            <div class="btnAreaLeft">
              	 $!lang.getText("$LANG_GB_TXET_POOL입고주문")
            </div>     
        </div>
		<form name="frm_list">
			<input type="hidden" name="func" id="func" value="$!request.getParameter('func')"/>
			<table class="search" id="srchBox">
	            <colgroup>
	                <col width="20%"/>
	                <col width="30%"/>
	                <col width="20%"/>
	                <col width="30%"/>
	            </colgroup>		
	            <tbody>
					<tr>
						<th><img src="../../../img/exam//ico_004.gif" class="imgclass"/> $!lang.getText('화주')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onchange="vrSrchCustCd_OnKillFocus()"/> 
							<img src="/img/exam/btn/ico_search.gif" 	name = "btnSrchCustPop" 	onclick='fn_Popup("CUST");' class="imgSearch"/> 
							<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onchange="vrSrchCustNm_OnKillFocus()"/> 
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"/>
						</td>
						<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass"/> $!lang.getText('입고일자')</th>
						<td>
							<input type="text" class = "text" style="width:40%" name="calInDt" id="calInDt" maxlength="10" onkeydown="cfn_setDateFld(calInDt)"/> 
						</td>
					</tr>
					
					<tr>
						<th>$!lang.getText('BL번호')</th>
						<td>
							<input type="text" class = "text" name = "vrBlNo" id = "vrBlNo"/>
						</td>
						<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass"/> $!lang.getText('주문구분')</th>
						<td>
							$!comCode.getComboComCode("WORK01", "vrSrchOrderPhase", "", false, "", "", "","class='selectbox'")
						</td>
					</tr>
					
					<tr>
						<th>$!lang.getText('입고처')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrInCustCd" id="vrInCustCd" onchange="vrInCustCd_OnKillFocus()"/> 
							<img src="/img/exam/btn/ico_search.gif" 	onclick='fn_Popup("INCUST");' class="imgSearch"/> 
							<input type="text" class = "text" style="width: 40%" name="vrInCustNm" id="vrInCustNm" onchange="vrInCustNm_OnKillFocus()"/> 
							<input type="hidden" name="vrInCustId" id="vrInCustId"/>
						</td>
						<th class="thBar">$!lang.getText('입고창고')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrSrchWhCd" id="vrSrchWhCd" onchange="vrSrchWhCd_OnKillFocus()"/> 				
							<img src="/img/exam/btn/ico_search.gif" 	onclick='fn_Popup("WH");' class="imgSearch"/> 
							<input type="text" class = "text" style="width: 40%" name="vrSrchWhNm" id="vrSrchWhNm" onchange="vrSrchWhNm_OnKillFocus()"/> 
							<input type="hidden" name="vrSrchWhId" id="vrSrchWhId"/>
						</td>
					</tr>
					
					<tr>
						<th>$!lang.getText('입고처주소')</th>
						<td colspan="3">
							<input type="text" class = "text"	name = "vrInCustAddr" id = "vrInCustAddr"/>
						</td>
					</tr>
					
					<tr>
						<th>$!lang.getText('입고처담당자')</th>
						<td>
							<input type="text" class = "text"	name = "vrInCustEmpNm"	id = "vrInCustEmpNm"/>
						</td>
						<th class="thBar">$!lang.getText('전화번호')</th>
						<td>
							<input type="text" class = "text"	name = "vrInCustTel"	id = "vrInCustTel"/>
						</td>
					</tr>	            
	            
	            </tbody>	
			</table>
			
			<input type='hidden' name='vrOrdId'			id='vrOrdId' 	/>
			<input type='hidden' name='vrApproveYn' 	id='vrApproveYn'/>
			
			<input type = "hidden" name= "dsMain_rowStatus" id="dsMain_rowStatus" value = "INSERT"/>
			
			<input type ="hidden"	name= "inDt" 		id ="inDt"/>
			<input type ="hidden"	name= "custPoid" 	id ="custPoid"/>
			<input type ="hidden"	name= "custPoseq" 	id ="custPoseq"/>
			<input type ="hidden"	name= "orgOrdId" 	id ="orgOrdId"/>
			<input type ="hidden"	name= "orgOrdSeq" 	id ="orgOrdSeq"/>
			
			<input type ="hidden"	name= "outWhId" 	id ="outWhId"/>
			<input type ="hidden"	name= "transCustId" id ="transCustId"/>
			<input type ="hidden"	name= "pdaFinishYn" id ="pdaFinishYn"/>
			<input type ="hidden"	name= "workStat" 	id ="workStat"/>
			<input type ="hidden"	name= "ordType"	 	id ="ordType"/>
			
			<input type ="hidden"	name= "outReqDt" 	id ="outReqDt"/>
			<input type ="hidden"	name= "outDt" 		id ="outDt"/>
			<input type ="hidden"	name= "pdaStat" 	id ="pdaStat"/>
			<input type ="hidden"	name= "workSeq" 	id ="workSeq"/>
			<input type ="hidden"	name= "capaTot" 	id ="capaTot"/>
			
			<input type ="hidden"	name= "kinOutYn" 	id ="kinOutYn"/>
			<input type ="hidden"	name= "carConfYn" 	id ="carConfYn"/>
			<input type ="hidden"	name= "tplOrdId" 	id ="tplOrdId"/>
			<input type ="hidden"	name= "payYn" 		id ="payYn"/>
			
			<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		</form>
	</div>
    <div class="popupContent">	
        <div class="btnArea">
        	<div class="btnAreaRight">
				<input type = "button"  class = "btnEtc" 										name = "btnWmspl" 	value = '$!lang.getText("$LANG_GB_TXET_POOL목록")'	onclick = "fn_wmspl()"		role="button" aria-disabled="false"/>
				<input type = "button"  class = "btnEtc" 										name = "btnInit" 	value = "$!lang.getText('초기화')"		onclick = "fn_init()"		role="button" aria-disabled="false"/>
				<input type = "button" 	class = "INS_AUTH UPD_AUTH btnSave"		name = "btnSave"	value = "$!lang.getText('저장')"			onclick = "fn_save();"		role="button" aria-disabled="false"/>		
				<input type = "button"  class = "INS_AUTH btnEtc" 						name = "btnNew" 	value = "$!lang.getText('신규')"			onclick = "fn_addRow()"		role="button" aria-disabled="false"/>
				<input type = "button" 	class = "DEL_AUTH btnDelete"						name = "btnRowDel"	value = "$!lang.getText('삭제')"			onclick = "fn_delete();"	role="button" aria-disabled="false"/>       
			</div>
        </div>   
    
		<div class="list_box">
			<table id="list1"></table>
			<div id="pjmap1"></div>
		</div>
    </div>
</div>
</body>