<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("미발급송장처리")</title>


<link type="text/css" media="screen" rel="stylesheet" href="/css/menu.css?ver=20200625" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css?ver=20200630" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css?ver=20200630" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link rel="stylesheet" href="/css/jprwms.css?ver=20200724" type="text/css" />

<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/SpreadJS12/jQuery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

#set($ss_user_no = $!session.getAttribute("SS_USER_NO"))
#set($ss_svc_no  = $!session.getAttribute("SS_SVC_NO"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>
<script type="text/javascript">

/* 화면크기 변경시 그리드 크기 변경 */
jQuery(window).resize(function() {
	//resizeGrid(null);
});


var vrSrchReqDtFrom;
var vrSrchReqDtTo;
var orgOrdId;
var shippingCompany;

var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function() {

	/* 파라미터 처리 */
	var arrParameter	= "$!request.getParameter('strParameter')".split(',');
	
	vrSrchCustCd_OnStart();
	
	lcId = "$ss_svc_no";
	vrSrchReqDtFrom = (arrParameter[0] == undefined) ? "" : arrParameter[0];
	vrSrchReqDtTo = (arrParameter[1] == undefined) ? "" : arrParameter[1];
	orgOrdId = (arrParameter[2] == undefined) ? "" : arrParameter[2];
	shippingCompany = (arrParameter[3] == undefined) ? "" : arrParameter[3];
	
	/* Tabs */
	jQuery("#tab1").tabs({show: function(event, ui) {resizeGrid();}});

	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);	
	
	/* datepicker (완)*/
	//한국어 일본어만 현재 지원됨 
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	jQuery("input[name='vrSrchReqDtFrom']").val(vrSrchReqDtFrom);	
	jQuery("input[name='vrSrchReqDtTo']").val(vrSrchReqDtTo);	
	
	
	/* 출고주문 시작 */
	var colNameArray = [
	                     'FLAG'
	                    ,'CHK_BOX'
	                    ,'ST_GUBUN'
	                    ,"$!lang.getText('원주문번호')"		
						,"$!lang.getText('주문번호')"
						,"$!lang.getText('배송사')"
	                    ,"$!lang.getText('출고예정일')"		
	                    ,"$!lang.getText(' ')"
						,"$!lang.getText('국가코드')"
						,"$!lang.getText('도시')"
						,"$!lang.getText('주')"
						,"$!lang.getText('주소1')"
						,"$!lang.getText('주소2')"
						,"$!lang.getText('수취인')"
						,"$!lang.getText('전화번호')"
						,"$!lang.getText('우편번호')"
						,"$!lang.getText('국가코드')"
						,"$!lang.getText('도시')"
						,"$!lang.getText('주소1')"
						,"$!lang.getText('주소2')"
						,"$!lang.getText('발송자')"
						,"$!lang.getText('전화번호')"
						,"$!lang.getText('우편번호')"
						,"$!lang.getText('년')"
						,"$!lang.getText('월')"
						,"$!lang.getText('일')"
						,"$!lang.getText('박스(폭)')"
						,"$!lang.getText('박스(높이)')"
						,"$!lang.getText('박스(길이)')"
	                    ];
	//name, index 는 쿼리문의 컬럼에 맞췄다.
	//width는 현재 마이플랫폼의 width에 맞췄다.
	var colModelArray = [
						 {name : 'FLAG'				,index : 'FLAG'			,hidden : true}
						,{name : 'CHK_BOX'			,index : 'CHK_BOX'		,hidden : true}
	            		,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'		,hidden : true}
	            		
						,{name : 'ORG_ORD_ID'		,index : 'ORG_ORD_ID'		,width : 150 ,align : "center"	}
						,{name : 'ORD_ID'			,index : 'ORD_ID'			,width : 150 ,align : "center"	}
						,{name : 'SHIPPING_COMPNAY'	,index : 'SHIPPING_COMPNAY'	,width : 100 ,align : "center"	}
						,{name : 'OUT_REQ_DT'		,index : 'OUT_REQ_DT'		,width : 200 ,align : "center"	}
						,{name : ' '				,index : ' '				,width : 150 	,formatter: fn_send_btn, align : "center"}
						,{name : 'D_COUNTRY'		,index : 'D_COUNTRY'		,width : 150 ,align : "left"	}
						,{name : 'D_CITY'			,index : 'D_CITY'			,width : 220 ,align : "left"	}
						,{name : 'D_PROVINCE'		,index : 'D_PROVINCE'		,width : 150 ,align : "left"	}
						,{name : 'D_ADDRESS'		,index : 'D_ADDRESS'		,width : 200 ,align : "left"	}
						,{name : 'D_ADDRESS2'		,index : 'D_ADDRESS2'		,width : 200 ,align : "left"	}
						,{name : 'D_CUST_NM'		,index : 'D_CUST_NM'		,width : 200 ,align : "center"	}
						,{name : 'D_TEL'			,index : 'D_TEL'			,width : 120 ,align : "center"	}
						,{name : 'D_POST'			,index : 'D_POST'			,width : 120 ,align : "center"	}
						,{name : 'J_COUNTRY'		,index : 'J_COUNTRY'		,width : 100 ,align : "left"	}
						,{name : 'J_CITY'			,index : 'J_CITY'			,width : 150 ,align : "left"	}
						,{name : 'J_ADDRESS'		,index : 'J_ADDRESS'		,width : 200 ,align : "left"	}
						,{name : 'J_ADDRESS2'		,index : 'J_ADDRESS2'		,width : 200 ,align : "left"	}
						,{name : 'J_CUST_NM'		,index : 'J_CUST_NM'		,width : 200 ,align : "center"	}
						,{name : 'J_TEL'			,index : 'J_TEL'			,width : 120 ,align : "center"	}
						,{name : 'J_POST'			,index : 'J_POST'			,width : 120 ,align : "center"	}
						,{name : 'TOMMOROW_YEAR'	,index : 'TOMMOROW_YEAR'	,width : 80  ,align : "center"	}
						,{name : 'TOMMOROW_MONTH'	,index : 'TOMMOROW_MONTH'	,width : 80  ,align : "center"	}
						,{name : 'TOMMOROW_DATE'	,index : 'TOMMOROW_DATE'	,width : 80  ,align : "center"	}
						,{name : 'WIDTH'			,index : 'WIDTH'			,width : 80  ,align : "center"	}
						,{name : 'HEIGHT'			,index : 'HEIGHT'			,width : 80  ,align : "center"	}
						,{name : 'LENGTH'			,index : 'LENGTH'			,width : 80  ,align : "center"	}
						];

	var option = {
				   'title'		: "$!lang.getText('배송사 송장 발급')"	 	//title 	지정시 맨윗부분 제목 부분이 한줄생긴다, 지정하지않을경우 제목부분 없어짐
				  ,'height'		: 200								//height 	화면내 그리드가 하나일경우 460을 기본으로 설정, n개일경우 1개당 460/n으로 설정해주자
				  ,'width'		: '98%'							//width 	
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray	
				  ,'pager'		: jQuery('#pjmap1')					//pager		지정하면 맨 하단에 한줄이생긴다 , 이곳에는 페이징처리 부분이랑 총카운팅 갯수가 나온다.
				  ,'autowidth' 	: true								//autowidth ??
				  ,'rowNum'		: 20								//rowNum	처음에 뿌려줄데이터 갯수로 알고있음
			      ,'rowList' : [100,200,300]
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'multiselect': true
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'viewrecords': true	
				  ,'shrinkToFit': false
				  ,'jsonReader'	: {repeatitems : false}
				  ,'footerrow' 	: true
	  			  ,'userDataOnFooter' : true
				 };
	
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			javascript:self.close(); // 팝업창 닫기
		}
	};
	
	//그리드 생성
	
	if(orgOrdId !== ""){
		jQuery("#vrOrgOrdId").val(orgOrdId);
		jQuery("#vrSrchshippingCompany").val(shippingCompany);
		var param = jQuery("form[name='frm_list']").serialize();
		var url = "/WMSOP035/searchUnshippedDHL.action?" + param;
		listGrid.init(jQuery("#list1"), option, url, loadCompleteEventCallback, loadErrorCallback);
	}else{
		var url = "";
		listGrid.init(jQuery("#list1"), option, url, loadCompleteEventCallback, loadErrorCallback);
	}
	
	//셀전체선택
	listGrid.setSelectAllEventCallback(function(id , status){
    });
	
	//그리드 완료시 0이면 빈값처리
	function loadCompleteEventCallback(data){
		console.log(data);
	};
	
	// 그리드 체크박스 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#list1");		
		if(col == 1){
			if( grid.getCell(id, 'WORK_STAT') < 230 ){
		 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
		 			jQuery("#jqg_list1_"+id).attr("checked",false);
		 			grid.setCell(id, 'CHK_BOX', "No");
		 			grid.restoreRow(id);
		 			listGrid.setStatus(id, " ");
		 		}else{
		 			jQuery("#jqg_list1_"+id).attr("checked",true); 
		 			grid.setCell(id, 'CHK_BOX', "Yes"); 
		 			var rowdata = grid.getRowData(id);
		 			grid.editRow(id);
		 			if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
		 				listGrid.setStatus(id, "INSERT");
		 			}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
		 				listGrid.setStatus(id, "UPDATE");
		 			}
		 		}
	 		}
		}else{
		  if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                grid.setCell(id, 'CHK_BOX', 'Yes');
                grid.setSelection(id, false);
            }else{
                grid.setCell(id, 'CHK_BOX', 'NO');
                grid.setSelection(id, true);
//         		fn_locSearchE3(id);
            }	
		}
	});		
	
	
	
});


function vrSrchCustCd_OnStart(){

	var vrSrchCustCd = jQuery('input[name="vrSrchCustCd"]').val();
	
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
	
}


/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

function fn_search(){
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSOP035/searchUnshippedDHL.action?" + param;
	listGrid.search(param, url, null, null);	
}

function fn_send_btn(value, option, row){
	return "<button  onClick='fn_send(" + option.rowId + ")'>전송</button>";
}

function fn_send(row){
	/*
	var grid 		= jQuery("#list1");
	var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var param = "&selectIds=" + selectIds.length;
	
	jQuery("#formData").html("");
	for(var i = 0; i < selectIds.length; i++){
		
		
		param += "&orgOrdId_" + i + "=" + orgOrdId;
		
	}
	*/
	var answer = confirm("정말 전송하시겠습니까?");
	if(!answer){
		return false;
	}
	
	var grid 		= jQuery("#list1");
	var cMethod = "POST";
	var cUrl = "WINUS.OLIVE:OLIVE_RS/SHIPPING_REQUEST_TOTAL";
	var pOrdId = grid.getCell(row, "ORD_ID");
	
	var param = "&cMethod=" + cMethod + "&cUrl=" + cUrl + "&pOrdId=" + pOrdId; 
	
	jQuery.ajax({
		url			: "/crossDomainHttpWsMobile.if",
		data		: param,
		method		: "get",
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			cfn_loadingModalClose1();
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의'))");
		},
		success		: function(data) {
			//alert('성공');
			var jsonData = JSON.parse(data);
			var rst = jsonData.RST.replace(/\\"/g, "");
			var rstJson = JSON.parse(rst);
			
			if(rstJson.IFRESULT == 'S'){
				alert("성공하였습니다.");
			}else{
				alert("실패하였습니다.\r\n" + rstJson.IFMESSAGE);
				
			}
			
			cfn_loadingModalClose1(); 
		}
	});
}
</script>

</head>
<body>

<div id = "tab1" class="tab1_1" >
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("송장발급")</a></li>	
		</ul>
	</div>
    <div id = "tabs-1">

   <!-- 
    <div class="pageBtnGroup">
		<div class="patternWrap">
		    <div class = "btnArea">
		    	<div class="btnAreaRight" id="btnArea_Top">
		    		<input type = "button" value = "$!lang.getText('강제전송')"	onclick = "fn_forcedShipment();"	role="button" aria-disabled="false"/>
		    	</div>
		    </div>	
	    </div>
	</div>
	-->
	
   	<div class="popupWrap">
	<input type="hidden" name="GRID_ID_E3" id="GRID_ID_E3">
	<div class="popupHeader">
		<form name="frm_list">
			<table class="search" id="srchBox">
	            <colgroup>
					<col width = "85px"/>
					<col width = "23%"/>
					<col width = "85px"/>
					<col width = "23%"/>
					<col width = "85px"/>
					<col width = "5%"/>
	            </colgroup>		
	            <tbody>
					<tr>
						<th><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('화주')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
							<img src="/img/exam/btn/ico_search.gif" 	name = "btnSrchCustPop" 	onClick='fn_Popup("CUST");' class="imgSearch"/> 
							<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
							<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
							<input type="hidden" name="vrSrchCustLotUse" id="vrSrchCustLotUse">
							<input type="hidden" name="vrSrchClientNecYn" id="vrSrchClientNecYn">
						</td>
						<th class="thBar"><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('출고예정일')</th>
						<td>
							<input type="text" class = "text" style="width:40%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)"> 
							~
							<input type="text" class = "text" style="width:40%" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)"> 
						</td>
						<th></th>
						<th class="btnSearch" rowspan="2" id="hiddenBtn">
							<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	 role="button" aria-disabled="false"/>	
						</th>
					</tr>
					
					<tr>
						<th>$!lang.getText('원주문번호')</th>
						<td>
							<input type="text" class = "text" name = "vrOrgOrdId" id = "vrOrgOrdId"	maxlength="20"/>
						</td>
						<th>$!lang.getText('배송사구분')</th>
						<td>
							<select id="vrSrchshippingCompany" name="vrSrchshippingCompany">
								<option value="20">DHL</option>
								<option value="10">EMS</option>
							</select>
						</td>
						<th></th>
					</tr>
					
	            </tbody>	
			</table>
			
			<input type='hidden' name='vrOrdId'			id='vrOrdId' 	/>
			<input type='hidden' name='vrWorkStat'		id='vrWorkStat' 	value='100'/>
			<input type='hidden' name='vrOrdType'		id='vrOrdType'		value='02'/>
			
			<input type='hidden' name='vrApproveYn' 	id='vrApproveYn'/>
			
			<input type ="hidden"	name= "inReqDt" 	id ="inReqDt">
			<input type ="hidden"	name= "inDt" 		id ="inDt">
			<input type ="hidden"	name= "custPoid" 	id ="custPoid">
			<input type ="hidden"	name= "custPoseq" 	id ="custPoseq">			
			<input type ="hidden"	name= "orgOrdSeq" 	id ="orgOrdSeq">
			
			<input type ="hidden"	name= "inWhId" 		id ="inWhId">
			<input type ="hidden"	name= "pdaFinishYn" id ="pdaFinishYn">
			<input type ="hidden"	name= "outDt" 		id ="outDt">
			<input type ="hidden"	name= "pdaStat" 	id ="pdaStat">
			<input type ="hidden"	name= "workSeq" 	id ="workSeq">
			
			<input type ="hidden"	name= "capaTot" 	id ="capaTot">
			<input type ="hidden"	name= "carConfYn" 	id ="carConfYn">
			<input type ="hidden"	name= "tplOrdId" 	id ="tplOrdId">
			
			<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		</form>
	</div>
    <div class="popupContent">	
        <div class="btnArea">
        	<div class="btnAreaRight" id="btnArea">
<!--				<input type = "button"  										name = "btnAsnDel" 	value = "$!lang.getText('ASN삭제')"		onClick = ""				role="button" aria-disabled="false"/>	-->
			</div>
        </div>   
    
		<div class="list_box">
			<table id="list1"></table>
			<div id="pjmap1"></div>
		</div>
    </div>
</div>
	</div>
</div>
</body>