<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("label")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

#set($ss_user_no = $!session.getAttribute("SS_USER_NO"))
#set($ss_svc_no  = $!session.getAttribute("SS_SVC_NO"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<style>
	html, body {
    height: 100%;
}
</style>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>
<script type="text/javascript">

/* 화면크기 변경시 그리드 크기 변경 */
var vrSS_SVC_NO		= "";
var vrCUST_ID 		= "";
var vrFROM_DATE 	= "";
var vrTO_DATE 		= "";
var vrORG_ORD_ID 	= "";
var vrORD_PH 		= "";
var vrORD_PD 		= "";
var vrPARCEL_COM_TY = "";
var vrPARCEL_COM_TY_SEQ = "";
var vrPARCEL_ORD_TY = ""; //접수구분
var vrPARCEL_PAY_TY = ""; //운임구분
var vrPARCEL_BOX_TY = ""; //박스구분
var vrPARCEL_ETC_TY = ""; //운송구분
var vrPOI_NO 		= ""; //출력 sysTimeStamp
var vrORDER_TY 		= ""; //송장 출력 순서

jQuery(window).resize(function() {
	resizeGrid(null);
});

jQuery(document).ready(function() {
	/* 파라미터 처리 */

	let pUrl = new URL(window.location.href);
	let params = pUrl.searchParams;
	
	vrSS_SVC_NO			= "$!request.getParameter('SS_SVC_NO')";	//물류센터코드
	vrCUST_ID			= "$!request.getParameter('CUST_ID')";		//화주
	vrFROM_DATE			= "$!request.getParameter('FROM_DATE')";	//FROM
	vrTO_DATE			= "$!request.getParameter('TO_DATE')";		//TO
	vrORG_ORD_ID		= "$!request.getParameter('ORG_ORD_ID')";	//원주문번호
	vrORD_PH			= "$!request.getParameter('ORD_PH')";		//작업구분(H)
	vrORD_PD			= "$!request.getParameter('ORD_PD')";		//작업구분(D)
	vrPARCEL_COM_TY		= "$!request.getParameter('PARCEL_COM_TY')";//택배사코드
	vrPARCEL_COM_TY_SEQ	= "$!request.getParameter('PARCEL_COM_TY_SEQ')";//택배사코드 순번
	vrPARCEL_ORD_TY		= "$!request.getParameter('PARCEL_ORD_TY')";//접수구분
	vrPARCEL_PAY_TY		= "$!request.getParameter('PARCEL_PAY_TY')";//운임구분
	vrPARCEL_BOX_TY		= "$!request.getParameter('PARCEL_BOX_TY')";//박스구분
	vrPARCEL_ETC_TY		= "$!request.getParameter('PARCEL_ETC_TY')";//운송구분
	vrPOI_NO			= "$!request.getParameter('POI_NO')";		//출력 sysTimeStamp
	vrORDER_TY	      	= "$!request.getParameter('ORDER_TY')";		//송장 출력 순서
	
// 	alert(vrCustCd);
	var urlType = "ucps";
	var param 	= "";
	param += "&SS_SVC_NO=" 			+ vrSS_SVC_NO;
	param += "&CUST_ID=" 			+ vrCUST_ID;
	param += "&FROM_DATE=" 			+ vrFROM_DATE;
	param += "&TO_DATE=" 			+ vrTO_DATE;
	param += "&ORG_ORD_ID=" 		+ vrORG_ORD_ID;
	param += "&ORD_PH=" 			+ vrORD_PH;
	param += "&ORD_PD=" 			+ vrORD_PD;
	param += "&PARCEL_COM_TY=" 		+ vrPARCEL_COM_TY;
	param += "&PARCEL_COM_TY_SEQ=" 	+ vrPARCEL_COM_TY_SEQ;
	param += "&PARCEL_ORD_TY=" 		+ vrPARCEL_ORD_TY;
	param += "&PARCEL_PAY_TY=" 		+ vrPARCEL_PAY_TY;
	param += "&PARCEL_BOX_TY=" 		+ vrPARCEL_BOX_TY;
	param += "&PARCEL_ETC_TY=" 		+ vrPARCEL_ETC_TY;
	param += "&POI_NO=" 			+ vrPOI_NO;
	param += "&ORDER_TY=" 			+ vrORDER_TY;

	if(params.has("COM_PAY_CON")) { param += `&COM_PAY_CON=${params.get('COM_PAY_CON')}`; }	

	var userNo    	   = "$ss_user_no";
	var rptProjectName = "WINUS";
	var rptProgramName = "POOLATHOME_WINUSCJ0002";
	var pdfFileName    = "POOLATHOME_WINUSCJ0002B";
	if(vrPARCEL_COM_TY =='04'){//대한통운
	
	}else if(vrPARCEL_COM_TY =='08'){//롯데택배
		rptProgramName += "_LT";
		pdfFileName += "_LT";
	}else if(vrPARCEL_COM_TY =='06'){//로젠택배
		rptProgramName += "_LG";
		pdfFileName += "_LG";
	}
	else if(vrPARCEL_COM_TY =='05'){//한진택배
		rptProgramName += "_HJ";
		pdfFileName += "_HJ";
	}


	var actionUrl = "https://print.logisall.com/ReportLoader/execution.go?projectName="+rptProjectName+"&programName="+rptProgramName+"&pdfFileName="+pdfFileName+"&urlType="+urlType;
	var urlVal    = "http://"+urlType+".logisall.co.kr/OZReport/"+pdfFileName+".asp?ExportPath=D:/Report/"+rptProjectName+"/"+userNo+"/"+param;
	var urlRep    = "/OZ_REPORT/"+userNo+"/"+pdfFileName+".pdf";
	
	//div pdfView 영역 초기화
	document.getElementById("pdfView").innerHTML='';		
	
	jQuery.ajax({url:actionUrl
        		,dataType:"jsonp"
        		,data:{"urlVal":encodeURI(urlVal), "userId":userNo}
        		,type:"POST"
        		,error: function(rslt){
		    	alert("ERROR : " + rslt.data.success);
	    }
        ,success: function(rslt){           	
            if(rslt.data.success == "fail"){
                alert("$!lang.getText('OZ레포트생성오류')");
                return false;
            }
            //report 뷰어 import
            var tax_url = "/OZ_REPORT/"+userNo+"/"+pdfFileName+".pdf?timeTemp="+((new Date()).getTime())+"#zoom=100";
            document.getElementById("pdfView").innerHTML='<object data='+tax_url+' type="application/pdf" style="width:100%;height:100%;"></object>';
            jQuery('#btnREPORT_DOWN').attr('href',''+urlRep+'');
        }
	});
});

</script>

</head>
<body>
	<div id='pdfView' style="height:100%; width:100%;">
	</div>
</body>