<style type="text/css">
  .alertArea {
	    text-align: center;
	    position: relative;
	    margin-top: 45px;
	    background: cornsilk;
	    font-size: small;
	    color: crimson;
	    height: auto;
	    font-weight: 700;
	    line-height: 30px;
	    margin-bottom: -25px;
   }
</style>   

<div class="tabOn" id="E01">
    <div class="pageBtnGroup">
        <div class="patternWrap">
            <div class="btnArea">
                <div class="btnAreaRight" id="btnArea_Top">
                	<input type = "button" id="btnRefreshSearch" class="INS_EXCEL"	value = "$!lang.getText('검색조건초기화')" onclick="fn_initSer();"	role="button" aria-disabled="false"/>	
					<input type = "button" id="btnEditOptions" class="INS_AUTH"	value = "$!lang.getText('설정')" 	role="button" aria-disabled="false"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="patternWrap">
	<form id="frm_list" name="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width = "90px"/>
				<col width = "20%"/>
				<col width = "90px"/>
				<col width = "20%"/>
				<col width = "90px"/>
				<col width = "20%"/>
				<col width = "90px"/>
				<col width = "20%"/>
							
				<col width = "20px"/>
				<col width = "45px"/>
			</colgroup>
			<tr>
				<!-- <th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
				</td> -->
				#if($adminInfo.getCustId() == $ss_user_gb)
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class="readOnly" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" readonly="readonly" value="$ss_cmpy_code"/>
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"/>
						<input type="text" class="readOnly" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" readonly="readonly" value="$ss_cmpy_name" />
					</td>
				#else
					<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
				#end
				<th class="thBar">$!lang.getText('주문유형')</th>
				<td>
					<select name="vrQtioTp" id="vrQtioTp" class="selectbox">
					</select>
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('주문일별차수')</th>
				<td>
					<!--<input type = "text" class = "text" name="vrSrchOrdDegree" id="vrSrchOrdDegree">-->
					<input type = "text" class = "text" style="width:42%" name="vrSrchOrdDegreeDate" id="vrSrchOrdDegreeDate" maxlength="10" onkeydown="cfn_setDateFld(vrSrchOrdDegreeDate)" onChange="fn_onChangeDegreeDate(this)">
					<select id="vrSrchOrdDegree" name="vrSrchOrdDegree" class="selectbox" style="width:49%"  onChange="fn_onChangeDegree(this);" >
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</td>
				<th>$!lang.getText('송장생성여부')</th>
				<td>
					<select id="vrSrchInvcSendYn" name="vrSrchInvcSendYn">
						<option value="">전체</option>
						<option value="N">N</option>
						<option value="Y">Y</option>
					</select>
				</td>
				<td></td>
				<th class="btnSearch" rowspan="5" id="hiddenBtn">
					<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	 role="button" aria-disabled="false"/>	
				</th>
			</tr>
			<tr>
				<th>
					<select id="cmbSrchType" name="cmbSrchType" >
						<option value="100">$!lang.getText('출고예정일')</option>
						<!--<option value="200">$!lang.getText('출고일')</option> -->
					</select>
				</th>
				<td>
					<input type = "text" class = "text" style="width:37%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
					 ~
					<input type = "text" class = "text" style="width:37%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
				</td>
				<th>$!lang.getText('상품')</th>
				<td>
					<input type="text" class = "text" style="width: 45%" name="vrSrchRitemCd" id="vrSrchRitemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
					<input type="text" class = "text" style="width: 43%" name="vrSrchRitemNm" id="vrSrchRitemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
					<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemId"> 
				</td>
				<th><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('작업구분(H)')</th>
				<td>
					$!comCode.getComboComCode("ORD03", "vrSrchOrderPhase", "", false, "", "", "","class='selectbox'")
				</td>
				<th>$!lang.getText('송장출력여부')</th>
				<td>
					<select id="vrSrchInvcPrintYn" name="vrSrchInvcPrintYn">
						<option value="">전체</option>
						<option value="N">N</option>
						<option value="Y">Y</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>$!lang.getText('고객명')</th>
				<td>
					<input type = "text" class = "text" name="vrSrchRcvrNm" id="vrSrchRcvrNm">
				</td>
				<th>$!lang.getText('원주문번호')</th>
				<td>
					<input type = "text" class = "text" name="vrSrchOrgOrdId" id="vrSrchOrgOrdId">
				</td>
				<th><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('작업구분(D)')</th>
				<td>
					$!comCode.getComboComCode("ORD03", "vrSrchOrderPhaseDetail", "", false, "", "", "","class='selectbox'")
				</td>
				<th>$!lang.getText('추가발행여부')</th>
				<td>
					<select id="vrSrchInvcAddYn" name="vrSrchInvcAddYn">
						<option value="">전체</option>
						<option value="Y">Y</option>
						<option value="N">N</option>
					</select>
				</td>
				<th></th>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>$!lang.getText('송장번호')</th>
				<td>
					<input type = "text" class = "text" name="vrSrchInvcNo" id="vrSrchInvcNo">
				</td>
				<th>$!lang.getText('주문번호')</th>
				<td>
					<input type = "text" class = "text" name="vrSrchOrdId" id="vrSrchOrdId">
				</td>
				<th>$!lang.getText('세부주문번호')</th>
				<td>
					<input type = "text" class = "text" name="vrSrchLegacyOrdNo" id="vrSrchLegacyOrdNo">
				</td>
				<th>$!lang.getText('송장접수여부')</th>
				<td>
					<select id="vrSrchReceiveYn" name="vrSrchReceiveYn">
						<option value="">전체</option>
						<option value="Y">Y</option>
						<option value="N">N</option>
					</select>
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th></th>
				<td>
					<input type="checkbox" name="chkInvcAddFlag" id="chkInvcAddFlag"> $!lang.getText("추가접수제외")
					<span style="padding:1%;"></span>
					<input type="checkbox" name="chkInvcRtnFlag" id="chkInvcRtnFlag"> $!lang.getText("반품접수제외")
				</td>
				<th>$!lang.getText('주문수량')</th>
				<td>
					<input type = "text" class = "text" style="width: 80px; text-align:center; margin-right:10px; color:red;font-weight: bold;" name="vrSrchOrdCnt" id="vrSrchOrdCnt" readonly="readonly">
					<span name= "alertAreaAbleInvc" style="visibility: hidden;">
						<span>$!lang.getText('잔여송장수량')</span>
						<input type = "text" class = "text" style="width: 80px; text-align:center; margin-right:10px; color:red;font-weight: bold;" name="vrSrchAbleInvcCnt" id="vrSrchAbleInvcCnt" readonly="readonly">
					</span>
					<!--
					$!lang.getText('작업수량')
					<input type = "text" class = "text" style="width: 80px; text-align:center; margin-right:10px; color:red;font-weight: bold;" name="vrSrchWorkCnt" id="vrSrchWorkCnt" readonly="readonly">
					-->
				</td>
				<!--<th class="chkOptionType102" style="visibility: hidden;">$!lang.getText('로케이션타입')</th>-->
				<th>$!lang.getText('주문설비타입')</th>
				<td>
					<select id="vrSrchOrdDeviceType" name="vrSrchOrdDeviceType" >
						<option value="">전체</option>
						<option value="N">일반주문</option>
						<option value="05">DPS주문</option>
						<option value="06">DAS주문</option>
					</select>	
					<!--$!comCode.getComboComCode("EQ001", "vrSrchOrdWorkType", "", true, "$!lang.getText('전체')", "","","class='selectbox'")-->
				</td>
				<th>$!lang.getText('송장출력')</br>$!lang.getText('택배구분')</th>
				<td>
					$!comCode.getComboComCode("SWEET_DCD", "vrSrchDlvCompCd", "", true, "$!lang.getText('전체')", "", '',"class='selectbox' style='width: 50%'")
					$!lang.getText(' 합포여부')
					<select id="vrSrchMutiPackingYn" name="vrSrchMutiPackingYn" style="width: 30%" onchange="fn_search()">
						<option value="">전체</option>
						<option value="Y">Y : 합포</option>
						<option value="N">N : 단포</option>
					</select>
				</td>
			</tr>
		</table>
		<div id="formCustData" style="display:none"></div>
		<div id="formOption" style="display:none"></div>
		<div id="formSort" style="display:none"></div>
		<div id="formParcelData" style="display:none"></div>
		<div id="formfocusData" style="display:none" >
			<input type="hidden" name="focusRow" id="focusRow" value="">
			<input type="hidden" name="focusCol" id="focusCol" value="">
		</div>
		<div id="formData2" style="display:none"></div>
	</form>
	
	<form name = 'frm_data'>
		<div id="formData" style="display:none"></div>
<!-- 	<div id = "formData" style = "visibility : visible ; width : 100 ; height : 100"></div> -->
	</form>
	
	<div class="btnArea" style="padding:0px 0px 50px 0px; text-align:left;">
	   #if($adminInfo.getCustId() == $ss_user_gb)
	   #else
	    <div class="btnAreaLeft">
	   		<span>
		    	<input type = "button"		name = "btnDlvShipment" 	value = "1) $!lang.getText('택배배송접수')"	style="height:70px;"onClick = "fn_dlvShipment_large('N', 'NORMAL');"	role="button" aria-disabled="false" class='EXC_AUTH btnSave'/>
		    	<input type = "button"		name = "btnDlvAddSave" 		value = "2) $!lang.getText('송장추가접수')"	style="height:70px;"onclick = "fn_dlvShipment_large('Y', 'NORMAL');"	role="button" aria-disabled="false" class='EXC_AUTH btnEtc'/>
		    	<input type = "button"		name = "btnDlvNoSave" 		value = "3) $!lang.getText('택배송장출력')"	style="height:70px;"onclick = "openModal();"					role="button" aria-disabled="false" class='EXC_AUTH btnExcel'/>
	    	</span>
		    	<input type = "button"		name = "btnDlShipDelete" 	value = "4) $!lang.getText('택배송장삭제')"	style="height:70px;"onClick = "fn_dlvShipDelete();"				role="button" aria-disabled="false" class='EXC_AUTH btnSave'/>
		    <span>
		    	<input type = "button"		name = "btnDlvNoPrintPrev" 	value = "1) $!lang.getText('[선]송장출력')"	style="height:70px;"onclick = "fn_dlvInvcNoPrintPrev('N', 'NORMAL');"	role="button" aria-disabled="false" class='EXC_AUTH btnEtc postPreBtn'/>
		    	<input type = "button"		name = "btnDlvShipmentPost" value = "2) $!lang.getText('[후]송장접수')"	style="height:70px;"onClick = "fn_dlvShipmentPost('N', 'NORMAL');"		role="button" aria-disabled="false" class='EXC_AUTH btnExcel postPreBtn'/>
	    	</span>
	    </div>
	    #end
	    #if($ss_svc_no == '0000003200')
		    <div class="btnAreaRight"  style="padding:0px 124px 0px 0px;">
		    	<!--<input type = "button"		name = "btnDlvAddSave" 		value = "4) $!lang.getText('B2C분리송장접수')"	style="height:70px;"onclick = "fn_dlvShipment('N', 'DIV');"	role="button" aria-disabled="false" class='EXC_AUTH btnSave'/>-->
		    	<input type = "button"		name = "btn_write" 			value = "8) $!lang.getText('고객주소수정')"	style="height:70px;"onclick = "fn_modCustInfo();"			role="button" aria-disabled="false" class='EXC_AUTH btnSave'/>
		    	<input type = "button"		name = "btn_write" 			value = "9) $!lang.getText('엑셀')"			style="height:70px;"onclick = "fn_excelDown_KVX();"				role="button" aria-disabled="false" class='EXC_AUTH btnExcel'/>
		    </div>
		    <div class="btnAreaRight">
		    	<input type = "button"		name = "btn_write" 			value = "10) $!lang.getText('DAS자료조회')"			style="height:35px;"onclick = "fn_deviceIfList();"				role="button" aria-disabled="false" class='EXC_AUTH btnEtc'/>
		    	<br>
		    	<input type = "button"		name = "btn_write" 			value = "11) $!lang.getText('DAS자료생성')"			style="height:35px;"onclick = "fn_deviceIfSend();"				role="button" aria-disabled="false" class='EXC_AUTH btnEtc'/>
		    </div>
	    #else
		    <div class="btnAreaRight">
		    	<!--<input type = "button"		name = "btnDlvAddSave" 		value = "4) $!lang.getText('B2C분리송장접수')"	style="height:70px;"onclick = "fn_dlvShipment('N', 'DIV');"	role="button" aria-disabled="false" class='EXC_AUTH btnSave'/>-->
		    	<input type = "button"		name = "btn_write" 			value = "9) $!lang.getText('엑셀')"			style="height:70px;"onclick = "fn_excelDown();"				role="button" aria-disabled="false" class='EXC_AUTH btnExcel'/>
		    </div>
	    #end
	</div>
	<div class="alertArea" name= "alertAreaAbleInvc" style="display: none;" >
	   ※ [공지]&nbsp;&nbsp; 상단 '잔여 송장수량'을 확인하시기 바랍니다.&nbsp;&nbsp; 송장수량 소진 최소 1주일 전, 관할 지점(대리점)에 연락하시어 신규 송장 대역을 할당 받으시기 바랍니다. 할당 받으신 후, 위너스 관리자에게 신규 대역 설정을 요청해주시기 바랍니다. 
	</div>
	
	
	<form name = 'frm_dlv_1' style="margin-bottom:-5px; padding-top:40px;">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "100px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "20%"/>
			</colgroup>
			<tr>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('택배구분')</th>
				<td>
					$!comCode.getComboComCode("SWEET_DCD", "PARCEL_COM_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('보내는이')</th>
				<td>
					<select id="PARCEL_COM_TY_SEQ" name="PARCEL_COM_TY_SEQ">
					</select>
				</td>
				<td colspan='7'>
					<input type = "text" class = "readOnly" name="dlvSenderInfoInput" id="dlvSenderInfoInput" readonly="readonly">
				</td>
			</tr>
			<tr id='PARCEL_COM_CD_04' style="display:none;" >
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('접수구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_ORD", "PARCEL_ORD_TY", "", true, "$!lang.getText('선택')", "onChange","fn_chngOrdTyEvnt(this.value);","class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('운임구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_PAY", "PARCEL_PAY_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('박스구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_BOX", "PARCEL_BOX_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('운송구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_ETC", "PARCEL_ETC_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr id='PARCEL_COM_CD_06'  style="display:none;" >
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('접수구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_ORD", "PARCEL_ORD_TY", "", true, "$!lang.getText('선택')", "onChange","fn_chngOrdTyEvnt(this.value);","class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('운임구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_PAY2", "PARCEL_PAY_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('박스구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_BOX_LG", "PARCEL_BOX_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar parcelPayPrice">$!lang.getText('할증료')</th>
				<td>
					<input type="text" class="text parcelPayPrice" name="PARCEL_PAY_PRICE" id="PARCEL_PAY_PRICE" value="0" style="width:50%;" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" onkeyup="fn_inputNumberFormat(this);"/>
				</td>
			</tr>
			<tr id='PARCEL_COM_CD_08'  style="display:none;" >
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('접수구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_ORD", "PARCEL_ORD_TY", "", true, "$!lang.getText('선택')", "onChange","fn_chngOrdTyEvnt(this.value);","class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('운임구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_PAY", "PARCEL_PAY_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<!--<th class="thBar parcelPayPrice">$!lang.getText('착불기본운임비(계약단가)')</th>
				<td>
					<input type="text" class="text parcelPayPrice" name="PARCEL_PAY_PRICE" id="PARCEL_PAY_PRICE" value="2500" style="width:50%;" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" onkeyup="fn_inputNumberFormat(this);"/>
				</td>-->
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('박스구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_BOX_L", "PARCEL_BOX_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('오더구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_ORD_2", "PARCEL_ETC_TY", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
			</tr>
			<!-- 한진택배(05) -->
			<tr id='PARCEL_COM_CD_05'  style="display:none;" >
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('접수구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_ORD", "PARCEL_ORD_TY", "", true, "$!lang.getText('선택')", "onChange","fn_chngOrdTyEvnt(this.value);","class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('배송구분')</th>
				<td>
					$!comCode.getComboComCode("CAR04_HJ", "COM_DLV_DIV", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('지불조건')</th>
				<td>
					$!comCode.getComboComCode("HANJIN_PAY", "COM_PAY_CON", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
				<th class="thBar"><img src="../../../img/exam/ico_004.gif" class="imgclass">$!lang.getText('박스구분')</th>
				<td>
					$!comCode.getComboComCode("PARCEL_BOX_HJ", "COM_BOX_TYP", "", true, "$!lang.getText('선택')", "", '',"class='selectbox'")
				</td>
			</tr>
			<tr>
				<th class="thBar">$!lang.getText('옵션')</th>
				<td colspan='7'>
					<span id='chkOptionType101Span'>
						<input type="checkbox" name="chkOptionType1" id="chkOptionType101" value="01"> $!lang.getText("원주문번호&수화인별 접수 ")
					</span>
					<span style="padding:1%;" id='chkOptionType102Span'>
						<input type="checkbox" name="chkOptionType1" id="chkOptionType102" value="02"> $!lang.getText("추천박스로 접수")
					</span>
				</td>
				<th class="thBar">$!lang.getText('| 순서')</th>
				<td>
					<select id="vrSrchSortType1" name="vrSrchSortType1" style ="width: 95%;" onChange="fn_SortSetting(this.value, fn_search);" >
						<option value="">$!lang.getText("수화인명")</option>
						<option value="01">$!lang.getText("합포->상품명->수량多")</option>
					</select>
				</td>
			</tr>
		</table>
		<div id="formDlvHideData" style="display:none"></div>
	</form>

	<div id="divPanel_SpdList">
		<div id="spdList" style="height:490px; border:1px solid #b0b0b0;"></div>
	</div>
	<div id="spdListTable" style="display:none"></div>
	
</div>