<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
	    		<input type = "button" name = "btnTemSap" 			value = "$!lang.getText('SAP전용 템플릿입력')"	onclick = "fn_orderUploadSAP();"	role="button" aria-disabled="false"/>
	   			<input type = "button" name = "btnTem" 				value = "$!lang.getText('템플릿입력')"			onclick = "fn_orderUpload();"	 	role="button" aria-disabled="false"/>
	   			<!--
					<input type = "button" name = "btnComplete"		value = "$!lang.getText('입고확정')"		onClick = "fn_inComplete();"	 role="button" aria-disabled="false"/>			-->
					<input type = "button" name = "btnChangeDate"   value = "$!lang.getText('입고일변경')" 	onclick = "fn_changeDate();"	 role="button" aria-disabled="false"/>
				
	    	</div>
	    </div>	
    </div>
</div>

<div class="patternWrap">
	<form name="frm_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width = "100px"/>
				<col width = "11.5%"/>
				<col width = "100px"/>
				<col width = "10%"/>
				<col width = "80px"/>
				<col width = "23%"/>
				<col width = "90px"/>
				<col width = "25%"/>
				<col width = "50px"/>
			</colgroup>
			<tbody>
				<tr>
					<th>
						<select id="cmbSrchType" name="cmbSrchType" >
							<option value="100">$!lang.getText('입고예정일')</option>
							<option value="200">$!lang.getText('입고일')</option>
						</select>
					</th>
					<td colspan="3">
						<input type = "text" class = "text" style="width:34%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"> 
						 ~
						<input type = "text" class = "text" style="width:34%" name="vrSrchReqDtTo"   id="vrSrchReqDtTo"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"> 
					</td>
					
					<th class="thBar">$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style = "width: 44%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" id="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style = "width: 44%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId">
					</td>
					
					<th class="thBar">$!lang.getText('창고')</th>
					<td>
						<input type="text" class = "text" style="width: 44%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 44%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
					</td>
					
					<th class="btnSearch" rowspan="5">
						<input type="button" class="SER_AUTH"	name="btnSrch" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	 role="button" aria-disabled="false"/>	
					</th>
				</tr>
			
				<tr>
					<th>$!lang.getText('작업구분')</th>
					<td>
						$!comCode.getComboComCode("ORD03", "vrSrchOrderPhase", "", false, "", "", "","class='selectbox'")
					</td>
						
					<th class="thBar">$!lang.getText('주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrderId" id="vrSrchOrderId" maxlength="20">
					</td>

					
					<th class="thBar">$!lang.getText("입고처")</th>
					<td>
						<input type="text" class="text" name="txtSrchCustCd" id="txtSrchCustCd" style="width:44%" onChange="txtSrchCustCd_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" onclick="fn_Popup('SrchCust');return false;" class="imgSearch">
						<input type="text" class="text" name="txtSrchCustNm" id="txtSrchCustNm" style="width:44%" onChange="txtSrchCustNm_OnKillFocus()"/>
						<input type="hidden" name="txtSrchCustId" id="txtSrchCustId"/>
					</td>
					
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 44%" name="vrSrchRitemCd" id="vrSrchRitemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 44%" name="vrSrchRitemNm" id="vrSrchRitemNm" onChange="vrSrchItemNm_OnKillFocus()">
						<input type="hidden" name="vrSrchRitemId" id="vrSrchRitemId">
						
					</td>
				</tr>
				
				<tr>
					<th>$!lang.getText('주문상세')</th>
					<td>
						$!comCode.getComboComCode("WORK01", "vrSrchOrdSubtype", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
					</td>
					
					<th class="thBar">$!lang.getText('컨테이너번호')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchCntrNo" id="vrSrchCntrNo">
					</td>
					
					<th class="thBar">$!lang.getText('LOT NO.')</th>
					<td>
						<input type = "text" class = "text" name="vrSrchCustLotNo" id="vrSrchCustLotNo">
					</td>	
					
					<th class="thBar">$!lang.getText('상품군')</th>
					<td>
						<select name='vrSrchItemGrpId' id='vrSrchItemGrpId' class="selectbox">
							<option value="">$!lang.getText('전체')</option>
							<option value="N/A">$!lang.getText('미지정')</option>
							#foreach($row in $ITEMGRP)
							<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
							#end
						</select>
					</td>
				</tr>
				<tr>	
					<th class="thBar">$!lang.getText('원주문번호')</th> 
					<td>
						<input type = "text" class = "text" name="vrSrchOrgOrdId" id="vrSrchOrgOrdId">
					</td>
					<th class="thBar">$!lang.getText('비고')#1</th>
					<td>
						<input type = "text" class = "text" name="vrSrchEtc1" id="vrSrchEtc1">
					</td>
					<th class="thBar">$!lang.getText('비고')#2</th>
					<td>
						<input type = "text" class = "text" name="vrSrchEtc2" id="vrSrchEtc2">
					</td>
					<th></th>
					<td></td>
				</tr>
				<tr>
					<th>$!lang.getText('무게관리여부')</th>
					<td colspan="7">
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchWgtYn" id="vrSrchWgtYn" readonly="readonly">
						
						$!lang.getText('유효기간관리여부')
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchBestDateYn" id="vrSrchBestDateYn" readonly="readonly">
						
						$!lang.getText('RFID적용여부')
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchRfidYn" id="vrSrchRfidYn" readonly="readonly">
						
						$!lang.getText('주문등록수량')
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchInOrderCntInit" id="vrSrchInOrderCntInit" readonly="readonly">
						
						$!lang.getText('작업중수량')
						<input type = "text" class = "text" style="width: 35px; text-align:center; margin-right:10px;" name="vrSrchInWorkCntInit" id="vrSrchInWorkCntInit" readonly="readonly">
					</td>
				</tr>
			</tbody>
		</table>

	</form>
	
	<form name = 'frm_data'>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		<input type = "hidden" class = "text" name = "vrType" id = "vrType">
	</form>
   
    <div class = "btnArea">
    	<div class = "btnAreaRight" id="btnArea">
    		<input type = "button" class = "INS_AUTH btnEtc" 	name = "btnInsert" 	value = "$!lang.getText('신규')"			onclick = "fn_new()"		role="button" aria-disabled="false"/>
			<input type = "button" class = "DEL_AUTH btnDelete" name = "btnDelete"	value = "$!lang.getText('삭제')"			onClick = "fn_delete();"	role="button" aria-disabled="false"/>			
			<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')($!lang.getText('전체'))" 	onclick = "fn_excelDown()"	role="button" aria-disabled="false"/>
			<input type = "button" class = "EXC_AUTH btnExcel"	name = "btnExcel"   value = "$!lang.getText('엑셀')($!lang.getText('선택'))" 	onclick = "fn_excelDown2()"	role="button" aria-disabled="false"/>
    	</div>
    </div>
    
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
	
	<form name="frm_sample">
		<div id = "formSample" style = "display : none ; width : 0 ; height : 0"></div>
	</form>
	
</div>
<div id="dataTable"></div>

<form style="display:none" id="submitForm" name="submitForm" action="/WMSOP000Q8.action" method="POST", target="fn_DspPopup">
	<input id="strParameter" name="strParameter">
	<input id="func" name="func">
</form>
<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>