#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<style>
	.templateType {
		display: none;
	}
</style>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');
</script>

<script type = "text/javascript">
jQuery(document).ready(function(){
	jQuery('#fullpath_screen').html("시스템관리 &gt; 관리자업무게시판");
	jQuery("#tab1").tabs({activate:function(event, ui){resizeGrid();}});
	jQuery("input:button").button();
	gfn_forceEventResize()
	
});

function gfn_forceEventResize(){
	var el = document;
	var event = document.createEvent('HTMLEvents');
	event.initEvent('resize', true, false);
	el.dispatchEvent(event);
}

function fn_getStatusPop(){
	window.open('/ulndev/html/task.html','title','height=' + screen.height + ',width=' + screen.width + 'fullscreen=yes');
	}
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">관리자업무 게시판</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        	<div class="patternWrap">
	<div class="row">
	</div>
	<div>
		<a id="aTagLabel" style="font-size:15px;"></a>
		<br>
		<a onClick="fn_getStatusPop()" style="cursor:pointer;font-size:13px;color:blue;">(열기)</a>
	</div>
</div>

<!--
<div data-include-path="../ulndev/html/task.html"></div>
    <script>
        window.addEventListener('load', function() {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function(el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        });
    </script>
</div>
    -->
#parse("winus/common/footer.vm")