#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript">

var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	
	/* datepicker */
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 날짜 셋팅 */
	var vrSrchReqDt = localStorage.LocalTime;
	//var getReqDtFrom = dateReckon(new Date(vrSrchReqDt),7,"M");
	jQuery("input[name='vrSrchReqDtFrom']").val(vrSrchReqDt);
	jQuery("input[name='vrSrchReqDtTo']").val(vrSrchReqDt);
	
	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	/* 대표화주코드 참조 :: 화주코드가 없을 경우*/
	var vrSrchCustCd = jQuery("#vrSrchCustCd").val();
	if(vrSrchCustCd == ""){
		fn_getTypicalCust();
	}
	
	/* 청구작업 시작 */
	var colNameArray = [
	                     'CHK_BOX'
	                    ,"$!lang.getText('수취인')"
	                    ,'FLAG'
	                    ,'ST_GUBUN'
	                    ,' '
						
	                    ,"$!lang.getText('주소')"
	                    ,"$!lang.getText('수취인연락처1')"
	                    ,"$!lang.getText('수취인연락처2')"
	                    ,"$!lang.getText('주문일')"
	                    
	                    ,"$!lang.getText('상품코드')"
	                    ,"$!lang.getText('상품명')"
	                    ,"$!lang.getText('판매처')"
	                    ,"$!lang.getText('주문자')"
	                    ,"$!lang.getText('주문자연락처1')"
	                    ,"$!lang.getText('주문자연락처1')"
	                    
	                    ,"$!lang.getText('배송일')"
	                    ,"$!lang.getText('배송상태')"
	                    ,"$!lang.getText('등록구분')"
	                    
	                    ,""
	                    
	                    ,"<img src='/img/exam/ico_004.gif' class='imgclass'>$!lang.getText('정산일자')"
	                    ,"<img src='/img/exam/ico_004.gif' class='imgclass'>$!lang.getText('원가')"
	                    ,"<img src='/img/exam/ico_004.gif' class='imgclass'>$!lang.getText('판매가')"
	                    
	                    ,"$!lang.getText('수수료')<br>$!lang.getText('정산일자')"
	                    ,"$!lang.getText('수수료')"
	                    
	                    ,"SALES_CUST_ID"
	                    ,"PRODUCT"
	                    ,"ORG_ORD_ID"
	                   ]
	
	var colModelArray = [
						 {name : 'CHK_BOX'			,index : 'CHK_BOX'			,hidden : true	, frozen:true}
						,{name : 'SALES_CUST_NM'	,index : 'SALES_CUST_NM'	,width : 70		,align : "center"	,editable : false	, frozen:true}
						
						,{name : 'FLAG'				,index : 'FLAG'				,hidden : true}
						,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'			,hidden : true}
						,{name : 'ST_GUBUN_IMG'		,index : 'ST_GUBUN_IMG'		,width : 10		,align : "center"	,hidden : true}
						
						,{name : 'ADDR'				,index : 'ADDR'				,width : 150	,align : "left"		,editable : false}
						,{name : 'PHONE_1'			,index : 'PHONE_1'			,width : 100	,align : "center"	,editable : false}
						,{name : 'PHONE_2'			,index : 'PHONE_2'			,width : 100	,align : "center"	,editable : false}
						,{name : 'BUYED_DT'			,index : 'BUYED_DT'			,width : 100	,align : "center"	,editable : false}
						
						,{name : 'PRODUCT_CD'		,index : 'PRODUCT_CD'		,width : 100	,align : "left"		,editable : false}
						,{name : 'PRODUCT_NM'		,index : 'PRODUCT_NM'		,width : 120	,align : "left"		,editable : false}
						,{name : 'SALES_COMPANY_NM'	,index : 'SALES_COMPANY_NM'	,width : 100	,align : "left"		,editable : false}
						,{name : 'BUY_CUST_NM'		,index : 'BUY_CUST_NM'		,width : 100	,align : "left"		,editable : false}
						,{name : 'BUY_PHONE_1'		,index : 'BUY_PHONE_1'		,width : 100	,align : "center"	,editable : false}
						,{name : 'BUY_PHONE_2'		,index : 'BUY_PHONE_2'		,width : 100	,align : "center"	,editable : false}
						
						,{name : 'DLV_DT'			,index : 'DLV_DT'			,width : 100	,align : "center"	,editable : false}
						,{name : 'DLV_ORD_STAT'		,index : 'DLV_ORD_STAT'		,width : 70		,align : "center"	,editable : false}
						,{name : 'WORK_STAT'		,index : 'WORK_STAT'		,width : 70		,align : "center"	,editable : false}
						
						,{name : 'END_LINE'			,index : 'END_LINE'			,width : 1		,align : "center"	,editable : true}
						
						,{name : 'ADJUCT_CAL_DT'	,index : 'ADJUCT_CAL_DT'	,width : 90 	,align : "center"	,editable : true	, cellattr : function (rowId, val, rawObject, cm, rdata) { return 'onChange = "gridEditCellChange('+rowId+')"'; }}
						,{name : 'SOURCE_PRICE'		,index : 'SOURCE_PRICE'		,width : 80 	,align : "right"	,editable : true	,editoptions : {maxlength : 10}	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue : ""}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_SOURCE_PRICE\')"'}}
						,{name : 'SALES_PRICE'		,index : 'SALES_PRICE'		,width : 80 	,align : "right"	,editable : true	,editoptions : {maxlength : 10}	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue : ""}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_SALES_PRICE\')"'}}
						
						,{name : 'ADJUCT_FEE_DT'	,index : 'ADJUCT_FEE_DT'	,width : 90 	,align : "center"	,editable : true	, cellattr : function (rowId, val, rawObject, cm, rdata) { return 'onChange = "gridEditCellChange('+rowId+')"'; }}
						,{name : 'SERVICE_CHARGE'	,index : 'SERVICE_CHARGE'	,width : 80 	,align : "right"	,editable : true	,editoptions : {maxlength : 10}	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue : ""}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_SERVICE_CHARGE\')"'}}
						
						,{name : 'SALES_CUST_ID'	,index : 'SALES_CUST_ID'	,hidden : true}
						,{name : 'PRODUCT'			,index : 'PRODUCT'			,hidden : true}
						,{name : 'ORG_ORD_ID'		,index : 'ORG_ORD_ID'		,hidden : true}
						]

	var option = {
				   'title'		: "$!lang.getText('청구작업목록')"
				  ,'height'		: 530
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num*3,$ss_gird_num*5,$ss_gird_num*10]
			      #else
			      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				  ,'shrinkToFit' : false
				 };
	
	//첫 자동조회
	var paramInit = jQuery("form[name='frm_list']").serialize();
	//var url = "/WMSAC140/list.action?"+paramInit;
	var url = "";
	
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);
	
	// 그리드 전체셀선택 이벤트
	listGrid.setSelectAllEventCallback(function(id , status){
		var grid = jQuery("#list");
		var ids  = grid.jqGrid('getDataIDs');
		if(ids != ''){
			for(var i = 0; i< ids.length; i ++){
				var idx = ids[i];
				
				if(status){
					grid.setCell(idx, 'CHK_BOX', "Yes");
					var rowdata = grid.getRowData(idx);
					if(rowdata.FLAG == "S"){
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
					}else{
						grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
					}
					grid.editRow(idx);
					if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid.setStatus(idx, "INSERT");
					}else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
						listGrid.setStatus(idx, "UPDATE");
					}
					
					//입력컬럼 색상강조
					fn_gridColorSet(idx);
				}else{
					grid.setCell(idx, 'CHK_BOX', 'No');
					grid.restoreRow(idx);
					listGrid.setStatus(idx, " ");
					
					//입력컬럼 색상강조
					fn_gridColorSet(idx);
				}
			}
		}
	});
	
	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		var clickOnColArr = ["END_LINE", "ADJUCT_CAL_DT", "SOURCE_PRICE", "SALES_PRICE", "ADJUCT_FEE_DT", "SERVICE_CHARGE"];
        var clickOnChk = clickOnColArr.indexOf(jQuery("#list").jqGrid("getGridParam", "colModel")[col].name);
        
        var grid = jQuery("#list");
		if(col == 1 || clickOnChk != -1){
	        if(grid.getCell(id, 'CHK_BOX') == "Yes"){
	            jQuery("#jqg_list_"+id).attr("checked",false);
	            grid.setCell(id, 'CHK_BOX', "No");
	            grid.restoreRow(id);
	            listGrid.setStatus(id, " ");
	            //unSelect chkBox 이슈 이벤트 : 체크박스 해제 시 틀고정 부분 컬럼 스크롤 상단으로 위치하는 크롬 버그 처리
	            jQuery("#list").closest(".ui-jqgrid-bdiv").scrollTop(jQuery("#list").closest(".ui-jqgrid-bdiv").scrollTop() + 1);
	        }else{
        		jQuery("#jqg_list_"+id).attr("checked",true);
                grid.setCell(id, 'CHK_BOX', "Yes");
                grid.editRow(id);
                if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "INSERT");
                }else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "UPDATE");
                }
              	//입력컬럼 색상강조
	            fn_gridColorSet(id);
	        }

	        var cm = jQuery("#list").jqGrid("getGridParam", "colModel");
	        jQuery("#"+id+"_"+cm[col].name).focus();
	        fn_gridDateSet(id);
		}else{
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                grid.setCell(id, 'CHK_BOX', 'Yes');
                grid.setSelection(id, false);
            }else{
                grid.setCell(id, 'CHK_BOX', 'NO');
                grid.setSelection(id, true);
            }  
        }
    });
	
	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		var cssBgc  	   = {'background' : '#FFF2E6'};
		var cssFontChanged = {'background' : '#FFFF24'};
		var cssFont   	   = {'color' : 'red', 'cursor' : 'pointer'};
		var cssFontCc	   = {'color' : 'red', 'cursor' : 'pointer', 'font-style' : 'italic'}; //'text-decoration' : 'line-through'
		
		for(var i = 0 ; i < gridData.length; i++){
			/*
			grid.jqGrid('setCell', ids[i], 'DLV_REQ_DT',  '', cssBgc);
			
			var salesCompanyId = cfn_trim(grid.getCell(ids[i], "SALES_COMPANY_ID"));
			if(salesCompanyId == "9999999999"){
				grid.jqGrid('setCell', ids[i], 'SALES_COMPANY_NM', '', cssFont);
			}
			*/
			fn_gridDateSet(ids[i]);
		}
		
		/* 조회조건 화주코드가 없을 경우 */
		fn_chkInitCustId();
	};
	
	//틀고정 컬럼 적용
	jQuery("#list").jqGrid("setFrozenColumns");
	jQuery(".frozen-div.ui-state-default.ui-jqgrid-hdiv .ui-jqgrid-htable").attr({style:"width:135px;"});
	
	/* 청구작업 끝 */
});

//----------------------------------------------------------메인----------------------------------------------------------//
/* 대표화주코드 가져오기 */
function fn_getTypicalCust(){
	var srchKey = "TYPICALCUST";
	var param   = "srchKey=" + srchKey;
	var url     = "/WMSCM011/getTypicalCust.action";
	jQuery.post(url, param, function(data){
		var data = data.TYPICALCUST;
		var cnt  = data.size();
		if(cnt > 0){
			jQuery("#vrSrchCustCd").val(data[0].CUST_CD).attr("class", "readOnly").attr("readonly", "readonly");
			jQuery("#vrSrchCustNm").val(data[0].CUST_NM).attr("class", "readOnly").attr("readonly", "readonly");
			jQuery("#vrSrchCustId").val(data[0].CUST_ID).attr("class", "readOnly").attr("readonly", "readonly");
			jQuery("#btnSrchCustPop").removeAttr("onclick");
		}else{
			fn_Popup("CUST");
		}
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

function fn_chkInitCustId(){
	if(jQuery("#vrSrchCustId").val() == "" || jQuery("#vrSrchCustId").val().length == 0){
		fn_Popup("CUST");
		return false;
	}
	return true;
}


function fn_search(op,op1) {
	/* 조회조건 화주코드가 없을 경우 */
	if(!fn_chkInitCustId()){return;}
	
	//작업일자 앞 뒤날짜 비교
	var validator = new Validator("frm_list");
	// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('입고예정일'):");
	validator.addItem("vrSrchReqDtTo"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('입고예정일'):");
	if(!validator.validateForm("frm_list")){
		return false;
	}
	
	var param = jQuery("form[name='frm_list']").serialize();
	var url   = "/WMSAC140/list.action?"+param;
	listGrid.search(param, url, op, op1);
}

//아직 한국어,일본어만 적용됨 (중국, 영어 추후 수정해야됨)
function fn_gridDateSet(id){
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("#"+id+"_ADJUCT_CAL_DT", "#list").datepicker({dateFormat:"yy-mm-dd"});
	jQuery("#"+id+"_ADJUCT_FEE_DT", "#list").datepicker({dateFormat:"yy-mm-dd"});
}

//입력 필수값 grid 색상강조
function fn_gridColorSet(id){
	jQuery("#"+id+"_ADJUCT_CAL_DT").css("background-color","#FFF2E6");
	jQuery("#"+id+"_SOURCE_PRICE").css("background-color","#FFF2E6");
	jQuery("#"+id+"_SALES_PRICE").css("background-color","#FFF2E6");
	
	jQuery("#"+id+"_ADJUCT_FEE_DT").css("background-color","#FFF2E6");
	jQuery("#"+id+"_SERVICE_CHARGE").css("background-color","#FFF2E6");
}

/* 신규 */
function fn_new(){
	//현재 물류센터 ID를 입력해준다.
	var datarow = {
					ST_GUBUN     : "INSERT"
			       ,ST_GUBUN_IMG : "<img src='/img/exam/btn/add.gif'>"
			       ,CHK_BOX      : "Yes"
				  };
    listGrid.addRow(datarow);
    
    var grid = jQuery("#list");
	var countRow = grid.getDataIDs().size();
	//datePicker 활성화
	fn_gridDateSet(countRow);
	fn_gridColorSet(countRow);
}

/* 저장 */
function fn_save(){
    var grid        = jQuery("#list");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var isProcess   = false;
    var tmpCnt = 0 ;
    
    if(selectIds == ""){
        alert("$!lang.getText('저장할데이터를선택해주세요')");
        return false;
    }
    //유효성체크 uom코드 필수값!!!
    /* 유효성검사 */
	//if(!fn_listValidation()){return;}
    
    if(confirm("$!lang.getText('update.confirm')")){
    	if(selectIds != ""){
            jQuery("#formData").html("");
            if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
                jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
                jQuery("#formData").append("<br>");
            }else{
                tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
            }

            for(var i = 0 ; i < selectIds.length ; i++){
                if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                    isProcess = true;
                }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                    isProcess = true;
                }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                    jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                    isProcess = true;
                }
             
                if(isProcess){
                	jQuery("#formData").append("<input type='text' name='SALES_CUST_ID" 	+tmpCnt+"'value='" + grid.getCell(selectIds[i], "SALES_CUST_ID")+"'/>");
                	jQuery("#formData").append("<input type='text' name='ADJUCT_CAL_DT"		+tmpCnt+"'value='" + jQuery("#"+selectIds[i] + "_ADJUCT_CAL_DT","#list").val() +"'/>");
                	jQuery("#formData").append("<input type='text' name='SOURCE_PRICE"		+tmpCnt+"'value='" + jQuery("#"+selectIds[i] + "_SOURCE_PRICE","#list").val() +"'/>");
                	jQuery("#formData").append("<input type='text' name='SALES_PRICE"		+tmpCnt+"'value='" + jQuery("#"+selectIds[i] + "_SALES_PRICE","#list").val() +"'/>");
                	
                	jQuery("#formData").append("<input type='text' name='ADJUCT_FEE_DT"		+tmpCnt+"'value='" + jQuery("#"+selectIds[i] + "_ADJUCT_FEE_DT","#list").val() +"'/>");
                	jQuery("#formData").append("<input type='text' name='SERVICE_CHARGE"	+tmpCnt+"'value='" + jQuery("#"+selectIds[i] + "_SERVICE_CHARGE","#list").val() +"'/>");
                	
                	tmpCnt ++;
                }
            }
            jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
        }else{
            if(tmpCnt == 0){
                alert("$!lang.getText('값을확인해주세요')");
                return false;
            }
        }
        
        var param = jQuery("form[name='frm_data']").serialize();
        var url = "/WMSAC140/save.action";
        jQuery.post(url, param, function(data) {
        	alert(data.MSG);
        	if(data.errCnt <= 0 ){
	            var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
	            var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
		        fn_search(page,page_check);
            }
        }).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
    }
}

/* 입력값 유효성 검사 */
function fn_listValidation(){
	var grid = jQuery("#list");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	
	if(selectIds != ""){
		var tmpText = ["$!lang.getText('고객명')"];
		var tmpId	= ["SALES_CUST_NM"];
		var tmpLeng =[40];
		var tmpVal;	
		for(var i = 0 ; i < selectIds.length ; i++){
			var ST_GUBUN = grid.getCell(selectIds[i], "ST_GUBUN");
			if(ST_GUBUN != "DELETE"){	//삭제일경우에는 필수값이 아니기때문에 제외
				var salesCustNm	= cfn_trim(jQuery("#" + selectIds[i] + "_SALES_CUST_NM","#list").val());
				
				/* 공백체크 */
				tmpVal = [salesCustNm];
				for(var j = 0 ; j < tmpVal.length ; j++){
					if(jQuery.trim(tmpVal[j]) == ""){
    					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
						return false;
					}
				}
				
				if(salesCustNm.byteLength() > 40){
    				alert("$!message.getMessage('0번째행의1은최대2까지가능', '" + selectIds[i] + "','"+tmpText[0]+"','" + tmpLeng[0]+"')");
    				jQuery("#"+selectIds[i]+"_SALES_CUST_NM", "#list").focus();
					return false;
				}
			}			
		}
	}
	return true;
}

/*엑셀다운 */
function fn_excelDown(){
	var grid  = jQuery("#list");
	var sidx  =  grid.getGridParam('sortname');
	var sord  = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
	
    var fm = document.frm_list;
    var countRow = jQuery("#list").getDataIDs().size();
    if(countRow == 0){
        alert('$!lang.getText("excel.down.nodata")');
        return;
    } else if(countRow > 60000) {
        alert('$!lang.getText("excel.down.maxrow")');
        return;
    } else {
        fm.action="/WMSAC140/excel.action"+param;
        fm.method="post";
        fm.submit();
    }  
}

function fn_Popup(type, id){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";

	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'ITEM':	//검색 상품코드
			strParameter.push('');
			strParameter.push('');
			strParameter.push('');
			strParameter.push('');
			strParameter.push('');
			strParameter.push('Y');
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;
		case 'CUST_2':		//검색 거래처
			if("" == jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val()){
				alert('$!lang.getText("화주정보가없습니다")');
				return false;
			}else{
				strParameter.push("");
				strParameter.push("");
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val());
				param = "?func=fn_setWMSCM011_2&strParameter=" + strParameter+"&stBtnYn=Y&custType=3";
				url = "/WMSCM011.action" + param;
				break;	
			}
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('form[name="frm_list"] input[name="vrSrchRitemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchRitemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchRitemNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchRitemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchRitemNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchRitemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchRitemNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val("");
	}
}

/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	var vrSrchItemNm = jQuery('form[name="frm_list"] input[name="vrSrchRitemNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchRitemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchRitemNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchRitemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchRitemNm']").val("");
				jQuery("form[name='frm_list'] input[name='vrSrchRitemId']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchRitemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchRitemNm']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchRitemId']").val("");
	}
}
/* 거래처코드 입력 */
function vrSrchTransCustCd_OnKillFocus(){	
	var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var custCd_Text = "$!lang.getText('화주정보')";
	if(vrSrchCustId == "" ){
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
		fn_Popup("CUST");
		return false;
	}
	
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchTransCustCd"]').val();

	if( vrSrchCustCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "CLIENT";
// 		var srchSubCode3 = "108";
		var param 	= "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd /*  + "&srchSubCode3=" + srchSubCode3 */;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.CLIENT;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				strParameter.push('');
				strParameter.push(vrSrchCustId);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSCM011_2&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSCM011.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val(data[0].ID);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("");	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val("");
	}
}
/* 거래처이름 입력 */
function vrSrchTransCustNm_OnKillFocus(){	
	var vrSrchCustId = jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val();
	var custCd_Text = "$!lang.getText('화주정보')";
	if(vrSrchCustId == "" ){
		alert("$!message.getMessage('0가없음', '" + custCd_Text + "')");
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
		fn_Popup("CUST");
		return false;
	}
	
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchTransCustNm"]').val();

	if( vrSrchCustNm != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "CLIENT";
// 		var srchSubCode3 = "108";
		var param 	= "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm /*  + "&srchSubCode3=" + srchSubCode3 */;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.CLIENT;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				strParameter.push(vrSrchCustId);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSCM011_2&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSCM011.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val(data[0].ID);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustCd']").val("");	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
		jQuery("form[name='frm_list'] input[name='vrSrchTransCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val("");
	}
}
/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery('form[name="frm_list"] input[name="vrSrchRitemCd"]').val(info.item_code);
	jQuery('form[name="frm_list"] input[name="vrSrchRitemNm"]').val(info.item_kor_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchRitemId"]').val(info.ritem_id);
}

/* 거래처 팝업 후 처리 */
function fn_setWMSCM011_2(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchTransCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchTransCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchTransCustId"]').val(info.cust_id);
}
/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);	
}

/* 그리드 DDL 항목 변경시 자동처리 */
function gridSelectBox_Change(id){
	var grid = jQuery("#list");
	/*
	var bfDlvOrdStat = cfn_trim(grid.getCell(id, "BF_DLV_ORD_STAT")); //변경전 배송상태
	var dlvOrdStat   = jQuery("#"+ id + "_DLV_ORD_STAT", "#list").val(); //배송상태
	
	if(bfDlvOrdStat == "99" && dlvOrdStat != "99"){
		alert("$!lang.getText('배송완료시변경할수없습니다')");
		jQuery("#"+ id + "_DLV_ORD_STAT", "#list").val(bfDlvOrdStat);
		return false;
	}
	*/
}

/* 팝업버튼 포맷터*/
function fn_gridFormatter(value, option, row){
	/*
	switch(option.pos){
		case 4:
			if(row.IMG_SND_YN == "Y"){
				return '<img src="/img/exam/btn/pic_20_Y.png" onClick="fn_imgViewBtn('+option.rowId+');" style="cursor:pointer;"/>';
			}else{
				return '<img src="/img/exam/btn/pic_20_N.png" onClick="fn_imgViewBtn('+option.rowId+');" style="cursor:pointer;"/>';	
			}
	}
	*/
}

function gridEditCellChange(id){
    var grid        = jQuery("#list");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    /*
    for(var i = 0 ; i < selectIds.length ; i++){
    	//var chk_DLV_REQ_DT     = cfn_trim(grid.getCell(id, "CHK_DLV_REQ_DT"));
	}
    */
}

function fn_execlUpload(){
	var param 	= '';
	var url 	= '/WMSAC140E2.action'+param;
	var width 	= "480";
	var height 	= "160";
	var asppop 	= cfn_openPop2(url, "fn_TempPopup", width, height);
	asppop.focus();
}

</script>
<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText('배송_청구작업')</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmsac/WMSAC140E1.vm")
    </div>
</div>
#parse("winus/common/footer.vm")