<div class="patternWrap">
	<form name="frm_ct_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
			    <col width="120px">
			    <col width="20%">
			    <col width="60px">
			    <col width="30%">			    
			    <col width="100px"/>
			    <col width="60px"/>				
			</colgroup>
			
			<tr>				
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("정산년월")</th>
				<td>		
					<input type = "text" class = "text" style="width:43%" name="vrSrchReqDtFrom5" id="vrSrchReqDtFrom5" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom5)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom5), fn_onChangeVrSrchReqDtFrom5()"> 
					<input type = "hidden" class = "text" style="width:36%" name="vrSrchReqDtTo5"   id="vrSrchReqDtTo5"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo5)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo5)">
					($!lang.getText("월 단위"))	
				</td>
				#if($adminInfo.getCustId() == $ss_user_gb)
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("화주")</th>
					<td>
						<input type="text" class="readOnly" name="vrSrchCustCd5" id="vrSrchCustCd5" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
						<input type="hidden" name="vrSrchCustId5" id="vrSrchCustId5" value="$ss_cmpy_id"/>
						<input type="text" class="readOnly" name="vrSrchCustNm5" id="vrSrchCustNm5" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
					</td>
				#else
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd5" id="vrSrchCustCd5" onChange="vrSrchCustCd_OnKillFocus('E')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST5");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId5" id="vrSrchCustId5"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm5" id="vrSrchCustNm5" onChange="vrSrchCustNm_OnKillFocus('E')"> 
				</td>
				#end
				<td></td>					
				<th class="btnSearch">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search5();" title="Search" role="button" aria-disabled="false"/>
				</th>
		</table>	
	</form>
	
		<div class="btnArea">
			<div class="btnAreaRight">
				<input type = "button" class = "INS_AUTH btnEtc" 					name = "btn_write" 	value = "$!lang.getText('신규')"		onclick = "fn_new5();"		title="$!lang.getText('신규:컨테이너하차비')"/>
				<input type = "button" class = "INS_AUTH  UPD_AUTH btnSave" name = "btn_write"	value = "$!lang.getText('저장')"		onclick = "fn_save5();"		/>
				<input type = "button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete"   name="btn_write" onclick="fn_delete5();" role="button" aria-disabled="false"/>
			</div>
		</div>
	
	<div class="list_box">
		<table id="container"></table>
		<div id="container_pjmap"></div>
	</div>
	
	<form name = "frm_data5">
		<div id = "formData5" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>
<script type="text/javascript">
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))

	var containerGrid = new ULNSI_jQGrid();

	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명 
	var colNameArray_ct = [
	                           'CHK_BOX',
				               'ST_GUBUN',
				               '',
				               'FLAG',
	                           	                           
	                           '$!lang.getText("출발일")',
	                           '$!lang.getText("도착일")',
	                           '$!lang.getText("톤수")',
	                           '$!lang.getText("S/N")',
	                           '$!lang.getText("출고처")',
	                           '$!lang.getText("수량")',
	                           '$!lang.getText("금액")',                           
	                           
	                           '$!lang.getText("비고")',
	                           
	                           'CUST_ID',
	                           '단가',
	                           'ACC_SEQ'	                           
	                          ];
	// 그리드 컬럼 정의		          
	var colModelArray_ct = [
			{name:'CHK_BOX',		   index:'CHK_BOX',		  hidden:true },
			{name:'ST_GUBUN',		   index:'ST_GUBUN',      hidden:true},
			{name:'ST_GUBUN_IMG',	   index:'ST_GUBUN_IMG',  width:20,    align:"center"},
			{name:'FLAG',			   index:'FLAG',		  hidden:true, align:"left"},
			
			{name:'DPRT_DT',		   index:'DPRT_DT',		  width:100, align:"center", editable : true, cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'DPRT_DT\')"' }},
			{name:'ARRV_DT',		   index:'ARRV_DT',		  width:100, align:"center", editable : true, cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'ARRV_DT\')"' }},
			{name:'CNTR_TON',   	   index:'CNTR_TON',      width:150, align:"right",  formatter:'integer', formatoptions:{thousandsSeparator:",", decimalPlaces: 0}, editable : true},
			{name:'SERIAL_NO', 		   index:'SERIAL_NO',     width:150, align:"center", editable : true},
			{name:'TRANS_CUST_ID', 	   index:'TRANS_CUST_ID', width:150, align:"center", editable : true},
			{name:'QTY', 	   		   index:'QTY', 		  width:80,  align:"right",  formatter:'integer', formatoptions:{thousandsSeparator:",", decimalPlaces: 0}, editable : true},
			{name:'COST',   		   index:'COST',		  width:150, align:"right",  formatter:'integer', formatoptions:{thousandsSeparator:",", decimalPlaces: 0}, editable : true},			
			{name:'ETC',   			   index:'ETC',			  width:200, align:"center", editable : true},
			
			{name:'CUST_ID',		   index:'CUST_ID',	 	  hidden:true},
			{name:'UNIT_COST',		   index:'UNIT_COST',	  width:80, align:"right",   formatter:'integer', formatoptions:{thousandsSeparator:",", decimalPlaces: 0}, editable : true, hidden:true},
			{name:'ACC_SEQ', 		   index:'ACC_SEQ',	 	  hidden:true}
		];
		
	var option_ct = {
		'title' : '$!lang.getText("컨테이너하차비내역")',
		'height' : 460,
		'width' : '100%',
		'colName' : colNameArray_ct,
		'colModel' : colModelArray_ct,
	    'pager' : jQuery("#container_pjmap"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
	    #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
        #else
        'rowList' : [100,200,300],
        #end
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40,
        'footerrow' 	: true,     // 합계
		'userDataOnFooter' : true   // 합계
	   
	};
	var param = jQuery("form[name='frm_ct_list']").serialize();
	var urlCt = "/WMSAC200/container.action?"+param;
	
	function loadCompleteEventCallback5 (data){
		var grid = jQuery("#container");
		var gridData = grid.getRowData();

		/* 합계처리 변수 */
		var SUM_COST 			= 0;
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
			SUM_COST = SUM_COST + Number(gridData[i].COST);						
		}

		/* 합계처리 변수 셋업 */
		var footData = {
				SERIAL_NO : "$!lang.getText('합계')"
			  , COST 	  : SUM_COST			  			  
		};
		grid.jqGrid('footerData','set', footData);
	}
	
	containerGrid.init(jQuery("#container"), option_ct, urlCt, loadCompleteEventCallback5);
	
	//체크박스 선택
	containerGrid.setSelectCellEventCallback(function(id, col){
		
		var grid = jQuery("#container");
		
		if(col == 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){			
				
				jQuery("#jqg_container_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				containerGrid.setStatus(id, " ");
				//unSelect chkBox 이슈 이벤트 : 체크박스 해제 시 틀고정 부분 컬럼 스크롤 상단으로 위치하는 크롬 버그 처리
	            jQuery("#container").closest(".ui-jqgrid-bdiv").scrollTop(jQuery("#container").closest(".ui-jqgrid-bdiv").scrollTop() + 1);
			} else {			
								
				jQuery("#jqg_container_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					containerGrid.setStatus(id, "INSERT");
	 			}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
	 				containerGrid.setStatus(id, "UPDATE");
	 			}				
			}
		} else if(col != 1) {			
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{				
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
		
		fn_gridDateSetE5(id);
	});
	
	//컨테이너 하차비 내역 검색
	function fn_search5(op,op1) {		
		
		/* 조회조건 화주코드가 없을 경우 */
		if(!fn_chkInitCustId5()){return;}
		
		var param = jQuery("form[name='frm_ct_list']").serialize();
		var url = "/WMSAC200/container.action?"+param;
		
		containerGrid.search(param, url, op, op1);			
	}
	
	/* 화주 팝업 후 처리 */
	function fn_setWMSCM011_5(arr){
		var info = arr[0];	
		jQuery('form[name="frm_ct_list"] input[name="vrSrchCustCd5"]').val(info.cust_cd);
		jQuery('form[name="frm_ct_list"] input[name="vrSrchCustNm5"]').val(info.cust_nm);
		jQuery('form[name="frm_ct_list"] input[name="vrSrchCustId5"]').val(info.cust_id);
		
		fn_search5();
	}
	
	/* 컨테이너 날짜 셋팅 */
	function fn_onChangeVrSrchReqDtFrom5(){	
		var vrSrchReqDt = jQuery("input[name='vrSrchReqDtFrom5']").val();
		var getYyyyMm   = vrSrchReqDt.substr(0,7);
		var getLastDay  = getMonthEndDate(Number(vrSrchReqDt.substr(0,4)), Number(vrSrchReqDt.substr(5,2)));
		jQuery("input[name='vrSrchReqDtFrom5']").val(getYyyyMm+"-"+getLastDay);
	}
	
	/* 조회조건 화주 체크*/
	function fn_chkInitCustId5(){
		if(jQuery("#vrSrchCustId5").val() == "" || jQuery("#vrSrchCustId5").val().length == 0){
			fn_Popup("CUST5");
			return false;
		}
		return true;
	}
	
	/* 신규 - 컨테이너하차비 내역 */
	function fn_new5(){
		
		if(jQuery("#vrSrchCustId5").val() == "" || jQuery("#vrSrchCustId5").val().length == 0){
			alert("조회 후 신규 추가 해주세요.");
			return false;
		}
		
		containerGrid.addRow();
		
		var grid = jQuery("#container");
		var countRow = grid.getDataIDs().size();
		fn_gridDateSetE5(countRow);
		
		jQuery("#"+countRow+"_DPRT_DT", "#container").focus();
	}
	
	function fn_gridDateSetE5(index)
	{
		jQuery("#"+index+"_DPRT_DT", "#container").datepicker({dateFormat:"yy-mm-dd"});
		jQuery("#"+index+"_ARRV_DT", "#container").datepicker({dateFormat:"yy-mm-dd"});
	}
	
	//컨테이너하차비내역 저장
	function fn_save5(){	
		
		if(jQuery("#vrSrchCustId5").val() == "" || jQuery("#vrSrchCustId5").val().length == 0){
			alert("[검색조건]화주 정보를 조회해주세요.");
			return false;
		}
		
		var grid        = jQuery("#container");
	    var ids         = grid.getDataIDs();
	    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	    var isProcess   = false;
	    var tmpCnt 		= 0 ;
	    	    
	    if(selectIds == ""){
	        alert("$!lang.getText('save.nodata')");
	        return false;
	    }  
	    
	    /* 유효성검사 */
		if(!fn_listValidationE5()){return;}

	    if(confirm("$!lang.getText('update.confirm')")){
	        if(selectIds != ""){
	            jQuery("#formData5").html("");
	            if( jQuery("form[name='frm_data5'] input[name='selectIds']").val() == undefined){
	                jQuery("#formData5").append("<input type='text' name='selectIds' value='0'/><br>");
	            }else{
	                tmpCnt = parseInt(jQuery("form[name='frm_data5'] input[name='selectIds']").val());
	            }
	            for(var i = 0 ; i < selectIds.length ; i++){           	
	            	
	                if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData5").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData5").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData5").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }
	                if(isProcess){
	                	
	                	var strCustId5 = jQuery("#vrSrchCustId5").val();

	                	jQuery("#formData5").append("<input type='text' name='ARRV_DT"	     +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ARRV_DT","#container").val()+"'/>");                	
	                	jQuery("#formData5").append("<input type='text' name='DPRT_DT"	     +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_DPRT_DT","#container").val()+"'/>");                	
	                    jQuery("#formData5").append("<input type='text' name='CNTR_TON"	     +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_CNTR_TON","#container").val()+"'/>");
	                    jQuery("#formData5").append("<input type='text' name='SERIAL_NO"     +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_SERIAL_NO","#container").val()+"'/>");
	                    jQuery("#formData5").append("<input type='text' name='COST"	 	     +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_COST","#container").val()+"'/>");
	                    jQuery("#formData5").append("<input type='text' name='ETC" 		     +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ETC","#container").val()+"'/>");                   
	                    jQuery("#formData5").append("<input type='text' name='UNIT_COST"     +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_UNIT_COST","#container").val()+"'/>");
	                    jQuery("#formData5").append("<input type='text' name='TRANS_CUST_ID" +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_TRANS_CUST_ID","#container").val()+"'/>");
	                    jQuery("#formData5").append("<input type='text' name='QTY" 			 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_QTY","#container").val()+"'/>");
	                    jQuery("#formData5").append("<input type='text' name='ACC_SEQ" 	     +tmpCnt+"' value='" + grid.getCell(selectIds[i], "ACC_SEQ") +"'/>"); 
	                    jQuery("#formData5").append("<input type='text' name='CUST_ID" 	     +tmpCnt+"' value='" + strCustId5 +"'/>");
	                    
	                    tmpCnt ++;
	                }
	            }
	            jQuery("form[name='frm_data5'] input[name='selectIds']").val( tmpCnt );
	        }else{
	            if(tmpCnt == 0){
	            	alert("$!lang.getText('save.nodata')");
	                return false;
	            }
	        }
	        var param = jQuery("form[name='frm_data5']").serialize(); 
	        
	        
	        var url = "/WMSAC200/save5.action";
	        jQuery.post(url, param, function(data) {
	            alert(data.MSG);
	            if(data.errCnt <= 0 ){
	            	fn_search5();
	            }
	        }).fail(function(xhr, textStatus){
	    		if(xhr.status == 404){
	    			location.href=('/index.html');
	    		}
	     	});
	        
	    }
	}

	/* 컨테이너하차비 내역 저장 유효성검사 */
	function fn_listValidationE5(){	
		var vrSrchCustId = jQuery("form[name='frm_data5'] input[name='vrSrchCustId5']").val();
		
		// 1. 화주정보는 null 이아니여야한다
		if("" == vrSrchCustId){
			var custId_Text = "$!lang.getText('화주정보')";
			alert("$!message.getMessage('0가없음', '" + custId_Text + "')");
			fn_Popup("CUST5");
			return false;
		}		
		
		// 2. 그리드 유효성검사
		var grid 		= jQuery("#container");
		var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b}); 
		
		var acc_dt_text  = "$!lang.getText('작업일')";	
		
		var tmpText = ["$!lang.getText('작업일')"];
		var tmpId 	= ["ARRV_DT"];
		var tmpVal;
		for(var i = 0 ; i < selectIds.length ; i++){
			var acc_dt  = jQuery("#" + selectIds[i] + "_ARRV_DT", "#container").val();				
			tmpVal = [acc_dt];
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(jQuery.trim(tmpVal[j]) == ""){
					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
					jQuery("#"+selectIds[i] + "_" + tmpId[j], "#container").focus();
					return false;
				}
			}		
		}
		
		return true;
	}
	
	//컨테이너하차비 삭제
	function fn_delete5(){
		var grid = jQuery("#container");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		var tmpCnt = 0;	

		if( selectIds == "" ){
	        alert("$!lang.getText('저장할데이터를선택해주세요')");
	        return false;
	    }
		
		if(confirm("$!lang.getText('삭제하시겠습니까')")){
			if(selectIds != ""){
				
				jQuery("#formData5").html('');
				
				if( jQuery("form[name='frm_data5'] input[name='selectIds']").val() == undefined){
		            jQuery("#formData5").append("<input type='text' name='selectIds' value='0'/><br>");
		        }else{
		            tmpCnt = parseInt(jQuery("form[name='frm_data5'] input[name='selectIds']").val());
		        }
			}
			for(var i = 0 ; i < selectIds.length ; i++){
				
				var strCustID5 = jQuery("#vrSrchCustId5").val();
				
				jQuery("#formData5").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='DELETE'/>");	
				jQuery("#formData5").append("<input type='text' name='ACC_SEQ"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ACC_SEQ") +"'/>");
				jQuery("#formData5").append("<input type='text' name='CUST_ID" +tmpCnt+"' value='"+strCustID5+"'/>");				
				
				tmpCnt++;
			}		
			
			jQuery("form[name='frm_data5'] input[name='selectIds']").val( tmpCnt );
		}else{
			return false;
		}
		
		var param = jQuery("form[name='frm_data5']").serialize();
		var url = "/WMSAC200/save5.action";
		
		jQuery.post(url, param, function(data) {
			alert(data.MSG);
			if(data.errCnt <= 0 ){			
				fn_search5();					
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				location.href=('/index.html'); // 메인창 로그인화면 이동처리			
			}
		});
	}
</script>