<div class="patternWrap">
	<form name="frm_mn_list_2">
		<table class="search" id="srchBox" border="0">
			<colgroup>
			    <col width="80px"/>
				<col width="78px"/> 
				<col width="35%"/>
				<col width="80px"/> 
				<col width="35%"/>
				<col width="80px"/> 
				<col width="25%"/>
				<col width="30px"/>
				<col width="40px"/>	
			</colgroup>
			
			<tr>
			#if($adminInfo.getCustId() == $ss_user_gb)
				<th  class="thBar">$!lang.getText("화주")</th>
				<td colspan="2">
					<input type="text" class="readOnly" name="vrSrchCustCd" id="vrSrchCustCd2" style="width:42%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId2" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="vrSrchCustNm" id="vrSrchCustNm2" style="width:42%" readonly="readonly" value="$ss_cmpy_name" />
				</td>
			#else
				<th  class="thBar">$!lang.getText('화주')</th>
				<td colspan="2">
					<input type="text" class = "text" style="width: 42%" name="vrSrchCustCd" id="vrSrchCustCd2" onChange="vrSrchCustCd_OnKillFocus('A')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST2");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId2"> 
					<input type="text" class = "text" style="width: 42%" name="vrSrchCustNm" id="vrSrchCustNm2" onChange="vrSrchCustNm_OnKillFocus('A')"> 
				</td>
			#end
				<th>$!lang.getText("작업일자")</th>
				<td>		
					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom2" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom2)" /> 
<!-- 					<input type="text" class="text" style="width:35%;" size="12" name="vrSrchReqDtTo4" id="vrSrchReqDtTo4" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo4)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo4)"/>	 -->
				</td>
				<th class="thBar">$!lang.getText("상품군")</th>
				<td>
					<select name="vrSrchItemGrpId" id="vrSrchItemGrpId2" class="selectbox">
						<option value="">$!lang.getText("전체")</option>
						<option value="N/A">$!lang.getText("미지정")</option>
						#foreach($row in $ITEMGRP)
						<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
						#end
					</select>
				</td>		
				<td></td>
				<th class="btnSearch" rowspan="2">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search2();" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr>
			<tr>	
				<th class="thBar">$!lang.getText('상품')</th>
				<td>
					$!comCode.getComboComCode("ITEM_TY", "vrSrchItemType4", "", true, "$!lang.getText('전체')", "", "","class='selectbox'")
				</td>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd2" onChange="vrSrchItemCd_OnKillFocus('A')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM2");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchItemId" id="vrSrchItemId2"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm2" onChange="vrSrchItemNm_OnKillFocus('A')"> 
				</td>
				
				<th>$!lang.getText("임가공여부")</th>
					<td>
						$!comCode.getComboComCode("COM09", "S_SET_ITEM_YN2", "", true, "$!lang.getText('전체')", "", "","class='selectbox' style='width:80px'")
				</td>
				
				<td></td>
				<td></td>
				<td></td>						
			</tr>
		</table>	
	</form>
	
		<div class="btnArea">
			<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel" name="btn_write" onclick="fn_excelDownE02();" role="button" aria-disabled="false"/>
			</div>
		</div>
	
	<div class="list_box">
		<table id="manageSend"></table>
		<div id="manageSend_pjmap"></div>
	</div>
	
	<form name = "frm_data2">
		<div id = "formData2" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<!-- The Modal -->
<!-- 	<div id="myModal7" class="modal"> -->
<!-- 	    <span class="close" onclick="close7()">&times;</span> -->
<!-- 	    <img class="modal-content" id="img07"> -->
<!-- 	    <div id="caption"></div> -->
<!-- 	</div> -->
</div>
<script type="text/javascript">
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))

	var manageSendGrid = new ULNSI_jQGrid();

	/* 그리드 공통화 적용 시작- detailGrid */
	// 그리드 컬럼명 
	var colNameArray_managesend = [
	                           'CHK_BOX',
				               'ST_GUBUN',
// 				               '',
				               'FLAG',
				               
				               '$!lang.getText("품목코드")',
	                           '$!lang.getText("품목명")',
	                           
	                           '$!lang.getText("전월 말일 재고")',
	                           '$!lang.getText("입고수량")',
	                           '$!lang.getText("출고수량")',
	         	               '$!lang.getText("말일 재고")',
	                           
	                           '$!lang.getText("UOM")',
	         	               '$!lang.getText("화주코드")',
	         	               '$!lang.getText("화주명")',
	                           
	                           '$!lang.getText("입출고수량")',
	                           '$!lang.getText("UNIT명")',
	                           '$!lang.getText("단가")',
	                           '$!lang.getText("금액")'
	                           
	                          ];
	// 그리드 컬럼 정의		          
	var colModelArray_managesend = [
			{name:'CHK_BOX',		   index:'CHK_BOX',						   hidden:true },
			{name:'ST_GUBUN',		   index:'ST_GUBUN',					   hidden:true},
// 			{name:'ST_GUBUN_IMG',	   index:'ST_GUBUN_IMG',		width:20,  align:"center"},
			{name:'FLAG',			   index:'FLAG',						   hidden:true},
			
			{name:'RITEM_CD',		   	 index:'RITEM_CD',		    width:100, align:"center"},
			{name:'RITEM_NM',		  	 index:'RITEM_NM',		    width:240,  align:"left"},
			{name:'LAST_MONTH_STOCK',	 index:'LAST_MONTH_STOCK',	width:100, align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'IN_QTY',		   		 index:'IN_QTY',			width:100, align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'OUT_QTY',		     index:'OUT_QTY',		    width:100, align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'LAST_DAY_STOCK',		 index:'LAST_DAY_STOCK',	width:100, align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'UOM_CD',		   	   	 index:'UOM_CD',		    width:100, align:"center"},
			{name:'CUST_CD',		     index:'CUST_CD',		   	width:100, align:"center"},
			{name:'CUST_NM',		     index:'CUST_NM',		   	width:100, align:"center"},
			{name:'INOUT_QTY',		   	 index:'INOUT_QTY',		    width:100, align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}},
			{name:'UNIT_NM',		   	 index:'UNIT_NM',		    width:100, align:"center"},
			{name:'UNIT_AMT',		   	 index:'UNIT_AMT',		    width:100, align:"center"},
			{name:'AMT',		  	 	 index:'AMT',			    width:100, align:"center"}
		];
		
	var option_managesend = {
		'title' : '$!lang.getText("월별재고내역")',
		'height' : 460,
		'width' : '100%',
		'colName' : colNameArray_managesend,
		'colModel' : colModelArray_managesend,
	    'pager' : jQuery("#manageSend_pjmap"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
        'rowList' : [1000,2000,3000],
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40,
        'footerrow' 	: true,     // 합계
		'userDataOnFooter' : true   // 합계
	   
	};
	
	var param = jQuery("form[name='frm_mn_list_2']").serialize();
	var url = "/WMSST051/listMn.action?"+param;
	
	function loadCompleteEventCallback2(data) {		
		var grid     = jQuery("#manageSend");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();

		var SUM_LAST_MONTH_STOCK = 0;
		var SUM_IN_QTY = 0;
		var SUM_OUT_QTY = 0;
		var SUM_LAST_DAY_STOCK = 0;
		var SUM_INOUT_QTY = 0;
		
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산
// 			SUM_QT = SUM_QT + Number(gridData[i].QT_IO_MM);
			SUM_LAST_MONTH_STOCK		 = SUM_LAST_MONTH_STOCK + Number(gridData[i].LAST_MONTH_STOCK);
			SUM_IN_QTY					 = SUM_IN_QTY + Number(gridData[i].IN_QTY);
			SUM_OUT_QTY 				 = SUM_OUT_QTY + Number(gridData[i].OUT_QTY);
			SUM_LAST_DAY_STOCK 			 = SUM_LAST_DAY_STOCK + Number(gridData[i].LAST_DAY_STOCK);
			SUM_INOUT_QTY 				 = SUM_INOUT_QTY + Number(gridData[i].INOUT_QTY);
			//css 변경
		}
		
		//합계처리 변수 셋업
		var footData = {
				RITEM_CD : "$!lang.getText('합계')"
			   ,LAST_MONTH_STOCK	: SUM_LAST_MONTH_STOCK
			   ,IN_QTY				: SUM_IN_QTY		
			   ,OUT_QTY				: SUM_OUT_QTY		
			   ,LAST_DAY_STOCK		: SUM_LAST_DAY_STOCK		
			   ,INOUT_QTY			: SUM_INOUT_QTY		
			   };
		grid.jqGrid('footerData','set', footData);
	}
	
	manageSendGrid.init(jQuery("#manageSend"), option_managesend, url, loadCompleteEventCallback2);
	
	//체크박스 선택
	
	//월별재고내역 
	function fn_search2(op,op1) {		
		
		/* 조회조건 화주코드가 없을 경우 */
 		if(!fn_chkInitCustId2()){return;}
		
		var lc_id = jQuery("select[name='SVC_INFO']").val();
// 		var param = jQuery("form[name='frm_listPool']").serialize()+ "&LC_ID="+lc_id;
		
		var param = jQuery("form[name='frm_mn_list_2']").serialize()+ "&LC_ID="+lc_id;
		var url = "/WMSAC210/list.action?"+param;
		
		manageSendGrid.search(param, url, op, op1);
		
	}
	
	/* 조회조건 화주 체크*/
	function fn_chkInitCustId2(){
		if(jQuery("#vrSrchCustId2").val() == "" || jQuery("#vrSrchCustId2").val().length == 0){
			fn_Popup("CUST2");
			return false;
		}
		return true;
	}
	
	/*엑셀다운 */
	function fn_excelDownE02(){
		var grid = jQuery("#frm_mn_list_2");
		var sidx =  grid.getGridParam('sortname');
		var sord = grid.getGridParam('sortorder');
		
		var lc_id = jQuery("select[name='SVC_INFO']").val();
		var param = "?sidx="+sidx+"&sord="+sord+ "&LC_ID="+lc_id;
		
	    var fm = document.frm_mn_list_2;
	    var countRow = jQuery("#manageSend").getDataIDs().size();
	    
	    if(countRow == 0){
	        alert('$!lang.getText("excel.down.nodata")');
	        return;
	    } else if(countRow > 60000) {
	        alert('$!lang.getText("excel.down.maxrow")');
	        return;
	    } else {
	        fm.action="/WMSST051/excelDownE02.action"+param;
	        fm.method="post";
	        fm.submit();
	    }  
	}
	
</script>