<!-- WMSAC010E2.vm 원본파일 보관소스 입니다 WMSAC010E2.vm의 수정일자 20170109-->
<!-- WMSAC010E2.vm 원본파일 보관소스 입니다 WMSAC010E2.vm의 수정일자 20170109-->
<!-- WMSAC010E2.vm 원본파일 보관소스 입니다 WMSAC010E2.vm의 수정일자 20170109-->

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('청구단가계약')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />


<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

</head>

<body>
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

var vrContId;
var vrCustId;
var vrNewBtnGb;

jQuery(document).ready(function(){
	/* button */
	jQuery("input:button").button();
	
	/* 파라미터 */
	vrContId   = "$!request.getParameter('vrContId')";
	vrCustId   = "$!request.getParameter('vrCustId')";
	vrNewBtnGb = "$!request.getParameter('vrNewBtnGb')";
	
	/* datepicker */
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrSrchReqDtFrom'] , input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 입고예정일 날짜 셋팅 */
	var vrSrchReqDt = (new Date()).getFormattedString("YYYY-MM-DD");
	jQuery("input[name='vrSrchReqDtFrom'] , input[name='vrSrchReqDtTo']").val(vrSrchReqDt);
	
	
	/* 입차목록 시작 */
	var colNameArray = [
	                     'FLAG'
	                    ,'CHK_BOX'
	                    ,'ST_GUBUN'
	                    ,' '
	                    
	                    ,'$!lang.getText("서비스")'		//SERVICE_CD
	                    ,'$!lang.getText("상품코드")'		//RITEM_CD
	                    ,''								//RITEM_POP
	                    ,'$!lang.getText("상품명")'		//RITEM_NM
	                    ,'UOM'							//UOM_NM
	                    ,'UOM_CD'							//UOM_CD
	                    ,'$!lang.getText("단가")'		//UNIT_AMT
	                    
	                    ,'CONT_ID'
	                    ,'CONT_DETAIL_ID'
	                    ,'RITEM_ID'
	                    ,'UOM_ID'
	                    ,'FREE_TIME_DAY'
	                  ];
	          
   	var colModelArray = [
						 {name : 'FLAG'				,index : 'FLAG'				,hidden : true}
						,{name : 'CHK_BOX'			,index : 'CHK_BOX'			,hidden : true}
		            	,{name : 'ST_GUBUN'			,index : 'ST_GUBUN'			,hidden : true}
		            	,{name : 'ST_GUBUN_IMG'		,index : 'ST_GUBUN_IMG'		,width : 10		,align : "center"	,sortable : false}
   	                     
						,{name : 'SERVICE_CD'		,index : 'SERVICE_CD'		,width : 100	,align : "center"	,editable : true	,formatter : 'select'	,edittype : "select"	,editoptions : {$!comCode.getGridComboComCode("ACC02", true, "$!lang.getText('선택')")}}
						,{name : 'RITEM_CD'			,index : 'RITEM_CD'			,width : 100	,align : "center"	,editable : true	,cellattr : function (rowId, val, rawObject, cm, rdata) { return 'onChange = "gridItemCd_OnKillFocus('+rowId+')"'; }}	
						,{name : 'RITEM_POP'		,index : 'RITEM_POP'		,width : 20		,align : "center"	,formatter : fn_gridFormatter}
						,{name : 'RITEM_NM'			,index : 'RITEM_NM'			,width : 100}
						
						,{name : 'UOM_NM'			,index : 'UOM_NM'			,width : 100	,hidden : false}
						,{name : 'UOM_CD'			,index : 'UOM_CD'			,width : 100	,hidden : true}
						,{name : 'UNIT_AMT'			,index : 'UNIT_AMT'			,width : 100	,align : "right"	,editable : true	,editoptions : {maxlength : 10}	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue : ""}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_UNIT_AMT\')"' }}
					
						,{name : 'CONT_ID'			,index : 'CONT_ID'			,hidden : true}
						,{name : 'CONT_DETAIL_ID'	,index : 'CONT_DETAIL_ID'	,hidden : true}
						,{name : 'RITEM_ID'			,index : 'RITEM_ID'			,hidden : true}
						,{name : 'UOM_ID'			,index : 'UOM_ID'			,hidden : true}
						,{name : 'FREE_TIME_DAY'	,index : 'FREE_TIME_DAY'	,hidden : true}
					 ];

	var option = {
			 		'title'		: "$!lang.getText('청구산출상세목록')"
				  ,'height'		: 280
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap1')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
				  ,'rowList' 	: [20,40,60]
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				 };
	        
	var url = "";
	if(vrContId != ""){
		url ="/WMSAC010E2/listSub.action?vrContId=" + vrContId;
		fn_searchDetail();	//상단셋팅
	}else{
		jQuery("form[name='frm_list'] input[name='vrSaleBuyGb']	").val('S');	//매출매입구분
	}
	
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){	
			fn_errCheck(err); // 메인창 로그인화면 이동처리
			javascript:self.close(); // 팝업창 닫기
		}
	};
	
	listGrid.init(jQuery("#list1"), option, url, '', loadErrorCallback);
	
	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
	
	/* 페이지로딩 시 화주정보 popup */
	if(!fn_custPopValidation()){return;}
});

//-->
//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){	
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}
//팝업 3개이상 일때 세션 소멸 처리
function fn_pop_err(arr){
	var info = arr[0];	
	if(info.err != ""){
		var opnr_func = eval("opener.fn_pop_err");
		var arr2 	= new Array();
		var info2 = new Object();
		info2.err = info.err;
		arr2[0]= info2;
		if(arr2 != null){
 		opnr_func(arr2);
 	}
		javascript:self.close();
	}
}
//--------------------------------------------------------------------------------자동완성-------------------------------------------------------------------------------------//
/*
    srchKey : 명명            :구현: 파라미터 명
  ----------------------------------------------------------------------------------
	CAR     : 차량            : O : vrSrchCarCd , vrSrchCarNm(X)
	CENTER  : 물류센터      : O : vrSrchCenterCd, vrSrchCenterNm
	CLIENT  : 고객사         : O : vrSrchCustCd, vrSrchCustNm, srchSubCode3, srchSubCode4
	                         (srchSubCode3 => 100 : 고객사, 104 : 물류센터, 108 : 거래처 ) 
	CUST    : 화주            : O : vrSrchCustCd, vrSrchCustNm
	DEPT    : 부서            : O : vrSrchDeptCd, vrSrchDeptNm
	DOCK    : 도크            : O : vrSrchDockCd, vrSrchDockNo, vrSrchDockNm
	EMPLOY  : 사원            : O : vrSrchEmployCd, vrSrchEmployNm
	ITEM    : 상품            : O : vrSrchItemCd, vrSrchItemNm
	LOCATION : 로케이션    : O : vrSrchLocCd, vrSrchLocId
	UOM     : UOM      : O : vrSrchUomCd, vrSrchUomNm
	USER    : 사용자         : O : vrSrchUserId, vrSrchUserNm, srchSubCode3, srchSubCode5
	WH      : 창고            : O : vrSrchWhCd, vrSrchWhNm
	ZONE    : 존               : O : vrSrchZoneId, vrSrchZoneNm
 */
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------// 
/* 화주코드 입력 */
function vrCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrCustId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrCustIdHide"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrCustId"]').val("");
				jQuery('form[name="frm_list"] input[name="vrCustIdHide"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrCustId"]').val("");
		jQuery('form[name="frm_list"] input[name="vrCustIdHide"]').val("");
	}
}

/* 화주명 입력 */
function vrCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrCustId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrCustIdHide"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrCustId"]').val("");
				jQuery('form[name="frm_list"] input[name="vrCustIdHide"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrCustId"]').val("");
		jQuery('form[name="frm_list"] input[name="vrCustIdHide"]').val("");
	}
}

/* 계약부서코드 입력 */
function vrContDeptCd_OnKillFocus(){
	var cust_Text = "$!lang.getText('화주정보')";
	var vrSrchCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
	if("" == vrSrchCustId){
		alert("$!message.getMessage('0가없음', '" + cust_Text + "')");
		jQuery('form[name="frm_list"] input[name="vrDeptCd"]').val("");
		fn_Popup("CUST");
		return false;
	}
	var vrSrchDeptCd = jQuery('form[name="frm_list"] input[name="vrContDeptCd"]').val();
	if( vrSrchDeptCd != "" ){
		var srchKey = "DEPT";
		var param   = "srchKey=" + srchKey + "&vrSrchDeptCd=" + vrSrchDeptCd + "&vrSrchCustId=" +vrSrchCustId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.DEPT;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				
				var vrCustCd = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
				var vrCustNm = jQuery("form[name='frm_list'] input[name='vrCustNm']").val();
				strParameter.push(vrSrchCustId);
				strParameter.push(vrCustCd);
				strParameter.push(vrCustNm);
				
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM014C&strParameter=" + strParameter;
				var url    = "/WMSCM014.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrContDeptCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrContDeptNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrContDeptId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrContDeptCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrContDeptNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrContDeptId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrContDeptCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrContDeptNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrContDeptId"]').val("");
	}
}

/* 계약부서명 입력 */
function vrContDeptNm_OnKillFocus(){
	var cust_Text = "$!lang.getText('화주정보')";
	var vrSrchCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
	if("" == vrSrchCustId){
		alert("$!message.getMessage('0가없음', '" + cust_Text + "')");
		jQuery('form[name="frm_list"] input[name="vrDeptNm"]').val("");
		fn_Popup("CUST");
		return false;
	}
	var vrSrchDeptNm = jQuery('form[name="frm_list"] input[name="vrContDeptNm"]').val();
	if( vrSrchDeptNm != "" ){
		var srchKey = "DEPT";
		var param   = "srchKey=" + srchKey + "&vrSrchDeptNm=" + vrSrchDeptNm + "&vrSrchCustId=" +vrSrchCustId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.DEPT;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				
				var vrCustCd = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
				var vrCustNm = jQuery("form[name='frm_list'] input[name='vrCustNm']").val();
				strParameter.push(vrSrchCustId);
				strParameter.push(vrCustCd);
				strParameter.push(vrCustNm);
				
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM014C&strParameter=" + strParameter;
				var url    = "/WMSCM014.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrContDeptCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrContDeptNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrContDeptId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrContDeptCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrContDeptNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrContDeptId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrContDeptCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrContDeptNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrContDeptId"]').val("");
	}
}

/* 계약사원코드 입력 */
function vrContEmpCd_OnKillFocus(){
	var dept_Text = "$!lang.getText('부서정보')";
	var vrSrchDeptId   = jQuery("form[name='frm_list'] input[name='vrContDeptId']").val();
	if("" == vrSrchDeptId){
		alert("$!message.getMessage('0가없음', '" + dept_Text + "')");
		jQuery('form[name="frm_list"] input[name="vrContEmpCd"]').val("");
		fn_Popup("DEPTC");
		return false;
	}
	
	var vrSrchEmployCd = jQuery('form[name="frm_list"] input[name="vrContEmpCd"]').val();
	if( vrSrchEmployCd != "" ){
		var srchKey = "EMPLOY";
		var param   = "srchKey=" + srchKey + "&vrSrchEmployCd=" + vrSrchEmployCd + "&vrSrchDeptId=" + vrSrchDeptId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.EMPLOY;
			var cnt  = data.size();
			if( cnt > 1 ){
				var vrCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
				var strParameter = [];
				strParameter.push(vrCustId);
				strParameter.push(vrSrchDeptId);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM015C&strParameter=" + strParameter ;
				var url    = "/WMSCM015.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrContEmpCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrContEmpNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrContEmpId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrContEmpCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrContEmpNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrContEmpId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrContEmpCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrContEmpNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrContEmpId"]').val("");
	}
}

/* 계약사원명 입력 */
function vrContEmpNm_OnKillFocus(){
	var dept_Text = "$!lang.getText('부서정보')";
	var vrSrchDeptId   = jQuery("form[name='frm_list'] input[name='vrContDeptId']").val();
	if("" == vrSrchDeptId){
		alert("$!message.getMessage('0가없음', '" + dept_Text + "')");
		jQuery('form[name="frm_list"] input[name="vrContEmpNm"]').val("");
		fn_Popup("DEPTC");
		return false;
	}
	
	var vrSrchEmployNm = jQuery('form[name="frm_list"] input[name="vrContEmpNm"]').val();
	if( vrSrchEmployNm != "" ){
		var srchKey = "EMPLOY";
		var param   = "srchKey=" + srchKey + "&vrSrchEmployNm=" + vrSrchEmployNm + "&vrSrchDeptId=" + vrSrchDeptId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.EMPLOY;
			var cnt  = data.size();
			if( cnt > 1 ){
				var vrCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
				var strParameter = [];
				strParameter.push(vrCustId);
				strParameter.push(vrSrchDeptId);
				strParameter.push('');
				strParameter.push(vrSrchEmployNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM015C&strParameter=" + strParameter ;
				var url    = "/WMSCM015.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrContEmpCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrContEmpNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrContEmpId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrContEmpCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrContEmpNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrContEmpId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrContEmpCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrContEmpNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrContEmpId"]').val("");
	}
}


/* 실적부서코드 입력 */
function vrRealDeptCd_OnKillFocus(){
	var cust_Text = "$!lang.getText('화주정보')";
	var vrSrchCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
	if("" == vrSrchCustId){
		alert("$!message.getMessage('0가없음', '" + cust_Text + "')");
		jQuery('form[name="frm_list"] input[name="vrDeptCd"]').val("");
		fn_Popup("CUST");
		return false;
	}
	var vrSrchDeptCd = jQuery('form[name="frm_list"] input[name="vrRealDeptCd"]').val();
	if( vrSrchDeptCd != "" ){
		var srchKey = "DEPT";
		var param   = "srchKey=" + srchKey + "&vrSrchDeptCd=" + vrSrchDeptCd + "&vrSrchCustId=" +vrSrchCustId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.DEPT;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				
				var vrCustCd = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
				var vrCustNm = jQuery("form[name='frm_list'] input[name='vrCustNm']").val();
				strParameter.push(vrSrchCustId);
				strParameter.push(vrCustCd);
				strParameter.push(vrCustNm);
				
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM014R&strParameter=" + strParameter;
				var url    = "/WMSCM014.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrRealDeptCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrRealDeptNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrRealDeptId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrRealDeptCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrRealDeptNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrRealDeptId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrRealDeptCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrRealDeptNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrRealDeptId"]').val("");
	}
}

/* 실적부서명 입력 */
function vrRealDeptNm_OnKillFocus(){
	var cust_Text = "$!lang.getText('화주정보')";
	var vrSrchCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
	if("" == vrSrchCustId){
		alert("$!message.getMessage('0가없음', '" + cust_Text + "')");
		jQuery('form[name="frm_list"] input[name="vrDeptNm"]').val("");
		fn_Popup("CUST");
		return false;
	}
	var vrSrchDeptNm = jQuery('form[name="frm_list"] input[name="vrRealDeptNm"]').val();
	if( vrSrchDeptNm != "" ){
		var srchKey = "DEPT";
		var param   = "srchKey=" + srchKey + "&vrSrchDeptNm=" + vrSrchDeptNm + "&vrSrchCustId=" +vrSrchCustId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.DEPT;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				
				var vrCustCd = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
				var vrCustNm = jQuery("form[name='frm_list'] input[name='vrCustNm']").val();
				strParameter.push(vrSrchCustId);
				strParameter.push(vrCustCd);
				strParameter.push(vrCustNm);
				
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM014R&strParameter=" + strParameter;
				var url    = "/WMSCM014.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrRealDeptCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrRealDeptNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrRealDeptId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrRealDeptCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrRealDeptNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrRealDeptId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrRealDeptCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrRealDeptNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrRealDeptId"]').val("");
	}
}

/* 실적사원코드 입력 */
function vrRealEmpCd_OnKillFocus(){
	var dept_Text = "$!lang.getText('부서정보')";
	var vrSrchDeptId 	= jQuery("form[name='frm_list'] input[name='vrRealDeptId']").val();
	if("" == vrSrchDeptId){
		alert("$!message.getMessage('0가없음', '" + dept_Text + "')");
		jQuery('form[name="frm_list"] input[name="vrRealEmpCd"]').val("");
		fn_Popup("DEPTR");
		return false;
	}
		
	var vrSrchEmployCd 	= jQuery('form[name="frm_list"] input[name="vrRealEmpCd"]').val();
	if( vrSrchEmployCd != "" ){
		var srchKey = "EMPLOY";
		var param   = "srchKey=" + srchKey + "&vrSrchEmployCd=" + vrSrchEmployCd + "&vrSrchDeptId=" + vrSrchDeptId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.EMPLOY;
			var cnt  = data.size();
			if( cnt > 1 ){
				var vrCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
				var strParameter = [];
				strParameter.push(vrCustId);
				strParameter.push(vrSrchDeptId);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM015R&strParameter=" + strParameter ;
				var url    = "/WMSCM015.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrRealEmpCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrRealEmpNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrRealEmpId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrRealEmpCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrRealEmpNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrRealEmpId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrRealEmpCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrRealEmpNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrRealEmpId"]').val("");
	}
}

/* 실적사원명 입력 */
function vrRealEmpNm_OnKillFocus(){
	var dept_Text = "$!lang.getText('부서정보')";
	var vrSrchDeptId 	= jQuery("form[name='frm_list'] input[name='vrRealDeptId']").val();
	if("" == vrSrchDeptId){
		alert("$!message.getMessage('0가없음', '" + dept_Text + "')");
		jQuery('form[name="frm_list"] input[name="vrRealEmpNm"]').val("");
		fn_Popup("DEPTR");
		return false;
	}
	
	var vrSrchEmployNm  = jQuery('form[name="frm_list"] input[name="vrRealEmpNm"]').val();
	if( vrSrchEmployNm != "" ){
		var srchKey = "EMPLOY";
		var param   = "srchKey=" + srchKey + "&vrSrchEmployNm=" + vrSrchEmployNm + "&vrSrchDeptId=" + vrSrchDeptId;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.EMPLOY;
			var cnt  = data.size();
			if( cnt > 1 ){
				var vrCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
				var strParameter = [];
				strParameter.push(vrCustId);
				strParameter.push(vrSrchDeptId);
				strParameter.push('');
				strParameter.push(vrSrchEmployNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM015R&strParameter=" + strParameter ;
				var url    = "/WMSCM015.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrRealEmpCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrRealEmpNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrRealEmpId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrRealEmpCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrRealEmpNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrRealEmpId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrRealEmpCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrRealEmpNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrRealEmpId"]').val("");
	}
}


/* 그리드상품코드 */
function gridItemCd_OnKillFocus(id){
	var cust_Text = "$!lang.getText('화주정보')";
	var vrSrchCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
	if("" == vrSrchCustId){
		alert("$!message.getMessage('0가없음', '" + cust_Text + "')");
		jQuery("#"+ id + "_RITEM_CD", "#list1").val("");
		fn_Popup("CUST");
		return false;
	}
	
	var grid = jQuery("#list1");
	var vrSrchItemCd = jQuery("#"+ id + "_RITEM_CD","#list1").val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				jQuery("input[name='GRID_ID']").val(id);
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				strParameter.push('');
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrCustId']").val());
				strParameter.push('');
				strParameter.push('');
				strParameter.push('Y');
				var width  = "800";
				var height = "530";
				param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				url = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery("#"+ id + "_RITEM_CD", "#list1").val(data[0].CODE);
				grid.setCell(id, 'RITEM_NM', data[0].NAME); 
				grid.setCell(id, 'RITEM_ID', data[0].ID);
				
				grid.setCell(id, 'UOM_ID', data[0].UOM_ID);
				grid.setCell(id, 'UOM_CD', data[0].UOM_CD);
				grid.setCell(id, 'UOM_NM', data[0].UOM_NM);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("#"+ id + "_RITEM_CD", "#list1").val("").focus();
				grid.setCell(id, 'RITEM_NM', ' '); 
				grid.setCell(id, 'RITEM_ID', ' '); 
				
				grid.setCell(id, 'UOM_ID', ' ');
				grid.setCell(id, 'UOM_CD', ' ');
				grid.setCell(id, 'UOM_NM', ' ');
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("#"+ id + "_RITEM_CD", "#list1").val("");
		grid.setCell(id, 'RITEM_NM', ' '); 
		grid.setCell(id, 'RITEM_ID', ' '); 
		
		grid.setCell(id, 'UOM_ID', ' ');
		grid.setCell(id, 'UOM_CD', ' ');
		grid.setCell(id, 'UOM_NM', ' ');
	}
}

/* 그리드UOM코드 */
function gridUomCd_OnKillFocus(id){
	var grid = jQuery("#list1");
	var vrSrchUomCd = jQuery("#"+ id + "_UOM_CD","#list1").val()
	if( vrSrchUomCd != "" ){
		var srchKey = "UOM";
		var param   = "srchKey=" + srchKey + "&vrSrchUomCd=" + vrSrchUomCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.UOM;
			var cnt  = data.size();
			if( cnt > 1 ){
				jQuery("input[name='GRID_ID']").val(id);
				var strParameter = [];
				var width  = "800";
				var height = "530";
				param = '?func=fn_setWMSCM100&strParameter='+strParameter;
				url = "/WMSCM100.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery("#"+ id + "_UOM_CD", "#list1").val(data[0].CODE);
				grid.setCell(id, 'UOM_ID', data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("#"+ id + "_UOM_CD", "#list1").val("").focus();
				grid.setCell(id, 'UOM_ID', ' ');
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				fn_errCheck(err); // 메인창 로그인화면 이동처리
				javascript:self.close(); // 팝업창 닫기
			}
		});
	}else{
		jQuery("#"+ id + "_UOM_CD", "#list1").val("");
		grid.setCell(id, 'UOM_ID', ' ');
	}
}	 
//--------------------------------------------------------------------------------팝--업--------------------------------------------------------------------------------------//
/*
	팝업 호출			:	fn_Popup
	화주 팝업후		:	fn_setWMSMS011
	계약부서 팝업후		:	fn_setWMSCM014C
	계약사원 팝업후		:	fn_setWMSCM015C
	실적부서 팝업후		:	fn_setWMSCM014R
	실적사원 팝업후		:	fn_setWMSCM015R
	그리드 상품 팝업후	:	fn_setWMSCM091
	그리드 UOM 팝업후	:	fn_setWMSCM100
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/* 팝업 호출 */
function fn_Popup(type, id){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";
	
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//화주
			param = "?func=fn_setWMSMS011";
			url = "/WMSCM011.action" + param;
			break;
		case 'DEPTC':	//계약부서
			var cust_Text = "$!lang.getText('화주정보')";
			var vrCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
			if("" == vrCustId){
				alert("$!message.getMessage('0가없음', '" + cust_Text + "')");
				fn_Popup("CUST");
				return false;
			}
			var vrCustCd = jQuery("form[name='frm_list'] input[name='vrCustCd']").val();
			var vrCustNm = jQuery("form[name='frm_list'] input[name='vrCustNm']").val();
			strParameter.push(vrCustId);
			strParameter.push(vrCustCd);
			strParameter.push(vrCustNm);
			
			param = "?func=fn_setWMSCM014C&strParameter="+strParameter;	
			url = "/WMSCM014.action" + param;
			
			break;
		case 'EMPC':	//계약사원
			var dept_Text = "$!lang.getText('부서정보')";
			var vrDeptId = jQuery("form[name='frm_list'] input[name='vrContDeptId']").val();
			if("" == vrDeptId){
				alert("$!message.getMessage('0가없음', '" + dept_Text + "')");
				fn_Popup("DEPTC");
				return false;
			}
			
			var vrCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
			
			strParameter.push(vrCustId);
			strParameter.push(vrDeptId);
			
			param = "?func=fn_setWMSCM015C&strParameter="+strParameter;
			url = "/WMSCM015.action" + param;
			break;
		case 'DEPTR':	//실적부서
			var cust_Text = "$!lang.getText('화주정보')";
			var vrCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
			if("" == vrCustId){
				alert("$!message.getMessage('0가없음', '" + cust_Text + "')");
				fn_Popup("CUST");
				return false;
			}
			
			var vrCustCd = jQuery("form[name='frm_list'] input[name='vrCustCd']").val();
			var vrCustNm = jQuery("form[name='frm_list'] input[name='vrCustNm']").val();
			strParameter.push(vrCustId);
			strParameter.push(vrCustCd);
			strParameter.push(vrCustNm);
			
			param = "?func=fn_setWMSCM014R&strParameter="+strParameter;
			url = "/WMSCM014.action" + param;
			
			break;
		case 'EMPR':	//실적사원
			var dept_Text = "$!lang.getText('부서정보')";
			var vrDeptId = jQuery("form[name='frm_list'] input[name='vrRealDeptId']").val();
			if("" == vrDeptId){
				alert("$!message.getMessage('0가없음', '" + dept_Text + "')");
				fn_Popup("DEPTR");
				return false;
			}

			var vrCustId = jQuery("form[name='frm_list'] input[name='vrCustId']").val();
			
			strParameter.push(vrCustId);
			strParameter.push(vrDeptId);
			
			param = "?func=fn_setWMSCM015R&strParameter="+strParameter;
			url = "/WMSCM015.action" + param;
			break;
		case 'ITEM'	: //그리드 아이템			
			var cust_Text = "$!lang.getText('화주정보')";
			if("" == jQuery("form[name='frm_list'] input[name='vrCustId']").val() && vrNewBtnGb != 2){
				alert("$!message.getMessage('0가없음', '" + cust_Text + "')");
				fn_Popup('CUST');
				return false;
			}else{
				jQuery("input[name='GRID_ID']").val(id);
				fn_gridSelect(id);
				
				strParameter.push('');
				strParameter.push('');
				strParameter.push(jQuery("form[name='frm_list'] input[name='vrCustId']").val());
				strParameter.push('');
				strParameter.push('');
				strParameter.push('Y');
				param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				url = "/WMSAC010E4.action" + param;
				break;
			}
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 화주 팝업 후 처리 */
function fn_setWMSMS011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrCustId"]').val(info.cust_id);
	jQuery('form[name="frm_list"] input[name="vrCustIdHide"]').val(info.cust_id);
	//화주팝업 선택 후 그리드 초기화
	//listGrid.deleteRow();
}

/* 계약부서 팝업 후 처리 */
function fn_setWMSCM014C(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrContDeptCd"]').val(info.dept_cd);
	jQuery('form[name="frm_list"] input[name="vrContDeptNm"]').val(info.dept_nm);
	jQuery('form[name="frm_list"] input[name="vrContDeptId"]').val(info.dept_id);
}

/* 계약사원 팝업 후 처리 */
function fn_setWMSCM015C(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrContEmpCd"]').val(info.local_employee_cd);
	jQuery('form[name="frm_list"] input[name="vrContEmpNm"]').val(info.employee_nm);
	jQuery('form[name="frm_list"] input[name="vrContEmpId"]').val(info.employee_id);
}

/* 실적부서 팝업 후 처리 */
function fn_setWMSCM014R(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrRealDeptCd"]').val(info.dept_cd);
	jQuery('form[name="frm_list"] input[name="vrRealDeptNm"]').val(info.dept_nm);
	jQuery('form[name="frm_list"] input[name="vrRealDeptId"]').val(info.dept_id);
}

/* 실적사원 팝업 후 처리 */
function fn_setWMSCM015R(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrRealEmpCd"]').val(info.local_employee_cd);
	jQuery('form[name="frm_list"] input[name="vrRealEmpNm"]').val(info.employee_nm);
	jQuery('form[name="frm_list"] input[name="vrRealEmpId"]').val(info.employee_id);
}

/* 그리드 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var grid = jQuery("#list1");
	var id	 = jQuery("input[name='GRID_ID']").val();
	var info = arr[0];

	jQuery("#"+ id + "_RITEM_CD", "#list1").val(info.item_code);
	grid.setCell(id, 'RITEM_NM'	, info.item_kor_nm);	
	grid.setCell(id, 'RITEM_ID'	, info.ritem_id);

	grid.setCell(id, 'UOM_ID', info.uom_id);
	grid.setCell(id, 'UOM_CD', info.uom_cd);
	grid.setCell(id, 'UOM_NM', info.uom_nm);
}

/* 그리드 UOM 팝업 후 처리 */
function fn_setWMSCM100(arr){
	var grid = jQuery("#list1");
	var id	 = jQuery("input[name='GRID_ID']").val();
	var info = arr[0];	
	jQuery("#"+ id + "_UOM_CD", "#list1").val(info.uom_cd);
	grid.setCell(id, 'UOM_ID', info.uom_id);
}

//-------------------------------------------------------------------------------- 메  인 -------------------------------------------------------------------------------------//
/*
	그리드 포맷		:	fn_gridFormatter
	상단디테일정보셋팅	:	fn_searchDetail				:	셋팅	
	정산일 팝업		:	fn_accDt
	
	저장				:	fn_save
	삭제				:	fn_delete
	신규				:	fn_new
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

/* 팝업버튼 포맷터*/
function fn_gridFormatter(value, option, row){
	switch(option.pos){
		case 8:
			return '<img src="/img/exam/btn/ico_search.gif" onClick="fn_Popup('+"'ITEM'"+','+option.rowId+');" />';
	}
}

/* 상단 디테일정보 셋팅 */
function fn_searchDetail(){
	var url 	= "/WMSAC010E2/listSubDetail.action";
	var param 	= "vrContId="+jQuery("form[name='frm_list'] input[name='vrContId']").val();

	//상세조회
	jQuery.post(url, param, function(data){
		var detail = data.DETAIL;
		
		jQuery("form[name='frm_list'] input[name='vrSaleBuyGb']	").val(detail.SALE_BUY_GBN);	//매출매입구분
		jQuery("form[name='frm_list'] input[name='vrConfYn']	").val(detail.CONF_YN);			//확인여부
		
		jQuery("form[name='frm_list'] input[name='vrCustCd']	").val(detail.CUST_CD);			//화주
		jQuery("form[name='frm_list'] input[name='vrCustId']	").val(detail.CUST_ID);			//화주
		jQuery("form[name='frm_list'] input[name='vrCustNm']	").val(detail.CUST_NM);			//화주
		jQuery("form[name='frm_list'] input[name='vrSrchReqDtFrom']	").val(detail.APPLY_FR_DT);		//계약기간
		jQuery("form[name='frm_list'] input[name='vrSrchReqDtTo']	").val(detail.APPLY_TO_DT);		//계약기간
		jQuery("form[name='frm_list'] input[name='vrAccStd']	").val(detail.ACC_STD);			//정산기준
		
		jQuery("form[name='frm_list'] input[name='vrContDeptCd']").val(detail.CONT_DEPT_CD);	//계약부서
		jQuery("form[name='frm_list'] input[name='vrContDeptId']").val(detail.CONT_DEPT_ID);	//계약부서
		jQuery("form[name='frm_list'] input[name='vrContDeptNm']").val(detail.CONT_DEPT_NM);	//계약부서
		jQuery("form[name='frm_list'] input[name='vrContEmpCd']	").val(detail.CONT_EMPLOYEE_CD);//계약사원
		jQuery("form[name='frm_list'] input[name='vrContEmpId']	").val(detail.CONT_EMPLOYEE_ID);//계약사원
		jQuery("form[name='frm_list'] input[name='vrContEmpNm']	").val(detail.CONT_EMPLOYEE_NM);//계약사원
		jQuery("form[name='frm_list'] input[name='vrPayCd']		").val(detail.PAY_CD);			//결제방법
		jQuery("form[name='frm_list'] input[name='vrRoundCd']	").val(detail.ROUND_CD);		//반올림
		
		jQuery("form[name='frm_list'] input[name='vrRealDeptCd']").val(detail.REAL_DEPT_CD);	//실적부서
		jQuery("form[name='frm_list'] input[name='vrRealDeptId']").val(detail.REAL_DEPT_ID);	//실적부서
		jQuery("form[name='frm_list'] input[name='vrRealDeptNm']").val(detail.REAL_DEPT_NM);	//실적부서
		jQuery("form[name='frm_list'] input[name='vrRealEmpCd']	").val(detail.REAL_EMPLOYEE_CD);//실적사원
		jQuery("form[name='frm_list'] input[name='vrRealEmpId']	").val(detail.REAL_EMPLOYEE_ID);//실적사원
		jQuery("form[name='frm_list'] input[name='vrRealEmpNm']	").val(detail.REAL_EMPLOYEE_NM);//실적사원
		jQuery("form[name='frm_list'] input[name='vrPayDay']	").val(detail.PAY_DAY);			//결제일
		jQuery("form[name='frm_list'] input[name='vrEndCutCd']	").val(detail.END_CUT_CD);		//끝전단위	
	});
}

/* grid 선택 */
function fn_gridSelect(id){
	//선택되 있지않을때 환산이력의 UOM을 변경햇을시 자동으로 선택되도록 셋팅한다.
	var grid = jQuery("#list1");
	if(grid.getCell(id, 'CHK_BOX') != "Yes"){
		jQuery("#jqg_list1_"+id).attr("checked",true); 
		grid.setCell(id, 'CHK_BOX', "Yes"); 
		grid.editRow(id);
		if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid.setStatus(id, "INSERT");
		}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid.setStatus(id, "UPDATE");
		}
		grid.setSelection(id, true);
	}
}

/* 정산일 팝업 */
function fn_accDt(){
	var grid = jQuery("#list1");
	//CONT_ID 가 반드시 설정되어 있어야 한다. 
	var vrContId = grid.getCell(1, 'CONT_ID');
	
	param = '?vrContId='+vrContId;
	url = "/WMSAC010E3.action" + param;
	
	var width 		 = "500";
	var height 		 = "530";
	var asppop = cfn_openPop2(url, "fn_accDtPopup", width, height);
	asppop.focus();
}

/* 청구산출상세 목록 저장 */
function fn_save(){
	var grid = jQuery("#list1");
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var isProcess   = false;
    var delCnt 		= 0 ;
    var iuCnt 		= 0 ;
    var tmpCnt 		= 0 ;
    if(selectIds == ""){
        alert(strings['grid.no_check_data_for_save']);
        return false;
    }
    
	//유효성검사
	// ACCOUNT_ITEM ??
// 	if(cfn_chkVld(dsSub)){ 
// 		alert("신규버튼을 통해 하단의 단가를 설정하세요!!!");
// 		return; 
// 	} 
	
    if(confirm(strings['grid.confirm_save'])){
    	jQuery("#formData").html("");
    	
		//삭제될 데이터 카운팅해서 저장할공간 append
        if( jQuery("form[name='frm_list'] input[name='D_selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='D_selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	delCnt = parseInt(jQuery("form[name='frm_list'] input[name='D_selectIds']").val());
        }
        
		//등록이나 수정될 데이터 카운팅해서 저장할공간 append
        if( jQuery("form[name='frm_list'] input[name='I_selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='I_selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
        	iuCnt = parseInt(jQuery("form[name='frm_list'] input[name='I_selectIds']").val());
        }
		
        for(var i = 0 ; i < selectIds.length ; i++){
            if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='D_ST_GUBUN"+delCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='I_ST_GUBUN"+iuCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='I_ST_GUBUN"+iuCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }
            
            if(isProcess){
            	if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
					jQuery("#formData").append("<input type='text' name='D_CONT_DETAIL_ID"+delCnt+"'  value='"+grid.getCell(selectIds[i], "CONT_DETAIL_ID")+"'/>");
					delCnt ++;
            	}else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) || "INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN"))){
            		jQuery("#formData").append("<input type='text' name='I_CONT_DETAIL_ID"	+iuCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "CONT_DETAIL_ID"))	+"'/>");
            		jQuery("#formData").append("<input type='text' name='I_RITEM_ID"		+iuCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "RITEM_ID"))		+"'/>");
            		jQuery("#formData").append("<input type='text' name='I_UOM_ID"			+iuCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "UOM_ID"))		+"'/>");
            		jQuery("#formData").append("<input type='text' name='I_FREE_TIME_DAY"	+iuCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "FREE_TIME_DAY"))		+"'/>");
            		
            		jQuery("#formData").append("<input type='text' name='I_SERVICE_CD"		+iuCnt+"' value='"+cfn_trim(jQuery("#"+selectIds[i] + "_SERVICE_CD","#list1").val())+"'/>");
            		jQuery("#formData").append("<input type='text' name='I_UNIT_AMT"		+iuCnt+"' value='"+cfn_trim(jQuery("#"+selectIds[i] + "_UNIT_AMT","#list1").val())+"'/>");
            		
            		iuCnt ++;
            	}
            }
        }
        jQuery("form[name='frm_list'] input[name='D_selectIds']").val( delCnt );
   		jQuery("form[name='frm_list'] input[name='I_selectIds']").val( iuCnt );
   		
		var param 	= jQuery("form[name='frm_list']").serialize();
		var url 	= "/WMSAC010/saveSub.action";
		
		jQuery.post(url, param, function(data){
			alert(data.MSG);
			var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
			var  page = jQuery("#list1").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
			if(data.errCnt <= 0 ){
				var arg_func = jQuery("input[name='func']").val();
	      		var opnr_func = eval("opener." + arg_func);
	      		opnr_func();
	      		self.close();
				//조회
// 				fn_search();
			}
     	}).fail(function(xhr, textStatus){
 			if(xhr.status == 404){	
 				location.href=('/index.html');
 			}
 		});
    }
	
}

/* 신규 */
function fn_new(){
	/* 페이지로딩 시 화주정보 popup */
	if(!fn_custPopValidation()){return;}
	
	listGrid.addRow();
}

/* 삭제 */
function fn_delete(){
	listGrid.deleteRow();
}

/* 검색 */
function fn_search(op, op1){
	//검색조건값을 파라미터로 보낸다.
	jQuery("#formData").html("");
	var param = jQuery("form[name='frm_list']").serialize(); 
	var url = "/WMSAC010E2/listSub.action?"+param;
	listGrid.search(param, url, op, op1);
	
	fn_searchDetail();
}

/* 페이지로딩 시 화주정보 popup */
function fn_custPopValidation(){
	var chkVrCustIdHide = jQuery("form[name='frm_list'] input[name='vrCustIdHide']").val();
	
	if(vrNewBtnGb == 2){
		// vrNewBtnGb == 2 경우 부모창 신규2 버튼으로 화주 필수값 체크를 하지 않는다.
		return true;	
	}else{
		if(chkVrCustIdHide == "" || chkVrCustIdHide.length == 0){
			fn_Popup("CUST");
			return false;
		}	
	}

	return true;
}

</script>

<div class="popupWrap">
	<div class="popupHeader">
        <div class="btnArea marB10">
            <div class="btnAreaLeft">
               	$!lang.getText('청구산출상세')
            </div>
            <div class="btnAreaRight">
				<input type = "button" class = "INS_AUTH UPD_AUTH btnSave" name = "btn_write"	value = "$!lang.getText('저장')"		onclick = "fn_save();"		/>
				<input type = "button" class = "INS_AUTH btnEtc" 					name = "btn_write" 	value = "$!lang.getText('신규')"		onclick = "fn_new();"		/>
				<input type = "button" class = "DEL_AUTH btnDelete" 					name = "btn_write"	value = "$!lang.getText('삭제')"		onclick = "fn_delete();"	/>		
				<input type = "button" class = "btnEtc" value='$!lang.getText("닫기")' onclick="javascript:self.close();"/>
            </div>
        </div>
        <br/>
        <form name="frm_list">
			<input type='hidden' 	name='func' 		id='func'			value='$!request.getParameter("func")'/>
			<input type='hidden' 	name='vrContId'		id='vrContId' 		value='$!request.getParameter("vrContId")'/>
			<input type='hidden' 	name='vrCustIdHide'	id='vrCustIdHide' 	value='$!request.getParameter("vrCustId")'/>
			<input type='hidden'	name='vrSaleBuyGb'	id='vrSaleBuyGb'/>
			<input type='hidden'	name='vrConfYn'		id='vrConfYn'	/>
			<input type='hidden'	name='GRID_ID'		id='GRID_ID'	/>
			<table class="search" id="srchBox">
	            <colgroup>
					<col width = "80px"/>
					<col width = "23%"/>
					<col width = "80px"/>
					<col width = "23%"/>
					<col width = "80px"/>
					<col width = "10%"/>
					<col width = "80px"/>
					<col width = "10%"/>
	            </colgroup>		
	            <tbody>
					<tr>
						<th>$!lang.getText('화주')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrCustCd" id="vrCustCd" onchange="vrCustCd_OnKillFocus()"/> 
							<img src="/img/exam/btn/ico_search.gif" onclick='fn_Popup("CUST");' class="imgSearch"/> 
							<input type="text" class = "text" style="width: 40%" name="vrCustNm" id="vrCustNm" onchange="vrCustNm_OnKillFocus()"/> 
							<input type="hidden" name="vrCustId" id="vrCustId"	value = '$!request.getParameter("vrContId")'/>
						</td>
						<th class="thBar">$!lang.getText('계약기간')</th>
						<td colspan="3">
							<input type="text" class = "text" style="width: 25%" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/>
							~
							<input type="text" class = "text" style="width: 25%" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>
							<input type="button" value = "$!lang.getText('정산일')" onclick = "fn_accDt()"/>		
						</td>
						<th class="thBar">$!lang.getText('정산기준')</th>
						<td>
							$!comCode.getComboComCode("ACC03", "vrAccStd", "", false, "", "", "","class='selectbox'")
						</td>
					</tr>
					
					<tr>
						<th>$!lang.getText('계약부서')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrContDeptCd" id="vrContDeptCd" onchange="vrContDeptCd_OnKillFocus()"/> 
							<img src="/img/exam/btn/ico_search.gif" onclick='fn_Popup("DEPTC");' class="imgSearch"/> 
							<input type="text" class = "text" style="width: 40%" name="vrContDeptNm" id="vrContDeptNm" onchange="vrContDeptNm_OnKillFocus()"/> 
							<input type="hidden" name="vrContDeptId" id="vrContDeptId"/>
						</td>
						<th class="thBar">$!lang.getText('계약사원')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrContEmpCd" id="vrContEmpCd" onchange="vrContEmpCd_OnKillFocus()"/> 
							<img src="/img/exam/btn/ico_search.gif" onclick='fn_Popup("EMPC");' class="imgSearch"/> 
							<input type="text" class = "text" style="width: 40%" name="vrContEmpNm" id="vrContEmpNm" onchange="vrContEmpNm_OnKillFocus()"/> 
							<input type="hidden" name="vrContEmpId" id="vrContEmpId"/>
						</td>
						<th class="thBar">$!lang.getText('결제방법')</th>
						<td>
							$!comCode.getComboComCode("ACC12", "vrPayCd", "", false, "", "", "","class='selectbox'")
						</td>
						<th class="thBar">$!lang.getText('반올림')</th>
						<td>
							$!comCode.getComboComCode("ACC14", "vrRoundCd", "", false, "", "", "","class='selectbox'")
						</td>
					</tr>
					
					<tr>
						<th>$!lang.getText('실적부서')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrRealDeptCd" id="vrRealDeptCd" onchange="vrRealDeptCd_OnKillFocus()"/> 
							<img src="/img/exam/btn/ico_search.gif" onclick='fn_Popup("DEPTR");' class="imgSearch"/> 
							<input type="text" class = "text" style="width: 40%" name="vrRealDeptNm" id="vrRealDeptNm" onchange="vrRealDeptNm_OnKillFocus()"/> 
							<input type="hidden" name="vrRealDeptId" id="vrRealDeptId"/>
						</td>
						<th class="thBar">$!lang.getText('실적사원')</th>
						<td>
							<input type="text" class = "text" style="width: 40%" name="vrRealEmpCd" id="vrRealEmpCd" onchange="vrRealEmpCd_OnKillFocus()"/> 
							<img src="/img/exam/btn/ico_search.gif" onclick='fn_Popup("EMPR");' class="imgSearch"/> 
							<input type="text" class = "text" style="width: 40%" name="vrRealEmpNm" id="vrRealEmpNm" onchange="vrRealEmpNm_OnKillFocus()"/> 
							<input type="hidden" name="vrRealEmpId" id="vrRealEmpId"/>
						</td>
						<th class="thBar">$!lang.getText('결제일')</th>
						<td>
							$!comCode.getComboComCode("ACC09", "vrPayDay", "", false, "", "", "","class='selectbox'")
						</td>
						<th class="thBar">$!lang.getText('끝전단위')</th>
						<td>
							$!comCode.getComboComCode("ACC15", "vrEndCutCd", "", false, "", "", "","class='selectbox'")
						</td>
					</tr>         
	            </tbody>	
			</table>
			
			<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
		</form>
    </div>
    <div class="popupContent">
		<div class="list_box">
			<table id="list1"></table>
			<div id="pjmap1"></div>
		</div>
    </div>
</div>

</body>
</html>