#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분
//  
//   SQL문장 화주검색 없음
// 
////////////////////////////////////

jQuery(document).ready(function(){
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		

	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });	
	
	var inputDt = "input[name='vrSrchReqDtFrom0'], input[name='vrSrchReqDtFrom13'], input[name='vrSrchReqDtFrom15']"
	            + ", input[name='vrSrchReqDtFrom16'], input[name='vrSrchReqDtFrom17'], input[name='vrSrchReqDtFrom3']"
	            + ", input[name='vrSrchReqDtFrom8'], input[name='vrSrchReqDtFrom10']"
								
	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery(inputDt).datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	});	
	
	// 날자 셋팅		
	var vrSrchReqDt = localStorage.LocalTime;
	var getYyyyMm   = vrSrchReqDt.substr(0,7);
	var getLastDay  = getMonthEndDate(Number(vrSrchReqDt.substr(0,4)), Number(vrSrchReqDt.substr(5,2)));	
	
	jQuery("input[name='vrSrchReqDtFrom3']").val(getYyyyMm+"-"+getLastDay);
	jQuery("input[name='vrSrchReqDtTo3']").val(getYyyyMm+"-"+getLastDay);
		
	jQuery("input[name='vrSrchReqDtFrom0']").val(getYyyyMm+"-"+getLastDay);
	jQuery("input[name='vrSrchReqDtTo0']").val(getYyyyMm+"-"+getLastDay);
		
	jQuery("input[name='vrSrchReqDtFrom8']").val(getYyyyMm+"-"+getLastDay);
	jQuery("input[name='vrSrchReqDtTo8']").val(getYyyyMm+"-"+getLastDay);
		
	jQuery("input[name='vrSrchReqDtFrom13']").val(getYyyyMm+"-"+getLastDay);
	jQuery("input[name='vrSrchReqDtTo13']").val(getYyyyMm+"-"+getLastDay);	
		
	jQuery("input[name='vrSrchReqDtFrom15']").val(getYyyyMm+"-"+getLastDay);
	jQuery("input[name='vrSrchReqDtTo15']").val(getYyyyMm+"-"+getLastDay);
	
	jQuery("input[name='vrSrchReqDtFrom16']").val(getYyyyMm+"-"+getLastDay);
	jQuery("input[name='vrSrchReqDtTo16']").val(getYyyyMm+"-"+getLastDay);
	
	jQuery("input[name='vrSrchReqDtFrom17']").val(getYyyyMm+"-"+getLastDay);
	jQuery("input[name='vrSrchReqDtTo17']").val(getYyyyMm+"-"+getLastDay);
	
	jQuery("input[name='vrSrchReqDtFrom10']").val(getYyyyMm+"-"+getLastDay);
	jQuery("input[name='vrSrchReqDtTo10']").val(getYyyyMm+"-"+getLastDay);
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, vrSrchReqDt-1);	

	// button
	jQuery("input:button").button();
	
	jQuery("#saveResult0, #saveResult16, #saveResult17, #saveResult15").hide();
	
});

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(m){
	
	if("P"==m){
		var vrSrchCustCd = jQuery('form[name="frm_listPool"] input[name="vrSrchCustCd3"]').val();
	} else if("Z"==m) {
		var vrSrchCustCd = jQuery('form[name="frm_pp_list"] input[name="vrSrchCustCd0"]').val();
	} else if("G"==m) {
		var vrSrchCustCd = jQuery('form[name="frm_mn_list"] input[name="vrSrchCustCd16"]').val();
	} else if("H"==m) {
		var vrSrchCustCd = jQuery('form[name="frm_st_list"] input[name="vrSrchCustCd8"]').val();
	} else if("L"==m) {
		var vrSrchCustCd = jQuery('form[name="frm_tran_list"] input[name="vrSrchCustCd13"]').val();
	} else if("O"==m) {
		var vrSrchCustCd = jQuery('form[name="frm_return_list"] input[name="vrSrchCustCd15"]').val();
	} else if("Q"==m) {
		var vrSrchCustCd = jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustCd17"]').val();
	} else if("J"==m) {
		var vrSrchCustCd = jQuery('form[name="frm_add_list"] input[name="vrSrchCustCd10"]').val();
	} 
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				if("P"==m){
					var param  = "?func=fn_setWMSCM011_3&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("Z"==m){
					var param  = "?func=fn_setWMSCM011_0&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("G"==m){
					var param  = "?func=fn_setWMSCM011_16&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("H"==m){
					var param  = "?func=fn_setWMSCM011_8&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("L"==m){
					var param  = "?func=fn_setWMSCM011_13&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("O"==m){
					var param  = "?func=fn_setWMSCM011_15&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("Q"==m){
					var param  = "?func=fn_setWMSCM011_17&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("J"==m){
					var param  = "?func=fn_setWMSCM011_10&strParameter=" + strParameter + "&stBtnYn=N";					
				}
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				if("P"==m){
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustCd3"]').val(data[0].CODE);
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustNm3"]').val(data[0].NAME);
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val(data[0].ID);
				}else if("Z"==m){
					jQuery('form[name="frm_pp_list"] input[name="vrSrchCustCd0"]').val(data[0].CODE);
					jQuery('form[name="frm_pp_list"] input[name="vrSrchCustNm0"]').val(data[0].NAME);
					jQuery('form[name="frm_pp_list"] input[name="vrSrchCustId0"]').val(data[0].ID);
				}else if("G"==m){
					jQuery('form[name="frm_mn_list"] input[name="vrSrchCustCd16"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list"] input[name="vrSrchCustNm16"]').val(data[0].NAME);
					jQuery('form[name="frm_mn_list"] input[name="vrSrchCustId16"]').val(data[0].ID);
				}else if("H"==m){
					jQuery('form[name="frm_st_list"] input[name="vrSrchCustCd8"]').val(data[0].CODE);
					jQuery('form[name="frm_st_list"] input[name="vrSrchCustNm8"]').val(data[0].NAME);
					jQuery('form[name="frm_st_list"] input[name="vrSrchCustId8"]').val(data[0].ID);
				}else if("L"==m){
					jQuery('form[name="frm_tran_list"] input[name="vrSrchCustCd13"]').val(data[0].CODE);
					jQuery('form[name="frm_tran_list"] input[name="vrSrchCustNm13"]').val(data[0].NAME);
					jQuery('form[name="frm_tran_list"] input[name="vrSrchCustId13"]').val(data[0].ID);
				}else if("O"==m){
					jQuery('form[name="frm_return_list"] input[name="vrSrchCustCd15"]').val(data[0].CODE);
					jQuery('form[name="frm_return_list"] input[name="vrSrchCustNm15"]').val(data[0].NAME);
					jQuery('form[name="frm_return_list"] input[name="vrSrchCustId15"]').val(data[0].ID);
				}else if("Q"==m){
					jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustCd17"]').val(data[0].CODE);
					jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustNm17"]').val(data[0].NAME);
					jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustId17"]').val(data[0].ID);
				}else if("J"==m){
					jQuery('form[name="frm_add_list"] input[name="vrSrchCustCd10"]').val(data[0].CODE);
					jQuery('form[name="frm_add_list"] input[name="vrSrchCustNm10"]').val(data[0].NAME);
					jQuery('form[name="frm_add_list"] input[name="vrSrchCustId10"]').val(data[0].ID);
				}
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("P"==m){
					jQuery("form[name='frm_listPool'] input[name='vrSrchCustCd3']").val("").focus();
					jQuery("form[name='frm_listPool'] input[name='vrSrchCustNm3']").val("");
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val("");
				}else if("Z"==m){
					jQuery("form[name='frm_pp_list'] input[name='vrSrchCustCd0']").val("").focus();
					jQuery("form[name='frm_pp_list'] input[name='vrSrchCustNm0']").val("");
					jQuery('form[name="frm_pp_list"] input[name="vrSrchCustId0"]').val("");
				}else if("G"==m){
					jQuery("form[name='frm_mn_list'] input[name='vrSrchCustCd16']").val("").focus();
					jQuery("form[name='frm_mn_list'] input[name='vrSrchCustNm16']").val("");
					jQuery('form[name="frm_mn_list"] input[name="vrSrchCustId16"]').val("");
				}else if("H"==m){
					jQuery("form[name='frm_st_list'] input[name='vrSrchCustCd8']").val("").focus();
					jQuery("form[name='frm_st_list'] input[name='vrSrchCustNm8']").val("");
					jQuery('form[name="frm_st_list"] input[name="vrSrchCustId8"]').val("");
				}else if("L"==m){
					jQuery("form[name='frm_tran_list'] input[name='vrSrchCustCd13']").val("").focus();
					jQuery("form[name='frm_tran_list'] input[name='vrSrchCustNm13']").val("");
					jQuery('form[name="frm_tran_list"] input[name="vrSrchCustId13"]').val("");
				}else if("O"==m){
					jQuery("form[name='frm_return_list'] input[name='vrSrchCustCd15']").val("").focus();
					jQuery("form[name='frm_return_list'] input[name='vrSrchCustNm15']").val("");
					jQuery('form[name="frm_return_list"] input[name="vrSrchCustId15"]').val("");
				}else if("Q"==m){
					jQuery("form[name='frm_delivery_list'] input[name='vrSrchCustCd17']").val("").focus();
					jQuery("form[name='frm_delivery_list'] input[name='vrSrchCustNm17']").val("");
					jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustId17"]').val("");
				}else if("J"==m){
					jQuery("form[name='frm_add_list'] input[name='vrSrchCustCd10']").val("").focus();
					jQuery("form[name='frm_add_list'] input[name='vrSrchCustNm10']").val("");
					jQuery('form[name="frm_add_list"] input[name="vrSrchCustId10"]').val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("P"==m){
			jQuery("form[name='frm_listPool'] input[name='vrSrchCustCd3']").val("");
			jQuery("form[name='frm_listPool'] input[name='vrSrchCustNm3']").val("");
			jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val("");				
		}else if("Z"==m){
			jQuery("form[name='frm_pp_list'] input[name='vrSrchCustCd0']").val("");
			jQuery("form[name='frm_pp_list'] input[name='vrSrchCustNm0']").val("");
			jQuery('form[name="frm_pp_list"] input[name="vrSrchCustId0"]').val("");				
		}else if("G"==m){
			jQuery("form[name='frm_mn_list'] input[name='vrSrchCustCd16']").val("");
			jQuery("form[name='frm_mn_list'] input[name='vrSrchCustNm16']").val("");
			jQuery('form[name="frm_mn_list"] input[name="vrSrchCustId16"]').val("");				
		}else if("H"==m){
			jQuery("form[name='frm_st_list'] input[name='vrSrchCustCd8']").val("");
			jQuery("form[name='frm_st_list'] input[name='vrSrchCustNm8']").val("");
			jQuery('form[name="frm_st_list"] input[name="vrSrchCustId8"]').val("");				
		}else if("L"==m){
			jQuery("form[name='frm_tran_list'] input[name='vrSrchCustCd13']").val("");
			jQuery("form[name='frm_tran_list'] input[name='vrSrchCustNm13']").val("");
			jQuery('form[name="frm_tran_list"] input[name="vrSrchCustId13"]').val("");				
		}else if("O"==m){
			jQuery("form[name='frm_return_list'] input[name='vrSrchCustCd15']").val("");
			jQuery("form[name='frm_return_list'] input[name='vrSrchCustNm15']").val("");
			jQuery('form[name="frm_return_list"] input[name="vrSrchCustId15"]').val("");				
		}else if("Q"==m){
			jQuery("form[name='frm_delivery_list'] input[name='vrSrchCustCd17']").val("");
			jQuery("form[name='frm_delivery_list'] input[name='vrSrchCustNm17']").val("");
			jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustId17"]').val("");				
		}else if("J"==m){
			jQuery("form[name='frm_add_list'] input[name='vrSrchCustCd10']").val("");
			jQuery("form[name='frm_add_list'] input[name='vrSrchCustNm10']").val("");
			jQuery('form[name="frm_add_list"] input[name="vrSrchCustId10"]').val("");				
		}
	}
}

/* 화주코드 입력 */
function vrSrchCustNm_OnKillFocus(m){
	
	if("P"==m){
		var vrSrchCustNm = jQuery('form[name="frm_listPool"] input[name="vrSrchCustNm3"]').val();
	} else if("Z"==m) {
		var vrSrchCustNm = jQuery('form[name="frm_pp_list"] input[name="vrSrchCustNm0"]').val();
	} else if("G"==m) {
		var vrSrchCustNm = jQuery('form[name="frm_mn_list"] input[name="vrSrchCustNm16"]').val();
	} else if("H"==m) {
		var vrSrchCustNm = jQuery('form[name="frm_st_list"] input[name="vrSrchCustNm8"]').val();
	} else if("L"==m) {
		var vrSrchCustNm = jQuery('form[name="frm_tran_list"] input[name="vrSrchCustNm13"]').val();
	} else if("O"==m) {
		var vrSrchCustNm = jQuery('form[name="frm_return_list"] input[name="vrSrchCustNm15"]').val();
	} else if("Q"==m) {
		var vrSrchCustNm = jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustNm17"]').val();
	} else if("J"==m) {
		var vrSrchCustNm = jQuery('form[name="frm_add_list"] input[name="vrSrchCustNm10"]').val();
	}
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "560";
				if("P"==m){
					var param  = "?func=fn_setWMSCM011_3&strParameter=" + strParameter + "&stBtnYn=N";
				}else if("Z"==m){
					var param  = "?func=fn_setWMSCM011_0&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("G"==m){
					var param  = "?func=fn_setWMSCM011_16&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("H"==m){
					var param  = "?func=fn_setWMSCM011_8&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("L"==m){
					var param  = "?func=fn_setWMSCM011_13&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("O"==m){
					var param  = "?func=fn_setWMSCM011_15&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("Q"==m){
					var param  = "?func=fn_setWMSCM011_17&strParameter=" + strParameter + "&stBtnYn=N";					
				}else if("J"==m){
					var param  = "?func=fn_setWMSCM011_10&strParameter=" + strParameter + "&stBtnYn=N";					
				}
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				if("P"==m){
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustCd3"]').val(data[0].CODE);
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustNm3"]').val(data[0].NAME);
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val(data[0].ID);
				}else if("Z"==m){
					jQuery('form[name="frm_pp_list"] input[name="vrSrchCustCd0"]').val(data[0].CODE);
					jQuery('form[name="frm_pp_list"] input[name="vrSrchCustNm0"]').val(data[0].NAME);
					jQuery('form[name="frm_pp_list"] input[name="vrSrchCustId0"]').val(data[0].ID);
				}else if("G"==m){
					jQuery('form[name="frm_mn_list"] input[name="vrSrchCustCd16"]').val(data[0].CODE);
					jQuery('form[name="frm_mn_list"] input[name="vrSrchCustNm16"]').val(data[0].NAME);
					jQuery('form[name="frm_mn_list"] input[name="vrSrchCustId16"]').val(data[0].ID);
				}else if("H"==m){
					jQuery('form[name="frm_st_list"] input[name="vrSrchCustCd8"]').val(data[0].CODE);
					jQuery('form[name="frm_st_list"] input[name="vrSrchCustNm8"]').val(data[0].NAME);
					jQuery('form[name="frm_st_list"] input[name="vrSrchCustId8"]').val(data[0].ID);
				}else if("L"==m){
					jQuery('form[name="frm_tran_list"] input[name="vrSrchCustCd13"]').val(data[0].CODE);
					jQuery('form[name="frm_tran_list"] input[name="vrSrchCustNm13"]').val(data[0].NAME);
					jQuery('form[name="frm_tran_list"] input[name="vrSrchCustId13"]').val(data[0].ID);
				}else if("O"==m){
					jQuery('form[name="frm_return_list"] input[name="vrSrchCustCd15"]').val(data[0].CODE);
					jQuery('form[name="frm_return_list"] input[name="vrSrchCustNm15"]').val(data[0].NAME);
					jQuery('form[name="frm_return_list"] input[name="vrSrchCustId15"]').val(data[0].ID);
				}else if("Q"==m){
					jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustCd17"]').val(data[0].CODE);
					jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustNm17"]').val(data[0].NAME);
					jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustId17"]').val(data[0].ID);
				}else if("J"==m){
					jQuery('form[name="frm_add_list"] input[name="vrSrchCustCd10"]').val(data[0].CODE);
					jQuery('form[name="frm_add_list"] input[name="vrSrchCustNm10"]').val(data[0].NAME);
					jQuery('form[name="frm_add_list"] input[name="vrSrchCustId10"]').val(data[0].ID);
				}
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
				if("P"==m){
					jQuery("form[name='frm_listPool'] input[name='vrSrchCustCd3']").val("").focus();
					jQuery("form[name='frm_listPool'] input[name='vrSrchCustNm3']").val("");
					jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val("");
				}else if("Z"==m){
					jQuery("form[name='frm_pp_list'] input[name='vrSrchCustCd0']").val("").focus();
					jQuery("form[name='frm_pp_list'] input[name='vrSrchCustNm0']").val("");
					jQuery('form[name="frm_pp_list"] input[name="vrSrchCustId0"]').val("");
				}else if("G"==m){
					jQuery("form[name='frm_mn_list'] input[name='vrSrchCustCd16']").val("").focus();
					jQuery("form[name='frm_mn_list'] input[name='vrSrchCustNm16']").val("");
					jQuery('form[name="frm_mn_list"] input[name="vrSrchCustId16"]').val("");
				}else if("H"==m){
					jQuery("form[name='frm_st_list'] input[name='vrSrchCustCd8']").val("").focus();
					jQuery("form[name='frm_st_list'] input[name='vrSrchCustNm8']").val("");
					jQuery('form[name="frm_st_list"] input[name="vrSrchCustId8"]').val("");
				}else if("L"==m){
					jQuery("form[name='frm_tran_list'] input[name='vrSrchCustCd13']").val("").focus();
					jQuery("form[name='frm_tran_list'] input[name='vrSrchCustNm13']").val("");
					jQuery('form[name="frm_tran_list"] input[name="vrSrchCustId13"]').val("");
				}else if("O"==m){
					jQuery("form[name='frm_return_list'] input[name='vrSrchCustCd15']").val("").focus();
					jQuery("form[name='frm_return_list'] input[name='vrSrchCustNm15']").val("");
					jQuery('form[name="frm_return_list"] input[name="vrSrchCustId15"]').val("");
				}else if("Q"==m){
					jQuery("form[name='frm_delivery_list'] input[name='vrSrchCustCd17']").val("").focus();
					jQuery("form[name='frm_delivery_list'] input[name='vrSrchCustNm17']").val("");
					jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustId17"]').val("");
				}else if("J"==m){
					jQuery("form[name='frm_add_list'] input[name='vrSrchCustCd10']").val("").focus();
					jQuery("form[name='frm_add_list'] input[name='vrSrchCustNm10']").val("");
					jQuery('form[name="frm_add_list"] input[name="vrSrchCustId10"]').val("");
				}
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     });
	}else{	//없을경우
		if("P"==m){
			jQuery("form[name='frm_listPool'] input[name='vrSrchCustCd3']").val("");
			jQuery("form[name='frm_listPool'] input[name='vrSrchCustNm3']").val("");
			jQuery('form[name="frm_listPool"] input[name="vrSrchCustId3"]').val("");				
		}else if("Z"==m){
			jQuery("form[name='frm_pp_list'] input[name='vrSrchCustCd0']").val("");
			jQuery("form[name='frm_pp_list'] input[name='vrSrchCustNm0']").val("");
			jQuery('form[name="frm_pp_list"] input[name="vrSrchCustId0"]').val("");				
		}else if("G"==m){
			jQuery("form[name='frm_mn_list'] input[name='vrSrchCustCd16']").val("");
			jQuery("form[name='frm_mn_list'] input[name='vrSrchCustNm16']").val("");
			jQuery('form[name="frm_mn_list"] input[name="vrSrchCustId16"]').val("");				
		}else if("H"==m){
			jQuery("form[name='frm_st_list'] input[name='vrSrchCustCd8']").val("");
			jQuery("form[name='frm_st_list'] input[name='vrSrchCustNm8']").val("");
			jQuery('form[name="frm_st_list"] input[name="vrSrchCustId8"]').val("");				
		}else if("L"==m){
			jQuery("form[name='frm_tran_list'] input[name='vrSrchCustCd13']").val("");
			jQuery("form[name='frm_tran_list'] input[name='vrSrchCustNm13']").val("");
			jQuery('form[name="frm_tran_list"] input[name="vrSrchCustId13"]').val("");				
		}else if("O"==m){
			jQuery("form[name='frm_return_list'] input[name='vrSrchCustCd15']").val("");
			jQuery("form[name='frm_return_list'] input[name='vrSrchCustNm15']").val("");
			jQuery('form[name="frm_return_list"] input[name="vrSrchCustId15"]').val("");				
		}else if("Q"==m){
			jQuery("form[name='frm_delivery_list'] input[name='vrSrchCustCd17']").val("");
			jQuery("form[name='frm_delivery_list'] input[name='vrSrchCustNm17']").val("");
			jQuery('form[name="frm_delivery_list"] input[name="vrSrchCustId17"]').val("");				
		}else if("J"==m){
			jQuery("form[name='frm_add_list'] input[name='vrSrchCustCd10']").val("");
			jQuery("form[name='frm_add_list'] input[name='vrSrchCustNm10']").val("");
			jQuery('form[name="frm_add_list"] input[name="vrSrchCustId10"]').val("");				
		}
	}
}

/* 팝업 호출 */
function fn_Popup(type){
	
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "560"
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST0':	//검색 화주
			param = "?func=fn_setWMSCM011_0";
			url = "/WMSCM011.action" + param;
			break;
		case 'CUST13':	//검색 화주
			param = "?func=fn_setWMSCM011_13";
			url = "/WMSCM011.action" + param;
			break;		
		case 'CUST3':	//검색 화주
			param = "?func=fn_setWMSCM011_3";
			url = "/WMSCM011.action" + param;
			break;		
		case 'CUST16':	//검색 화주
			param = "?func=fn_setWMSCM011_16";
			url = "/WMSCM011.action" + param;
			break;
		case 'CUST8':	//검색 화주
			param = "?func=fn_setWMSCM011_8";
			url = "/WMSCM011.action" + param;
			break;		
		case 'CUST15' :
			// 화주조회
			param = "?func=fn_setWMSCM011_15";
			url = "/WMSCM011.action" + param;
			break;
		case 'CUST17' :
			// 화주조회
			param = "?func=fn_setWMSCM011_17";
			url = "/WMSCM011.action" + param;
			break;
		case 'CUST10' :
			// 화주조회
			param = "?func=fn_setWMSCM011_10";
			url = "/WMSCM011.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 매년월 말일자 구하기 */
function getMonthEndDate(year, month) {
    var dt = new Date(year, month, 0);   
    return dt.getDate();
}

function filterAccType(pstrSelectHit, pstrId, pstrCountRow)
{
	/* selectbox 필터처리 */
	var selectSize = jQuery("#"+pstrId+" #"+pstrCountRow+"_ACC_TYPE option").size();	
	var searchHit = [];
	var chk ;
	for(var i = 0 ; i < selectSize ; i++){
		chk = true;
		for(var j = 0 ; j < pstrSelectHit.size() ; j ++){
			if(jQuery("#"+pstrId+" #"+pstrCountRow+"_ACC_TYPE option:eq("+i+")").val() == pstrSelectHit[j]){			
				chk = false;
			}
		}
		if(chk){
			searchHit.push(i);
		}
	}
	for(var i = searchHit.size() ; i > 0 ; i --){
		jQuery("#"+pstrId+" #"+pstrCountRow+"_ACC_TYPE option:eq("+searchHit[i-1]+")").remove();		
	}
}

//입력 필수값 grid 색상강조
function fn_gridColorSet3(id){
	jQuery("#"+id+"_USE_QTY", "#listPool").css("background-color","#FFF2E6");
	jQuery("#"+id+"_UNIT_COST", "#listPool").css("background-color","#FFF2E6");
}

//셀변경 이벤트(부자재일반)
function gridEditCellChange(id){
	
    var grid        = jQuery("#listPool");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});    
    
    for(var i = 0 ; i < selectIds.length ; i++){    
    	grid.setCell(id, "CHK_CHANGE", "Y");
	}   
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-13">1.$!lang.getText("거래명세서")</a></li>			
			<li><a href = "#tabs-16">2.$!lang.getText("임가공내역서")</a></li>	
			<li><a href = "#tabs-0">3.$!lang.getText("보관비내역서")</a></li>
			<li><a href = "#tabs-17">4.$!lang.getText("배송내역서")</a></li>	
			<li><a href = "#tabs-15">5.$!lang.getText("반품내역서")</a></li>	
			<li><a href = "#tabs-3">6.$!lang.getText("부자재사용내역서")</a></li>
			<li><a href = "#tabs-10">7.$!lang.getText("부가서비스내역서")</a></li> 
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
	<div id = "tabs-13">
        #parse("winus/wmsac/WMSAC202E13.vm")
    </div>        
    <div id = "tabs-16">
        #parse("winus/wmsac/WMSAC202E16.vm")
    </div> 
    <div id = "tabs-0">
        #parse("winus/wmsac/WMSAC202E0.vm")
    </div>
    <div id = "tabs-17">
        #parse("winus/wmsac/WMSAC202E17.vm")
    </div>    
    <div id = "tabs-15">
        #parse("winus/wmsac/WMSAC202E15.vm")
    </div>
    <div id = "tabs-3">
        #parse("winus/wmsac/WMSAC202E3.vm")
    </div>
    <div id = "tabs-10">
        #parse("winus/wmsac/WMSAC202E10.vm")
    </div>
</div>	
#parse("winus/common/footer.vm")