<div class="patternWrap">
	<form name="frm_st_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
			    <col width="120px">
			    <col width="20%">
			    <col width="60px">
			    <col width="30%">			    
			    <col width="100px"/>
			    <col width="60px"/>				
			</colgroup>
			
			<tr>				
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("정산년월")</th>
				<td>		
					<input type = "text" class = "text" style="width:43%" name="vrSrchReqDtFrom8" id="vrSrchReqDtFrom8" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom8)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom8), fn_onChangeVrSrchReqDtFrom8()"> 
					<input type = "hidden" class = "text" style="width:36%" name="vrSrchReqDtTo8" id="vrSrchReqDtTo8"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo8)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo8)">
					($!lang.getText("월 단위"))	
				</td>
				#if($adminInfo.getCustId() == $ss_user_gb)
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("화주")</th>
					<td>
						<input type="text" class="readOnly" name="vrSrchCustCd8" id="vrSrchCustCd8" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
						<input type="hidden" name="vrSrchCustId8" id="vrSrchCustId8" value="$ss_cmpy_id"/>
						<input type="text" class="readOnly" name="vrSrchCustNm8" id="vrSrchCustNm8" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
					</td>
				#else
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd8" id="vrSrchCustCd8" onChange="vrSrchCustCd_OnKillFocus('H')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST8");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId8" id="vrSrchCustId8"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm8" id="vrSrchCustNm8" onChange="vrSrchCustNm_OnKillFocus('H')"> 
				</td>
				#end
				<td></td>					
				<th class="btnSearch">
					<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search8();" title="Search" role="button" aria-disabled="false"/>
				</th>
		</table>	
	</form>
	
		<div class="btnArea">
			<div class="btnAreaRight">
				<input type = "button" class = "INS_AUTH btnEtc" 					name = "btn_write" 	value = "$!lang.getText('신규')"		onclick = "fn_new8();"		title="$!lang.getText('신규:입출고비')"/>
				<input type = "button" class = "INS_AUTH  UPD_AUTH btnSave" name = "btn_write"	value = "$!lang.getText('저장')"		onclick = "fn_save8();"		/>
				<input type = "button" value="$!lang.getText('삭제')" class="DEL_AUTH btnDelete"   name="btn_write" onclick="fn_delete8();" role="button" aria-disabled="false"/>
				<!-- <input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"         		 name="btn_write" onclick="fn_excelDown('P');" role="button" aria-disabled="false"/> -->
			</div>
		</div>
	
	<div class="list_box">
		<table id="store"></table>
		<div id="store_pjmap"></div>
	</div>
	
	<form name = "frm_data8">
		<div id = "formData8" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>
<script type="text/javascript">
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))

	var storeGrid = new ULNSI_jQGrid();

	/* 그리드 공통화 적용 시작- storeGrid */
	// 그리드 컬럼명 
	var colNameArray_store = [
	                           'CHK_BOX',
				               'ST_GUBUN',
				               '',
				               'FLAG',				               
				               
				               '$!lang.getText("정산일자")',
	                           	                           
	                           '$!lang.getText("정산구분")',
	                           '$!lang.getText("형태")',
	         	               '$!lang.getText("약정구분")',
	         	               '$!lang.getText("단위")',
	         	               
	         	               '$!lang.getText("시리얼번호")',
	         	               '$!lang.getText("유형")',
	         	               
	                           '$!lang.getText("수량")',
	                           '$!lang.getText("금액")',
	                           '$!lang.getText("비고")',
	                                                      
	                           'CUST_ID',	                           
	                           'ACC_SEQ'
	                          ];
	// 그리드 컬럼 정의		          
	var colModelArray_store = [
			{name:'CHK_BOX',		   index:'CHK_BOX',						   align:"center", hidden:true },
			{name:'ST_GUBUN',		   index:'ST_GUBUN',					   align:"left",   hidden:true},
			{name:'ST_GUBUN_IMG',	   index:'ST_GUBUN_IMG',		width:20,  align:"center"},
			{name:'FLAG',			   index:'FLAG',						   align:"left",   hidden:true},
			
			{name:'ACC_DT',		   	   index:'ACC_DT',		    	width:100, align:"center", editable : true, cellattr : function (rowId) { return 'onkeypress = "cfn_setDateFld(\''+rowId+'ACC_DT\')"' }},
			
			{name:'ACC_TYPE',		   index:'ACC_TYPE',			width:80,  align:"left",   editable : true, formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC17")}},
			{name:'COST_VOLUMN',	   index:'COST_VOLUMN',		    width:80,  align:"left",   editable : true, formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC18")}},
			{name:'COST_CONTRACT',	   index:'COST_CONTRACT',		width:80,  align:"left",   editable : true, formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC19")}},
			{name:'ACC_UNIT',		   index:'ACC_UNIT',			width:80,  align:"left",   editable : true, formatter:'select', edittype : "select", editoptions : {$!comCode.getGridComboComCode("ACC20")}},
			
			{name:'SERIAL_NO',   	   index:'SERIAL_NO',			width:200, align:"center", editable : true},
			{name:'WORK_TYPE',   	   index:'WORK_TYPE',			width:200, align:"center", editable : true},			
			
			{name:'QTY', 			   index:'QTY',   				width:150, align:"right", formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}, editable : true},
			{name:'COST', 			   index:'COST',   				width:150, align:"right", formatter:'integer', formatoptions:{thousandsSeparator:",",	decimalPlaces: 0, defaultValue:''}, editable : true},
			{name:'ETC',   			   index:'ETC',					width:200, align:"center", editable : true},
			
			{name:'CUST_ID',		   index:'CUST_ID',	 align:"left" , hidden:true},			
			{name:'ACC_SEQ', 		   index:'ACC_SEQ',	 align:"left" , hidden:true}
		];
		
	var option_store = {
		'title' : '$!lang.getText("입출고비내역서")',
		'height' : 460,
		'width' : '100%',
		'colName' : colNameArray_store,
		'colModel' : colModelArray_store,
	    'pager' : jQuery("#store_pjmap"),
	    'autowidth' : true,
	    'multiselect' : true,
	    'viewrecords' : true,
	    'gridview' : true,
	    'sortable' : false,
	    #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
        #else
        'rowList' : [100,200,300],
        #end
	    'rownumbers' : true,
	    'shrinkToFit' : false,
	    'rownumWidth' : 40,
        'footerrow' 	: true,     // 합계
		'userDataOnFooter' : true   // 합계
	   
	};
	var param = jQuery("form[name='frm_st_list']").serialize();
	var urlStore = "/WMSAC202/store.action?"+param;
	
	function loadCompleteEventCallback8 (data){		
		
	}
	
	storeGrid.init(jQuery("#store"), option_store, urlStore, loadCompleteEventCallback8);
	
	//체크박스 선택
	storeGrid.setSelectCellEventCallback(function(id, col){
		
		var grid = jQuery("#store");
		
		if(col == 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_store_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				storeGrid.setStatus(id, " ");
				//unSelect chkBox 이슈 이벤트 : 체크박스 해제 시 틀고정 부분 컬럼 스크롤 상단으로 위치하는 크롬 버그 처리
	            jQuery("#store").closest(".ui-jqgrid-bdiv").scrollTop(jQuery("#store").closest(".ui-jqgrid-bdiv").scrollTop() + 1);
			} else {
				jQuery("#jqg_store_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					storeGrid.setStatus(id, "INSERT");
	 			}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
	 				storeGrid.setStatus(id, "UPDATE");
	 			}
			}
		} else if(col != 1) {
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
		
		fn_gridDateSetE8(id);
	});
	
	//입출고비 내역 검색
	function fn_search8(op,op1) {		
		
		/* 조회조건 화주코드가 없을 경우 */
		if(!fn_chkInitCustId8()){return;}
		
		var param = jQuery("form[name='frm_st_list']").serialize();
		var url = "/WMSAC202/store.action?"+param;
		
		storeGrid.search(param, url, op, op1);			
	}
	
	/* 화주 팝업 후 처리 */
	function fn_setWMSCM011_8(arr){
		var info = arr[0];	
		jQuery('form[name="frm_st_list"] input[name="vrSrchCustCd8"]').val(info.cust_cd);
		jQuery('form[name="frm_st_list"] input[name="vrSrchCustNm8"]').val(info.cust_nm);
		jQuery('form[name="frm_st_list"] input[name="vrSrchCustId8"]').val(info.cust_id);
	}
	
	/* 입출고비 날짜 셋팅 */
	function fn_onChangeVrSrchReqDtFrom8(){	
		var vrSrchReqDt = jQuery("input[name='vrSrchReqDtFrom8']").val();
		var getYyyyMm   = vrSrchReqDt.substr(0,7);
		var getLastDay  = getMonthEndDate(Number(vrSrchReqDt.substr(0,4)), Number(vrSrchReqDt.substr(5,2)));
		jQuery("input[name='vrSrchReqDtFrom8']").val(getYyyyMm+"-"+getLastDay);
	}
	
	/* 조회조건 화주 체크*/
	function fn_chkInitCustId8(){
		if(jQuery("#vrSrchCustId8").val() == "" || jQuery("#vrSrchCustId8").val().length == 0){
			fn_Popup("CUST8");
			return false;
		}
		return true;
	}

	/* 신규 - 입출고비 내역 */
	function fn_new8(){
		
		if(jQuery("#vrSrchCustId8").val() == "" || jQuery("#vrSrchCustId8").val().length == 0){
			alert("조회 후 신규 추가 해주세요.");
			return false;
		}
		
		storeGrid.addRow();
		
		var grid = jQuery("#store");
		var countRow = grid.getDataIDs().size();
		fn_gridDateSetE8(countRow);
		
		jQuery("#"+countRow+"_ACC_DT", "#store").focus();
		
		var selectHit = ['003','004','021','022'];
		filterAccType(selectHit,"store", countRow);
	}
	
	function fn_gridDateSetE8(index)
	{
		var vrSrchReqDt = jQuery("input[name='vrSrchReqDtFrom8']").val();
		jQuery("#"+index+"_ACC_DT", "#store").datepicker({dateFormat:"yy-mm-dd", defaultDate:vrSrchReqDt});
	}
	
	//입출고비 내역 저장
	function fn_save8(){	
		
		if(jQuery("#vrSrchCustId8").val() == "" || jQuery("#vrSrchCustId8").val().length == 0){
			alert("[검색조건]화주 정보를 조회해주세요.");
			return false;
		}
		
		var grid        = jQuery("#store");
	    var ids         = grid.getDataIDs();
	    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	    var isProcess   = false;
	    var tmpCnt 		= 0 ;
	    	    
	    if(selectIds == ""){
	        alert("$!lang.getText('save.nodata')");
	        return false;
	    }

	    /* 유효성검사 */
		if(!fn_listValidationE8()){return;}

	    if(confirm("$!lang.getText('update.confirm')")){
	        if(selectIds != ""){
	            jQuery("#formData8").html("");
	            if( jQuery("form[name='frm_data8'] input[name='selectIds']").val() == undefined){
	                jQuery("#formData8").append("<input type='text' name='selectIds' value='0'/><br>");
	            }else{
	                tmpCnt = parseInt(jQuery("form[name='frm_data8'] input[name='selectIds']").val());
	            }
	            for(var i = 0 ; i < selectIds.length ; i++){
	                if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData8").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData8").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
	                    jQuery("#formData8").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	                    isProcess = true;
	                }
	                if(isProcess){
	                	
	                	var strCustId8 = jQuery("#vrSrchCustId8").val();

	                	jQuery("#formData8").append("<input type='text' name='ACC_DT"	 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ACC_DT","#store").val()+"'/>");                	
	                    jQuery("#formData8").append("<input type='text' name='QTY" 		 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_QTY","#store").val()+"'/>");
	                    jQuery("#formData8").append("<input type='text' name='ETC" 				 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ETC","#store").val()+"'/>");
	                    jQuery("#formData8").append("<input type='text' name='ACC_TYPE" 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ACC_TYPE","#store").val() +"'/>");
	                    jQuery("#formData8").append("<input type='text' name='ACC_SEQ" 		 	 +tmpCnt+"' value='" + grid.getCell(selectIds[i], "ACC_SEQ") +"'/>"); 
	                    jQuery("#formData8").append("<input type='text' name='CUST_ID" 			 +tmpCnt+"' value='" + strCustId8 +"'/>");
	                    jQuery("#formData8").append("<input type='text' name='COST_VOLUMN" 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_COST_VOLUMN","#store").val() +"'/>");
	                    jQuery("#formData8").append("<input type='text' name='COST_CONTRACT" 	 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_COST_CONTRACT","#store").val() +"'/>");
	                    jQuery("#formData8").append("<input type='text' name='ACC_UNIT" 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_ACC_UNIT","#store").val() +"'/>");
	                    jQuery("#formData8").append("<input type='text' name='COST" 		 	 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_COST","#store").val() +"'/>");
	                    jQuery("#formData8").append("<input type='text' name='SERIAL_NO" 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_SERIAL_NO","#store").val()+"'/>");	                    
	                    jQuery("#formData8").append("<input type='text' name='WORK_TYPE" 		 +tmpCnt+"' value='" + jQuery("#"+selectIds[i] + "_WORK_TYPE","#store").val()+"'/>");
	                    	                    
	                    tmpCnt ++;
	                }
	            }
	            jQuery("form[name='frm_data8'] input[name='selectIds']").val( tmpCnt );
	        }else{
	            if(tmpCnt == 0){
	            	alert("$!lang.getText('save.nodata')");
	                return false;
	            }
	        }
	        var param = jQuery("form[name='frm_data8']").serialize(); 
	        
	        //*******************//
	        //임가공 저장
	        //*******************//
	        var url = "/WMSAC202/save8.action";        
	        jQuery.post(url, param, function(data) {
	            alert(data.MSG);
	            if(data.errCnt <= 0 ){
	            	fn_search8();
	            }
	        }).fail(function(xhr, textStatus){
	    		if(xhr.status == 404){
	    			location.href=('/index.html');
	    		}
	     	});
	        
	    }
	}

	/* 입출고비 내역 저장 유효성검사 */
	function fn_listValidationE8(){	
		var vrSrchCustId = jQuery("form[name='frm_data8'] input[name='vrSrchCustId8']").val();
		var vrSrchReqDtFrom  = jQuery("#vrSrchReqDtFrom8").val();		
		var vrSrchReqDtYM = vrSrchReqDtFrom.substring(0,4) + vrSrchReqDtFrom.substring(5,7);
		
		// 1. 화주정보는 null 이아니여야한다
		if("" == vrSrchCustId){
			var custId_Text = "$!lang.getText('화주정보')";
			alert("$!message.getMessage('0가없음', '" + custId_Text + "')");
			fn_Popup("CUST8");
			return false;
		}		
		
		// 2. 그리드 유효성검사
		var grid 		= jQuery("#store");
		var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b}); 
		
		var acc_dt_text  = "$!lang.getText('정산일')";	
		
		var tmpText = ["$!lang.getText('정산일')"];
		var tmpId 	= ["ACC_DT", "ACC_DT"];
		var tmpVal;
		var acc_dt    = "";
		var strYYYYMM = "";
		
		for(var i = 0 ; i < selectIds.length ; i++){
			acc_dt    = jQuery("#" + selectIds[i] + "_ACC_DT", "#store").val();
			strYYYYMM = acc_dt.substring(0,4) + acc_dt.substring(5,7);
			
			tmpVal = [acc_dt, strYYYYMM];
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(jQuery.trim(tmpVal[j]) == ""){
					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
					jQuery("#"+selectIds[i] + "_" + tmpId[j], "#store").focus();
					return false;
				}
				
				if (tmpVal[1] != vrSrchReqDtYM)
				{
					alert(selectIds[i] + "번째 열 정산일자가 [조회조건]정산년월에 포함되지 않습니다.");
					jQuery("#"+selectIds[i] + "_" + tmpId[1]  ,"#store").focus();
					return false;
				}
			}		
		}
		
		return true;
	}
	
	//입출고비 삭제
	function fn_delete8(){
		var grid = jQuery("#store");
		var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
		var tmpCnt = 0;	

		if( selectIds == "" ){
	        alert("$!lang.getText('삭제할데이터를선택해주세요')");
	        return false;
	    }
		
		if(confirm("$!lang.getText('삭제하시겠습니까')")){
			if(selectIds != ""){
				
				jQuery("#formData8").html('');
				
				if( jQuery("form[name='frm_data8'] input[name='selectIds']").val() == undefined){
		            jQuery("#formData8").append("<input type='text' name='selectIds' value='0'/><br>");
		        }else{
		            tmpCnt = parseInt(jQuery("form[name='frm_data8'] input[name='selectIds']").val());
		        }
			}
			for(var i = 0 ; i < selectIds.length ; i++){
				
				var strCustId8 = jQuery("#vrSrchCustId8").val();
				
				jQuery("#formData8").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='DELETE'/>");	
				jQuery("#formData8").append("<input type='text' name='ACC_SEQ" +tmpCnt+"' value='"+grid.getCell(selectIds[i], "ACC_SEQ") +"'/>");
				jQuery("#formData8").append("<input type='text' name='CUST_ID" +tmpCnt+"' value='"+strCustId8+"'/>");				
				
				tmpCnt++;
			}		
			
			jQuery("form[name='frm_data8'] input[name='selectIds']").val( tmpCnt );
		}else{
			return false;
		}
		
		var param = jQuery("form[name='frm_data8']").serialize();
		var url = "/WMSAC202/save7.action";
		
		jQuery.post(url, param, function(data) {
			alert(data.MSG);
			if(data.errCnt <= 0 ){			
				fn_search8();					
			}
		}).fail(function(xhr, textStatus, err){
			if(xhr.status == 404){
				location.href=('/index.html'); // 메인창 로그인화면 이동처리			
			}
		});
	}
</script>