<style type="text/css">
.no-border {width:100%; border:0px; background-color:transparent;}
</style>
<div class="patternWrap">
	<form name="frm_listE02">
		<table class="search" id="srchBox" >
			<colgroup>
				<col width = "120px"/>
				<col width = "25%"/>
				<col width = "120px"/>
				<col width = "20%"/>
				<col width = "160px"/>
				<col width = "25%"/>
				<col width = "75px"/>
			</colgroup>
			<tr>
				<th>$!comCode.getComboComCode("DATE_GB", "vrSrchDateGb", "", false, "", "", "","class='selectbox vrSrchDateGb' style='width:90%;' ")</th>
				<td>
					<input type="text" class="text vrSrchReqDtFrom"	id="vrSrchReqDtFromE02" style="width: 31.5%" name="vrSrchReqDtFromE02" maxlength="10" onkeydown="cfn_setDateFld(this)" onChange="cfn_onChangeDateFld(this)"/>
					 ~ 
					<input type="text" class="text vrSrchReqDtTo"id="vrSrchReqDtToE02" style="width: 31.2%" name="vrSrchReqDtToE02" maxlength="10" onkeydown="cfn_setDateFld(this)"  onChange="cfn_onChangeDateFld(this)"/>
				</td>
			#if($adminInfo.getCustId() == $ss_user_gb)
				<th  class="thBar">$!lang.getText("화주")</th>
				<td>
					<input type="text" class="readOnly" name="vrSrchCustCd" id="vrSrchCustCd" style="width:46%" readonly="readonly" value="$ss_cmpy_code"/>
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"/>
					<input type="text" class="readOnly" name="vrSrchCustNm" id="vrSrchCustNm" style="width:46%" readonly="readonly" value="$ss_cmpy_name" />
				</td>
			#else
				<th  class="thBar">$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style="width: 46%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocusE02()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUSTE02");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
					<input type="text" class = "text" style="width: 46%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocusE02()"> 
				</td>
			#end
				<th  class="thBar">$!lang.getText('정산센터')</th>
				<td>
					<select name='vrSrchLcIdE02' id='vrSrchLcIdE02' class="form-select" style="width: 60%;">
						<option value="">$!lang.getText("전체")</option>
						#foreach($row in $LCLIST)
						<option value="$row.LC_ID">$!lang.getText($row.LC_NM)</option>
						#end
					</select>
				</td>
				<th class="btnSearch" rowspan='5'>
					<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search_E02();" title="검색" 	role="button" aria-disabled="false"/>	
				</th>
			</tr>
			<tr>
				<th class="thBar">$!lang.getText('상품')</th>
				<td>
					<input type="text" class="text vrSrchRitemCd" style="width: 33%" name="vrSrchRitemCd" readOnly="readOnly"/>
					<input type="text" class="text"	style="width: 6%; margin-left: -5px; text-align: center; cursor: pointer; border-left: 0px solid;"
						readOnly="readOnly" value="x" onClick="fn_removeInput('vrSrchRitemCdE02');"/> 
					<img src="/img/exam/btn/ico_search.gif"	onClick='fn_Popup("ITEME02");' class="imgSearch" /> 
					<input type="text" class="text vrSrchRitemNm" style="width: 34%" name="vrSrchRitemNm" readOnly="readOnly"> 
					<input type="hidden" name="vrSrchRitemId" class="vrSrchRitemId"/>
				</td>
				<th>$!lang.getText('수취인')</th>
				<td>
					<input type="text" class ="text" name= "vrSrchSalesCustNmE02" id ="vrSrchSalesCustNmE02"/>	
				</td>
				<th>$!lang.getText('전화번호')</th>
				<td>
					$!comCode.getComboComCode("AREA_CD", "vrSrchPhoneFront", "010", true, "$!lang.getText('직접입력')", "", "","class='selectbox' style='width:16%'") 
					<input type="text" class="text vrSrchPhone" name="vrSrchPhone" style="width: 43%" />
				</td>
			</tr>	
			<tr>
				<th class="thBar">$!lang.getText('거래배송사')</th>
				<td>
					<input type="text" class="text vrSrchTransCustNm" name="vrSrchTransCustNm" readonly="readonly" style="width: 67.1%" />
					<input type="text" class="text"	style="width: 6%; margin-left: -5px; text-align: center; cursor: pointer; border-left: 0px solid;"
						readOnly="readOnly" value="x" onClick="fn_removeInput('vrSrchTransCustNm');">
					<img src="/img/exam/btn/ico_search.gif" class="imgSearch btnVrSrchTransCustNm" name="btnVrSrchTransCustNm">
				</td>
				<th>$!lang.getText('고객주문번호')</th>
				<td>
					<input type="text" class="text vrSrchOrgOrdId" name="vrSrchOrgOrdId" />
				</td>
				<th></th>
				<td></td>
			</tr>	
			<tr>
				<th>$!lang.getText('배송상태')</th>
				<td>
					<input type="hidden" name="chkDlvStatCnt" class="chkDlvStatCnt" value="0" /> 
					<input type="checkbox" name="chkDlvStatAll" class="chkDlvStatAll" onClick="fn_chkDlvStatAll();">
					$!lang.getText("전체") 
					<input type="checkbox" name="chkDlvStat09" class="chkDlvStat09"> 
					<input type="hidden" name="vrDlvStat09" class="vrDlvStat09" value="09" /> 
					<input class="textDlvStat09" value="$!lang.getText('배송보류')" size="7" readOnly="readOnly" 
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkDlvStat10" class="chkDlvStat10">
					<input type="hidden" name="vrDlvStat10" class="vrDlvStat10"	value="10" /> 
					<input class="textDlvStat10" value="$!lang.getText('배송대기')" size="7" readOnly="readOnly" 
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkDlvStat20" class="chkDlvStat20">
					<input type="hidden" name="vrDlvStat20" class="vrDlvStat20"	value="20" /> 
					<input class="textDlvStat20" value="$!lang.getText('배송출발')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkDlvStat99" class="chkDlvStat99">
					<input type="hidden" name="vrDlvStat99" class="vrDlvStat99" value="99" /> 
					<input class="textDlvStat99" value="$!lang.getText('배송완료')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkDlvStat80" class="chkDlvStat80">
					<input type="hidden" name="vrDlvStat80" class="vrDlvStat80" value="80" /> 
					<input class="textDlvStat80" value="$!lang.getText('미배송')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkDlvStat89"	class="chkDlvStat89"> 
					<input type="hidden" name="vrDlvStat89" class="vrDlvStat89" value="89" /> 
					<input class="textDlvStat89" value="$!lang.getText('취소요청')" size="7" readOnly="readOnly" 
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkDlvStat87" class="chkDlvStat87">
					<input type="hidden" name="vrDlvStat87" class="vrDlvStat87" value="87" /> 
					<input class="textDlvStat87" value="$!lang.getText('초도불량')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">
						
					<input type="checkbox" name="chkDlvStat21" class="chkDlvStat21">
					<input type="hidden" name="vrDlvStat21" class="vrDlvStat21" value="21" /> 
					<input class="textDlvStat21" value="$!lang.getText('출발후취소')" size="7" readOnly="readOnly"
						style="border: none;  width:60px; vertical-align: middle; line-height: 15px;">
					<input type="checkbox" name="chkDlvStat30" class="chkDlvStat30">
					<input type="hidden" name="vrDlvStat30" class="vrDlvStat30" value="30" /> 
					<input class="textDlvStat30" value="$!lang.getText('현장취소')" size="7" readOnly="readOnly"
						style="border: none;  width:60px; vertical-align: middle; line-height: 15px;">
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>$!lang.getText('등록구분')</th>
				<td>
					<input type="hidden" name="chkInsertGbCnt" class="chkInsertGbCnt" value="0" /> 
					<input type="checkbox" name="chkDlvInsertGbAll" class="chkDlvInsertGbAll"	onClick="fn_chkDlvInsertGbAll();">
					$!lang.getText("전체") 
					<input type="checkbox" name="chkInsertGb00"	class="chkInsertGb00"> 
					<input type="hidden" name="vrInsertGb00" class="vrInsertGb00" value="00" /> 
					<input class="textInsertGb00" value="$!lang.getText('출고')" size="7"	readOnly="readOnly"	
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb05"	class="chkInsertGb05"> 
					<input type="hidden" name="vrInsertGb05" class="vrInsertGb05" value="05" /> 
					<input class="textInsertGb05" value="$!lang.getText('AS출고')" size="7"	readOnly="readOnly"	
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb57" class="chkInsertGb57">
					<input type="hidden" name="vrInsertGb57" class="vrInsertGb57" value="57" /> 
					<input class="textInsertGb57" value="$!lang.getText('결합출고')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb47" class="chkInsertGb47">
					<input type="hidden" name="vrInsertGb47" class="vrInsertGb47" value="47" /> 
					<input class="textInsertGb47" value="$!lang.getText('전시출고')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb07" class="chkInsertGb07">
					<input type="hidden" name="vrInsertGb07" class="vrInsertGb07" value="07" /> 
					<input class="textInsertGb07" value="$!lang.getText('택배출고')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb27" class="chkInsertGb27">
					<input type="hidden" name="vrInsertGb27" class="vrInsertGb27" value="27" /> 
					<input class="textInsertGb27" value="$!lang.getText('교환회수')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb37" class="chkInsertGb37">
					<input type="hidden" name="vrInsertGb37" class="vrInsertGb37" value="37" /> 
					<input class="textInsertGb37" value="$!lang.getText('교환출고')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb23" class="chkInsertGb23">
					<input type="hidden" name="vrInsertGb23" class="vrInsertGb23" value="23" /> 
					<input class="textInsertGb23" value="$!lang.getText('반품회수')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb28" class="chkInsertGb28">
					<input type="hidden" name="vrInsertGb28" class="vrInsertGb28" value="28" /> 
					<input class="textInsertGb28" value="$!lang.getText('지정회수')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb38" class="chkInsertGb38">
					<input type="hidden" name="vrInsertGb38" class="vrInsertGb38" value="38" /> 
					<input class="textInsertGb38" value="$!lang.getText('이동회수')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb90" class="chkInsertGb90">
					<input type="hidden" name="vrInsertGb90" class="vrInsertGb90" value="90" /> 
					<input class="textInsertGb90" value="$!lang.getText('이동설치')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">

					<input type="checkbox" name="chkInsertGb999" class="chkInsertGb999"> 
					<input type="hidden" name="vrInsertGb999" class="vrInsertGb999" value="999" /> 
					<input class="textInsertGb999" value="$!lang.getText('취소')" size="7" readOnly="readOnly"
						style="border: none; vertical-align: middle; line-height: 15px;">
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>	
		<input type = "hidden"	name = "tranDlvOrdType"	 	id = "tranDlvOrdType"  value = 'DLV'/>
		<input type="hidden" name="lcIdOption" class="lcIdOption" />
	</form>
	
	<div class="btnArea">
		<div class="btnAreaLeft">
			<div style="padding-bottom:15px; font-size :px; font-weight : bold;">
				<span style="margin-right : 10px;">리스트</span>(전체 : <span id="totalSpdListE02"></span>)
			</div>
		</div>
		<div class="btnAreaRight">
			<input type="button" class="INS_AUTH UPD_AUTH btnSave" name="btn_write"	value="$!lang.getText('저장')" onClick="fn_saveE02();" role="button" aria-disabled="false" /> 
			<input type="button" class="EXC_AUTH btnExcel" name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown('E02')" role="button" aria-disabled="false" /> 
		</div>
	</div>
	<div class="divPanel_SpdListE02" style="width: 100%; padding-top: 40px;">
		<div id="spdListE02" style="width:100%; height: 650px; border: 1px solid #b0b0b0;"></div>
	</div>
	<form name = "frm_dataE02">
		<div id = "formDataE02" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>

<script type="text/javascript">
const WMSAC017E2 = {
		'properties' : {
			'chkDlvStatCnt' : 9,
			'chkInsertGbCnt' : 12,
		},
	};
jQuery(document).ready(function() {
	WMSAC017E2.setDefault();
	

});
WMSAC017E2.setDefault = function() {
	if ("$ss_svc_use_ty" == "DLV") {
		jQuery(".lcIdOption").val("ALL");
	}
	
	if ('$ss_use_trans_cust'.length > 0) {
		jQuery('form[name="frm_listE02"] input[name="vrSrchTransCustNm"]').val('$ss_use_trans_cust'.replace(/::/g,","));
	}
	jQuery(".vrSrchDateGb").val("DLV");
	jQuery(".chkDlvStatCnt").val(WMSAC017E2.properties.chkDlvStatCnt);
	jQuery(".chkInsertGbCnt").val(WMSAC017E2.properties.chkInsertGbCnt);
	
	//배송상태
	jQuery("input:checkbox[class='chkDlvStatAll']").attr('checked', true);
	jQuery(".chkDlvStat09").change(function() {
		if (this.checked) {
			jQuery(".vrDlvStat09").val("09");
			WMSAC017E2.properties.chkDlvStatCnt++;
		} else {
			jQuery(".vrDlvStat09").val("");
			WMSAC017E2.properties.chkDlvStatCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkDlvStat10").change(function() {
		if (this.checked) {
			jQuery(".vrDlvStat10").val("10");
			WMSAC017E2.properties.chkDlvStatCnt++;
		} else {
			jQuery(".vrDlvStat10").val("");
			WMSAC017E2.properties.chkDlvStatCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkDlvStat20").change(function() {
		if (this.checked) {
			jQuery(".vrDlvStat20").val("20");
			WMSAC017E2.properties.chkDlvStatCnt++;
		} else {
			jQuery(".vrDlvStat20").val("");
			WMSAC017E2.properties.chkDlvStatCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkDlvStat99").change(function() {
		if (this.checked) {
			jQuery(".vrDlvStat99").val("99");
			WMSAC017E2.properties.chkDlvStatCnt++;
		} else {
			jQuery(".vrDlvStat99").val("");
			WMSAC017E2.properties.chkDlvStatCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkDlvStat80").change(function() {
		if (this.checked) {
			jQuery(".vrDlvStat80").val("80");
			WMSAC017E2.properties.chkDlvStatCnt++;
		} else {
			jQuery(".vrDlvStat80").val("");
			WMSAC017E2.properties.chkDlvStatCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkDlvStat89").change(function() {
		if (this.checked) {
			jQuery(".vrDlvStat89").val("89");
			WMSAC017E2.properties.chkDlvStatCnt++;
		} else {
			jQuery(".vrDlvStat89").val("");
			WMSAC017E2.properties.chkDlvStatCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkDlvStat87").change(function() {
		if (this.checked) {
			jQuery(".vrDlvStat87").val("87");
			WMSAC017E2.properties.chkDlvStatCnt++;
		} else {
			jQuery(".vrDlvStat87").val("");
			WMSAC017E2.properties.chkDlvStatCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkDlvStat21").change(function() {
		if (this.checked) {
			jQuery(".vrDlvStat21").val("21");
			WMSAC017E2.properties.chkDlvStatCnt++;
		} else {
			jQuery(".vrDlvStat21").val("");
			WMSAC017E2.properties.chkDlvStatCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkDlvStat30").change(function() {
		if (this.checked) {
			jQuery(".vrDlvStat30").val("30");
			WMSAC017E2.properties.chkDlvStatCnt++;
		} else {
			jQuery(".vrDlvStat30").val("");
			WMSAC017E2.properties.chkDlvStatCnt--;
		}
	}).attr('checked', true);
	
	
	//등록구분
	jQuery(".chkDlvInsertGbAll").attr('checked',
			true);
	jQuery(".chkInsertGb00").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb00").val("00");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb00").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb05").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb05").val("05");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb05").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb57").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb57").val("57");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb57").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb47").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb47").val("47");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb47").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb07").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb07").val("07");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb07").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb27").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb27").val("27");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb27").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb37").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb37").val("37");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb37").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb23").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb23").val("23");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb23").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb28").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb28").val("28");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb28").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb38").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb38").val("38");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb38").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb90").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb90").val("90");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb90").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	jQuery(".chkInsertGb999").change(function() {
		if (this.checked) {
			jQuery(".vrInsertGb999").val("999");
			WMSAC017E2.properties.chkInsertGbCnt++;
		} else {
			jQuery(".vrInsertGb999").val("");
			WMSAC017E2.properties.chkInsertGbCnt--;
		}
	}).attr('checked', true);
	
	if ('$ss_proc_auth' == "03") {
		jQuery('form[name="frm_listE02"] input[name="vrSrchTransCustNm"]').removeAttr('readOnly');
		jQuery('form[name="frm_listE02"] img.btnVrSrchTransCustNm').attr("onClick", 'fn_Popup("btnVrSrchTransCustNmALL");');
	} else if ('$ss_proc_auth' == "04") {
		if ('$ss_lc_cust_nm'.length > 0) {
			jQuery('form[name="frm_listE02"] input[name="vrSrchTransCustNm"]').val('$ss_lc_cust_nm');
		} else {
			jQuery('form[name="frm_listE02"] input[name="vrSrchTransCustNm"]').val('등록없음.');
		}
		jQuery('form[name="frm_listE02"] input[name="vrSrchTransCustNm"]').attr("class", "readOnly").attr('readOnly', 'readOnly');
	} else {
		jQuery('form[name="frm_listE02"] img.btnVrSrchTransCustNm').attr("onClick", 'fn_Popup("btnVrSrchTransCustNm");');
	}
}
function fn_chkDlvStatAll() {
	var chk_stat = jQuery(".chkDlvStatAll").prop('checked');
	if (chk_stat == true) {
		jQuery(".chkDlvStatCnt").val(9);
		jQuery(".vrDlvStat09").val("09");
		jQuery(".vrDlvStat10").val("10");
		jQuery(".vrDlvStat20").val("20");
		jQuery(".vrDlvStat99").val("99");
		jQuery(".vrDlvStat80").val("80");
		jQuery(".vrDlvStat89").val("89");
		jQuery(".vrDlvStat87").val("87");
		jQuery(".vrDlvStat21").val("21");
		jQuery(".vrDlvStat30").val("30");
		jQuery("input:checkbox.chkDlvStat09").attr('checked', true);
		jQuery("input:checkbox.chkDlvStat10").attr('checked', true);
		jQuery("input:checkbox.chkDlvStat20").attr('checked', true);
		jQuery("input:checkbox.chkDlvStat99").attr('checked', true);
		jQuery("input:checkbox.chkDlvStat80").attr('checked', true);
		jQuery("input:checkbox.chkDlvStat89").attr('checked', true);
		jQuery("input:checkbox.chkDlvStat87").attr('checked', true);
		jQuery("input:checkbox.chkDlvStat21").attr('checked', true);
		jQuery("input:checkbox.chkDlvStat30").attr('checked', true);
	} else if (chk_stat == false) {
		jQuery(".chkDlvStatCnt").val(0);
		jQuery(".vrDlvStat09").val("");
		jQuery(".vrDlvStat10").val("");
		jQuery(".vrDlvStat20").val("");
		jQuery(".vrDlvStat99").val("");
		jQuery(".vrDlvStat80").val("");
		jQuery(".vrDlvStat89").val("");
		jQuery(".vrDlvStat87").val("");
		jQuery(".vrDlvStat21").val("");
		jQuery(".vrDlvStat30").val("");
		jQuery("input:checkbox.chkDlvStat09").attr('checked', false);
		jQuery("input:checkbox.chkDlvStat10").attr('checked', false);
		jQuery("input:checkbox.chkDlvStat20").attr('checked', false);
		jQuery("input:checkbox.chkDlvStat99").attr('checked', false);
		jQuery("input:checkbox.chkDlvStat80").attr('checked', false);
		jQuery("input:checkbox.chkDlvStat89").attr('checked', false);
		jQuery("input:checkbox.chkDlvStat87").attr('checked', false);
		jQuery("input:checkbox.chkDlvStat21").attr('checked', false);
		jQuery("input:checkbox.chkDlvStat30").attr('checked', false);
	}
}

function fn_chkDlvInsertGbAll() {
	var chk_stat = jQuery(".chkDlvInsertGbAll").prop('checked');
	if (chk_stat == true) {
		jQuery(".chkInsertGbCnt").val(12);
		jQuery(".vrInsertGb00").val("00");
		jQuery(".vrInsertGb05").val("05");
		jQuery(".vrInsertGb57").val("57");
		jQuery(".vrInsertGb47").val("47");
		jQuery(".vrInsertGb07").val("07");
		jQuery(".vrInsertGb27").val("27");
		jQuery(".vrInsertGb37").val("37");
		jQuery(".vrInsertGb23").val("23");
		jQuery(".vrInsertGb28").val("28");
		jQuery(".vrInsertGb38").val("38");
		jQuery(".vrInsertGb90").val("90");
		jQuery(".vrInsertGb999").val("999");
		jQuery("input:checkbox.chkInsertGb00").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb05").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb57").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb47").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb07").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb27").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb37").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb23").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb28").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb38").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb90").attr('checked', true);
		jQuery("input:checkbox.chkInsertGb999").attr('checked', true);
	} else if (chk_stat == false) {
		jQuery(".chkInsertGbCnt").val(0);
		jQuery(".vrInsertGb00").val("");
		jQuery(".vrInsertGb05").val("");
		jQuery(".vrInsertGb57").val("");
		jQuery(".vrInsertGb47").val("");
		jQuery(".vrInsertGb07").val("");
		jQuery(".vrInsertGb27").val("");
		jQuery(".vrInsertGb37").val("");
		jQuery(".vrInsertGb23").val("");
		jQuery(".vrInsertGb28").val("");
		jQuery(".vrInsertGb38").val("");
		jQuery(".vrInsertGb90").val("");
		jQuery(".vrInsertGb999").val("");
		jQuery("input:checkbox.chkInsertGb00").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb05").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb57").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb47").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb07").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb27").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb37").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb23").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb28").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb38").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb90").attr('checked', false);
		jQuery("input:checkbox.chkInsertGb999").attr('checked', false);
	}
}
</script>