<style type="text/css">
.custBorder {text-align:right; width:100%; border:0px; background-color:transparent; color:#BDBDBD; font-weight:bold; font-family:KoPubDotumLight;}
</style>

<div class="patternWrap">
	<form name="frm_list" id="frm_list">
		<input type="hidden" name="vrSetRitemId" id="vrSetRitemId" />	
	    <input type="hidden" name="GRID_ID" 	id="GRID_ID"/>
		<input type="hidden" name='GRID_SUB_ID' id= 'GRID_SUB_ID'/>
		
	    <table class="search" id="srchBox">
	        <colgroup>
				<col width = "80px"/>
				<col width = "32%"/>
				<col width = "80px"/>
				<col width = "32%"/>
				<col width = "150px"/>
				<col width = "20px"/>
				<col width = "50px"/>
	        </colgroup>
	        <tbody>
				<tr>
					<th>$!lang.getText('화주')</th>
					<td>
						<input type="text" class = "text" style="width: 42%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="txtSrchCustCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 42%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="txtSrchCustNm_OnKillFocus()"> 
					</td>
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 42%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="txtSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 42%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="txtSrchItemNm_OnKillFocus()"> 
					</td>			
					<th>
						<input type="text" class="custBorder" id ="vrSrchLocTypeText" name ="vrSrchLocTypeText" style="font-size:100%;" readonly="readonly"></input>
						<input type="hidden" name="vrSrchLocType" id="vrSrchLocType"/>
					</th>
					<td></td>
					<th class="btnSearch">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 		role="button" aria-disabled="false"/>	
					</th>
				</tr>
	        </tbody>
	    </table>
	   	<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>  

	<form name="frm_sample">
		<div id = "formSample" style = "display : none ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="detail_box column_2">
		<div style="float:left; width:48%;">
			<div class="btnArea">
				<div class = "btnAreaRight">
				</div>
			</div>
			<div class = "list_box">
				<table id="list0"></table>
				<div id="pjmap0"></div>
			</div>
		</div>
		<div style="float:left; width:4%; padding-top:120px;">
			<input type="button" name="addDataBtn"    id="addDataBtn"  	   value=">"  onclick="fn_addData()" style="height:22px; width:100%;" />
			<br></br>
			<input type="button" name="dltDataBtn"    id="dltDataBtn"  	   value="<"  onclick="fn_dltData()" style="height:22px; width:100%;" />
		</div>
		<div style="float:left; width:48%;">
			<div class="btnArea">
				<div class = "btnAreaRight">
					<input type="button" value="$!lang.getText('초기화')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_tempDataInit();" role="button" aria-disabled="false"/>
		        	<input type="button" value="$!lang.getText('엑셀입력')" class="INS_AUTH btnEtc" name = "btnTem" onclick = "fn_upload();" role="button" aria-disabled="false"/>
		        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('산출조회')" onClick="fn_save();" 	role="button" aria-disabled="false"/>
				</div>
			</div>
			<div class = "list_box">
				<table id="list1"></table>
				<div id="pjmap1"></div>
			</div>
		</div>
	</div>
	
	<div class="btnArea marT10">
        <div class="btnAreaLeft">
        </div>
        <div class="btnAreaRight">
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('주문입력')" onClick="fn_ordSave();" 	role="button" aria-disabled="false"/>
        	<font size="4" color="#FFFFFF"><b> | </b></font>
        	<input type="button" class="INS_AUTH UPD_AUTH btnSave"  name="btn_write" value="$!lang.getText('인쇄')" onClick="fn_print();" 	role="button" aria-disabled="false"/> 
        	<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"        id="excelBtn"  name="btn_write" onclick="fn_sampleDown();" role="button" aria-disabled="false"/>
        </div>
    </div>
    
	<div class="list_box">
		<table id="list2"></table>
		<div id="pjmap2"></div>
	</div>
	
	<form name = 'frm_data'>
		<div id = "formData2" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>

<script type="text/javascript">
	jQuery("input:button").button();
	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>