#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.js"></script>
<script type="text/javascript" src="/js/jquery-qrcode-0.15.0.min.js"></script>
<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분
// - 디버깅
// - sql 검토해봐야됨 (세트상품구성은 세트상품 빼고 출력해야되지않나?)
//
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();
var listGrid0 = new ULNSI_jQGrid();
var listGrid2 = new ULNSI_jQGrid();
var workQtyGb = "";

jQuery(document).ready(function(){

	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* button */
	jQuery("input:button").button();

	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	/* 상품정보목록 시작 */
	var colNameArray0 = [
						 'CHK_BOX'
						,'FLAG'
	                    ,'ST_GUBUN'
	                    ,' '
	                    
	                    ,'$!lang.getText("화주")'			//CUST_NM
	                    ,'$!lang.getText("상품코드")'		//ITEM_CODE
	                    ,'$!lang.getText("상품명")'		//ITEM_KOR_NM
	                    ,'$!lang.getText("출고가능")'+'<br>'+'$!lang.getText("수량")'

	                    ,'ITEM_ENG_NM'
	                    ,'ITEM_SHORT_NM'

	                    ,'RITEM_ID'
	                    ,'REP_UOM_ID'
	                    ,'CUST_ID'
	                    ,'CUST_CD'
	                   ];
	// 그리드 컬럼 정의
	var colModelArray0 = [
						 {name : 'CHK_BOX'		,index : 'CHK_BOX'		,hidden : true}
						,{name : 'FLAG'			,index : 'FLAG'			,hidden : true}
						,{name : 'ST_GUBUN'		,index : 'ST_GUBUN'		,hidden : true}
						,{name : 'ST_GUBUN_IMG'	,index : 'ST_GUBUN_IMG'	,hidden : true	,width : 20		,align : "center"}
							
						,{name : 'CUST_NM'		,index : 'CUST_NM'		,width : 180	,align : "center"}
						,{name : 'ITEM_CODE'	,index : 'ITEM_CODE'	,width : 200}
						,{name : 'ITEM_KOR_NM'	,index : 'ITEM_KOR_NM'	,width : 200}
						,{name : 'STOCK_QTY'	,index : 'STOCK_QTY'	,width : 105		,align : "right"	,formatter : 'integer'	, formatoptions:{thousandsSeparator : ',', decimalPlaces: 0, defaultValue : ""}	,editable : false	,editoptions : {maxlength : 10}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_STOCK_QTY\')"' }}
						
						,{name : 'ITEM_ENG_NM'	,index : 'ITEM_ENG_NM'	,hidden : true}
						,{name : 'ITEM_SHORT_NM',index : 'ITEM_SHORT_NM',hidden : true}
						,{name : 'RITEM_ID'		,index : 'RITEM_ID'		,hidden : true}//서브그리드 조회 키
						,{name : 'REP_UOM_ID'	,index : 'REP_UOM_ID'	,hidden : true}

						,{name : 'CUST_ID'		,index : 'CUST_ID'		,hidden : true}
						,{name : 'CUST_CD'		,index : 'CUST_CD'		,hidden : true}
					    ];

	// 그리드 옵션
	var option0 = {
				   'title'		:'$!lang.getText("상품리스트")'
				  ,'height'		: 200
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray0
				  ,'colModel'	: colModelArray0
				  ,'pager'		: jQuery('#pjmap0')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num*5,$ss_gird_num*7,$ss_gird_num*9]
			      #else
			      ,'rowList' : [500,700,1000]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				 };

	var url0 = "/WMSPD020/list.action";

	// 그리드 셋팅
	listGrid0.init(jQuery("#list0"), option0, url0);

	//하나만 선택

	
	//셀전체선택
	
	
	// 그리드 셀선택 이벤트
	listGrid0.setSelectCellEventCallback(function(id, col){
		//단일 셀 선택 체크박스 이벤트 (작업안함)
		var grid = jQuery("#list0");
		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid0.setStatus(id, " ");
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid0.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid0.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
	});
	
	/* 헤더 그룹처리 */
	jQuery("#list0").jqGrid('setGroupHeaders', {
		useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		//startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		  ,groupHeaders : [
		                   {startColumnName : 'ITEM_CODE',     numberOfColumns : 2	,titleText : '$!lang.getText("상품")'},
						  ]	 
	});
	
	// 그리드 컬럼명
	var colNameArray = [
						 'CHK_BOX'
						,'FLAG'
	                    ,'ST_GUBUN'
	                    ,' '
	                    
	                    ,'$!lang.getText("화주")'		//CUST_NM
	                    ,'$!lang.getText("상품코드")'		//ITEM_CODE
	                    ,'$!lang.getText("상품명")'		//ITEM_KOR_NM

	                    ,'$!lang.getText("출고단위")'+'<br>'+'$!lang.getText("작업수량")'
	                    ,'$!lang.getText("전체")'+'<br>'+'$!lang.getText("작업수량")'
	                    ,'$!lang.getText("기준수량")'
	                    
	                    ,'ITEM_ENG_NM'
	                    ,'ITEM_SHORT_NM'

	                    ,'RITEM_ID'
	                    ,'REP_UOM_ID'
	                    ,'CUST_ID'
	                    ,'CUST_CD'
	                    
	                    ,'RITEM_ID_ISNULL'
	                   ];
	// 그리드 컬럼 정의
	var colModelArray = [
						 {name : 'CHK_BOX'		,index : 'CHK_BOX'		,hidden : true}
						,{name : 'FLAG'			,index : 'FLAG'			,hidden : true}
						,{name : 'ST_GUBUN'		,index : 'ST_GUBUN'		,hidden : true}
						,{name : 'ST_GUBUN_IMG'	,index : 'ST_GUBUN_IMG'	,hidden : true	,width : 20		,align : "center"}
							
						,{name : 'CUST_NM'		,index : 'CUST_NM'		,hidden : true	,width : 200	,align : "center"}
						,{name : 'ITEM_CODE'	,index : 'ITEM_CODE'	,width : 200}
						,{name : 'ITEM_KOR_NM'	,index : 'ITEM_KOR_NM'	,width : 200}

						,{name : 'QTY'			,index : 'QTY'			,width : 105		,align : "right"	,formatter : 'integer'	, formatoptions:{thousandsSeparator : ',', decimalPlaces: 0, defaultValue : ""}	,editable : true	,editoptions : {maxlength : 10}	,cellattr : function (rowId) { return 'onChange   = "fn_onChangeQty('+rowId+')"'}}
						,{name : 'QTY_TOTAL'	,index : 'QTY_TOTAL'	,width : 105		,align : "right"	,formatter : 'integer'	, formatoptions:{thousandsSeparator : ',', decimalPlaces: 0, defaultValue : ""}	,editable : true	,editoptions : {maxlength : 10}	,cellattr : function (rowId) { return 'onChange   = "fn_onChangeQtyTotal('+rowId+')"' }}
						,{name : 'CVT_ITEM_QTY'	,index : 'CVT_ITEM_QTY'	,width : 105		,align : "right"	,formatter : 'integer'	, formatoptions:{thousandsSeparator : ',', decimalPlaces: 0, defaultValue : ""}	,editable : true	,editoptions : {maxlength : 10}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_CVT_ITEM_QTY\')" ' }}
						
						,{name : 'ITEM_ENG_NM'	,index : 'ITEM_ENG_NM'	,hidden : true}
						,{name : 'ITEM_SHORT_NM',index : 'ITEM_SHORT_NM',hidden : true}
						,{name : 'RITEM_ID'		,index : 'RITEM_ID'		,hidden : true}//서브그리드 조회 키
						,{name : 'REP_UOM_ID'	,index : 'REP_UOM_ID'	,hidden : true}

						,{name : 'CUST_ID'		,index : 'CUST_ID'		,hidden : true}
						,{name : 'CUST_CD'		,index : 'CUST_CD'		,hidden : true}
						
						,{name : 'RITEM_ID_ISNULL'		,index : 'RITEM_ID_ISNULL'		,hidden : true}
					    ];

	// 그리드 옵션
	var option = {
				   'title'		:'$!lang.getText("산출대상 상품")'
				  ,'height'		: 200
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap1')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num*5,$ss_gird_num*7,$ss_gird_num*9]
			      #else
			      ,'rowList' : [500,700,1000]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': true
				  ,'viewrecords': true
				  ,'jsonReader'	: {repeatitems : false}
				 };

	var url = "";

	// 그리드 셋팅
	listGrid.init(jQuery("#list1"), option, url);

	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		var grid = jQuery("#list1");
		if(col == 1){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid.setStatus(id, " ");
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				var rowdata = grid.getRowData(id);
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
	});

	/* 헤더 그룹처리 */
	jQuery("#list1").jqGrid('setGroupHeaders', {
		useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		//startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		  ,groupHeaders : [
		                   {startColumnName : 'ITEM_CODE',     numberOfColumns : 2	,titleText : '$!lang.getText("상품")'},
						  ]	 
	});
	
	/*서브그리드 시작*/
	    colNameArray = [
						 '$!lang.getText("바코드")'	//ITEM_BAR_CD
	                    ,'$!lang.getText("상품코드")'	//ITEM_CODE
	                    ,'$!lang.getText("상품명")'	//PART_RITEM_NM x=
	                    ,'UOM'						//UOM_ID
	                    
	                    ,'$!lang.getText("작업예정")'
	                    ,'$!lang.getText("이재장")<br>$!lang.getText("현재고")'		
	                    ,'$!lang.getText("합계")'		
	                    ,'$!lang.getText("실제작업")'
	                    
	                    ,'$!lang.getText("LOT번호")'
	                    ,'$!lang.getText("선입선출")<br>$!lang.getText("로케이션")'
	                    ,'$!lang.getText("재고수량")'
	                    ,'$!lang.getText("작업일자")'

	                    ,'CHK_BOX'
	                    ,'FLAG'
	                    ,'ST_GUBUN'
	                    ,'UOM_NM'		
	                    ,'PART_RITEM_ID'
	                    
	                    ,'WORK_QTY'
	                    ,'ORD_CNT'
	                    ,'LC_ID'
	                    
	                    ,'ITEM_BAR_CD'
	                    ,'FST_ROW'
	                   ];

	    colModelArray = [
						 {name : 'ITEM_BAR_CD_IMG'	,index : 'ITEM_BAR_CD_IMG'	,width : 100	,formatter : fn_gridFormatterE1}
						,{name : 'ITEM_CODE'	,index : 'ITEM_CODE'	,width : 120}
						,{name : 'PART_RITEM_NM',index : 'PART_RITEM_NM',width : 120}
						,{name : 'UOM_NM'		,index : 'UOM_NM'		,width : 40	,align : "center"}
						
						,{name : 'MAKE_QTY'		,index : 'MAKE_QTY'		,width : 70		,align : "right"	,formatter : 'integer'	, formatoptions:{thousandsSeparator : ',', decimalPlaces: 0, defaultValue : ""}	,editable : false	,editoptions : {maxlength : 10}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_MAKE_QTY\')"' }}
						,{name : 'STOCK_QTY'	,index : 'STOCK_QTY'	,width : 70	,align : "right"	,formatter : 'integer'	, formatoptions:{thousandsSeparator : ',', decimalPlaces: 0, defaultValue : ""}	,editable : false	,editoptions : {maxlength : 10}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_STOCK_QTY\')"' }}
						,{name : 'AF_STOCK_QTY'	,index : 'AF_STOCK_QTY'	,width : 70		,align : "right"	,formatter : 'integer'	, formatoptions:{thousandsSeparator : ',', decimalPlaces: 0, defaultValue : ""}	,editable : false	,editoptions : {maxlength : 10}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_AF_STOCK_QTY\')"' }}
						,{name : 'TRANS_QTY'	,index : 'TRANS_QTY'	,width : 70		,align : "right"	,formatter : 'integer'	, formatoptions:{thousandsSeparator : ',', decimalPlaces: 0, defaultValue : ""}	,editable : false	,editoptions : {maxlength : 10}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_TRANS_QTY\')"' }}
						
						,{name : 'TARGET_CUST_LOT_NO'	,index : 'TARGET_CUST_LOT_NO'	,width : 170	,align : "center"}
						,{name : 'TARGET_LOC_CD'		,index : 'TARGET_LOC_CD'		,width : 150	,align : "center"}
						,{name : 'TARGET_STOCK_QTY'		,index : 'TARGET_STOCK_QTY'		,width : 70		,align : "right"	,formatter : 'integer'	, formatoptions:{thousandsSeparator : ',', decimalPlaces: 0, defaultValue : ""}	,editable : false	,editoptions : {maxlength : 10}	,cellattr : function (rowId) { return 'onkeypress = "cfn_setFldToFigureFld(\''+rowId+'_TARGET_STOCK_QTY\')"' }}
						,{name : 'TARGET_WORK_DT'		,index : 'TARGET_WORK_DT'		,width : 80	,align : "center"}

						,{name : 'CHK_BOX'		,index : 'CHK_BOX'		,hidden : true}
						,{name : 'FLAG'			,index : 'FLAG'			,hidden : true}
						,{name : 'ST_GUBUN'		,index : 'ST_GUBUN'		,hidden : true}
						,{name : 'UOM_ID'		,index : 'UOM_ID'		,hidden : true}
						,{name : 'RITEM_ID'		,index : 'RITEM_ID'		,hidden : true}
						
						,{name : 'WORK_QTY'		,index : 'WORK_QTY'		,hidden : true}
						,{name : 'ORD_CNT'		,index : 'ORD_CNT'		,hidden : true}
						,{name : 'LC_ID'		,index : 'LC_ID'		,hidden : true}
						
						,{name : 'ITEM_BAR_CD'	,index : 'ITEM_BAR_CD'	,hidden : true}
						,{name : 'FST_ROW'		,index : 'FST_ROW'		,hidden : true}
					    ];
	    option = {
	    		   'title'		:'$!lang.getText("산출 상품리스트")'
				  ,'height'		: 250
				  ,'width'		: '100%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap2')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 30
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num*5,$ss_gird_num*7,$ss_gird_num*9]
			      #else
			      ,'rowList' : [1000,2000,3000]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'sortable' 	: false
				  ,'multiselect': false
				  ,'viewrecords': true
 				  ,'shrinkToFit': false
				  ,'jsonReader'	: {repeatitems : false}
				 };

	// 그리드 셋팅
	listGrid2.init(jQuery("#list2"), option, "", loadCompleteEventCallback);
	
	//셀전체선택
	listGrid2.setSelectAllEventCallback(function(id , status){
		fn_save(); //산출조회 (재조회)
		alert("$!lang.getText('전체선택이 불가합니다.')");
		return false;		
    });
	
	// 그리드 셀선택 이벤트
	listGrid2.setSelectCellEventCallback(function(id, col){
		var chkKey = jQuery("#jqg_list2_"+id+".cbox").val();
		var grid   = jQuery("#list2");
		
		if(col == 1 && chkKey != undefined){
	 		if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_list_"+id).attr("checked",false);
				grid.setCell(id, 'CHK_BOX', "No");
				grid.restoreRow(id);
				listGrid2.setStatus(id, " ");
			}else{
				jQuery("#jqg_list_"+id).attr("checked",true);
				grid.setCell(id, 'CHK_BOX', "Yes");
				grid.editRow(id);
				if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid2.setStatus(id, "INSERT");
				}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
					listGrid2.setStatus(id, "UPDATE");
				}
			}
		}else if(col != 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}else if(col == 1 && chkKey == undefined){
			jQuery("#jqg_list_"+id).attr("checked",false);
			grid.setCell(id, 'CHK_BOX', "No");
			grid.restoreRow(id);
			listGrid2.setStatus(id, " ");
			grid.setSelection(id, true);
		}
	});
	
	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list2");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();
		
		var cssBgc0        = {'background' : '#E4F7BA'};
		var cssFontCc      = {'background' : '#E4F7BA', 'color' : 'red'};
		
		for(var i = 0 ; i < gridData.length; i++){
			if(Number(gridData[i].AF_STOCK_QTY) <= 0){
				grid.jqGrid('setCell', ids[i], 'AF_STOCK_QTY', '', cssBgc0);
				//재고이동 작업수량이 0 일 경우
				//grid.jqGrid('setCell', ids[i], 'TARGET_CUST_LOT_NO', ' ');
				//grid.jqGrid('setCell', ids[i], 'TARGET_LOC_CD', ' ');
				//grid.jqGrid('setCell', ids[i], 'TARGET_STOCK_QTY', '');
				//grid.jqGrid('setCell', ids[i], 'TARGET_WORK_DT', ' ');
			}else if(Number(gridData[i].AF_STOCK_QTY) > 0){
				grid.jqGrid('setCell', ids[i], 'AF_STOCK_QTY', '', cssBgc0);
				grid.jqGrid('setCell', ids[i], 'TRANS_QTY', '', cssFontCc);
			}
		}
		
		cfn_gridRowspan(grid);
	};
	
 	/* 헤더 그룹처리 */
 	jQuery("#list2").jqGrid('setGroupHeaders', {
 		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
 		//헤더부분 그룹화처리 				
 		,groupHeaders : [ //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
 		                  {startColumnName : 'AF_STOCK_QTY', numberOfColumns : 2	,titleText : '$!lang.getText("재고이동수량")'},
 						]	 
 	});
	
 	var paramInit = "";
    var urlInit = "/WMSPD020/initChkLoc.action";
    jQuery.post(urlInit, paramInit, function(data) {
		var data     = data.INITLOC;
		var LOC_TYPE = data[0].LOC_TYPE;
        
		jQuery("#vrSrchLocTypeText").val("(LOC_TYPE : " + LOC_TYPE + ")");
		jQuery("#vrSrchLocType").val(LOC_TYPE);
		
    }).fail(function(xhr, textStatus){
    	cfn_closeProgress();	// loading layer 종료
    	return false;
	});
	/*서브그리드 끝*/
});

//---------------------------------------------------------- 자동완성 ----------------------------------------------------------//
/* 검색화주코드 자동팝업생성 */
function txtSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = cfn_trim(jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val());
	if(vrSrchCustCd != ""){
		var srchKey = "CUST";
		var param 	= "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url 	= "/selectMngCode.action";
		jQuery.post(url,param,function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if (cnt > 1){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width = "800";
				var height = "560";
				var param = '?func=fn_setWMSCM011&custType=12&strParameter='+strParameter;
				var url = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}else if (cnt == 1){
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val(data[0].CODE);
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val(data[0].NAME);
			}else{
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				return;
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
	}
}

/* 검색화주이름 자동팝업생성 */
function txtSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = cfn_trim(jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val());
	if(vrSrchCustNm != ""){
		var srchKey = "CUST";
		var param 	= "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url 	= "/selectMngCode.action";
		jQuery.post(url,param,function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if (cnt > 1){
				var strParameter = [];
				strParameter.push("");
				strParameter.push(vrSrchCustNm);
				var width = "800";
				var height = "560";
				var param = '?func=fn_setWMSCM011&custType=12&strParameter='+strParameter;
				var url = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}else if (cnt == 1){
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val(data[0].CODE);
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val(data[0].NAME);
			}else{
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				return;
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
	}
}

/* 검색상품코드 자동팝업생성 */
function txtSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = cfn_trim(jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val());
	if(vrSrchItemCd != ""){
		var srchKey = "ITEM";
		var param 	= "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url 	= "/selectMngCode.action";
		jQuery.post(url,param,function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if (cnt > 1){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				strParameter.push('');
				strParameter.push('');
				strParameter.push('');
				strParameter.push('viewSetItem');
				strParameter.push('viewAll');
				var width = "800";
				var height = "560";
				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				var url = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}else if (cnt == 1){
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val(data[0].CODE);
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val(data[0].NAME);
			}else{
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
				return;
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
	}
}

/* 검색상품이름 자동팝업생성 */
function txtSrchItemNm_OnKillFocus(){
	var vrSrchItemNm = cfn_trim(jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val());
	if(vrSrchItemNm != ""){
		var srchKey = "ITEM";
		var param 	= "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url 	= "/selectMngCode.action";
		jQuery.post(url,param,function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if (cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				strParameter.push('');
				strParameter.push('');
				strParameter.push('viewSetItem');
				strParameter.push('viewAll');
				var width = "800";
				var height = "560";
				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				var url = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}else if (cnt == 1){
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val(data[0].CODE);
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val(data[0].NAME);
			}else{
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
				return;
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
	}
}

//---------------------------------------------------------- 팝업 ----------------------------------------------------------//
/* 팝업 호출 */
function fn_Popup(pop, id){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "560";
	//팝업의 값에 따라 사용되는 팝업이다르고 같더라고 후에 사용되는 함수가 다르므로 분기
	//id가있는경우는 grid에서 사용된 팝업
	switch(pop){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'ITEM':	//검색 상품코드
			strParameter.push('');
			strParameter.push('');
			strParameter.push('');
			strParameter.push('');
			strParameter.push('viewSetItem');
			strParameter.push('viewAll');
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
		case 'ITEM2':
			jQuery("input[name='GRID_SUB_ID']").val(id);
			fn_subSelect(id);

			var mainId = jQuery("input[name='GRID_ID']").val();
			var custId = jQuery("#list1").getCell(mainId, 'CUST_ID');

			strParameter.push('');
			strParameter.push('');
			strParameter.push(custId);//CUST_ID
			strParameter.push('');
			strParameter.push('NOT_SET');
			strParameter.push('viewAll');
			param = '?func=fn_setWMSCM091_sub&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 팝업 적용 (화주) */
function fn_setWMSCM011(arr){
	var info = arr[0];
	jQuery("#vrSrchCustCd").val(info.cust_cd);
	jQuery("#vrSrchCustNm").val(info.cust_nm);
}

/* 팝업 적용 (상품) */
function fn_setWMSCM091(arr){
	var info = arr[0];
	jQuery("#vrSrchItemCd").val(info.item_code);
	jQuery("#vrSrchItemNm").val(info.item_kor_nm);
}

/* 팝업 적용 (상품) _ SUB그리드 */
function fn_setWMSCM091_sub(arr){
	var info = arr[0];
	var rowid = jQuery('input[name="GRID_SUB_ID"]').val();
	var grid = jQuery("#list2");

	grid.setCell(rowid, 'PART_RITEM_ID', info.ritem_id);
	grid.setCell(rowid, 'ITEM_CODE', info.item_code);
	grid.setCell(rowid, 'PART_RITEM_NM', info.item_kor_nm);
	// console.log(info.uom_id);
	jQuery("select[id='"+rowid+"_UOM_ID']").val(cfn_trim(info.uom_id));	//추후 셀렉트
	grid.setCell(rowid, 'UOM_NM', info.uom_nm);
}

//---------------------------------------------------------- 검색----------------------------------------------------------//
/* 검색조건 초기화 */
function fn_initSer(){
	jQuery("form[name='frm_list'] input[type='text']").val('');
}

/* 세트상품 검색 */
function fn_search(op,op1){
	//상품목록 그리드 조회
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSPD020/list.action?"+param;
	listGrid0.search(param, url, op, op1);

	jQuery("input[name='GRID_ID']").val('');
	jQuery('#list2').clearGridData();
	//jQuery("#list1").clearGridData();
}

//---------------------------------------------------------- 그리드----------------------------------------------------------//
/* 그리드 포맷터 */
function fn_subGridFormatter(value, option, row){
	return '<img src="/img/exam/btn/ico_search.gif" onClick="fn_Popup('+"'ITEM2'"+','+option.rowId+');" />';
}

/* 서브 그리드 선택설정 */
function fn_subSelect(id){
	//선택되 있지않을때 상품팝업을 클릭시 자동으로 선택되도록 셋팅한다.
	var grid = jQuery("#list2");
	if(grid.getCell(id, 'CHK_BOX') != "Yes"){
		jQuery("#jqg_list2_"+id).attr("checked",true);
		grid.setCell(id, 'CHK_BOX', "Yes");
		grid.editRow(id);
		if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid2.setStatus(id, "INSERT");
		}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
			listGrid2.setStatus(id, "UPDATE");
		}
		grid.setSelection(id, true);
	}
}

/* 저장 */
function fn_save(){
	//저장처리
    var grid        = jQuery("#list1");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var isProcess   = false;
    var tmpCnt 		= 0 ;

    if(selectIds == ""){
        alert("$!lang.getText('save.nodata')");
        return false;
    }

	/* 유효성검사 */
	if(!fn_listValidation()){return;}

    if(selectIds != ""){
        jQuery("#formData").html("");
        if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/><br>");
        }else{
            tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
        }

        for(var i = 0 ; i < selectIds.length ; i++){
            if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }
            if(isProcess){
            	if(workQtyGb == "UNIT"){
            		jQuery("#formData").append("<input type='text' name='CUR_DATA"	   +tmpCnt+"'  value='" +grid.getCell(selectIds[i], "RITEM_ID")+"||"+jQuery("#"+selectIds[i] + "_QTY","#list1").val()+"||"+workQtyGb+"||"+jQuery("#"+selectIds[i] + "_CVT_ITEM_QTY","#list1").val()+"||"+grid.getCell(selectIds[i], "RITEM_ID_ISNULL")+"'/>");
            	}else if(workQtyGb == "TOTAL"){
            		jQuery("#formData").append("<input type='text' name='CUR_DATA"	   +tmpCnt+"'  value='" +grid.getCell(selectIds[i], "RITEM_ID")+"||"+jQuery("#"+selectIds[i] + "_QTY_TOTAL","#list1").val()+"||"+workQtyGb+"||"+jQuery("#"+selectIds[i] + "_CVT_ITEM_QTY","#list1").val()+"||"+grid.getCell(selectIds[i], "RITEM_ID_ISNULL")+"'/>");
            	}
            	
                tmpCnt ++;
            }
        }
        jQuery("#formData").append("<input type='text' name='LOC_TYPE' value='"+jQuery("#vrSrchLocType").val()+"'/><br>");
        jQuery("form[name='frm_list'] input[name='selectIds']").val( tmpCnt );
    }else{
        if(tmpCnt == 0){
            alert('$!lang.getText('save.nodata', $ss_lang_type)');
            return false;
        }
    }
    
    var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSPD020/listSub.action?"+param;
	listGrid2.search(param, url);
}


//유효성검사
//QTY > 0 이상 및 숫자만
//SET_RITEM_ID != null
//PART_RITEM_ID != null
/* 입력값 유효성 검사 */
function fn_listValidation(){
	var grid = jQuery("#list1");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});

	if(selectIds != ""){
		var tmpText = ["$!lang.getText('작업수량')"];
		var tmpId = ["QTY"];
		var tmpVal;
		for(var i = 0 ; i < selectIds.length ; i++){
			var ST_GUBUN = grid.getCell(selectIds[i], "ST_GUBUN");
			var RITEM_ID = grid.getCell(selectIds[i], "RITEM_ID");
			
			if(ST_GUBUN != "DELETE"){	//삭제일경우에는 필수값이 아니기때문에 제외
				var qty        = cfn_trim(jQuery("#" + selectIds[i] + "_QTY","#list1").val());		//input
				var qtyTotal   = cfn_trim(jQuery("#" + selectIds[i] + "_QTY_TOTAL","#list1").val());		//input
				var cvtItemQty = cfn_trim(jQuery("#" + selectIds[i] + "_CVT_ITEM_QTY","#list1").val());		//input
				/* 공백체크 */
				tmpVal = [(qty+qtyTotal)];
				for(var j = 0 ; j < tmpVal.length ; j++){
					if(jQuery.trim(tmpVal[j]) == ""){
    					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
						return false;
					}
				}
				
				if(cvtItemQty.length == 0 || jQuery.trim(cvtItemQty) == ""){
					jQuery("#" + selectIds[i] + "_CVT_ITEM_QTY","#list1").val(0);
				}
				
				if(RITEM_ID.length == 0 || jQuery.trim(RITEM_ID) == ""){
					grid.setCell((i+1), 'RITEM_ID', "*");
					grid.setCell((i+1), 'RITEM_ID_ISNULL', grid.getCell(selectIds[i], "ITEM_CODE"));
				}
			}
		}
		
		if(workQtyGb.length == 0){
			alert("$!lang.getText('작업수량 입력이 올바르지 않습니다. 관리자에게 문의주십시오.')");
			return false;
		}
	}
	return true;
}

/* 엑셀 */
function fn_excelDown(){
	var grid = jQuery("#list2");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;

    var fm = document.frm_list;
    var countRow = jQuery("#list2").getDataIDs().size();
    if(countRow == 0){
        alert('$!lang.getText("excel.down.nodata")');
        return;
    } else if(countRow > 60000) {
        alert('$!lang.getText("excel.down.maxrow")');
        return;
    } else {
        fm.action="/WMSPD020/excel.action"+param;
        fm.method="post";
        fm.submit();
    }
}

/* 주문번호 rowspan 된것처럼보이도록하는 로직 */
function cfn_gridRowspan(grid){
	var ids = grid.getDataIDs();
	var subMinCss = {'border-bottom':'1px'};
	var subMidCss = {'color':'blue','font-size':'0px'};
	var subMaxCss = {'border-bottom':'3px solid #BDBDBD'}
	
	/************* Span Column명 정의 부분 (해당 컬럼명 변수 수정 부분, 복수가능) *************/
	// 그룹 key : Column Span 2단계가 있을 경우  필수 선언
	var groupKey  = "ITEM_CODE"; 
	// Column Span 1단계 : Select Grid의 컬럼순으로 정의 (ORDER BY 순)
	var colSpan01 = ["ITEM_CODE"]; //"CUST_NM","PDA_NO","ORD_TYPE",
	// Column Span 2단계 : 그룹 key 컬럼 이하 , Select Grid의 컬럼순으로 정의 (ORDER BY 순)
	var colSpan02 = ["PART_RITEM_NM","UOM_NM","MAKE_QTY","STOCK_QTY","AF_STOCK_QTY"];
    // 마지막 라인 색상 추가
    var endLine   = ["TARGET_CUST_LOT_NO","TARGET_LOC_CD","TARGET_STOCK_QTY","TARGET_WORK_DT", "TRANS_QTY", "cb", "ITEM_BAR_CD_IMG"];
	/***********************************************************************/
	
	// Column Span 1단계 시작 (colSpan01)
	for(var k = 0 ; k < colSpan01.length ; k++){
		for(var i = 0 ; i < ids.size() ; i++){
			if(grid.getCell(ids[i], colSpan01[k]) == grid.getCell(ids[i+1], colSpan01[k])){
				grid.setCell(ids[i+1], colSpan01[k], "" , subMidCss);
				grid.setCell(ids[i], colSpan01[k], "" , subMinCss);
				//jQuery("tr[id='"+ids[i+1]+"'] td input[class='cbox']").remove();
				
				// Column Span 2단계 시작 (colSpan02), 그룹 Key와 colSpan02가 있을 경우
				if(colSpan01[k] == groupKey && colSpan02[0].length != 0){
					for(var l = 0 ; l < colSpan02.length ; l++){
						if(grid.getCell(ids[i], colSpan02[l]) == grid.getCell(ids[i+1], colSpan02[l])){
							grid.setCell(ids[i+1], colSpan02[l], "" , subMidCss);
							grid.setCell(ids[i], colSpan02[l], "" , subMinCss);
							//체크박스 라인컨트롤
							//grid.setCell(ids[i], "cb", "" , subMinCss);
							
							
							// Column Span 2단계 컬럼이 갯수가 복수일 경우 Sub Span 경계선 추가  
							if(colSpan02[0] != colSpan02[l] && grid.getCell(ids[i], colSpan02[l-1]) != grid.getCell(ids[i+1], colSpan02[l-1])){
								grid.setCell(ids[i], colSpan02[l], "" , subMaxCss);
							}
						}
					}
					// 체크박스 삭제하기 (그룹 Key로 묶어)
					//jQuery("tr[id='"+ids[i+1]+"'] td input[class='cbox']").remove();
				}
			}else{
				if(colSpan01[k] == groupKey && colSpan02[0].length != 0){
					// 그룹 Key 으로 정의 된 컬럼의 Span 경계선 추가
					grid.setCell(ids[i], colSpan01[k], "" , subMaxCss);
					for(var l = 0 ; l < colSpan02.length ; l++){
						grid.setCell(ids[i], colSpan02[l], "" , subMaxCss);
						for(var v = 0 ; v < endLine.length ; v++){
							grid.setCell(ids[i], endLine[v], grid.getCell(ids[i], endLine[v]) , subMaxCss);	
						}
					}
				}
			}
			
			var FST_ROW = grid.getCell(ids[i], "FST_ROW");
			if(FST_ROW == 1){
	        	var options = {
	                    render: "image",			// render method: 'canvas', 'image' or 'div'
	                    ecLevel: "H",				// error correction level: 'L', 'M', 'Q' or 'H'
	                    minVersion: 1,				// version range somewhere in 1 .. 40
	                    fill: "#333333",			// code color or image element
	                    background: "#ffffff",		// background color or image element, null for transparent background

	                    text: grid.getCell(ids[i], "ITEM_BAR_CD"),	// content values
	                    size: "80",					// size in pixel
	                    radius: "10",				// corner radius relative to module width: 0.0 .. 0.5
	                    quiet: "3",					// quiet zone in modules
	                    mode: "0",					// 0: normal 1:label strip 2:label box 3:image strip 4:image box

	                    //mSize: 0.1,
	                    //mPosX: 0.5,
	                    //mPosY: 0.5,
	                    //label: jq('#label').val(),
	                    //fontname: jq('#font').val(),
	                    //fontcolor: jq('#fontcolor').val(),
	                    //image: jq('#img-buffer')[0]
	            };

	        	jQuery("#qrItem_"+(i+1)).empty().qrcode(options);
			}
		}
	}
}

function fn_print(){
	//document.all.dataTable.innerHTML = html;
    
	//식별표 Table/Div 생성 완료 후 인쇄 window 실행
    if(navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("Trident") > 0 ){
	    //IE 일때
	    previewIe_print(); 
    }else if(navigator.userAgent.indexOf("Chrome") > 0){
    	alert("출력물이 짤리는 경우 InternetExplorer를 사용해 주세요.(Chrome은 비율 기능을 지원하지 않습니다.)");
	    //크롬 일때	   	 
	    //프린트 출력 부분 div 셋팅
	    
	    var runPrint;
	    var printContent =  document.getElementById("gview_list2");
	    var windowUrl    = 'about:blank';
		var uniqueName   = new Date();
		var windowName   = 'Print' + uniqueName.getTime();
		var printWindow  = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1");
		
	    printWindow.document.write(printContent.innerHTML);	   
	    
	    var wait = 1000;
	    runPrint = setTimeout(function(){printWindow.window.print();}, wait);
	}
}

function previewIe_print(){
	//프린트 출력 부분 div 셋팅

	var printContent = document.getElementById("gview_list2");
	var windowUrl    = 'about:blank';
	var uniqueName   = new Date();
	var windowName   = 'Print' + uniqueName.getTime();
	var printWindow  = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1");
	var printPreviewObject = '<object id="printPreviewElement" width=0 height=0 classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></object>';

	printWindow.document.write(printContent.innerHTML);
	printWindow.document.write(printPreviewObject);
	printWindow.document.write('<script language=JavaScript>');
	printWindow.document.write('window.print();');
	//printWindow.document.write('printPreviewElement.ExecWB(7, 1);');
	//printWindow.document.write('printPreviewElement.outerHTML = "";');
	printWindow.document.write('</'+'script>'); 
	printWindow.document.close();
	//printWindow.focus();
	//printWindow.close();
}

//화주에따라 바뀌는 히든그리드의 샘플데이터를 컬럼명(한글), 컬럼model(영문), 샘플데이터 를가지고 excel을 그려서 다운받는다
function fn_sampleDown(){
	var grid     = jQuery("#list2");
	var ids      = grid.jqGrid('getDataIDs');
	var gridData = grid.getRowData();
	
	var col_name   = grid.jqGrid('getGridParam', 'colNames');
	var col_model  = grid.jqGrid('getGridParam', 'colModel');
	var isEmptyCol = ["ITEM_BAR_CD_IMG","CHK_BOX","FLAG","ST_GUBUN","ST_GUBUN_IMG","POPUP","UOM_ID","PART_RITEM_ID","ITEM_BAR_CD","FST_ROW"];
	var col_size   = col_name.size() - isEmptyCol.length; //hidden col 뒷단에 놓고 그만큼 제거
	
	jQuery("#formSample").html("");
	jQuery("#formSample").append("<input type='text' name='Col_Size'  value='" + col_size + "'/><br/>");	//사이즈
	jQuery("#formSample").append("<input type='text' name='Row_Size'  value='" + gridData.length + "'/><br/>");	//사이즈
	
	for(var k = 0 ; k < gridData.length ; k++){
		if(k == 0){
			for(var i = 0 ; i < col_size ; i++){
				jQuery("#formSample").append("<input type='text' name='Name_"+i+"'         value='" + col_name[i] + "'/>");									// 컬럼명(한글 화면에보여주는이름)
				jQuery("#formSample").append("<input type='text' name='Col_" +i+"'         value='" + col_model[i].name + "'/>");								// 컬럼명(영어 db컬럼명같은)
				jQuery("#formSample").append("<input type='text' name='"+k+ "_Row_" +i+"'  value='" + grid.getCell(ids[k], col_model[i].name) + "'/><br/>");	// 샘플데이터	
			}
		}else{
			for(var i = 0 ; i < col_size ; i++){
				jQuery("#formSample").append("<input type='text' name='"+k+ "_Row_" +i+"'  value='" + grid.getCell(ids[k], col_model[i].name) + "'/><br/>");	// 샘플데이터
			}
		}
	}	
	var param = jQuery("form[name='frm_sample']").serialize();

	var fm 	  = document.frm_sample;
    fm.action = "/WMSPD020/sampleExcelDown.action";
    fm.method = "post";
    fm.submit();
}

function fn_addData(){
	var grid        = jQuery("#list0");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    
    var gridT       = jQuery("#list1");
    var idsT        = gridT.getDataIDs();
    var selectIdsT  = gridT.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	
    if(selectIds == ""){
        alert("$!lang.getText('save.nodata')");
        return false;
    }
    
    if(selectIds != ""){
    	for(var i = 0 ; i < selectIds.length ; i++){
    		var chkValStd = grid.getCell(selectIds[i], "RITEM_ID");
    		
    		if(selectIdsT != ""){
    			var editChkVal = 0;
    			for(var k = 0 ; k < selectIdsT.length ; k++){
            		var chkValTag = gridT.getCell(selectIdsT[k], "RITEM_ID");
            		if(chkValStd == chkValTag){
            			editChkVal++;
            		}
            	}
    			if(editChkVal > 0){
    				alert("$!lang.getText('이미 추가된 상품 입니다.')");
    				return false;
    			}else{
    				var	datarow = {
       		   		 	 CHK_BOX       : "Yes"
       		  			,FLAG          : grid.getCell(selectIds[i], "FLAG")
       		  			,ST_GUBUN      : "INSERT"
       		  			,ST_GUBUN_IMG  : grid.getCell(selectIds[i], "ST_GUBUN_IMG")
       		  				
       		  			,CUST_NM       : grid.getCell(selectIds[i], "CUST_NM")
       		  			,ITEM_CODE     : grid.getCell(selectIds[i], "ITEM_CODE")
       		  			,ITEM_KOR_NM   : grid.getCell(selectIds[i], "ITEM_KOR_NM")
       		  				
       		  			,ITEM_ENG_NM   : grid.getCell(selectIds[i], "ITEM_ENG_NM")
       		  			,ITEM_SHORT_NM : grid.getCell(selectIds[i], "ITEM_SHORT_NM")
       		  			,RITEM_ID      : grid.getCell(selectIds[i], "RITEM_ID")
       		  			,REP_UOM_ID    : grid.getCell(selectIds[i], "REP_UOM_ID")
       		  				
       		  			,CUST_ID       : grid.getCell(selectIds[i], "CUST_ID")
       		  			,CUST_CD       : grid.getCell(selectIds[i], "CUST_CD")
	       			}
	       			listGrid.addRow(datarow);
    			}
    		}else{
    			var	datarow = {
    		   		 	 CHK_BOX       : "Yes"
    		  			,FLAG          : grid.getCell(selectIds[i], "FLAG")
    		  			,ST_GUBUN      : "INSERT"
    		  			,ST_GUBUN_IMG  : grid.getCell(selectIds[i], "ST_GUBUN_IMG")
    		  				
    		  			,CUST_NM       : grid.getCell(selectIds[i], "CUST_NM")
    		  			,ITEM_CODE     : grid.getCell(selectIds[i], "ITEM_CODE")
    		  			,ITEM_KOR_NM   : grid.getCell(selectIds[i], "ITEM_KOR_NM")
    		  				
    		  			,ITEM_ENG_NM   : grid.getCell(selectIds[i], "ITEM_ENG_NM")
    		  			,ITEM_SHORT_NM : grid.getCell(selectIds[i], "ITEM_SHORT_NM")
    		  			,RITEM_ID      : grid.getCell(selectIds[i], "RITEM_ID")
    		  			,REP_UOM_ID    : grid.getCell(selectIds[i], "REP_UOM_ID")
    		  				
    		  			,CUST_ID       : grid.getCell(selectIds[i], "CUST_ID")
    		  			,CUST_CD       : grid.getCell(selectIds[i], "CUST_CD")
    			}
    			listGrid.addRow(datarow);
    		}
    	}
    }
}

function fn_dltData(){
	var grid        = jQuery("#list1");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    
    if(selectIds == ""){
        alert("$!lang.getText('save.nodata')");
        return false;
    }
    
	if(confirm("$!lang.getText('산출 대상 및 산출된 정보 전체가 초기화 됩니다.')")){
		jQuery("#list1").clearGridData();
		jQuery('#list2').clearGridData();
	}
}

/* 주문입력 */
function fn_ordSave(){
	var grid        = jQuery("#list1");
    var ids         = grid.getDataIDs();
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var isProcess   = false;
    var tmpCnt 		= 0 ;
	var paramSet    = "";
	
    if(selectIds == ""){
        alert("$!lang.getText('save.nodata')");
        return false;
    }

	/* 유효성검사 */
	if(!fn_listValidation()){return;}

    if(selectIds != ""){
        jQuery("#formData").html("");
        if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/><br>");
        }else{
            tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
        }

        for(var i = 0 ; i < selectIds.length ; i++){
            if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
                jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
                isProcess = true;
            }
            if(isProcess){
            	if(i > 0){paramSet += ",";}
            	if(workQtyGb == "UNIT"){
            		paramSet += grid.getCell(selectIds[i], "RITEM_ID")+"||"+jQuery("#"+selectIds[i] + "_QTY","#list1").val()+"||"+workQtyGb+"||"+jQuery("#"+selectIds[i] + "_CVT_ITEM_QTY","#list1").val()+"||"+grid.getCell(selectIds[i], "RITEM_ID_ISNULL");	
            	}else if(workQtyGb == "TOTAL"){
            		paramSet += grid.getCell(selectIds[i], "RITEM_ID")+"||"+jQuery("#"+selectIds[i] + "_QTY_TOTAL","#list1").val()+"||"+workQtyGb+"||"+jQuery("#"+selectIds[i] + "_CVT_ITEM_QTY","#list1").val()+"||"+grid.getCell(selectIds[i], "RITEM_ID_ISNULL");
            	}
                tmpCnt ++;
            }
        }
        jQuery("#formData").append("<input type='text' name='CUR_DATA'     value='" +paramSet+"'/>");
        jQuery("#formData").append("<input type='text' name='LOC_TYPE' value='"+jQuery("#vrSrchLocType").val()+"'/><br>");
        jQuery("form[name='frm_list'] input[name='selectIds']").val( tmpCnt );
    }else{
        if(tmpCnt == 0){
            alert('$!lang.getText('save.nodata', $ss_lang_type)');
            return false;
        }
    }
	var width = "800";
	var height = "590";
	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSPD020Q1.action?"+param;
	var aspPop = cfn_openPop2(url, "fn_Popup", width, height);
	aspPop.focus();	
}

function fn_upload(){
	//var param 	= '';
	var param   = '?func=fn_setUploadData';
	var url 	= '/WMSPD020E3.action'+param;
	var width 	= "480";
	var height 	= "160";
	var asppop 	= cfn_openPop2(url, "fn_TempPopup", width, height);
	asppop.focus();
}

function fn_setUploadData(data){
	var LIST = data.LIST;
	var size = data.LIST.size();
	if(size == 0){
		//alert("$!lang.getText('excel.add.fail')");
		jQuery("#statTextArea").val("> Error."+"\n"+"$!lang.getText('excel.add.fail')");
		interval_gb = 1;
		return;
	}else{
		var datarow ;
    	for(var i = 0 ; i < size ; i++){
    		datarow = new Object();
   			datarow = {
   					CHK_BOX	     : "Yes",
   					ST_GUBUN     : "INSERT",
   					
   					ITEM_CODE    : LIST[i].S_0,
   					QTY     	 : LIST[i].S_1,
   					QTY_TOTAL	 : LIST[i].S_2,
   					
   					CVT_ITEM_QTY : LIST[i].S_3,
				    ITEM_KOR_NM  : LIST[i].S_4
   			}
    		listGrid.addRow(datarow);
   			
   			if(LIST[i].S_1.length > 0){
   				jQuery("#"+(i+1) + "_QTY_TOTAL","#list1").val("");
   				jQuery("#"+(i+1) + "_QTY_TOTAL","#list1").attr("disabled", "disabled");
   				workQtyGb = "UNIT";
   			}else if(LIST[i].S_2.length > 0){
   				jQuery("#"+(i+1) + "_QTY","#list1").val("");
   				jQuery("#"+(i+1) + "_QTY","#list1").attr("disabled", "disabled");
   				workQtyGb = "TOTAL";
   			}
    	}
    	jQuery("#statTextArea").val("> Success.");
	}
}

function fn_tempDataInit(){
	jQuery("#list1").clearGridData();
	jQuery("#list2").clearGridData();
}

function fn_onChangeQty(nRow){
	cfn_setFldToFigureFld(nRow + "_QTY");
	
	var grid      = jQuery("#list1");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var chkCnt    = 0;
	
	if(selectIds != ""){
		for(var i = 0 ; i < selectIds.length ; i++){
			var chkVal = jQuery("#"+selectIds[i] + "_QTY","#list1").val();
			if(chkVal.length > 0){
				chkCnt++;
			}
		}
		
		for(var i = 0 ; i < selectIds.length ; i++){
			if(chkCnt > 0){
				jQuery("#"+selectIds[i] + "_QTY_TOTAL","#list1").val("");
				jQuery("#"+selectIds[i] + "_QTY_TOTAL","#list1").attr("disabled", "disabled");
				workQtyGb = "UNIT";
			}else if(chkCnt == 0){
				jQuery("#"+selectIds[i] + "_QTY_TOTAL","#list1").removeAttr("disabled");
				workQtyGb = "";
			}
		}
	}
}

function fn_onChangeQtyTotal(nRow){
	cfn_setFldToFigureFld(nRow + "_QTY_TOTAL");
	
	var grid      = jQuery("#list1");
	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
	var chkCnt    = 0;
	
	if(selectIds != ""){
		for(var i = 0 ; i < selectIds.length ; i++){
			var chkVal = jQuery("#"+selectIds[i] + "_QTY_TOTAL","#list1").val();
			if(chkVal.length > 0){
				chkCnt++;
			}
		}
		
		for(var i = 0 ; i < selectIds.length ; i++){
			if(chkCnt > 0){
				jQuery("#"+selectIds[i] + "_QTY","#list1").val("");
				jQuery("#"+selectIds[i] + "_QTY","#list1").attr("disabled", "disabled");
				workQtyGb = "TOTAL";
			}else if(chkCnt == 0){
				jQuery("#"+selectIds[i] + "_QTY","#list1").removeAttr("disabled");
				workQtyGb = "";
			}
		}
	}
}

/* 팝업버튼 포맷터*/
function fn_gridFormatterE1(value, option, row){
	if(row.FST_ROW == 1){
		switch(option.pos){
			case 1:
				return '<div align="center" id="qrItem_'+option.rowId+'"></div></td>';
		}
	}else{
		return '<div align="center" id="qrItem_'+option.rowId+'"></div></td>';
	}
}
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("납품관리")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/wmspd/WMSPD020E1.vm")
    </div>
</div>

#parse("winus/common/footer.vm")