<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('로케이션조회')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
<script type="text/javascript">

/* 그리드 공통화 적용 시작- detailGrid */
var listGrid = new ULNSI_jQGrid();

var stBtnYn = "";    // 버튼클릭여부
var strCode = "";    //코드(검색조건)
var strName = "";    //코드명(검색조건)
var strSubCode1 = "";
var strSubCode2 = "";
var strSubCode3 = "";
var strSubCode4 = "";
var strSubCode5 = "";
var strSubCode6 = "";

jQuery(document).ready(function(){
	// Tabs

	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	strCode = (arrParameter[0] == undefined) ? "" : arrParameter[0];			//코드(검색조건)
	strName = (arrParameter[1] == undefined) ? "" : arrParameter[1];			//코드명(검색조건)
	strSubCode1 = (arrParameter[2] == undefined) ? "" : arrParameter[2];		//vrWhId
	strSubCode2 = (arrParameter[3] == undefined) ? "" : arrParameter[3];		//vrRitemId
	strSubCode3 = (arrParameter[4] == undefined) ? "" : arrParameter[4];		//vrUomID
	strSubCode4 = (arrParameter[5] == undefined) ? "" : arrParameter[5];		//vrViewSubLotId
	strSubCode5 = (arrParameter[6] == undefined) ? "" : arrParameter[6];		//vrViewStockQty
	strSubCode6 = (arrParameter[7] == undefined) ? "" : arrParameter[7];		//vrViewOnlyLoc


	jQuery("#tab1").tabs({
		show: function(event, ui) {resizeGrid();}
	});

	stBtnYn = "$request.getParameter('stBtnYn')";
	if(stBtnYn == "N"){
		jQuery("form[name='formDetl'] input[name='vrSrchLocId']").val(strName);
	}
	jQuery("form[name='formDetl'] input[name='vrSrchLocCd']").val(strCode);
	jQuery("form[name='formDetl'] input[name='vrSrchLocId']").val(strName);
	jQuery("form[name='formDetl'] input[name='vrRitemId']").val(strSubCode2);
	jQuery("form[name='formDetl'] input[name='vrViewSubLotId']").val(strSubCode4);
	jQuery("form[name='formDetl'] input[name='vrViewStockQty']").val(strSubCode5);
	
	jQuery("form[name='formDetl'] input[name='vrViewOnlyLoc']").val(strSubCode6);
	// button
	jQuery("input:button").button();

	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명
	var colNameArray = [
						"$!lang.getText('로케이션')",
						"$!lang.getText('코드')"
	  		           ];

	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'LOC_CD',			index:'LOC_CD',				width:200,	align:"left"},
			{name:'LOC_ID',			index:'LOC_ID',				width:100,	align:"left",  hidden:true}
		];

	if(cfn_trim(strSubCode4) == ""){
		for(var i = 0 ; i < colModelArray.size() ; i++){
			if(colModelArray[i].index == "SUB_LOT_ID" || colModelArray[i].index == "STOCK_ID"){
				colModelArray[i].hidden = true;
			}
		}
	}
	
	var option = {
			'title' : "$!lang.getText('로케이션리스트')",
			'height' : 260,
			'width' : '100%',
			'colName' : colNameArray,
			'colModel' : colModelArray,
	        'pager' : jQuery("#pjmap"),
	        'autowidth' : true,
	        'multiselect' : true,
	        'viewrecords' : true,
	        'gridview' : true,
	        'sortable' : false,
	  	  #if($ss_gird_num != "")
		      'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3],
		      #else
		      'rowList' : [100,200,300],
		      #end
	        'rownumbers' : true,
	        'rownumWidth': 40
		};
	var url = "";
	url = "/WMSCM080Q5/list02.action?vrSrchLocCd="+strCode+"&vrWhId="+jQuery("#vrWhId").val()+"&vrSrchLocId="+strName+"&vrViewOnlyLoc="+strSubCode6+"&vrViewStockQty="+strSubCode5
			+"&vrRitemId="+strSubCode2+"&vrViewSubLotId="+strSubCode4;	

	var loadCompleteEventCallback = "";
	var loadErrorCallback = function(xhr, st, err){
		if(xhr.status == 404){
			fn_paramSet(err);
			javascript:self.close();
		}
	};

	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback, loadErrorCallback);

	listGrid.setBeforeSelectRowEventCallback( function(rowid, e){
		// if(e.target.type == "checkbox"){
		if ( jQuery(e.target).closest('td')[0].cellIndex === 1 ){
		    jQuery("#list").jqGrid('resetSelection');

		    var loc_id = jQuery("#list").getCell(rowid,'LOC_ID');
			var loc_cd = jQuery("#list").getCell(rowid,'LOC_CD');

			var available_qty = jQuery("#list").getCell(rowid,'AVAILABLE_QTY');
			var stock_id = jQuery("#list").getCell(rowid,'STOCK_ID');
			var stock_weight = jQuery("#list").getCell(rowid,'STOCK_WEIGHT');
			var sub_lot_id = jQuery("#list").getCell(rowid,'SUB_LOT_ID');
			var item_best_date_end = jQuery("#list").getCell(rowid,'ITEM_BEST_DATE_END');

			var uom_id = jQuery("#list").getCell(rowid, 'UOM_ID');
			var uom_cd = jQuery("#list").getCell(rowid, 'UOM_CD');
			var uom_nm = jQuery("#list").getCell(rowid, 'UOM_NM');
			
			jQuery("form[name='formDetl'] input[name='LOC_ID' ]").val(loc_id);
			jQuery("form[name='formDetl'] input[name='LOC_CD' ]").val(loc_cd);
			jQuery("form[name='formDetl'] input[name='AVAILABLE_QTY' ]").val(available_qty);
			jQuery("form[name='formDetl'] input[name='STOCK_ID' ]").val(stock_id);
			jQuery("form[name='formDetl'] input[name='STOCK_WEIGHT' ]").val(stock_weight);
			jQuery("form[name='formDetl'] input[name='SUB_LOT_ID' ]").val(sub_lot_id);
			jQuery("form[name='formDetl'] input[name='ITEM_BEST_DATE_END']").val(item_best_date_end);
			
			jQuery("form[name='formDetl'] input[name='UOM_ID' ]").val(uom_id);
			jQuery("form[name='formDetl'] input[name='UOM_CD' ]").val(uom_cd);
			jQuery("form[name='formDetl'] input[name='UOM_NM' ]").val(uom_nm);
		    return true;
		}
	});

	listGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {

		var loc_id = jQuery("#list").getCell(rowid,'LOC_ID');
		var loc_cd = jQuery("#list").getCell(rowid,'LOC_CD');

		var available_qty = jQuery("#list").getCell(rowid,'AVAILABLE_QTY');
		var stock_id = jQuery("#list").getCell(rowid,'STOCK_ID');
		var stock_weight = jQuery("#list").getCell(rowid,'STOCK_WEIGHT');
		var sub_lot_id = jQuery("#list").getCell(rowid,'SUB_LOT_ID');
		var item_best_date_end = jQuery("#list").getCell(rowid,'ITEM_BEST_DATE_END');
		
		var uom_id = jQuery("#list").getCell(rowid, 'UOM_ID');
		var uom_cd = jQuery("#list").getCell(rowid, 'UOM_CD');
		var uom_nm = jQuery("#list").getCell(rowid, 'UOM_NM');
		
		jQuery("form[name='formDetl'] input[name='LOC_ID' ]").val(loc_id);
		jQuery("form[name='formDetl'] input[name='LOC_CD' ]").val(loc_cd);
		jQuery("form[name='formDetl'] input[name='AVAILABLE_QTY' ]").val(available_qty);
		jQuery("form[name='formDetl'] input[name='STOCK_ID' ]").val(stock_id);
		jQuery("form[name='formDetl'] input[name='STOCK_WEIGHT' ]").val(stock_weight);
		jQuery("form[name='formDetl'] input[name='SUB_LOT_ID' ]").val(sub_lot_id);
		jQuery("form[name='formDetl'] input[name='ITEM_BEST_DATE_END']").val(item_best_date_end);
		
		jQuery("form[name='formDetl'] input[name='UOM_ID' ]").val(uom_id);
		jQuery("form[name='formDetl'] input[name='UOM_CD' ]").val(uom_cd);
		jQuery("form[name='formDetl'] input[name='UOM_NM' ]").val(uom_nm);
		
		fn_paramSet();
	});
	// 그리드 셀선택
	listGrid.setSelectRowEventCallback(function (id) {

		var loc_id = jQuery("#list").getCell(id,'LOC_ID');
		var loc_cd = jQuery("#list").getCell(id,'LOC_CD');

		var available_qty = jQuery("#list").getCell(id,'AVAILABLE_QTY');
		var stock_id = jQuery("#list").getCell(id,'STOCK_ID');
		var sub_lot_id = jQuery("#list").getCell(id,'SUB_LOT_ID');

		var sub_lot_id = jQuery("#list").getCell(id,'SUB_LOT_ID');
		var stock_weight = jQuery("#list").getCell(id,'STOCK_WEIGHT');

		var uom_id = jQuery("#list").getCell(rowid, 'UOM_ID');
		var uom_cd = jQuery("#list").getCell(rowid, 'UOM_CD');
		var uom_nm = jQuery("#list").getCell(rowid, 'UOM_NM');
		
		
		jQuery("form[name='formDetl'] input[name='LOC_ID' ]").val(loc_id);
		jQuery("form[name='formDetl'] input[name='LOC_CD' ]").val(loc_cd);
		jQuery("form[name='formDetl'] input[name='AVAILABLE_QTY' ]").val(available_qty);
		jQuery("form[name='formDetl'] input[name='STOCK_ID' ]").val(stock_id);
		jQuery("form[name='formDetl'] input[name='STOCK_WEIGHT' ]").val(stock_weight);
		jQuery("form[name='formDetl'] input[name='SUB_LOT_ID' ]").val(sub_lot_id);
		
		
		jQuery("form[name='formDetl'] input[name='UOM_ID' ]").val(uom_id);
		jQuery("form[name='formDetl'] input[name='UOM_CD' ]").val(uom_cd);
		jQuery("form[name='formDetl'] input[name='UOM_NM' ]").val(uom_nm);
	});

	/* 헤더 그룹처리 */
	jQuery("#list").jqGrid('setGroupHeaders', {
		useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		//startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'RITEM_CD',  numberOfColumns : 2	,titleText : '$!lang.getText("제품")'}
		                ]
	});
	/* 그리드 공통화 적용 끝- listGrid */

	 // 검색조건 enter검색
	 Event.observe('srchBox', 'keydown', cfn_search, false);

	//첫 input박스 포커스
	jQuery("#srchBox > tbody > tr > td > input:first").focus();
	jQuery('#vrSrchLocCd').focus(); //후순위
});

//검색
function fn_search(op) {

	var param = jQuery("form[name='formDetl']").serialize();
	var url = "/WMSCM080Q5/list02.action?"+param;
	var op = 0; // 페이징 리셋을 위해서...
	var page = op == 0 ? 1 : jQuery("#list").jqGrid().getGridParam("page");

	var opts = {
			url : url,
			datatype : "json",
			page : page
	};

	jQuery("#list").clearGridData();
	jQuery("#list").setGridParam(opts);
	jQuery("#list").trigger("reloadGrid");
}

//부모창으로 값 보내기
function fn_paramSet(err){

	var frm = document.formDetl;
	var arg_func 	= frm.func.value;

	var opnr_func = eval("opener." + arg_func );
	var arr 	= new Array();
	var hitCnt 	= 0;

	if(frm.LOC_ID.value != ""){
        var info			= new Object();

        info.loc_id			= frm.LOC_ID.value;
        info.loc_cd			= frm.LOC_CD.value;
        info.available_qty	= frm.AVAILABLE_QTY.value;
        info.stock_id		= frm.STOCK_ID.value;
    	info.stock_weight   = frm.STOCK_WEIGHT.value;
        info.sub_lot_id		= frm.SUB_LOT_ID.value;
        info.item_best_date_end = frm.ITEM_BEST_DATE_END.value;
        
		info.uom_id			= frm.UOM_ID.value;
		info.uom_cd			= frm.UOM_CD.value;
		info.uom_nm			= frm.UOM_NM.value;
		
        ///
        
        arr[0]= info;

    	if(arr != null){
    		opnr_func(arr);
    	}

        self.close();
	}else{
		if(err != null){
			alert("$!lang.getText('세션정보가없습니다.')");
			var opnr_func = eval("opener.fn_pop_err");
			var info = new Object();
			info.err = err;
			arr[0]= info;
			if(arr != null){
	    		opnr_func(arr);
	    	}
		}else{
			alert("$!lang.getText('로케이션을선택해주세요')");
			return;
		}
	}
}
var message_list = {
	    'no_selected_data_for_delete': '$!lang.getText('삭제할데이터를선택해주세요', $ss_lang_type)',
	    'no_check_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)',
	    'confirm_save': '$!lang.getText('저장하시겠습니까', $ss_lang_type)',
	    'no_selected_data_for_save': '$!lang.getText('저장할데이터를선택해주세요', $ss_lang_type)'
	}

/* 팝업 호출 */
function fn_Popup(pop){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "790";
	var height = "590";

	switch(pop){

	case 'WMSMS040':
		param = '?func=fn_setWMSCM040&strParameter='+strParameter+"&stBtnYn='Y'";
		url = "/WMSMS040/pop.action" + param;
		break;
	}
	//cfn_openModal
	var asppop = cfn_openPop2(url, "fn_Popup2", width, height);
	asppop.focus();
}

/* 팝업 적용 (창고) */
function fn_setWMSCM040(arr){

	var info = arr[0];

	jQuery("#S_WH_NM").val(info.wh_nm)
	jQuery("#S_WH_CD").val(info.wh_cd)
	jQuery("#vrWhId").val(info.wh_id)

}

/* 창고 자동팝업생성 */
function onKillFocus(type){
	var text = "";
	var param = "";

	if(type == 'CD'){
		text = jQuery("form[name='formDetl'] input[name='S_WH_CD']").val();
		jQuery("form[name='formDetl'] input[name='S_WH_NM']").val("");
		param = param + "S_WH_CD="+text;
	}else if(type == 'NM'){
		text = jQuery("form[name='formDetl'] input[name='S_WH_NM']").val();
		jQuery("form[name='formDetl'] input[name='S_WH_CD']").val("");
		param = param +"S_WH_NM="+text;
	}else if(type == 'ID'){
		jQuery("form[name='formDetl'] input[name='vrSrchLocId']").val("");
	}

	if (cfn_trim(text) == ""){
		jQuery("form[name='formDetl'] input[name='vrWhId']").val("");
		return;
	}

	var url = "/WMSMS040/listClient.action";
	jQuery.post(url,param,function(data){
		var cnt = data.LIST.totCnt;
		// console.log(data);
		if (cnt > 1){
			var strParameter = [];
			var width = "790";
			var height = "460"
			strParameter.push(jQuery("#S_WH_CD").val());
			strParameter.push(jQuery("#S_WH_NM").val());

			var param = '?func=fn_setWMSMS040&strParameter='+strParameter+'&stBtnYn=N';
			var url = "/WMSMS040.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();

		}else if (cnt == 1){
			jQuery("form[name='formDetl'] input[name='S_WH_CD']").val(data.LIST.list[0].WH_CD);
			jQuery("form[name='formDetl'] input[name='vrWhId']").val(data.LIST.list[0].WH_ID);
			jQuery("form[name='formDetl'] input[name='S_WH_NM']").val(data.LIST.list[0].WH_NM);

			fn_search();
		}else{
			alert("$!lang.getText('입력한코드에대한값이존재하지않습니다')");
			jQuery("form[name='formDetl'] input[name='S_WH_CD']").val("");
			jQuery("form[name='formDetl'] input[name='S_WH_NM']").val("");
			jQuery("form[name='formDetl'] input[name='S_WH_CD']").focus();
			return;
		}
	});
}
</script>
<div class="popupWrap">

    <div class="popupHeader">
    	<form name="formDetl" action="" method="post">
			<input type="hidden" id="func" name="func" value="$!request.getParameter('func')"/>

    		<input type="hidden" name="LOC_ID" />
    		<input type="hidden" name="LOC_CD" />
    		<input type="hidden" name="AVAILABLE_QTY" />
    		<input type="hidden" name="STOCK_ID" />
    		<input type="hidden" name="SUB_LOT_ID" />
    		<input type="hidden" name="vrViewOnlyLoc" />
    		<input type="hidden" name="STOCK_WEIGHT"/>
    		<input type="hidden" name="vrViewSubLotId" />
    		<input type="hidden" name="vrRitemId" />
    		<input type="hidden" name="ITEM_BEST_DATE_END"/>
    		<input type="hidden" name="UOM_ID"/> 
    		<input type="hidden" name="UOM_CD"/> 
 		    <input type="hidden" name="UOM_NM"/> 
 		    <input type="hidden" name="vrViewStockQty"/>

    		<div class="btnArea marB10">
				<div class="btnAreaLeft">
					$!lang.getText("로케이션조회")
				</div>
			</div>

    		<table class="search" id="srchBox">
    			<colgroup>
    				<col width="100px"/>
    				<col width="50%"/>
    				<col width="100px"/>
    				<col width="50%"/>
    				<col width="40px"/>
    			</colgroup>
    			<tr>
    				<th>$!lang.getText("창고")</th>
					<td>
						<input type="text" class = "text" style="width: 30%" name="S_WH_CD" id="S_WH_CD" onchange="onKillFocus('CD')"/>
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WMSMS040");' class="imgSearch"/>
						<input type="hidden" name="vrWhId" id="vrWhId"/>
						<input type="text" class = "text" style="width: 40%" name="S_WH_NM" id="S_WH_NM" onchange="onKillFocus('NM')"/>
					</td>
    				<th>$!lang.getText("로케이션코드")</th>
    				<td>
    					<input type="text" class="text" name="vrSrchLocCd" id="vrSrchLocCd" style="ime-mode:disabled" onchange="onKillFocus('ID')"/>
    					<input type="hidden" name="vrSrchLocId" id="vrSrchLocId"/>
    				</td>
    				<th class="btnSearch">
						<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search();" title="Search" role="button" aria-disabled="false"/>
					</th>
    			</tr>
    		</table>

    	</form>
    		<div class="btnArea">
				<div class="btnAreaRight">
					<input type="button" class = "btnSave" value="$!lang.getText('선택')"  onclick="fn_paramSet(); "/>
                    <input type="button" class = "btnEtc" value="$!lang.getText('닫기')"  onclick="javascript:self.close();"/>
				</div>
			</div>
    </div>

    <div class="popupContent">
    	<table id="list"></table>
    	<div id="pjmap"></div>
    </div>

</div>
</body>
</html>