<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>$!lang.getText("ZONE소속 변경")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/menu.css?ver=20200625" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css?ver=20200630" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css?ver=20200630" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link rel="stylesheet" href="/css/jprwms.css?ver=20200724" type="text/css" />

<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/SpreadJS12/jQuery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>				
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>
<script type="text/javascript" src="/js/jquery/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.json.js"></script>

<script type="text/javascript" src="/js/prototype-1.7.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/highlight.pack.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/layout.js"></script>

<script type="text/javascript" src="/js/bPopup.js"></script>
<script type="text/javascript" src="/js/sha512.js"></script>
<!--/*SpreadJS Import End*/-->
<script type="text/javascript" src="/js/common.js?ver=20191014"></script>


<script type="text/javascript">

var idsList;



jQuery(document).ready(function(){

	// Tabs
	var arrParameter = "$!request.getParameter('strParameter')".split(',');
	var ids = (arrParameter[0] == undefined) ? "" : arrParameter[0];			//코드(검색조건)
	//console.log(idsList);
	idsList = ids.split('-');
	
	getZoneDatas();
	
	
});

function getZoneDatas(){
	
	var url ="/WMSMS085/listOrg.action";
	jQuery.ajax({
		url: url,
		type: 'GET',
		//data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (출고 조회 오류)'))");
		},
		success		: function(data) {		
			var zoneDatas = JSON.parse(data).rows;
			for(var i = 0; i < zoneDatas.length; i++){
				var option = jQuery("<option value='" + zoneDatas[i].CUST_ZONE_ID + "'>" + zoneDatas[i].CUST_ZONE_NM + "-" + zoneDatas[i].CUST_ZONE_CD + " </option>");
				jQuery('#vrZoneId').append(option);
			}
			
		}
		
	});
}

function fn_save(){
	var custZoneId = jQuery('#vrZoneId').val();
	var param = "";
	param = param + "&CUST_ZONE_ID=" + custZoneId;
	param = param + "&selectIds=" + idsList.length;
	for(var i = 0; i < idsList.length; i++){
		
		param = param + "&CUST_ID" + i + "=" + idsList[i];
		
	}
	
	var url ="/WMSCM310/save.action";
	jQuery.ajax({
		url: url,
		type: 'POST',
		data: param,
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		dataType: 'html',
		error		: function(_, textStatus, errorThrown) {
			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (출고 조회 오류)'))");
		},
		success		: function(data) {		
			alert('변경되었습니다.');
			
		}
		
	});
}

</script>
</head>
<body>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
<div class="patternWrap">	
	
		
	<div class="btnArea">
		<span>
			<form name="frm_list" style="padding: 10px; width:100%">
			
			
				<select id='vrZoneId' style='width:300px;'>
				
				</select>

			
				<input type="button" value="$!lang.getText('저장')" style='width:40px;' class="INS_AUTH UPD_AUTH" name="btn_write" onClick="fn_save();" title="Search" role="button" aria-disabled="false" />
			</form>
		</span>
	</div>	
	<input type = "hidden" name = "vrTemplateId" id = "vrTemplateId"/>
	<input type = "hidden" name = "vrCustSeq" id = "vrCustSeq"/>

	
	
</div>
</body>
</html>