
<script type="text/javascript">

// onload 시 자동 실행
jQuery(document).ready(function() {
			
	// 좌측 메뉴 트리 생성
	jQuery("#list_box").jstree({
		"core" : { "animation" : 100},
        "xml_data" : {
		"data" :
			"" +
			#if($!LIST.size() > 0)
				"<root>" +
				#foreach($row in $!LIST)
					"<item id='$!row.DEPT_ID' parent_id='$!row.UP_DEPT_CD' name='$!row.DEPT_NM' cd='$!row.IN_DEPT_CD'><content><name>$!{row.DEPT_NM}</name></content></item>" +
        		#end
				"</root>"
        	#end
		},

		"plugins" : [ "themes", "xml_data", "ui", "hotkeys"]
	});
	
	jQuery("#list_box").bind("reselect.jstree", function () {
		jQuery("#list_box").bind("select_node.jstree", function (e, data) {
			fn_paramSet(data);
		});
	});
	
	jQuery("#list_box").bind("loaded.jstree", function (event, data) {
        jQuery("#list_box").jstree("open_all");
    }) 
    
});
</script>