
<div class="patternWrap">
	<form name="frm_pp_list">
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width="120px"/>
				<col width="20%"/>
				<col width="60px"/>
				<col width="25%"/>
				<col width="60px"/>
			</colgroup>
			<tr>
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText("조회년월")</th>
				<td>		
					<input type = "text" class = "text" style="width:30%" name="vrSrchReqDtFrom0" id="vrSrchReqDtFrom0" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom0)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom0)"> 
						~
					<input type = "text" class = "text" style="width:30%" name="vrSrchReqDtTo0"   id="vrSrchReqDtTo0"   maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo0)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo0)">
					
				</td>
				<th><img src="../../../img/exam//ico_004.gif" class="imgclass">$!lang.getText('화주')</th>
				<td>
					<input type="text" class="text clCustCd" style="width: 40%" name="vrSrchCustCd0" id="vrSrchCustCd0" onChange="vrSrchCustCd_OnKillFocus('Z')" >  
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST0");' class="imgSearch"/> 
					<input type="hidden" class="clCustId" name="vrSrchCustId0" id="vrSrchCustId0"> 
					<input type="text" class="text clCustNm" style="width: 40%" name="vrSrchCustNm0" id="vrSrchCustNm0" onChange="vrSrchCustNm_OnKillFocus('Z')"> 
				</td>
				
				<th>$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 50%" name="vrSrchRitemCd0" id="vrSrchRitemCd0" onChange="vrSrchItemCd_OnKillFocus('Z')"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 50%" name="vrSrchRitemNm0" id="vrSrchRitemNm0" onChange="vrSrchItemNm_OnKillFocus('Z')">
						<input type="hidden" name="vrSrchRitemId0" id="vrSrchRitemId0">  
				</td>
				<th>$!lang.getText("수수료율")</th>
				<td><input type = "text" maxlength = "10" name = "serviceRate" id = "serviceRate"	class = "text" value="7.11"></td>
				<th class="btnSearch">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search0();" title="Search" role="button" aria-disabled="false"/>
				</th>
				
			</tr>			
		</table>	
	</form>
	
	<div class="btnArea">
		<div class="btnAreaRight">
<!-- 			<input type="button" class="INS_AUTH btnEtc" name="btn_write" value="$!lang.getText('입고수정')"	onclick="fn_EditIOCnt('I');" title="$!lang.getText('입고수정')" id="IModify"/> -->
<!-- 			<input type="button" class="INS_AUTH btnEtc" name="btn_write" value="$!lang.getText('출고수정')"	onclick="fn_EditIOCnt('O');" title="$!lang.getText('출고수정')" id="OModify"/> -->
<!-- 			<input type="button" class="INS_AUTH UPD_AUTH btnSave" name="btn_write"	value="$!lang.getText('저장')" onclick="fn_save0();"	id="save0"/> -->
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel" name="btn_write" onclick="fn_excelDown0();" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div class="list_box">
		<table id="pp_list"></table>
		<div id="pp_pjmap"></div>
	</div>
	
	<form name = "frm_data0">
		<div id = "formData0" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>

<script type="text/javascript">
	#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
	
	var peopleGrid = new ULNSI_jQGrid();
	
	/* 그리드 공통화 적용 시작- peopleGrid */
	// 그리드 컬럼명 
	var colNameArray_people = [
	              '',
	              'ST_GUBUN',	              
	              'FLAG',
	              
	              '$!lang.getText("품목코드")',
	              
	              '$!lang.getText("품명")',
	              'ERP$!lang.getText("주문수량")',
	              'OMS$!lang.getText("주문수량")',
	              '$!lang.getText("출고수량")',
	              
	              '$!lang.getText("수수료율(%)")',
	              '$!lang.getText("단가")',
	              '$!lang.getText("합계")',
	              
	              '$!lang.getText("예상운송료")'
		          ];
	// 그리드 컬럼 정의
	var colModelArray_people = [
			{name:'CHK_BOX',				index:'CHK_BOX',					hidden:true},
			{name:'ST_GUBUN',				index:'ST_GUBUN',					hidden:true},			
			{name:'FLAG',					index:'FLAG',						hidden:true},
						
			{name:'ITEM_CD',		   		index:'ITEM_CD',		width:120,   align:"left"},
			{name:'ITEM_NM',		   		index:'ITEM_NM',		width:200,   align:"left"},
			{name:'ERP_ORD_QTY',		   	index:'ERP_ORD_QTY',	width:120,   align:"left", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}, //주문수량
			{name:'OMS_ORD_QTY',		   	index:'OMS_ORD_QTY',	width:120,   align:"left", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}, //출고수량
			{name:'WINUS_OUT_QTY',		   	index:'WINUS_OUT_QTY',	width:120,   align:"left", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}, //출고수량
			
			
			{name:'SERVICE_RATE',		   	index:'SERVICE_RATE',	width:120,   align:"left" , formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 2}}, // 수수료율
			{name:'UM',						index:'UM',				width:120,	align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}, //단가
			{name:'TOTAL_UM',				index:'TOTAL_UM',		width:120,	align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}, //합게
			{name:'TOTAL_TRANS_UM',			index:'TOTAL_TRANS_UM',	width:120,	align:"right", formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}} //예상운송료
			
		];
	var option_people = {
		'title' : '$!lang.getText("기간별 배송비현황")',
		'height' : 500,
		'width' : '100%',
		'colName' : colNameArray_people,
		'colModel' : colModelArray_people,
	    'pager' : jQuery("#pp_pjmap"),
        'autowidth' : true,
        'multiselect' : true,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : false,
        'rowList' : [1000,3000,5000],
        'rownumbers' : true,
        'rownumWidth' : 30,
        'footerrow' 	: true,
		'userDataOnFooter' : true		
	};	

	var param = jQuery("form[name='frm_pp_list']").serialize();	
	
	var url_people = "/WMSTG600/list0.action?"+param;

	function loadCompleteEventCallback0 (data){		
		
		var grid     = jQuery("#pp_list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();		
		
		var SUM_ERP_ORD_QTY			= 0;
		var SUM_WINUS_OUT_QTY 		= 0;
		var SUM_OMS_ORD_QTY 		= 0;
		var SUM_UM 					= 0;
		var SUM_TOTAL_UM			= 0;		
		var SUM_TOTAL_TRANS_UM		= 0;	
		var SUM_SERVICE_RATE 	    = 0;
		
		//헤더 체크박스 숨김 처리
		jQuery("#cb_pp_list").hide();
		
		for(var i = 0 ; i < gridData.length; i++){
			//합계처리 변수 연산						
			SUM_ERP_ORD_QTY	 	= SUM_ERP_ORD_QTY + Number(gridData[i].ERP_ORD_QTY);
			SUM_WINUS_OUT_QTY 	= SUM_WINUS_OUT_QTY + Number(gridData[i].WINUS_OUT_QTY);
			SUM_UM 				= SUM_UM + Number(gridData[i].UM);
			SUM_TOTAL_UM 		= SUM_TOTAL_UM + Number(gridData[i].TOTAL_UM);
			SUM_TOTAL_TRANS_UM  = SUM_TOTAL_TRANS_UM + Number(gridData[i].TOTAL_TRANS_UM);
			SUM_SERVICE_RATE    = SUM_SERVICE_RATE +  Number(gridData[i].SERVICE_RATE);
			SUM_OMS_ORD_QTY		= SUM_OMS_ORD_QTY +  Number(gridData[i].OMS_ORD_QTY);
		}
		
		
		//합계처리 변수 셋업
		var footData = {
						 ITEM_CD  		: "$!lang.getText('합계')"
						,ERP_ORD_QTY 	: SUM_ERP_ORD_QTY
						,WINUS_OUT_QTY  : SUM_WINUS_OUT_QTY
						,UM 			: SUM_UM
						,TOTAL_UM		: SUM_TOTAL_UM
						,TOTAL_TRANS_UM	: SUM_TOTAL_TRANS_UM
						,SERVICE_RATE   : SUM_SERVICE_RATE
						,OMS_ORD_QTY    : SUM_OMS_ORD_QTY
						/*,OUT_QTY   : SUM_OUT_QTY						
						,INOUT_QTY : SUM_INOUT_QTY
						,COST  	   : SUM_COST
						,CAL_COST  : SUM_CAL_COST*/
			   		   };
		
		grid.jqGrid('footerData','set', footData);
				
		//pf_ProcessDataChk();
		
		//주문수량과 출고수량이 다르면 셀 색상 변경
		var gridCount 	   = grid.getGridParam("reccount") // 그리드 전체 행 개수
		var cssBgc  	   = {'background' : '#FDE6F7'};
		if(gridCount != 0){
			for(var j = 0 ; j <= gridCount; j++){
				
// 				alert(grid.getCell(1,'WINUS_OUT_QTY'));
// 				alert(grid.getCell(j,'ERP_ORD_QTY'));
				
				var winusOutQty = grid.getCell(j,'WINUS_OUT_QTY');
				var erpOrdQty = grid.getCell(j,'ERP_ORD_QTY');
				var omsOrdQty = grid.getCell(j,'OMS_ORD_QTY');
// 				grid.jqGrid('setCell', ids[4], 'WINUS_OUT_QTY',  '', cssBgc); //5번째

				if( winusOutQty != erpOrdQty){ //
					grid.jqGrid('setCell', ids[j-1], 'WINUS_OUT_QTY',  '', cssBgc);
					grid.jqGrid('setCell', ids[j-1], 'ERP_ORD_QTY',  '', cssBgc);
				}
				if( omsOrdQty != erpOrdQty){ //
					grid.jqGrid('setCell', ids[j-1], 'OMS_ORD_QTY',  '', cssBgc);
					grid.jqGrid('setCell', ids[j-1], 'ERP_ORD_QTY',  '', cssBgc);
				}
			}
		}else{
			return;
		}
		
	};
	
	peopleGrid.init(jQuery("#pp_list"), option_people, url_people, loadCompleteEventCallback0);
	
	/* 페이지로딩 시 화주정보 popup */
	if("" == jQuery("form[name='frm_pp_list'] input[name='vrSrchCustCd0']").val()){
		//fn_Popup('CUST0');
	}
	
// 	peopleGrid.setBeforeSelectRowEventCallback( function(rowid, e){		
// 		if ( jQuery(e.target).closest('td')[0].cellIndex === 1 ){
// 		    jQuery("#frm_pp_list").jqGrid('resetSelection');
// 		    return true;
// 		}
// 	});
	
	//체크박스 선택
	peopleGrid.setSelectCellEventCallback(function(id, col){		
		var grid = jQuery("#pp_list");
		if(col == 1){
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				jQuery("#jqg_pp_list_"+id).attr("checked",false);
	 			grid.setCell(id, 'CHK_BOX', "No");
	 			grid.restoreRow(id);
	 			peopleGrid.setStatus(id, " "); 			
	 			//unSelect chkBox 이슈 이벤트 : 체크박스 해제 시 틀고정 부분 컬럼 스크롤 상단으로 위치하는 크롬 버그 처리
	            jQuery("#pp_list").closest(".ui-jqgrid-bdiv").scrollTop(jQuery("#pp_list").closest(".ui-jqgrid-bdiv").scrollTop() + 1);
			}else{
				jQuery("#jqg_pp_list_"+id).attr("checked",true);
	 			grid.setCell(id, 'CHK_BOX', "Yes");	 		
	 			 			
	 			if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
	 				peopleGrid.setStatus(id, "INSERT");
	 			}else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
	 				peopleGrid.setStatus(id, "UPDATE");
	 			}	 			
			}
		}else {
			if(grid.getCell(id, 'CHK_BOX') == "Yes"){
				grid.setCell(id, 'CHK_BOX', 'Yes');
				grid.setSelection(id, false);
			}else{
				grid.setCell(id, 'CHK_BOX', 'No');
				grid.setSelection(id, true);
			}
		}
	});
	
	/* 헤더 그룹처리 */
	jQuery("#pp_list").jqGrid('setGroupHeaders', {
		 useColSpanStyle : true	//그룹처리안된부분 false 분리 , true 묶음
		 //startColumnName : 시작 컬럼 ,  numberofColumns : 그룹할 컬럼갯수 , titleText : 그룹한 컬럼 TEXT 이름
		,groupHeaders : [
		                  {startColumnName : 'IN_QTY',  numberOfColumns : 4	,titleText : '$!lang.getText("보관현황")'}
						]
	});
	
	//기간별 배송비현황 검색
	function fn_search0(op,op1) {
		
		if(!fn_chkInitCustId0()){return;}
				
		var lc_id = jQuery("select[name='SVC_INFO']").val();
		
		var param = jQuery("form[name='frm_pp_list']").serialize() + "&LC_ID="+lc_id;
		var url = "/WMSTG600/list0.action?"+param;
		
		peopleGrid.search(param, url, op, op1);
		
		//저장, 삭제  버튼 숨기기 유무(명세서 저장 처리가 되었으면 수정을 못한다.)
		//pf_ProcessDisplay0();		
	}
	
	/* 화주 팝업 후 처리 */
	function fn_setWMSCM011_0(arr){
		var info = arr[0];
		//일괄 화주 Setting
		jQuery('.clCustCd').val(info.cust_cd);
		jQuery('.clCustNm').val(info.cust_nm);
		jQuery('.clCustId').val(info.cust_id);					
	}
	
	/* 조회조건 화주 체크*/
	function fn_chkInitCustId0(){
		if(jQuery("#vrSrchCustCd0").val() == "" || jQuery("#vrSrchCustCd0").val().length == 0){
			fn_Popup("CUST0");
			return false;
		}
		return true;
	}
	
	/*엑셀다운 */
	
	function fn_excelDown0(){
		var grid = jQuery("#frm_pp_list");
		var sidx =  grid.getGridParam('sortname');
		var sord = grid.getGridParam('sortorder');
		var lc_id = jQuery("select[name='SVC_INFO']").val();
		
		var param = "?sidx="+sidx+"&sord="+sord+ "&LC_ID="+lc_id;
		
	    var fm = document.frm_pp_list;
	    var countRow = jQuery("#pp_list").getDataIDs().size();
	    
	    if(countRow == 0){
	        alert('$!lang.getText("excel.down.nodata")');
	        return;
	    } else if(countRow > 60000) {
	        alert('$!lang.getText("excel.down.maxrow")');
	        return;
	    } else {
	        fm.action="/WMSTG600/excelDown0.action"+param;
	        fm.method="post";
	        fm.submit();
	    }  
	}
	
	//셀 더블클릭S
	peopleGrid.setDblClickRowEventCallback(function (rowid, iRow, iCol, e) {
		
		var vrItemCd		   = peopleGrid.getCell(rowid,'ITEM_CD');
		var vrFromDate		   = jQuery("form[name='frm_pp_list'] input[name='vrSrchReqDtFrom0']").val();
		var vrToDate		   = jQuery("form[name='frm_pp_list'] input[name='vrSrchReqDtTo0']").val();
		var vrLc_id 		   = jQuery("select[name='SVC_INFO']").val();
		var strParameter = [];
		
		strParameter.push(vrItemCd);
		strParameter.push(vrFromDate);
		strParameter.push(vrToDate);
		strParameter.push(vrLc_id);
		
		//신규 버튼이랑 똑같은 화면
		fn_new(strParameter);
	});
	

	/* 신규 */
	function fn_new(strParameter){
		
		strParameter 	= (strParameter  == undefined) ? [] : strParameter;
		
		if(strParameter.size() == 0){
			strParameter.push('');
			strParameter.push('');
		}
		
		var param 		= '?func=fn_search0&strParameter='+strParameter;
		var url 		= '/WMSTG600P01.action'+param;
		var width 		= "1100";
		var height 		= "780"	
		var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
		asppop.focus();
	}
	
</script>