#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
##jQuery => $ 로 교체하면 에러 발생함. 주의.
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');
</script>

<script type="text/javascript">
jQuery(document).ready(function(){
	wmstg070.init();	// 화면 function init.

	/* @특정상품권한:Y, 사용자관리LC상품군,  @param : (고정), (고정), (요소타입:select/input), (요소ID) */
	cfn_setFixedItemGrpIdByLc("$ss_item_fix_yn", "$ss_item_grp_id", "select", "vrSrchItemGrpId");
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;

	if(true){
		vrSrchCustCd_OnStart();
	}

	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	/* 고객사 ID의 경우 검색화주를 고정시킨 */
	if("$!ss_user_gb" == "20"){
		//url += "&S_CUST_CD=$!ss_cmpy_code&S_CUST_NM=$!ss_cmpy_name";
		// 고객사 ID의 경우 검색화주를 고정시킴
		//jQuery("form[name='frm_list'] input[name='S_CUST_ID']").val("$ss_cmpy_id");
		// jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val("$ss_cmpy_id");
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("$ss_cmpy_code").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("$ss_cmpy_name").attr("class", "readOnly").attr("readonly", "readonly");
		jQuery("form[name='frm_list'] img[name='btnSrchCustPop']").removeAttr("onclick");
	}
	
	var paramInit = jQuery("form[name='frm_list']").serialize();
	var url = "/WMSTG070/list.action?"+paramInit;
	
	// fn_search();
	
});

//----------------------------------------------------------자동완성----------------------------------------------------------//
/*
    srchKey : 명명            :구현: 파라미터 명
  ----------------------------------------------------------------------------------
	CAR     : 차량            : O : vrSrchCarCd , vrSrchCarNm(X)
	CENTER  : 물류센터      : O : vrSrchCenterCd, vrSrchCenterNm
	CLIENT  : 고객사         : O : vrSrchCustCd, vrSrchCustNm, srchSubCode3, srchSubCode4
	                         (srchSubCode3 => 100 : 고객사, 104 : 물류센터, 108 : 거래처 ) 
	CUST    : 화주            : O : vrSrchCustCd, vrSrchCustNm
	DEPT    : 부서            : X :
	DOCK    : 도크            : O : vrSrchDockCd, vrSrchDockNo, vrSrchDockNm
	EMPLOY  : 사원            : X :
	ITEM    : 상품            : O : vrSrchItemCd, vrSrchItemNm
	LOCATION : 로케이션    : O : vrSrchLocCd, vrSrchLocId
	UOM     : UOM      : O : vrSrchUomCd, vrSrchUomNm
	USER    : 사용자         : O : vrSrchUserId, vrSrchUserNm, srchSubCode3, srchSubCode5
	WH      : 창고            : O : vrSrchWhCd, vrSrchWhNm
	ZONE    : 존               : O : vrSrchZoneId, vrSrchZoneNm
 */
 
 /* 로케이션 id 입력 */
//값이 변경될때 (onChange) 이벤트발생
function vrSrchLocId_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchLocId = jQuery('form[name="frm_list"] input[name="vrSrchLocId"]').val();
	//창고코드 값이 있으면 실행한다 
	if( vrSrchLocId != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "LOCATION";
		var param 	= "srchKey=" + srchKey + "&vrSrchLocId=" + vrSrchLocId;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.LOCATION;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchLocId);
				var width 	= "800";
				var height 	= "530";
// 				var param 	= "?func=fn_setWMSCM080&strParameter=" + strParameter + "&stBtnYn=N";
				var param 	= "?func=fn_setWMSCM080&stBtnYn=N";
				var url 	= "/WMSCM080.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchLocId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchLocCd"]').val(data[0].CODE);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchLocId']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrSrchLocCd']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchLocId']").val("");	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
		jQuery("form[name='frm_list'] input[name='vrSrchLocCd']").val("");
	}
}

/* 로케이션 코드 입력 */
function vrSrchLocCd_OnKillFocus(){
	var vrSrchLocCd = jQuery('form[name="frm_list"] input[name="vrSrchLocCd"]').val();
	if( vrSrchLocCd != "" ){
		var srchKey = "LOCATION";
		var param 	= "srchKey=" + srchKey + "&vrSrchLocCd="+vrSrchLocCd;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.LOCATION;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchLocCd);
				var width 	= "800";
				var height 	= "530";
// 				var param 	= "?func=fn_setWMSCM080&strParameter=" + strParameter + "&stBtnYn=N";
				var param 	= "?func=fn_setWMSCM080&stBtnYn=N";
				var url 	= "/WMSCM080.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchLocId"]').val(data[0].ID);
				jQuery('form[name="frm_list"] input[name="vrSrchLocCd"]').val(data[0].CODE);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchLocId']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchLocCd']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
    	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchLocId']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchLocCd']").val("");
	}
}
 
/* 창고코드 입력 */
//값이 변경될때 (onChange) 이벤트발생
function vrSrchWhCd_OnKillFocus(){
	//창고코드 값을 가져온다.
	var vrSrchWhCd = jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val();
	//창고코드 값이 있으면 실행한다 
	if( vrSrchWhCd != "" ){
		//srchKey 값에따라 impl 단에서 분기가된다.
		//var param = "srchKey=xxx&~"  xxx값이 해당되는 키로 바뀌면됨  (해당 srchKey는 위 주석 참고)
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhCd=" + vrSrchWhCd;
		//자동완성 url 공통
		var url = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			//data.xxx -> xxx값이 srchKey로 맞춘다.
			//각데이터컬럼은 ID, CODE, NAME 3가지만 있으므로 화면에 맞게 각각 필요한것만 넣어주면된다.
			var data = data.WH;
			var cnt  = data.size();
			//2개이상일경우는 팝업을띄운게된다.
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchWhCd);
				var width 	= "800";
				var height 	= "530";
				var param 	= "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url 	= "/WMSMS040/pop.action" + param;
				var asppop  = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			//1개일경우는 바로 매칭
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
			}
			//없을경우는 초기화시키고 포커스시킨다.
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
				jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("");	//.val("").focus(); 하면 바로 초기화하면서 포커스이동이됨
		jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
	}
}

/* 창고명 입력 */
function vrSrchWhNm_OnKillFocus(){
	var vrSrchWhNm = jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val();
	if( vrSrchWhNm != "" ){
		var srchKey = "WH";
		var param 	= "srchKey=" + srchKey + "&vrSrchWhNm="+vrSrchWhNm;
		var url 	= "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.WH;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchWhNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSMS040&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSMS040/pop.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchWhCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchWhNm']").val("");
	}
}

/* 화주코드 입력 */
function vrSrchCustCd_OnKillFocus(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	if( vrSrchCustCd != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchCustCd);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 화주명 입력 */
function vrSrchCustNm_OnKillFocus(){
	var vrSrchCustNm = jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val();
	if( vrSrchCustNm != "" ){
		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.CUST;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchCustNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM011&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM011.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if(cnt == 1){
				jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
			}
			else if(cnt == 0){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
				jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
		jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
	}
}

/* 상품코드 입력 */
function vrSrchItemCd_OnKillFocus(){
	var vrSrchItemCd = jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val();
	if( vrSrchItemCd != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if( cnt > 1 ){
				var strParameter = [];
				strParameter.push(vrSrchItemCd);
				var width  = "800";
				var height = "530"
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodat')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
	}
}

/* 상품명 입력 */
function vrSrchItemNm_OnKillFocus(){
	var vrSrchItemNm = jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val();
	if( vrSrchItemNm != "" ){
		var srchKey = "ITEM";
		var param   = "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
		var url     = "/selectMngCode.action"
		jQuery.post(url, param, function(data){
			var data = data.ITEM;
			var cnt  = data.size();
			if(cnt > 1){
				var strParameter = [];
				strParameter.push('');
				strParameter.push(vrSrchItemNm);
				var width  = "800";
				var height = "530";
				var param  = "?func=fn_setWMSCM091&strParameter=" + strParameter + "&stBtnYn=N";
				var url    = "/WMSCM091.action" + param;
				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
				asppop.focus();
			}
			else if( cnt == 1 ){
				jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(data[0].CODE);
				jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(data[0].NAME);
			}
			else if( cnt == 0 ){
				alert("$!lang.getText('list.nodata')");
				jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("").focus();
				jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");
			}
		}).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
	}else{
		jQuery("form[name='frm_list'] input[name='vrSrchItemCd']").val("");
		jQuery("form[name='frm_list'] input[name='vrSrchItemNm']").val("");		
	}
}
//---------------------------------------------------------- 팝업 ----------------------------------------------------------//

/* 팝업 호출 */
function fn_Popup(type){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "530"
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'LOCATION': //검색 로케이션
			param = "?func=fn_setWMSCM080";
			url = "/WMSCM080.action" + param;
			break;
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011";
			url = "/WMSCM011.action" + param;
			break;
		case 'WH':		//검색 창고
			param = "?func=fn_setWMSMS040";
			url = "/WMSMS040/pop.action" + param;
			break;
		case 'ITEM':	//검색 상품코드
			var vrSrchItemType = cfn_trim(jQuery('form[name="frm_list"] select[name="vrSrchItemType"]').val());
			var vrSrchCustId = cfn_trim(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
			
			if(vrSrchItemType == 'G'){
				strParameter.push('');
				strParameter.push('');
				strParameter.push(vrSrchCustId);
				param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				url = "/WMSCM091.action" + param;
				break;
				
			}else if(vrSrchItemType == 'P'){
				strParameter.push('');
				strParameter.push('');
				strParameter.push(vrSrchCustId);
				strParameter.push('Y');
				param = '?func=fn_setWMSCM162&strParameter='+strParameter;
				url = "/WMSCM162.action" + param;
				break;
			}else{
				var vrSrchCustId = cfn_trim(jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val());
				strParameter.push('');
				strParameter.push('');
				strParameter.push(vrSrchCustId);
				param = '?func=fn_setWMSCM091&strParameter='+strParameter;
				url = "/WMSCM091.action" + param;
				break;
			}
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 창고코드 팝업 후 처리 */
function fn_setWMSCM080(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchLocId"]').val(info.loc_id);
	jQuery('form[name="frm_list"] input[name="vrSrchLocCd"]').val(info.loc_cd);
}

/* 창고코드 팝업 후 처리 */
function fn_setWMSMS040(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchWhCd"]').val(info.wh_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchWhNm"]').val(info.wh_nm);
}

/* 화주 팝업 후 처리 */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(info.cust_id);
}

/* 상품 팝업 후 처리 */
function fn_setWMSCM091(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(info.item_code);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(info.item_kor_nm);
}
/* 상품 물류용기 팝업 후 처리 */
function fn_setWMSCM162(arr){
	var info = arr[0];	
	jQuery('form[name="frm_list"] input[name="vrSrchItemCd"]').val(info.pool_code);
	jQuery('form[name="frm_list"] input[name="vrSrchItemNm"]').val(info.pool_nm);
}

//--------------------------------------------- SPREAD 용 신규 펑션 -------------------------------------------//
//author : ykim // date : 21.09.09 //

var fn_SetColumnHeader = function(sheet, headerInfo) {
		var headerArr = [];
		var colIndex = 0;
		jQuery.each(headerInfo, function(k, v) {
			var info = {};
			info["name"] = k;
			info["displayName"] = v[0];
			info["size"] = v[1];
			fnCellAlign(sheet, 0, colIndex, sheet.getRowCount(), 1, v[2]);
			if (v.length > 3) {
				jQuery.each(v[3], function(k2, v2) {
					info[k2] = v2;
				})
			}
			headerArr.push(info);
			colIndex++;
		})

		sheet.autoGenerateColumns = false;
		sheet.bindColumns(headerArr);
	};

var fnCellAlign = function(sheet, rS, cS, rE, cE, align) {
		/*
		 * Cell or CellArray의 Align
		 * 
		 * sheet : Cell이 있는 Sheet rS : Cell의 시작 Row cS : Cell의 시작 Column rE :
		 * Cell의 마지막 Row cE : Cell의 마지막 Column align : 정렬 방식 (right & left &
		 * center) >> 대소문자 상관 없음
		 */
		var rE = rE || 1;
		var cE = cE || 1;
		var cell = sheet.getRange(rS, cS, rE, cE, spreadNS.SheetArea.viewport);
		switch (align.toLowerCase()) {
			case "right":
				cell.hAlign(spreadNS.HorizontalAlign.right);
				cell.vAlign(spreadNS.VerticalAlign.right);
				break;
			case "left":
				cell.hAlign(spreadNS.HorizontalAlign.left);
				cell.vAlign(spreadNS.VerticalAlign.left);
				break;
			default:
				cell.hAlign(spreadNS.HorizontalAlign.center);
				cell.vAlign(spreadNS.VerticalAlign.center);
				break;
		}
	};

//함수 선언용 변수
var fn_search;
var fn_excelDown;
var fn_upload;
var fn_setGrid;

//Spread 영역 객체
var spdSheet;
var spdList;
var sidIndex = -1;
var sidOrder = true;

//Column Index 정의.
var CHK_FLAG	 	 = 0;
var CUST_LOT_NO	 	 = 1;
var LOCK_YN		 	 = 2;
var MAKE_DT		 	 = 3;
var ITEM_BEST_DATE_END		 	 = 4;
var IN_DT		 	 = 5;
var STOCK_DATE       = 6;
var STOCK_STATUS_NM  = 7;
var CUST_NM		 	 = 8;
var WH_NM		 	 = 9;
var LOC_CD		 	 = 10;
var RITEM_CD	 	 = 11;
var RITEM_NM	 	 = 12;
var STOCK_QTY	 	 = 13;
var STOCK_WEIGHT 	 = 14;
var UNIT_NM		 	 = 15;
var UOM_NM		 	 = 16;
var UNIT_NO		 	 = 17;
var CNTR_NO		 	 = 18;
var REG_DT		 	 = 19;
var LOC_ID		 	 = 20;
var RITEM_ID	 	 = 21;
var UOM_ID		 	 = 22;
var CUST_ID		 	 = 23;
var WH_ID		 	 = 24;
var STOCK_ID	 	 = 25;
var STOCK_STATUS 	 = 26;
var OUT_EXP_QTY      = 27;
var SUB_LOT_ID       = 28;


      
var arrMC_SPD_CHK_SET = [];        
//Color Code.
var DFC_LINE = '#D4D4D4';
var BKC_FRC  = '#FFEBC8';

var TGT_STCK = "rgba(255, 255, 120, 0.9)";
var LNG_STCK = "rgba(255, 230, 250, 1)";

//화면 Script 객체.
var wmstg070 = {
	init : function(){
		this.gridInit();		//grid Initialize.
		this.fnInit();			//function Initialize.
	},

	fnInit : function(){
		/* 재고 조회 - MainGrid*/
		fn_search = function(op,op1) {
			var param 	= jQuery("form[name='frm_list']").serialize();
			var strUrl 	= "/WMSTG070/list.action";
			
			jQuery.ajax({
				url: strUrl,
				type: 'POST',
				data: param,
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				dataType: 'html',
				error		: function(_, textStatus, errorThrown) {
					alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
				},
				success		: function(data) {
					fn_setGrid(data);	// grid 세팅 함수
				}
			});	
		};

		/* 조회 callback */
		fn_setGrid = function(ds){
			spdList.deleteRows(0, spdList.getRowCount());
			arrBind = [];
			arrBind = JSON.parse(ds);
			arrBind	= arrBind.rows;
			
			if(!pf_Login_Limit_Check(arrBind)){return false;}//LoginCheck

			spdList.suspendPaint();
			
			//sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
			if(arrBind.length != 0){
				spdList.setDataSource(arrBind);
				
				spdList.bindColumn(CHK_FLAG			, "FLAG"		);
				spdList.bindColumn(CUST_LOT_NO		, "CUST_LOT_NO"		);
				spdList.bindColumn(LOCK_YN			, "LOCK_YN"			);
				spdList.bindColumn(MAKE_DT			, "MAKE_DT"			);
				spdList.bindColumn(ITEM_BEST_DATE_END			, "ITEM_BEST_DATE_END"			);
				spdList.bindColumn(IN_DT			, "IN_DT"			);
				spdList.bindColumn(STOCK_STATUS_NM	, "STOCK_STATUS_NM"	);
				spdList.bindColumn(CUST_NM			, "CUST_NM"			);
				spdList.bindColumn(WH_NM			, "WH_NM"			);
				spdList.bindColumn(LOC_CD			, "LOC_CD"			);
				spdList.bindColumn(RITEM_CD			, "RITEM_CD"		);
				spdList.bindColumn(RITEM_NM			, "RITEM_NM"		);
				spdList.bindColumn(STOCK_QTY		, "STOCK_QTY"		);
				spdList.bindColumn(STOCK_WEIGHT		, "STOCK_WEIGHT"	);
				spdList.bindColumn(UNIT_NM			, "UNIT_NM"			);
				spdList.bindColumn(UOM_NM			, "UOM_NM"			);
				spdList.bindColumn(UNIT_NO			, "UNIT_NO"			);
				spdList.bindColumn(CNTR_NO			, "CNTR_NO"			);
				spdList.bindColumn(REG_DT			, "REG_DT"			);
				spdList.bindColumn(LOC_ID			, "LOC_ID"			);
				spdList.bindColumn(RITEM_ID			, "RITEM_ID"		);
				spdList.bindColumn(UOM_ID			, "UOM_ID"			);
				spdList.bindColumn(CUST_ID			, "CUST_ID"			);
				spdList.bindColumn(WH_ID			, "WH_ID"			);
				spdList.bindColumn(STOCK_DATE    	, "STOCK_DATE"		);
				spdList.bindColumn(STOCK_STATUS		, "STOCK_STATUS"	);
				spdList.bindColumn(STOCK_ID			, "STOCK_ID"		);
				spdList.bindColumn(OUT_EXP_QTY   	, "OUT_EXP_QTY"		);
				spdList.bindColumn(SUB_LOT_ID    	, "SUB_LOT_ID"		);
				
			}
			//spdList.autoGenerateColumns = false;
			wmstg070.ps_setSpreadStyle();
			spdList.resumePaint();
		};


		/* 저장 */
		fn_save = function(){
			var nRow   = spdList.getRowCount();
			var tmpCnt = 0;
			var strFlag;
			
			/* 유효성검사 */
			if(!fn_listValidation()){return;}
			
			if(confirm("$!lang.getText('update.confirm')")){
				jQuery("#formData").html("");
				if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
					jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
					jQuery("#formData").append("<br>");
				}else{
					tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
				}
				
				for(var curRow = 0; curRow < nRow; curRow++){
					strFlag = spdList.getValue(curRow, LOCK_YN);

					if(spdList.getCell(curRow, 0).value() == true){
						jQuery("#formData").append("<input type='text' name='LOCK_YN" + tmpCnt + "' value='" + spdList.getValue(curRow, LOCK_YN) + "'/>");
						jQuery("#formData").append("<input type='text' name='SUB_LOT_ID" + tmpCnt + "' value='" + spdList.getValue(curRow, SUB_LOT_ID) + "'/>");
						jQuery("#formData").append("<input type='text' name='LOC_ID" + tmpCnt + "' value='" + spdList.getValue(curRow, LOC_ID) + "'/>"); 
						jQuery("#formData").append("<input type='text' name='RITEM_ID"  + tmpCnt + "' value='" + spdList.getValue(curRow, RITEM_ID)  + "'/>");
						jQuery("#formData").append("<input type='text' name='STOCK_ID"  + tmpCnt + "' value='" + spdList.getValue(curRow, STOCK_ID)  + "'/>");
						jQuery("#formData").append("<input type='text' name='ST_GUBUN" + tmpCnt + "' value='UPDATE'/>");
						
						tmpCnt++;
					}
				}
				
				jQuery("form[name='frm_data'] input[name='selectIds']").val(tmpCnt);
				
				var param = jQuery("form[name='frm_data']").serialize();
				var url = "/WMSTG070/save.action";
				jQuery.post(url, param, function(data){
					alert(data.MSG);
					if(data.errCnt <= 0 ){
						fn_search();
					}
				}).fail(function(xhr, textStatus){
					if(xhr.status == 404){
						location.href=('/index.html');
					}
				});
			}
		};

		/* fn_save 유효성검사 */
		fn_listValidation = function(){
			var arrMC_SPD_CHK_SET = [];
			var nRow = spdList.getRowCount();

			for(var curRow = 0; curRow < nRow ; curRow++){
				if(spdList.getCell(curRow, 0).value() == true){
				    var curLockYnVal = spdList.getCell(curRow, LOCK_YN).value();
					if(curLockYnVal != "Y" && curLockYnVal != "N"){
						alert("$!lang.getText('Y/N만 입력해야합니다.')");
						spdList.setActiveCell(curRow, LOCK_YN);
						return false;
					}
					arrMC_SPD_CHK_SET.push(curRow);
				}
			}
			
			if(arrMC_SPD_CHK_SET.length == 0){
				alert("$!lang.getText('선택된 항목이 없습니다.')");
				return false;
			}
			
			return true;
		};

		fn_excelDown = function(){
			var spdListExport = spdSheet.getActiveSheet();
			if(spdListExport.getRowCount() > 0){
				pf_MakeTableForEXCEL(spdListExport);
				pf_ExcelReport("$!lang.getText('test')");
			}else{
				alert("$!lang.getText('조회결과가 존재하지 않습니다.')");
				return false;
			}
		};

	},

	gridInit : function(){
		/* Obj Init */
		spdSheet = new GC.Spread.Sheets.Workbook(document.getElementById('spdList'), { sheetCount: 1 });
		ps_setSpreadSheet_init(spdSheet, false);
		spdList = spdSheet.getActiveSheet(0);

		/* 틀고정 컬럼 (왼쪽부터 변수지정 컬럼까지 틀 고정)*/
		//ps_setSpreadList_init(spdList, 1, CUST_LOT_NO, 1, CUST_LOT_NO);

		//select 단위 0:cell , 1:row, 2:col
		spdList.selectionUnit(0);

		var defaultStyle = new GC.Spread.Sheets.Style();
		defaultStyle.font = "11pt 맑은 고딕";
		defaultStyle.hAlign = GC.Spread.Sheets.HorizontalAlign.center;
		spdList.setDefaultStyle(defaultStyle, GC.Spread.Sheets.SheetArea.viewport);
		spdList.setDefaultStyle(defaultStyle, GC.Spread.Sheets.SheetArea.rowHeader);
		spdList.defaults.colHeaderRowHeight = 22;
		spdList.defaults.rowHeight = 25;
    	spdList.options.protectionOptions.allowResizeColumns  = true;
		//spdList.getRange(0, 0, 0, spdList.getColumnCount(), GC.Spread.Sheets.SheetArea.viewport).backColor('rgba(216, 226, 240, 0.4)');
		var setHearderRow = spdList.getRange(0, -1, 2, -1, GC.Spread.Sheets.SheetArea.colHeader);
		setHearderRow.backColor("rgba(216, 226, 240, 0.4)");
		setHearderRow.foreColor("#666666");
		setHearderRow.font("bold 13px Arial");
		spdList.resumePaint(); 
		/* colModel */
		ps_setSpreadCol_CHECKBOX_Property(spdList, 0		, 'CENTER' , 'CENTER' , 8, false,false, "");
		ps_setSpreadCol_TEXT_Property(spdList, CUST_LOT_NO		, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, LOCK_YN			, 'CENTER' , 'CENTER' , 8, true, false, "");
		ps_setSpreadCol_TEXT_Property(spdList, MAKE_DT			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, ITEM_BEST_DATE_END			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, CUST_NM			, 'CENTER' , 'LEFT' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, WH_NM			, 'CENTER' , 'LEFT' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, LOC_CD			, 'CENTER' , 'LEFT' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, RITEM_CD			, 'CENTER' , 'LEFT' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, RITEM_NM			, 'CENTER' , 'LEFT' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, STOCK_QTY		, 'CENTER' , 'RIGHT' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, STOCK_WEIGHT		, 'CENTER' , 'RIGHT' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, UNIT_NM			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, UOM_NM			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, UNIT_NO			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, CNTR_NO			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, REG_DT			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, LOC_ID			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, RITEM_ID			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, UOM_ID			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, CUST_ID			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, WH_ID			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, STOCK_ID			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, IN_DT			, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, STOCK_DATE 		, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, STOCK_STATUS		, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, STOCK_STATUS_NM	, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, OUT_EXP_QTY		, 'CENTER' , 'CENTER' , 8, true, true, "");
		ps_setSpreadCol_TEXT_Property(spdList, SUB_LOT_ID 		, 'CENTER' , 'CENTER' , 8, true, true, "");
		

		
		/* grid set style : colName, colHidden */
		this.ps_setSpreadStyle();
		
		/* grid bindding */
		ps_setSpreadEvents_Bind(spdList);
		
		/* html force event window resizing */
		gfn_forceEventResize();	
	},
	ps_setSpreadStyle : function(){
		/* colName */
		ps_setSpreadTitle_Named(spdList, 0,  0					, '선택'							,35		,true);
		ps_setSpreadTitle_Named(spdList	,0	,CUST_LOT_NO		,"$!lang.getText('LOT번호')"  		,150	,true);
		ps_setSpreadTitle_Named(spdList	,0	,LOCK_YN			,'LOCK'      						,40		,true);
		ps_setSpreadTitle_Named(spdList	,0	,MAKE_DT			,'제조일'      						,80		,true);
		ps_setSpreadTitle_Named(spdList	,0	,ITEM_BEST_DATE_END			,'유효기간만료일'      						,100		,true);
		ps_setSpreadTitle_Named(spdList	,0	,CUST_NM			,"$!lang.getText('화주')"      		,120	,true);
		ps_setSpreadTitle_Named(spdList	,0	,WH_NM				,"$!lang.getText('창고')"       	,150	,true);
		ps_setSpreadTitle_Named(spdList	,0	,LOC_CD				,"$!lang.getText('로케이션')"       ,120	,true);
		ps_setSpreadTitle_Named(spdList	,0	,RITEM_CD			,"$!lang.getText('상품코드')"	    ,110	,true);
		ps_setSpreadTitle_Named(spdList	,0	,RITEM_NM			,"$!lang.getText('상품명')"     	,380	,true);
		ps_setSpreadTitle_Named(spdList	,0	,STOCK_QTY			,"$!lang.getText('수량')"    		,80		,true);
		ps_setSpreadTitle_Named(spdList	,0	,STOCK_WEIGHT		,"$!lang.getText('무게')" 			,80		,true);
		ps_setSpreadTitle_Named(spdList	,0	,UNIT_NM			,"$!lang.getText('입수')"      		,80		,true);
		ps_setSpreadTitle_Named(spdList	,0	,UOM_NM				,"UOM"       						,80		,true);
		ps_setSpreadTitle_Named(spdList	,0	,UNIT_NO			,'UNIT_NO'      					,80		,true);
		ps_setSpreadTitle_Named(spdList	,0	,CNTR_NO			,"$!lang.getText('컨테이너번호')"   ,100	,true);
		ps_setSpreadTitle_Named(spdList	,0	,REG_DT				,"$!lang.getText('생성일자')"       ,160	,true);
		ps_setSpreadTitle_Named(spdList	,0	,LOC_ID				,'LOC_ID'       					,110	,false);
		ps_setSpreadTitle_Named(spdList	,0	,RITEM_ID			,'RITEM_ID'     					,110	,false);
		ps_setSpreadTitle_Named(spdList	,0	,UOM_ID				,'UOM_ID'       					,110	,false);
		ps_setSpreadTitle_Named(spdList	,0	,CUST_ID			,'CUST_ID'      					,110	,false);
		ps_setSpreadTitle_Named(spdList	,0	,WH_ID				,'WH_ID'       						,110	,false);
		ps_setSpreadTitle_Named(spdList	,0	,STOCK_ID			,'STOCK_ID'     					,100	,false);
		ps_setSpreadTitle_Named(spdList	,0	,IN_DT				,"$!lang.getText('입고일')"       	,80		,true);
		ps_setSpreadTitle_Named(spdList	,0	,STOCK_DATE 		,"$!lang.getText('입고일수')" 			,80	    ,true);
		ps_setSpreadTitle_Named(spdList	,0	,STOCK_STATUS		,'STOCK_STATUS' 					,0		,false);
		ps_setSpreadTitle_Named(spdList	,0	,STOCK_STATUS_NM	,"$!lang.getText('재고상태')"  		,100	,true);	
		ps_setSpreadTitle_Named(spdList	,0	,OUT_EXP_QTY		,'OUT_EXP_QTY'     					,100	,false);
		ps_setSpreadTitle_Named(spdList	,0	,SUB_LOT_ID 		,'SUB_LOT_ID'     					,100	,false);

		//spdList.getRange(0, 0, 0, spdList.getColumnCount(), GC.Spread.Sheets.SheetArea.viewport).backColor('rgba(216, 226, 240, 0.4)');
		var setHearderRow = spdList.getRange(0, -1, 2, -1, GC.Spread.Sheets.SheetArea.colHeader);
		setHearderRow.backColor("rgba(216, 226, 240, 0.4)");
		setHearderRow.foreColor("#666666");
		setHearderRow.font("bold 13px Arial");


		//조건부 서식 셋팅.
		var cell = new GC.Spread.Sheets.ConditionalFormatting.NormalConditionRule();
		cell.ruleType(GC.Spread.Sheets.ConditionalFormatting.RuleType.cellValueRule);
		cell.operator(GC.Spread.Sheets.ConditionalFormatting.ComparisonOperators.equalsTo);
		cell.value1("$!lang.getText('관리대상재고')");
		cell.ranges([new GC.Spread.Sheets.Range(0, STOCK_STATUS_NM, spdList.getRowCount(), 1)]);

		var style = new GC.Spread.Sheets.Style();
		style.backColor = TGT_STCK;
		cell.style(style);
		spdList.conditionalFormats.addRule(cell);

		var cell2 = new GC.Spread.Sheets.ConditionalFormatting.NormalConditionRule();
		cell2.ruleType(GC.Spread.Sheets.ConditionalFormatting.RuleType.cellValueRule);
		cell2.operator(GC.Spread.Sheets.ConditionalFormatting.ComparisonOperators.equalsTo);
		cell2.value1("$!lang.getText('장기성재고')");
		cell2.ranges([new GC.Spread.Sheets.Range(0, STOCK_STATUS_NM, spdList.getRowCount(), 1)]);
		
		var style2 = new GC.Spread.Sheets.Style();
		style2.backColor = LNG_STCK;
		cell2.style(style2);
		spdList.conditionalFormats.addRule(cell2);

	}
	
}

//EVENT : checkBox all selection
function ps_setSpreadEvents_CellClick (args){
	if(sidIndex === args.col){
		sidOrder = !sidOrder;
	}else{
		sidOrder = true;
		sidIndex = args.col;
	}

    if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader && args.col === 0) {
		ps_setSelectALL(0, args);
		return false;
	}else if(args.sheetArea === 1){
    	spdList.sortRange(0, 0, spdList.getRowCount(), spdList.getColumnCount(), true, [{index:args.col, ascending:sidOrder}]);
	};
}

//EVENT : cell data change
function ps_setSpreadEvents_CellChanged (args){
	//if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell button click
function ps_setSpreadEvents_ButtonClicked(args){
	//if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell lostfocus
function ps_setSpreadEvents_LostFocus (args){
	//if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell duble click
function ps_setSpreadEvents_CellDoubleClick (args){
	//alert("더블클릭");
}



/* 조회값 초기화*/
function fn_initSer(){
	//초기화클릭시 검색 조건에 해당하는값들 초기화시킨다.
	jQuery("form[name='frm_list'] table input[type='text'] , form[name='frm_list'] table input[type='hidden']").val('');
	jQuery("form[name='frm_list'] table select").val('');
}



/* 그리드 DDL 항목 변경시 자동처리 */
function gridSelectBox_Click(gb, id){
	var grid = jQuery("#list1");
	
	switch(gb){
		case 'LOCK_YN':	//검색 화주
			if('$!windowRoll.windowRoll.INS_AUTH' == "N"){
				alert("$!lang.getText('선택권한이없습니다.')");
                return false;
			}
			break;
	}
}

function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="vrSrchCustCd"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="vrSrchCustNm"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val(data[0].ID);
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val("").focus();
			jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val("");
			jQuery('form[name="frm_list"] input[name="vrSrchCustId"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}
</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("LOT별유효기간재고현황")</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
       #parse("winus/wmstg/WMSTG090Q1.vm")
    </div>
</div>

#parse("winus/common/footer.vm")