<div class="patternWrap">
	<form name="frm_list_T1">
		<table class="search" id="srchBox">
			<colgroup>
				<col width="80px"/>
				<col width="24%"/>	
				<col width="80px"/>
				<col width="24%"/>	
				<col width="10%"/>
				<col width="*%"/>
				<col width="40px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText("작업일자")</th>
				<td>		
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtFrom" id="vrSrchReqDtFrom" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtFrom)" onChange="cfn_onChangeDateFld(vrSrchReqDtFrom)"/> 
					~
					<input type="text" class="text" style="width:30%;" size="12" name="vrSrchReqDtTo" id="vrSrchReqDtTo" maxlength="10" onkeydown="cfn_setDateFld(vrSrchReqDtTo)" onChange="cfn_onChangeDateFld(vrSrchReqDtTo)"/>	
				</td>
				<th>$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus('_T1')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST","_T1");' class="imgSearch"/> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
					<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus('_T1')"> 
				</td>

				<th>$!lang.getText('상품')</th>
				<td>
					<input type="text" class = "text"  style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus('_T1')"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM","_T1");' class="imgSearch"/> 
					<input type="hidden"name="vrSrchItemId" id="vrSrchItemId"> 
					<input type="text" class = "text"  style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus('_T1')"> 
				</td>

				<th class="btnSearch" rowspan="2">
				<input type="button" class="SER_AUTH ui-button ui-widget ui-state-default" name="btn_write" onClick="fn_search('_T1');" title="Search" role="button" aria-disabled="false"/>
				</th>
			</tr> 
		</table>	
	</form>
	


<div class="btnArea">
		<div class="btnAreaLeft" style="width:50%">
	    	<div><span style="margin-right : 10px;"> 출고박스조회 (전체  : <span id="totalSpdList_T1"></span>)</span></div>
	    </div>
		<div class="btnAreaRight">
			<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"   name="btn_write" onclick="fn_excelDown('_T1');" role="button" aria-disabled="false"/>
		</div>
	</div>
	
	<div id="divPanel_SpdList" style="padding-top:50px;">
		<div id="spdList" style="height:700px; border:1px solid #b0b0b0;"></div>
	</div>

</div>
