<div class="patternWrap">
	<form name="frm_list">	
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "70px"/>
				<col width = "30%"/>
				<col width = "80px"/>
				<col width = "25%"/>
				<col width = "90px"/>
				<col width = "30%"/>
				<col width = "40px"/>
			</colgroup>
	        <tbody>
				<tr>
				#if($adminInfo.getCustId() == $ss_user_gb)
					<th>$!lang.getText("화주")</th>
					<td>
						<input type="text" class="readOnly" name="vrSrchCustCd" id="vrSrchCustCd" style="width:40%" readonly="readonly" value="$ss_cmpy_code"/>
						<img src="/img/exam/btn/ico_search.gif" class="imgSearch">
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId" value="$ss_cmpy_id"/>
						<input type="text" class="readOnly" name="vrSrchCustNm" id="vrSrchCustNm" style="width:40%" readonly="readonly" value="$ss_cmpy_name" />
					</td>
				#else
					<th>$!lang.getText("화주")</th>
					<td>
						<input type="text" class="text" name="vrSrchCustCd" id="vrSrchCustCd" style="width:40%" onChange="vrSrchCustCd_OnKillFocus()"/>
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
						<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"/>
						<input type="text" class="text" name="vrSrchCustNm" id="vrSrchCustNm" style="width:40%" onChange="vrSrchCustNm_OnKillFocus()"/>
					</td>
				#end
					<th>$!lang.getText('남은기간')</th>
					<td>
						<input type = "text" maxlength = "75" name = "vrSrchDay" id = "vrSrchDay" 	class = "text">
					</td>
					<th class="thBar">$!lang.getText('창고')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
					</td>
					<th class="btnSearch" rowspan="2">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 	role="button" aria-disabled="false"/>	
					</th>
				</tr>
				<tr>	
					<th></th>
					<td></td>
					<th class="thBar">$!lang.getText('로케이션')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchLocId" id="vrSrchLocId" onChange="vrSrchLocId_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("LOCATION");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchLocCd" id="vrSrchLocCd" onChange="vrSrchLocCd_OnKillFocus()"> 
					</td>
					<th class="thBar">$!lang.getText('상품')</th>
					<td>
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
						<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
						<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
					</td>
<!-- 					<th class="btnReset"> -->
<!-- 						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"  onClick="fn_initSer();" title="초기화"	role="button" aria-disabled="false"/>	 -->
<!-- 					</th> -->
				</tr>
	        </tbody>
	    </table>
	</form> 
	  
	<div class="btnArea">
	     <div class="btnAreaLeft">
	     </div>
	     <div class="btnAreaRight">
			<input type="button" class="EXC_AUTH btnExcel" 	name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()"	role="button" aria-disabled="false"/>	
	    </div>
	</div>
	
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>

</div>


<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>