<div class="patternWrap">
	<form name="frm_list">	
		<table class="search" id="srchBox">
			<colgroup>
				<col width = "60px"/>
				<col width = "20%"/>
				<col width = "60px"/>
				<col width = "20%"/>
				<col width = "80px"/>
				<col width = "30%"/>
				<col width = "40px"/>
			</colgroup>
			<tr>
				<th>$!lang.getText('화주')</th>
				<td>
					<input type="text" class = "text" style="width: 45%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" name="btnSrchCustPop" onClick='fn_Popup("CUST");' class="imgSearch"/> 
					<input type="text" class = "text" style="width: 45%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
					<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
				</td>
				
				<th>$!lang.getText('로케이션')</th>
				<td>
					<input type="text" class = "text" style="width: 45%" name="vrSrchLocId" id="vrSrchLocId" onChange="vrSrchLocId_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("LOCATION");' class="imgSearch"/> 
					<input type="text" class = "text" style="width: 45%" name="vrSrchLocCd" id="vrSrchLocCd" onChange="vrSrchLocCd_OnKillFocus()"> 
				</td>
				
				<th class="thBar">$!lang.getText('상품')</th>
				<td>
					$!comCode.getComboComCode("ITEM_TY", "vrSrchItemType", "", true, "$!lang.getText('전체')", "", "","class='selectbox' style='width: 23%'")
					<input type="text" class = "text" style="width: 32%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
					<input type="text" class = "text" style="width: 32%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
				</td>
				
				<th class="btnSearch" rowspan="3">
					<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" />	
				</th>
			</tr>
			<tr>	
				<th>$!lang.getText('LOT번호')</th>
				<td>
					<input type = "text" class = "text" style="width: 100%" name="vrSrchCustLotNo" id="vrSrchCustLotNo">
				</td>

				<th class="thBar">$!lang.getText('창고')</th>
				<td>
					<input type="text" class = "text" style="width: 45%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
					<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
					<input type="text" class = "text" style="width: 45%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
				</td>
				
				<th>$!lang.getText('컨테이너번호')</th>
				<td>
					<input type = "text" class = "text" style="width: 95%" name="vrSrchCntrNo" id="vrSrchCntrNo">
				</td>
			</tr>
			<tr>	
				<th class="thBar">$!lang.getText('상품군')</th>
				<td>
					<select name='vrSrchItemGrpId' id='vrSrchItemGrpId' class="selectbox">
						<option value="">$!lang.getText('전체')</option>
						<option value="N/A">$!lang.getText('미지정')</option>
						#foreach($row in $ITEMGRP)
						<option value="$row.CODE_CD">$!lang.getText($row.CODE_NM)</option>
						#end
					</select>
				</td>
				<th></th>
				<td></td>
				<th></th>
				<td></td>
			</tr>
			
		</table>
	</form>

	<form name = "frm_data">
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div class="btnArea">
     	<div class="btnAreaRight">
     		<input type="button" class="INS_AUTH btnSave"  		name="btn_write"	value="$!lang.getText('저장')" onClick="fn_save();"		role="button" aria-disabled="false"/>
	     	<input type="button" class="EXC_AUTH btnExcel" 		name="btn_write"	value="$!lang.getText('엑셀')" onclick="fn_excelDown()"	role="button" aria-disabled="false"/>		
    	</div>
	</div>
	
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
	
</div>


<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>