<div class="patternWrap">

<form name="frm_list">	
	<table class="search" id="srchBox">
		<colgroup>
			<col width = "70px"/>
			<col width = "23%"/>
			<col width = "100px"/>
			<col width = "23%"/>
			<col width = "90px"/>
			<col width = "23%"/>
			<col width = "40px"/>
		</colgroup>
		<tr>
			<th class="thBar">$!lang.getText('화주')</th>
			<td>
				<input type="text" class = "text" style="width: 40%" name="vrSrchCustCd" id="vrSrchCustCd" onChange="vrSrchCustCd_OnKillFocus()"> 
				<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("CUST");' class="imgSearch"/> 
				<input type="text" class = "text" style="width: 40%" name="vrSrchCustNm" id="vrSrchCustNm" onChange="vrSrchCustNm_OnKillFocus()"> 
				<input type="hidden" name="vrSrchCustId" id="vrSrchCustId"> 
			</td>
			<th>$!lang.getText('출하등급')</th>
			<td>
				$!comCode.getComboComCode("ITM08", "vrSrchcmbItemGrp", "", true, "$!lang.getText('선택')", "", "","class='selectbox'")
			</td>
			
			<th class="thBar">$!lang.getText('창고')</th>
			<td>
				<input type="text" class = "text" style="width: 40%" name="vrSrchWhCd" id="vrSrchWhCd" onChange="vrSrchWhCd_OnKillFocus()"> 
				<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("WH");' class="imgSearch"/> 
				<input type="text" class = "text" style="width: 40%" name="vrSrchWhNm" id="vrSrchWhNm" onChange="vrSrchWhNm_OnKillFocus()"> 
			</td>
			<th class="btnSearch" rowspan="2">
				<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" />	
			</th>
		</tr>
		<tr>	
		
			<th></th>
			<td></td>
			
			<th class="thBar">$!lang.getText('로케이션')</th>
			<td>
				<input type="text" class = "text" style="width: 40%" name="vrSrchLocId" id="vrSrchLocId" onChange="vrSrchLocId_OnKillFocus()"> 
				<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("LOCATION");' class="imgSearch"/> 
				<input type="text" class = "text" style="width: 40%" name="vrSrchLocCd" id="vrSrchLocCd" onChange="vrSrchLocCd_OnKillFocus()"> 
			</td>
			<th class="thBar">$!lang.getText('상품')</th>
			<td>
				<input type="text" class = "text" style="width: 40%" name="vrSrchItemCd" id="vrSrchItemCd" onChange="vrSrchItemCd_OnKillFocus()"> 
				<img src="/img/exam/btn/ico_search.gif" onClick='fn_Popup("ITEM");' class="imgSearch"/> 
				<input type="text" class = "text" style="width: 40%" name="vrSrchItemNm" id="vrSrchItemNm" onChange="vrSrchItemNm_OnKillFocus()"> 
			</td>
<!-- 			<th class="btnReset" > -->
<!-- 				<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"  onClick="fn_initSer();" title="초기화"/>	 -->
<!-- 			</th> -->
		</tr>
	</table>
</form>

	<div class="btnArea">
	     <div class="btnAreaRight">
			<input type="button" class="EXC_AUTH btnExcel" 	name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()"	role="button" aria-disabled="false"/>	
	    </div>
	</div>

<div class="list_box">
	<table id="list1"></table>
	<div id="pjmap1"></div>
</div>

</div>
<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>