<div class="patternWrap">
	<form name="frm_list">	
		<table class="search" id="srchBox" border="0">
			<colgroup>
				<col width = "80%"/>
				<col width = "40px"/>
				<col width = "5%"/>
				<col width = "60px"/>
			</colgroup>
	        <tbody>
				<tr>
					<th style="background-color:#f3f3f3"></th>

					<th class="thBar" style="text-align:right; background-color:#f3f3f3;"></th>
					<td style="background-color:#f3f3f3">
						<input type="hidden" name="chkAutoRefresh" id="chkAutoRefresh" onClick="fn_chkAutoRefresh();">
					</td>
					<th class="btnSearch" rowspan="1">
						<input type="button" class="SER_AUTH" name="btn_write" value="$!lang.getText('')"   onClick="fn_search();" title="검색" 		role="button" aria-disabled="false"/>	
					</th>
					
					<input type="hidden" name="vrSrchcmbLocList" id="vrSrchcmbLocList">
					<input type="hidden" name="vrSrchPoint" id="vrSrchPoint" value="ASC">
					<input type="hidden" name="vrSrchEpcCd" id="vrSrchAutoSec">
					<input type="hidden" name="vrSrchEpcCd" id="vrSrchEpcCd">
					<input type="hidden" name="vrSrchSerial" id="vrSrchSerial">
					<input type="hidden" name="vrSrchHexGb" id="vrSrchHexGb">
					<input type="hidden" name="vrSrchEpcRunView" id="vrSrchEpcRunView">
					<input type="hidden" name="vrSrchErrCntView" id="vrSrchErrCntView">
					<input type="hidden" name="vrSrchSerialId" id="vrSrchSerialId">
				</tr>
	        </tbody>
	    </table>
	</form>
	
	<div class="btnArea">
	     <div class="btnAreaLeft">
	     </div>
	     <div class="btnAreaRight">
			<!-- <input type="button" class="EXC_AUTH btnExcel" 	name="btn_write" value="$!lang.getText('엑셀')" onclick="fn_excelDown()"	role="button" aria-disabled="false"/> -->	
	    </div>
	</div>
	<div class="Lable_box">
		<br>
		<div id="showlable"></div>
	</div>
	<div class="Table_box" >
		<div id="showheader"  style="overflow-y:scroll;"></div>
	</div>
	<div class="Table_box" >
		<div id="showcell"  style="overflow-y:scroll; height:500px;"></div>
	</div>
	
	
	   
	<div class="btnArea marT10" style="visibility:hidden">		
		<div class="btnAreaLeft">
            <div class="btnAreaLeft" style="margin-left:140px">
				<input type="button" value="$!lang.getText('재고이동')" name="btn_write" onclick="fn_detailMove_Pop();" role="button" aria-disabled="false"/>
            </div>
		</div>
	</div>
	<div class="list_box">
		<table id="list3"></table>
		<div id="pjmap3"></div>
	</div>
	
	<div class="list_box" style="visibility:hidden">             <!-- style="visibility:hidden" -->
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
	
	<div class="list_box" style="visibility:hidden">             <!-- style="visibility:hidden" -->
		<table id="list2"></table>
		<div id="pjmap2"></div>
	</div>

	<!-- 프린트 테이블 전용 DIV -->
	<!-- 프린트 테이블 전용 DIV -->
	<!-- 프린트 테이블 전용 DIV -->
	<div class="Print_box" style="visibility:hidden">
		<div id="totalShow">
			<div id="showInfo_p"></div>
			<div id="showlable_p"></div>
			<div id="showcell_p"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>