#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

// 사용될 그리드 명명
var listGrid = new ULNSI_jQGrid();
var listGrid2 = new ULNSI_jQGrid();

jQuery(document).ready(function(){	
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");
	
	/* 화주 고정   */
	var lcIdCount = jQuery('SELECT[name="SVC_INFO"] option').length;

	if(true){
		vrSrchCustCd_OnStart();
	}
	
	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	/* datepicker */
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='vrSrchReqDtFrom'] , input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 출고일 날짜 셋팅 */
	var vrSrchReqDt = (new Date()).getFormattedString("YYYY-MM-DD");
	jQuery("input[name='vrSrchReqDtTo'] , input[name='vrSrchReqDtFrom']").val(vrSrchReqDt);

	/* 상품정보목록 시작 */
	// 그리드 컬럼명
	var colNameArray = [
	                     'CHK_BOX'
	                    ,'FLAG'
	                    ,'ST_GUBUN'
	                    //,' '
	                    
	                    ,'ITEM_GRP_TYPE'	//ITEM_GRP_TYPE
	                    ,'$!lang.getText("상품군")'		//ITEM_GRP_ID
	                    ,'$!lang.getText("상품코드")'		//ITEM_CODE
	                    ,'$!lang.getText("상품명")'		//ITEM_KOR_NM
	                    ,'UOM'							//UOM_YN
	                    ,'$!lang.getText("입고존")'		//IN_ZONE_NM
	                    ,'$!lang.getText("가용로케이션")'		//LOC_CD
	                    ,'$!lang.getText("적정재고")'		//PROP_QTY
	                    ,'$!lang.getText("유통기간")'		//EXPIRY_DATE        //.....8
	                    
	                    ,'ITEM_ID'
	                    ,'ITEM_ENG_NM'					 //.....10
	                    
	                    ,'ITEM_SHORT_NM'
	                    ,'DEL_YN'
	                    ,'LC_CD'
	                    ,'CUST_ID'
	                    ,'STOCK_UOM_ID'				     //.....15
	                    
	                    ,'BUY_UNIT'
	                    ,'ITEM_TYPE'
	                    ,'ITEM_WGT'
	                    ,'PACKING_BOX_TYPE'
	                    ,'PROP_STOCK_DAY'				 //.....20
	                    
	                    ,'TIME_PERIOD_DAY'
	                    ,'SHIP_ABC'
	                    ,'SET_ITEM_YN'
	                    ,'WEIGHT_CLASS'
	                    ,'ORD_CUST_ID'					//.....25
	                    
	                    ,'ITEM_BAR_CD'
	                    ,'ITEM_SIZE'
	                    ,'KAN_CD'
	                    ,'VAT_YN'
	                    ,'ITEM_CLASS'					//.....30
	                    
	                    ,'OP_QTY'
	                    ,'RS_QTY'
	                    ,'EA_YN'
	                    ,'RFID'
	                    ,'IN_WH_ID'						//.....35
	                    
	                    ,'IN_ZONE'
	                    ,'PLT_YN'
	                    ,'REP_UOM_ID'
	                    ,'RITEM_ID'
	                    ,'CUST_CD'						//.....40
	                    
	                    ,'CUST_NM'
	                    ,'IN_WH_NM'
	                    ,'OP_UOM_ID'
	                    ,'REP_UOM_CD'
	                    ,'CUST_BARCODE'					//.....45
	                    
	                    ,'UNIT_PRICE'
	                    ,'TAG_PREFIX'
	                    ,'CUST_EPC_CD'
	                    ,'ITEM_EPC_CD'					//.....49
	                    
	                    //추가
	                    ,'BEST_DATE_TYPE'		//유효기간통제기준
	                    ,'BEST_DATE_NUM'		//유효기간
	                    ,'BEST_DATE_UNIT'		//유효기간단위
	                    ,'USE_DATE_NUM'			//소비기한
	                    ,'USE_DATE_UNIT'		//소비기한단위
	                    ,'OUT_BEST_DATE_NUM'		//출하최소유효기간
	                    ,'OUT_BEST_DATE_UNIT'		//출하최소유효기간단위
	                    ,'IN_BEST_DATE_NUM'			//입고최소유효기간
	                    ,'IN_BEST_DATE_UNIT'		//입고최소유효기간단위
	                    
	                    //추가
	                    ,'ITF_CD'
	                    ,'SIZE_W'
	                    ,'SIZE_H'
	                    ,'SIZE_L'
	                    ,'COLOR'
	                    
	                    ,'BOX_BAR_CD'
	                    
	                    ,'BOX_EPC_CD'
	                    ,'TYPE_ST'
	                    ,'BOX_BAR_CD'
	                    
	                    ,'CUST_LEGACY_ITEM_CD'
	                    ,'MAKER_NM'
	                    ,'LOT_USE_YN'
	                   ];
	// 그리드 컬럼 정의		          
	var colModelArray = [
						 {name : 'CHK_BOX'		,index : 'CHK_BOX'		,hidden : true}
						,{name : 'FLAG'			,index : 'FLAG'			,hidden : true}
						,{name : 'ST_GUBUN'		,index : 'ST_GUBUN'		,hidden : true}
						//,{name : 'ST_GUBUN_IMG'	,index : 'ST_GUBUN_IMG'	,width : 20		,align : "center"	,sortable : false}
						
						,{name : 'ITEM_GRP_TYPE',index : 'ITEM_GRP_TYPE',hidden : true}
						,{name : 'ITEM_GRP_ID'	,index : 'ITEM_GRP_ID'	,width : 61		,formatter : 'select'	,edittype : "select"	,editoptions : {value :" : ;"+#set($size = $ITEMGRP.size()) #set($cnt = 1) "#foreach($edit in $ITEMGRP) $edit.CODE_CD:$edit.CODE_NM #if($cnt < $size) ; #set($cnt = $cnt+1) #end #end"}}
						,{name : 'ITEM_CODE'	,index : 'ITEM_CODE'	,width : 100}
						,{name : 'ITEM_KOR_NM'	,index : 'ITEM_KOR_NM'	,width : 200}
						,{name : 'UOM_YN'		,index : 'UOM_YN'		,hidden : true  ,width : 41		,align : "center"}
						,{name : 'IN_ZONE_NM'	,index : 'IN_ZONE_NM'	,width : 230 	}
						,{name : 'LOC_CD'		,index : 'LOC_CD'		,width : 200}
						,{name : 'PROP_QTY'		,index : 'PROP_QTY'		,hidden : true	,width : 70		,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
						,{name : 'EXPIRY_DATE'	,index : 'EXPIRY_DATE'	,hidden : true	,width : 90		,align : "center"}
						
						,{name : 'ITEM_ID'		,index : 'ITEM_ID'		,hidden : true}
						,{name : 'ITEM_ENG_NM'	,index : 'ITEM_ENG_NM'	,hidden : true}
						
						,{name : 'ITEM_SHORT_NM',index : 'ITEM_SHORT_NM',hidden : true}
						,{name : 'DEL_YN'		,index : 'DEL_YN'		,hidden : true}
						,{name : 'LC_CD'		,index : 'LC_CD'		,hidden : true}
						,{name : 'CUST_ID'		,index : 'CUST_ID'		,hidden : true}
						,{name : 'STOCK_UOM_ID'	,index : 'STOCK_UOM_ID'	,hidden : true}
						
						,{name : 'BUY_UNIT'			,index : 'BUY_UNIT'			,hidden : true}
						,{name : 'ITEM_TYPE'		,index : 'ITEM_TYPE'		,hidden : true}
						,{name : 'ITEM_WGT'			,index : 'ITEM_WGT'			,hidden : true}
						,{name : 'PACKING_BOX_TYPE'	,index : 'PACKING_BOX_TYPE'	,hidden : true}
						,{name : 'PROP_STOCK_DAY'	,index : 'PROP_STOCK_DAY'	,hidden : true}
						
						,{name : 'TIME_PERIOD_DAY'	,index : 'TIME_PERIOD_DAY'	,hidden : true}
						,{name : 'SHIP_ABC'			,index : 'SHIP_ABC'			,hidden : true}
						,{name : 'SET_ITEM_YN'		,index : 'SET_ITEM_YN'		,hidden : true}
						,{name : 'WEIGHT_CLASS'		,index : 'WEIGHT_CLASS'		,hidden : true}
						,{name : 'ORD_CUST_ID'		,index : 'ORD_CUST_ID'		,hidden : true}
						
						,{name : 'ITEM_BAR_CD'	,index : 'ITEM_BAR_CD'	,hidden : true}
						,{name : 'ITEM_SIZE'	,index : 'ITEM_SIZE'	,hidden : true}
						,{name : 'KAN_CD'		,index : 'KAN_CD'		,hidden : true}
						,{name : 'VAT_YN'		,index : 'VAT_YN'		,hidden : true}
						,{name : 'ITEM_CLASS'	,index : 'ITEM_CLASS'	,hidden : true}
						
						,{name : 'OP_QTY'		,index : 'OP_QTY'		,hidden : true}
						,{name : 'RS_QTY'		,index : 'RS_QTY'		,hidden : true}
						,{name : 'EA_YN'		,index : 'EA_YN'		,hidden : true}
						,{name : 'RFID'			,index : 'RFID'			,hidden : true}
						,{name : 'IN_WH_ID'		,index : 'IN_WH_ID'		,hidden : true}
						
						,{name : 'IN_ZONE'		,index : 'IN_ZONE'		,hidden : true}
						,{name : 'PLT_YN'		,index : 'PLT_YN'		,hidden : true}
						,{name : 'REP_UOM_ID'	,index : 'REP_UOM_ID'	,hidden : true}
						,{name : 'RITEM_ID'		,index : 'RITEM_ID'		,hidden : true}
						,{name : 'CUST_CD'		,index : 'CUST_CD'		,hidden : true}
						
						,{name : 'CUST_NM'		,index : 'CUST_NM'		,hidden : true}
						,{name : 'IN_WH_NM'		,index : 'IN_WH_NM'		,hidden : true}
						,{name : 'OP_UOM_ID'	,index : 'OP_UOM_ID'	,hidden : true}
						,{name : 'REP_UOM_CD'	,index : 'REP_UOM_CD'	,hidden : true}
						,{name : 'CUST_BARCODE'	,index : 'CUST_BARCODE'	,hidden : true}
						
						,{name : 'UNIT_PRICE'	,index : 'UNIT_PRICE'	,hidden : true}
						,{name : 'TAG_PREFIX'	,index : 'TAG_PREFIX'	,hidden : true}
						,{name : 'CUST_EPC_CD'	,index : 'CUST_EPC_CD'	,hidden : true}
						,{name : 'ITEM_EPC_CD'	,index : 'ITEM_EPC_CD'	,hidden : true}
						
						//추가
						,{name : 'BEST_DATE_TYPE'		,index : 'BEST_DATE_TYPE'		,hidden : true}		//유효기간통제기준
						,{name : 'BEST_DATE_NUM'		,index : 'BEST_DATE_NUM'		,hidden : true}		//유효기간
						,{name : 'BEST_DATE_UNIT'		,index : 'BEST_DATE_UNIT'		,hidden : true}		//유효기간단위
						,{name : 'USE_DATE_NUM'			,index : 'USE_DATE_NUM'			,hidden : true}		//소비기한
						,{name : 'USE_DATE_UNIT'		,index : 'USE_DATE_UNIT'		,hidden : true}		//소비기한단위
						,{name : 'OUT_BEST_DATE_NUM'	,index : 'OUT_BEST_DATE_NUM'	,hidden : true}		//출하최소유효기간
						,{name : 'OUT_BEST_DATE_UNIT'	,index : 'OUT_BEST_DATE_UNIT'	,hidden : true}		//출하최소유효기간단위
						,{name : 'IN_BEST_DATE_NUM'		,index : 'IN_BEST_DATE_NUM'		,hidden : true}		//입고최소유효기간
						,{name : 'IN_BEST_DATE_UNIT'	,index : 'IN_BEST_DATE_UNIT'	,hidden : true}		//입고최소유효기간단위
						
						,{name : 'ITF_CD'		,index : 'ITF_CD'		,hidden : true}
						,{name : 'SIZE_W'		,index : 'SIZE_W'		,hidden : true}
						,{name : 'SIZE_H'		,index : 'SIZE_H'		,hidden : true}
						,{name : 'SIZE_L'		,index : 'SIZE_L'		,hidden : true}
						,{name : 'COLOR'		,index : 'COLOR'		,hidden : true}
						
						,{name : 'BOX_BAR_CD'	,index : 'BOX_BAR_CD'	,hidden : true}
						
						,{name : 'BOX_EPC_CD'	,index : 'BOX_EPC_CD'	,hidden : true}
						,{name : 'TYPE_ST'		,index : 'TYPE_ST'		,hidden : true}
						,{name : 'BOX_BAR_CD'	,index : 'BOX_BAR_CD'		,hidden : true}
						
						,{name : 'CUST_LEGACY_ITEM_CD',index : 'CUST_LEGACY_ITEM_CD'		,hidden : true}
						,{name : 'MAKER_NM'	,index : 'MAKER_NM'	,hidden : true	,width : 127}
						,{name : 'LOT_USE_YN'		,index : 'LOT_USE_YN'		,hidden : true}
					    ];	
	
	// 그리드 옵션	
	var option = {
				   'title'		: '$!lang.getText("상품목록")'
				  ,'height'		: 460
				  ,'width'		: '98%'
				  ,'colName'	: colNameArray
				  ,'colModel'	: colModelArray
				  ,'pager'		: jQuery('#pjmap1')
				  ,'autowidth' 	: true
				  ,'rowNum'		: 20
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
			      #else
			      ,'rowList' : [100,200,300]
			      #end
				  ,'mtype' 		: 'POST'
				  ,'rownumbers' : true
				  ,'rownumWidth': 30
				  ,'gridview' 	: true
				  ,'sortable' 	: false
				  ,'multiselect': false
				  ,'viewrecords': true
				  ,'shrinkToFit': false
				  ,'jsonReader'	: {repeatitems : false}
				 };
	
	var url = "/WMSTG210/list.action";
	listGrid.init(jQuery("#list1"), option, url);

	// 그리드 셀선택 이벤트
	listGrid.setSelectCellEventCallback(function(id, col){
		//로우선택시 상세 뿌려줌
		fn_subSearch(id);
	});
	
	//하나만 선택
	listGrid.setBeforeSelectRowEventCallback( function(rowid, e){
	    jQuery("#list1").jqGrid('resetSelection');
	    return true;
	});
	/* 메인 그리드 끝 */
	
	/* 서브 그리드 시작 */
	var colNameArray2 = [
	                'CHK_BOX'
	                
	               ,"$!lang.getText('순번')"
                   ,"$!lang.getText('로케이션ID')"
                   ,"$!lang.getText('로케이션코드')"
                   ,"$!lang.getText('가용수량')"
                  
                 ]
	
    var colModelArray2 = [
                     {name : 'CHK_BOX'			,index : 'CHK_BOX'			,hidden :true}
                     
                    ,{name : 'ROWNUM'			,index : 'ROWNUM'			,hidden :true	,width : 40		,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
					,{name : 'LOC_ID'			,index : 'LOC_ID'			,hidden :true	,width : 90	    ,align : "center" }
					,{name : 'LOC_CD'			,index : 'LOC_CD'			,width : 90	    ,align : "center" }
					,{name : 'ABLE_PLT_QTY'		,index : 'ABLE_PLT_QTY'		,width : 70		,align : "right"	,formatter:'integer',	formatoptions:{thousandsSeparator:",",	decimalPlaces: 0}}
					
					
					]

    var option = {
			   'title'		: "$!lang.getText('가용로케이션정보')"
			  ,'height'		: 460
			  ,'width'		: '100%'
			  ,'colName'	: colNameArray2
			  ,'colModel'	: colModelArray2
			  ,'pager'		: jQuery('#pjmap2')
			  ,'autowidth' 	: true
			  ,'rowNum'		: 20
		      #if($ss_gird_num != "")
		      ,'rowList' : [$ss_gird_num,$ss_gird_num*2,$ss_gird_num*3]
		      #else
		      ,'rowList' : [100,200,300]
		      #end
			  ,'mtype' 		: 'POST'
			  ,'rownumbers' : true
			  ,'rownumWidth': 30
			  ,'gridview' 	: true
			  ,'sortable' 	: false
			  ,'viewrecords': true
			  ,'multiselect': false
			  ,'jsonReader'	: {repeatitems : false}
			  //,'shrinkToFit' : false
			 };
	
	listGrid2.init(jQuery("#list2"), option);
	
});

//---------------------------------------------------------- 메인 ----------------------------------------------------------//
/* 팝업 호출 */
/* 상품코드 자동팝업생성 */
 function txtSrchItemCd_OnKillFocus(){
 	//입력한 상품코드를 가져온다
 	var vrSrchItemCd = cfn_trim(jQuery("form[name='frm_list'] input[name='S_ITEM_CD']").val());
 	//null이 아닐경우 검색한다.
 	if(vrSrchItemCd != ""){
 		jQuery("form[name='frm_list'] input[name='S_ITEM_NM']").val('');
 		var srchKey = "ITEM";
 		var param 	= "srchKey=" + srchKey + "&vrSrchItemCd=" + vrSrchItemCd;
 		var url = "/selectMngCode.action"
 		jQuery.post(url,param,function(data){
 			//검색후 결과 갯수를 가져온다.
 			//없을경우는 없다고 띄우고 input 초기화
 			//1가지일경우 바로 이름과 코드를 셋팅해준다.
 			//2가지 이상일경우 팝얼띄어서 조회된 결과를 보여준다.
			var data = data.ITEM;
			var cnt  = data.size();
 			if (cnt > 1){	//2가지 이상일경우
 				var strParameter = [];
 				strParameter.push(vrSrchItemCd);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
 				var url = "/WMSCM091.action" + param;
 				
 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){ //1가지 일경우
 				jQuery("form[name='frm_list'] input[name='S_ITEM_CD']").val(data[0].CODE);
 				jQuery("form[name='frm_list'] input[name='S_ITEM_NM']").val(data[0].NAME);
 			}else{	//없을경우
 				alert("$!lang.getText('list.nodata')");
 				jQuery("form[name='frm_list'] input[name='S_ITEM_NM']").val("");
 				jQuery("form[name='frm_list'] input[name='S_ITEM_CD']").val("").focus();
 				return;
 			}
 		});
 	}else{
		jQuery("form[name='frm_list'] input[name='S_ITEM_NM']").val("");
		jQuery("form[name='frm_list'] input[name='S_ITEM_CD']").val("");
 	}
 }
 
 /* 상품코드 자동팝업생성 */
 function txtSrchItemNm_OnKillFocus(){
 	//입력한 상품코드를 가져온다
 	var vrSrchItemNm = cfn_trim(jQuery("form[name='frm_list'] input[name='S_ITEM_NM']").val());
 	//null이 아닐경우 검색한다.
 	if(vrSrchItemNm != ""){
 		jQuery("form[name='frm_list'] input[name='S_ITEM_CD']").val('');
 		var srchKey = "ITEM";
 		var param 	= "srchKey=" + srchKey + "&vrSrchItemNm=" + vrSrchItemNm;
 		var url = "/selectMngCode.action"
 		jQuery.post(url,param,function(data){
 			//검색후 결과 갯수를 가져온다.
 			//없을경우는 없다고 띄우고 input 초기화
 			//1가지일경우 바로 이름과 코드를 셋팅해준다.
 			//2가지 이상일경우 팝얼띄어서 조회된 결과를 보여준다.
			var data = data.ITEM;
			var cnt  = data.size();
 			if (cnt > 1){	//2가지 이상일경우
 				var strParameter = [];
 				strParameter.push('');
 				strParameter.push(vrSrchItemNm);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM091&strParameter='+strParameter;
 				var url = "/WMSCM091.action" + param;
 				
 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){ //1가지 일경우
 				jQuery("form[name='frm_list'] input[name='S_ITEM_CD']").val(data[0].CODE);
 				jQuery("form[name='frm_list'] input[name='S_ITEM_NM']").val(data[0].NAME);
 			}else{	//없을경우
 				alert("$!lang.getText('list.nodata')");
 				jQuery("form[name='frm_list'] input[name='S_ITEM_NM']").val("");
 				jQuery("form[name='frm_list'] input[name='S_ITEM_CD']").val("").focus();
 				return;
 			}
 		});
 	}else{
		jQuery("form[name='frm_list'] input[name='S_ITEM_NM']").val("");
		jQuery("form[name='frm_list'] input[name='S_ITEM_CD']").val("");
 	}
 }

 
 /* 검색화주코드 자동팝업생성 */
 function txtSrchCustCd_OnKillFocus(){
 	var vrSrchCustCd = cfn_trim(jQuery("form[name='frm_list'] input[name='S_CUST_CD']").val());
 	if(vrSrchCustCd != ""){
 		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
 		jQuery.post(url,param,function(data){
 			var data = data.CUST;
			var cnt  = data.size();
 			if (cnt > 1){
 				var strParameter = [];
 				strParameter.push(vrSrchCustCd);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM011&custType=12&strParameter='+strParameter;
 				var url = "/WMSCM011.action" + param;
 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){
 				jQuery("form[name='frm_list'] input[name='S_CUST_CD']").val(data[0].CODE);
 				jQuery("form[name='frm_list'] input[name='S_CUST_NM']").val(data[0].NAME);
 				jQuery("form[name='frm_list'] input[name='S_CUST_ID']").val(data[0].ID);
 			}else{
 				alert("$!lang.getText('list.nodata')");
 				jQuery("form[name='frm_list'] input[name='S_CUST_CD']").val("").focus();
 				jQuery("form[name='frm_list'] input[name='S_CUST_NM']").val("");
 				jQuery("form[name='frm_list'] input[name='S_CUST_ID']").val("");
 				return;
 			}
 		});
 	}else{
		jQuery("form[name='frm_list'] input[name='S_CUST_CD']").val("");
		jQuery("form[name='frm_list'] input[name='S_CUST_NM']").val("");
		jQuery("form[name='frm_list'] input[name='S_CUST_ID']").val("");
 	}
 }

 /* 검색화주이름 자동팝업생성 */
 //상품코드 자동생성과 동일하다.
 function txtSrchCustNm_OnKillFocus(){
 	var vrSrchCustNm = cfn_trim(jQuery("form[name='frm_list'] input[name='S_CUST_NM']").val());
 	if(vrSrchCustNm != ""){
 		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action";
 		jQuery.post(url,param,function(data){
 			var data = data.CUST;
			var cnt  = data.size();
 			if (cnt > 1){
 				var strParameter = [];
 				strParameter.push("");
 				strParameter.push(vrSrchCustNm);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM011&custType=12&strParameter='+strParameter;
 				var url = "/WMSCM011.action" + param;
 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){
 				jQuery("form[name='frm_list'] input[name='S_CUST_CD']").val(data[0].CODE);
 				jQuery("form[name='frm_list'] input[name='S_CUST_NM']").val(data[0].NAME);
 				jQuery("form[name='frm_list'] input[name='S_CUST_ID']").val(data[0].ID);
 			}else{
 				alert("$!lang.getText('list.nodata')");
 				jQuery("form[name='frm_list'] input[name='S_CUST_CD']").val("").focus();
 				jQuery("form[name='frm_list'] input[name='S_CUST_NM']").val("");
 				jQuery("form[name='frm_list'] input[name='S_CUST_ID']").val("");
 				return;
 			}
 		});
 	}else{
		jQuery("form[name='frm_list'] input[name='S_CUST_CD']").val("");
		jQuery("form[name='frm_list'] input[name='S_CUST_NM']").val("");
		jQuery("form[name='frm_list'] input[name='S_CUST_ID']").val("");
 	}
 }
 
 ///상세쪽 자동완성
 //화주, 입고존, uom
 
 /* 상세화주코드 자동팝업생성 */
 function txtCustCd_OnKillFocus(){
 	var vrSrchCustCd = cfn_trim(jQuery("form[name='frm_detail'] input[name='CUST_CD']").val());
 	if(vrSrchCustCd != ""){
 		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action"
 		jQuery.post(url,param,function(data){
 			var data = data.CUST;
			var cnt  = data.size();
 			if (cnt > 1){
 				var strParameter = [];
 				strParameter.push(vrSrchCustCd);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM011&custType=12&strParameter='+strParameter;
 				var url = "/WMSCM011.action" + param;
 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){
 				jQuery("form[name='frm_detail'] input[name='CUST_CD']").val(data[0].CODE);
 				jQuery("form[name='frm_detail'] input[name='CUST_NM']").val(data[0].NAME);
 				jQuery("form[name='frm_detail'] input[name='CUST_ID']").val(data[0].ID);
 				fn_setDataGrid('CUST_CD');
 				fn_setDataGrid('CUST_NM');
 				fn_setDataGrid('CUST_ID');
 			}else{
 				alert("$!lang.getText('list.nodata')");
 				jQuery("form[name='frm_detail'] input[name='CUST_CD']").val("").focus();
 				jQuery("form[name='frm_detail'] input[name='CUST_NM']").val("");
 				jQuery("form[name='frm_detail'] input[name='CUST_ID']").val("");
 				return;
 			}
 		});
 	}else{
		jQuery("form[name='frm_detail'] input[name='CUST_CD']").val("");
		jQuery("form[name='frm_detail'] input[name='CUST_NM']").val("");
		jQuery("form[name='frm_detail'] input[name='CUST_ID']").val("");
 	}
 }

 /* 상세화주이름 자동팝업생성 */
 function txtCustNm_OnKillFocus(){
 	var vrSrchCustNm = cfn_trim(jQuery("form[name='frm_detail'] input[name='CUST_NM']").val());
 	if(vrSrchCustNm != ""){
 		var srchKey = "CUST";
		var param   = "srchKey=" + srchKey + "&vrSrchCustNm=" + vrSrchCustNm + "&S_CUST_TYPE=12";
		var url     = "/selectMngCode.action";
 		jQuery.post(url,param,function(data){
 			var data = data.CUST;
			var cnt  = data.size();
 			if (cnt > 1){
 				var strParameter = [];
 				strParameter.push("");
 				strParameter.push(vrSrchCustNm);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM011&custType=12&strParameter='+strParameter;
 				var url = "/WMSCM011.action" + param;
 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){
 				jQuery("form[name='frm_detail'] input[name='CUST_CD']").val(data[0].CODE);
 				jQuery("form[name='frm_detail'] input[name='CUST_NM']").val(data[0].NAME);
 				jQuery("form[name='frm_detail'] input[name='CUST_ID']").val(data[0].ID);
 				fn_setDataGrid('CUST_CD');
 				fn_setDataGrid('CUST_NM');
 				fn_setDataGrid('CUST_ID');
 			}else{
 				alert("$!lang.getText('list.nodata')");
 				jQuery("form[name='frm_detail'] input[name='CUST_CD']").val("").focus();
 				jQuery("form[name='frm_detail'] input[name='CUST_NM']").val("");
 				jQuery("form[name='frm_detail'] input[name='CUST_ID']").val("");
 				return;
 			}
 		});
 	}else{
		jQuery("form[name='frm_detail'] input[name='CUST_CD']").val("");
		jQuery("form[name='frm_detail'] input[name='CUST_NM']").val("");
		jQuery("form[name='frm_detail'] input[name='CUST_ID']").val("");
 	}
 }
 
 /* 입고존코드 자동팝업생성 */
 function txtInZoneNm_OnKillFocus(){
 	var vrSrchZoneNm = cfn_trim(jQuery("form[name='frm_detail'] input[name='IN_ZONE_NM']").val());
 	if(vrSrchZoneNm != ""){
 		var srchKey = "ZONE";
		var param   = "srchKey=" + srchKey + "&vrSrchZoneNm=" + vrSrchZoneNm;
		var url     = "/selectMngCode.action"
 		jQuery.post(url,param,function(data){
 			var data = data.ZONE;
			var cnt  = data.size();
 			if (cnt > 1){
 				var strParameter = [];
 				strParameter.push(vrSrchZoneNm);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM081&strParameter='+strParameter;
 				var url = "/WMSCM081.action" + param;
 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){
 				jQuery("form[name='frm_detail'] input[name='IN_ZONE_NM']").val(data[0].NAME);
 				jQuery("form[name='frm_detail'] input[name='IN_ZONE']").val(data[0].ID);
 				fn_setDataGrid('IN_ZONE_NM');
 				fn_setDataGrid('IN_ZONE');
 			}else{
 				alert("$!lang.getText('list.nodata')");
 				jQuery("form[name='frm_detail'] input[name='IN_ZONE_NM']").val("").focus();
 				jQuery("form[name='frm_detail'] input[name='IN_ZONE']").val("");
 				return;
 			}
 		});
 	}else{
		jQuery("form[name='frm_detail'] input[name='IN_ZONE_NM']").val("");
		jQuery("form[name='frm_detail'] input[name='IN_ZONE']").val("");	
 	}
 }
 
 /* UOM 자동팝업생성 */
 function txtUomCd_OnKillFocus(){
 	var vrSrchUomCd = cfn_trim(jQuery("form[name='frm_detail'] input[name='REP_UOM_CD']").val());
 	if(vrSrchUomCd != ""){
 		var srchKey = "UOM";
		var param   = "srchKey=" + srchKey + "&vrSrchUomCd=" + vrSrchUomCd;
		var url     = "/selectMngCode.action"
 		jQuery.post(url,param,function(data){
 			var data = data.UOM;
			var cnt  = data.size();
 			if (cnt > 1){
 				var strParameter = [];
//  				strParameter.push(vrSrchZoneNm);
 				var width = "800";
 				var height = "560";
 				var param = '?func=fn_setWMSCM100&strParameter='+strParameter;
 				var url = "/WMSCM100.action" + param;
 				var asppop = cfn_openPop2(url, "fn_Popup", width, height);
 				asppop.focus();
 			}else if (cnt == 1){
 				jQuery("form[name='frm_detail'] input[name='REP_UOM_CD']").val(data[0].CODE);
 				jQuery("form[name='frm_detail'] input[name='REP_UOM_ID']").val(data[0].ID);
 				fn_setDataGrid('REP_UOM_CD');
 				fn_setDataGrid('REP_UOM_ID');
 			}else{
 				alert("$!lang.getText('list.nodata')");
 				jQuery("form[name='frm_detail'] input[name='REP_UOM_CD']").val("").focus();
 				jQuery("form[name='frm_detail'] input[name='REP_UOM_ID']").val("");
 				return;
 			}
 		});
 	}else{
		jQuery("form[name='frm_detail'] input[name='REP_UOM_CD']").val("");
		jQuery("form[name='frm_detail'] input[name='REP_UOM_ID']").val("");
 	}
 }
 
 
//---------------------------------------------------------- 팝업 ----------------------------------------------------------//
/* 팝업 호출 */
function fn_Popup(pop, id){
	var strParameter = [];
	var param = '';
	var url = '';
	var width = "800";
	var height = "560"
	//팝업의 값에 따라 사용되는 팝업이다르고 같더라고 후에 사용되는 함수가 다르므로 분기
	//id가있는경우는 grid에서 사용된 팝업
	switch(pop){
		case 'CUST':	//검색 화주
			param = "?func=fn_setWMSCM011&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'CUST2':	//등록 화주
			param = "?func=fn_setWMSCM011_2&custType=12";
			url = "/WMSCM011.action" + param;
			break;
		case 'ITEM':	//검색 상품코드
			width = "1080";
			height = "590";
			strParameter.push(jQuery('form[name="frm_list"] input[name="S_ITEM_CD"]').val());
			strParameter.push(jQuery('form[name="frm_list"] input[name="S_ITEM_NM"]').val());
			param = '?func=fn_setWMSCM091&strParameter='+strParameter;
			url = "/WMSCM091.action" + param;
			break;
		case 'ZONE':	//등록 zone
			width = "400";
			strParameter.push(jQuery('form[name="frm_list"] input[name="IN_ZONE_NM"]').val());
			param = '?func=fn_setWMSCM081&strParameter='+strParameter;
			url = "/WMSCM081.action" + param;
			break;
		case 'UOM':		//등록 대표uom
			param = '?func=fn_setWMSCM100&strParameter='+strParameter;
			url = "/WMSCM100.action" + param;
			break;
		case 'UOM2':	//환산이력 기준uom
			jQuery("input[name='SUB_ID']").val(id);				
			fn_subSelect(id);
			param = '?func=fn_setWMSCM100_2&strParameter='+strParameter;
			url = "/WMSCM100.action" + param;
			break;
		case 'UOM3':	//환산이력 변환uom
			jQuery("input[name='SUB_ID']").val(id);
			fn_subSelect(id);
			param = '?func=fn_setWMSCM100_3&strParameter='+strParameter;
			url = "/WMSCM100.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

/* 팝업 적용 (화주) */
function fn_setWMSCM011(arr){
	var info = arr[0];	
	jQuery("#S_CUST_CD").val(info.cust_cd);
	jQuery("#S_CUST_NM").val(info.cust_nm);
	jQuery("#S_CUST_ID").val(info.cust_id);
}

/* 팝업 적용 (화주_2) */
function fn_setWMSCM011_2(arr){
	var info = arr[0];	
	jQuery("#CUST_CD").val(info.cust_cd);
	jQuery("#CUST_NM").val(info.cust_nm);
	jQuery("#CUST_ID").val(info.cust_id);
	jQuery("#CUST_EPC_CD").val(info.cust_epc_cd);
	
	//그리드에적용
	var grid = jQuery("#list1");
	var rowid = jQuery("#GRID_ID").val();
	grid.setCell(rowid, 'CUST_CD', info.cust_cd);
	grid.setCell(rowid, 'CUST_NM', info.cust_nm);
	grid.setCell(rowid, 'CUST_ID', info.cust_id);
	grid.setCell(rowid, 'CUST_EPC_CD', info.cust_epc_cd);
}

/* 팝업 적용 (상품) */
function fn_setWMSCM091(arr){
	var info = arr[0];	
	jQuery("#S_ITEM_CD").val(info.item_code);
	jQuery("#S_ITEM_NM").val(info.item_kor_nm);
}

/* 팝업 적용 (zone) */
function fn_setWMSCM081(arr){
	var info = arr[0];	
	jQuery("#IN_ZONE").val(info.zone_id);
	jQuery("#IN_ZONE_NM").val(info.zone_nm);
	
	//그리드에적용
	var grid = jQuery("#list1");
	var rowid = jQuery("#GRID_ID").val();
	grid.setCell(rowid, 'IN_ZONE', info.zone_id);
	grid.setCell(rowid, 'IN_ZONE_NM', info.zone_nm);
}

/* 팝업 적용 (uom) */
function fn_setWMSCM100(arr){
	var info = arr[0];	
	jQuery("#REP_UOM_ID").val(info.uom_id);
	jQuery("#REP_UOM_CD").val(info.uom_cd);
	//그리드에적용
	var grid = jQuery("#list1");
	var rowid = jQuery("#GRID_ID").val();
	grid.setCell(rowid, 'REP_UOM_CD', info.uom_cd);
	grid.setCell(rowid, 'REP_UOM_ID', info.uom_id);
}

/* 팝업 적용 (uom_2) */
function fn_setWMSCM100_2(arr){
	var info = arr[0];	
	var rowid = jQuery('input[name="SUB_ID"]').val();
	var grid = jQuery("#list2");
	grid.setCell(rowid, 'UOM1_CODE', info.uom_cd);
	grid.setCell(rowid, 'UOM1_CD', info.uom_id);
}

/* 팝업 적용 (uom_3) */
function fn_setWMSCM100_3(arr){
	var info = arr[0];	
	var rowid = jQuery('input[name="SUB_ID"]').val();
	var grid = jQuery("#list2");
	grid.setCell(rowid, 'UOM2_CODE', info.uom_cd);
	grid.setCell(rowid, 'UOM2_CD', info.uom_id);
}
//----------------------------------------------------------Main----------------------------------------------------------//


/* 상품목록 검색 */
function fn_search(op,op1){
	var S_CUST_CD = jQuery("form[name='frm_list'] input[name='S_CUST_CD']").val();
	var S_CUST_NM = encodeURIComponent(jQuery("form[name='frm_list'] input[name='S_CUST_NM']").val());
	var S_CUST_ID = jQuery("form[name='frm_list'] input[name='S_CUST_ID']").val();
	var S_ITEM_GRP_ID = jQuery("form[name='frm_list'] select[name='S_ITEM_GRP_ID']").val();
	var S_ITEM_CD = jQuery("form[name='frm_list'] input[name='S_ITEM_CD']").val();
	var S_ITEM_NM = encodeURIComponent(jQuery("form[name='frm_list'] input[name='S_ITEM_NM']").val());

	//상품목록 그리드 조회
	var param	= "S_CUST_CD="+S_CUST_CD+"&S_CUST_NM="+S_CUST_NM+"&S_CUST_ID="+S_CUST_ID+"&S_ITEM_GRP_ID="+S_ITEM_GRP_ID+"&S_ITEM_CD="+S_ITEM_CD+"&S_ITEM_NM="+S_ITEM_NM;
	var url 	= "/WMSTG210/list.action?"+param;
	listGrid.search(param, url, op, op1);

	//상품정보
	jQuery('form[name="frm_detail"] input').val('');
	jQuery('form[name="frm_detail"] select[name="ITEM_GRP_ID"]').val(' ').attr("selected", 'selected');
	jQuery('#list2').clearGridData();
}

/* 상품목록 검색 조건 초기화 */
function fn_initSer(){
	jQuery('form[name="frm_list"] input[type="text"], form[name="frm_list"] input[type="hidden"]').val('');
	jQuery('form[name="frm_list"] select[name="S_ITEM_GRP_ID"]').val('').attr("selected", 'selected');
}

/* 상세 조회 - SubGrid*/
function fn_subSearch(id){
	//메인그리드에서 선택된 id를 받는다
	var grid = jQuery("#list1");
	var vrItemId = grid.getCell(id, 'ITEM_ID');
	var param	= "vrItemId="+vrItemId;
	var url = "/WMSTG210/detailList.action?"+param;
	listGrid2.search("", url);		
	
	jQuery("#formCheckData").empty();
	jQuery("#formData").empty();
}

function vrSrchCustCd_OnStart(){
	var vrSrchCustCd = jQuery('form[name="frm_list"] input[name="S_CUST_CD"]').val();
	var srchKey = "CUST";
	var param   = "srchKey=" + srchKey + "&vrSrchCustCd=" + vrSrchCustCd + "&S_CUST_TYPE=12";
	var url     = "/selectMngCode.action"
	jQuery.post(url, param, function(data){
		var data = data.CUST;
		var cnt  = data.size();
		if( cnt > 1 ){
			/*
			var strParameter = [];
			strParameter.push(vrSrchCustCd);
			var width  = "800";
			var height = "530";
			var param  = "?func=fn_setWMSMS011&custType=12&strParameter=" + strParameter + "&stBtnYn=N";
			var url    = "/WMSCM011.action" + param;
			var asppop = cfn_openPop2(url, "fn_Popup", width, height);
			asppop.focus();
			*/
		}
		else if( cnt == 1 ){
			jQuery('form[name="frm_list"] input[name="S_CUST_CD"]').val(data[0].CODE);
			jQuery('form[name="frm_list"] input[name="S_CUST_NM"]').val(data[0].NAME);
			jQuery('form[name="frm_list"] input[name="S_CUST_ID"]').val(data[0].ID);
		}
		else if( cnt == 0 ){
			alert("$!lang.getText('list.nodata')");
			jQuery("form[name='frm_list'] input[name='S_CUST_CD']").val("").focus();
			jQuery("form[name='frm_list'] input[name='S_CUST_NM']").val("");
			jQuery('form[name="frm_list"] input[name="S_CUST_ID"]').val("");
		}
	}).fail(function(xhr, textStatus){
   		if(xhr.status == 404){
   			location.href=('/index.html');
   		}
   	});
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("가용로케이션조회")</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
       #parse("winus/wmstg/WMSTG210E1.vm")
    </div>
</div>

#parse("winus/common/footer.vm")