<div class="patternWrap">
	<form name="frm_list">		
	    <table class="search" id="srchBox">
	        <colgroup>
				<col width = "120px"/>
				<col width = "33%"/>
				<col width = "80px"/>
				<col width = "33%"/>
	        </colgroup>
	        <tbody>
				<tr>
					<th>$!lang.getText('물류용기')EPC$!lang.getText('코드')</th>
					<td colspan="2">
						<input type="text" class="text" name="tagCompanyCd" value="456010159" style="width:33%">
						<input type="text" class="text" name="tagProductCd" value="110" style="width:30%">
						<input type="text" class="text" name="tagSerialCd" style="width:30%">
						<isNotEmpty property="tagCompanyCd">
					</td>
					<td>
					</td>
				</tr>
	        </tbody>
	    </table>
	</form> 
	  
	<div class="btnArea">
	     <div class="btnAreaLeft">
	     </div>
	     <div class="btnAreaRight">
			<input type="button" class="btnEtc" name="btn_write" value="$!lang.getText('조회')" onclick="fn_search()" role="button" aria-disabled="false"/>
	    </div>
	</div>
		
	<div class="list_box">
		<table id="list1"></table>
		<div id="pjmap1"></div>
	</div>
	  
	
	<div class="list_box">
		<table id="list2"></table>
		<div id="pjmap2"></div>
	</div>

	
	<div class="list_box">
		<table id="list3"></table>
		<div id="pjmap3"></div>
	</div>
	
	<form name = 'frm_data'>
		<div id = "formData" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
</div>
<script type="text/javascript">
	jQuery("input:button").button();

	/*#if("$!MSG" != "")*/
	alert("$!MSG");
	/*#end*/
</script>