<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText("접수")</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<style>
	.loadingImg_css{position: absolute; display:none; top:60%; left:60%;}
</style>
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
#set($ss_user_gb 	= $!session.getAttribute("SS_USER_GB")	)
#set($ss_user_no = $!session.getAttribute("SS_USER_NO"))
#set($ss_user_name = $!session.getAttribute("SS_USER_NAME"))
#set($ss_cmpy_code 	= $!session.getAttribute("SS_CMPY_CODE"))
#set($ss_cmpy_id 	= $!session.getAttribute("SS_CMPY_ID")	)
#set($ss_cmpy_name 	= $!session.getAttribute("SS_CMPY_NAME"))
#set($ss_lang_type 	= $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_svc_no = $!session.getAttribute("SS_SVC_NO"))
#set($ss_svc_nm = $!session.getAttribute("SS_SVC_NAME"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

/* 화면크기 변경시 그리드 크기 변경 */
jQuery(window).resize(function() {
	resizeGrid(null);
});

jQuery(document).ready(function() {
	/* datepicker */
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery("input[name='EXP_DATE_FROM'], input[name='EXP_DATE_TO'], input[name='END_DATE']").datepicker( {
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd",
		showOn		: "button",
		buttonImage		: "/img/exam/btn/calendar.gif",
		buttonImageOnly	: true
	});
	
	/* 날짜 셋팅 */
	var vrSrchReqDt = localStorage.LocalTime;
	jQuery("form[name='frm_detail'] input[name='ST_GUBUN']"			).val("INSERT");
	jQuery("form[name='frm_detail'] input[name='TITLE_SUB']"		).removeAttr("readonly").attr('class','text').val("");
	jQuery("form[name='frm_detail'] input[name='EXP_DATE_FROM']"	).removeAttr("readonly").attr('class','text').val(vrSrchReqDt);
	jQuery("form[name='frm_detail'] input[name='EXP_DATE_TO']"		).removeAttr("readonly").attr('class','text').val(vrSrchReqDt);
	
	jQuery("form[name='frm_detail'] select[name='EMPLOYEE']"		).removeAttr("readonly").attr('class','text').val("");
	jQuery("form[name='frm_detail'] input[name='REQ_PERSON']"		).removeAttr("readonly").attr('class','text').val("");
	jQuery("form[name='frm_detail'] select[name='PROGRESS']"		).removeAttr("readonly").attr('class','text').val(0);
	jQuery("form[name='frm_detail'] input[name='END_DATE']"			).removeAttr("readonly").attr('class','text').val("");
	
	jQuery("form[name='frm_detail'] textarea[name='CONTENTS']"		).removeAttr("readonly").attr('class','text').val("");
	jQuery("form[name='frm_detail'] textarea[name='COMMENTS']"		).removeAttr("readonly").attr('class','text').val("");
});

/* 저장 */
function fn_save(){
    /* 유효성검사 */
	if(!fn_listValidation()){return;}
    
    if(confirm("$!lang.getText('update.confirm')")){
        var param = jQuery("form[name='frm_detail']").serialize();
        var url = "/TMSYS150T1/saveT1.action";
        jQuery.post(url, param, function(data) {
        	alert(data.MSG);
        	if(data.errCnt <= 0 ){
	            //var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
	            //var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
	            
	            var arg_func = jQuery("input[name='func']").val();
	         	var opnr_func = eval("opener." + arg_func);
	         	opnr_func();
	         	self.close();
            }
        }).fail(function(xhr, textStatus){
    		if(xhr.status == 404){	
    			location.href=('/index.html');
    		}
     	});
    }
}

/* 고객정보수정 */
function fn_listValidation(){
	var project  = jQuery("form[name='frm_detail'] select[name='PROJECT']"		).val();
	var title 	 = jQuery("form[name='frm_detail'] input[name='TITLE']"			).val();
	var titleSub = jQuery("form[name='frm_detail'] input[name='TITLE_SUB']"		).val();
	var employee = jQuery("form[name='frm_detail'] select[name='EMPLOYEE']"		).val();
	var contents = jQuery("form[name='frm_detail'] textarea[name='CONTENTS']"	).val();
	
	if(project.length == 0){
		alert("$!lang.getText('프로젝트를 선택하여 주십시오.')");
		return false;
	}
	if(title.length == 0){
		alert("$!lang.getText('작업단위명을 입력하여주십시오.')");
		return false;
	}
	if(titleSub.length == 0){
		alert("$!lang.getText('상세제목을 입력하여주십시오.')");
		return false;
	}
	if(employee.length == 0){
		alert("$!lang.getText('담당자를 입력하여주십시오.')");
		return false;
	}
	if(contents.length == 0){
		alert("$!lang.getText('작업내용을 입력하여주십시오.')");
		return false;
	}
	
	return true;
}

</script>

</head>
<input type="hidden" name="func" id="func" value="$!request.getParameter('func')"/>
<div id="tab1">
	<div class="patternWrap">
	<form id="frm_detail" name="frm_detail" method="post">
		<p style="font-size:20px; font-weight:bolder">#(자동채번) $!lang.getText('작업 신규등록')</p>
		<p style="font-size:14px; color:red">※$!lang.getText('작업단위 이하의 작업추가는 메인화면 하단의 [작업상세추가] 버튼을 이용하여 주십시오.')</p>
		<div class="marT20">
			<div class="pannelWhiteTitle ui-corner-tl ui-corner-tr">		
				<div class="btnArea">
					<div class="btnAreaLeft">
						$!lang.getText('작업단위명 및 상세등록')
					</div>
					<table>
						<tr>
							<td>
								<div class="btnAreaRight">
									<input type="button" value="$!lang.getText('저장')" 		class="INS_AUTH UPD_AUTH btnSave" 	name="btn_write" id="btn_save" onclick="fn_save();" role="button" aria-disabled="false"/>
									<input type="button" class="btnEtc" value="$!lang.getText('닫기')" onclick="javascript:self.close();"/>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="pannelWhiteBody ui-corner-bl ui-corner-br">
				<table class="contentView" border='1'>
					<colgroup>
						<col width="10%"/> 
						<col width="7%"/>
						<col width="10%"/>
						<col width="10%"/>
						<col width="10%"/>
						
						<col width="10%"/>
						<col width="10%"/>  
						<col width="10%"/>
						<col width="30%"/>
					</colgroup>
					<tbody>
						<tr>
							<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('프로젝트')</th>
							<td colspan='2'>
								<select name="PROJECT" id="PROJECT" class="selectbox">
									<option value="WINUS">WINUS</option>
									<option value="NAMS">NAMS</option>
								</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('작업단위명')</th>
							<td>
								<input type="text" class="readOnly" readonly="readonly" id="V_REQ_ID" name="V_REQ_ID"/>
							</td>
							<td>
								<input type="text" class="text" id="TITLE" name="TITLE"/>
							</td>
							<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('상제제목')</th>
							<td colspan='3'>
								<input type="text" class = "text" id="TITLE_SUB" name="TITLE_SUB"/>
							</td>
							<th>$!lang.getText('예정일')</th>
							<td>
								<input type = "text" class = "text" style="width:35%" name="EXP_DATE_FROM" id="EXP_DATE_FROM" maxlength="10" onkeydown="cfn_setDateFld(EXP_DATE_FROM)" onChange="cfn_onChangeDateFld(EXP_DATE_FROM)"> 
								 ~
								<input type = "text" class = "text" style="width:35%" name="EXP_DATE_TO"   id="EXP_DATE_TO"   maxlength="10" onkeydown="cfn_setDateFld(EXP_DATE_TO)" onChange="cfn_onChangeDateFld(EXP_DATE_TO)">
							</td>
						</tr>
						<tr>
							<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('담당자')</th>
							<td colspan='2'>
								<select name="EMPLOYEE" id="EMPLOYEE" class="selectbox">
									<option value="">$!lang.getText('선택')</option>
									<option value="김진석">$!lang.getText('김진석')</option>
									<option value="원대연">$!lang.getText('원대연')</option>
									<option value="민환기">$!lang.getText('민환기')</option>	
								</select>
							</td>
							<th>$!lang.getText('요청자')</th>
							<td>
								<input type="text" class = "text" id="REQ_PERSON" name="REQ_PERSON"/>
							</td>
							<th>$!lang.getText('진척률')</th>
							<td>
								<select name="PROGRESS" id="PROGRESS" class="selectbox">
									<option value="100">100%</option>
									<option value="90">90%</option>
									<option value="80">80%</option>
									<option value="70">70%</option>
									<option value="60">60%</option>
									<option value="50">50%</option>
									<option value="40">40%</option>
									<option value="30">30%</option>
									<option value="20">20%</option>
									<option value="10">10%</option>
									<option value="0">0%</option>
								</select>
							</td>
							<th>$!lang.getText('완료일')</th>
							<td>
								<input type="text" class="text" style="width:35%;"  id="END_DATE" name="END_DATE"  maxlength="10" onkeydown="cfn_setDateFld(END_DATE)"/>
							</td>
						</tr>
						<tr>
							<th><img src="/img/exam/ico_004.gif" class="imgclass" />$!lang.getText('작업내용')</th>
							<td colspan="4">
								<textarea id="CONTENTS" name="CONTENTS" rows="14" style="width:100%; height:100%"></textarea>
							</td>
							<th>$!lang.getText('완료내용')</th>
							<td colspan="4">
								<textarea id="COMMENTS" name="COMMENTS" rows="14" style="width:100%; height:100%"></textarea>
							</td>		
						</tr>	
					</tbody>
				</table>
			</div>
		</div>
		
		<input type="hidden"	name='REQ_ID'		id='REQ_ID'/>
		<input type="hidden"	name='REQ_SEQ'		id='REQ_SEQ'/>
		<input type="hidden"	name='ST_GUBUN'		id='ST_GUBUN'/>
	</form>
</div>
</div>

#parse("winus/common/footer.vm")