<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('로케이션지정')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />

<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

</head>

<body style="min-width: 520px;">
#set($ss_gird_num = $!session.getAttribute("SS_GIRD_NUM"))
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))
#set($ss_lc_info = $!session.getAttribute("SS_LC_INFO"))
#set($ss_svc_no = $!session.getAttribute("SS_SVC_NO"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end
<script type="text/javascript">
</script>

<div class="popupWrap">

    <div class="popupContent">
		<div class="detail_box column_2">
			<div>
				<div class="detailViewWrap">
					<form name="formDetl" action="" method="post" autocomplete="off">
					<div class="detailViewTitle">$!lang.getText("사용자정보")</div>
					<table class="contentView borderBottom">
						<colgroup>
							<col width="*" />
							<col width="60%" />
						</colgroup>
						<tbody>
	
						<tr>
							<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText('소속사')</th>
							<td>
								<input type="text" class = "text" name="CLIENT_NAME" id="CLIENT_NAME" value="$!DETAIL2.CLIENT_NM" onChange="vrSrchCustNm_OnKillFocus()"/ disabled>
							</td>
						</tr>
	
						<tr>
							<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText('사용자구분')</th>
							<td>
								<select name="USER_GB" id="USER_GB" class="selectbox" style="width:100%;" disabled>
									#foreach($row in $UserGB)
									<option value="$row.CODE_CD" #if($!DETAIL2.USER_GB == $row.CODE_CD) selected="selected" #end>$!lang.getText($row.CODE_NM)</option>
									#end
								</select>
							</td>
						</tr>
	
						<tr>
							<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText('업무')</th>
							<td>
								<select name="AUTH_CD" id="AUTH_CD" class="selectbox" style="width:100%;" disabled>
								#foreach($row in $UserAuth)
									<option value="$row.CODE_CD" #if($!DETAIL2.AUTH_CD == $row.CODE_CD) selected="selected" #end>$!lang.getText($row.CODE_NM)</option>
								#end
								</select>
							</td>
						</tr>
	
						<tr>
							<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText('사용자ID')</th>
							<td>
								<span id="UserRd">
									<input type="text" class="readOnly" name="USER_ID" id="D_USER_ID" value="$!DETAIL2.USER_ID" maxlength="15" readonly="readonly"  style="width:60%;ime-mode:disabled"/>
									<span id="UserRd_1" style="visibility:hidden"></span>
								</span>
							</td>
						</tr>
	
						<tr>
							<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText('사용자명')</th>
							<td>
								<input type="text" class="text" name="USER_NM" id="USER_NM" value="$!DETAIL2.USER_NM" maxlength="60" style="width:100%;ime-mode:enabled;" disabled/>
							</td>
						</tr>
	
						<tr>
							<th class="required"><img src="/img/exam/ico_004.gif" class="imgclass">$!lang.getText('비밀번호')</th>
							<td>
								<input type="password" class="text" name="PSWD" id="D_PSWD" value="$!PSWD2" maxlength="30" style="width:60%;ime-mode:disabled" disabled/>
								<input type="hidden" name="PSWD2" id="D_PSWD2" value="$!PSWD2" maxlength="30" style="width:60%;ime-mode:disabled"/>
							</td>
						</tr>
	
						<tr>
							<th>$!lang.getText('부서')</th>
							<td>
								<input type="text" class="text" name="DEPT_CD" id="DEPT_CD" maxlength="15" value="$!DETAIL2.DEPT_CD" style="width:100%;ime-mode:disabled" disabled/>
							</td>
						</tr>
	
						<tr>
							<th>$!lang.getText('전화번호')</th>
							<td>
								<input type="text" class="text" id="TEL_NO" name="TEL_NO" maxlength="20" value="$!DETAIL2.TEL_NO" style="width:100%;ime-mode:disabled" disabled/>
							</td>
						</tr>
	
						<tr>
							<th>$!lang.getText('핸드폰번호')</th>
							<td>
								<input type="text" class="text" id="MOBILE_NO" name="MOBILE_NO" maxlength="20" value="$!DETAIL2.MOBILE_NO" style="width:100%;ime-mode:disabled" disabled/>
							</td>
						</tr>
	
						<tr>
							<th>e-mail</th>
							<td>
								<input type="text" class="text" id="EMAIL_ADDR" name="EMAIL_ADDR" maxlength="30" value="$!DETAIL2.EMAIL_ADDR" style="width:100%;ime-mode:disabled" disabled/>
							</td>
						</tr>
	
						<tr>
							<th>$!lang.getText('다중접속여부')</th>
							<td>
								$!comCode.getComboComCode("MUG", "MULTI_USE_GB", "$!DETAIL2.MULTI_USE_GB", false, "", "disabled", "","class='selectbox'")
							</td>
						</tr>
	
						<tr>
							<th>$!lang.getText('그리드검색설정')</th>
							<td>
								<input type="text" class="text" id="USER_GRID_NUM" name="USER_GRID_NUM" maxlength="3" value="$!DETAIL2.USER_GRID_NUM" style="width:100%;ime-mode:disabled" disabled/>
							</td>
						</tr>
					</tbody>
					</table>
					<input type="hidden" name="update_flag" value="INSERT"/>
					<input type="hidden" name="USER_NO" value="$!DETAIL2.USER_NO"/>
					<div id="formData" style="display:none;"></div>
				</form>
	
				</div>
			</div>
<!--			
			<div class="fr" style="width:58%">
				<table id="detail" style="width:90%;"></table>
				<div id="detail_pjmap"></div>
			</div>
-->			
			
		</div>
	</div>
</div>
</body>
</html>