#parse("winus/common/header.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-99038181-1', 'auto');
ga('send', 'pageview');

</script>

<script type="text/javascript">

////////////////////////////////////
//
//   추후수정부분
//  
//
// 
////////////////////////////////////

var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){
	
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");		

	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });
	
	// datepicker
	jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "$ss_lang" ] );
	jQuery( "input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo']").datepicker( {
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		showOn: "button",
		buttonImage: "/img/exam/btn/calendar.gif",
		buttonImageOnly: true
	} );
	
	// 날자 셋팅		
	var vrSrchReqDt = localStorage.LocalTime;
	jQuery("input[name='vrSrchReqDtFrom'], input[name='vrSrchReqDtTo']").val(vrSrchReqDt);
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);

	// button
	jQuery("input:button").button();	
	
	/* 그리드 공통화 적용 시작- listGrid */
	// 그리드 컬럼명 
	var colNameArray = [
	              'CHK_BOX',
	              'ST_GUBUN',
	              '',
	              'FLAG',
	           
	              '$!lang.getText("LOG_DATETIME")',
	              '$!lang.getText("LOG_KEY")',
	              '$!lang.getText("LOG_POS")',
	              '$!lang.getText("LOG_DESCRIPTION")'
		          ];
	// 그리드 컬럼 정의
	var colModelArray = [
			{name:'CHK_BOX',				index:'CHK_BOX',					align:"left", hidden:true },
			{name:'ST_GUBUN',				index:'ST_GUBUN',					align:"left", hidden:true },
			{name:'ST_GUBUN_IMG',			index:'ST_GUBUN_IMG',	width:40,	align:"center", hidden:true},
			{name:'FLAG',					index:'FLAG',						align:"left", hidden:true},
		
			{name:'LOG_DT',					index:'LOG_DT',			width:150,			align:"center"},
			{name:'LOG_KEY',				index:'LOG_KEY',		width:160,			align:"left"},
			{name:'LOG_POS',				index:'LOG_POS',		width:250,			align:"left"},
			{name:'LOG_DESC',				index:'LOG_DESC',		width:800,			align:"left"}			
		];
	var option = {
		'title' : '$!lang.getText("로그내역")',
		'height' : 600,
		'width' : '100%',
		'colName' : colNameArray,
		'colModel' : colModelArray,
	    'pager' : jQuery("#pjmap"),
        'autowidth' : true,
        'multiselect' : false,
        'viewrecords' : true,
        'gridview' : true,
        'sortable' : true,
        'shrinkToFit' : false,
        #if($ss_gird_num != "")
        	'rowList' : [$ss_gird_num*2,$ss_gird_num*3,$ss_gird_num*4],
        #else
        'rowList' : [500,1000,2000],
        #end
        'rownumbers' : true,
        'rownumWidth' : 40,
        'footerrow' 	: true,
		'userDataOnFooter' : true
	};

	var param = jQuery("form[name='frm_list']").serialize();	
	
	//var url = "/TMSYS140/list.action?"+param;
	var url = "";
	
	listGrid.init(jQuery("#list"), option, url, loadCompleteEventCallback);

	function loadCompleteEventCallback (data){
		var grid     = jQuery("#list");
		var ids 	 = grid.getDataIDs();
		var gridData = grid.getRowData();	
	};
});

//검색
function fn_search(op,op1) {
	
	//작업일자 앞 뒤날짜 비교
	var validator = new Validator("frm_list");	
										// 필수여부(Y/N):검증식:포커스여부(Y/N):폼 아이템 이름:에러 메시지:특수문자 불허여부
	validator.addItem("vrSrchReqDtFrom"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('로그일자'):"); 
	validator.addItem("vrSrchReqDtTo"	,"Y:period=vrSrchReqDtFrom=vrSrchReqDtTo:Y:$!lang.getText('로그일자'):");
	if(!validator.validateForm("frm_list")){
		return false;
	}	

	var param = jQuery("form[name='frm_list']").serialize();
	var url = "/TMSYS140/list.action?"+param;
	
	listGrid.search(param, url, op, op1);	
		
}

</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("로그관리")</a></li>			
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/tmsys/TMSYS140E1.vm")
    </div>    
</div>	
#parse("winus/common/footer.vm")