#parse("winus/common/header.vm")        ## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<script type="text/javascript">

//그리드 선언
var listGrid = new ULNSI_jQGrid();

jQuery(document).ready(function(){    
	/* 경로 표시하기위함 */
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */	
	jQuery("#tab1").tabs({ activate: function(event, ui) { resizeGrid(); } });

    /* button */
    jQuery("input:button").button();

    /* 검색조건 enter검색 */
    Event.observe('srchBox', 'keydown', cfn_search, false);

    /* 그리드 공통화 적용 시작- listGrid */
    // 그리드 컬럼명
    var colNameArray = [
                         'CHK_BOX'  
                        ,'FLAG'     
                        ,'ST_GUBUN' 
                        ,' '            
                        ,'Link File'
                        
                        ,'<img src="/img/exam/ico_004.gif" class="imgclass" /> $!lang.getText("화면구분")'   
                        ,'<img src="/img/exam/ico_004.gif" class="imgclass" /> $!lang.getText("화면ID")'
                        ,'<img src="/img/exam/ico_004.gif" class="imgclass" /> $!lang.getText("화면명")' 
                        ,'$!lang.getText("화면View명")' 
                        ,'<img src="/img/exam/ico_004.gif" class="imgclass" /> URL'
                        ,'$!lang.getText("비고")'
                      ];
    // 그리드 컬럼 정의
    var colModelArray = [
                         {name : 'CHK_BOX'      ,index : 'CHK_BOX'      ,hidden : true}
                        ,{name : 'FLAG'         ,index : 'FLAG'         ,hidden : true}
                        ,{name : 'ST_GUBUN'     ,index : 'ST_GUBUN'     ,hidden : true}
                        ,{name : 'ST_GUBUN_IMG' ,index : 'ST_GUBUN_IMG' ,width : 20     ,align : "center"}
                        ,{name : 'LINK_FILE'    ,index : 'LINK_FILE'    ,hidden : true}

                        ,{name : 'TOP_MENU_CD'  ,index : 'TOP_MENU_CD'  ,width : 200    ,editable : true    ,formatter : 'select'   ,edittype : "select"    ,editoptions : {$!comCode.getGridComboComCode("PGB")}}
                        //PROGRAM_ID 는 신규 등록떄만 입력가능, 등록 후 pk로써 수정불가능
                        ,{name : 'PROGRAM_ID'   ,index : 'PROGRAM_ID'   ,width : 200    ,editoptions : {maxlength : 12}}
                        ,{name : 'PROGRAM_NM'   ,index : 'PROGRAM_NM'   ,width : 250    ,editable : true	,editoptions : {maxlength : 40}}
                        ,{name : 'VIEW_NM'      ,index : 'VIEW_NM'      ,width : 250    ,editable : true	,editoptions : {maxlength : 20}}
                        ,{name : 'URL'          ,index : 'URL'          ,width : 300    ,editable : true	,editoptions : {maxlength : 100}}
                        ,{name : 'REMARK'       ,index : 'REMARK'       ,width : 330    ,editable : true	,editoptions : {maxlength : 300}}
                      ];
 	// 그리드 옵션 정의
    var option = {
    		 	   'title'		 :'$!lang.getText("프로그램목록")'
				  ,'height'		 : 460
				  ,'width'		 : '98%'
				  ,'colName'	 : colNameArray
				  ,'colModel'	 : colModelArray
				  ,'pager'		 : jQuery('#pjmap')
				  ,'autowidth' 	 : true
			      ,'multiselect' : true
			      ,'viewrecords' : true
			      ,'gridview'    : true
			      ,'sortable'    : false
			      #if($ss_gird_num != "")
			      ,'rowList' : [$ss_gird_num*5,$ss_gird_num*7,$ss_gird_num*9]
			      #else
			      ,'rowList' : [500,700,900]
			      #end
			      ,'rownumbers'  : true
			      ,'rownumWidth' : 40
			      ,'shrinkToFit': false
			    };
    
 	var url = '/TMSYS040/list.action';
 	
 	//그리드생성
 	listGrid.init(jQuery("#list"), option, url);

 	//그리드 선택 이벤트
    listGrid.setSelectCellEventCallback(function(id, col){
        var grid = jQuery("#list");
        if(col == 1){
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                jQuery("#jqg_list_"+id).attr("checked",false);
                grid.setCell(id, 'CHK_BOX', "No");
                grid.restoreRow(id);
                listGrid.setStatus(id, " ");
            }else{
                jQuery("#jqg_list_"+id).attr("checked",true);
                grid.setCell(id, 'CHK_BOX', "Yes");
                var rowdata = grid.getRowData(id);
                //FLAG값이 있으면 조회해온것이므로 수정불가능하게하고
                //FLAG값이 없으면 신규추가한것이므로 수정가능하게한다.
                if(rowdata.FLAG == "S"){
                    grid.jqGrid('setColProp', 'PROGRAM_ID' ,{editable:false});
                }else{
                    grid.jqGrid('setColProp', 'PROGRAM_ID' ,{editable:true});
                }
                grid.editRow(id);
                if("" == cfn_trim(grid.getCell(id, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "INSERT");
                }else if("" != cfn_trim(grid.getCell(id, 'FLAG'))){
                    listGrid.setStatus(id, "UPDATE");
                }
            }
        }else{
            if(grid.getCell(id, 'CHK_BOX') == "Yes"){
                grid.setCell(id, 'CHK_BOX', 'Yes');
                grid.setSelection(id, false);
            }else{
                grid.setCell(id, 'CHK_BOX', 'NO');
                grid.setSelection(id, true);
            }
        }
    });
 	
    listGrid.setSelectAllEventCallback(function(id , status){
        var grid = jQuery("#list");
        var ids  = grid.jqGrid('getDataIDs');
        if(ids != ''){
            for(var i = 0; i< ids.length; i ++){
                var idx = ids[i];
                if(status){
                    grid.setCell(idx, 'CHK_BOX', "Yes");
                    var rowdata = grid.getRowData(idx);
                    if(rowdata.FLAG == "S"){
                        grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:false});
                    }else{
                        grid.jqGrid('setColProp', 'PROP_KEY' ,{editable:true});
                    }
                    grid.editRow(idx);
                    if("" == cfn_trim(grid.getCell(idx, 'ST_GUBUN')) && "" == cfn_trim(grid.getCell(idx, 'FLAG'))){
                        listGrid.setStatus(idx, "INSERT");

                    }else if("" != cfn_trim(grid.getCell(idx, 'FLAG'))){
                        listGrid.setStatus(idx, "UPDATE");
                    }
                }else{
	                grid.setCell(idx, 'CHK_BOX', 'No');
                    grid.restoreRow(idx);
                    listGrid.setStatus(idx, " ");

                }
            }
        }
    });
 	
    /* 그리드 공통화 적용 끝- listGrid */
});

//--------------------------------------------------------------------------------메--인--------------------------------------------------------------------------------------//
/*
	검색			:	fn_search
	저장			:	fn_save
	유효성검사		:	fn_listValidation
	신규			:	fn_new
	삭제			:	fn_delete
	엑셀			:	fn_excelDown
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

/* 프로그램목록 검색 */
function fn_search(op,op1){
    var param 	= jQuery("form[name='frm_list']").serialize();
    var url 	= "/TMSYS040/list.action?"+param;
    listGrid.search(param, url, op, op1);
}


/* 프로그램목록 저장,수정  */
function fn_save(){
	var grid 		= jQuery("#list");
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var tmpCnt		= 0;
    
    if(selectIds == ""){
		alert("$!lang.getText('save.nodata')");
		return;
    }
    
    if(!fn_listValidation()){return;}
    
    if(confirm("$!lang.getText('update.confirm')")){
    	jQuery("#formData").html("");
        if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
            tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
        }
        
        for(var i = 0 ; i < selectIds.length ; i++){
			jQuery("#formData").append("<input type='text' name='ST_GUBUN"		+ tmpCnt + "'value='" + grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
	       	jQuery("#formData").append("<input type='text' name='TOP_MENU_CD"	+ tmpCnt + "'value='" + jQuery("#"+selectIds[i] + "_TOP_MENU_CD"	,"#list").val() +"'/>");
	       	jQuery("#formData").append("<input type='text' name='PROGRAM_NM"	+ tmpCnt + "'value='" + jQuery("#"+selectIds[i] + "_PROGRAM_NM"		,"#list").val() +"'/>");
	       	jQuery("#formData").append("<input type='text' name='VIEW_NM"		+ tmpCnt + "'value='" + jQuery("#"+selectIds[i] + "_VIEW_NM"		,"#list").val() +"'/>");
	       	jQuery("#formData").append("<input type='text' name='URL"			+ tmpCnt + "'value='" + jQuery("#"+selectIds[i] + "_URL"			,"#list").val() +"'/>");
	       	jQuery("#formData").append("<input type='text' name='REMARK"		+ tmpCnt + "'value='" + jQuery("#"+selectIds[i] + "_REMARK"			,"#list").val() +"'/>");
	       	//비활성화, 활성화에 따라 그리드 가져오는 방법이 다르므로 분기처리
	       	if(grid.getCell(selectIds[i], "FLAG") == "S"){
	           	jQuery("#formData").append("<input type='text' name='PROGRAM_ID" + tmpCnt + "'  value='" + grid.getCell(selectIds[i], "PROGRAM_ID") + "'/>");
	       	}else{
	           	jQuery("#formData").append("<input type='text' name='PROGRAM_ID" + tmpCnt + "'  value='" + jQuery("#"+selectIds[i] + "_PROGRAM_ID","#list").val() +"'/>");
	       	}
	       	tmpCnt ++;
        }
        
        jQuery("form[name='frm_list'] input[name='selectIds']").val( tmpCnt );
        
  		var param 	= jQuery("form[name='frm_list']").serialize();
 		var url 	= "/TMSYS040/save.action";
    	cfn_viewProgress2();	// loading layer 출력
	    jQuery.post(url, param, function(data) {
    		cfn_closeProgress();	// loading layer 종료
		    alert(data.MSG);
		    if(data.errCnt == 0 ){
			    var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
			    var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
		        fn_search(page,page_check);
		    }
		}).fail(function(xhr, textStatus){
			if(xhr.status == 404){	
				location.href=('/index.html');
			}		
		});
    }
}

/* 입력값 유효성 검사 */
function fn_listValidation(){
	var grid 		= jQuery("#list");
	var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});  

	if(selectIds != ""){
		var tmpText = ["$!lang.getText('화면구분')", "$!lang.getText('화면ID')",  "$!lang.getText('화면명')", "URL" , "$!lang.getText('화면View명')"];
		var tmpId 	= ["TOP_MENU_CD", "PROGRAM_ID", "PROGRAM_NM", "URL", "VIEW_NM"];
		var tmpVal;
		for(var i = 0 ; i < selectIds.length ; i++){
			var stGubun   = grid.getCell(selectIds[i], "ST_GUBUN");
			var topMenuCd = cfn_trim(jQuery("#"+selectIds[i] + "_TOP_MENU_CD"	,"#list").val());
			var programNm = cfn_trim(jQuery("#"+selectIds[i] + "_PROGRAM_NM"	,"#list").val());
			var url 	  = cfn_trim(jQuery("#"+selectIds[i] + "_URL"			,"#list").val());
			var programId = "";
			if(stGubun == "INSERT"){
				programId = cfn_trim(jQuery("#"+selectIds[i] + "_PROGRAM_ID","#list").val());
			}else if(stGubun == "UPDATE"){
				programId = cfn_trim(grid.getCell(selectIds[i], 'PROGRAM_ID'));
			}
			
			/* 공백체크 */
			tmpVal = [topMenuCd, programId, programNm, url];
			for(var j = 0 ; j < tmpVal.length ; j++){
				if(jQuery.trim(tmpVal[j]) == ""){
 					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
 					jQuery("#"+selectIds[i]+"_"+tmpId[j], "#list").focus()
					return false;
				}
			}		
		}
	}	
	return true;
} 

/* 삭제처리 */
function fn_delete(){
	var grid 		= jQuery("#list");
    var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
    var tmpCnt		= 0;
    
    if(selectIds == ""){
		alert("$!lang.getText('delete.nodata')");
		return;
    }
    
    if(confirm("$!lang.getText('delete.confirm')")){
    	jQuery("#formData").html("");
        if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
            jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
            jQuery("#formData").append("<br>");
        }else{
            tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
        }
        
        for(var i = 0 ; i < selectIds.length ; i++){
			jQuery("#formData").append("<input type='text' name='PROGRAM_ID" + tmpCnt + "'  value='" + grid.getCell(selectIds[i], "PROGRAM_ID") + "'/>");
			tmpCnt ++;
        }
        
        jQuery("form[name='frm_list'] input[name='selectIds']").val( tmpCnt );
        
  		var param 	= jQuery("form[name='frm_list']").serialize();
 		var url 	= "/TMSYS040/delete.action";
    	cfn_viewProgress2();	// loading layer 출력
	    jQuery.post(url, param, function(data) {
	    	cfn_closeProgress();	// loading layer 종료
		    alert(data.MSG);
		    if(data.errCnt == 0 ){
			    var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
			    var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
		        fn_search(page,page_check);
		    }
		}).fail(function(xhr, textStatus){
			if(xhr.status == 404){	
				location.href=('/index.html');
			}		
		});
    }
}

/* 프로그램목록 엑셀 다운로드 */
function fn_excelDown() {
	var grid = jQuery("#list");
	var sidx =  grid.getGridParam('sortname');
	var sord = grid.getGridParam('sortorder');
	var param = "?sidx="+sidx+"&sord="+sord;
   
	var fm = document.frm_list;
    var countRow = jQuery("#list").getDataIDs().size();
    if(countRow == 0){
        alert('$!lang.getText("excel.down.nodata")');
        return;
    } else if(countRow > 60000) {
        alert('$!lang.getText("excel.down.maxrow")');
        return;
    } else {
        fm.action="/TMSYS040/excel.action"+param;;
        fm.method="post";
        fm.submit();
    }
}

/* 행 추가 */
function fn_new(){
	var vrTopMenuCdVal = jQuery("form[name='frm_list'] select[name='vrTopMenuCd']").val();
    
	listGrid.setAddRowEventCallback( listGrid.setColProp('PROGRAM_ID' ,{editable:true}) );
    listGrid.addRow({ST_GUBUN 		: "INSERT"
    	            ,ST_GUBUN_IMG	: "<img src='/img/exam/btn/add.gif'>"
    		        ,CHK_BOX      	: "Yes"
    		        ,TOP_MENU_CD    : vrTopMenuCdVal});
}


////////////// 저장,수정,삭제 한번에 할때사용한거 /////////////////


///* 프로그램목록 삭제 셋팅 (실질적 DB 삭제처리 아님 ST_GUBUN 셋팅) */
//function fn_delete(){
//  listGrid.deleteRow();
//}

///* 프로그램목록 저장,수정,삭제 */
//function fn_save(){
//  var grid        = jQuery("#list");
//  var ids         = grid.getDataIDs();
//  var selectIds   = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
//  var isProcess   = false;
//  var tmpCnt = 0 ;
//  if(selectIds == ""){
//  	alert("$!lang.getText('저장할데이터를선택해주세요')");
//      return false;
//  }

//  //유효성검사
//  if(!fn_listValidation()){return;}
 
//  if(confirm("$!lang.getText('저장하시겠습니까')")){
//      if(selectIds != ""){
//          jQuery("#formData").html("");
//          if( jQuery("form[name='frm_list'] input[name='selectIds']").val() == undefined){
//              jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
//              jQuery("#formData").append("<br>");
//          }else{
//              tmpCnt = parseInt(jQuery("form[name='frm_list'] input[name='selectIds']").val());
//          }

//          for(var i = 0 ; i < selectIds.length ; i++){
//              if("DELETE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
//                  jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
//                  isProcess = true;
//              }else if("UPDATE" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" != cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
//                  jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
//                  isProcess = true;
//              }else if("INSERT" == cfn_trim(grid.getCell(selectIds[i], "ST_GUBUN")) && "" == cfn_trim(grid.getCell(selectIds[i], "FLAG"))){
//                  jQuery("#formData").append("<input type='text' name='ST_GUBUN"+tmpCnt+"' value='"+grid.getCell(selectIds[i], "ST_GUBUN")+"'/>");
//                  isProcess = true;
//              }
//              if(isProcess){
//                  jQuery("#formData").append("<input type='text' name='TOP_MENU_CD"+tmpCnt+"'     value='" + jQuery("#"+selectIds[i] + "_TOP_MENU_CD","#list").val() +"'/>");
//                  jQuery("#formData").append("<input type='text' name='PROGRAM_NM"+tmpCnt+"'      value='" + jQuery("#"+selectIds[i] + "_PROGRAM_NM","#list").val() +"'/>");
//                  jQuery("#formData").append("<input type='text' name='VIEW_NM"+tmpCnt+"'         value='" + jQuery("#"+selectIds[i] + "_VIEW_NM","#list").val() +"'/>");
//                  jQuery("#formData").append("<input type='text' name='URL"+tmpCnt+"'             value='" + jQuery("#"+selectIds[i] + "_URL","#list").val() +"'/>");
//                  jQuery("#formData").append("<input type='text' name='REMARK"+tmpCnt+"'          value='" + jQuery("#"+selectIds[i] + "_REMARK","#list").val() +"'/>");
//                  //비활성화, 활성화에 따라 그리드 가져오는 방법이 다르므로 분기처리
//                  if(grid.getCell(selectIds[i], "FLAG") == "S"){
//                      jQuery("#formData").append("<input type='text' name='PROGRAM_ID"+tmpCnt+"'  value='"+grid.getCell(selectIds[i], "PROGRAM_ID")+"'/>");
//                  }else{
//                      jQuery("#formData").append("<input type='text' name='PROGRAM_ID"+tmpCnt+"'  value='" + jQuery("#"+selectIds[i] + "_PROGRAM_ID","#list").val() +"'/>");
//                  }
//                  tmpCnt ++;
//              }
//          }
//          jQuery("form[name='frm_list'] input[name='selectIds']").val( tmpCnt );
//      }else{
//          if(tmpCnt == 0){
//              alert("$!lang.getText('저장할데이터를선택해주세요')");
//              return false;
//          }
//      }
//      var param = jQuery("form[name='frm_list']").serialize();
//      var url = "/TMSYS040/save.action";
//      jQuery.post(url, param, function(data) {
//          alert(data.MSG);
//          var  page_check = 1;    // 저장 및 삭제 시 페이징된 상태에서 재조회를 위한 구분값.
//          var  page = jQuery("#list").jqGrid().getGridParam("page");  // 저장 및 삭제 후 페이징 된 상태에서 재조회를 위해서
//          if(data.errCnt <= 0 ){
//              fn_search(page,page_check);
//          }
//      }).fail(function(xhr, textStatus){
//  		if(xhr.status == 404){	
//  			location.href=('/index.html');
//  		}
//  	 });
//  }
//}

///* 입력값 유효성 검사 */
//function fn_listValidation(){
//	var grid = jQuery("#list");
//	var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});  

//	if(selectIds != ""){
//		var tmpText = ["$!lang.getText('화면구분')", "$!lang.getText('화면ID')",  "$!lang.getText('화면명')", "URL" , "$!lang.getText('화면View명')", "$!lang.getText('비고')"];
//		var tmpId = ["TOP_MENU_CD", "PROGRAM_ID", "PROGRAM_NM", "URL", "VIEW_NM", "REMARK"];
//		var tmpVal;
//		for(var i = 0 ; i < selectIds.length ; i++){
//			var stGubun = grid.getCell(selectIds[i], "ST_GUBUN");
//			if(stGubun != "DELETE"){	//삭제일경우에는 필수값이 아니기때문에 제외
//				var topMenuCd = cfn_trim(jQuery("#"+selectIds[i] + "_TOP_MENU_CD","#list").val());
//				var programNm = cfn_trim(jQuery("#"+selectIds[i] + "_PROGRAM_NM","#list").val());
//				var url 	  = cfn_trim(jQuery("#"+selectIds[i] + "_URL","#list").val());
//				var programId = "";
//				if(stGubun == "INSERT"){
//					programId = cfn_trim(jQuery("#"+selectIds[i] + "_PROGRAM_ID","#list").val());
//				}else if(stGubun == "UPDATE"){
//					programId = cfn_trim(grid.getCell(selectIds[i], 'PROGRAM_ID'));
//				}
			
//				/* 공백체크 */
//				tmpVal = [topMenuCd, programId, programNm, url];
//				for(var j = 0 ; j < tmpVal.length ; j++){
//					if(jQuery.trim(tmpVal[j]) == ""){
//  					alert("$!message.getMessage('grid.check.validation', '" + selectIds[i] + "','" + tmpText[j] + "')");
//  					jQuery("#"+selectIds[i]+"_"+tmpId[j], "#list").focus()
//						return false;
//					}
//				}
//			}			
//		}
//	}	
//	return true;
//} 

</script>

<div id = "tab1">
	<div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText('프로그램관리')</a></li>		
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        #parse("winus/tmsys/TMSYS040E1.vm")
    </div>
</div>

#parse("winus/common/footer.vm")