<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$!lang.getText('자료공유게시판') $!lang.getText('상세정보')</title>
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/ui.jqgrid.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/common2.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />


<script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>	<!-- Loding이미지 -->
<script type="text/javascript" src="/js/prototype-1.6.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.collapsible.min.js"></script>
#parse("winus/common/validatorUtilMessage.vm")
<script type="text/javascript" src="/js/validatorUtil.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

</head>

<body>
#set($ss_lang_type = $!session.getAttribute("SS_LANG_TYPE"))
#set($ss_user_gb = $!session.getAttribute("SS_USER_GB"))
#set($ss_user_id = $!session.getAttribute("SS_USER_ID"))
#set($ss_user_no = $!session.getAttribute("SS_USER_NO"))
#set($ss_user_name = $!session.getAttribute("SS_USER_NAME"))
#set($ss_user_type = $!session.getAttribute("SS_USER_TYPE"))

#if($ss_lang_type == 0)
#set($ss_lang = "ko")
#elseif($ss_lang_type == 1)
#set($ss_lang = "ja")
#elseif($ss_lang_type == 2)
#set($ss_lang = "cn")
#elseif($ss_lang_type == 3)
#set($ss_lang = "en")
#end


<script type="text/javascript">

jQuery(document).ready(function(){
	
	/* button */
	jQuery("input:button").button();
	
	#if (!$DETAIL.BOARD_NAME && "$!DETAIL.BOARD_NAME" == "")
		jQuery("#D_BOARD_NAME").val('$ss_user_id');
	#end
	
	#set($cnt = 1)	
	#if($FILE.size() > 0)
		#foreach($FILEINFO in $FILE) 
			fn_set_file_info( '$cnt', '$FILEINFO.FILE_NAME', '$FILEINFO.ORG_FILENAME', '$FILEINFO.FILE_PATH', '$FILEINFO.FILE_SIZE' );
			#set($cnt = $cnt+1) 
		#end
	#end

	#if (!$DETAIL.REPLY_FLAG && "$!DETAIL.REPLY_FLAG" == "")
		fn_set_init_value();
	#end
});

function fn_set_file_info(idx, fileid, filename, filepath, filesize) {
	var $tr = jQuery("#file_info_" + idx);
	jQuery("input[name='D_ATCH_FILE_NAME']", $tr).val(filename);
	jQuery("input[name='D_ATCH_FILE_ROUTE']", $tr).val(filepath);
	jQuery("input[name='ORG_FILENAME']", $tr).val(filename);
	jQuery("input[name='FILE_SIZE']", $tr).val(filesize);
	jQuery("input[name='FILE_ID']", $tr).val(fileid);
	jQuery("input[name='FILE_STATE']", $tr).val('U');	
}

//-->
//세션 소멸시 메인화면 로그인화면으로 이동
function fn_errCheck(err){	
	if(err != null){
		alert("$!lang.getText('세션정보가없습니다.')");
		var opnr_func = eval("opener.fn_pop_err");
		var arr 	= new Array();
		var info = new Object();
		info.err = err;
		arr[0]= info;
		if(arr != null){
    		opnr_func(arr);
    	}
	}
}
//팝업 3개이상 일때 세션 소멸 처리
function fn_pop_err(arr){
	var info = arr[0];	
	if(info.err != ""){
		var opnr_func = eval("opener.fn_pop_err");
		var arr2 	= new Array();
		var info2 = new Object();
		info2.err = info.err;
		arr2[0]= info2;
		if(arr2 != null){
 		opnr_func(arr2);
 	}
		javascript:self.close();
	}
}
 
//--------------------------------------------------------------------------------팝--업--------------------------------------------------------------------------------------//
/*
	팝업 호출			:	fn_Popup
	화주 팝업후		:	fn_setWMSMS011
	계약부서 팝업후		:	fn_setWMSCM014C
	계약사원 팝업후		:	fn_setWMSCM015C
	실적부서 팝업후		:	fn_setWMSCM014R
	실적사원 팝업후		:	fn_setWMSCM015R
	그리드 상품 팝업후	:	fn_setWMSCM091
	그리드 UOM 팝업후	:	fn_setWMSCM100
*/
//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
/* 팝업 호출 */
function fn_Popup(type, id){
	var strParameter = [];
	var param 		 = '';
	var url 		 = '';
	var width 		 = "800";
	var height 		 = "530";
	
	//팝업의 값에 따라 사용되는 팝업분기
	switch(type){
		case 'CUST':	//화주
			param = "?func=fn_setWMSMS011";
			url = "/WMSCM011.action" + param;
			break;
	}
	var asppop = cfn_openPop2(url, "fn_Popup", width, height);
	asppop.focus();
}

function fn_setWMSMS011(arr){
	var info = arr[0];	
	jQuery('form[name="frm_detail"] input[name="vrCustCd"]').val(info.cust_cd);
	jQuery('form[name="frm_detail"] input[name="vrCustNm"]').val(info.cust_nm);
	jQuery('form[name="frm_detail"] input[name="vrCustId"]').val(info.cust_id);
}

/* 삭제 */
function fn_delete(){
	var pwd = jQuery("#D_BOARD_PWD").val();
	var confirm_pwd = jQuery("#D_BOARD_CONFIRM_PWD").val();
	
	if ( pwd !== confirm_pwd ){
		alert("$!lang.getText('패스워드가 일치하지 않습니다')");
		return false;
	}
	jQuery("form[name='frm_detail'] input[name='FLAG']").val("D");
	fn_save_process();
}

function fn_save() {	
	var pwd = jQuery("#D_BOARD_PWD").val();
	var confirm_pwd = jQuery("#D_BOARD_CONFIRM_PWD").val();
	
	if ( pwd =='' ){
		alert("$!lang.getText('패스워드를 설정해 주십시요')");
		return false;
	} else if ( pwd !== confirm_pwd ){
		alert("$!lang.getText('패스워드가 일치하지 않습니다')");
		return false;
	}
	
	var add_file = false;
	jQuery("form[name='frm_detail'] input[name='FILE_STATE']").each(function() {
		var state = jQuery(this).val();
		if ( state == 'I') {
			add_file = true;
			return false;
		}
	});
	
	if ( add_file === true ) {
		filechecklist.jdfwForm.action = "/JDFW5XUploader";
		filechecklist.jdfwForm.submit();
	} else {
		fn_save_process();
	}
}

function _fn_fileprocess(result, realfilepath, filename, filesize, idx, isLast) {	
	var form1 = document.getElementsByName("D_ATCH_FILE_NAME");
	var form2 = document.getElementsByName("D_ATCH_FILE_ROUTE");
	var form3 = document.getElementsByName("FILE_SIZE");

	if(result == "0") {
		form1[idx].value = filename;
		form2[idx].value = realfilepath;
		form3[idx].value = filesize;
		
		jQuery("#FILE_STATE").trigger('input');
		
		if (isLast === true) {
			fn_save_process();
		}
	}
}

function fn_save_process() {	
	var url = "/TMSBD020/saveReply.action";
	var param = jQuery("form[name='frm_detail']").serialize();
	
	// console.log( param );
	cfn_viewProgress2();
	   	
	jQuery.post(url, param, function(data) {
		
	    if(data.ERROR != 1 ){
	    	if(data.ERROR == 2 ){
	    		_fn_fileDelete(0);
	    	}
	    }
		
	    cfn_closeProgress();
		
	   	if(data.MSG != null){
			alert(data.MSG);
		}
	   	
		var opnr_func = eval("opener.fn_search");
		opnr_func();
		
		self.close();
	}).fail(function(xhr, textStatus){
		if(xhr.status == 404){	
			location.href=('/index.html');
		}
	});
}

function fn_fileSearch(filePostion) {
	var idxTemp = _getObj().parentElement.rowIndex;	
	filechecklist.jdfwForm.action="/JDFW5XUploader";
	filechecklist.jdfwForm.formname.value = "D_ATCH_FILE_NAME";
	filechecklist.jdfwForm.filePostion.value = filePostion; // 파일 경로 설정 대분류 폴더명
	filechecklist.jdfwForm.rowIdx.value = idxTemp;
	if (idxTemp == '0') {
		filechecklist.jdfwForm.txtFile0.click();
	} else if (idxTemp == '1') {
		filechecklist.jdfwForm.txtFile1.click();
	} else if (idxTemp == '2') {
		filechecklist.jdfwForm.txtFile2.click();
	} else {
		filechecklist.jdfwForm.txtFile.click();
	}
}

/* 파일다운 */
function fn_fileOpen() {
	_fn_fileOpen();
}

function fn_addfileline(){
	var file_name = jQuery("form[name='frm_detail'] input[name='D_ATCH_FILE_NAME']").val();
	var file_state = jQuery("form[name='frm_detail'] input[name='FILE_STATE']").val();
	var idxTemp = _getObj().parentElement.rowIndex;

	if(confirm(strings['grid.confirm_save'])){
		if("I" == file_state){
			_fn_addfileline(idxTemp, file_name);
		}
		
	 	if("" == file_state){
	 		fn_save();
	 	}
	}
}

/* 파일삭제 */
function fn_fileDelete(){
	var flag = jQuery("form[name='frm_detail'] input[name='FLAG']").val();
	var file_name = jQuery("form[name='frm_detail'] input[name='D_ATCH_FILE_NAME']").val();
	if(confirm("$!lang.getText('delete.confirm')")){
		if("" != flag && "" != file_name){	
			_fn_fileDelete();
			fn_delete();
		}else{
			fn_delete();
		}
	}
}

function fn_set_init_value() {
	var re = '\n'
	var contents = jQuery("#D_CONTENTS").val();
	var contentsTemp = contents.split(re);
	var contentsArr = "";
	
	for ( var i=0; i<contentsTemp.length; i++ ) 
    {
		contentsArr += ">>  " +contentsTemp[i]+ re;
    }
	
	jQuery("#D_CONTENTS").val(re+re+re+contentsArr);
	jQuery("#D_BOARD_PWD").val('');
	jQuery("#D_BOARD_NAME").val('$ss_user_name');
	
	jQuery("#D_CONTENTS").focus();

}
</script>

<div class="popupWrap">
	<div class="popupHeader">
		<div class="btnArea marB10">
		    <div class="btnAreaLeft">
		       	$!lang.getText('자료공유게시판') $!lang.getText('상세정보')
		    </div>
			<table>
			<tr>
				<td>
					<div class="btnAreaRight">
						<input type="button" class="INS_AUTH UPD_AUTH btnSave" 	name="btn_write"	value="$!lang.getText('저장')"	onclick="fn_save();" />
						<input type="button" class="DEL_AUTH btnDelete" 		name="btn_write"	value="$!lang.getText('삭제')"	onclick="fn_delete();" />				
						<input type="button" class="btnEtc" value='$!lang.getText("닫기")' onclick="javascript:self.close();"/>
					</div>
				</td>
			</tr>
		</table>
		</div>
    </div>
		
    <div class="popupContent">
    <table>
		<tbody>
			<tr>
				<td style="vertical-align:top">			
			    	<form id="frm_detail" name="frm_detail" method="post">						
						<div class="pannelWhiteBody ui-corner-bl ui-corner-br">
							<table class="contentView">
							<colgroup>
								<col width="90px"/> 
								<col width="25%"/>
								<col width="90px"/> 
								<col width="25%"/>
								<col width="120px"/>
								<col width="*"/>
								<col width="10px"/>
							</colgroup>
						
							<tbody>
								<tr>
									<th>$!lang.getText('제목')</th>
									<td colspan="5">
										<input type="text" id="D_BOARD_TITLE" name="D_BOARD_TITLE" value="$!DETAIL.BOARD_TITLE" style="width:100%"/>
										<input type="hidden" id="D_BOARD_REF" name="D_BOARD_REF" value="$!DETAIL.BOARD_REF" />				
										<input type="hidden" id="D_BOARD_STEP" name="D_BOARD_STEP" value="$!DETAIL.BOARD_STEP" />												
										<input type="hidden" id="D_BOARD_LEVEL" name="D_BOARD_LEVEL" value="$!DETAIL.BOARD_LEVEL" />
															
										<input type="hidden" id="D_BOARD_ID" name="D_BOARD_ID" value="$!DETAIL.BOARD_ID" />
										<input type="hidden" id="D_BOARD_IDX" name="D_BOARD_IDX" value="$!DETAIL.BOARD_IDX" />
										<input type="hidden" id="D_ORG_BOARD_ID" name="D_ORG_BOARD_ID" value="$!DETAIL.ORG_BOARD_ID" />												
										<input type="hidden" id="D_BOARD_TYPE" name="D_BOARD_TYPE" value="NOTICE" />				
									</td>
									<td></td>
								</tr>								
								<tr>
									<th>$!lang.getText('게시자')</th>
									<td>
										<input type="text" id="D_BOARD_NAME" name="D_BOARD_NAME" value="$!DETAIL.BOARD_NAME" />
									</td>									
									<th style="background-color:#f1f1f1;">$!lang.getText('비밀번호')</th>
									<td>
										<input type="password" id="D_BOARD_PWD" name="D_BOARD_PWD" value="$!DETAIL.BOARD_PWD" />
									</td>
										
									<th style="background-color:#f1f1f1;">$!lang.getText('비밀번호') $!lang.getText('확인')</th>
									<td>
										<input type="password" id="D_BOARD_CONFIRM_PWD" name="D_BOARD_CONFIRM_PWD" value="" style="width:98%"/>
									</td>
									<td></td>
								</tr>																	
								<tr>
									<th>$!lang.getText('요청내용')</th>
									#if($!DETAIL.BOARD_CONTENT != '')
									<td colspan="5">
										<textarea id="D_CONTENTS" name="D_CONTENTS" rows="15" style="width:100%; height:100%; white-space: pre; word-wrap: normal; overflow-x: scroll;" wrap="soft">$!DETAIL.BOARD_CONTENT</textarea>
									</td>
									#else
									<td colspan="5">
										<textarea id="D_CONTENTS" name="D_CONTENTS" rows="15" style="width:100%; height:100%; white-space: pre; word-wrap: normal; overflow-x: scroll;" wrap="soft"></textarea>
									</td>
									#end
									<td></td>
								</tr>
								
								<tr>
									<th>$!lang.getText('첨부파일')</th>
									<td colspan="6">
										<table id="tb_fileup" width="100%">
											<tr>
												<td colspan="3" name="file_info" id="file_info_1"> 
													<input type="text" class='readOnly' style='width:70%' name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME' readonly="readonly"/>
													<input type="button" class='btnEtc' value="$!lang.getText('선택')" name='btn_write' onclick='fn_fileSearch("NOTICE"); return false;'/>
													<input type="button" class='btnEtc' name="IMAGE_GET" id="IMAGE_GET" value="$!lang.getText('첨부파일다운')" onclick='fn_fileOpen(); return false;'/>
													
													<input type="hidden" name='D_ATCH_FILE_IDX' value='0'/>
													<input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE'/>
													<input type="hidden" name='ORG_FILENAME' id='ORG_FILENAME'/>
													<input type="hidden" name='FILE_SIZE' id='FILE_SIZE'/>
													<input type="hidden" name="FILE_STATE" id="FILE_STATE"/>
													<input type="hidden" name="FILE_ID" id="FILE_ID"/>
													
													<input type="hidden" name="C_ORG_FILENAME" id="C_ORG_FILENAME"/>	
													<input type="hidden" name="C_ORG_ATCH_FILE_ROUTE" id="C_ORG_ATCH_FILE_ROUTE"/>	
												</td>
											</tr>
											<tr>
												<td colspan="3" name="file_info" id="file_info_2"> 
													<input type="text" class='readOnly' style='width:70%' name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME' readonly="readonly"/>
													<input type="button" class='btnEtc' value="$!lang.getText('선택')" name='btn_write' onclick='fn_fileSearch("NOTICE"); return false;'/>
													<input type="button" class='btnEtc' name="IMAGE_GET" id="IMAGE_GET" value="$!lang.getText('첨부파일다운')" onclick='fn_fileOpen(); return false;'/>
													
													<input type="hidden" name='D_ATCH_FILE_IDX' value='1'/>
													<input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE'/>
													<input type="hidden" name='ORG_FILENAME' id='ORG_FILENAME'/>
													<input type="hidden" name='FILE_SIZE' id='FILE_SIZE'/>
													<input type="hidden" name="FILE_STATE" id="FILE_STATE"/>
													<input type="hidden" name="FILE_ID" id="FILE_ID"/>
												
													<input type="hidden" name="C_ORG_FILENAME" id="C_ORG_FILENAME"/>	
													<input type="hidden" name="C_ORG_ATCH_FILE_ROUTE" id="C_ORG_ATCH_FILE_ROUTE"/>	
													
												</td>
											</tr>
											<tr>
												<td colspan="3" name="file_info" id="file_info_3"> 
													<input type="text" class='readOnly' style='width:70%' name='D_ATCH_FILE_NAME' id='D_ATCH_FILE_NAME' readonly="readonly"/>
													<input type="button" class='btnEtc' value="$!lang.getText('선택')" name='btn_write' onclick='fn_fileSearch("NOTICE"); return false;'/>
													<input type="button" class='btnEtc' name="IMAGE_GET" id="IMAGE_GET" value="$!lang.getText('첨부파일다운')" onclick='fn_fileOpen(); return false;'/>
													
													<input type="hidden" name='D_ATCH_FILE_IDX' value='2'/>
													<input type="hidden" name='D_ATCH_FILE_ROUTE' id='D_ATCH_FILE_ROUTE'/>
													<input type="hidden" name='ORG_FILENAME' id='ORG_FILENAME'/>
													<input type="hidden" name='FILE_SIZE' id='FILE_SIZE'/>
													<input type="hidden" name="FILE_STATE" id="FILE_STATE"/>
													<input type="hidden" name="FILE_ID" id="FILE_ID"/>
													
													<input type="hidden" name="C_ORG_FILENAME" id="C_ORG_FILENAME"/>	
													<input type="hidden" name="C_ORG_ATCH_FILE_ROUTE" id="C_ORG_ATCH_FILE_ROUTE"/>															
												</td>
											</tr>										
										</table>	
									</td>			
								</tr>	
							</tbody>
							</table>
						</div>
						
						<input type="hidden" name='FLAG' value='$!DETAIL.REPLY_FLAG'/>
					</form>
				
				</td>
			</tr>
		</tbody>
	</table>
    		
	<iframe name="filechecklist" src="/jsp/fileuploadMt.jsp" style="visibility : hidden ; width : 0 ; height : 0" ></iframe>
    </div>
</div>

</body>
</html>