#parse("winus/common/headerNew.vm")		## WEB-INF/template 는 spring servlet 설정파일에 정의되어 있으므로 필요 없음
<link href="/customer/css/stylesV2.css?ssd" rel="stylesheet" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>


<!-- 임시영역 start --> 
<!-- 
<link href="/customer/css/stylesV2.css?ssd" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />

<link type="text/css" media="screen" rel="stylesheet" href="/css/menu.css?ver=20200625" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/redmond/jquery-ui-1.8.10.custom.css"/>
<link type="text/css" media="screen" rel="stylesheet" href="/css/content.css?ver=20191032" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/context.css" />
<link rel="stylesheet" href="/css/jprwms.css?ver=20200701" type="text/css" />
<link type="text/css" media="screen" rel="stylesheet" href="/css/pattern.css" />
<script type="text/javascript" src="/js/SpreadJS12/jQuery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/jquery-ui-i18n.js"></script>
<script type="text/javascript" src="/js/jquery/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>				
<script type="text/javascript" src="/js/jquery/jquery.simplemodal.1.4.2.js"></script>
<script type="text/javascript" src="/js/jquery/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.json.js"></script>

<script type="text/javascript" src="/js/prototype-1.7.1.js"></script>
<script type="text/javascript" src="/js/fileControl.js"></script>
<script type="text/javascript" src="/js/uln_jqgrid.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.accordion.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/highlight.pack.js"></script>

<script type="text/javascript" src="/js/layout.js"></script>

<script type="text/javascript" src="/js/bPopup.js"></script>
<script type="text/javascript" src="/js/sha512.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js"></script>

<script src="/customer/assets/Chart.min.js"></script>
<script src="/customer/assets/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="/customer/assets/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

 -->
<!-- 임시영역 end  --> 


<script type="text/javascript">

/* 임시영역 start */
<!--
var websocket;
var SPDCOL_SELECT			= 0;
var SPDCOL_IF_NM			= 1;
var SPDCOL_CUST_ZONE_CD		= 2;
var SPDCOL_TOTAL_COUNT		= 3;
var SPDCOL_COMPLETE_COUNT	= 4;
var SPDCOL_RATIO			= 5;
var SPDCOL_PROCESS_TIMES		= 6;
var SPDCOL_TIME_COST				= 7;
var SPDCOL_END				= 8;

var spdSheet;
var spdList;
-->
/* 임시영역 end */


jQuery(document).ready(function(){
	jQuery('#fullpath_screen').html("$!request.getParameter('_fullPath')");

	/* Tabs */
	jQuery("#tab1").tabs({activate:function(event, ui){resizeGrid();}});
	
	/* button */
	jQuery("input:button").button();
	
	/* 검색조건 enter검색 */
	Event.observe('srchBox', 'keydown', cfn_search, false);
	
	/* html force event window resizing */
    gfn_forceEventResize();
	
    
    
	
	fn_getStatusPop();
    setInterval(function(){
    	var toDay = new Date();
    	jQuery("#aTagLabel").text("새창 팝업 실행 중  " + toDay.toLocaleString());
    },1000);
       
       
    
    /* 임시영역 start */
	/*
	spdSheet = new GC.Spread.Sheets.Workbook(document.getElementById('spdList'), { sheetCount: 1 });
	ps_setSpreadSheet_init(spdSheet, false);
	spdList = spdSheet.getActiveSheet(0);
	
	spdSheet.options.showHorizontalScrollbar = false;
	spdSheet.options.showVerticalScrollbar = false;
	
	ps_setSpreadList_init(spdList, 1, SPDCOL_END, 0, SPDCOL_SELECT);
	
	ps_setSpreadCol_CHECKBOX_Property(spdList, SPDCOL_SELECT		,'CENTER'	,'LEFT'	,8	,false	,true	,""); //BKC_FRC
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_IF_NM		,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_CUST_ZONE_CD			,'CENTER'	,'CENTER'	,8	,true	,true	,"");
	ps_setSpreadCol_NUMBER_Property(spdList	,SPDCOL_TOTAL_COUNT			,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_NUMBER_Property(spdList	,SPDCOL_COMPLETE_COUNT			,'CENTER'	,'LEFT'	,8	,true	,true	,"");
	ps_setSpreadCol_NUMBER_Property(spdList	,SPDCOL_RATIO			,'CENTER'	,'CENTER'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_PROCESS_TIMES			,'CENTER'	,'RIGHT'	,8	,true	,true	,"");
	ps_setSpreadCol_TEXT_Property(spdList	,SPDCOL_TIME_COST			,'CENTER'	,'RIGHT'	,8	,true	,true	,"");
	
	
	ps_setSpreadStyle();
	

    websocketConnect();
    
    jQuery(window).resize(function(){
    	var windowWidth = (window.outerWidth - 120) / 7;
    	if(windowWidth < 120){
    		windowWidth = 120;
    	} 
    	spdList.setColumnWidth(SPDCOL_IF_NM, windowWidth, GC.Spread.Sheets.SheetArea.viewport);
    	spdList.setColumnWidth(SPDCOL_CUST_ZONE_CD, windowWidth, GC.Spread.Sheets.SheetArea.viewport);
    	spdList.setColumnWidth(SPDCOL_TOTAL_COUNT, windowWidth, GC.Spread.Sheets.SheetArea.viewport);
    	spdList.setColumnWidth(SPDCOL_COMPLETE_COUNT, windowWidth, GC.Spread.Sheets.SheetArea.viewport);
    	spdList.setColumnWidth(SPDCOL_RATIO, windowWidth, GC.Spread.Sheets.SheetArea.viewport);
    	spdList.setColumnWidth(SPDCOL_PROCESS_TIMES, windowWidth, GC.Spread.Sheets.SheetArea.viewport);
    	spdList.setColumnWidth(SPDCOL_TIME_COST, windowWidth, GC.Spread.Sheets.SheetArea.viewport);
    	spdList.resumePaint();
    });
    */
    /* 임시영역 end */
    
    
});

function fn_getStatusPop(){
	window.open("https://logisall.hatiolab.com/headless/5c910089-23cc-4135-beca-98646e5b0672?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY4NDk1ODY5LThjN2EtNDY5Mi04YzA2LTZlNTk4NWIyMmM4MyIsInVzZXJUeXBlIjoiYXBwbGlhbmNlIiwiYXBwbGlhbmNlIjp7ImlkIjoiM2MwZWJhMGYtMTFkMS00OTkxLWFjNTYtYzNmZjc5ODdhZDM1In0sInN0YXR1cyI6ImFjdGl2YXRlZCIsImRvbWFpbiI6eyJzdWJkb21haW4iOiJzeXN0ZW0ifSwiaWF0IjoxNjEwOTM0MzgyLCJleHAiOjE2NDI0OTE5ODIsImlzcyI6ImhhdGlvbGFiLmNvbSIsInN1YiI6ImFjY2Vzcy10b2tlbiJ9.ww6TLubcTfSPgBGsmjxhaoH-ARaMSrLZXqvbcDbBGqc"
			, "ediyaBoard"
			, "location=no, width=1200, height=660");
	//window.open("https://board.opa-x.com/headless/5c910089-23cc-4135-beca-98646e5b0672?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImY4NDk1ODY5LThjN2EtNDY5Mi04YzA2LTZlNTk4NWIyMmM4MyIsInVzZXJUeXBlIjoiYXBwbGlhbmNlIiwiYXBwbGlhbmNlIjp7ImlkIjoiM2MwZWJhMGYtMTFkMS00OTkxLWFjNTYtYzNmZjc5ODdhZDM1In0sInN0YXR1cyI6ImFjdGl2YXRlZCIsImRvbWFpbiI6eyJzdWJkb21haW4iOiJzeXN0ZW0ifSwiaWF0IjoxNjEwOTM0MzgyLCJleHAiOjE2NDI0OTE5ODIsImlzcyI6ImhhdGlvbGFiLmNvbSIsInN1YiI6ImFjY2Vzcy10b2tlbiJ9.ww6TLubcTfSPgBGsmjxhaoH-ARaMSrLZXqvbcDbBGqc"
	//		, "ediyaBoard"
	//		, "location=no, width=1200, height=660");
}



//EVENT : checkBox all selection
function ps_setSpreadEvents_CellClick (args){
if(args.sheetArea === GC.Spread.Sheets.SheetArea.colHeader && args.col === 0) {ps_setSelectALL(0, args);return false;};
}

//EVENT : cell data change
function ps_setSpreadEvents_CellChanged (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell button click
function ps_setSpreadEvents_ButtonClicked(args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell lostfocus
function ps_setSpreadEvents_LostFocus (args){
	if(args.col == SPDCOL_SELECT) {return;};
}

//EVENT : cell duble click
function ps_setSpreadEvents_CellDoubleClick (args){
	//alert("더블클릭");
}

function ps_setSpreadStyle(){
	/* colName */
	var windowWidth = (window.outerWidth - 120)/ 7;
	if(windowWidth < 120){
		windowWidth = 120;
	} 
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_SELECT			,'선택'				,35		,false);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_IF_NM		,'설비'		,windowWidth	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_CUST_ZONE_CD			,'작업차수'			,windowWidth	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_TOTAL_COUNT			,'총 할당 수'			,windowWidth	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_COMPLETE_COUNT			,'처리량'			,windowWidth	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_RATIO				,'처리률'			,windowWidth	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_PROCESS_TIMES			,'처리속도'			,windowWidth	,true);
	ps_setSpreadTitle_Named(spdList	,0	,SPDCOL_TIME_COST			,'작업시간'			,windowWidth	,true);
}

function setRST(ds){
	spdList.deleteRows(0, spdList.getRowCount());
  spdList.suspendPaint();
  
  //sql Column 갯수와 bind spdList.bindColumn 컬럼 갯수 동일 ('' AS SPDCOL_SELECT blank 처리)
  if(ds.length != 0){
  	spdList.setDataSource(ds);
  	spdList.bindColumn(SPDCOL_SELECT			,false);
  	spdList.bindColumn(SPDCOL_IF_NM		,"IF_NM");
  	spdList.bindColumn(SPDCOL_CUST_ZONE_CD			,"CUST_ZONE_CD");
  	spdList.bindColumn(SPDCOL_TOTAL_COUNT			,"TOTAL_COUNT");
  	spdList.bindColumn(SPDCOL_COMPLETE_COUNT			,"COMPLETE_COUNT");
  	spdList.bindColumn(SPDCOL_RATIO				,"RATIO");
  	spdList.bindColumn(SPDCOL_PROCESS_TIMES			,"PROCESS_TIMES");
  	spdList.bindColumn(SPDCOL_TIME_COST			,"TIME_COST");
  	
  }
  
  ps_setSpreadStyle();
  spdList.resumePaint();
	
}

function websocketConnect(){
	
	websocket = new SockJS("/monitor/ediya.ws");
  //websocket = new WebSocket("ws://localhost:8098/monitor");
	 

  websocket.onopen = function(evt) {
  	//console.log(evt);
 		websocket.send(evt.value);
  };
	
  
//  "#f79546", "#9bba57", "#4f81bb", "#5f497a", "#a94069", "#ff5f34", "#41774e", "#003663", "#49acc5", "#c0504e"
  
  websocket.onmessage = function(evt) {
		var evtData = JSON.parse(evt.data);
		setRST(evtData);	
		var totalCountData = {total01: 0, remain01: 0, total02: 0, remain02: 0};
		
		for(var ev = 0; ev < evtData.length; ev++){
			var data = {
					datasets: [
						{
							data: [evtData[ev].COMPLETE_COUNT, (evtData[ev].TOTAL_COUNT - evtData[ev].COMPLETE_COUNT)],
							backgroundColor: ["#f79546", "#9bba57"],
							label: evtData[ev].IF_NM,
							borderWidth: 0.2
						}
						
					],
					
					
					labels: [
						'완료',
						'작업중'
					]
				};
			var options = {
				responsive: true, 
				legend: {
					labels: {
						fontColor: 'black',
						fontSize : 17
					}
				},
				maintainAspectRatio : false, 
				//animation: true
				events: false,
				animation: {
				    duration: 0,
				    easing: "easeOutQuart",
				    onComplete: function () {
				      var ctx = this.chart.ctx;
				      //ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
				      ctx.textAlign = 'center';
				      ctx.textBaseline = 'bottom';
	
				      this.data.datasets.forEach(function (dataset) {
	
				      for (var i = 0; i < dataset.data.length; i++) {
				          var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
				              total = dataset._meta[Object.keys(dataset._meta)[0]].total,
				              mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius)/2,
				              start_angle = model.startAngle,
				              end_angle = model.endAngle,
				              mid_angle = start_angle + (end_angle - start_angle)/2;
	
				          var x = mid_radius * Math.cos(mid_angle);
				          var y = mid_radius * Math.sin(mid_angle);
	
				          ctx.fillStyle = '#fff';
				          if (i == 3){ // Darker text color for lighter background
				            ctx.fillStyle = '#444';
				          }
				          var percent = String(Math.round(dataset.data[i]/total*100)) + "%";      
				          //Don't Display If Legend is hide or value is 0
				          	
				          	if(dataset.data[i] !== 0){
				          		ctx.fillText(SetComma(dataset.data[i]), model.x + x, model.y + y);
					            // Display percent in another line, line break doesn't work for fillText
					            ctx.fillText(percent, model.x + x, model.y + y + 25);
				          	}
				            
				      }
				   });               
				},
			   },
			};
			

				
			var ctx = jQuery('#' + evtData[ev].IF_NM + evtData[ev].CUST_ZONE_CD);
	    	new Chart(ctx, {
  			type: 'pie',
  		    data: data,
  		    options: options
 			});
	    	
	    	totalCountData['total' + evtData[ev].CUST_ZONE_CD] += parseInt(evtData[ev].TOTAL_COUNT);
	    	totalCountData['remain' + evtData[ev].CUST_ZONE_CD] += parseInt(evtData[ev].TOTAL_COUNT - evtData[ev].COMPLETE_COUNT);
	    	
		} 
		
		jQuery('#firstTotal').html("<h2 style='font-size:5em'>" + SetComma(totalCountData['total01']) + "</h2>");
		jQuery('#firstRemain').html("<h2 style='font-size:5em'>" + SetComma(totalCountData['remain01']) + "</h2>");
		jQuery('#secondTotal').html("<h2 style='font-size:5em'>" + SetComma(totalCountData['total02']) + "</h2>");
		jQuery('#secondRemain').html("<h2 style='font-size:5em'>" + SetComma(totalCountData['remain02']) + "</h2>");
		
		var totalOrder = totalCountData['total01'] + totalCountData['total02'];
		var totalRemain = totalCountData['remain01'] + totalCountData['remain02'];
		var totalRatio = (totalOrder - totalRemain) / totalOrder *1000;
		
		jQuery('#totalOrder').html("<h2 style='font-size:5em'>" + SetComma(totalOrder) + "</h2>");
		jQuery('#totalRemain').html("<h2 style='font-size:5em'>" + SetComma(totalRemain) + "</h2>");
		jQuery('#totalRatio').html("<h2 style='font-size:5em'>" + Math.round(totalRatio, 2) / 10 +  "% </h2>");
  	
     //console.log(evt);
  };

  websocket.onerror = function(evt) {

  	alert.log(evt.value);

  };
    
	//websocket.send('test');
}

function SetComma(str){
	var retValue = "";
	//str
	str = String(str).replace(/,/g,"");
	
	for(i = 1; i <= str.length; i++){
		if(i > 1 && (i%3) == 1){
			retValue = str.charAt(str.length - i) + "," + retValue;
		}else{
			retValue = str.charAt(str.length - i) + retValue;
		}
	}
	return retValue;
}



</script>

<div id = "tab1">
    <div class="tabHistoryWrap">
		<ul>
			<li><a href = "#tabs-1">$!lang.getText("이디야 설비 현황")</a></li>
		</ul>
		<h2 class="first" id="fullpath_screen"></h2>
	</div>
    <div id = "tabs-1">
        
        	#parse("winus/wmsif/WMSIF203E1.vm")
        <!--  
       <div id="layoutSidenav_content">
           <main>
               <div class="container-fluid">
               <br/>
                <h1 class="mt-4" style="padding-left:44px; font-size:40px; font-weight:500;" id="BOARD_TITLE"></h1>
                <div class="row">
                	<div class="monitor-total-3">
                           <div class="card mb-3">
                               <div class="card-body">주문총량</div>
                               <div class="monitor-total-footer d-flex align-items-center monitor-text-center">
                               		<div id="totalOrder" class=""></div>
                               </div>
                           </div>
                    </div>
                	<div class="monitor-total-3">
                           <div class="card mb-3">
                               <div class="card-body">잔여수량</div>
                               <div class="monitor-total-footer d-flex align-items-center monitor-text-center">
                               		<div id="totalRemain" class=""></div>
                               </div>
                           </div>
                    </div>
                	<div class="monitor-total-3">
                           <div class="card mb-3">
                               <div class="card-body">진척률</div>
                               <div class="monitor-total-footer d-flex align-items-center monitor-text-center">
                               		<div id="totalRatio" class=""></div>
                               </div>
                           </div>
                    </div>
                </div>
                <div class="row">
                	<div class="monitor-total">
                           <div class="card mb-4">
                               <div class="card-body">01차수 총 출고물량</div>
                               <div class="monitor-total-footer d-flex align-items-center monitor-text-center">
                               		<div id="firstTotal" class=""></div>
                               </div>
                           </div>
                    </div>
                	<div class="monitor-total">
                           <div class="card mb-4">
                               <div class="card-body">01차수 잔여총량</div>
                               <div class="monitor-total-footer d-flex align-items-center monitor-text-center">
                               		<div id="firstRemain" class=""></div>
                               </div>
                           </div>
                    </div>
                	<div class="monitor-total">
                           <div class="card mb-4">
                               <div class="card-body">02차수 총 출고물량</div>
                               <div class="monitor-total-footer d-flex align-items-center monitor-text-center">
                               		<div id="secondTotal" class=""></div>
                               </div>
                           </div>
                    </div>
                	<div class="monitor-total">
                           <div class="card mb-4">
                               <div class="card-body">02차수 총 잔여총량</div>
                               <div class="monitor-total-footer d-flex align-items-center monitor-text-center">
                               		<div id="secondRemain" class=""></div>
                               </div>
                           </div>
                    </div>
                </div>
                
                <div class="monitor-table">
                	<div id="divPanel_SpdList" style="padding-top:10px;">
						<div id="spdList" style="height:200px;"></div>
						<div id="pjmap1"></div>
					</div>
                </div>
                
                   <div class="row">
                   	   <div class="monitor">
                           <div class="card mb-4">
                               <div class="card-body">DAS - 01차</div>
                               <div class="card-footer d-flex align-items-center justify-content-between">
                                <canvas id="DAS01"></canvas>
                               </div>
                           </div>
                       </div>
                       <div class="monitor">
                           <div class="card mb-4">
                               <div class="card-body">DAS - 02차</div>
                               <div class="card-footer d-flex align-items-center justify-content-between">
                                <canvas id="DAS02"></canvas>
                               </div>
                           </div>
                       </div>
                       <div class="monitor">
                           <div class="card mb-4">
                               <div class="card-body">AUTOLABELER - 01차</div>
                               <div class="card-footer d-flex align-items-center justify-content-between" width="100%">
                                <canvas id="AUTOLABELER01"></canvas>
                               </div>
                           </div>
                       </div>
                       <div class="monitor">
                           <div class="card mb-4">
                               <div class="card-body">AUTOLABELER - 02차</div>
                               <div class="card-footer d-flex align-items-center justify-content-between">
                                <canvas id="AUTOLABELER02"></canvas>
                               </div>
                           </div>
                       </div>
                       <div class="monitor">
                           <div class="card mb-4">
                               <div class="card-body">DPS - 01차</div>
                               <div class="card-footer d-flex align-items-center justify-content-between">
                                <canvas id="DPS01"></canvas>
                               </div>
                           </div>
                       </div>
                       <div class="monitor">
                           <div class="card mb-4">
                               <div class="card-body">DPS - 02차</div>
                               <div class="card-footer d-flex align-items-center justify-content-between">
                                <canvas id="DPS02"></canvas>
                               </div>
                           </div>
                       </div>
                       
                   </div>
               </div>
               
           </main>
    </div>
     -->
    <!-- 
    <footer class="py-4 bg-light mt-auto">
	    <div class="container-fluid">
	        <div class="d-flex align-items-center justify-content-between small">
	            <div class="text-muted">Copyright &copy;2006-2016 All rights reserved.</div>
	            <div>
	                <a href="#">LogisALL</a>
	            </div>
	        </div>
	        
	    </div>
	</footer>
     -->    
        
    </div>
</div>
#parse("winus/common/footer.vm")