<div class="pageBtnGroup">
	<div class="patternWrap">
	    <div class = "btnArea">
	    	<div class="btnAreaRight" id="btnArea_Top">
				<input type="button" value="$!lang.getText('엑셀')" class="EXC_AUTH btnExcel"  name="btn_write" onclick="fn_excelDown('E3');" role="button" aria-disabled="false"/>
	    	</div>
	    </div>	
    </div>
</div>

<div class="patternWrap">
	<form name="frm_listE3">
		<table class="search" id="srchBox">
            <colgroup>
				<col width = "100px"/>
				<col width = "50%"/>
				<col width = "100px"/>
				<col width = "40%"/>
				<col width = "80px"/>
				<col width = "50%"/>
				
				<col width = "40px"/>
				<col width = "50px"/>
            </colgroup>
            <tbody>
                <tr>
                	<th></th>
                	<td></td>
                	<th></th>
                	<td></td>
					<th><img src="../../../img/exam//ico_004.gif" class="imgclass"> $!lang.getText('처리일자')</th>
					<td>
						<input type="month" class = "text" style="width:50%" name="vrWorkDtFromE3" id="vrWorkDtFromE3" 	maxlength="10" onkeydown="cfn_setDateFld(vrWorkDtFromE3)" onChange="cfn_onChangeDateFld(vrWorkDtFromE3)"/>
						~
						<input type="month" class = "text" style="width:50%" name="vrWorkDtToE3" id="vrWorkDtToE3" 	maxlength="10" onkeydown="cfn_setDateFld(vrWorkDtToE3)" onChange="cfn_onChangeDateFld(vrWorkDtToE3)"/>
					</td>
					
					<td></td>
					<th class="btnSearch" rowspan="1">
						<input type="button" name="btnSrch" value="$!lang.getText('')"   onClick="fn_searchE3();" title="검색" 	role="button" aria-disabled="false" />	
					</th>
				</tr>
            </tbody>
        </table>
		<div id = "formDataE3" style = "visibility : hidden ; width : 0 ; height : 0"></div>
	</form>
	
	<div id="divPanel_SpdListE3">
		<div id="spdListE3" style="height:740px; border:1px solid #b0b0b0;"></div>
	</div>
	
	<form name="frm_eaiE3" style = "visibility : hidden ; width : 0 ; height : 0">
	</form>
</div>
